USE [ZL]
GO
/****** Object:  StoredProcedure [ZL].[stp_EnvioDeClavesDeProductos]    Script Date: 12/20/2012 17:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Daniel Correa
-- Create date: 06/12/2012
-- Description:	Funcionalidad 40226181
-- Modificado:  28/12/2012
-- =============================================
ALTER PROCEDURE [ZL].[stp_EnvioDeClavesDeProductos]
	@Serie VARCHAR(7) = '', 
	@Version VARCHAR(10) = '',
	@TipoOperacion INT = 0
AS 
	
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@RazonSocial AS VARCHAR(100)
		,@Cliente AS VARCHAR(100)
		,@CodigoContacto AS VARCHAR(10)
		,@Contacto AS VARCHAR(50)
		,@mail AS VARCHAR(100)
		,@profile_name AS VARCHAR(100)
		,@recipients AS VARCHAR(100)
		,@blind_copy_recipients AS VARCHAR(50)
		,@body AS VARCHAR(5000) 
		,@Asunto AS VARCHAR(150) 
		,@body_format AS VARCHAR(50) 
		,@mailitem_id AS INT
		,@Estilo AS VARCHAR(MAX)
		,@Cuerpo AS VARCHAR(MAX)
		,@BodyTmp AS VARCHAR(MAX)
		,@Encabezado AS VARCHAR(500)
		,@Retorno AS VARCHAR(MAX)
		,@nromail AS INT
		,@CodigoRZ AS VARCHAR(50)
		,@CodigoCliente AS VARCHAR(50)
		,@Log AS VARCHAR(100);
	
	-------- /* estilos html */
	SET @Estilo = (SELECT TOP 1 Htmlcod FROM [ZL].[FACTURACION].[EstiloMail] WHERE id = 1)
	
	IF @TipoOperacion = 1
		BEGIN
			-- 16 ID PARA MAIL DE RESTAURACION DE CLAVE DE ADMINISTRADOR
 			SELECT TOP 1 @Asunto = [asuntoMail], @Log = [asuntoMail], @Cuerpo = [bodyMail] FROM [ZL].[FACTURACION].[FormatoMail] WHERE id = 16
		END
	IF @TipoOperacion = 2
		BEGIN
			-- 17 ID PARA MAIL DE CLAVE TEMPORAL DE ADMINISTRADOR
 			SELECT TOP 1 @Asunto = [asuntoMail], @Log = [asuntoMail], @Cuerpo = [bodyMail] FROM [ZL].[FACTURACION].[FormatoMail] WHERE id = 17
		END
	IF @TipoOperacion = 3
		BEGIN
			-- 15 ID PARA MAIL DE BLANQUEO DE CLAVE PARA LINCE
 			SELECT TOP 1 @Asunto = [asuntoMail], @Log = [asuntoMail], @Cuerpo = [bodyMail] FROM [ZL].[FACTURACION].[FormatoMail] WHERE id = 15
		END

	DECLARE Resultado CURSOR FOR
	SELECT
		ZL.Razonsocial.Descrip
		,ZL.Razonsocial.Cmpcod 
		,ZL.Clientes.Cmpcodigo
		,ZL.Clientes.Cmpnombre 
		,zl.contact.[Codigo]
		,LTRIM(RTRIM(zl.Titulos.[Descr])) + ' ' + LTRIM(RTRIM(zl.contact.[Pnom]))+ ' ' +LTRIM(RTRIM(zl.contact.[Snom]))+ ' ' +LTRIM(RTRIM(zl.contact.[Apell]))
		,ZL.MAILS.EMAIL
	from 
		ZL.Series 
		LEFT JOIN ZL.Razonsocial ON ZL.Razonsocial.Cdir = ZL.Series.Cdir 
		LEFT JOIN ZL.Clientes ON ZL.Clientes.Cmpcodigo = ZL.Razonsocial.Cliente 
		LEFT JOIN ZL.MAILS ON ZL.MAILS.CLIENTE = ZL.Clientes.Cmpcodigo
		INNER JOIN ZL.[ASESRZMAIL] ON ZL.[ASESRZMAIL].EMAIL = ZL.MAILS.EMAIL 
			AND ZL.ASESRZMAIL.ACCMAIL = 6 --Notificaciones de Seguridad
			AND ZL.ASESRZMAIL.ACCION  = 1 --Alta
		LEFT JOIN ZL.Contact ON ZL.Contact.Codigo = ZL.MAILS.CONTACTO 
			AND ZL.Contact.Desacti = 0 --Contacto activo
		LEFT JOIN ZL.Titulos ON ZL.Titulos.Ccod = ZL.Contact.Titulo
	WHERE
		ZL.Series.Nroserie = @Serie;
	OPEN Resultado;
	FETCH NEXT FROM Resultado INTO @RazonSocial, @CodigoRZ, @CodigoCliente, @Cliente, @CodigoContacto, @Contacto, @mail;
		
	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF @TipoOperacion = 1 --Producto Organic -- Restauración de clave de Administrador
			BEGIN
				SET @Retorno = '';
				SET @BodyTmp = replace( @cuerpo,  '[[Contacto]]',      LTRIM(RTRIM(@Contacto)) );
				SET @BodyTmp = replace( @BodyTmp, '[[Retorno]]',       @Retorno );
				SET @BodyTmp = replace( @BodyTmp, '[[Cliente]]',       @Cliente );
				SET @BodyTmp = replace( @BodyTmp, '[[CodigoCliente]]', @codigoCliente );
				SET @BodyTmp = replace( @BodyTmp, '[[Razonsocial]]',   @RazonSocial );
				SET @BodyTmp = replace( @BodyTmp, '[[CodigoRZ]]',      @CodigoRZ );
				SET @BodyTmp = replace( @BodyTmp, '[[Serie]]',         @Serie );
				SET @BodyTmp = @Estilo + @BodyTmp;

				EXEC msdb.dbo.sp_send_dbmail
					@profile_name = 'mesadeayuda'
					,@recipients = 'hcorrea@zoologic.com.ar' 
					--,@copy_recipients = 'flicciardi@zoologic.com.ar' 
					,@copy_recipients = '' 
					,@blind_copy_recipients = ''
					,@body = @BodyTmp  
					,@subject = @Asunto 
					,@body_format = 'HTML' 
					,@mailitem_id = @nromail OUTPUT ;
			END;
			
		IF @TipoOperacion = 2 --Producto Organic -- Desativación temporal de Seguridad
			BEGIN
				SET @Retorno = '';
				SET @BodyTmp = replace( @cuerpo,  '[[Contacto]]',      LTRIM(RTRIM(@Contacto)) );
				SET @BodyTmp = replace( @BodyTmp, '[[Retorno]]',       @Retorno );
				SET @BodyTmp = replace( @BodyTmp, '[[Cliente]]',       @Cliente );
				SET @BodyTmp = replace( @BodyTmp, '[[CodigoCliente]]', @codigoCliente );
				SET @BodyTmp = replace( @BodyTmp, '[[Razonsocial]]',   @RazonSocial );
				SET @BodyTmp = replace( @BodyTmp, '[[CodigoRZ]]',      @CodigoRZ );
				SET @BodyTmp = replace( @BodyTmp, '[[Serie]]',         @Serie );
				SET @BodyTmp = @Estilo + @BodyTmp;

				EXEC msdb.dbo.sp_send_dbmail
					@profile_name = 'mesadeayuda'
					,@recipients = 'hcorrea@zoologic.com.ar' 
					--,@copy_recipients = 'flicciardi@zoologic.com.ar' 
					,@copy_recipients = '' 
					,@blind_copy_recipients = ''
					,@body = @BodyTmp  
					,@subject = @Asunto 
					,@body_format = 'HTML' 
					,@mailitem_id = @nromail OUTPUT ;
			END;
			
		IF @TipoOperacion = 3 --Blanqueo de clave Lince
			BEGIN
				SET @Retorno = @Serie+CHAR(64+DAY(GETDATE()))+CHAR(64+MONTH(GETDATE()));
				SET @BodyTmp = replace( @cuerpo,  '[[Contacto]]',      LTRIM(RTRIM(@Contacto)) );
				SET @BodyTmp = replace( @BodyTmp, '[[Retorno]]',       @Retorno );
				SET @BodyTmp = replace( @BodyTmp, '[[Cliente]]',       @Cliente );
				SET @BodyTmp = replace( @BodyTmp, '[[CodigoCliente]]', @codigoCliente );
				SET @BodyTmp = replace( @BodyTmp, '[[Razonsocial]]',   @RazonSocial );
				SET @BodyTmp = replace( @BodyTmp, '[[CodigoRZ]]',      @CodigoRZ );
				SET @BodyTmp = replace( @BodyTmp, '[[Serie]]',         @Serie );
				SET @BodyTmp = @Estilo + @BodyTmp;

				EXEC msdb.dbo.sp_send_dbmail
					@profile_name = 'mesadeayuda'
					,@recipients = 'hcorrea@zoologic.com.ar' 
					--,@copy_recipients = 'flicciardi@zoologic.com.ar' 
					,@copy_recipients = '' 
					,@blind_copy_recipients = ''
					,@body = @BodyTmp  
					,@subject = @Asunto 
					,@body_format = 'HTML' 
					,@mailitem_id = @nromail OUTPUT ;
				
				--SELECT @nromail;
				
			END;

		SET @Log = REPLACE( @Asunto, 'Zoo Logic - Solicitud de ', '' );
		SET @Log = UPPER(@Log);
		-- LOG envioClavesProductos
		insert into [ZL].[dbo].[logEnvioClavesProductos] (
			[accion]
			,[serie]
			,[destino]
			,[fecha]
		) values (
			@Log
			, @Serie
			, @mail
			, GETDATE()
		);
		
		
		FETCH NEXT FROM Resultado INTO @RazonSocial, @CodigoRZ, @CodigoCliente, @Cliente, @CodigoContacto, @Contacto, @mail;
	END
	CLOSE Resultado;
	DEALLOCATE Resultado;
END

