IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_SIRCAR_RestoDeLasJurisdicciones_IIBB_Retenciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIRCAR_RestoDeLasJurisdicciones_IIBB_Retenciones];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIRCAR_RestoDeLasJurisdicciones_IIBB_Retenciones]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from ZooLogic.COMPRET as  Comprobantes
					join ZooLogic.CrimpDet as ImpuestosVentas on Comprobantes.Codigo = ImpuestosVentas.Codigo
					left join ZooLogic.Prov as Proveedores on Comprobantes.Prov = Proveedores.ClCod
				where Comprobantes.TipoImp = 'IIBB'
					and Comprobantes.Anulado = 0 
					and Comprobantes.Fecha between @FechaComprobanteDesde and @FechaComprobanteHasta	
					and	Funciones.Alltrim( ImpuestosVentas.Jurisdicci ) in ('903','905','906','907','909','910','911','912','913','914','915','916','917','918','919','920','921','922','923' )
END