IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[EstaVencido]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[EstaVencido];
GO;

CREATE FUNCTION [Funciones].[EstaVencido]
( 
	@FechaBase date,
	@FechaAVerificar Date,
	@DiasDeTolerancia int
	)
	returns int
AS
	begin
		declare @EstaVencido int

		set @EstaVencido = power( 0, abs( sign( Funciones.DiasDeVencimiento( @FechaBase,  @FechaAVerificar, @DiasDeTolerancia ) ) - 1 ) )

		return @EstaVencido
	end
