IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Auxiliar_EFlexware_CodigoCliente]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Auxiliar_EFlexware_CodigoCliente];
GO;

create function [Interfaces].[Auxiliar_EFlexware_CodigoCliente]
(
	@Conversion_ValorBD varchar(100),
	@Conversion_ValorCliente varchar(100),
	@Conversion_Accion varchar(40),
	@Conversion_ValorDefault varchar(100),
	@Comprobante_CodigoCliente varchar(10),
	@Comprobante_Letra char(1),
	@Comprobante_Total numeric(15,2),
	@Comprobante_Vuelto numeric(15,2),
	@Comprobante_CantidadValoresCC numeric(15,2),
	@Parametro_BlanquearClienteB bit,
	@CodigoClienteCompEnCero varchar(6)
)
returns varchar(6)
begin
	declare @codigoEflex varchar(6)
	
	if @Comprobante_CodigoCliente = ''
		set @codigoEflex = ''
	else
		if @Conversion_ValorBD is not null and @Conversion_ValorBD <> ''
			set @codigoEflex = @Conversion_ValorBD
		else
			if @Conversion_ValorCliente is not null and @Conversion_ValorCliente <> ''
				set @codigoEflex = @Conversion_ValorCliente
			else
				if @Conversion_Accion = 'ORIGINAL'
					set @codigoEflex = right(Funciones.alltrim(@Comprobante_CodigoCliente), 6)
				else
					set @codigoEflex = @Conversion_ValorDefault
	
	if @Comprobante_Total = 0 and @codigoEflex = ''
		set @codigoEflex = @CodigoClienteCompEnCero 
	else
		if @Parametro_BlanquearClienteB = 1 and @Comprobante_Letra = 'B'and (@Comprobante_CantidadValoresCC is null or @Comprobante_CantidadValoresCC = 0)
				and (@Comprobante_Total <> 0 or (@Comprobante_Vuelto is not null and @Comprobante_Vuelto <> 0))
			set @codigoEflex = ''

	return @codigoEflex
end