IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[ObtenerImputacionesParaVerticalesCentrosDeCostos]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[ObtenerImputacionVerticalDeCentrosDeCostos];
GO;
Create function [Contabilidad].[ObtenerImputacionVerticalDeCentrosDeCostos]
	( 
		@tblImpvercc as Contabilidad.udt_TableType_Impvercc ReadOnly,
		@TipoAsi int,
		@BaseDeDatosActual char(8) ,
		@SucursalActual char(10) ,
		@RazonSocialActual char(10),
		@tblBasesAgrup Contabilidad.udt_TableType_BasesAgrup ReadOnly,
		@tblDDCCosto as Contabilidad.udt_TableType_DDCCosto ReadOnly
	)
RETURNS TABLE
AS
RETURN
(

		select  case when subc1.CentroDeCostos <> '' then subc1.CentroDeCostos else d.codccos end CentroDeCostos,
				case when subc1.CentroDeCostos <> '' then 100.00 else d.porcenta end Porcentaje
			from (
					select top 1
							isnull( i.ccosto, '' ) CentroDeCostos,
							isnull( i.disccos, '' ) DistribucionPorCentroDeCostos,
							isnull( replicate ('0',(10 - len(i.mportancc))) + convert(varchar, i.mportancc) + convert(char(8),i.FMODIFW,112) + i.HMODIFW, '' ) as Importancia
						from @tblImpvercc i
						 where  ( @RazonSocialActual between i.razdesde and i.razhasta )
							and ( @SucursalActual between i.sucdesde and i.suchasta )
							and ( i.tipoasi = 0 or i.tipoasi = @TipoAsi )
							and ( i.base = ''
								or ( substring( i.base, 1, 1 ) <> '[' and i.base = @BaseDeDatosActual )
								or ( substring( i.base, 1, 1 ) = '['
									and replace(replace(i.base,'[',''),']','') in ( Select agrupamiento from @tblBasesAgrup where basededatos = @BaseDeDatosActual ) )
								)
						order by Importancia desc
				) subc1
			left join @tblDDCCosto d on subc1.DistribucionPorCentroDeCostos = d.codigo

)
