IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[GENERICO_ORDENDEPRODUCCION_ITEMORDENINSUMO_ITEMORDENINSUMO]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Listados].[GENERICO_ORDENDEPRODUCCION_ITEMORDENINSUMO_ITEMORDENINSUMO];
GO;

CREATE FUNCTION [Listados].[GENERICO_ORDENDEPRODUCCION_ITEMORDENINSUMO_ITEMORDENINSUMO]
( @BaseDeDatos varchar(8),
	@ITEMORDENINSUMO_PROCESO_DESDE varchar(15),
	@ITEMORDENINSUMO_PROCESO_HASTA varchar(15),
	@ITEMORDENINSUMO_COLORM_DESDE varchar(6),
	@ITEMORDENINSUMO_COLORM_HASTA varchar(6),
	@ITEMORDENINSUMO_COLORMDETALLE_DESDE varchar(50),
	@ITEMORDENINSUMO_COLORMDETALLE_HASTA varchar(50),
	@ITEMORDENINSUMO_TALLEM_DESDE varchar(5),
	@ITEMORDENINSUMO_TALLEM_HASTA varchar(5),
	@ITEMORDENINSUMO_TALLEMDETALLE_DESDE varchar(50),
	@ITEMORDENINSUMO_TALLEMDETALLE_HASTA varchar(50),
	@ITEMORDENINSUMO_INSUMO_DESDE varchar(25),
	@ITEMORDENINSUMO_INSUMO_HASTA varchar(25),
	@ITEMORDENINSUMO_INSUMODETALLE_DESDE varchar(100),
	@ITEMORDENINSUMO_INSUMODETALLE_HASTA varchar(100),
	@ITEMORDENINSUMO_COLOR_DESDE varchar(6),
	@ITEMORDENINSUMO_COLOR_HASTA varchar(6),
	@ITEMORDENINSUMO_COLORORDDET_DESDE varchar(50),
	@ITEMORDENINSUMO_COLORORDDET_HASTA varchar(50),
	@ITEMORDENINSUMO_TALLE_DESDE varchar(5),
	@ITEMORDENINSUMO_TALLE_HASTA varchar(5),
	@ITEMORDENINSUMO_TALLEDETALLE_DESDE varchar(50),
	@ITEMORDENINSUMO_TALLEDETALLE_HASTA varchar(50),
	@ITEMORDENINSUMO_UNIDADDEMEDIDA_DESDE varchar(3),
	@ITEMORDENINSUMO_UNIDADDEMEDIDA_HASTA varchar(3),
	@ITEMORDENINSUMO_CANTIDAD_DESDE numeric(14, 6),
	@ITEMORDENINSUMO_CANTIDAD_HASTA numeric(14, 6),
	@ORDENDEPRODUCCION_1_CODIGO_DESDE varchar(38),
	@ORDENDEPRODUCCION_1_CODIGO_HASTA varchar(38),
	@ORDENDEPRODUCCION_1_NUMERO_DESDE numeric(12, 0),
	@ORDENDEPRODUCCION_1_NUMERO_HASTA numeric(12, 0),
	@ORDENDEPRODUCCION_1_DESCRIPCION_DESDE varchar(100),
	@ORDENDEPRODUCCION_1_DESCRIPCION_HASTA varchar(100),
	@ORDENDEPRODUCCION_1_MODELO_DESDE varchar(15),
	@ORDENDEPRODUCCION_1_MODELO_HASTA varchar(15),
	@ORDENDEPRODUCCION_1_FECHA_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHA_HASTA datetime,
	@ORDENDEPRODUCCION_1_CURVADEPRODUCCION_DESDE varchar(15),
	@ORDENDEPRODUCCION_1_CURVADEPRODUCCION_HASTA varchar(15),
	@ORDENDEPRODUCCION_1_CANTIDAD_DESDE numeric(5, 0),
	@ORDENDEPRODUCCION_1_CANTIDAD_HASTA numeric(5, 0),
	@ORDENDEPRODUCCION_1_PRODUCTOFINAL_DESDE varchar(15),
	@ORDENDEPRODUCCION_1_PRODUCTOFINAL_HASTA varchar(15),
	@MODELODEPRODUCCION_38_MODELO_DESCRIPCION_DESDE varchar(100),
	@MODELODEPRODUCCION_38_MODELO_DESCRIPCION_HASTA varchar(100),
	@CURVADEPRODUCCION_40_CURVADEPRODUCCION_DESCRIPCION_DESDE varchar(100),
	@CURVADEPRODUCCION_40_CURVADEPRODUCCION_DESCRIPCION_HASTA varchar(100),
	@ARTICULO_42_PRODUCTOFINAL_DESCRIPCION_DESDE varchar(100),
	@ARTICULO_42_PRODUCTOFINAL_DESCRIPCION_HASTA varchar(100),
	@SEGMENTACION_9359_SEGMENTACION_DESCRIPCION_DESDE varchar(50),
	@SEGMENTACION_9359_SEGMENTACION_DESCRIPCION_HASTA varchar(50),
	@LINEASUCURSAL_9358_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEASUCURSAL_9358_LINEA_DESCRIPCION_HASTA varchar(50),
	@TIPOSUCURSAL_9357_TIPO_DESCRIPCION_DESDE varchar(50),
	@TIPOSUCURSAL_9357_TIPO_DESCRIPCION_HASTA varchar(50),
	@PROVEEDOR_43_PROVEEDOR_NOMBRE_DESDE varchar(60),
	@PROVEEDOR_43_PROVEEDOR_NOMBRE_HASTA varchar(60),
	@TEMPORADA_49_TEMPORADA_DESCRIPCION_DESDE varchar(50),
	@TEMPORADA_49_TEMPORADA_DESCRIPCION_HASTA varchar(50),
	@UNIDADDEMEDIDA_50_UNIDADDEMEDIDA_DESCRIPCION_DESDE varchar(50),
	@UNIDADDEMEDIDA_50_UNIDADDEMEDIDA_DESCRIPCION_HASTA varchar(50),
	@FAMILIA_51_FAMILIA_DESCRIPCION_DESDE varchar(50),
	@FAMILIA_51_FAMILIA_DESCRIPCION_HASTA varchar(50),
	@MATERIAL_52_MATERIAL_DESCRIPCION_DESDE varchar(40),
	@MATERIAL_52_MATERIAL_DESCRIPCION_HASTA varchar(40),
	@LINEA_53_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEA_53_LINEA_DESCRIPCION_HASTA varchar(50),
	@GRUPO_54_GRUPO_DESCRIPCION_DESDE varchar(50),
	@GRUPO_54_GRUPO_DESCRIPCION_HASTA varchar(50),
	@CATEGORIADEARTICULO_55_CATEGORIADEARTICULO_DESCRIPCION_DESDE varchar(50),
	@CATEGORIADEARTICULO_55_CATEGORIADEARTICULO_DESCRIPCION_HASTA varchar(50),
	@CLASIFICACIONARTICULO_56_CLASIFICACION_DESCRIPCION_DESDE varchar(50),
	@CLASIFICACIONARTICULO_56_CLASIFICACION_DESCRIPCION_HASTA varchar(50),
	@TIPODEARTICULO_58_TIPODEARTICULO_DESCRIPCION_DESDE varchar(50),
	@TIPODEARTICULO_58_TIPODEARTICULO_DESCRIPCION_HASTA varchar(50),
	@PALETADECOLORES_62_PALETADECOLORES_DESCRIPCION_DESDE varchar(40),
	@PALETADECOLORES_62_PALETADECOLORES_DESCRIPCION_HASTA varchar(40),
	@CURVADETALLES_63_CURVADETALLES_DESCRIPCION_DESDE varchar(40),
	@CURVADETALLES_63_CURVADETALLES_DESCRIPCION_HASTA varchar(40),
	@NOMENCLADORARBA_65_NOMENCLADOR_DESCRIPCION_DESDE varchar(150),
	@NOMENCLADORARBA_65_NOMENCLADOR_DESCRIPCION_HASTA varchar(150),
	@MARCA_82_MARCA_DESCRIPCION_DESDE varchar(100),
	@MARCA_82_MARCA_DESCRIPCION_HASTA varchar(100),
	@SUCURSAL_9354_SEGMENTACION_DESDE varchar(10),
	@SUCURSAL_9354_SEGMENTACION_HASTA varchar(10),
	@SUCURSAL_9354_LINEA_DESDE varchar(10),
	@SUCURSAL_9354_LINEA_HASTA varchar(10),
	@SUCURSAL_9354_TIPO_DESDE varchar(10),
	@SUCURSAL_9354_TIPO_HASTA varchar(10),
	@SUCURSAL_9354_DESCRIPCION_DESDE varchar(50),
	@SUCURSAL_9354_DESCRIPCION_HASTA varchar(50),
	@ARTICULO_42_PROVEEDOR_DESDE varchar(10),
	@ARTICULO_42_PROVEEDOR_HASTA varchar(10),
	@ARTICULO_42_CONDICIONIVAVENTAS numeric(1, 0),
	@ARTICULO_42_PORCENTAJEIVAVENTAS_DESDE numeric(5, 2),
	@ARTICULO_42_PORCENTAJEIVAVENTAS_HASTA numeric(5, 2),
	@ARTICULO_42_IMAGEN_DESDE varchar(180),
	@ARTICULO_42_IMAGEN_HASTA varchar(180),
	@ARTICULO_42_TEMPORADA_DESDE varchar(5),
	@ARTICULO_42_TEMPORADA_HASTA varchar(5),
	@ARTICULO_42_UNIDADDEMEDIDA_DESDE varchar(3),
	@ARTICULO_42_UNIDADDEMEDIDA_HASTA varchar(3),
	@ARTICULO_42_FAMILIA_DESDE varchar(10),
	@ARTICULO_42_FAMILIA_HASTA varchar(10),
	@ARTICULO_42_MATERIAL_DESDE varchar(10),
	@ARTICULO_42_MATERIAL_HASTA varchar(10),
	@ARTICULO_42_LINEA_DESDE varchar(10),
	@ARTICULO_42_LINEA_HASTA varchar(10),
	@ARTICULO_42_GRUPO_DESDE varchar(10),
	@ARTICULO_42_GRUPO_HASTA varchar(10),
	@ARTICULO_42_CATEGORIADEARTICULO_DESDE varchar(10),
	@ARTICULO_42_CATEGORIADEARTICULO_HASTA varchar(10),
	@ARTICULO_42_CLASIFICACION_DESDE varchar(10),
	@ARTICULO_42_CLASIFICACION_HASTA varchar(10),
	@ARTICULO_42_ANO_DESDE numeric(4, 0),
	@ARTICULO_42_ANO_HASTA numeric(4, 0),
	@ARTICULO_42_TIPODEARTICULO_DESDE varchar(10),
	@ARTICULO_42_TIPODEARTICULO_HASTA varchar(10),
	@ARTICULO_42_CONDICIONIVACOMPRAS numeric(1, 0),
	@ARTICULO_42_PORCENTAJEIVACOMPRAS_DESDE numeric(5, 2),
	@ARTICULO_42_PORCENTAJEIVACOMPRAS_HASTA numeric(5, 2),
	@ARTICULO_42_COMPORTAMIENTO numeric(1, 0),
	@ARTICULO_42_PALETADECOLORES_DESDE varchar(10),
	@ARTICULO_42_PALETADECOLORES_HASTA varchar(10),
	@ARTICULO_42_CURVADETALLES_DESDE varchar(10),
	@ARTICULO_42_CURVADETALLES_HASTA varchar(10),
	@ARTICULO_42_NOCOMERCIALIZABLE_DESDE datetime,
	@ARTICULO_42_NOCOMERCIALIZABLE_HASTA datetime,
	@ARTICULO_42_NOMENCLADOR_DESDE varchar(6),
	@ARTICULO_42_NOMENCLADOR_HASTA varchar(6),
	@ARTICULO_42_NOPERMITEDEVOLUCIONES bit,
	@ARTICULO_42_IMPRIMEDESPACHO bit,
	@ARTICULO_42_PORCENTAJEIMPUESTOINTERNO_DESDE numeric(5, 2),
	@ARTICULO_42_PORCENTAJEIMPUESTOINTERNO_HASTA numeric(5, 2),
	@ARTICULO_42_RESTRINGIRDESCUENTOS bit,
	@ARTICULO_42_PESO_DESDE numeric(11, 3),
	@ARTICULO_42_PESO_HASTA numeric(11, 3),
	@ARTICULO_42_LARGO_DESDE numeric(11, 2),
	@ARTICULO_42_LARGO_HASTA numeric(11, 2),
	@ARTICULO_42_ANCHO_DESDE numeric(11, 2),
	@ARTICULO_42_ANCHO_HASTA numeric(11, 2),
	@ARTICULO_42_ALTO_DESDE numeric(11, 2),
	@ARTICULO_42_ALTO_HASTA numeric(11, 2),
	@ARTICULO_42_REQUIERECCOSTO_DESDE numeric(1, 0),
	@ARTICULO_42_REQUIERECCOSTO_HASTA numeric(1, 0),
	@ARTICULO_42_NOPUBLICARENECOMMERCE bit,
	@ARTICULO_42_IMPORTADO bit,
	@ARTICULO_42_DESCRIPCIONADICIONAL_DESDE varchar(254),
	@ARTICULO_42_DESCRIPCIONADICIONAL_HASTA varchar(254),
	@ARTICULO_42_SOLOPROMOYKIT bit,
	@ARTICULO_42_RESTRINGIRARTICULO_DESDE datetime,
	@ARTICULO_42_RESTRINGIRARTICULO_HASTA datetime,
	@ARTICULO_42_MARCA_DESDE varchar(30),
	@ARTICULO_42_MARCA_HASTA varchar(30),
	@ARTICULO_42_PERCEPCIONIVARG5329 numeric(1, 0),
	@SUCURSAL_9354_CODIGO_DESDE varchar(10),
	@SUCURSAL_9354_CODIGO_HASTA varchar(10),
	@ITEMORDENINSUMO_NROITEM_DESDE numeric(5, 0),
	@ITEMORDENINSUMO_NROITEM_HASTA numeric(5, 0),
	@ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_DESDE varchar(20),
	@ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_HASTA varchar(20),
	@ORDENDEPRODUCCION_1_FECHAALTAFW_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHAALTAFW_HASTA datetime,
	@ORDENDEPRODUCCION_1_FECHAEXPO_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHAEXPO_HASTA datetime,
	@ORDENDEPRODUCCION_1_FECHAIMPO_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHAIMPO_HASTA datetime,
	@ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_HASTA datetime,
	@ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_HASTA datetime,
	@ORDENDEPRODUCCION_1_HORAALTAFW_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_HORAALTAFW_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_HORAEXPO_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_HORAEXPO_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_HORAIMPO_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_HORAIMPO_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_SERIEALTAFW_DESDE varchar(7),
	@ORDENDEPRODUCCION_1_SERIEALTAFW_HASTA varchar(7),
	@ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_DESDE varchar(7),
	@ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_HASTA varchar(7),
	@ORDENDEPRODUCCION_1_USUARIOALTAFW_DESDE varchar(100),
	@ORDENDEPRODUCCION_1_USUARIOALTAFW_HASTA varchar(100),
	@ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_DESDE varchar(100),
	@ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_HASTA varchar(100),
	@ORDENDEPRODUCCION_1_VERSIONALTAFW_DESDE varchar(13),
	@ORDENDEPRODUCCION_1_VERSIONALTAFW_HASTA varchar(13),
	@ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_DESDE varchar(13),
	@ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_HASTA varchar(13),
	@Parametro1 varchar(max),
	@Parametro2 varchar(max),
	@Parametro3 varchar(max) )
RETURNS TABLE
AS
RETURN
(
select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_itemordeninsumo.codorden, 38, ' ' ) as varchar( 46 ) ) as ITEMORDENINSUMO__Grupo,
	@basededatos as ITEMORDENINSUMO__BD,
	c_ITEMORDENINSUMO.CODORDEN as ITEMORDENINSUMO_CodOrden,
	c_ITEMORDENINSUMO.PROCESO as ITEMORDENINSUMO_Proceso,
	c_ITEMORDENINSUMO.CCOLOR as ITEMORDENINSUMO_cColor,
	c_ITEMORDENINSUMO.CCOLDET as ITEMORDENINSUMO_cColDet,
	c_ITEMORDENINSUMO.CTALLE as ITEMORDENINSUMO_cTalle,
	c_ITEMORDENINSUMO.CTALLEDET as ITEMORDENINSUMO_cTalleDet,
	c_ITEMORDENINSUMO.INSUMO as ITEMORDENINSUMO_Insumo,
	c_ITEMORDENINSUMO.CINSDET as ITEMORDENINSUMO_cInsDet,
	c_ITEMORDENINSUMO.ICODCOLOR as ITEMORDENINSUMO_ICodColor,
	c_ITEMORDENINSUMO.ICOLTXT as ITEMORDENINSUMO_IColTxt,
	c_ITEMORDENINSUMO.ICODTALLE as ITEMORDENINSUMO_ICodTalle,
	c_ITEMORDENINSUMO.ITALLETXT as ITEMORDENINSUMO_ITalleTxt,
	c_ITEMORDENINSUMO.UNIMED as ITEMORDENINSUMO_UniMed,
	--c_ITEMORDENINSUMO.CANTNEC as ITEMORDENINSUMO_CantNec,
	c_ITEMORDENINSUMO.CANTNEC *c_ITEMORDENCURVA.canttotal as ITEMORDENINSUMO_CantNec,
	C_ORDENDEPRODUCCION.CODIGO as ORDENDEPRODUCCION_Codigo,
	C_ORDENDEPRODUCCION.NUMERO as ORDENDEPRODUCCION_Numero,
	C_ORDENDEPRODUCCION.DESCRIP as ORDENDEPRODUCCION_Descrip,
	C_ORDENDEPRODUCCION.MODELO as ORDENDEPRODUCCION_Modelo,
	case when c_ordendeproduccion.ffch = '01/01/1900 00:00:00' then null else c_ordendeproduccion.ffch end as ORDENDEPRODUCCION_FFCH,
	C_ORDENDEPRODUCCION.CURVAPROD as ORDENDEPRODUCCION_CurvaProd,
	C_ORDENDEPRODUCCION.NCANTIDAD as ORDENDEPRODUCCION_nCantidad,
	C_ORDENDEPRODUCCION.PRODUCTO as ORDENDEPRODUCCION_Producto,
	C_ARTICULO.ARIMAGEN as ARTICULO_ARIMAGEN,
	C_ORDENDEPRODUCCION.OBS as ORDENDEPRODUCCION_Obs,
	C_SUCURSAL.SEG as SUCURSAL_seg,
	C_SUCURSAL.LINEA as SUCURSAL_Linea,
	C_SUCURSAL.TIPO as SUCURSAL_Tipo,
	C_SUCURSAL.DESCRIP as SUCURSAL_descrip,
	C_ARTICULO.ARTFAB as ARTICULO_ARTFAB,
	C_ARTICULO.ARTCONIVA as ARTICULO_ARTCONIVA,
	C_ARTICULO.ARTPORIVA as ARTICULO_ARTPORIVA,
	C_ARTICULO.AOBS as ARTICULO_AObs,
	C_ARTICULO.ATEMPORADA as ARTICULO_ATEMPORADA,
	C_ARTICULO.UNIMED as ARTICULO_UniMed,
	C_ARTICULO.FAMILIA as ARTICULO_Familia,
	C_ARTICULO.MAT as ARTICULO_Mat,
	C_ARTICULO.LINEA as ARTICULO_Linea,
	C_ARTICULO.GRUPO as ARTICULO_Grupo,
	C_ARTICULO.CATEARTI as ARTICULO_CateArti,
	C_ARTICULO.CLASIFART as ARTICULO_ClasifArt,
	C_ARTICULO.ANO as ARTICULO_Ano,
	C_ARTICULO.TIPOARTI as ARTICULO_TipoArti,
	C_ARTICULO.ARTIVA as ARTICULO_ARTIVA,
	C_ARTICULO.ANX2 as ARTICULO_ANX2,
	C_ARTICULO.ASTOCK as ARTICULO_ASTOCK,
	C_ARTICULO.PALCOL as ARTICULO_PalCol,
	C_ARTICULO.CURTALL as ARTICULO_Curtall,
	case when c_articulo.nocom = '01/01/1900 00:00:00' then null else c_articulo.nocom end as ARTICULO_NOCOM,
	C_ARTICULO.ARTNARBA as ARTICULO_ARTNARBA,
	C_ARTICULO.ARTNODEVO as ARTICULO_ARTNODEVO,
	C_ARTICULO.ESIMPDES as ARTICULO_EsImpDes,
	C_ARTICULO.IMPINTERNO as ARTICULO_impinterno,
	C_ARTICULO.ARTSINDES as ARTICULO_ArtSinDes,
	C_ARTICULO.ARTPESO as ARTICULO_ARTPESO,
	C_ARTICULO.ARTLARGO as ARTICULO_ARTLARGO,
	C_ARTICULO.ARTANCHO as ARTICULO_ARTANCHO,
	C_ARTICULO.ARTALTO as ARTICULO_ARTALTO,
	C_ARTICULO.REQCCOSTO as ARTICULO_ReqCCosto,
	C_ARTICULO.PUBECOM as ARTICULO_PubEcom,
	C_ARTICULO.IMPORTADO as ARTICULO_Importado,
	C_ARTICULO.ARTDESADIC as ARTICULO_ARTDESADIC,
	C_ARTICULO.PROMOYKIT as ARTICULO_PromoYKit,
	C_ARTICULO.DESECOHTML as ARTICULO_DesEcoHTML,
	C_ARTICULO.DESECO as ARTICULO_DesEco,
	case when c_articulo.artrest = '01/01/1900 00:00:00' then null else c_articulo.artrest end as ARTICULO_ArtRest,
	C_ARTICULO.MARCA as ARTICULO_Marca,
	C_ARTICULO.ARTPERCEP as ARTICULO_ArtPercep,
	C_SUCURSAL.CODIGO as SUCURSAL_codigo,
	c_ITEMORDENINSUMO.NROITEM as ITEMORDENINSUMO_NROITEM,
	C_ORDENDEPRODUCCION.BDALTAFW as ORDENDEPRODUCCION_BDALTAFW,
	C_ORDENDEPRODUCCION.BDMODIFW as ORDENDEPRODUCCION_BDMODIFW,
	C_ORDENDEPRODUCCION.ESTTRANS as ORDENDEPRODUCCION_ESTTRANS,
	case when c_ordendeproduccion.faltafw = '01/01/1900 00:00:00' then null else c_ordendeproduccion.faltafw end as ORDENDEPRODUCCION_FALTAFW,
	case when c_ordendeproduccion.fecexpo = '01/01/1900 00:00:00' then null else c_ordendeproduccion.fecexpo end as ORDENDEPRODUCCION_FECEXPO,
	case when c_ordendeproduccion.fecimpo = '01/01/1900 00:00:00' then null else c_ordendeproduccion.fecimpo end as ORDENDEPRODUCCION_FECIMPO,
	case when c_ordendeproduccion.fmodifw = '01/01/1900 00:00:00' then null else c_ordendeproduccion.fmodifw end as ORDENDEPRODUCCION_FMODIFW,
	case when c_ordendeproduccion.fectrans = '01/01/1900 00:00:00' then null else c_ordendeproduccion.fectrans end as ORDENDEPRODUCCION_FECTRANS,
	C_ORDENDEPRODUCCION.HALTAFW as ORDENDEPRODUCCION_HALTAFW,
	C_ORDENDEPRODUCCION.HORAEXPO as ORDENDEPRODUCCION_HORAEXPO,
	C_ORDENDEPRODUCCION.HORAIMPO as ORDENDEPRODUCCION_HORAIMPO,
	C_ORDENDEPRODUCCION.HMODIFW as ORDENDEPRODUCCION_HMODIFW,
	C_ORDENDEPRODUCCION.SALTAFW as ORDENDEPRODUCCION_SALTAFW,
	C_ORDENDEPRODUCCION.SMODIFW as ORDENDEPRODUCCION_SMODIFW,
	C_ORDENDEPRODUCCION.UALTAFW as ORDENDEPRODUCCION_UALTAFW,
	C_ORDENDEPRODUCCION.UMODIFW as ORDENDEPRODUCCION_UMODIFW,
	C_ORDENDEPRODUCCION.VALTAFW as ORDENDEPRODUCCION_VALTAFW,
	C_ORDENDEPRODUCCION.VMODIFW as ORDENDEPRODUCCION_VMODIFW,
	C_ORDENDEPRODUCCION.ZADSFW as ORDENDEPRODUCCION_ZADSFW,
	cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) as ITEMORDENINSUMO__SUCURSAL,
	cast( case when row_number() over(partition by c_itemordeninsumo.insumo, c_itemordeninsumo.icodcolor, c_itemordeninsumo.icodtalle, @parametro1 order by c_itemordeninsumo.insumo, c_itemordeninsumo.icodcolor, c_itemordeninsumo.icodtalle, @parametro1) = 1 then funciones.obtenerstockdeinsumosporinventario(c_itemordeninsumo.insumo, c_itemordeninsumo.icodcolor, c_itemordeninsumo.icodtalle, @parametro1) else null end as numeric( 15, 2 ) ) as ITEMORDENINSUMO_StockVirtual,
	cast( c_ordenprocesos.invent as varchar( 15 ) ) as ITEMORDENINSUMO_InventarioEntradaVirtual,
	cast( c_descartados.descartado as numeric( 12, 2 ) ) as ITEMORDENINSUMO_CantidadDescartadaVirtual,
	cast( c_consumidos.consumido as numeric( 12, 2 ) ) as ITEMORDENINSUMO_CantidadConsumidaVirtual,
	cast( (isnull(c_ITEMORDENINSUMO.CANTNEC,0) * isnull(c_ITEMORDENCURVA.canttotal,0)) - isnull(c_consumidos.consumido,0) - isnull(c_descartados.descartado,0) as numeric( 12, 2 ) ) 
		as ITEMORDENINSUMO_CantidadPendienteVirtual,
	cast( C_ORDPPROC.ORDEN as numeric( 5, 0 ) ) as ITEMORDENINSUMO_OrdenDelProcesoVirtual,
    cast( c_ordenprocesos.invsal as varchar( 15 ) ) as ITEMORDENINSUMO_InventarioSalidaVirtual,
	cast( c_ordenprocesos.taller as varchar( 15 ) ) as ITEMORDENINSUMO_TallerVirtual,
	C_PROCESOPRODUCCION.DESCRIP as PROCESOPRODUCCION_Descrip,
	C_COLOR4.COLDES as COLOR4_COLDES,
	C_TALLE6.DESCRIP as TALLE6_Descrip,
	C_INSUMO.INSDES as INSUMO_INSDES,
	C_COLOR10.COLDES as COLOR10_COLDES,
	C_TALLE12.DESCRIP as TALLE12_Descrip,
	C_UNIDADDEMEDIDA14.DESCRIP as UNIDADDEMEDIDA14_Descrip,
	C_MODELODEPRODUCCION.DESCRIP as MODELODEPRODUCCION_Descrip,
	C_CURVADEPRODUCCION.DESCRIP as CURVADEPRODUCCION_Descrip,
	C_ARTICULO.ARTDES as ARTICULO_ARTDES,
	C_SEGMENTACION.SDES as SEGMENTACION_SDES,
	C_LINEASUCURSAL.LSDES as LINEASUCURSAL_LSDES,
	C_TIPOSUCURSAL.TDES as TIPOSUCURSAL_TDES,
	C_PROVEEDOR.CLNOM as PROVEEDOR_CLNOM,
	C_TEMPORADA.TDES as TEMPORADA_TDES,
	C_UNIDADDEMEDIDA50.DESCRIP as UNIDADDEMEDIDA50_Descrip,
	C_FAMILIA.DESCRIP as FAMILIA_Descrip,
	C_MATERIAL.MATDES as MATERIAL_MATDES,
	C_LINEA.DESCRIP as LINEA_Descrip,
	C_GRUPO.DESCRIP as GRUPO_Descrip,
	C_CATEGORIADEARTICULO.DESCRIP as CATEGORIADEARTICULO_Descrip,
	C_CLASIFICACIONARTICULO.DESCRIP as CLASIFICACIONARTICULO_DESCRIP,
	C_TIPODEARTICULO.DESCRIP as TIPODEARTICULO_Descrip,
	C_PALETADECOLORES.DESCRIP as PALETADECOLORES_Descrip,
	C_CURVADETALLES.DESCRIP as CURVADETALLES_Descrip,
	C_NOMENCLADORARBA.NMCDES as NOMENCLADORARBA_NMCDES,
	C_MARCA.DESCRIP as MARCA_Descrip,
	C_ARTICULO.ARTCOD as ARTICULO_ARTCOD,
	C_CATEGORIADEARTICULO.COD as CATEGORIADEARTICULO_Cod,
	C_CLASIFICACIONARTICULO.CODIGO as CLASIFICACIONARTICULO_CODIGO,
	C_COLOR4.COLCOD as COLOR4_COLCOD,
	C_COLOR10.COLCOD as COLOR10_COLCOD,
	C_CURVADEPRODUCCION.CODIGO as CURVADEPRODUCCION_Codigo,
	C_CURVADETALLES.CODIGO as CURVADETALLES_Codigo,
	C_FAMILIA.COD as FAMILIA_Cod,
	C_GRUPO.COD as GRUPO_Cod,
	C_INSUMO.INSCOD as INSUMO_INSCOD,
	C_LINEA.COD as LINEA_Cod,
	C_LINEASUCURSAL.LSCOD as LINEASUCURSAL_LSCOD,
	C_MARCA.CODIGO as MARCA_Codigo,
	C_MATERIAL.MATCOD as MATERIAL_MATCOD,
	C_MODELODEPRODUCCION.CODIGO as MODELODEPRODUCCION_Codigo,
	C_NOMENCLADORARBA.NMCCOD as NOMENCLADORARBA_NMCCOD,
	C_PALETADECOLORES.CODIGO as PALETADECOLORES_Codigo,
	C_PROCESOPRODUCCION.CODIGO as PROCESOPRODUCCION_Codigo,
	C_PROVEEDOR.CLCOD as PROVEEDOR_CLCOD,
	C_SEGMENTACION.SCOD as SEGMENTACION_SCOD,
	C_TALLE6.CODIGO as TALLE6_Codigo,
	C_TALLE12.CODIGO as TALLE12_Codigo,
	C_TEMPORADA.TCOD as TEMPORADA_TCOD,
	C_TIPODEARTICULO.COD as TIPODEARTICULO_Cod,
	C_TIPOSUCURSAL.TCOD as TIPOSUCURSAL_TCOD,
	C_UNIDADDEMEDIDA14.COD as UNIDADDEMEDIDA14_Cod,
	C_UNIDADDEMEDIDA50.COD as UNIDADDEMEDIDA50_Cod
 from ZooLogic.ORDPINS as c_ITEMORDENINSUMO
 left join ZooLogic.COL as C_COLOR4 on C_COLOR4.COLCOD = C_ITEMORDENINSUMO.CCOLOR and 0 = Funciones.empty( C_ITEMORDENINSUMO.CCOLOR )
 left join ZooLogic.COL as C_COLOR10 on C_COLOR10.COLCOD = C_ITEMORDENINSUMO.ICODCOLOR and 0 = Funciones.empty( C_ITEMORDENINSUMO.ICODCOLOR )
 left join ZooLogic.INS as C_INSUMO on C_INSUMO.INSCOD = C_ITEMORDENINSUMO.INSUMO and 0 = Funciones.empty( C_ITEMORDENINSUMO.INSUMO )
 left join ZooLogic.ORDENPROD as C_ORDENDEPRODUCCION on C_ORDENDEPRODUCCION.CODIGO = C_ITEMORDENINSUMO.CODORDEN and 0 = Funciones.empty( C_ITEMORDENINSUMO.CODORDEN )
 left join ZooLogic.PROCPRODUC as C_PROCESOPRODUCCION on C_PROCESOPRODUCCION.CODIGO = C_ITEMORDENINSUMO.PROCESO and 0 = Funciones.empty( C_ITEMORDENINSUMO.PROCESO )
---
left join Zoologic.ORDPCURV as c_ITEMORDENCURVA on c_ITEMORDENCURVA.CODORDEN = C_ITEMORDENINSUMO.CODORDEN and c_itemordencurva.codcolor = c_ITEMORDENINSUMO.ccolor and c_ITEMORDENCURVA.codtalle = c_ITEMORDENINSUMO.ctalle 
	and 0 = Funciones.empty( C_ITEMORDENINSUMO.codorden )
left join (select sum(cantidad) as consumido, gestionprod.ORDENDEPRO,  insumo, codcolor, codtalle, CCOLOR, CTALLE
	from zoologic.GESPINS  c_ITEMGESTIONINSUMO 
	LEFT JOIN zoologic.GESTIONPROD ON GESTIONPROD.CODIGO = c_ITEMGESTIONINSUMO.GESPRODINS
	group by gestionprod.ORDENDEPRO, insumo, codcolor, codtalle, CCOLOR, CTALLE) as c_consumidos 
	on c_consumidos.ordendepro =  C_ORDENDEPRODUCCION.codigo and c_consumidos.insumo = c_ITEMORDENINSUMO.INSUMO and c_consumidos.codcolor = c_ITEMORDENINSUMO.ICODCOLOR and c_consumidos.codtalle = c_ITEMORDENINSUMO.ICODTALLE AND c_consumidos.ccolor = c_ITEMORDENINSUMO.ccolor and c_consumidos.ctalle = c_ITEMORDENINSUMO.cTALLE
left join (select sum(cantidad) as descartado, gestionprod.ORDENDEPRO,  insumo, codcolor, codtalle, CCOLOR, CTALLE
	from zoologic.GESPIND  c_ITEMGESTIONdescarte
	LEFT JOIN zoologic.GESTIONPROD ON GESTIONPROD.CODIGO = c_ITEMGESTIONdescarte.GESPRODIND
	group by gestionprod.ORDENDEPRO, insumo, codcolor, codtalle, CCOLOR, CTALLE) as c_descartados 
	on c_descartados.ordendepro =  C_ORDENDEPRODUCCION.codigo and c_descartados.insumo = c_ITEMORDENINSUMO.INSUMO and c_descartados.codcolor = c_ITEMORDENINSUMO.ICODCOLOR and c_descartados.codtalle = c_ITEMORDENINSUMO.ICODTALLE AND c_descartados.ccolor = c_ITEMORDENINSUMO.ccolor and c_descartados.ctalle = c_ITEMORDENINSUMO.cTALLE
left join zoologic.ORDPPROC as C_ORDPPROC on C_ORDPPROC.codorden = c_ITEMORDENINSUMO.codorden and C_ORDPPROC.codigo = c_ITEMORDENINSUMO.proceso -- para nro.de orden del proceso
----
left join zoologic.ordpproc c_ordenprocesos on c_ordenprocesos.codorden = C_ORDENDEPRODUCCION.codigo and c_ordenprocesos.codigo = c_ITEMORDENINSUMO.proceso and 0 = Funciones.empty(c_ordenprocesos.codorden)

 left join ORGANIZACION.SUC as C_SUCURSAL on C_SUCURSAL.CODIGO = cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) and 0 = Funciones.empty( cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) )
 left join ZooLogic.TALLE as C_TALLE6 on C_TALLE6.CODIGO = C_ITEMORDENINSUMO.CTALLE and 0 = Funciones.empty( C_ITEMORDENINSUMO.CTALLE )
 left join ZooLogic.TALLE as C_TALLE12 on C_TALLE12.CODIGO = C_ITEMORDENINSUMO.ICODTALLE and 0 = Funciones.empty( C_ITEMORDENINSUMO.ICODTALLE )
 left join ORGANIZACION.TSUCUR as C_TIPOSUCURSAL on C_TIPOSUCURSAL.TCOD = C_SUCURSAL.TIPO and 0 = Funciones.empty( C_SUCURSAL.TIPO )
 left join ZooLogic.UNMED as C_UNIDADDEMEDIDA14 on C_UNIDADDEMEDIDA14.COD = C_ITEMORDENINSUMO.UNIMED and 0 = Funciones.empty( C_ITEMORDENINSUMO.UNIMED )
 left join ZooLogic.ART as C_ARTICULO on C_ARTICULO.ARTCOD = C_ORDENDEPRODUCCION.PRODUCTO and 0 = Funciones.empty( C_ORDENDEPRODUCCION.PRODUCTO )
 left join ZooLogic.CATEGART as C_CATEGORIADEARTICULO on C_CATEGORIADEARTICULO.COD = C_ARTICULO.CATEARTI and 0 = Funciones.empty( C_ARTICULO.CATEARTI )
 left join ZooLogic.CLASIFART as C_CLASIFICACIONARTICULO on C_CLASIFICACIONARTICULO.CODIGO = C_ARTICULO.CLASIFART and 0 = Funciones.empty( C_ARTICULO.CLASIFART )
 left join ZooLogic.CURVAPROD as C_CURVADEPRODUCCION on C_CURVADEPRODUCCION.CODIGO = C_ORDENDEPRODUCCION.CURVAPROD and 0 = Funciones.empty( C_ORDENDEPRODUCCION.CURVAPROD )
 left join ZooLogic.CTALLE as C_CURVADETALLES on C_CURVADETALLES.CODIGO = C_ARTICULO.CURTALL and 0 = Funciones.empty( C_ARTICULO.CURTALL )
 left join ZooLogic.FAMILIA as C_FAMILIA on C_FAMILIA.COD = C_ARTICULO.FAMILIA and 0 = Funciones.empty( C_ARTICULO.FAMILIA )
 left join ZooLogic.GRUPO as C_GRUPO on C_GRUPO.COD = C_ARTICULO.GRUPO and 0 = Funciones.empty( C_ARTICULO.GRUPO )
 left join ZooLogic.LINEA as C_LINEA on C_LINEA.COD = C_ARTICULO.LINEA and 0 = Funciones.empty( C_ARTICULO.LINEA )
 left join ORGANIZACION.LSUCUR as C_LINEASUCURSAL on C_LINEASUCURSAL.LSCOD = C_SUCURSAL.LINEA and 0 = Funciones.empty( C_SUCURSAL.LINEA )
 left join ZooLogic.MARCAS as C_MARCA on C_MARCA.CODIGO = C_ARTICULO.MARCA and 0 = Funciones.empty( C_ARTICULO.MARCA )
 left join ZooLogic.MAT as C_MATERIAL on C_MATERIAL.MATCOD = C_ARTICULO.MAT and 0 = Funciones.empty( C_ARTICULO.MAT )
 left join ZooLogic.MODELOPROD as C_MODELODEPRODUCCION on C_MODELODEPRODUCCION.CODIGO = C_ORDENDEPRODUCCION.MODELO and 0 = Funciones.empty( C_ORDENDEPRODUCCION.MODELO )
 left join ZooLogic.NMCARBA as C_NOMENCLADORARBA on C_NOMENCLADORARBA.NMCCOD = C_ARTICULO.ARTNARBA and 0 = Funciones.empty( C_ARTICULO.ARTNARBA )
 left join ZooLogic.PCOLOR as C_PALETADECOLORES on C_PALETADECOLORES.CODIGO = C_ARTICULO.PALCOL and 0 = Funciones.empty( C_ARTICULO.PALCOL )
 left join ZooLogic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = C_ARTICULO.ARTFAB and 0 = Funciones.empty( C_ARTICULO.ARTFAB )
 left join ORGANIZACION.SECOD as C_SEGMENTACION on C_SEGMENTACION.SCOD = C_SUCURSAL.SEG and 0 = Funciones.empty( C_SUCURSAL.SEG )
 left join ZooLogic.TEMPORADA as C_TEMPORADA on C_TEMPORADA.TCOD = C_ARTICULO.ATEMPORADA and 0 = Funciones.empty( C_ARTICULO.ATEMPORADA )
 left join ZooLogic.TIPOART as C_TIPODEARTICULO on C_TIPODEARTICULO.COD = C_ARTICULO.TIPOARTI and 0 = Funciones.empty( C_ARTICULO.TIPOARTI )
 left join ZooLogic.UNMED as C_UNIDADDEMEDIDA50 on C_UNIDADDEMEDIDA50.COD = C_ARTICULO.UNIMED and 0 = Funciones.empty( C_ARTICULO.UNIMED )
 where ( not 1 = funciones.empty( c_itemordeninsumo.codorden ) and ( not 1 = funciones.empty( c_ordendeproduccion.codigo ) ) ) and
     ((@Parametro1 = '' OR @Parametro1 = 'todos' OR c_ordenprocesos.invent = @Parametro1)) and
	 ((@Parametro2 = '' OR @Parametro2 = 'todos' OR c_ordenprocesos.invsal = @Parametro2)) and	
	(( @Parametro3 = '' OR @Parametro3 = 'todos' OR c_ordenprocesos.taller = @Parametro3 ) ) and
	( ( @ITEMORDENINSUMO_PROCESO_DESDE is null ) OR ( c_ITEMORDENINSUMO.Proceso >= @ITEMORDENINSUMO_PROCESO_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_PROCESO_HASTA is null ) OR ( c_ITEMORDENINSUMO.Proceso <= @ITEMORDENINSUMO_PROCESO_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_COLORM_DESDE is null ) OR ( c_ITEMORDENINSUMO.cColor >= @ITEMORDENINSUMO_COLORM_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_COLORM_HASTA is null ) OR ( c_ITEMORDENINSUMO.cColor <= @ITEMORDENINSUMO_COLORM_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_COLORMDETALLE_DESDE is null ) OR ( c_ITEMORDENINSUMO.cColDet >= @ITEMORDENINSUMO_COLORMDETALLE_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_COLORMDETALLE_HASTA is null ) OR ( c_ITEMORDENINSUMO.cColDet <= @ITEMORDENINSUMO_COLORMDETALLE_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_TALLEM_DESDE is null ) OR ( c_ITEMORDENINSUMO.cTalle >= @ITEMORDENINSUMO_TALLEM_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_TALLEM_HASTA is null ) OR ( c_ITEMORDENINSUMO.cTalle <= @ITEMORDENINSUMO_TALLEM_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_TALLEMDETALLE_DESDE is null ) OR ( c_ITEMORDENINSUMO.cTalleDet >= @ITEMORDENINSUMO_TALLEMDETALLE_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_TALLEMDETALLE_HASTA is null ) OR ( c_ITEMORDENINSUMO.cTalleDet <= @ITEMORDENINSUMO_TALLEMDETALLE_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_INSUMO_DESDE is null ) OR ( c_ITEMORDENINSUMO.Insumo >= @ITEMORDENINSUMO_INSUMO_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_INSUMO_HASTA is null ) OR ( c_ITEMORDENINSUMO.Insumo <= @ITEMORDENINSUMO_INSUMO_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_INSUMODETALLE_DESDE is null ) OR ( c_ITEMORDENINSUMO.cInsDet >= @ITEMORDENINSUMO_INSUMODETALLE_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_INSUMODETALLE_HASTA is null ) OR ( c_ITEMORDENINSUMO.cInsDet <= @ITEMORDENINSUMO_INSUMODETALLE_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_COLOR_DESDE is null ) OR ( c_ITEMORDENINSUMO.ICodColor >= @ITEMORDENINSUMO_COLOR_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_COLOR_HASTA is null ) OR ( c_ITEMORDENINSUMO.ICodColor <= @ITEMORDENINSUMO_COLOR_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_COLORORDDET_DESDE is null ) OR ( c_ITEMORDENINSUMO.IColTxt >= @ITEMORDENINSUMO_COLORORDDET_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_COLORORDDET_HASTA is null ) OR ( c_ITEMORDENINSUMO.IColTxt <= @ITEMORDENINSUMO_COLORORDDET_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_TALLE_DESDE is null ) OR ( c_ITEMORDENINSUMO.ICodTalle >= @ITEMORDENINSUMO_TALLE_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_TALLE_HASTA is null ) OR ( c_ITEMORDENINSUMO.ICodTalle <= @ITEMORDENINSUMO_TALLE_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_TALLEDETALLE_DESDE is null ) OR ( c_ITEMORDENINSUMO.ITalleTxt >= @ITEMORDENINSUMO_TALLEDETALLE_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_TALLEDETALLE_HASTA is null ) OR ( c_ITEMORDENINSUMO.ITalleTxt <= @ITEMORDENINSUMO_TALLEDETALLE_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_UNIDADDEMEDIDA_DESDE is null ) OR ( c_ITEMORDENINSUMO.UniMed >= @ITEMORDENINSUMO_UNIDADDEMEDIDA_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_UNIDADDEMEDIDA_HASTA is null ) OR ( c_ITEMORDENINSUMO.UniMed <= @ITEMORDENINSUMO_UNIDADDEMEDIDA_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_CANTIDAD_DESDE is null ) OR ( c_ITEMORDENINSUMO.CantNec >= @ITEMORDENINSUMO_CANTIDAD_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_CANTIDAD_HASTA is null ) OR ( c_ITEMORDENINSUMO.CantNec <= @ITEMORDENINSUMO_CANTIDAD_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_CODIGO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Codigo >= @ORDENDEPRODUCCION_1_CODIGO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_CODIGO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Codigo <= @ORDENDEPRODUCCION_1_CODIGO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_NUMERO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Numero >= @ORDENDEPRODUCCION_1_NUMERO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_NUMERO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Numero <= @ORDENDEPRODUCCION_1_NUMERO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_DESCRIPCION_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Descrip >= @ORDENDEPRODUCCION_1_DESCRIPCION_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_DESCRIPCION_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Descrip <= @ORDENDEPRODUCCION_1_DESCRIPCION_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_MODELO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Modelo >= @ORDENDEPRODUCCION_1_MODELO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_MODELO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Modelo <= @ORDENDEPRODUCCION_1_MODELO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHA_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FFCH >= @ORDENDEPRODUCCION_1_FECHA_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHA_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FFCH <= @ORDENDEPRODUCCION_1_FECHA_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_CURVADEPRODUCCION_DESDE is null ) OR ( C_ORDENDEPRODUCCION.CurvaProd >= @ORDENDEPRODUCCION_1_CURVADEPRODUCCION_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_CURVADEPRODUCCION_HASTA is null ) OR ( C_ORDENDEPRODUCCION.CurvaProd <= @ORDENDEPRODUCCION_1_CURVADEPRODUCCION_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_CANTIDAD_DESDE is null ) OR ( C_ORDENDEPRODUCCION.nCantidad >= @ORDENDEPRODUCCION_1_CANTIDAD_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_CANTIDAD_HASTA is null ) OR ( C_ORDENDEPRODUCCION.nCantidad <= @ORDENDEPRODUCCION_1_CANTIDAD_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_PRODUCTOFINAL_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Producto >= @ORDENDEPRODUCCION_1_PRODUCTOFINAL_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_PRODUCTOFINAL_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Producto <= @ORDENDEPRODUCCION_1_PRODUCTOFINAL_HASTA ) ) and 
	( ( @MODELODEPRODUCCION_38_MODELO_DESCRIPCION_DESDE is null ) OR ( C_MODELODEPRODUCCION.Descrip >= @MODELODEPRODUCCION_38_MODELO_DESCRIPCION_DESDE ) ) and 
	( ( @MODELODEPRODUCCION_38_MODELO_DESCRIPCION_HASTA is null ) OR ( C_MODELODEPRODUCCION.Descrip <= @MODELODEPRODUCCION_38_MODELO_DESCRIPCION_HASTA ) ) and 
	( ( @CURVADEPRODUCCION_40_CURVADEPRODUCCION_DESCRIPCION_DESDE is null ) OR ( C_CURVADEPRODUCCION.Descrip >= @CURVADEPRODUCCION_40_CURVADEPRODUCCION_DESCRIPCION_DESDE ) ) and 
	( ( @CURVADEPRODUCCION_40_CURVADEPRODUCCION_DESCRIPCION_HASTA is null ) OR ( C_CURVADEPRODUCCION.Descrip <= @CURVADEPRODUCCION_40_CURVADEPRODUCCION_DESCRIPCION_HASTA ) ) and 
	( ( @ARTICULO_42_PRODUCTOFINAL_DESCRIPCION_DESDE is null ) OR ( C_ARTICULO.ARTDES >= @ARTICULO_42_PRODUCTOFINAL_DESCRIPCION_DESDE ) ) and 
	( ( @ARTICULO_42_PRODUCTOFINAL_DESCRIPCION_HASTA is null ) OR ( C_ARTICULO.ARTDES <= @ARTICULO_42_PRODUCTOFINAL_DESCRIPCION_HASTA ) ) and 
	( ( @SEGMENTACION_9359_SEGMENTACION_DESCRIPCION_DESDE is null ) OR ( C_SEGMENTACION.SDES >= @SEGMENTACION_9359_SEGMENTACION_DESCRIPCION_DESDE ) ) and 
	( ( @SEGMENTACION_9359_SEGMENTACION_DESCRIPCION_HASTA is null ) OR ( C_SEGMENTACION.SDES <= @SEGMENTACION_9359_SEGMENTACION_DESCRIPCION_HASTA ) ) and 
	( ( @LINEASUCURSAL_9358_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEASUCURSAL.LSDES >= @LINEASUCURSAL_9358_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEASUCURSAL_9358_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEASUCURSAL.LSDES <= @LINEASUCURSAL_9358_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @TIPOSUCURSAL_9357_TIPO_DESCRIPCION_DESDE is null ) OR ( C_TIPOSUCURSAL.TDES >= @TIPOSUCURSAL_9357_TIPO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPOSUCURSAL_9357_TIPO_DESCRIPCION_HASTA is null ) OR ( C_TIPOSUCURSAL.TDES <= @TIPOSUCURSAL_9357_TIPO_DESCRIPCION_HASTA ) ) and 
	( ( @PROVEEDOR_43_PROVEEDOR_NOMBRE_DESDE is null ) OR ( C_PROVEEDOR.CLNOM >= @PROVEEDOR_43_PROVEEDOR_NOMBRE_DESDE ) ) and 
	( ( @PROVEEDOR_43_PROVEEDOR_NOMBRE_HASTA is null ) OR ( C_PROVEEDOR.CLNOM <= @PROVEEDOR_43_PROVEEDOR_NOMBRE_HASTA ) ) and 
	( ( @TEMPORADA_49_TEMPORADA_DESCRIPCION_DESDE is null ) OR ( C_TEMPORADA.TDES >= @TEMPORADA_49_TEMPORADA_DESCRIPCION_DESDE ) ) and 
	( ( @TEMPORADA_49_TEMPORADA_DESCRIPCION_HASTA is null ) OR ( C_TEMPORADA.TDES <= @TEMPORADA_49_TEMPORADA_DESCRIPCION_HASTA ) ) and 
	( ( @UNIDADDEMEDIDA_50_UNIDADDEMEDIDA_DESCRIPCION_DESDE is null ) OR ( C_UNIDADDEMEDIDA50.Descrip >= @UNIDADDEMEDIDA_50_UNIDADDEMEDIDA_DESCRIPCION_DESDE ) ) and 
	( ( @UNIDADDEMEDIDA_50_UNIDADDEMEDIDA_DESCRIPCION_HASTA is null ) OR ( C_UNIDADDEMEDIDA50.Descrip <= @UNIDADDEMEDIDA_50_UNIDADDEMEDIDA_DESCRIPCION_HASTA ) ) and 
	( ( @FAMILIA_51_FAMILIA_DESCRIPCION_DESDE is null ) OR ( C_FAMILIA.Descrip >= @FAMILIA_51_FAMILIA_DESCRIPCION_DESDE ) ) and 
	( ( @FAMILIA_51_FAMILIA_DESCRIPCION_HASTA is null ) OR ( C_FAMILIA.Descrip <= @FAMILIA_51_FAMILIA_DESCRIPCION_HASTA ) ) and 
	( ( @MATERIAL_52_MATERIAL_DESCRIPCION_DESDE is null ) OR ( C_MATERIAL.MATDES >= @MATERIAL_52_MATERIAL_DESCRIPCION_DESDE ) ) and 
	( ( @MATERIAL_52_MATERIAL_DESCRIPCION_HASTA is null ) OR ( C_MATERIAL.MATDES <= @MATERIAL_52_MATERIAL_DESCRIPCION_HASTA ) ) and 
	( ( @LINEA_53_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEA.Descrip >= @LINEA_53_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEA_53_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEA.Descrip <= @LINEA_53_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @GRUPO_54_GRUPO_DESCRIPCION_DESDE is null ) OR ( C_GRUPO.Descrip >= @GRUPO_54_GRUPO_DESCRIPCION_DESDE ) ) and 
	( ( @GRUPO_54_GRUPO_DESCRIPCION_HASTA is null ) OR ( C_GRUPO.Descrip <= @GRUPO_54_GRUPO_DESCRIPCION_HASTA ) ) and 
	( ( @CATEGORIADEARTICULO_55_CATEGORIADEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_CATEGORIADEARTICULO.Descrip >= @CATEGORIADEARTICULO_55_CATEGORIADEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @CATEGORIADEARTICULO_55_CATEGORIADEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_CATEGORIADEARTICULO.Descrip <= @CATEGORIADEARTICULO_55_CATEGORIADEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @CLASIFICACIONARTICULO_56_CLASIFICACION_DESCRIPCION_DESDE is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP >= @CLASIFICACIONARTICULO_56_CLASIFICACION_DESCRIPCION_DESDE ) ) and 
	( ( @CLASIFICACIONARTICULO_56_CLASIFICACION_DESCRIPCION_HASTA is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP <= @CLASIFICACIONARTICULO_56_CLASIFICACION_DESCRIPCION_HASTA ) ) and 
	( ( @TIPODEARTICULO_58_TIPODEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_TIPODEARTICULO.Descrip >= @TIPODEARTICULO_58_TIPODEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPODEARTICULO_58_TIPODEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_TIPODEARTICULO.Descrip <= @TIPODEARTICULO_58_TIPODEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @PALETADECOLORES_62_PALETADECOLORES_DESCRIPCION_DESDE is null ) OR ( C_PALETADECOLORES.Descrip >= @PALETADECOLORES_62_PALETADECOLORES_DESCRIPCION_DESDE ) ) and 
	( ( @PALETADECOLORES_62_PALETADECOLORES_DESCRIPCION_HASTA is null ) OR ( C_PALETADECOLORES.Descrip <= @PALETADECOLORES_62_PALETADECOLORES_DESCRIPCION_HASTA ) ) and 
	( ( @CURVADETALLES_63_CURVADETALLES_DESCRIPCION_DESDE is null ) OR ( C_CURVADETALLES.Descrip >= @CURVADETALLES_63_CURVADETALLES_DESCRIPCION_DESDE ) ) and 
	( ( @CURVADETALLES_63_CURVADETALLES_DESCRIPCION_HASTA is null ) OR ( C_CURVADETALLES.Descrip <= @CURVADETALLES_63_CURVADETALLES_DESCRIPCION_HASTA ) ) and 
	( ( @NOMENCLADORARBA_65_NOMENCLADOR_DESCRIPCION_DESDE is null ) OR ( C_NOMENCLADORARBA.NMCDES >= @NOMENCLADORARBA_65_NOMENCLADOR_DESCRIPCION_DESDE ) ) and 
	( ( @NOMENCLADORARBA_65_NOMENCLADOR_DESCRIPCION_HASTA is null ) OR ( C_NOMENCLADORARBA.NMCDES <= @NOMENCLADORARBA_65_NOMENCLADOR_DESCRIPCION_HASTA ) ) and 
	( ( @MARCA_82_MARCA_DESCRIPCION_DESDE is null ) OR ( C_MARCA.Descrip >= @MARCA_82_MARCA_DESCRIPCION_DESDE ) ) and 
	( ( @MARCA_82_MARCA_DESCRIPCION_HASTA is null ) OR ( C_MARCA.Descrip <= @MARCA_82_MARCA_DESCRIPCION_HASTA ) ) and 
	( ( @SUCURSAL_9354_SEGMENTACION_DESDE is null ) OR ( C_SUCURSAL.seg >= @SUCURSAL_9354_SEGMENTACION_DESDE ) ) and 
	( ( @SUCURSAL_9354_SEGMENTACION_HASTA is null ) OR ( C_SUCURSAL.seg <= @SUCURSAL_9354_SEGMENTACION_HASTA ) ) and 
	( ( @SUCURSAL_9354_LINEA_DESDE is null ) OR ( C_SUCURSAL.Linea >= @SUCURSAL_9354_LINEA_DESDE ) ) and 
	( ( @SUCURSAL_9354_LINEA_HASTA is null ) OR ( C_SUCURSAL.Linea <= @SUCURSAL_9354_LINEA_HASTA ) ) and 
	( ( @SUCURSAL_9354_TIPO_DESDE is null ) OR ( C_SUCURSAL.Tipo >= @SUCURSAL_9354_TIPO_DESDE ) ) and 
	( ( @SUCURSAL_9354_TIPO_HASTA is null ) OR ( C_SUCURSAL.Tipo <= @SUCURSAL_9354_TIPO_HASTA ) ) and 
	( ( @SUCURSAL_9354_DESCRIPCION_DESDE is null ) OR ( C_SUCURSAL.descrip >= @SUCURSAL_9354_DESCRIPCION_DESDE ) ) and 
	( ( @SUCURSAL_9354_DESCRIPCION_HASTA is null ) OR ( C_SUCURSAL.descrip <= @SUCURSAL_9354_DESCRIPCION_HASTA ) ) and 
	( ( @ARTICULO_42_PROVEEDOR_DESDE is null ) OR ( C_ARTICULO.ARTFAB >= @ARTICULO_42_PROVEEDOR_DESDE ) ) and 
	( ( @ARTICULO_42_PROVEEDOR_HASTA is null ) OR ( C_ARTICULO.ARTFAB <= @ARTICULO_42_PROVEEDOR_HASTA ) ) and 
	( ( @ARTICULO_42_CONDICIONIVAVENTAS is null ) OR ( C_ARTICULO.ARTCONIVA = @ARTICULO_42_CONDICIONIVAVENTAS ) ) and 
	( ( @ARTICULO_42_PORCENTAJEIVAVENTAS_DESDE is null ) OR ( C_ARTICULO.ARTPORIVA >= @ARTICULO_42_PORCENTAJEIVAVENTAS_DESDE ) ) and 
	( ( @ARTICULO_42_PORCENTAJEIVAVENTAS_HASTA is null ) OR ( C_ARTICULO.ARTPORIVA <= @ARTICULO_42_PORCENTAJEIVAVENTAS_HASTA ) ) and 
	( ( @ARTICULO_42_IMAGEN_DESDE is null ) OR ( C_ARTICULO.ARIMAGEN >= @ARTICULO_42_IMAGEN_DESDE ) ) and 
	( ( @ARTICULO_42_IMAGEN_HASTA is null ) OR ( C_ARTICULO.ARIMAGEN <= @ARTICULO_42_IMAGEN_HASTA ) ) and 
	( ( @ARTICULO_42_TEMPORADA_DESDE is null ) OR ( C_ARTICULO.ATEMPORADA >= @ARTICULO_42_TEMPORADA_DESDE ) ) and 
	( ( @ARTICULO_42_TEMPORADA_HASTA is null ) OR ( C_ARTICULO.ATEMPORADA <= @ARTICULO_42_TEMPORADA_HASTA ) ) and 
	( ( @ARTICULO_42_UNIDADDEMEDIDA_DESDE is null ) OR ( C_ARTICULO.UniMed >= @ARTICULO_42_UNIDADDEMEDIDA_DESDE ) ) and 
	( ( @ARTICULO_42_UNIDADDEMEDIDA_HASTA is null ) OR ( C_ARTICULO.UniMed <= @ARTICULO_42_UNIDADDEMEDIDA_HASTA ) ) and 
	( ( @ARTICULO_42_FAMILIA_DESDE is null ) OR ( C_ARTICULO.Familia >= @ARTICULO_42_FAMILIA_DESDE ) ) and 
	( ( @ARTICULO_42_FAMILIA_HASTA is null ) OR ( C_ARTICULO.Familia <= @ARTICULO_42_FAMILIA_HASTA ) ) and 
	( ( @ARTICULO_42_MATERIAL_DESDE is null ) OR ( C_ARTICULO.Mat >= @ARTICULO_42_MATERIAL_DESDE ) ) and 
	( ( @ARTICULO_42_MATERIAL_HASTA is null ) OR ( C_ARTICULO.Mat <= @ARTICULO_42_MATERIAL_HASTA ) ) and 
	( ( @ARTICULO_42_LINEA_DESDE is null ) OR ( C_ARTICULO.Linea >= @ARTICULO_42_LINEA_DESDE ) ) and 
	( ( @ARTICULO_42_LINEA_HASTA is null ) OR ( C_ARTICULO.Linea <= @ARTICULO_42_LINEA_HASTA ) ) and 
	( ( @ARTICULO_42_GRUPO_DESDE is null ) OR ( C_ARTICULO.Grupo >= @ARTICULO_42_GRUPO_DESDE ) ) and 
	( ( @ARTICULO_42_GRUPO_HASTA is null ) OR ( C_ARTICULO.Grupo <= @ARTICULO_42_GRUPO_HASTA ) ) and 
	( ( @ARTICULO_42_CATEGORIADEARTICULO_DESDE is null ) OR ( C_ARTICULO.CateArti >= @ARTICULO_42_CATEGORIADEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_42_CATEGORIADEARTICULO_HASTA is null ) OR ( C_ARTICULO.CateArti <= @ARTICULO_42_CATEGORIADEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_42_CLASIFICACION_DESDE is null ) OR ( C_ARTICULO.ClasifArt >= @ARTICULO_42_CLASIFICACION_DESDE ) ) and 
	( ( @ARTICULO_42_CLASIFICACION_HASTA is null ) OR ( C_ARTICULO.ClasifArt <= @ARTICULO_42_CLASIFICACION_HASTA ) ) and 
	( ( @ARTICULO_42_ANO_DESDE is null ) OR ( C_ARTICULO.Ano >= @ARTICULO_42_ANO_DESDE ) ) and 
	( ( @ARTICULO_42_ANO_HASTA is null ) OR ( C_ARTICULO.Ano <= @ARTICULO_42_ANO_HASTA ) ) and 
	( ( @ARTICULO_42_TIPODEARTICULO_DESDE is null ) OR ( C_ARTICULO.TipoArti >= @ARTICULO_42_TIPODEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_42_TIPODEARTICULO_HASTA is null ) OR ( C_ARTICULO.TipoArti <= @ARTICULO_42_TIPODEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_42_CONDICIONIVACOMPRAS is null ) OR ( C_ARTICULO.ARTIVA = @ARTICULO_42_CONDICIONIVACOMPRAS ) ) and 
	( ( @ARTICULO_42_PORCENTAJEIVACOMPRAS_DESDE is null ) OR ( C_ARTICULO.ANX2 >= @ARTICULO_42_PORCENTAJEIVACOMPRAS_DESDE ) ) and 
	( ( @ARTICULO_42_PORCENTAJEIVACOMPRAS_HASTA is null ) OR ( C_ARTICULO.ANX2 <= @ARTICULO_42_PORCENTAJEIVACOMPRAS_HASTA ) ) and 
	( ( @ARTICULO_42_COMPORTAMIENTO is null ) OR ( C_ARTICULO.ASTOCK = @ARTICULO_42_COMPORTAMIENTO ) ) and 
	( ( @ARTICULO_42_PALETADECOLORES_DESDE is null ) OR ( C_ARTICULO.PalCol >= @ARTICULO_42_PALETADECOLORES_DESDE ) ) and 
	( ( @ARTICULO_42_PALETADECOLORES_HASTA is null ) OR ( C_ARTICULO.PalCol <= @ARTICULO_42_PALETADECOLORES_HASTA ) ) and 
	( ( @ARTICULO_42_CURVADETALLES_DESDE is null ) OR ( C_ARTICULO.Curtall >= @ARTICULO_42_CURVADETALLES_DESDE ) ) and 
	( ( @ARTICULO_42_CURVADETALLES_HASTA is null ) OR ( C_ARTICULO.Curtall <= @ARTICULO_42_CURVADETALLES_HASTA ) ) and 
	( ( @ARTICULO_42_NOCOMERCIALIZABLE_DESDE is null ) OR ( C_ARTICULO.NOCOM >= @ARTICULO_42_NOCOMERCIALIZABLE_DESDE ) ) and 
	( ( @ARTICULO_42_NOCOMERCIALIZABLE_HASTA is null ) OR ( C_ARTICULO.NOCOM <= @ARTICULO_42_NOCOMERCIALIZABLE_HASTA ) ) and 
	( ( @ARTICULO_42_NOMENCLADOR_DESDE is null ) OR ( C_ARTICULO.ARTNARBA >= @ARTICULO_42_NOMENCLADOR_DESDE ) ) and 
	( ( @ARTICULO_42_NOMENCLADOR_HASTA is null ) OR ( C_ARTICULO.ARTNARBA <= @ARTICULO_42_NOMENCLADOR_HASTA ) ) and 
	( ( @ARTICULO_42_NOPERMITEDEVOLUCIONES is null ) OR ( C_ARTICULO.ARTNODEVO = @ARTICULO_42_NOPERMITEDEVOLUCIONES ) ) and 
	( ( @ARTICULO_42_IMPRIMEDESPACHO is null ) OR ( C_ARTICULO.EsImpDes = @ARTICULO_42_IMPRIMEDESPACHO ) ) and 
	( ( @ARTICULO_42_PORCENTAJEIMPUESTOINTERNO_DESDE is null ) OR ( C_ARTICULO.impinterno >= @ARTICULO_42_PORCENTAJEIMPUESTOINTERNO_DESDE ) ) and 
	( ( @ARTICULO_42_PORCENTAJEIMPUESTOINTERNO_HASTA is null ) OR ( C_ARTICULO.impinterno <= @ARTICULO_42_PORCENTAJEIMPUESTOINTERNO_HASTA ) ) and 
	( ( @ARTICULO_42_RESTRINGIRDESCUENTOS is null ) OR ( C_ARTICULO.ArtSinDes = @ARTICULO_42_RESTRINGIRDESCUENTOS ) ) and 
	( ( @ARTICULO_42_PESO_DESDE is null ) OR ( C_ARTICULO.ARTPESO >= @ARTICULO_42_PESO_DESDE ) ) and 
	( ( @ARTICULO_42_PESO_HASTA is null ) OR ( C_ARTICULO.ARTPESO <= @ARTICULO_42_PESO_HASTA ) ) and 
	( ( @ARTICULO_42_LARGO_DESDE is null ) OR ( C_ARTICULO.ARTLARGO >= @ARTICULO_42_LARGO_DESDE ) ) and 
	( ( @ARTICULO_42_LARGO_HASTA is null ) OR ( C_ARTICULO.ARTLARGO <= @ARTICULO_42_LARGO_HASTA ) ) and 
	( ( @ARTICULO_42_ANCHO_DESDE is null ) OR ( C_ARTICULO.ARTANCHO >= @ARTICULO_42_ANCHO_DESDE ) ) and 
	( ( @ARTICULO_42_ANCHO_HASTA is null ) OR ( C_ARTICULO.ARTANCHO <= @ARTICULO_42_ANCHO_HASTA ) ) and 
	( ( @ARTICULO_42_ALTO_DESDE is null ) OR ( C_ARTICULO.ARTALTO >= @ARTICULO_42_ALTO_DESDE ) ) and 
	( ( @ARTICULO_42_ALTO_HASTA is null ) OR ( C_ARTICULO.ARTALTO <= @ARTICULO_42_ALTO_HASTA ) ) and 
	( ( @ARTICULO_42_REQUIERECCOSTO_DESDE is null ) OR ( C_ARTICULO.ReqCCosto >= @ARTICULO_42_REQUIERECCOSTO_DESDE ) ) and 
	( ( @ARTICULO_42_REQUIERECCOSTO_HASTA is null ) OR ( C_ARTICULO.ReqCCosto <= @ARTICULO_42_REQUIERECCOSTO_HASTA ) ) and 
	( ( @ARTICULO_42_NOPUBLICARENECOMMERCE is null ) OR ( C_ARTICULO.PubEcom = @ARTICULO_42_NOPUBLICARENECOMMERCE ) ) and 
	( ( @ARTICULO_42_IMPORTADO is null ) OR ( C_ARTICULO.Importado = @ARTICULO_42_IMPORTADO ) ) and 
	( ( @ARTICULO_42_DESCRIPCIONADICIONAL_DESDE is null ) OR ( C_ARTICULO.ARTDESADIC >= @ARTICULO_42_DESCRIPCIONADICIONAL_DESDE ) ) and 
	( ( @ARTICULO_42_DESCRIPCIONADICIONAL_HASTA is null ) OR ( C_ARTICULO.ARTDESADIC <= @ARTICULO_42_DESCRIPCIONADICIONAL_HASTA ) ) and 
	( ( @ARTICULO_42_SOLOPROMOYKIT is null ) OR ( C_ARTICULO.PromoYKit = @ARTICULO_42_SOLOPROMOYKIT ) ) and 
	( ( @ARTICULO_42_RESTRINGIRARTICULO_DESDE is null ) OR ( C_ARTICULO.ArtRest >= @ARTICULO_42_RESTRINGIRARTICULO_DESDE ) ) and 
	( ( @ARTICULO_42_RESTRINGIRARTICULO_HASTA is null ) OR ( C_ARTICULO.ArtRest <= @ARTICULO_42_RESTRINGIRARTICULO_HASTA ) ) and 
	( ( @ARTICULO_42_MARCA_DESDE is null ) OR ( C_ARTICULO.Marca >= @ARTICULO_42_MARCA_DESDE ) ) and 
	( ( @ARTICULO_42_MARCA_HASTA is null ) OR ( C_ARTICULO.Marca <= @ARTICULO_42_MARCA_HASTA ) ) and 
	( ( @ARTICULO_42_PERCEPCIONIVARG5329 is null ) OR ( C_ARTICULO.ArtPercep = @ARTICULO_42_PERCEPCIONIVARG5329 ) ) and 
	( ( @SUCURSAL_9354_CODIGO_DESDE is null ) OR ( C_SUCURSAL.codigo >= @SUCURSAL_9354_CODIGO_DESDE ) ) and 
	( ( @SUCURSAL_9354_CODIGO_HASTA is null ) OR ( C_SUCURSAL.codigo <= @SUCURSAL_9354_CODIGO_HASTA ) ) and 
	( ( @ITEMORDENINSUMO_NROITEM_DESDE is null ) OR ( c_ITEMORDENINSUMO.NROITEM >= @ITEMORDENINSUMO_NROITEM_DESDE ) ) and 
	( ( @ITEMORDENINSUMO_NROITEM_HASTA is null ) OR ( c_ITEMORDENINSUMO.NROITEM <= @ITEMORDENINSUMO_NROITEM_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.BDALTAFW >= @ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.BDALTAFW <= @ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.BDMODIFW >= @ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.BDMODIFW <= @ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_DESDE is null ) OR ( C_ORDENDEPRODUCCION.ESTTRANS >= @ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_HASTA is null ) OR ( C_ORDENDEPRODUCCION.ESTTRANS <= @ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FALTAFW >= @ORDENDEPRODUCCION_1_FECHAALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FALTAFW <= @ORDENDEPRODUCCION_1_FECHAALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAEXPO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FECEXPO >= @ORDENDEPRODUCCION_1_FECHAEXPO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAEXPO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FECEXPO <= @ORDENDEPRODUCCION_1_FECHAEXPO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAIMPO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FECIMPO >= @ORDENDEPRODUCCION_1_FECHAIMPO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAIMPO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FECIMPO <= @ORDENDEPRODUCCION_1_FECHAIMPO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FMODIFW >= @ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FMODIFW <= @ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FECTRANS >= @ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FECTRANS <= @ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.HALTAFW >= @ORDENDEPRODUCCION_1_HORAALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.HALTAFW <= @ORDENDEPRODUCCION_1_HORAALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAEXPO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.HORAEXPO >= @ORDENDEPRODUCCION_1_HORAEXPO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAEXPO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.HORAEXPO <= @ORDENDEPRODUCCION_1_HORAEXPO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAIMPO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.HORAIMPO >= @ORDENDEPRODUCCION_1_HORAIMPO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAIMPO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.HORAIMPO <= @ORDENDEPRODUCCION_1_HORAIMPO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.HMODIFW >= @ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.HMODIFW <= @ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_SERIEALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.SALTAFW >= @ORDENDEPRODUCCION_1_SERIEALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_SERIEALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.SALTAFW <= @ORDENDEPRODUCCION_1_SERIEALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.SMODIFW >= @ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.SMODIFW <= @ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_USUARIOALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.UALTAFW >= @ORDENDEPRODUCCION_1_USUARIOALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_USUARIOALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.UALTAFW <= @ORDENDEPRODUCCION_1_USUARIOALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.UMODIFW >= @ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.UMODIFW <= @ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_VERSIONALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.VALTAFW >= @ORDENDEPRODUCCION_1_VERSIONALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_VERSIONALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.VALTAFW <= @ORDENDEPRODUCCION_1_VERSIONALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.VMODIFW >= @ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.VMODIFW <= @ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_HASTA ) )

)