IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[600_ITEMVALORES]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Listados].[600_ITEMVALORES];
GO;


CREATE FUNCTION [Listados].[600_ITEMVALORES]
( @BaseDeDatos varchar(8),
	@ITEMVALORES_COTIZA_DESDE numeric(15, 5),
	@ITEMVALORES_COTIZA_HASTA numeric(15, 5),
	@ITEMVALORES_FECHA_DESDE datetime,
	@ITEMVALORES_FECHA_HASTA datetime,
	@ITEMVALORES_FECHACOMP_DESDE datetime,
	@ITEMVALORES_FECHACOMP_HASTA datetime,
	@ITEMVALORES_LETRA_DESDE varchar(1),
	@ITEMVALORES_LETRA_HASTA varchar(1),
	@ITEMVALORES_MONTO_DESDE numeric(15, 2),
	@ITEMVALORES_MONTO_HASTA numeric(15, 2),
	@ITEMVALORES_NRODOCUMENTO_DESDE varchar(10),
	@ITEMVALORES_NRODOCUMENTO_HASTA varchar(10),
	@ITEMVALORES_NROITEM_DESDE numeric(5, 0),
	@ITEMVALORES_NROITEM_HASTA numeric(5, 0),
	@ITEMVALORES_NUMEROCUPON_DESDE numeric(5, 0),
	@ITEMVALORES_NUMEROCUPON_HASTA numeric(5, 0),
	@ITEMVALORES_NUMEROINTERNO_DESDE varchar(15),
	@ITEMVALORES_NUMEROINTERNO_HASTA varchar(15),
	@ITEMVALORES_NUMEROTARJETA_DESDE varchar(25),
	@ITEMVALORES_NUMEROTARJETA_HASTA varchar(25),
	@ITEMVALORES_NUMERODECOMPROBANTE_DESDE numeric(8, 0),
	@ITEMVALORES_NUMERODECOMPROBANTE_HASTA numeric(8, 0),
	@ITEMVALORES_PESOSALCAMBIO_DESDE numeric(15, 2),
	@ITEMVALORES_PESOSALCAMBIO_HASTA numeric(15, 2),
	@ITEMVALORES_PUNTODEVENTA_DESDE numeric(4, 0),
	@ITEMVALORES_PUNTODEVENTA_HASTA numeric(4, 0),
	@ITEMVALORES_SIGNO_DESDE numeric(2, 0),
	@ITEMVALORES_SIGNO_HASTA numeric(2, 0),
	@ITEMVALORES_TIPO_DESDE numeric(2, 0),
	@ITEMVALORES_TIPO_HASTA numeric(2, 0),
	@ITEMVALORES_TIPODOCUMENTO_DESDE varchar(2),
	@ITEMVALORES_TIPODOCUMENTO_HASTA varchar(2),
	@ITEMVALORES_TIPODECOMPROBANTE_DESDE varchar(3),
	@ITEMVALORES_TIPODECOMPROBANTE_HASTA varchar(3),
	@ITEMVALORES_TOTAL_DESDE numeric(15, 2),
	@ITEMVALORES_TOTAL_HASTA numeric(15, 2),
	@ITEMVALORES_TURNO_DESDE numeric(1, 0),
	@ITEMVALORES_TURNO_HASTA numeric(1, 0),
	@ITEMVALORES_VALOR_DESDE varchar(5),
	@ITEMVALORES_VALOR_HASTA varchar(5),
	@ITEMVALORES_VALORDETALLE_DESDE varchar(40),
	@ITEMVALORES_VALORDETALLE_HASTA varchar(40),
	@FACTURA_VENDEDOR_DESDE varchar(10),
	@FACTURA_VENDEDOR_HASTA varchar(10),
	@ITEMVALORES_FECHAULTCOTIZACION_DESDE datetime,
	@ITEMVALORES_FECHAULTCOTIZACION_HASTA datetime,
	@ITEMVALORES_ULTIMACOTIZACION_DESDE numeric(15, 5),
	@ITEMVALORES_ULTIMACOTIZACION_HASTA numeric(15, 5),
	@ITEMVALORES_RECARGOPORCENTAJE_DESDE numeric(6, 2),
	@ITEMVALORES_RECARGOPORCENTAJE_HASTA numeric(6, 2),
	@ITEMVALORES_RECARGOMONTOSINIMPUESTOS_DESDE numeric(15, 2),
	@ITEMVALORES_RECARGOMONTOSINIMPUESTOS_HASTA numeric(15, 2),
	@ITEMVALORES_RECARGOSINPERCEPCIONES_DESDE numeric(15, 2),
	@ITEMVALORES_RECARGOSINPERCEPCIONES_HASTA numeric(15, 2),
	@ITEMVALORES_NUMEROVALEDECAMBIO_DESDE varchar(38),
	@ITEMVALORES_NUMEROVALEDECAMBIO_HASTA varchar(38),
	@ITEMVALORES_CAJA_DESDE numeric(2, 0),
	@ITEMVALORES_CAJA_HASTA numeric(2, 0),
	@ITEMVALORES_CONDICIONDEPAGO_DESDE varchar(5),
	@ITEMVALORES_CONDICIONDEPAGO_HASTA varchar(5),
	@FACTURA_CLIENTE_DESDE varchar(10),
	@FACTURA_CLIENTE_HASTA varchar(10),
	
	@FACTURA_FECHA_DESDE datetime,
	@FACTURA_FECHA_HASTA datetime,

	@FACTURA_HALTAFW_DESDE varchar(8),
	@FACTURA_HALTAFW_HASTA varchar(8),

	@FACTURA_IMPUESTOS_DESDE numeric(15, 2),
	@FACTURA_IMPUESTOS_HASTA numeric(15, 2),
	@FACTURA_LETRA_DESDE varchar(1),
	@FACTURA_LETRA_HASTA varchar(1),
	@FACTURA_LISTADEPRECIOS_DESDE varchar(6),
	@FACTURA_LISTADEPRECIOS_HASTA varchar(6),
	@FACTURA_MONEDACOMPROBANTE_DESDE varchar(10),
	@FACTURA_MONEDACOMPROBANTE_HASTA varchar(10),
	@FACTURA_NUMERO_DESDE numeric(8, 0),
	@FACTURA_NUMERO_HASTA numeric(8, 0),
	@FACTURA_PUNTODEVENTA_DESDE numeric(4, 0),
	@FACTURA_PUNTODEVENTA_HASTA numeric(4, 0),
	@FACTURA_TIPOCOMPROBANTE_DESDE numeric(2, 0),
	@FACTURA_TIPOCOMPROBANTE_HASTA numeric(2, 0),
	@FACTURA_TOTAL_DESDE numeric(15, 2),
	@FACTURA_TOTAL_HASTA numeric(15, 2),
	@FACTURA_SIGNODEMOVIMIENTO_DESDE numeric(2, 0),
	@FACTURA_SIGNODEMOVIMIENTO_HASTA numeric(2, 0),
	@FACTURA_ANULADO bit,
	@FACTURA_CONDICIONIVA_DESDE numeric(1, 0),
	@FACTURA_CONDICIONIVA_HASTA numeric(1, 0),
	@FACTURA_CUIT_DESDE varchar(15),
	@FACTURA_CUIT_HASTA varchar(15),
	@FACTURA_TOTALIMPUESTOS_DESDE numeric(15, 2),
	@FACTURA_TOTALIMPUESTOS_HASTA numeric(15, 2),
	@FACTURA_TOTALRECARGOS_DESDE numeric(15, 2),
	@FACTURA_TOTALRECARGOS_HASTA numeric(15, 2),
	@FACTURA_TOTALDESCUENTOS_DESDE numeric(15, 2),
	@FACTURA_TOTALDESCUENTOS_HASTA numeric(15, 2),
	@FACTURA_TOTALRECARGOSSINIMPUESTOS_DESDE numeric(15, 4),
	@FACTURA_TOTALRECARGOSSINIMPUESTOS_HASTA numeric(15, 4),
	@FACTURA_TOTALDESCUENTOSSINIMPUESTOS_DESDE numeric(15, 4),
	@FACTURA_TOTALDESCUENTOSSINIMPUESTOS_HASTA numeric(15, 4),
	@FACTURA_CAJA_DESDE numeric(2, 0),
	@FACTURA_CAJA_HASTA numeric(2, 0),
	@FACTURA_COTIZACION_DESDE numeric(15, 5),
	@FACTURA_COTIZACION_HASTA numeric(15, 5),
	@FACTURA_MONEDASISTEMA_DESDE varchar(10),
	@FACTURA_MONEDASISTEMA_HASTA varchar(10),
	@FACTURA_TOTALCANTIDAD_DESDE numeric(16, 3),
	@FACTURA_TOTALCANTIDAD_HASTA numeric(16, 3),
	@VALOR_CODIGO_DESDE varchar(5),
	@VALOR_CODIGO_HASTA varchar(5),
	@VALOR_DESCRIPCION_DESDE varchar(40),
	@VALOR_DESCRIPCION_HASTA varchar(40),
	@VALOR_SIMBOLOMONETARIO_DESDE varchar(10),
	@VALOR_SIMBOLOMONETARIO_HASTA varchar(10),
	@VALOR_TIPO numeric(2, 0),
	@VALOR_GRUPO_DESDE varchar(5),
	@VALOR_GRUPO_HASTA varchar(5),
	@VALOR_RECARGO_DESDE numeric(6, 2),
	@VALOR_RECARGO_HASTA numeric(6, 2),
	@VALOR_PERMITEVUELTO bit,
	@VALOR_OPERADORATARJETA_DESDE varchar(15),
	@VALOR_OPERADORATARJETA_HASTA varchar(15),
	@VALOR_TIPOTARJETA varchar(1),
	@VALOR_CLASIFICACION_DESDE varchar(10),
	@VALOR_CLASIFICACION_HASTA varchar(10),
	@VALOR_DESCUENTO_DESDE numeric(5, 2),
	@VALOR_DESCUENTO_HASTA numeric(5, 2),
	@ITEMVALORES_RECIBIDO_DESDE numeric(15, 2),
	@ITEMVALORES_RECIBIDO_HASTA numeric(15, 2),
	@ITEMVALORES_ESVUELTO bit,
	@VENDEDOR_NOMBRE_DESDE VARCHAR(185),
	@VENDEDOR_NOMBRE_HASTA VARCHAR(185),
	@CLIENTE_CLIENTE_NOMBRE_DESDE varchar(185),
	@CLIENTE_CLIENTE_NOMBRE_HASTA varchar(185),
	@LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_DESDE varchar(30),
	@LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_HASTA varchar(30),
	@MONEDA_MONEDACOMPROBANTE_DESCRIPCION_DESDE varchar(40),
	@MONEDA_MONEDACOMPROBANTE_DESCRIPCION_HASTA varchar(40),
	@CAJAESTADO_CAJA_DESCRIPCION_DESDE varchar(40),
	@CAJAESTADO_CAJA_DESCRIPCION_HASTA varchar(40),
	@MONEDA_MONEDASISTEMA_DESCRIPCION_DESDE varchar(40),
	@MONEDA_MONEDASISTEMA_DESCRIPCION_HASTA varchar(40),
	@MONEDA_SIMBOLOMONETARIO_DESCRIPCION_DESDE varchar(40),
	@MONEDA_SIMBOLOMONETARIO_DESCRIPCION_HASTA varchar(40),
	@GRUPOVALOR_GRUPO_DESCRIPCION_DESDE varchar(50),
	@GRUPOVALOR_GRUPO_DESCRIPCION_HASTA varchar(50),
	@OPERADORADETARJETA_OPERADORATARJETA_DESCRIPCION_DESDE varchar(100),
	@OPERADORADETARJETA_OPERADORATARJETA_DESCRIPCION_HASTA varchar(100),
	@CLASIFICACIONCLIENTE_CLASIFICACION_DESCRIPCION_DESDE varchar(50),
	@CLASIFICACIONCLIENTE_CLASIFICACION_DESCRIPCION_HASTA varchar(50),
	@Parametro1 int,
	@Parametro2 int,
	@Parametro3 int )
		
RETURNS TABLE
AS
RETURN
(
select
	Subconsulta.ITEMVALORES__Grupo,
	Subconsulta.ITEMVALORES__BD,
	Subconsulta.ITEMVALORES_JJNUM,
	Subconsulta.ITEMVALORES_JJCotiz,
	Subconsulta.ITEMVALORES_JJFE,
	Subconsulta.ITEMVALORES_JJfecha,
	Subconsulta.ITEMVALORES_Letra,
	Subconsulta.ITEMVALORES_JJM,
	Subconsulta.ITEMVALORES_NroDoc,
	Subconsulta.ITEMVALORES_NroItem,
	Subconsulta.ITEMVALORES_NroCheque,
	Subconsulta.ITEMVALORES_NroCupon,
	Subconsulta.ITEMVALORES_NroInterno,
	Subconsulta.ITEMVALORES_NroTarjeta,
	Subconsulta.ITEMVALORES_NumCompr,
	Subconsulta.ITEMVALORES_Pesos,
	Subconsulta.ITEMVALORES_PtoVenta,
	Subconsulta.ITEMVALORES_Signo,
	Subconsulta.ITEMVALORES_JJT,
	Subconsulta.ITEMVALORES_TipoDoc,
	Subconsulta.ITEMVALORES_TIPCOMP,
	Subconsulta.ITEMVALORES_JJTotFac,
	Subconsulta.ITEMVALORES_JJTurno,
	Subconsulta.ITEMVALORES_JJCO,
	Subconsulta.ITEMVALORES_JJDE,
	Subconsulta.ITEMVALORES_JJVen,
	Subconsulta.ITEMVALORES_JJRecib,
	Subconsulta.ITEMVALORES_FechCoti,
	Subconsulta.ITEMVALORES_Cotiza,
	Subconsulta.ITEMVALORES_recporc,
	Subconsulta.ITEMVALORES_recsinimp,
	Subconsulta.ITEMVALORES_recsinper,
	Subconsulta.ITEMVALORES_IdCaja,
	Subconsulta.ITEMVALORES_NroChProp,
	Subconsulta.ITEMVALORES_ValeCambio,
	Subconsulta.ITEMVALORES_CondPago,
	Subconsulta.FACTURA_GrupoDeInformeVirtual,
	Subconsulta.FACTURA_NombreGenericoComprobanteVirtual,
	Subconsulta.FACTURA_NombreEspecificoComprobanteVirtual,
	coalesce( Subconsulta.FACTURA_MostrarValoresDelCompVirtual, 0 ) as FACTURA_MostrarValoresDelCompVirtual,
	Subconsulta.FACTURA_PrimerNumeroVirtual,
	Subconsulta.FACTURA_UltimoNumeroVirtual,
	Subconsulta.FACTURA_MostrarValoresDelCompVirtual * Subconsulta.FACTURA_CantidadComprobantesVirtual as FACTURA_CantidadComprobantesVirtual,
	Subconsulta.FACTURA_MostrarValoresDelCompVirtual * Subconsulta.FACTURA_PromedioDeUnidadesVirtual as FACTURA_PromedioDeUnidadesVirtual,
	Subconsulta.FACTURA_MostrarValoresDelCompVirtual * Subconsulta.FACTURA_PromedioDeMontoEnPesosVirtual as FACTURA_PromedioDeMontoEnPesosVirtual,
	Subconsulta.FACTURA_ComprobanteVirtual,
	Subconsulta.FACTURA_FPerson,
	cast( case Subconsulta.VALOR_CLCFI when 6 then null else Subconsulta.ITEMVALORES_Pesos end as numeric( 15, 2 ) ) as ITEMVALORES_PesosCajaVirtual,
	cast( case Subconsulta.VALOR_CLCFI when 6 then Subconsulta.ITEMVALORES_Pesos else null end as numeric( 15, 2 ) ) as ITEMVALORES_PesosCtaCteVirtual,
	Subconsulta.FACTURA_RolDePersonaVirtual,
	Subconsulta.FACTURA_FFCH,
	Subconsulta.FACTURA_HALTAFW,
	Subconsulta.FACTURA_fImpuesto,
	Subconsulta.FACTURA_FLETRA,
	Subconsulta.FACTURA_CodLista,
	Subconsulta.FACTURA_Moneda,
	Subconsulta.FACTURA_FNUMCOMP,
	Subconsulta.FACTURA_FPTOVEN,
	Subconsulta.FACTURA_FACTTIPO,
	Subconsulta.FACTURA_MostrarValoresDelCompVirtual * Subconsulta.FACTURA_FTotal as FACTURA_FTotal,
	Subconsulta.FACTURA_signomov,
	Subconsulta.FACTURA_Anulado,
	Subconsulta.FACTURA_CondivaLp,
	Subconsulta.FACTURA_fCuit,
	Subconsulta.FACTURA_MostrarValoresDelCompVirtual * Subconsulta.FACTURA_totimpue as FACTURA_totimpue,
	Subconsulta.FACTURA_MostrarValoresDelCompVirtual * Subconsulta.FACTURA_totrecarCI as FACTURA_totrecarCI,
	Subconsulta.FACTURA_MostrarValoresDelCompVirtual * Subconsulta.FACTURA_totdesc as FACTURA_totdesc,
	Subconsulta.FACTURA_MostrarValoresDelCompVirtual * Subconsulta.FACTURA_totrecarSI as FACTURA_totrecarSI,
	Subconsulta.FACTURA_MostrarValoresDelCompVirtual * Subconsulta.FACTURA_totdescSI as FACTURA_totdescSI,
	Subconsulta.FACTURA_IdCaja,
	Subconsulta.FACTURA_Cotiz,
	Subconsulta.FACTURA_MonSis,
	Subconsulta.FACTURA_MostrarValoresDelCompVirtual * Subconsulta.FACTURA_TotalCant as FACTURA_TotalCant,
	Subconsulta.VALOR_CLCOD,
	Subconsulta.VALOR_CLNOM,
	Subconsulta.VALOR_CLOBS,
	Subconsulta.VALOR_CLSMONET,
	Subconsulta.VALOR_CLCFI,
	Subconsulta.VALOR_CLGRUP,
	Subconsulta.VALOR_clrecargo,
	Subconsulta.VALOR_pervuelto,
	Subconsulta.VALOR_opetar,
	Subconsulta.VALOR_tipotarj,
	Subconsulta.VALOR_CLCLAS,
	Subconsulta.VALOR_CLDESCP,
	Subconsulta.CHEQUE_cCompOri,
	Subconsulta.VALEDECAMBIO_cCliente,
	Subconsulta.CAJAESTADO1310_Descrip,
	Subconsulta.CHEQUEPROPIO_cCompOri,
	Subconsulta.CONDICIONDEPAGO_CLNOM,
	Subconsulta.CLIENTE_CLNOM,
	Subconsulta.LISTADEPRECIOS_LPR_NOMBRE,
	Subconsulta.MONEDA1420_Descrip,
	Subconsulta.CAJAESTADO1640_Descrip,
	Subconsulta.MONEDA1670_Descrip,
	Subconsulta.MONEDA1720_Descrip,
	Subconsulta.GRUPOVALOR_GRUNOM,
	Subconsulta.OPERADORADETARJETA_descrip,
	Subconsulta.CLASIFICACIONCLIENTE_CLADES,
	Subconsulta.CAJAESTADO1310_NumCaja,
	Subconsulta.CAJAESTADO1640_NumCaja,
	Subconsulta.CHEQUE_cCod,
	Subconsulta.CHEQUEPROPIO_cCod,
	Subconsulta.CLASIFICACIONCLIENTE_CLACOD,
	Subconsulta.CLIENTE_CLCOD,
	Subconsulta.CONDICIONDEPAGO_CLCOD,
	Subconsulta.FACTURA_CODIGO,
	Subconsulta.GRUPOVALOR_Codigo,
	Subconsulta.LISTADEPRECIOS_LPR_NUMERO,
	Subconsulta.MONEDA1420_Codigo,
	Subconsulta.MONEDA1670_Codigo,
	Subconsulta.MONEDA1720_Codigo,
	Subconsulta.OPERADORADETARJETA_Codigo,
	Subconsulta.VALEDECAMBIO_CCOD,
	Subconsulta.ITEMVALORES_ESVUELTOVIRTUAL,
	Subconsulta.COMPROBANTEDECAJA_Concepto,
	Subconsulta.CONCEPTOCAJA_Descrip,
	Subconsulta.FACTURA_fSubToN,
	Subconsulta.FACTURA_fven,
	Subconsulta.VENDEDOR_clnom


from
	(
	select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_itemvalores.jjnum, 38, ' ' ) as varchar( 46 ) ) as ITEMVALORES__Grupo,
		@basededatos as ITEMVALORES__BD,
		c_ITEMVALORES.JJNUM as ITEMVALORES_JJNUM,
		c_ITEMVALORES.JJCOTIZ as ITEMVALORES_JJCotiz,
		c_ITEMVALORES.jjfe as ITEMVALORES_JJFE,
		c_ITEMVALORES.jjfecha as ITEMVALORES_JJfecha,
		c_ITEMVALORES.LETRA as ITEMVALORES_Letra,
		C_FACTURA.SIGNOMOV * c_ITEMVALORES.SIGNO * c_ITEMVALORES.JJM as ITEMVALORES_JJM,
		c_ITEMVALORES.NRODOC as ITEMVALORES_NroDoc,
		c_ITEMVALORES.NROITEM as ITEMVALORES_NroItem,
		c_ITEMVALORES.NROCHEQUE as ITEMVALORES_NroCheque,
		c_ITEMVALORES.NROCUPON as ITEMVALORES_NroCupon,
		c_ITEMVALORES.NROINTERNO as ITEMVALORES_NroInterno,
		c_ITEMVALORES.NROTARJETA as ITEMVALORES_NroTarjeta,
		c_ITEMVALORES.NUMCOMPR as ITEMVALORES_NumCompr,
		C_FACTURA.SIGNOMOV * c_ITEMVALORES.SIGNO * c_ITEMVALORES.PESOS as ITEMVALORES_Pesos,
		c_ITEMVALORES.PTOVENTA as ITEMVALORES_PtoVenta,
		c_ITEMVALORES.SIGNO as ITEMVALORES_Signo,
		c_ITEMVALORES.JJT as ITEMVALORES_JJT,
		c_ITEMVALORES.TIPODOC as ITEMVALORES_TipoDoc,
		c_ITEMVALORES.TIPCOMP as ITEMVALORES_TIPCOMP,
		C_FACTURA.SIGNOMOV * c_ITEMVALORES.SIGNO * c_ITEMVALORES.JJTOTFAC as ITEMVALORES_JJTotFac,
		c_ITEMVALORES.JJTURNO as ITEMVALORES_JJTurno,
		c_ITEMVALORES.JJCO as ITEMVALORES_JJCO,
		c_ITEMVALORES.JJDE as ITEMVALORES_JJDE,
		c_ITEMVALORES.JJVEN as ITEMVALORES_JJVen,
		c_ITEMVALORES.fechcoti as ITEMVALORES_FechCoti,
		c_ITEMVALORES.COTIZA as ITEMVALORES_Cotiza,
		c_ITEMVALORES.RECPORC as ITEMVALORES_recporc,
		c_ITEMVALORES.RECSINIMP as ITEMVALORES_recsinimp,
		c_ITEMVALORES.RECSINPER as ITEMVALORES_recsinper,
		c_ITEMVALORES.VALECAMBIO as ITEMVALORES_ValeCambio,
		c_ITEMVALORES.IDCAJA as ITEMVALORES_IdCaja,
		c_ITEMVALORES.NROCHPROP as ITEMVALORES_NroChProp,
		c_ITEMVALORES.CONDPAGO as ITEMVALORES_CondPago,
		cast( case when C_FACTURA.FACTTIPO = '98' and @Parametro1 = 1 then 'Comprobante de caja' else C_FACTURA.GrupoInfo end as varchar( 19 ) ) as FACTURA_GrupoDeInformeVirtual,
		cast( funciones.obtenernombredecomprobantedeventas(C_FACTURA.facttipo) as varchar( 48 ) ) as FACTURA_NombreGenericoComprobanteVirtual,
		cast( case when C_FACTURA.FACTTIPO = '98' and @Parametro1 = 1 then ( rtrim(ltrim(C_COMCAJ.CONCEPTO)) + ' - ' + C_CONCECAJA.DESCRIP) else (funciones.obtenernombredecomprobantedeventas(C_FACTURA.facttipo)+' '+coalesce(C_FACTURA.fletra, '')) end as varchar( 50 ) )  as FACTURA_NombreEspecificoComprobanteVirtual,
		cast( case when row_number() over(partition by C_FACTURA.ffch, C_FACTURA.facttipo, C_FACTURA.fletra, C_FACTURA.fptoven, C_FACTURA.fnumcomp, C_FACTURA.factsec, C_FACTURA.fperson order by c_ITEMVALORES.NroItem ) = 1 then 1 else null end as bit ) as FACTURA_MostrarValoresDelCompVirtual,
		cast( C_FACTURA.Primero as numeric( 8, 0 ) ) as FACTURA_PrimerNumeroVirtual,
		cast( C_FACTURA.Ultimo as numeric( 8, 0 ) ) as FACTURA_UltimoNumeroVirtual,
		cast( 1 as numeric( 6, 0 ) ) as FACTURA_CantidadComprobantesVirtual,
		cast( C_FACTURA.totalcant as numeric( 16, 3 ) ) as FACTURA_PromedioDeUnidadesVirtual,
		cast( C_FACTURA.ftotal as numeric( 15, 2 ) ) as FACTURA_PromedioDeMontoEnPesosVirtual,
		C_FACTURA.ComprobanteVirtual as FACTURA_ComprobanteVirtual,
		C_FACTURA.FPERSON as FACTURA_FPerson,
		cast( 0 as numeric( 15, 2 ) ) as ITEMVALORES_PesosCajaVirtual,
		cast( 0 as numeric( 15, 2 ) ) as ITEMVALORES_PesosCtaCteVirtual,
		C_FACTURA.RolDePersonaVirtual as FACTURA_RolDePersonaVirtual,
		C_FACTURA.ffch as FACTURA_FFCH,
		C_FACTURA.HALTAFW as FACTURA_HALTAFW,
		C_FACTURA.FIMPUESTO as FACTURA_fImpuesto,
		C_FACTURA.FLETRA as FACTURA_FLETRA,
		C_FACTURA.CODLISTA as FACTURA_CodLista,
		C_FACTURA.MONEDA as FACTURA_Moneda,
		C_FACTURA.FNUMCOMP as FACTURA_FNUMCOMP,
		C_FACTURA.FPTOVEN as FACTURA_FPTOVEN,
		C_FACTURA.FACTTIPO as FACTURA_FACTTIPO,
		C_FACTURA.FTOTAL as FACTURA_FTotal,
		C_FACTURA.SIGNOMOV as FACTURA_signomov,
		C_FACTURA.ANULADO as FACTURA_Anulado,
		C_FACTURA.CONDIVALP as FACTURA_CondivaLp,
		C_FACTURA.FCUIT as FACTURA_fCuit,
		C_FACTURA.TOTIMPUE as FACTURA_totimpue,
		C_FACTURA.TOTRECARCI as FACTURA_totrecarCI,
		C_FACTURA.TOTDESC as FACTURA_totdesc,
		C_FACTURA.TOTRECARSI as FACTURA_totrecarSI,
		C_FACTURA.TOTDESCSI as FACTURA_totdescSI,
		C_FACTURA.IDCAJA as FACTURA_IdCaja,
		C_FACTURA.COTIZ as FACTURA_Cotiz,
		C_FACTURA.MONSIS as FACTURA_MonSis,
		C_FACTURA.TOTALCANT as FACTURA_TotalCant,
		C_VALOR.CLCOD as VALOR_CLCOD,
		C_VALOR.CLNOM as VALOR_CLNOM,
		C_VALOR.CLOBS as VALOR_CLOBS,
		C_VALOR.CLSMONET as VALOR_CLSMONET,
		C_VALOR.CLCFI as VALOR_CLCFI,
		C_VALOR.CLGRUP as VALOR_CLGRUP,
		C_VALOR.CLRECARGO as VALOR_clrecargo,
		C_VALOR.PERVUELTO as VALOR_pervuelto,
		C_VALOR.OPETAR as VALOR_opetar,
		C_VALOR.TIPOTARJ as VALOR_tipotarj,
		C_VALOR.CLCLAS as VALOR_CLCLAS,
		C_VALOR.CLDESCP as VALOR_CLDESCP,
		C_FACTURA.SIGNOMOV * c_ITEMVALORES.SIGNO * C_ITEMVALORES.jjrecib as ITEMVALORES_JJRecib,
		C_ITEMVALORES.esvuelto as ITEMVALORES_esvueltoVirtual,
		C_ITEMVALORES.esvuelto as  ITEMVALORES_IncluirVueltos,
		C_CHEQUE.CCOMPORI as CHEQUE_cCompOri,
		C_VALEDECAMBIO.CCLIENTE as VALEDECAMBIO_cCliente,
		C_CAJAESTADO1310.DESCRIP as CAJAESTADO1310_Descrip,
		C_CHEQUEPROPIO.CCOMPORI as CHEQUEPROPIO_cCompOri,
		C_CONDICIONDEPAGO.CLNOM as CONDICIONDEPAGO_CLNOM,
		case when funciones.alltrim(upper(C_FACTURA.RolDePersonaVirtual)) = 'PROVEEDOR' then C_PROVEEDOR.CLNOM else C_CLIENTE.CLNOM end as CLIENTE_CLNOM,
		C_LISTADEPRECIOS.LPR_NOMBRE as LISTADEPRECIOS_LPR_NOMBRE,
		C_MONEDA1420.DESCRIP as MONEDA1420_Descrip,
		C_CAJAESTADO1640.DESCRIP as CAJAESTADO1640_Descrip,
		C_MONEDA1670.DESCRIP as MONEDA1670_Descrip,
		C_MONEDA1720.DESCRIP as MONEDA1720_Descrip,
		C_GRUPOVALOR.GRUNOM as GRUPOVALOR_GRUNOM,
		C_OPERADORADETARJETA.DESCRIP as OPERADORADETARJETA_descrip,
		C_CLASIFICACIONCLIENTE.CLADES as CLASIFICACIONCLIENTE_CLADES,
		C_CAJAESTADO1310.NUMCAJA as CAJAESTADO1310_NumCaja,
		C_CAJAESTADO1640.NUMCAJA as CAJAESTADO1640_NumCaja,
		C_CHEQUE.CCOD as CHEQUE_cCod,
		C_CHEQUEPROPIO.CCOD as CHEQUEPROPIO_cCod,
		C_CLASIFICACIONCLIENTE.CLACOD as CLASIFICACIONCLIENTE_CLACOD,
		case when funciones.alltrim(upper(C_FACTURA.RolDePersonaVirtual)) = 'PROVEEDOR' then C_PROVEEDOR.CLCOD else C_CLIENTE.CLCOD end as CLIENTE_CLCOD,
		C_CONDICIONDEPAGO.CLCOD as CONDICIONDEPAGO_CLCOD,
		C_FACTURA.CODIGO as FACTURA_CODIGO,
		C_GRUPOVALOR.CODIGO as GRUPOVALOR_Codigo,
		C_LISTADEPRECIOS.LPR_NUMERO as LISTADEPRECIOS_LPR_NUMERO,
		C_MONEDA1420.CODIGO as MONEDA1420_Codigo,
		C_MONEDA1670.CODIGO as MONEDA1670_Codigo,
		C_MONEDA1720.CODIGO as MONEDA1720_Codigo,
		C_OPERADORADETARJETA.CODIGO as OPERADORADETARJETA_Codigo,
		C_VALEDECAMBIO.CCOD as VALEDECAMBIO_CCOD,
		C_CONCECAJA.CODIGO AS COMPROBANTEDECAJA_Concepto,
		C_CONCECAJA.DESCRIP as CONCEPTOCAJA_Descrip,
		C_FACTURA.fSubToN as FACTURA_fSubToN,
		C_FACTURA.fven as FACTURA_fven,
		C_VENDEDOR.CLNOM as vendedor_clnom
	 from Listados.VistaIntegraValores as c_ITEMVALORES
	 left join ZooLogic.XVAL as C_VALOR on C_VALOR.CLCOD = C_ITEMVALORES.JJCO and 0 = Funciones.empty( C_ITEMVALORES.JJCO )
	 left join ZooLogic.CAJAESTA as C_CAJAESTADO1310 on C_CAJAESTADO1310.NUMCAJA = C_ITEMVALORES.IDCAJA and 0 = Funciones.empty( C_ITEMVALORES.IDCAJA )
	 left join ZooLogic.CHEQUE as C_CHEQUE on C_CHEQUE.CCOD = C_ITEMVALORES.NROCHEQUE and 0 = Funciones.empty( C_ITEMVALORES.NROCHEQUE )
	 left join ZooLogic.CHQPROP as C_CHEQUEPROPIO on C_CHEQUEPROPIO.CCOD = C_ITEMVALORES.NROCHPROP and 0 = Funciones.empty( C_ITEMVALORES.NROCHPROP )
	 left join ZooLogic.CLASIF as C_CLASIFICACIONCLIENTE on C_CLASIFICACIONCLIENTE.CLACOD = C_VALOR.CLCLAS and 0 = Funciones.empty( C_VALOR.CLCLAS )
	 left join ZooLogic.CONDPAGO as C_CONDICIONDEPAGO on C_CONDICIONDEPAGO.CLCOD = C_ITEMVALORES.CONDPAGO and 0 = Funciones.empty( C_ITEMVALORES.CONDPAGO )
	 left join Listados.VistaIntegraComprobantes as C_FACTURA on C_FACTURA.CODIGO = C_ITEMVALORES.JJNUM and C_FACTURA.Origen = C_ITEMVALORES.Origen and 0 = Funciones.empty( C_ITEMVALORES.JJNUM ) 
		and  C_FACTURA.FACTTIPO <> case when @Parametro2 <> 1 then '32' else '000' end
		and  C_FACTURA.FACTTIPO <> case when @Parametro3 <> 1 then '50' else '000' end
	 left join ZooLogic.GRUPOVALOR as C_GRUPOVALOR on C_GRUPOVALOR.CODIGO = C_VALOR.CLGRUP and 0 = Funciones.empty( C_VALOR.CLGRUP )
	 left join ZooLogic.LPRECIO as C_LISTADEPRECIOS on C_LISTADEPRECIOS.LPR_NUMERO = C_FACTURA.CODLISTA and 0 = Funciones.empty( C_FACTURA.CODLISTA )
	 left join ZooLogic.MONEDA as C_MONEDA1420 on C_MONEDA1420.CODIGO = C_FACTURA.MONEDA and 0 = Funciones.empty( C_FACTURA.MONEDA )
	 left join ZooLogic.MONEDA as C_MONEDA1670 on C_MONEDA1670.CODIGO = C_FACTURA.MONSIS and 0 = Funciones.empty( C_FACTURA.MONSIS )
	 left join ZooLogic.MONEDA as C_MONEDA1720 on C_MONEDA1720.CODIGO = C_VALOR.CLSMONET and 0 = Funciones.empty( C_VALOR.CLSMONET )
	 left join ZooLogic.OPETAR as C_OPERADORADETARJETA on C_OPERADORADETARJETA.CODIGO = C_VALOR.OPETAR and 0 = Funciones.empty( C_VALOR.OPETAR )
	 left join ZooLogic.VALCAMBIO as C_VALEDECAMBIO on C_VALEDECAMBIO.CCOD = C_ITEMVALORES.VALECAMBIO and 0 = Funciones.empty( C_ITEMVALORES.VALECAMBIO )
	 left join ZooLogic.CAJAESTA as C_CAJAESTADO1640 on C_CAJAESTADO1640.NUMCAJA = C_FACTURA.IDCAJA and 0 = Funciones.empty( C_FACTURA.IDCAJA )
	 left join ZooLogic.CLI as C_CLIENTE on C_CLIENTE.CLCOD = C_FACTURA.FPERSON and 0 = Funciones.empty( C_FACTURA.FPERSON )
	 left join Zoologic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = C_FACTURA.FPERSON and funciones.alltrim(upper(C_FACTURA.RolDePersonaVirtual)) = 'PROVEEDOR'
	 left join Zoologic.COMCAJ as C_COMCAJ on C_COMCAJ.NUMERO = C_FACTURA.FNUMCOMP and C_FACTURA.FACTTIPO = '98' and 0 = Funciones.empty( C_FACTURA.FNUMCOMP )
	 left join Zoologic.CONCECAJA as C_CONCECAJA on C_CONCECAJA.CODIGO = C_COMCAJ.CONCEPTO  and C_FACTURA.FACTTIPO = '98' and 0 = Funciones.empty( C_COMCAJ.CONCEPTO )
	 left join ZooLogic.VEN as C_VENDEDOR on C_VENDEDOR.CLCOD = C_FACTURA.FVEN and 0 = Funciones.empty( C_FACTURA.FVEN )	
	  where ( not 1 = funciones.empty( c_itemvalores.jjnum ) ) and 
		( ( @ITEMVALORES_COTIZA_DESDE is null ) OR ( c_ITEMVALORES.JJCotiz >= @ITEMVALORES_COTIZA_DESDE ) ) and 
		( ( @ITEMVALORES_COTIZA_HASTA is null ) OR ( c_ITEMVALORES.JJCotiz <= @ITEMVALORES_COTIZA_HASTA ) ) and 
		( ( @ITEMVALORES_FECHA_DESDE is null ) OR ( c_ITEMVALORES.JJFE >= @ITEMVALORES_FECHA_DESDE ) ) and 
		( ( @ITEMVALORES_FECHA_HASTA is null ) OR ( c_ITEMVALORES.JJFE <= @ITEMVALORES_FECHA_HASTA ) ) and 
		( ( @ITEMVALORES_FECHACOMP_DESDE is null ) OR ( c_ITEMVALORES.JJfecha >= @ITEMVALORES_FECHACOMP_DESDE ) ) and 
		( ( @ITEMVALORES_FECHACOMP_HASTA is null ) OR ( c_ITEMVALORES.JJfecha <= @ITEMVALORES_FECHACOMP_HASTA ) ) and 
		( ( @ITEMVALORES_LETRA_DESDE is null ) OR ( c_ITEMVALORES.Letra >= @ITEMVALORES_LETRA_DESDE ) ) and 
		( ( @ITEMVALORES_LETRA_HASTA is null ) OR ( c_ITEMVALORES.Letra <= @ITEMVALORES_LETRA_HASTA ) ) and 
		( ( @ITEMVALORES_MONTO_DESDE is null ) OR ( c_ITEMVALORES.JJM >= @ITEMVALORES_MONTO_DESDE ) ) and 
		( ( @ITEMVALORES_MONTO_HASTA is null ) OR ( c_ITEMVALORES.JJM <= @ITEMVALORES_MONTO_HASTA ) ) and 
		( ( @ITEMVALORES_NRODOCUMENTO_DESDE is null ) OR ( c_ITEMVALORES.NroDoc >= @ITEMVALORES_NRODOCUMENTO_DESDE ) ) and 
		( ( @ITEMVALORES_NRODOCUMENTO_HASTA is null ) OR ( c_ITEMVALORES.NroDoc <= @ITEMVALORES_NRODOCUMENTO_HASTA ) ) and 
		( ( @ITEMVALORES_NROITEM_DESDE is null ) OR ( c_ITEMVALORES.NroItem >= @ITEMVALORES_NROITEM_DESDE ) ) and 
		( ( @ITEMVALORES_NROITEM_HASTA is null ) OR ( c_ITEMVALORES.NroItem <= @ITEMVALORES_NROITEM_HASTA ) ) and 
		( ( @ITEMVALORES_NUMEROCUPON_DESDE is null ) OR ( c_ITEMVALORES.NroCupon >= @ITEMVALORES_NUMEROCUPON_DESDE ) ) and 
		( ( @ITEMVALORES_NUMEROCUPON_HASTA is null ) OR ( c_ITEMVALORES.NroCupon <= @ITEMVALORES_NUMEROCUPON_HASTA ) ) and 
		( ( @ITEMVALORES_NUMEROINTERNO_DESDE is null ) OR ( c_ITEMVALORES.NroInterno >= @ITEMVALORES_NUMEROINTERNO_DESDE ) ) and 
		( ( @ITEMVALORES_NUMEROINTERNO_HASTA is null ) OR ( c_ITEMVALORES.NroInterno <= @ITEMVALORES_NUMEROINTERNO_HASTA ) ) and 
		( ( @ITEMVALORES_NUMEROTARJETA_DESDE is null ) OR ( c_ITEMVALORES.NroTarjeta >= @ITEMVALORES_NUMEROTARJETA_DESDE ) ) and 
		( ( @ITEMVALORES_NUMEROTARJETA_HASTA is null ) OR ( c_ITEMVALORES.NroTarjeta <= @ITEMVALORES_NUMEROTARJETA_HASTA ) ) and 
		( ( @ITEMVALORES_NUMERODECOMPROBANTE_DESDE is null ) OR ( c_ITEMVALORES.NumCompr >= @ITEMVALORES_NUMERODECOMPROBANTE_DESDE ) ) and 
		( ( @ITEMVALORES_NUMERODECOMPROBANTE_HASTA is null ) OR ( c_ITEMVALORES.NumCompr <= @ITEMVALORES_NUMERODECOMPROBANTE_HASTA ) ) and 
		( ( @ITEMVALORES_PESOSALCAMBIO_DESDE is null ) OR ( c_ITEMVALORES.Pesos >= @ITEMVALORES_PESOSALCAMBIO_DESDE ) ) and 
		( ( @ITEMVALORES_PESOSALCAMBIO_HASTA is null ) OR ( c_ITEMVALORES.Pesos <= @ITEMVALORES_PESOSALCAMBIO_HASTA ) ) and 
		( ( @ITEMVALORES_PUNTODEVENTA_DESDE is null ) OR ( c_ITEMVALORES.PtoVenta >= @ITEMVALORES_PUNTODEVENTA_DESDE ) ) and 
		( ( @ITEMVALORES_PUNTODEVENTA_HASTA is null ) OR ( c_ITEMVALORES.PtoVenta <= @ITEMVALORES_PUNTODEVENTA_HASTA ) ) and 
		( ( @ITEMVALORES_SIGNO_DESDE is null ) OR ( c_ITEMVALORES.Signo >= @ITEMVALORES_SIGNO_DESDE ) ) and 
		( ( @ITEMVALORES_SIGNO_HASTA is null ) OR ( c_ITEMVALORES.Signo <= @ITEMVALORES_SIGNO_HASTA ) ) and 
		( ( @ITEMVALORES_TIPO_DESDE is null ) OR ( c_ITEMVALORES.JJT >= @ITEMVALORES_TIPO_DESDE ) ) and 
		( ( @ITEMVALORES_TIPO_HASTA is null ) OR ( c_ITEMVALORES.JJT <= @ITEMVALORES_TIPO_HASTA ) ) and 
		( ( @ITEMVALORES_TIPODOCUMENTO_DESDE is null ) OR ( c_ITEMVALORES.TipoDoc >= @ITEMVALORES_TIPODOCUMENTO_DESDE ) ) and 
		( ( @ITEMVALORES_TIPODOCUMENTO_HASTA is null ) OR ( c_ITEMVALORES.TipoDoc <= @ITEMVALORES_TIPODOCUMENTO_HASTA ) ) and 
		( ( @ITEMVALORES_TIPODECOMPROBANTE_DESDE is null ) OR ( c_ITEMVALORES.TIPCOMP >= @ITEMVALORES_TIPODECOMPROBANTE_DESDE ) ) and 
		( ( @ITEMVALORES_TIPODECOMPROBANTE_HASTA is null ) OR ( c_ITEMVALORES.TIPCOMP <= @ITEMVALORES_TIPODECOMPROBANTE_HASTA ) ) and 
		( ( @ITEMVALORES_TOTAL_DESDE is null ) OR ( c_ITEMVALORES.JJTotFac >= @ITEMVALORES_TOTAL_DESDE ) ) and 
		( ( @ITEMVALORES_TOTAL_HASTA is null ) OR ( c_ITEMVALORES.JJTotFac <= @ITEMVALORES_TOTAL_HASTA ) ) and 
		( ( @ITEMVALORES_TURNO_DESDE is null ) OR ( c_ITEMVALORES.JJTurno >= @ITEMVALORES_TURNO_DESDE ) ) and 
		( ( @ITEMVALORES_TURNO_HASTA is null ) OR ( c_ITEMVALORES.JJTurno <= @ITEMVALORES_TURNO_HASTA ) ) and 
		( ( @ITEMVALORES_VALOR_DESDE is null ) OR ( c_ITEMVALORES.JJCO >= @ITEMVALORES_VALOR_DESDE ) ) and 
		( ( @ITEMVALORES_VALOR_HASTA is null ) OR ( c_ITEMVALORES.JJCO <= @ITEMVALORES_VALOR_HASTA ) ) and 
		( ( @ITEMVALORES_VALORDETALLE_DESDE is null ) OR ( c_ITEMVALORES.JJDE >= @ITEMVALORES_VALORDETALLE_DESDE ) ) and 
		( ( @ITEMVALORES_VALORDETALLE_HASTA is null ) OR ( c_ITEMVALORES.JJDE <= @ITEMVALORES_VALORDETALLE_HASTA ) ) and 
		( ( @FACTURA_VENDEDOR_DESDE is null ) OR ( c_vendedor.CLCOD >=@FACTURA_VENDEDOR_DESDE ) ) and 
		( ( @FACTURA_VENDEDOR_HASTA is null ) OR ( c_vendedor.CLCOD <= @FACTURA_VENDEDOR_HASTA ) ) and 
		( ( @VENDEDOR_NOMBRE_DESDE is null ) OR ( c_VENDEDOR.CLNOM >= @VENDEDOR_NOMBRE_DESDE ) ) and 
		( ( @VENDEDOR_NOMBRE_HASTA is null ) OR ( C_VENDEDOR.CLNOM <= @VENDEDOR_NOMBRE_HASTA ) ) and 
		( ( @ITEMVALORES_FECHAULTCOTIZACION_DESDE is null ) OR ( c_ITEMVALORES.FechCoti >= @ITEMVALORES_FECHAULTCOTIZACION_DESDE ) ) and 
		( ( @ITEMVALORES_FECHAULTCOTIZACION_HASTA is null ) OR ( c_ITEMVALORES.FechCoti <= @ITEMVALORES_FECHAULTCOTIZACION_HASTA ) ) and 
		( ( @ITEMVALORES_ULTIMACOTIZACION_DESDE is null ) OR ( c_ITEMVALORES.Cotiza >= @ITEMVALORES_ULTIMACOTIZACION_DESDE ) ) and 
		( ( @ITEMVALORES_ULTIMACOTIZACION_HASTA is null ) OR ( c_ITEMVALORES.Cotiza <= @ITEMVALORES_ULTIMACOTIZACION_HASTA ) ) and 
		( ( @ITEMVALORES_RECARGOPORCENTAJE_DESDE is null ) OR ( c_ITEMVALORES.recporc >= @ITEMVALORES_RECARGOPORCENTAJE_DESDE ) ) and 
		( ( @ITEMVALORES_RECARGOPORCENTAJE_HASTA is null ) OR ( c_ITEMVALORES.recporc <= @ITEMVALORES_RECARGOPORCENTAJE_HASTA ) ) and 
		( ( @ITEMVALORES_RECARGOMONTOSINIMPUESTOS_DESDE is null ) OR ( c_ITEMVALORES.recsinimp >= @ITEMVALORES_RECARGOMONTOSINIMPUESTOS_DESDE ) ) and 
		( ( @ITEMVALORES_RECARGOMONTOSINIMPUESTOS_HASTA is null ) OR ( c_ITEMVALORES.recsinimp <= @ITEMVALORES_RECARGOMONTOSINIMPUESTOS_HASTA ) ) and 
		( ( @ITEMVALORES_RECARGOSINPERCEPCIONES_DESDE is null ) OR ( c_ITEMVALORES.recsinper >= @ITEMVALORES_RECARGOSINPERCEPCIONES_DESDE ) ) and 
		( ( @ITEMVALORES_RECARGOSINPERCEPCIONES_HASTA is null ) OR ( c_ITEMVALORES.recsinper <= @ITEMVALORES_RECARGOSINPERCEPCIONES_HASTA ) ) and 
		( ( @ITEMVALORES_NUMEROVALEDECAMBIO_DESDE is null ) OR ( c_ITEMVALORES.ValeCambio >= @ITEMVALORES_NUMEROVALEDECAMBIO_DESDE ) ) and 
		( ( @ITEMVALORES_NUMEROVALEDECAMBIO_HASTA is null ) OR ( c_ITEMVALORES.ValeCambio <= @ITEMVALORES_NUMEROVALEDECAMBIO_HASTA ) ) and 
		( ( @ITEMVALORES_CAJA_DESDE is null ) OR ( c_ITEMVALORES.IdCaja >= @ITEMVALORES_CAJA_DESDE ) ) and 
		( ( @ITEMVALORES_CAJA_HASTA is null ) OR ( c_ITEMVALORES.IdCaja <= @ITEMVALORES_CAJA_HASTA ) ) and 
		( ( @ITEMVALORES_CONDICIONDEPAGO_DESDE is null ) OR ( c_ITEMVALORES.CondPago >= @ITEMVALORES_CONDICIONDEPAGO_DESDE ) ) and 
		( ( @ITEMVALORES_CONDICIONDEPAGO_HASTA is null ) OR ( c_ITEMVALORES.CondPago <= @ITEMVALORES_CONDICIONDEPAGO_HASTA ) ) and 
		( ( @FACTURA_CLIENTE_DESDE is null ) OR ( C_FACTURA.FPerson >= @FACTURA_CLIENTE_DESDE ) ) and 
		( ( @FACTURA_CLIENTE_HASTA is null ) OR ( C_FACTURA.FPerson <= @FACTURA_CLIENTE_HASTA ) ) and 
		( ( @FACTURA_FECHA_DESDE is null ) OR ( C_FACTURA.FFCH >= @FACTURA_FECHA_DESDE ) ) and 
		( ( @FACTURA_FECHA_HASTA is null ) OR ( C_FACTURA.FFCH <= @FACTURA_FECHA_HASTA ) ) and 

		( ( @FACTURA_HALTAFW_DESDE is null ) OR ( C_FACTURA.HALTAFW >= @FACTURA_HALTAFW_DESDE ) ) and 
		( ( @FACTURA_HALTAFW_HASTA is null ) OR ( C_FACTURA.HALTAFW <= @FACTURA_HALTAFW_HASTA ) ) and 

		( ( @FACTURA_IMPUESTOS_DESDE is null ) OR ( C_FACTURA.fImpuesto >= @FACTURA_IMPUESTOS_DESDE ) ) and 
		( ( @FACTURA_IMPUESTOS_HASTA is null ) OR ( C_FACTURA.fImpuesto <= @FACTURA_IMPUESTOS_HASTA ) ) and 
		( ( @FACTURA_LETRA_DESDE is null ) OR ( C_FACTURA.FLETRA >= @FACTURA_LETRA_DESDE ) ) and 
		( ( @FACTURA_LETRA_HASTA is null ) OR ( C_FACTURA.FLETRA <= @FACTURA_LETRA_HASTA ) ) and 
		( ( @FACTURA_LISTADEPRECIOS_DESDE is null ) OR ( C_FACTURA.CodLista >= @FACTURA_LISTADEPRECIOS_DESDE ) ) and 
		( ( @FACTURA_LISTADEPRECIOS_HASTA is null ) OR ( C_FACTURA.CodLista <= @FACTURA_LISTADEPRECIOS_HASTA ) ) and 
		( ( @FACTURA_MONEDACOMPROBANTE_DESDE is null ) OR ( C_FACTURA.Moneda >= @FACTURA_MONEDACOMPROBANTE_DESDE ) ) and 
		( ( @FACTURA_MONEDACOMPROBANTE_HASTA is null ) OR ( C_FACTURA.Moneda <= @FACTURA_MONEDACOMPROBANTE_HASTA ) ) and 
		( ( @FACTURA_NUMERO_DESDE is null ) OR ( C_FACTURA.FNUMCOMP >= @FACTURA_NUMERO_DESDE ) ) and 
		( ( @FACTURA_NUMERO_HASTA is null ) OR ( C_FACTURA.FNUMCOMP <= @FACTURA_NUMERO_HASTA ) ) and 
		( ( @FACTURA_PUNTODEVENTA_DESDE is null ) OR ( C_FACTURA.FPTOVEN >= @FACTURA_PUNTODEVENTA_DESDE ) ) and 
		( ( @FACTURA_PUNTODEVENTA_HASTA is null ) OR ( C_FACTURA.FPTOVEN <= @FACTURA_PUNTODEVENTA_HASTA ) ) and 
		( ( @FACTURA_TIPOCOMPROBANTE_DESDE is null ) OR ( C_FACTURA.FACTTIPO >= @FACTURA_TIPOCOMPROBANTE_DESDE ) ) and 
		( ( @FACTURA_TIPOCOMPROBANTE_HASTA is null ) OR ( C_FACTURA.FACTTIPO <= @FACTURA_TIPOCOMPROBANTE_HASTA ) ) and 
		( ( @FACTURA_TOTAL_DESDE is null ) OR ( C_FACTURA.FTotal >= @FACTURA_TOTAL_DESDE ) ) and 
		( ( @FACTURA_TOTAL_HASTA is null ) OR ( C_FACTURA.FTotal <= @FACTURA_TOTAL_HASTA ) ) and 
		( ( @FACTURA_SIGNODEMOVIMIENTO_DESDE is null ) OR ( C_FACTURA.signomov >= @FACTURA_SIGNODEMOVIMIENTO_DESDE ) ) and 
		( ( @FACTURA_SIGNODEMOVIMIENTO_HASTA is null ) OR ( C_FACTURA.signomov <= @FACTURA_SIGNODEMOVIMIENTO_HASTA ) ) and 
		( ( @FACTURA_ANULADO is null ) OR ( C_FACTURA.Anulado = @FACTURA_ANULADO ) ) and 
		( ( @FACTURA_CONDICIONIVA_DESDE is null ) OR ( C_FACTURA.CondivaLp >= @FACTURA_CONDICIONIVA_DESDE ) ) and 
		( ( @FACTURA_CONDICIONIVA_HASTA is null ) OR ( C_FACTURA.CondivaLp <= @FACTURA_CONDICIONIVA_HASTA ) ) and 
		( ( @FACTURA_CUIT_DESDE is null ) OR ( C_FACTURA.fCuit >= @FACTURA_CUIT_DESDE ) ) and 
		( ( @FACTURA_CUIT_HASTA is null ) OR ( C_FACTURA.fCuit <= @FACTURA_CUIT_HASTA ) ) and 
		( ( @FACTURA_TOTALIMPUESTOS_DESDE is null ) OR ( C_FACTURA.totimpue >= @FACTURA_TOTALIMPUESTOS_DESDE ) ) and 
		( ( @FACTURA_TOTALIMPUESTOS_HASTA is null ) OR ( C_FACTURA.totimpue <= @FACTURA_TOTALIMPUESTOS_HASTA ) ) and 
		( ( @FACTURA_TOTALRECARGOS_DESDE is null ) OR ( C_FACTURA.totrecarCI >= @FACTURA_TOTALRECARGOS_DESDE ) ) and 
		( ( @FACTURA_TOTALRECARGOS_HASTA is null ) OR ( C_FACTURA.totrecarCI <= @FACTURA_TOTALRECARGOS_HASTA ) ) and 
		( ( @FACTURA_TOTALDESCUENTOS_DESDE is null ) OR ( C_FACTURA.totdesc >= @FACTURA_TOTALDESCUENTOS_DESDE ) ) and 
		( ( @FACTURA_TOTALDESCUENTOS_HASTA is null ) OR ( C_FACTURA.totdesc <= @FACTURA_TOTALDESCUENTOS_HASTA ) ) and 
		( ( @FACTURA_TOTALRECARGOSSINIMPUESTOS_DESDE is null ) OR ( C_FACTURA.totrecarSI >= @FACTURA_TOTALRECARGOSSINIMPUESTOS_DESDE ) ) and 
		( ( @FACTURA_TOTALRECARGOSSINIMPUESTOS_HASTA is null ) OR ( C_FACTURA.totrecarSI <= @FACTURA_TOTALRECARGOSSINIMPUESTOS_HASTA ) ) and 
		( ( @FACTURA_TOTALDESCUENTOSSINIMPUESTOS_DESDE is null ) OR ( C_FACTURA.totdescSI >= @FACTURA_TOTALDESCUENTOSSINIMPUESTOS_DESDE ) ) and 
		( ( @FACTURA_TOTALDESCUENTOSSINIMPUESTOS_HASTA is null ) OR ( C_FACTURA.totdescSI <= @FACTURA_TOTALDESCUENTOSSINIMPUESTOS_HASTA ) ) and 
		( ( @FACTURA_CAJA_DESDE is null ) OR ( C_FACTURA.IdCaja >= @FACTURA_CAJA_DESDE ) ) and 
		( ( @FACTURA_CAJA_HASTA is null ) OR ( C_FACTURA.IdCaja <= @FACTURA_CAJA_HASTA ) ) and 
		( ( @FACTURA_COTIZACION_DESDE is null ) OR ( C_FACTURA.Cotiz >= @FACTURA_COTIZACION_DESDE ) ) and 
		( ( @FACTURA_COTIZACION_HASTA is null ) OR ( C_FACTURA.Cotiz <= @FACTURA_COTIZACION_HASTA ) ) and 
		( ( @FACTURA_MONEDASISTEMA_DESDE is null ) OR ( C_FACTURA.MonSis >= @FACTURA_MONEDASISTEMA_DESDE ) ) and 
		( ( @FACTURA_MONEDASISTEMA_HASTA is null ) OR ( C_FACTURA.MonSis <= @FACTURA_MONEDASISTEMA_HASTA ) ) and 
		( ( @FACTURA_TOTALCANTIDAD_DESDE is null ) OR ( C_FACTURA.TotalCant >= @FACTURA_TOTALCANTIDAD_DESDE ) ) and 
		( ( @FACTURA_TOTALCANTIDAD_HASTA is null ) OR ( C_FACTURA.TotalCant <= @FACTURA_TOTALCANTIDAD_HASTA ) ) and 
		( ( @VALOR_CODIGO_DESDE is null ) OR ( C_VALOR.CLCOD >= @VALOR_CODIGO_DESDE ) ) and 
		( ( @VALOR_CODIGO_HASTA is null ) OR ( C_VALOR.CLCOD <= @VALOR_CODIGO_HASTA ) ) and 
		( ( @VALOR_DESCRIPCION_DESDE is null ) OR ( C_VALOR.CLNOM >= @VALOR_DESCRIPCION_DESDE ) ) and 
		( ( @VALOR_DESCRIPCION_HASTA is null ) OR ( C_VALOR.CLNOM <= @VALOR_DESCRIPCION_HASTA ) ) and 
		( ( @VALOR_SIMBOLOMONETARIO_DESDE is null ) OR ( C_VALOR.CLSMONET >= @VALOR_SIMBOLOMONETARIO_DESDE ) ) and 
		( ( @VALOR_SIMBOLOMONETARIO_HASTA is null ) OR ( C_VALOR.CLSMONET <= @VALOR_SIMBOLOMONETARIO_HASTA ) ) and 
		( ( @VALOR_TIPO is null ) OR ( C_VALOR.CLCFI = @VALOR_TIPO ) ) and 
		( ( @VALOR_GRUPO_DESDE is null ) OR ( C_VALOR.CLGRUP >= @VALOR_GRUPO_DESDE ) ) and 
		( ( @VALOR_GRUPO_HASTA is null ) OR ( C_VALOR.CLGRUP <= @VALOR_GRUPO_HASTA ) ) and 
		( ( @VALOR_RECARGO_DESDE is null ) OR ( C_VALOR.clrecargo >= @VALOR_RECARGO_DESDE ) ) and 
		( ( @VALOR_RECARGO_HASTA is null ) OR ( C_VALOR.clrecargo <= @VALOR_RECARGO_HASTA ) ) and 
		( ( @VALOR_PERMITEVUELTO is null ) OR ( C_VALOR.pervuelto = @VALOR_PERMITEVUELTO ) ) and 
		( ( @VALOR_OPERADORATARJETA_DESDE is null ) OR ( C_VALOR.opetar >= @VALOR_OPERADORATARJETA_DESDE ) ) and 
		( ( @VALOR_OPERADORATARJETA_HASTA is null ) OR ( C_VALOR.opetar <= @VALOR_OPERADORATARJETA_HASTA ) ) and 
		( ( @VALOR_TIPOTARJETA is null ) OR ( C_VALOR.tipotarj = @VALOR_TIPOTARJETA ) ) and 
		( ( @VALOR_CLASIFICACION_DESDE is null ) OR ( C_VALOR.CLCLAS >= @VALOR_CLASIFICACION_DESDE ) ) and 
		( ( @VALOR_CLASIFICACION_HASTA is null ) OR ( C_VALOR.CLCLAS <= @VALOR_CLASIFICACION_HASTA ) ) and 
		( ( @VALOR_DESCUENTO_DESDE is null ) OR ( C_VALOR.CLDESCP >= @VALOR_DESCUENTO_DESDE ) ) and 
		( ( @VALOR_DESCUENTO_HASTA is null ) OR ( C_VALOR.CLDESCP <= @VALOR_DESCUENTO_HASTA ) ) and 
		( ( @ITEMVALORES_RECIBIDO_DESDE is null ) OR ( c_ITEMVALORES.JJRecib >= @ITEMVALORES_RECIBIDO_DESDE ) ) and 
		( ( @ITEMVALORES_RECIBIDO_HASTA is null ) OR ( c_ITEMVALORES.JJRecib <= @ITEMVALORES_RECIBIDO_HASTA ) ) and 
		( ( @ITEMVALORES_ESVUELTO is null ) OR ( @ITEMVALORES_ESVUELTO = 0 and c_ITEMVALORES.esvuelto = 0 ) or ( @ITEMVALORES_ESVUELTO = 1 and ( c_ITEMVALORES.esvuelto = 0 or c_ITEMVALORES.esvuelto = 1)  )  ) and 
		( ( @CLIENTE_CLIENTE_NOMBRE_DESDE is null ) OR ( C_CLIENTE.CLNOM >= @CLIENTE_CLIENTE_NOMBRE_DESDE ) ) and 
		( ( @CLIENTE_CLIENTE_NOMBRE_HASTA is null ) OR ( C_CLIENTE.CLNOM <= @CLIENTE_CLIENTE_NOMBRE_HASTA ) ) and 
		( ( @LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_DESDE is null ) OR ( C_LISTADEPRECIOS.LPR_NOMBRE >= @LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_DESDE ) ) and 
		( ( @LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_HASTA is null ) OR ( C_LISTADEPRECIOS.LPR_NOMBRE <= @LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_HASTA ) ) and 
		( ( @MONEDA_MONEDACOMPROBANTE_DESCRIPCION_DESDE is null ) OR ( C_MONEDA1420.Descrip >= @MONEDA_MONEDACOMPROBANTE_DESCRIPCION_DESDE ) ) and 
		( ( @MONEDA_MONEDACOMPROBANTE_DESCRIPCION_HASTA is null ) OR ( C_MONEDA1420.Descrip <= @MONEDA_MONEDACOMPROBANTE_DESCRIPCION_HASTA ) ) and 
		( ( @CAJAESTADO_CAJA_DESCRIPCION_DESDE is null ) OR ( C_CAJAESTADO1640.Descrip >= @CAJAESTADO_CAJA_DESCRIPCION_DESDE ) ) and 
		( ( @CAJAESTADO_CAJA_DESCRIPCION_HASTA is null ) OR ( C_CAJAESTADO1640.Descrip <= @CAJAESTADO_CAJA_DESCRIPCION_HASTA ) ) and 
		( ( @MONEDA_MONEDASISTEMA_DESCRIPCION_DESDE is null ) OR ( C_MONEDA1670.Descrip >= @MONEDA_MONEDASISTEMA_DESCRIPCION_DESDE ) ) and 
		( ( @MONEDA_MONEDASISTEMA_DESCRIPCION_HASTA is null ) OR ( C_MONEDA1670.Descrip <= @MONEDA_MONEDASISTEMA_DESCRIPCION_HASTA ) ) and 
		( ( @MONEDA_SIMBOLOMONETARIO_DESCRIPCION_DESDE is null ) OR ( C_MONEDA1720.Descrip >= @MONEDA_SIMBOLOMONETARIO_DESCRIPCION_DESDE ) ) and 
		( ( @MONEDA_SIMBOLOMONETARIO_DESCRIPCION_HASTA is null ) OR ( C_MONEDA1720.Descrip <= @MONEDA_SIMBOLOMONETARIO_DESCRIPCION_HASTA ) ) and 
		( ( @GRUPOVALOR_GRUPO_DESCRIPCION_DESDE is null ) OR ( C_GRUPOVALOR.GRUNOM >= @GRUPOVALOR_GRUPO_DESCRIPCION_DESDE ) ) and 
		( ( @GRUPOVALOR_GRUPO_DESCRIPCION_HASTA is null ) OR ( C_GRUPOVALOR.GRUNOM <= @GRUPOVALOR_GRUPO_DESCRIPCION_HASTA ) ) and 
		( ( @OPERADORADETARJETA_OPERADORATARJETA_DESCRIPCION_DESDE is null ) OR ( C_OPERADORADETARJETA.descrip >= @OPERADORADETARJETA_OPERADORATARJETA_DESCRIPCION_DESDE ) ) and 
		( ( @OPERADORADETARJETA_OPERADORATARJETA_DESCRIPCION_HASTA is null ) OR ( C_OPERADORADETARJETA.descrip <= @OPERADORADETARJETA_OPERADORATARJETA_DESCRIPCION_HASTA ) ) and 
		( ( @CLASIFICACIONCLIENTE_CLASIFICACION_DESCRIPCION_DESDE is null ) OR ( C_CLASIFICACIONCLIENTE.CLADES >= @CLASIFICACIONCLIENTE_CLASIFICACION_DESCRIPCION_DESDE ) ) and 
		( ( @CLASIFICACIONCLIENTE_CLASIFICACION_DESCRIPCION_HASTA is null ) OR ( C_CLASIFICACIONCLIENTE.CLADES <= @CLASIFICACIONCLIENTE_CLASIFICACION_DESCRIPCION_HASTA ) )
	) as Subconsulta
)