IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[DiasDeVencimiento]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[DiasDeVencimiento];
GO;

CREATE FUNCTION [Funciones].[DiasDeVencimiento]
( 
	@FechaBase date,
	@FechaAVerificar Date,
	@DiasDeTolerancia int
	)
	returns int
AS
	begin
		declare @Dias int

		set @Dias = datediff( day, @FechaBase, @FechaAVerificar ) - @DiasDeTolerancia

		return @Dias
	end
