IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_AFIPRG3685_Compras]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_AFIPRG3685_Compras];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_AFIPRG3685_Compras]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update [ZooLogic].[FacCompra]
	set FecExpo = @NuevaFechaExportacion
	where Anulado = 0
		and FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
	
	update [ZooLogic].[NCCompra]
	set FecExpo = @NuevaFechaExportacion
	where Anulado = 0
		and FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
	
	update [ZooLogic].[NDCompra]
	set FecExpo = @NuevaFechaExportacion
	where Anulado = 0
		and FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
	
	update [ZooLogic].[LiqMensual]
	set FecExpo = @NuevaFechaExportacion
	where FechaLiq between @FechaComprobanteDesde and @FechaComprobanteHasta
END