IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerFechaVigDelPrecioRealDeLaCombinacionConVigencia]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerFechaVigDelPrecioRealDeLaCombinacionConVigencia];
GO;

CREATE FUNCTION [Funciones].[ObtenerFechaVigDelPrecioRealDeLaCombinacionConVigencia]
(
    @P_ARTICULO Varchar( 25 ), 
    @P_CCOLOR Varchar( 16 ), 
    @P_TALLE Varchar( 15 ), 
    @CodigoLPrecio Varchar(6), 
    @VigenciaParaFecha date
 )
RETURNS date
AS
BEGIN
DECLARE @retorno date
    set @P_ARTICULO = rtrim( @P_ARTICULO );
    set @P_CCOLOR = rtrim( coalesce( @P_CCOLOR, '' ) );
    set @P_TALLE = rtrim( coalesce( @P_TALLE, '' ) );

    
    set @retorno = 
        (
        select top 1
            sc.FECHAVIG
        from
            (
            select 
                prc.PDIRECTO
                , prc.FECHAVIG
                , prc.TIMESTAMPA
                , row_number() over( partition by prc.CCOLOR, prc.TALLE order by prc.FECHAVIG desc, prc.TIMESTAMPA desc ) Prioridad
                , power(0, len( case when prc.CCOLOR = @P_CCOLOR then replace( prc.CCOLOR, @P_CCOLOR, '' ) else prc.CCOLOR end ) ) * power(0, len( case when prc.talle = @P_TALLE then replace( prc.TALLE, @P_TALLE, '' ) else prc.talle end ) ) * 0.3 + sign( len( prc.CCOLOR ) ) * sign( len( @P_CCOLOR ) ) * power(0, len( case when prc.CCOLOR = @P_CCOLOR then replace( prc.CCOLOR, @P_CCOLOR, '' ) else prc.CCOLOR end ) ) * 0.2 + sign( len( prc.TALLE ) ) * sign( len( @P_TALLE ) ) * power(0, len( case when prc.talle = @P_TALLE then replace( prc.TALLE, @P_TALLE, '' ) else prc.talle end ) ) * 0.1 Grado
            from ZOOLOGIC.PRECIOAR prc
            where 1=1
                and prc.LISTAPRE = @CodigoLPrecio
                and prc.ARTICULO = @P_ARTICULO
                and case when prc.CCOLOR = @P_CCOLOR then replace( prc.CCOLOR, @P_CCOLOR, '' ) else prc.CCOLOR end = ''
                and case when prc.talle = @P_TALLE then replace( prc.TALLE, @P_TALLE, '' ) else prc.talle end = ''
                and prc.FECHAVIG <= case when coalesce(@VigenciaParaFecha, '') = '' then getdate() else @VigenciaParaFecha end
            ) sc
        where Prioridad = 1
        order by sign( sc.PDIRECTO ) desc, sc.FECHAVIG desc, sc.Grado desc, sc.TIMESTAMPA desc
        )

	return @retorno
end
