IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[ObtenerImputacionesParaCentrosDeCostosPorArticulo]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[ObtenerImputacionesParaCentrosDeCostosPorArticulo];
GO;
Create function [Contabilidad].[ObtenerImputacionesParaCentrosDeCostosPorArticulo]
	( 
		@tblImpdircca as Contabilidad.udt_TableType_Impdircca ReadOnly,
		@TipoAsi int 
	)
	returns @imputaciones table
	(	cod char(15),
		CentroDeCosto varchar(20),
		DistribucionPorCentroDeCosto varchar(20)
	)
	as
	begin

		declare @CodAnterior char(15) = ''
		declare @Cod char(15) = ''
		Declare @CentroDeCosto varchar( 20 )
		Declare @DistribucionPorCentroDeCosto varchar( 20 )
		Declare @Importancia varchar( 40 )

		Declare cImpDir Cursor for
			select  entidad.artcod, 
					isnull( i.ccosto, '' ) CentroDeCosto,
					isnull( i.dccosto, '' ) DistribucionPorCentroDeCosto,
					isnull( replicate ('0',(10 - len(i.importanci))) + convert(varchar, i.importanci) + convert(char(8),i.FMODIFW,112) + i.HMODIFW, '' ) as Importancia
				from zoologic.art as entidad
					left join @tblImpdircca i on    ( entidad.artcod between i.artdesde and i.arthasta )
												and ( i.comp = 9 or i.comp = entidad.astock )
												and ( entidad.artfab between i.prodesde and i.prohasta )
												and ( entidad.atemporada between i.temdesde and i.temhasta )
												and ( entidad.ano between i.anidesde and i.anihasta )
												and ( entidad.familia between i.famdesde and i.famhasta )
												and ( entidad.mat between i.matdesde and i.mathasta )
												and ( entidad.linea between i.lindesde and i.linhasta )
												and ( entidad.grupo between i.grudesde and i.gruhasta )
												and ( entidad.catearti between i.catdesde and i.cathasta )
												and ( entidad.clasifart between i.cladesde and i.clahasta )
												and ( entidad.tipoarti between i.tipdesde and i.tiphasta )
												and ( i.artconiva = 0 or i.artconiva = entidad.artconiva )
												and ( entidad.artporiva between i.ivvdesde and i.ivvhasta )
												and ( i.artiva = 0 or i.artconiva = entidad.artiva )
												and ( entidad.anx2 between i.ivcdesde and i.ivchasta )
												and ( entidad.impinterno between i.impdesde and i.imphasta )
												and ( i.tipoasi = 0 or i.tipoasi = @TipoAsi )
				order by entidad.artcod, Importancia desc

		Open cImpDir
		Fetch Next From cImpDir Into @Cod, @CentroDeCosto, @DistribucionPorCentroDeCosto, @Importancia
		while @@FETCH_STATUS = 0
		begin
			if @Cod <> @CodAnterior
			begin
				Insert into @imputaciones ( Cod, CentroDeCosto, DistribucionPorCentroDeCosto )
				Select @Cod, @CentroDeCosto, @DistribucionPorCentroDeCosto
			end
			set @CodAnterior = @Cod
			Fetch Next From cImpDir Into @Cod, @CentroDeCosto, @DistribucionPorCentroDeCosto, @Importancia
		end
		close cImpDir
		Deallocate cImpDir

		return
	end

