IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[750_ITEMVALORES]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Listados].[750_ITEMVALORES];
GO;

create FUNCTION [Listados].[750_ITEMVALORES]
( @BaseDeDatos varchar(8),
	@FACTURA_FECHA_DESDE date,
	@FACTURA_FECHA_HASTA date,
	@Parametro1 varchar(max),
	@Parametro2 varchar(max) )
RETURNS TABLE
AS
RETURN
(

--DECLARE @basededatos VARCHAR(8) = 'CONTASIL'
--declare @Parametro1 varchar(max) = 1 -- 1: diario, 2: mensual
--declare @Parametro2 varchar(max) = 2500 -- saldo inicial 1er periodo
--declare @FACTURA_FECHA_DESDE  datetime = getdate() 
--declare @FACTURA_FECHA_HASTA datetime = getdate() + 60

	---------------------------------------------  SALDO INICIAL  ----------------------------------------------------------------------------
	select 
	ITEMVALORES__BD, 
	ITEMVALORES_JJNUM,
	convert( date, FACTURA_FFCH,103)as factura_ffch,
	ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
	ITEMVALORES_MOVIMIENTOVIRTUAL,
	ITEMVALORES_TIPOVALORVIRTUAL, 
	itemvalores_montovirtual, --> saldo_anterior
	ITEMVALORES_VALORVIRTUAL,
	FACTURA_CODIGO 

from (

	select 
		@basededatos as ITEMVALORES__BD,
		'' as ITEMVALORES_JJNUM,
		case when FACTURA_FFCH IS NULL then Funciones.ObtenerFechaDiaOMes(@Parametro1, @FACTURA_FECHA_DESDE) else Funciones.ObtenerFechaDiaOMes(@Parametro1,FACTURA_FFCH) end AS FACTURA_FFCH,
		'a. Saldo inicial' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		'' AS ITEMVALORES_MOVIMIENTOVIRTUAL,
		'' as ITEMVALORES_TIPOVALORVIRTUAL, 
		case when @Parametro2 = '' then 0.00 else convert( decimal(15,4),  @Parametro2 ) end + ISNULL( SUM(ingreso - egreso) OVER( ORDER BY FACTURA_FFCH ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING ), 0) AS itemvalores_montovirtual, --> saldo_anterior
		'' as ITEMVALORES_VALORVIRTUAL,
		'' as FACTURA_CODIGO
	from 
	(
		select * from [Funciones].[ObtenerSaldosCashFlow](@Parametro1,@FACTURA_FECHA_DESDE,@FACTURA_FECHA_HASTA)
	) as SaldoInicial
	  order by factura_ffch offset 0 rows

union all

	-----------------------------------------------  PERIODO PPAL Ingresos  ----------------------------------------------------------------------------

	select ITEMVALORES__BD,
		'' as ITEMVALORES_JJNUM,
		case when FACTURA_FFCH IS NULL then Funciones.ObtenerFechaDiaOMes(@Parametro1,@FACTURA_FECHA_DESDE) else Funciones.ObtenerFechaDiaOMes(@Parametro1,FACTURA_FFCH) end AS FACTURA_FFCH,
		ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		ITEMVALORES_MOVIMIENTOVIRTUAL,
		ITEMVALORES_TIPOVALORVIRTUAL, 
		sum(ingreso - egreso) as  itemvalores_montovirtual, 
		ITEMVALORES_VALORVIRTUAL,
		'' as FACTURA_CODIGO
	from 
	(

		--select @basededatos as ITEMVALORES__BD,
		--	case when c_regcta.FECHA = '01/01/1900 00:00:00'  then @FACTURA_FECHA_DESDE else  case when @Parametro1 = 1 then c_regcta.FECHA else DATEADD(dd,-(DAY(c_regcta.FECHA)-1),c_regcta.FECHA) end end as FACTURA_FFCH,
		--	--Funciones.ObtenerFechacomostring(2,c_regcta.FECHA,@FACTURA_FECHA_DESDE) AS ITEMVALORES_FECHAVIRTUAL,
		--	'b. Ingresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		--	'Acreditaciones' as ITEMVALORES_MOVIMIENTOVIRTUAL,
		--	c_regcta.CTABANC  as ITEMVALORES_TIPOVALORVIRTUAL,
		--	c_regcta.IMPORTE as ingreso,
		--	0 as egreso,
		--	'' + c_ctaban.CBDES as ITEMVALORES_VALORVIRTUAL
		--from zoologic.REGCTA c_regcta
		--	left join zoologic.detregcon c_detregcon on c_regcta.codigo = c_detregcon.reg
		--	left join zoologic.CTABAN as c_ctaban on c_ctaban.cbcod = c_regcta.ctabanc
		--	where (1=1) and c_detregcon.codigo is not null -- and c_regcta.pendiente = 0
		--	and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_regcta.FECHA >= @FACTURA_FECHA_DESDE ) )  
		--	and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_regcta.FECHA <= @FACTURA_FECHA_HASTA ) )
 
	--union all

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_factura.FFCH) else Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'b. Ingresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Cobranzas' as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			c_itemvalores.montosiste as ingreso,
			0 as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom as ITEMVALORES_VALORVIRTUAL
		from ZooLogic.VAL as c_ITEMVALORES
			left join ZooLogic.COMPROBANTEV as c_FACTURA on c_FACTURA.CODIGO = c_ITEMVALORES.JJNUM and 0 = Funciones.empty( c_ITEMVALORES.JJNUM )
 			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO ) 
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where (1=1) and c_FACTURA.CODIGO is not null and c_factura.facttipo IN (1,2,27,33,47,54,4,6,29,36,49,56) -- FACTURA Y NOTA DE DEBITO DE VENTA
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )


	union all

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_factura.FFCH) else Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'b. Ingresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Cobranzas' as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			c_itemvalores.montosiste as ingreso, 
			0 as egreso,
			'(' + funciones.alltrim(c_itemvalores.jjco ) + ') ' + c_valor.clnom as ITEMVALORES_VALORVIRTUAL
		from ZooLogic.VALNCCOMP as c_ITEMVALORES
			left join ZooLogic.NCCOMPRA as c_FACTURA on c_FACTURA.CODIGO = c_ITEMVALORES.JJNUM and 0 = Funciones.empty( c_ITEMVALORES.JJNUM )
 			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO )
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where (1=1) and c_FACTURA.CODIGO is not null
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all

		select 	ITEMVALORES__BD, 
		FACTURA_FFCH,
		ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		ITEMVALORES_MOVIMIENTOVIRTUAL,
		ITEMVALORES_TIPOVALORVIRTUAL, 
		ingreso,
		egreso,
		ITEMVALORES_VALORVIRTUAL
	from (
		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfecha = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_comcaj.fecha) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfecha) end as FACTURA_FFCH,			
			'b. Ingresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Comprobantes de caja de entrada ' + Funciones.Alltrim( c_comcaj.CONCEPTO ) + '-' + Funciones.Alltrim( c_concecaja.descrip )  as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.tipo, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			abs(c_itemvalores.monto) * Funciones.ObtenerCotizacion( getdate(), c_valor.clsmonet ) as ingreso,
			0 as egreso,
			'(' + funciones.alltrim ( c_itemvalores.codval ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from zoologic.COMPCAJADET as c_ITEMVALORES
			left join Zoologic.COMCAJ as c_comcaj on c_comcaj.codigo = c_ITEMVALORES.coddetval 
			LEFT JOIN Zoologic.CONCECAJA as c_CONCECAJA on c_CONCECAJA.CODIGO = c_comcaj.CONCEPTO and 0 = Funciones.empty( c_comcaj.CONCEPTO )
			inner join ZooLogic.XVAL as c_VALOR on c_VALOR.clcod = c_ITEMVALORES.codval 
		where ( 1=1 ) and c_ITEMVALORES.coddetval is not null and 
			( ( c_comcaj.TIPO = 1 and c_ITEMVALORES.ctotal > 0 ) or (c_comcaj.tipo = 2 and c_ITEMVALORES.ctotal < 0 )) -- Ingresos => Tipo1:Entrada con monto positivo o Tipo2:Salida con monto negativo
		) INGCompCaja
		where ( ( @FACTURA_FECHA_DESDE is null ) or ( FACTURA_FFCH >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( FACTURA_FFCH <= @FACTURA_FECHA_HASTA ) )
	
	union all

		select 	ITEMVALORES__BD, 
		FACTURA_FFCH,
		ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		ITEMVALORES_MOVIMIENTOVIRTUAL,
		ITEMVALORES_TIPOVALORVIRTUAL, 
		ingreso,
		egreso,
		ITEMVALORES_VALORVIRTUAL
	from (
		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00' then Funciones.ObtenerFechaDiaOMes(@Parametro1,@FACTURA_FECHA_DESDE) else Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'b. Ingresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Canje de valores '  as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			c_itemvalores.jjm * Funciones.ObtenerCotizacion( getdate(), c_valor.clsmonet ) as ingreso,
			0 as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from zoologic.CANJECUPONESDET as c_ITEMVALORES
			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO ) 
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) and c_ITEMVALORES.jjt is not null   -- Canje de valores entrantes
		and ( c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ))
		) IngresosCanje
		where  ( ( @FACTURA_FECHA_DESDE is null ) or ( FACTURA_FFCH >= @FACTURA_FECHA_DESDE ) )  
		and ( ( @FACTURA_FECHA_HASTA is null ) or ( FACTURA_FFCH <= @FACTURA_FECHA_HASTA ) )


	union all



	---------------------------------------------  PERIODO PPAL Egresos  ----------------------------------------------------------------------------
	---------------------------------------------  PERIODO PPAL Egresos  ----------------------------------------------------------------------------

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_factura.FFCH) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'c. Egresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Pagos' as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,
			c_itemvalores.montosiste as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom   as ITEMVALORES_VALORVIRTUAL
		from ZooLogic.VAL as c_ITEMVALORES
			left join ZooLogic.COMPROBANTEV as c_FACTURA on c_FACTURA.CODIGO = c_ITEMVALORES.JJNUM and 0 = Funciones.empty( c_ITEMVALORES.JJNUM )
 			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO )
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) and c_FACTURA.CODIGO is not null and c_factura.facttipo IN (3,5,28,35,48,55) -- NOTA DE CREDITO DE VENTA
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_factura.FFCH) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'c. Egresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Pagos' as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,
			c_itemvalores.montosiste as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from ZooLogic.VALFACCOMP as c_ITEMVALORES
			left join ZooLogic.FACCOMPRA as c_FACTURA on c_FACTURA.CODIGO = c_ITEMVALORES.JJNUM and 0 = Funciones.empty( c_ITEMVALORES.JJNUM )
 			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO )
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) and c_FACTURA.CODIGO is not null
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_factura.FFCH) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'c. Egresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Pagos' as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,
			c_itemvalores.montosiste as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from ZooLogic.VALNDCOMP as c_ITEMVALORES
			left join ZooLogic.NDCOMPRA as c_FACTURA on c_FACTURA.CODIGO = c_ITEMVALORES.JJNUM and 0 = Funciones.empty( c_ITEMVALORES.JJNUM )
 			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO )
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) and c_FACTURA.CODIGO is not null
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_comppago.FFCH) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'c. Egresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Otros pagos ' + Funciones.Alltrim( c_compPagoDet.fconc ) + '-' + Funciones.Alltrim( c_compPagoDet.FCONCD )  as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, '')  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,
			c_itemvalores.jjtotfac as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from zoologic.VALCOMPPAGO as c_ITEMVALORES
			left join Zoologic.COMPPAGO as c_comppago on c_comppago.codigo = c_ITEMVALORES.jjnum 
			left join zoologic.COMPPAGODET as c_compPagoDet on c_comppago.codigo = c_compPagoDet.codigo
			inner join ZooLogic.XVAL as c_VALOR on c_VALOR.clcod = c_ITEMVALORES.jjco 
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) 
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all

		select 	ITEMVALORES__BD, 
		FACTURA_FFCH, -- En algunos casos se graba jjfecha en blanco en compcajadet
		ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		ITEMVALORES_MOVIMIENTOVIRTUAL,
		ITEMVALORES_TIPOVALORVIRTUAL, 
		ingreso,
		egreso,
		ITEMVALORES_VALORVIRTUAL
	from (
		select  @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfecha = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_comcaj.fecha) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfecha) end as FACTURA_FFCH,			
			'c. Egresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Comprobantes de caja de salida ' +  Funciones.Alltrim( c_comcaj.CONCEPTO ) + '-' + Funciones.Alltrim( c_concecaja.descrip )  as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.tipo, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,	
			abs(c_itemvalores.monto) * Funciones.ObtenerCotizacion( getdate(), c_valor.clsmonet ) as egreso,
			'(' + funciones.alltrim ( c_itemvalores.codval ) + ') ' + c_valor.clnom as ITEMVALORES_VALORVIRTUAL
		from zoologic.COMPCAJADET as c_ITEMVALORES
			left join Zoologic.COMCAJ as c_comcaj on c_comcaj.codigo = c_ITEMVALORES.coddetval 
			LEFT JOIN Zoologic.CONCECAJA as c_CONCECAJA on c_CONCECAJA.CODIGO = c_comcaj.CONCEPTO and 0 = Funciones.empty( c_comcaj.CONCEPTO )
			inner join ZooLogic.XVAL as c_VALOR on c_VALOR.clcod = c_ITEMVALORES.codval 
		where ( 1=1 ) and c_ITEMVALORES.coddetval is not null and 
			( ( c_comcaj.TIPO = 1 and c_ITEMVALORES.ctotal < 0 ) or (c_comcaj.tipo = 2 and c_ITEMVALORES.ctotal > 0 )) -- Ingresos => Tipo1:Entrada con monto positivo o Tipo2:Salida con monto negativo
		) EGCompCaja
		where ( ( @FACTURA_FECHA_DESDE is null ) or ( FACTURA_FFCH >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( FACTURA_FFCH <= @FACTURA_FECHA_HASTA ) )

	union all

		select 	ITEMVALORES__BD, 
		FACTURA_FFCH,
		ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		ITEMVALORES_MOVIMIENTOVIRTUAL,
		ITEMVALORES_TIPOVALORVIRTUAL, 
		ingreso,
		egreso,
		ITEMVALORES_VALORVIRTUAL
	from (
		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00' then Funciones.ObtenerFechaDiaOMes(@Parametro1,@FACTURA_FECHA_DESDE) else Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'c. Egresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Canje de valores '  as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,
			c_itemvalores.jjm * Funciones.ObtenerCotizacion( getdate(), c_valor.clsmonet ) as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from zoologic.CANJECUPONESENT as c_ITEMVALORES
			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO ) 
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) and c_ITEMVALORES.jjt is not null   -- Canje de valores entregados
		and ( c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ))
		) IngresosCanje
		where  ( ( @FACTURA_FECHA_DESDE is null ) or ( FACTURA_FFCH >= @FACTURA_FECHA_DESDE ) )  
		and ( ( @FACTURA_FECHA_HASTA is null ) or ( FACTURA_FFCH <= @FACTURA_FECHA_HASTA ) )

	) as Periodo
		group by itemvalores__bd, FACTURA_FFCH, ITEMVALORES_TIPOMOVIMIENTOVIRTUAL, ITEMVALORES_MOVIMIENTOVIRTUAL, ITEMVALORES_TIPOVALORVIRTUAL, ITEMVALORES_VALORVIRTUAL
		order by itemvalores__bd, FACTURA_FFCH, ITEMVALORES_TIPOMOVIMIENTOVIRTUAL, ITEMVALORES_MOVIMIENTOVIRTUAL, ITEMVALORES_TIPOVALORVIRTUAL,ITEMVALORES_VALORVIRTUAL  offset 0 rows

union all
	--------------------------------------- CALCULO SUPERAVIT / DEFICIT ------------------------------------------------------------------

		select ITEMVALORES__BD,
		'' as ITEMVALORES_JJNUM,
		FACTURA_FFCH,
		'd. Superávit/Déficit' AS ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		'' AS ITEMVALORES_MOVIMIENTOVIRTUAL,
		'' AS ITEMVALORES_TIPOVALORVIRTUAL, 
		sum(ingreso - egreso) as  itemvalores_montovirtual, 
		'' AS ITEMVALORES_VALORVIRTUAL,
		'' as FACTURA_CODIGO
	from 
	(

	--	select @basededatos as ITEMVALORES__BD,
	--		case when c_regcta.FECHA = '01/01/1900 00:00:00'  then @FACTURA_FECHA_DESDE else  case when @Parametro1 = 1 then c_regcta.FECHA else DATEADD(dd,-(DAY(c_regcta.FECHA)-1),c_regcta.FECHA) end end as FACTURA_FFCH,

	--		--Funciones.ObtenerFechacomostring(2,c_regcta.fecha,@FACTURA_FECHA_DESDE) AS ITEMVALORES_FECHAVIRTUAL,

	--		'' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
	--		'Acreditaciones' as ITEMVALORES_MOVIMIENTOVIRTUAL,
	--		c_regcta.CTABANC  as ITEMVALORES_TIPOVALORVIRTUAL,
	--		c_regcta.IMPORTE as ingreso,
	--		0 as egreso,
	--		'' + '(' + funciones.alltrim ( c_ctaban.CBDES ) + ') '  as ITEMVALORES_VALORVIRTUAL
	--	from zoologic.REGCTA c_regcta
	--		left join zoologic.detregcon c_detregcon on c_regcta.codigo = c_detregcon.reg
	--		left join zoologic.CTABAN as c_ctaban on c_ctaban.cbcod = c_regcta.ctabanc
	--		where (1=1) and c_detregcon.codigo is not null -- and c_regcta.pendiente = 0
	--		and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_regcta.FECHA >= @FACTURA_FECHA_DESDE ) )  
	--		and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_regcta.FECHA <= @FACTURA_FECHA_HASTA ) )
 
	--union all

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_factura.FFCH) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Cobranzas' as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			c_itemvalores.montosiste as ingreso,
			0 as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom as ITEMVALORES_VALORVIRTUAL
		from ZooLogic.VAL as c_ITEMVALORES
			left join ZooLogic.COMPROBANTEV as c_FACTURA on c_FACTURA.CODIGO = c_ITEMVALORES.JJNUM and 0 = Funciones.empty( c_ITEMVALORES.JJNUM )
 			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO )
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where (1=1) and c_FACTURA.CODIGO is not null and c_factura.facttipo IN (1,2,27,33,47,54,4,6,29,36,49,56) -- FACTURA Y NOTA DE DEBITO DE VENTA
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_factura.FFCH) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Cobranzas' as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			c_itemvalores.montosiste as ingreso, 
			0 as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from ZooLogic.VALNCCOMP as c_ITEMVALORES
			left join ZooLogic.NCCOMPRA as c_FACTURA on c_FACTURA.CODIGO = c_ITEMVALORES.JJNUM and 0 = Funciones.empty( c_ITEMVALORES.JJNUM )
 			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO )
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where (1=1) and c_FACTURA.CODIGO is not null
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all

		select 	ITEMVALORES__BD, 
		FACTURA_FFCH,
		ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		ITEMVALORES_MOVIMIENTOVIRTUAL,
		ITEMVALORES_TIPOVALORVIRTUAL, 
		ingreso,
		egreso,
		ITEMVALORES_VALORVIRTUAL
	from (
		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfecha = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_comcaj.fecha) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfecha) end as FACTURA_FFCH,
			'' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Comprobantes de caja de entrada ' + Funciones.Alltrim( c_comcaj.CONCEPTO ) + '-' + Funciones.Alltrim( c_concecaja.descrip )  as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.tipo, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			abs(c_itemvalores.monto) * Funciones.ObtenerCotizacion( getdate(), c_valor.clsmonet ) as ingreso,
			0 as egreso,
			'(' + funciones.alltrim ( c_itemvalores.codval ) + ') ' + c_valor.clnom as ITEMVALORES_VALORVIRTUAL
		from zoologic.COMPCAJADET as c_ITEMVALORES
			left join Zoologic.COMCAJ as c_comcaj on c_comcaj.codigo = c_ITEMVALORES.coddetval 
			LEFT JOIN Zoologic.CONCECAJA as c_CONCECAJA on c_CONCECAJA.CODIGO = c_comcaj.CONCEPTO and 0 = Funciones.empty( c_comcaj.CONCEPTO )
			inner join ZooLogic.XVAL as c_VALOR on c_VALOR.clcod = c_ITEMVALORES.codval 
		where ( 1=1 ) and c_ITEMVALORES.coddetval is not null and 
			( ( c_comcaj.TIPO = 1 and c_ITEMVALORES.ctotal > 0 ) or (c_comcaj.tipo = 2 and c_ITEMVALORES.ctotal < 0 )) -- Ingresos => Tipo1:Entrada con monto positivo o Tipo2:Salida con monto negativo
		) INGCompCaja
		where ( ( @FACTURA_FECHA_DESDE is null ) or ( FACTURA_FFCH >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( FACTURA_FFCH <= @FACTURA_FECHA_HASTA ) )

	
	union all

		select 	ITEMVALORES__BD, 
		FACTURA_FFCH,
		ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		ITEMVALORES_MOVIMIENTOVIRTUAL,
		ITEMVALORES_TIPOVALORVIRTUAL, 
		ingreso,
		egreso,
		ITEMVALORES_VALORVIRTUAL
	from (
		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00' then Funciones.ObtenerFechaDiaOMes(@Parametro1,@FACTURA_FECHA_DESDE) else Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'b. Ingresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Canje de valores '  as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			c_itemvalores.jjm * Funciones.ObtenerCotizacion( getdate(), c_valor.clsmonet ) as ingreso,
			0 as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from zoologic.CANJECUPONESDET as c_ITEMVALORES
			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO ) 
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) and c_ITEMVALORES.jjt is not null   -- Canje de valores entrantes
		and ( c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ))
		) IngresosCanje
		where  ( ( @FACTURA_FECHA_DESDE is null ) or ( FACTURA_FFCH >= @FACTURA_FECHA_DESDE ) )  
		and ( ( @FACTURA_FECHA_HASTA is null ) or ( FACTURA_FFCH <= @FACTURA_FECHA_HASTA ) )


	union all

	---------------------------------------------   Egresos  ----------------------------------------------------------------------------

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_factura.FFCH) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Pagos' as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,
			c_itemvalores.montosiste as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from ZooLogic.VAL as c_ITEMVALORES
			left join ZooLogic.COMPROBANTEV as c_FACTURA on c_FACTURA.CODIGO = c_ITEMVALORES.JJNUM and 0 = Funciones.empty( c_ITEMVALORES.JJNUM )
 			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO )
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) and c_FACTURA.CODIGO is not null and c_factura.facttipo IN (3,5,28,35,48,55) -- NOTA DE CREDITO DE VENTA
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_factura.FFCH) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Pagos' as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,
			c_itemvalores.montosiste as egreso,
					'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from ZooLogic.VALFACCOMP as c_ITEMVALORES
			left join ZooLogic.FACCOMPRA as c_FACTURA on c_FACTURA.CODIGO = c_ITEMVALORES.JJNUM and 0 = Funciones.empty( c_ITEMVALORES.JJNUM )
 			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO )
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) and c_FACTURA.CODIGO is not null
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_factura.FFCH) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Pagos' as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,
			c_itemvalores.montosiste as egreso,
					'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from ZooLogic.VALNDCOMP as c_ITEMVALORES
			left join ZooLogic.NDCOMPRA as c_FACTURA on c_FACTURA.CODIGO = c_ITEMVALORES.JJNUM and 0 = Funciones.empty( c_ITEMVALORES.JJNUM )
 			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO )
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) and c_FACTURA.CODIGO is not null
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all

		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_comppago.FFCH) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Otros pagos ' + Funciones.Alltrim( c_compPagoDet.fconc ) + '-' + Funciones.Alltrim( c_compPagoDet.FCONCD )  as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, '')  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,
			c_itemvalores.jjtotfac as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from zoologic.VALCOMPPAGO as c_ITEMVALORES
			left join Zoologic.COMPPAGO as c_comppago on c_comppago.codigo = c_ITEMVALORES.jjnum 
			left join zoologic.COMPPAGODET as c_compPagoDet on c_comppago.codigo = c_compPagoDet.codigo
			inner join ZooLogic.XVAL as c_VALOR on c_VALOR.clcod = c_ITEMVALORES.jjco 
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) 
			and (c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ) )
			and ( ( @FACTURA_FECHA_DESDE is null ) or ( c_ITEMVALORES.jjfe >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( c_ITEMVALORES.jjfe <= @FACTURA_FECHA_HASTA ) )

	union all
	
		select 	ITEMVALORES__BD, 
		FACTURA_FFCH,
		ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		ITEMVALORES_MOVIMIENTOVIRTUAL,
		ITEMVALORES_TIPOVALORVIRTUAL, 
		ingreso,
		egreso,
		ITEMVALORES_VALORVIRTUAL
	from (
		select  @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfecha = '01/01/1900 00:00:00'  then Funciones.ObtenerFechaDiaOMes(@Parametro1,c_comcaj.fecha) else  Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfecha) end as FACTURA_FFCH,
			'' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Comprobantes de caja de salida ' + Funciones.Alltrim( c_comcaj.CONCEPTO ) + '-' + Funciones.Alltrim( c_concecaja.descrip )  as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.tipo, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,	
			abs(c_itemvalores.monto) * Funciones.ObtenerCotizacion( getdate(), c_valor.clsmonet ) as egreso,
			'(' + funciones.alltrim ( c_itemvalores.codval ) + ') ' + c_valor.clnom as ITEMVALORES_VALORVIRTUAL
		from zoologic.COMPCAJADET as c_ITEMVALORES
			left join Zoologic.COMCAJ as c_comcaj on c_comcaj.codigo = c_ITEMVALORES.coddetval 
			LEFT JOIN Zoologic.CONCECAJA as c_CONCECAJA on c_CONCECAJA.CODIGO = c_comcaj.CONCEPTO and 0 = Funciones.empty( c_comcaj.CONCEPTO )
			inner join ZooLogic.XVAL as c_VALOR on c_VALOR.clcod = c_ITEMVALORES.codval 
		where ( 1=1 ) and c_ITEMVALORES.coddetval is not null and 
			( ( c_comcaj.TIPO = 1 and c_ITEMVALORES.ctotal < 0 ) or (c_comcaj.tipo = 2 and c_ITEMVALORES.ctotal > 0 )) -- Ingresos => Tipo1:Entrada con monto positivo o Tipo2:Salida con monto negativo
		) EGCompCaja
		where ( ( @FACTURA_FECHA_DESDE is null ) or ( FACTURA_FFCH >= @FACTURA_FECHA_DESDE ) )  
			and ( ( @FACTURA_FECHA_HASTA is null ) or ( FACTURA_FFCH <= @FACTURA_FECHA_HASTA ) )

	union all

	select 	ITEMVALORES__BD, 
	FACTURA_FFCH,
	ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
	ITEMVALORES_MOVIMIENTOVIRTUAL,
	ITEMVALORES_TIPOVALORVIRTUAL, 
	ingreso,
	egreso,
	ITEMVALORES_VALORVIRTUAL
	from (
		select @basededatos as ITEMVALORES__BD,
			case when c_ITEMVALORES.jjfe = '01/01/1900 00:00:00' then Funciones.ObtenerFechaDiaOMes(@Parametro1,@FACTURA_FECHA_DESDE) else Funciones.ObtenerFechaDiaOMes(@Parametro1,c_ITEMVALORES.jjfe) end as FACTURA_FFCH,
			'c. Egresos' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
			'Canje de valores '  as ITEMVALORES_MOVIMIENTOVIRTUAL,
			Funciones.ObtenerDescripcionDelTipoDeValor(c_itemvalores.jjt, c_VALor.TIPOTARJ)  as ITEMVALORES_TIPOVALORVIRTUAL,
			0 as ingreso,
			c_itemvalores.jjm * Funciones.ObtenerCotizacion( getdate(), c_valor.clsmonet ) as egreso,
			'(' + funciones.alltrim ( c_itemvalores.jjco ) + ') ' + c_valor.clnom  as ITEMVALORES_VALORVIRTUAL
		from zoologic.CANJECUPONESENT as c_ITEMVALORES
			left join ZooLogic.XVAL as c_VALOR on c_VALOR.CLCOD = c_ITEMVALORES.JJCO and 0 = Funciones.empty( c_ITEMVALORES.JJCO ) 
			left join Zoologic.cheque as c_cheque on c_cheque.CCOD = c_ITEMVALORES.nrocheque 
		where ( 1=1 ) and c_ITEMVALORES.jjt is not null   -- Canje de valores entregados
		and ( c_itemvalores.jjt not in (4, 12) or ( c_itemvalores.jjt in (12, 4 ) and c_cheque.estado = 'CARTE' ))
		) IngresosCanje
	where  ( ( @FACTURA_FECHA_DESDE is null ) or ( FACTURA_FFCH >= @FACTURA_FECHA_DESDE ) )  
		and ( ( @FACTURA_FECHA_HASTA is null ) or ( FACTURA_FFCH <= @FACTURA_FECHA_HASTA ) )

		) AS SUPERAVITDEFICIT
		group by itemvalores__bd, FACTURA_FFCH

union all

	---------------------------------------------  Saldo final ----------------------------------------------------------------------------
	select 
		@basededatos as ITEMVALORES__BD,
		'' as ITEMVALORES_JJNUM,
		case when FACTURA_FFCH IS NULL then Funciones.ObtenerFechaDiaOMes(@Parametro1,@FACTURA_FECHA_DESDE) else Funciones.ObtenerFechaDiaOMes(@Parametro1,FACTURA_FFCH) end AS FACTURA_FFCH,
		'e. Saldo final' as ITEMVALORES_TIPOMOVIMIENTOVIRTUAL,
		'' AS ITEMVALORES_MOVIMIENTOVIRTUAL,
		'' as ITEMVALORES_TIPOVALORVIRTUAL, 
		case when @Parametro2 = '' then 0.00 else convert( decimal(15,4),  @Parametro2 ) end  + SUM(ingreso - egreso) OVER(ORDER BY FACTURA_FFCH ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)  AS itemvalores_montovirtual, 
		'' as ITEMVALORES_VALORVIRTUAL,
		'' as FACTURA_CODIGO
	from 
		(
		select * from [Funciones].[ObtenerSaldosCashFlow](@Parametro1,@FACTURA_FECHA_DESDE,@FACTURA_FECHA_HASTA)
		) as SaldoFinal
			order by factura_ffch offset 0 rows

) consultappal
)