IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_Patagonia_Stock]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_Patagonia_Stock];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_Patagonia_Stock]
( 
	@CodigoArticuloDesde varchar(15),
	@CodigoArticuloHasta varchar(15),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Combinaciones
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[Comb] as Combinaciones
		join [ZooLogic].[Art] as Articulos on Combinaciones.CoArt = Articulos.ArtCod
	where Combinaciones.CoArt between @CodigoArticuloDesde and @CodigoArticuloHasta
END