IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerCtaCteExtendida]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerCtaCteExtendida];
GO;

CREATE FUNCTION [Funciones].[ObtenerCtaCteExtendida]
( @DetalleCheques int )
RETURNS TABLE
AS

RETURN
(
select  
	'Cuenta Corriente' as origen
	,'' as datoscheque
	,upper(funciones.ObtenerIdentificadorDeComprobante(sc.TIPOCOMP) + ' ' + sc.LETRA + ' ' + right(sc.COMPROB,13)) as comprobantevirtual2
	,case when sc.TipoComp = 13 then sc.TotalEnDebe else sc.ParcialEnDebe end EnDebe
	,case when sc.TipoComp = 13 then sc.TotalEnHaber else sc.ParcialEnHaber end EnHaber
	--,sc.*
	, sc.nro_linea
	, sc.totalendebe
	, sc.totalenhaber
	, sc.parcialendebe
	, sc.parcialenhaber
	, sc.Tiene_GI
	, sc.anotacion
	, sc.bdaltafw
	, sc.bdmodifw
	, sc.clglobalid
	, sc.cliente
	, sc.codcomp
	, sc.codigo
	, sc.comprob
	, sc.esttrans
	, sc.factsec
	, sc.faltafw
	, sc.fecexpo
	, sc.fecha
	, sc.fechaven
	, sc.fecimpo
	, sc.fectrans
	, sc.fmodifw
	, sc.haltafw
	, sc.hmodifw
	, sc.horaexpo
	, sc.horaimpo
	, sc.letra
	, sc.moneda
	, sc.numero
	, sc.ptovta
	, sc.saldocc
	, sc.saltafw
	, sc.signo
	, sc.smodifw
	, sc.tipocomp
	, sc.totalcc
	, sc.ualtafw
	, sc.umodifw
	, sc.valor
	, sc.valtafw
	, sc.vmodifw
	, sc.zadsfw
	from
		(
		select row_number() over (partition by codcomp order by Saldocc desc) nro_linea 
			, sum(abs(TOTALCC)*sign((signo * sign(TOTALCC)) + 1 )) over (partition by codcomp) TotalEnDebe
			, sum(abs(TOTALCC)*sign(-(signo * sign(TOTALCC)) + 1 )) over (partition by codcomp) TotalEnHaber
			, (abs(TOTALCC)*sign((signo * sign(TOTALCC)) + 1 )) ParcialEnDebe
			, (abs(TOTALCC)*sign(-(signo * sign(TOTALCC)) + 1 )) ParcialEnHaber
			, 1 - funciones.empty(CLGLOBALID) Tiene_GI
			, *
			from ZooLogic.CTACTE
		) sc
		where case when tipocomp != 13 then 1 else case when nro_linea = 1 then 1 else 0 end end = 1
	
union all

	select 
		'Cheque' as origen
		,case when ( (cheque.ccodcompa = '' and convert( date, cheque.cfecha + 2) >= convert(date, getdate())) 
	or (cheque.ccodcompa <> '' and convert( date, cheque.cfecha + 3) >= convert(date, getdate())) )
			then ('Cheque de tercero: '+cheque.cvalor+' Nº ' + cast( cheque.cnumero as varchar(10) ) + ' - Ent. fin.: ' + ltrim(rtrim(cheque.centfin)) + ' ' + ef.efdes)
			else '' end as datoscheque
		,upper(cheque.ccompori) as comprobantevirtual2
		,case when ( (cheque.ccodcompa = '' and convert( date, cheque.cfecha + 2) >= convert(date, getdate())) 
	or (cheque.ccodcompa <> '' and convert( date, cheque.cfecha + 3) >= convert(date, getdate())) )
			then cast(cheque.cmonto * (funciones.obtenercotizacion(getdate(), moneda.codigo)) as numeric(15, 2) ) else 0 end as EnDebe	
		, 0 as EnHaber
		, 0 as nro_linea
		, 0 as totalendebe
		, 0 as totalenhaber
		, 0 as parcialendebe
		, 0 as parcialenhaber
		, 1 - funciones.empty(cli.globalid) tiene_GI
		, '' as anotacion
		,cheque.bdaltafw
		,cheque.bdmodifw
		,ltrim( rtrim( upper(cli.globalid )))  as clglobalid
		,cli.clcod as cliente
		,cheque.ccodcomp as codcomp
		,'' as codigo
		,'' as comprob
		,Cheque.esttrans
		,'' as factsec
		,cheque.faltafw
		,cheque.fecexpo
		,cheque.cfechaemi as fecha
		,cheque.cfecha as fechaven
		,cheque.fecimpo
		,cheque.fectrans
		,cheque.fmodifw
		,cheque.haltafw
		,cheque.hmodifw
		,cheque.horaexpo
		,cheque.horaimpo
		,cheque.fletraa as letra
		,moneda.descrip as moneda
		,cheque.cnumero as numero
		,cheque.cptovta as ptovta
		,0 as saldocc
		,cheque.saltafw
		,cheque.csigno as signo
		,cheque.smodifw
		,cheque.ctipc as tipocomp
		,0 as totalcc
		,cheque.ualtafw
		,cheque.umodifw
		,'' as valor
		,cheque.valtafw
		,cheque.vmodifw
		,cheque.zadsfw
	from  ZooLogic.cli as cli  
		left join ZooLogic.cheque as cheque on ltrim(rtrim(upper(cli.clcod))) = ltrim(rtrim(upper(cheque.cliente))) and cheque.cmonto!=0
		left join ZooLogic.xval as xval on ltrim( rtrim( upper(xval.clcod))) =  ltrim( rtrim( upper(cheque.cvalor))) 
		left join ZooLogic.moneda as moneda on ltrim( rtrim( upper(moneda.codigo))) =  ltrim( rtrim( upper(xval.clsmonet))) 
		left join Zoologic.entfin as ef on ltrim( rtrim( upper(cheque.centfin))) =  ltrim( rtrim( upper(ef.efcod))) 
	where 
	( (cheque.ccodcompa = '' and convert( date, cheque.cfecha + 2) >= convert(date, getdate())) 
	or (cheque.ccodcompa <> '' and convert( date, cheque.cfecha + 3) >= convert(date, getdate())) )
		and cheque.cmonto != 0 AND @DetalleCheques = 1 
)