IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_EFlexware_ComprobantesDeCaja]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_EFlexware_ComprobantesDeCaja];
GO;
create FUNCTION [Interfaces].[Datos_EFlexware_ComprobantesDeCaja]
( 
	@cMonedaLocal varchar(10),
	@cExportarSoloEfectivo char(1),
	@cBocadeExpendio varchar(4), 
	@cCodigoMovimientoEntrada varchar(6),
	@cCodigoMovimientoSalida varchar(6),
	@cIncluirCajaySucursal char(1),
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
    @OrigenAplicacion bit, 
    @TipoDeCambio char(3)

)
RETURNS TABLE
AS
RETURN
(

--declare	@cMonedaLocal varchar(10) = 'PESOS'
--declare		@cExportarSoloEfectivo char(1) = '1'
--declare	    @cBocadeExpendio varchar(4) = '0033'
--declare		@cCodigoMovimientoEntrada varchar(6) ='ENTRADA'
--declare		@cCodigoMovimientoSalida varchar(6) ='SALIDA'
--declare		@cIncluirCajaySucursal char(1) = '1'
--declare		@FechaComprobanteDesde varchar(10) = '20000101'
--declare		@FechaComprobanteHasta varchar(10) ='20230101'
--declare     @OrigenAplicacion bit =1
--declare     @TipoDeCambio char(3) = 'XXX'
	 
 
	select DatosExpoIntermedios.BDSucursal+ funciones.padl(right( funciones.alltrim(convert(char(8), DatosExpoIntermedios.NumeroComprobante)),3), 3, '0') as IdentificadorMovimiento,
		DatosExpoIntermedios.CodigoTipoMovimientoFondos,
		DatosExpoIntermedios.DescripcionMovimiento,		
		DatosExpoIntermedios.Fecha as FechaComprobante,
		'' as CodigoCliente,
		'' as CodigoProveedor,
		DatosExpoIntermedios.MarcaOA,
		DatosExpoIntermedios.Concepto,
		DatosExpoIntermedios.SimboloMonetario as Moneda,
		@TipoDeCambio as TipoCambio,
		DatosExpoIntermedios.CajaAplicacionOrigen,
		'' as TipoChequeValorDocumento,
		DatosExpoIntermedios.fecha  as FechaVencimiento,
		DatosExpoIntermedios.importe as Importe,
		'' as NumeroCheque,
		'' as CodigoBancoTarjeta,
		'' as SucursalBanco,
		'0'as Clearing,
		'' as Origen,
		'' as CodigoCuentaBancaria,
		'' as NumeroTarjeta,
		'' as NumeroAutorizacion,
		'' as NombreLibrador,
		'' as DireccionLibrador,
		'' as CodigoPostalLibrador,
		'0' as ProvinciaLibrador,
		'' as LocalidadLibrador,
		'' as TelefonoLibrador,
		DatosExpoIntermedios.PesosAlCambio,
		DatosExpoIntermedios.BDContable as CodigoAperturaContable,
		'' as TipoComprobante,
		DatosExpoIntermedios.Letra as LetraComprobante,
		DatosExpoIntermedios.PuntoVenta,
		DatosExpoIntermedios.NumeroComprobante, 
		DatosExpoIntermedios.CodigoCliente as Cliente,
		DatosExpoIntermedios.NroLocal as NumeroLocal,
		'' as TipoOperacion
	from (
			select DatosExpoBasicos.Letra,
				DatosExpoBasicos.PuntoVenta, 
				DatosExpoBasicos.NumeroComprobante, 
				Funciones.dtos(DatosExpoBasicos.Fecha) as Fecha,
				DatosExpoBasicos.CodigoCliente,
				DatosExpoBasicos.CodigoProveedor,
				DatosExpoBasicos.importe,
				DatosExpoBasicos.pesosalcambio, 
				DatosExpoBasicos.SimboloMonetario,
				datosexpobasicos.descripcionmovimiento ,
				datosexpobasicos.tipo , 
				case
					when @cIncluirCajaySucursal = '1' and  DatosExpoBasicos.TipoValor in (1, 2) and DatosExpoBasicos.BDSucursal <> '' then DatosExpoBasicos.BDSucursal + '-' + DatosExpoBasicos.NumeroCaja + '-'  + DatosExpoBasicos.CodigoValor 
					when @cIncluirCajaySucursal = '2' and DatosExpoBasicos.BDSucursal <> '' then DatosExpoBasicos.BDSucursal + '-' + DatosExpoBasicos.NumeroCaja + '-' + DatosExpoBasicos.CodigoValor 
					else DatosExpoBasicos.CodigoValor
				end as CajaAplicacionOrigen,
				case
					when @OrigenAplicacion = 1 and datosexpobasicos.tipo = 1 then '2'
					when @OrigenAplicacion = 1 and datosexpobasicos.tipo = 2 then '1'
					when @OrigenAplicacion = 0 and datosexpobasicos.tipo = 1 then '1'
					when @OrigenAplicacion = 0 and datosexpobasicos.tipo = 2 then '2'
				end as MarcaOA,
				case
					when @OrigenAplicacion = 1 then '1'
					when @OrigenAplicacion = 0 and datosexpobasicos.tipo = 1 then '6'
					when @OrigenAplicacion = 0 and datosexpobasicos.tipo = 2 then '8'
				end as Concepto,

				case when datosexpobasicos.CodigoTipoMovimientoFondos = '' then datosexpobasicos.concepto else datosexpobasicos.CodigoTipoMovimientoFondos end as  CodigoTipoMovimientoFondos, 

				DatosExpoBasicos.BDContable,
				DatosExpoBasicos.BDSucursal,
				case when @cIncluirCajaySucursal in ('1','2') then DatosExpoBasicos.BDSucursal else '   ' end as NroLocal
		from (
			select ''as Letra,
			    case when EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA_valconv.ValDest is null 
				then case when  EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA_cabconv.ValorDef is null then @cbocadeexpendio else  EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA_cabconv.ValorDef end
				else EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA_valconv.ValDest end as PuntoVenta ,

				-- Campo CodigoTipoMovimientoFondos:
				--Si el CONCEPTO es un depósito bancario => toma la conversión de CONCEPTOASUCURSALBANCARIA
				--Si no, busca en EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA o EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA según corresponda a un ingreso o egreso determinado por comprobantes.tipo
				--Si no lo encuentra busca los parámetros "COMPROBANTES DE CAJA ENTRADA ó SALIDA" según corresponda a un ingreso o egreso determinado por comprobantes.tipo
				--Si toda esta búsqueda queda vacía, le asigna el valor del campo COMCAJ.CONCEPTO en la query  SUCURSAL.Interfaces.Interfaz_EFlexware_ComprobantesDeCaja.sql que llama a esta misma
				case when CONCEPTOASUCURSALBANCARIA_valconv.ValDest is not null 
				then  CONCEPTOASUCURSALBANCARIA_valconv.ValDest 
				else 
					case when CONCEPTOASUCURSALBANCARIA_cabconv.ValorDef is null or CONCEPTOASUCURSALBANCARIA_cabconv.ValorDef = ''
					then 
						CASE WHEN  comprobantes.tipo = 1  								
							then case when EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA_cabconv.ValorDef is null or EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA_cabconv.ValorDef = '' then @cCodigoMovimientoEntrada else EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA_cabconv.ValorDef end 
							else case when EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA_cabconv.ValorDef is null or EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA_cabconv.ValorDef = '' then @cCodigoMovimientoSalida else EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA_cabconv.ValorDef end 
						end
					else
						CONCEPTOASUCURSALBANCARIA_cabconv.ValorDef 
					end
				end as CodigoTipoMovimientoFondos,
				------------------------------------------------
				Comprobantes.concepto as Concepto,
				Comprobantes.numero as NumeroComprobante,
				Comprobantes.FECHA as Fecha,
				concecaja.descrip as DescripcionMovimiento,	
				'' as CodigoCliente,
				0.00 as TotalComprobante,
			    ''  as CodigoProveedor,
				valores.CLCFI as TipoValor,
				cast(cajadet.IDCaja as varchar(5)) as NumeroCaja,
				cajadet.cotiza * cajadet.ctotal  as pesosalcambio,--monto pesificado
				cajadet.ctotal  as importe, 
				DetalleValores.CantidadValoresCC,
				comprobantes.tipo, 
				case when EFLEXMONEDA_valconv.ValDest is null then Valores.ClSMonet else EFLEXMONEDA_valconv.ValDest end as SimboloMonetario,
				case when EQUIVALENCIADEVALORESEFLEX_valconv.ValDest is null then cajadet.CODVAL else EQUIVALENCIADEVALORESEFLEX_valconv.ValDest end as CodigoValor,
				case when EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.ValDest is null then EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv.ValorDef else EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.ValDest end as BDContable,
				case when EFLEXIDENTIFICADORBASEDEDATOS_valconv.ValDest is null
					then 
						case when EFLEXIDENTIFICADORBASEDEDATOS_cabconv.ValorDef is null or Funciones.Empty(EFLEXIDENTIFICADORBASEDEDATOS_cabconv.ValorDef) = 1 then '000' else EFLEXIDENTIFICADORBASEDEDATOS_cabconv.ValorDef end
						else funciones.padl(EFLEXIDENTIFICADORBASEDEDATOS_valconv.ValDest, 3,'0') end as BDSucursal	
				
			from [ZooLogic].[COMCAJ] as Comprobantes
			    join zoologic.CONCECAJA on comprobantes.concepto = concecaja.codigo
				join [ZooLogic].[compcajadet] as cajadet on Comprobantes.Codigo = cajadet.CODDETVAL
				join [ZooLogic].[XVal] as Valores on cajadet.CODVAL = Valores.ClCod
				join (
						select Valores.CODDETVAL as CodigoComprobante,
							sum(Valores.ctotal) as TotalValores,
							0 as CantidadValoresCC
						from [ZooLogic].[COMPCAJADET] as Valores
						group by Valores.CODDETVAL
					 ) as DetalleValores on Comprobantes.Codigo = DetalleValores.CodigoComprobante
				left join [Organizacion].[ConverVal] as EFLEXMONEDA_valconv on EFLEXMONEDA_valconv.Conversion = 'EFLEXMONEDA' and EFLEXMONEDA_valconv.ValOrig = Valores.ClSMonet
				left join [Organizacion].[ConverVal] as EQUIVALENCIADEVALORESEFLEX_valconv on EQUIVALENCIADEVALORESEFLEX_valconv.Conversion = 'EQUIVALENCIADEVALORESEFLEX' and EQUIVALENCIADEVALORESEFLEX_valconv.ValOrig = cajadet.CODVAL
				left join [Organizacion].[Conver] as EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv on EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv.Codigo = 'EFLEXAPERTURACONTABLEBASEDEDATOS'
				left join [Organizacion].[ConverVal] as EFLEXAPERTURACONTABLEBASEDEDATOS_valconv on EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv.Codigo = EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.Conversion and EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as EFLEXIDENTIFICADORBASEDEDATOS_cabconv on EFLEXIDENTIFICADORBASEDEDATOS_cabconv.Codigo = 'EFLEXIDENTIFICADORBASEDEDATOS'
				left join [Organizacion].[ConverVal] as EFLEXIDENTIFICADORBASEDEDATOS_valconv on EFLEXIDENTIFICADORBASEDEDATOS_valconv.Conversion = 'EFLEXIDENTIFICADORBASEDEDATOS' and EFLEXIDENTIFICADORBASEDEDATOS_valconv.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJa_cabconv on EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJa_cabconv.Codigo = 'EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA'
				left join [Organizacion].[ConverVal] as  EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJa_valconv on EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJa_valconv.conversion  = 'EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA' and EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJa_valconv.valorig = Comprobantes.BDALTAFW

				left join [Organizacion].[Conver] as CONCEPTOASUCURSALBANCARIA_cabconv on CONCEPTOASUCURSALBANCARIA_cabconv.Codigo = 'CONCEPTOASUCURSALBANCARIA'
				left join [Organizacion].[ConverVal] as CONCEPTOASUCURSALBANCARIA_valconv on CONCEPTOASUCURSALBANCARIA_valconv.Conversion  = 'CONCEPTOASUCURSALBANCARIA' and 
CONCEPTOASUCURSALBANCARIA_valconv.ValOrig = comprobantes.concepto 

left join [Organizacion].[Conver] as EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA_cabconv on EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA_cabconv.Codigo = 'EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA'
				left join [Organizacion].[Conver] as EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA_cabconv on EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA_cabconv.Codigo = 'EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA'

				where Comprobantes.FECHA between @FechaComprobanteDesde and @FechaComprobanteHasta 
				and case when @cExportarSoloEfectivo = '1' and ( valores.CLCFI = 1 or valores.CLCFI = 2 ) then 1 else case when @cExportarSoloEfectivo <> '1' then 1 end end = 1
			) as DatosExpoBasicos
		) as DatosExpoIntermedios
)