IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_ARBA38_Percepciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_ARBA38_Percepciones];
GO;

create function [Interfaces].[Interfaz_ARBA38_Percepciones]
(
	@FechaDesde varchar(10),
	@FechaHasta varchar(10)
)
RETURNS TABLE
AS
RETURN
(
	Select 
	cast( Funciones.ObtenerCUITFormateadoConGuiones( DatosExpo.ClCuit ) as char(13)) as CUIT,
	cast( DatosExpo.Diafecha + '/' + DatosExpo.MesFecha + '/' + DatosExpo.AnioFecha as char(10) ) as FechaPercepcion, 
	cast( case when DatosExpo.Facttipo in (1,2) then 'F' else 
			( case when DatosExpo.Facttipo in (27,54) then 'E' else
				( case when DatosExpo.Facttipo = 13 then 'R' else 
						( case when DatosExpo.Facttipo in (3,5) then 'C' else 
							( case when DatosExpo.Facttipo in (28,55) then 'H' else 
								( case when DatosExpo.Facttipo in (4,6) then 'D' else 'I'end ) 
							end )
						 end ) 
				end ) 
			end )
			end as char(1)
		) as TipoComprobante,
	cast( case when DatosExpo.FLetra in ('A','B','C') then DatosExpo.FLetra else ' ' end as char(1)) as LetraComprobante,	
	cast( Funciones.padl( cast( DatosExpo.FptoVen as varchar(4) ), 4, '0' ) as char(4)) as PuntodeVenta,
	cast( Funciones.padl( cast( DatosExpo.Fnumcomp as varchar(8) ), 8, '0' ) as char(8)) as NumeroComprobante,
	cast( case when DatosExpo.Signomov > 0 then Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.MontoBase, 2, 12, ',' ) else '-' + Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.MontoBase, 2, 11, ',' ) end as char(12)) as BaseImponible,
	cast( case when DatosExpo.Signomov > 0 then Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.Monto, 2, 11, ',' ) else '-' + Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.Monto, 2, 10, ',' ) end as char(11)) as MontoPercepcion,
	'A' as alta
	from (
			Select Clientes.ClCuit, 
				cast( Funciones.padl( cast( day( Comprobantes.FFch ) as varchar(2) ), 2, '0' ) as char(2) ) as DiaFecha, 
				cast( Funciones.padl( cast( month(Comprobantes.FFch ) as varchar(2) ), 2, '0' ) as char(2) ) as MesFecha, 
				cast( Funciones.padl( cast( year( Comprobantes.FFch ) as varchar(4) ), 4, '0' ) as char(4) ) as AnioFecha, 
				Comprobantes.Facttipo, Comprobantes.FLetra, Comprobantes.FptoVen,
				Comprobantes.FnumComp, ImpuestosVentas.MontoBase, ImpuestosVentas.Monto, Comprobantes.Signomov
				from ZooLogic.ComprobanteV as  Comprobantes
					join ( select Impventas.MontoBase, Impventas.Monto, Impventas.Ccod, Impventas.Tipoi, Impventas.Jurid
							from ZooLogic.Impventas inner join ZooLogic.Impuesto on Impventas.Codimp = Impuesto.Codigo
							where Impuesto.Aplicacion = 'PRC' ) as ImpuestosVentas 
						on Comprobantes.Codigo = ImpuestosVentas.Ccod and ImpuestosVentas.Tipoi = 'IIBB' and ImpuestosVentas.Jurid = '902' 
					left join ZooLogic.Cli as Clientes on Comprobantes.FPerson = Clientes.ClCod
				where Comprobantes.FactTipo in ( 1, 2, 3, 4, 5, 6, 13, 27, 28, 29, 54, 55, 56 ) 
					and Comprobantes.Anulado = 0 
					and Comprobantes.FFch between @FechaDesde and @FechaHasta
		) as DatosExpo	
 )