IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIPRG4597_ComprasAlicuotas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIPRG4597_ComprasAlicuotas];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIPRG4597_ComprasAlicuotas]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@FechaEmisionDesde varchar(10),
	@FechaEmisionHasta varchar(10),
	@PtVtaDesde int,
	@PtVtaHasta int,
	@CompFiscal bit,
	@CompManual bit,
	@CompElectr bit,
	@CompDespacho bit,
	@CompLiqA bit,
	@CompLiqB bit,
	@CompServPubA bit,
	@CompServPubB bit,
	@CompReciboA bit,
	@CompReciboC bit,
	@ProrratearCreditoFiscalComputable varchar(1)
)
RETURNS TABLE
AS
RETURN
(
	select cast( Funciones.padl( DatosExpo.TipoComprobante, 3, '0' ) as char(3) ) as TipoComp,
		cast( Funciones.padl( cast( DatosExpo.PuntoVenta as varchar(5) ), 5, '0' ) as char(5) ) as PtoVenta,
		cast( Funciones.padl( cast( DatosExpo.NumeroComprobante as varchar(20) ), 20, '0' ) as char(20) ) as NumCompD,
		cast( Funciones.padl( DatosExpo.TipoDocumento, 2, '0' ) as char(2) ) as ProTipoDoc,
		cast( Funciones.padl( DatosExpo.NumeroDocumento, 20, '0' ) as char(20) ) as ProNroDoc,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.MontoNoGravadoIVA, 2, 15 ) as char(15) ) as MontoNGIVA,
		cast( Funciones.padl( DatosExpo.PorcentajeIVA, 4, '0' ) as char(4) ) as PorcIVA,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.MontoIVA, 2, 15 ) as char(15) ) as MontoIVA,
		Codigo
	from (
		select case when Comprobante.FPtoVenExt = 0 then Comprobante.FPtoVen else Comprobante.FPtoVenExt end as PuntoVenta,
			Comprobante.FNumComp as NumeroComprobante,
			'80' as TipoDocumento,
			case when Proveedor.ClCUIT is null then '' else Funciones.alltrim( Proveedor.CLCUIT ) end as NumeroDocumento,
			case when Alicuotas.IVAPorcent = 0 or Comprobante.TcRG1361 = 5 then 0 else Alicuotas.IVAMonNG end as MontoNoGravadoIVA,
--			case when Comprobante.TcRG1361 in ( 5, 7 ) and TipoComp.TipoCompOr is not null then TipoComp.TipoCompOr else (case when ConvVTipo.ValDest is null then ConvCTipo.ValorDef else ConvVTipo.ValDest end) end as TipoComprobante,
			-- no tenía conversión para n/c sin letra hasta 08/2022
			case when Comprobante.TcRG1361 in ( 5, 7 ) and TipoComp.TipoCompOr is not null then TipoComp.TipoCompOr else (case when ConvVTipo.ValDest is null then case when Funciones.Alltrim(ConvCTipo.ValorDef) = '' then 90 else ConvCTipo.ValorDef end else ConvVTipo.ValDest end) end as TipoComprobante,
			case when ConvVAlic.ValDest is null then ConvCAlic.ValorDef else ConvVAlic.ValDest end as PorcentajeIVA,
			case when Alicuotas.IVAPorcent is not null then Alicuotas.IVAPorcent else 0 end as PorcentajeIVAOriginal,
			case when Alicuotas.IVAMonto is not null then Alicuotas.IVAMonto else 0 end as MontoIVA,
			case when ImpuesIVA.CantidadAlicuotas is not null then ImpuesIVA.CantidadAlicuotas - ImpuesIVA.CantidadAlicuotasEn0 else 0 end as CantidadAlicuotas,
			Comprobante.CODIGO as Codigo
		from (
				select Codigo, FFch, FFCHFAC, FPtoVen, FactTipo, FLetra, FNumComp, FPerson, TCRG1361, Anulado, FPtoVenExt
				from [ZooLogic].[FacCompra]
				union all
				select Codigo, FFch, FFCHFAC, FPtoVen, FactTipo, FLetra, FNumComp, FPerson, TCRG1361, Anulado, FPtoVenExt
				from [ZooLogic].[NCCompra]
				union all
				select Codigo, FFch, FFCHFAC, FPtoVen, FactTipo, FLetra, FNumComp, FPerson, TCRG1361, Anulado, FPtoVenExt
				from [ZooLogic].[NDCompra]
			) as Comprobante
			left join [ZooLogic].[Prov] as Proveedor on Comprobante.FPerson = Proveedor.ClCod
			left join (
				select ImpuesIVA.Codigo as Codigo,
					count( distinct ImpuesIVA.IVAPorcent ) as CantidadAlicuotas,
					sum( case when ImpuesIVA.IVAPorcent > 0 and ImpuesIVA.IVAMonto < 0.01 then 1 else 0 end ) as CantidadAlicuotasEn0
				from (
					select Codigo, IVAPorcent, IVAMonNG, IVAMonto
					from [ZooLogic].[ImpFacComp]
					union all
					select Codigo, IVAPorcent, IVAMonNG, IVAMonto
					from [ZooLogic].[ImpNCComp]
					union all
					select Codigo, IVAPorcent, IVAMonNG, IVAMonto
					from [ZooLogic].[ImpNDComp]
					) as ImpuesIVA
				group by ImpuesIVA.Codigo
				) as ImpuesIVA on Comprobante.Codigo = ImpuesIVA.Codigo
			left join (
				select Codigo, IVAPorcent, IVAMonNG, IVAMonto
				from [ZooLogic].[ImpFacComp]
				union all
				select Codigo, IVAPorcent, IVAMonNG, IVAMonto
				from [ZooLogic].[ImpNCComp]
				union all
				select Codigo, IVAPorcent, IVAMonNG, IVAMonto
				from [ZooLogic].[ImpNDComp]
			) as Alicuotas on Comprobante.Codigo = Alicuotas.Codigo
			left join [Organizacion].[Conver] as ConvCTipo on ConvCTipo.Codigo = 'TIPOCOMPROBANTEAFIP'
			left join [Organizacion].[ConverVal] as ConvVTipo on ConvCTipo.Codigo = ConvVTipo.Conversion and ConvVTipo.ValOrig = cast( Comprobante.FactTipo as varchar(2) ) + case when Comprobante.TCRG1361 = 3 then 'T' else 'M' end + Comprobante.FLetra
			left join [Organizacion].[Conver] as ConvCAlic on ConvCAlic.Codigo = 'AFIP ALICUOTA DE IVA'
			left join [Organizacion].[ConverVal] as ConvVAlic on ConvCAlic.Codigo = ConvVAlic.Conversion and Funciones.val( ConvVAlic.ValOrig ) = Alicuotas.IVAPorcent
			left join [ZooLogic].[TipocompCom] as TipoComp on Comprobante.Codigo = TipoComp.CodigoCor
		where Comprobante.FactTipo in ( 8, 9, 10 ) and
			 case 
				when @CompFiscal = 1 and Comprobante.TCRG1361 = 3 then 1 
				when @CompManual = 1 and Comprobante.TCRG1361 = 1 then 1
				when @CompElectr = 1 and Comprobante.TCRG1361 = 2 then 1
				when @CompLiqA = 1 and Comprobante.TCRG1361 = 5 then 1
				when @CompServPubA = 1 and Comprobante.TCRG1361 = 7 then 1
				when @CompReciboA = 1 and Comprobante.TCRG1361 = 9 then 1
				else 0
			  end = 1
			  and Comprobante.Anulado <> 1
			  and Comprobante.FLetra not in ( 'B', 'C' )
			  and ( ( @FechaDesde is null ) or ( Comprobante.FFch >= @FechaDesde ) ) 
			  and ( ( @FechaHasta is null ) or ( Comprobante.FFch <= @FechaHasta ) )
			  and ( ( @FechaEmisionDesde is null ) or ( Comprobante.FFCHFAC >= @FechaEmisionDesde ) ) 
              and ( ( @FechaEmisionHasta is null ) or ( Comprobante.FFCHFAC <= @FechaEmisionHasta ) )
			  and ( ( @PtVtaDesde is null ) or ( Comprobante.FPTOVEN >= @PtVtaDesde ) ) 
			  and ( ( @PtVtaHasta is null ) or ( Comprobante.FPTOVEN <= @PtVtaHasta ) )
		union all

		select 	Liquidacion.PtoVenta as PuntoVenta,
			Liquidacion.NroLiq as NumeroComprobante,
			'80' as TipoDocumento,
			case when Proveedor.ClCUIT is null then '' else Funciones.alltrim( Proveedor.ClCUIT ) end as NumeroDocumento,
			case when Alicuotas.IVAPorcent = 0 then 0 else Alicuotas.IVAMonNG end as MontoNoGravadoIVA,
			'99' as TipoComprobante,
			case when ConvVAlic.ValDest is null then ConvCAlic.ValorDef else ConvVAlic.ValDest end as PorcentajeIVA,
			case when Alicuotas.IVAPorcent is not null then Alicuotas.IVAPorcent else 0 end as PorcentajeIVAOriginal,
			case when Alicuotas.IVAMonto is not null then Alicuotas.IVAMonto else 0 end as MontoIVA,
			case when ImpuesIVA.CantidadAlicuotas is not null then ImpuesIVA.CantidadAlicuotas - ImpuesIVA.CantidadAlicuotasEn0 else 0 end as CantidadAlicuotas,
			'' as Codigo
		from  [ZooLogic].[LiqMensual] as Liquidacion
			left join [ZooLogic].[OPETAR] as Operadora on Liquidacion.Operadora = Operadora.Codigo
			left join [ZooLogic].[Prov] as Proveedor on Operadora.Proveedor = Proveedor.CLCOD
			left join (
				select ImpuesIVA.Codigo as Codigo,
					count( distinct ImpuesIVA.IVAPorcent ) as CantidadAlicuotas,
					sum( case when ImpuesIVA.IVAPorcent > 0 and ImpuesIVA.IVAMonto < 0.01 then 1 else 0 end ) as CantidadAlicuotasEn0
				from  [ZooLogic].[ImpLiqMen] as ImpuesIVA
				group by ImpuesIVA.Codigo
				) as ImpuesIVA on Liquidacion.Codigo = ImpuesIVA.Codigo
			left join [ZooLogic].[ImpLiqMen] as Alicuotas on Liquidacion.Codigo = Alicuotas.Codigo
			left join [Organizacion].[Conver] as ConvCAlic on ConvCAlic.Codigo = 'AFIP ALICUOTA DE IVA'
			left join [Organizacion].[ConverVal] as ConvVAlic on ConvCAlic.Codigo = ConvVAlic.Conversion and Funciones.val( ConvVAlic.ValOrig ) = Alicuotas.IVAPorcent
		where 
			     ( ( @FechaDesde is null ) or ( Liquidacion.FechaLiq >= @FechaDesde ) ) 
			 and ( ( @FechaHasta is null ) or ( Liquidacion.FechaLiq <= @FechaHasta ) )
			 and ( ( @PtVtaDesde is null ) or ( Liquidacion.PTOVENTA >= @PtVtaDesde ) ) 
			 and ( ( @PtVtaHasta is null ) or ( Liquidacion.PTOVENTA <= @PtVtaHasta ) )
		) as DatosExpo
	where DatosExpo.CantidadAlicuotas > 0
		and ( ( DatosExpo.PorcentajeIVAOriginal > 0 and DatosExpo.MontoIVA >= 0.01 ) or DatosExpo.PorcentajeIVAOriginal = 0 )
)