IF EXISTS(SELECT * FROM sys.objects WHERE name = 'sp_CMV_ImportarSaldosIniciales' AND type in (N'P') and SCHEMA_ID('Contabilidad') = schema_id)
	DROP PROCEDURE Contabilidad.sp_CMV_ImportarSaldosIniciales;
GO;

CREATE PROCEDURE [Contabilidad].[sp_CMV_ImportarSaldosIniciales]
(
	@NroSerie varchar(6),
	@Usuario varchar(100),
	@Version varchar(13),
	@BaseDeDatos varchar(8),
	@NroEjercicio numeric(8,0),
	@tblDatosInicales as Contabilidad.udt_TableType_CMVTipoCompMovStock ReadOnly
)
AS
BEGIN
	/* Ingreso los datos contenidos dentro de la tabla pasado por parametro, a la tabla [ZooLogic].[CMVFACCOMPRA] 
	   Esta tabla destino va a contener los saldos iniciales para poder tener un punto de partida para el CMV */

	--declare @NroSerie varchar(6) = '100456'
	--declare @Usuario varchar(100) = 'ADMIN'
	--declare @Version varchar(13) = '01.0001.00000'
	--declare @BaseDeDatos varchar(8) = 'DEMO2'
	--declare @NroEjercicio numeric(8,0) = 1

	--DECLARE	@tblDatosInicales Contabilidad.udt_TableType_CMVTipoCompMovStock

	--INSERT INTO @tblDatosInicales 
	--	select 0 as ID, '' as GlobalId, 'AAAA' as Codigo, 8 as FactTipo, '10100101' as Articulo, 'R' as Color, 'L' as Talle, getdate() as Fecha
	--		, 'B' as Letra, 1 as PtoVenExt, 5 as NumComp, 1 as PtoVen, 3 as NumInt, 10 as Cantidad, 1200 as Precio
	--		, 123456 as Timestamp, 'MI FACTURA' as Descrip, 'DEMO2' as Base

	DECLARE @HoraActual varchar(8) = CONVERT ( VARCHAR(8), CONVERT( TIME, GETDATE() ) ) 
	DECLARE @FechaVacia datetime = CONVERT( DATETIME, '1900-01-01 00:00:00.000' )
	DECLARE @FechaActual datetime = CONVERT( DATETIME, CONVERT( DATE, GETDATE() ) )

	INSERT INTO [ZooLogic].[CMVFACCOMPRA]
		( CODIGO, CODCOMP, [ZADSFW]
		, [BDALTAFW], [BDMODIFW], [FALTAFW], [FECEXPO], [FECIMPO], [FECTRANS], [FMODIFW]
		, [HALTAFW], [HMODIFW], [SALTAFW], [SMODIFW], [UALTAFW], [UMODIFW], [VALTAFW], [VMODIFW]
		, [FARTICULO], [FCOLOR], [FTALLE], [FFECHA], [FCANT], [FSTOCK], [STOCKANT], [FPRECIO], [TIMESTAMP]
		, [FACTTIPO], [FLETRA], [FPTOVENEX], [FNUMCOMP], [FPTOVEN], [FNUMINT], [FDESC], [BASE]
		, [EJERCICIO], [TINGRESO]
		) 
	SELECT GlobalId, Codigo , 'Generado desde acciones de la entidad, para inserta costo y stock inicial.'
		 , @BaseDeDatos, @BaseDeDatos, @FechaActual, @FechaVacia, @FechaVacia, @FechaVacia, @FechaActual
		 , @HoraActual, @HoraActual, @NroSerie, @NroSerie, @Usuario, @Usuario, @Version, @Version
		 , Articulo, Color, Talle, Fecha, Cantidad, Cantidad, Cantidad, Precio, Timestamp
		 , FactTipo, Letra, PtoVenExt, NumComp, PtoVen, NumInt, Descrip, Base
		 , @NroEjercicio, 'I'
	FROM @tblDatosInicales


	--EXEC [Contabilidad].[sp_CMV_ImportarSaldosIniciales] '100456', 'ADMIN', '01.0001.00000', 'DEMO', 1, @tblDatosInicales 

END