IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_AFIP_RetencionesSufridasIVA]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_AFIP_RetencionesSufridasIVA];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_AFIP_RetencionesSufridasIVA]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update [ZooLogic].[CompRR]
	set FecExpo = @NuevaFechaExportacion
	where FechReci between @FechaComprobanteDesde and @FechaComprobanteHasta
		and TipoImp = 'IVA'
END