IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[SipribPercepciones_Errores]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Interfaces].[SipribPercepciones_Errores];
GO;

Create FUNCTION [Interfaces].[SipribPercepciones_Errores]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10) 
)
RETURNS TABLE
AS
RETURN
(	
	Select
			distinct(Clientes.ClCuit), Siprib.CondIIBB,
			Siprib.ArticuloIn, Siprib.TipoExenc, Siprib.Anio, Siprib.Certific, Clientes.ClNroIIBB, Clientes.ClNom,
			Clientes.ClCod
 	from ZooLogic.ComprobanteV as  Comprobantes
			join ZooLogic.impventas as ImpuestosVentas on Comprobantes.Codigo = ImpuestosVentas.Ccod and  ImpuestosVentas.Jurid = '921' and ImpuestosVentas.Tipoi = 'IIBB' 
			left join ZooLogic.Cli as Clientes on Comprobantes.FPerson = Clientes.ClCod
			join ZooLogic.SIPRIBDATADIC as Siprib on Clientes.ClSiprib = Siprib.CODIGO
	where Comprobantes.FactTipo in ( 1, 4, 2, 6, 27, 29, 8, 9, 13, 37 ) and
			Comprobantes.Anulado = 0 and
			Comprobantes.FFch >= @FechaDesde and Comprobantes.FFch <= @FechaHasta and
			( Funciones.Empty( Clientes.ClCuit ) = 1 or  Funciones.Empty( Siprib.CondIIBB ) = 1 or  Funciones.Empty( Siprib.ArticuloIn ) = 1 or
			Funciones.Empty( Siprib.TipoExenc ) = 1 or len( Clientes.clNroIIBB ) > 10 or 
			( Siprib.TipoExenc in (2, 3, 4) and (Siprib.Anio = 0 or Funciones.Empty(Siprib.Certific)= 1) ) or
			( Siprib.TipoExenc in (1, 5) and (Siprib.Anio > 0  or Funciones.Empty(Siprib.Certific)= 0) ))						
)