IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerDeudaExtendida]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerDeudaExtendida];
GO;

CREATE FUNCTION [Funciones].[ObtenerDeudaExtendida]
( @DetalleCheques int,
 @Cliente varchar(10),
 @GlobalID varchar (38) )
RETURNS NUMERIC (15,2)
AS

BEGIN
declare @Retorno numeric (15,2)
set @Retorno = 

	(select sum(deuda) as deuda

		from(

			select sum( saldocc * signo ) deuda
			from zoologic.ctacte 
			where clglobalid = '' and @Cliente = cliente
	
			union all

			select sum( saldocc * signo ) deuda
			from zoologic.ctacte 
			where clglobalid <> '' and @GlobalID = clglobalid

			union all

				select 

					case when ( (cheque.ccodcompa = '' and convert( date, cheque.cfecha + 2) >= convert(date, getdate())) 
					or (cheque.ccodcompa <> '' and convert( date, cheque.cfecha + 3) >= convert(date, getdate())) )
					then cast(cheque.cmonto * (funciones.obtenercotizacion(getdate(), moneda.codigo)) as numeric(15, 2) ) else 0 end as Deuda

				from  ZooLogic.cli as cli  
					left join ZooLogic.cheque as cheque on ltrim(rtrim(upper(cli.clcod))) = ltrim(rtrim(upper(cheque.cliente))) and cheque.cmonto!=0
					left join ZooLogic.xval as xval on ltrim( rtrim( upper(xval.clcod))) =  ltrim( rtrim( upper(cheque.cvalor))) 
					left join ZooLogic.moneda as moneda on ltrim( rtrim( upper(moneda.codigo))) =  ltrim( rtrim( upper(xval.clsmonet)))  
				where 
				( (cheque.ccodcompa = '' and convert( date, cheque.cfecha + 2) >= convert(date, getdate())) 
				or (cheque.ccodcompa <> '' and convert( date, cheque.cfecha + 3) >= convert(date, getdate())) )
				and cheque.cmonto != 0 AND @DetalleCheques = 1 AND @Cliente = cli.CLCOD ) cd
		) 
return isnull(@Retorno,0)
END