IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_Auditar]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_Auditar];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_Auditar]
( 
	@Empresa varchar(6),
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@ValorDesde varchar(10),
	@ValorHasta varchar(10)
)
RETURNS TABLE
AS
RETURN
	select @Empresa as empresa,
		Funciones.ObtenerConversionDeDatos( 'AUDITARALIASTARJETA', c_CUPONES.VALOR, c_CUPONES.BASEDATOS ) as tarjeta,
		Funciones.ObtenerConversionDeDatos( 'AUDITARESTABLECIMIENTO', c_CUPONES.VALOR, c_CUPONES.BASEDATOS ) as establec,
		cast ( Funciones.padl( cast( day( convert( date, c_CUPONES.FECHA ) ) as varchar(2) ), 2, '0' ) +
			Funciones.padl( cast( month( convert( date, c_CUPONES.FECHA ) ) as varchar(2) ), 2, '0' ) +
			Funciones.padl( cast( year( convert( date, c_CUPONES.FECHA ) ) as varchar(4) ), 4, '0' ) as varchar(8) ) as fecupon,
		cast( c_CUPONES.MONTO * 100 as int ) as monto,
		case when c_CUPONES.MONEDA = 'DOLAR' then '2' else '1' end as moneda,
		c_CUPONES.CUOTAS as cuotas,
		'S' as fijo,
		cast ( Funciones.padl( cast( day( convert( date, c_CUPONES.FCIELOTE ) ) as varchar(2) ), 2, '0' ) +
			Funciones.padl( cast( month( convert( date, c_CUPONES.FCIELOTE ) ) as varchar(2) ), 2, '0' ) +
			Funciones.padl( cast( year( convert( date, c_CUPONES.FCIELOTE ) ) as varchar(4) ), 4, '0' ) +
			substring( c_CUPONES.HCIELOTE, 1, 2 ) + substring( c_CUPONES.HCIELOTE, 4, 2 ) + '00' as varchar(14) ) as fcielote,
		cast( replace( c_CUPONES.ULTDIG, '-', '' ) as varchar(19 ) ) as plastico,
		c_CUPONES.NUMERO as nrocupon,
		c_CUPONES.LOTE as lote,
		case when c_POS.NROTERMI is null then '' else cast( c_POS.NROTERMI as varchar ( 10 ) )  end as terminal,
		case when c_ENTFIN.EFCOD is null then '' else Funciones.padl( c_ENTFIN.EFCOD, 5, '0' ) end as entfin,
		Funciones.ObtenerConversionDeDatos( 'AUDITARSUBALIASTARJETA', c_CUPONES.VALOR, c_CUPONES.BASEDATOS ) as subtarjeta,
		cast( c_CUPONES.DESPORC * 100 as int ) as descto
	from ZooLogic.CUPONES as c_CUPONES		
		left join [ZooLogic].[Pos] as c_POS on c_CUPONES.POS = c_POS.CODIGO
		left join [ZooLogic].[EntFin] as c_ENTFIN on c_CUPONES.ENTFIN = c_ENTFIN.EFCOD
		left join [ZooLogic].[CanjeCuponesEnt] as c_TarjetasCanjeadas on c_CUPONES.Codigo = c_TarjetasCanjeadas.Cupon
	where ( not 1 = funciones.empty( C_CUPONES.CODIGO ) ) 
		and C_CUPONES.FECHA between @FechaDesde and @FechaHasta 
		and C_CUPONES.VALOR between @ValorDesde and @ValorHasta
		and ( funciones.empty( fbaja ) = 1 or fbaja >= @FechaHasta )
		and c_TarjetasCanjeadas.Cupon is null