IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_Interfaz_BiRetail]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_Interfaz_BiRetail];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_Interfaz_BiRetail]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[ComprobanteV] as Comprobantes
		join [ZooLogic].[ComprobanteVDet] as DetalleArticulos on DetalleArticulos.Codigo = Comprobantes.Codigo
	 where Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29)
            and Comprobantes.Anulado = 0 and DetalleArticulos.fArt != 'SEÑA'
			and Comprobantes.FLETRA Between @LetraDesde and @LetraHasta
			and Comprobantes.FPTOVEN Between @PuntoVentaDesde and @PuntoVentaHasta
			and Comprobantes.FNUMCOMP Between @NumeroComprobanteDesde and @NumeroComprobanteHasta
			and Comprobantes.FALTAFW Between @FechaComprobanteDesde and @FechaComprobanteHasta
			and Comprobantes.FECEXPO Between @FechaExportacionDesde  and @FechaExportacionHasta
END