IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[EnterPorEspacio]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[EnterPorEspacio];
GO;

create function [Funciones].[EnterPorEspacio]
(
	@texto varchar(100)
)
returns varchar(100)
begin
	declare @textoSinEnter varchar(100)
	
	set @textoSinEnter = @texto
	set @textoSinEnter = replace(@textoSinEnter, char(13) + char(10), ' ')
	set @textoSinEnter = replace(@textoSinEnter, char(10) + char(13), ' ')
	set @textoSinEnter = replace(@textoSinEnter, char(13), ' ')
	set @textoSinEnter = replace(@textoSinEnter, char(10), ' ')
		
	return @textoSinEnter
end