IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerStockDeInsumosPorInventario]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerStockDeInsumosPorInventario];
GO;

create FUNCTION [Funciones].[ObtenerStockDeInsumosPorInventario]
	(
	@Articulo char(15),
	@Color char(6),
	@Talle char(5),
	@Inventario char(15)
	)
RETURNS numeric(15,2)
AS
BEGIN

	declare @retorno numeric(15, 2)
	
	set @Color = rtrim( @Color )
	set @Talle = rtrim( @Talle )
	set @Inventario = rtrim( @Inventario )
	
	if @Inventario = 'Todos' 
		set @Inventario = null
	
	if Funciones.Empty( @Color ) = 0 and (select comodin from zoologic.COL where colcod = @Color AND comodin = 1 ) = 1
		set @Color = null
			
	if Funciones.Empty( @Talle ) = 0 and (SELECT comodin FROM ZOOLOGIC.TALLE where codigo = @Talle and comodin = 1 ) = 1
		set @Talle = null

	set @retorno = ( 
					
					select sum( c_INV.COCANT ) as cocant
					from ZooLogic.STOCKINV as c_INV
					where c_INV.COART = @Articulo 
						and ( ( @Color is null ) OR ( c_INV.COCOL = @Color ) ) 
						and ( ( @Talle is null ) OR ( c_INV.Talle = @Talle ) )
						and ( ( @Inventario is null ) OR ( c_INV.INVENT = @Inventario ) ) 
						-- a futuro incorporar posiblemente con un IN cuando esté listo el agrupamiento de INVENTARIOS
					)
	return isnull( @retorno, 0 )
	
END		