IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_InterfazIcommkt]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_InterfazIcommkt];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_InterfazIcommkt]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobante
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[ComprobanteV] as Comprobante
	where Comprobante.FactTipo in (1, 2, 27)
		and Comprobante.FLetra between @LetraDesde and @LetraHasta
		and Comprobante.FPtoVen between @PuntoVentaDesde and @PuntoVentaHasta
		and Comprobante.FNumComp between @NumeroComprobanteDesde and @NumeroComprobanteHasta
		and Comprobante.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
		and Comprobante.FecExpo between @FechaExportacionDesde and @FechaExportacionHasta
		and Comprobante.Anulado = 0
END