IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_Tucuman_IIBB_SIRETPER_Percepciones_DATOS]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Interfaces].[Interfaz_Tucuman_IIBB_SIRETPER_Percepciones_DATOS];
GO;

Create function [Interfaces].[Interfaz_Tucuman_IIBB_SIRETPER_Percepciones_DATOS]
(
	@FechaDesde varchar(10),
	@FechaHasta varchar(10)	
)

RETURNS TABLE
AS
RETURN
(
	Select	
		concat( Datosexpo.AnioFecha, Datosexpo.MesFecha, Datosexpo.DiaFecha ) as Fecha, 
		Datosexpo.TipoDocumento as Tipo_Doc,
		Datosexpo.Documento as Documento,
		cast( Funciones.padl( Datosexpo.TipoComprobante, 2, '0' ) as char(2) ) as Tipo_Comp,
		Datosexpo.Letra as Letra, 
		Datosexpo.PtoVen as LugarEmis, 
		Datosexpo.Numero as Numero,
		cast( Funciones.padl( funciones.alltrim( Datosexpo.MontoBase ), 15, '0' ) as char(15) ) as Base_Calc, 
		cast( Funciones.padl( funciones.alltrim( Datosexpo.Alicuota ), 6, '0' ) as char(6) ) as Alicuota, 
		cast( Funciones.padl( funciones.alltrim( Datosexpo.MontoPercep ), 15, '0' ) as char(15) ) as Monto_per
	from (
			Select top 99.999999 percent
				cast( Funciones.padl( cast( year( Comprobantes.FFch ) as varchar(4) ), 4, '0' ) as char(4) ) as AnioFecha, 
				cast( Funciones.padl( cast( month(Comprobantes.FFch ) as varchar(2) ), 2, '0' ) as char(2) ) as MesFecha,
				cast( Funciones.padl( cast( day( Comprobantes.FFch ) as varchar(2) ), 2, '0' ) as char(2) ) as DiaFecha, 
				'80' as TipoDocumento, 
				cast( Funciones.padl( funciones.alltrim( Clientes.ClCuit ), 11, '0' ) as char(11) ) as Documento,
				case when ConvVTipo.ValDest is null then ConvCTipo.ValorDef else ConvVTipo.ValDest end as TipoComprobante,
				cast( Comprobantes.FLetra as char(1) ) as Letra, 
				cast( Funciones.padl( funciones.alltrim( cast( Comprobantes.FptoVen as char(4) )), 4, '0' ) as char(4) ) as PtoVen,
				cast( Funciones.padl( funciones.alltrim(cast( Comprobantes.Fnumcomp as varchar(8) )), 8, '0' ) as char(8) ) as Numero, 
				cast( Funciones.ObtenerMontoConDecimales( ImpuestosVentas.MontoBase, 2, 15 ) as char(15) ) as MontoBase, 
				cast( Funciones.ObtenerMontoConDecimales( ImpuestosVentas.Porcen, 2, 6 ) as char(6) ) as Alicuota,
				cast( Funciones.ObtenerMontoConDecimales( ImpuestosVentas.Monto, 2, 15 ) as char(15) ) as MontoPercep 
			from ZooLogic.ComprobanteV as  Comprobantes
				join ( select Impventas.MontoBase, Impventas.Porcen, Impventas.Monto, Impventas.Ccod, Impventas.Tipoi, Impventas.Jurid 
						from ZooLogic.Impventas inner join ZooLogic.Impuesto on Impventas.Codimp = Impuesto.Codigo
						where Impuesto.Aplicacion = 'PRC' and Impventas.MontoBase > 0 and Impventas.Monto > 0
					 ) as ImpuestosVentas 
					on Comprobantes.Codigo = ImpuestosVentas.Ccod and ImpuestosVentas.Tipoi = 'IIBB' and ImpuestosVentas.Jurid = '924' 
				left join ZooLogic.Cli as Clientes on Comprobantes.FPerson = Clientes.ClCod		
				left join [Organizacion].[Conver] as ConvCTipo on ConvCTipo.Codigo = 'TIPOCOMPROBANTEDGRTUC'
				left join [Organizacion].[ConverVal] as ConvVTipo on ConvCTipo.Codigo = ConvVTipo.Conversion and ConvVTipo.ValOrig = cast( Comprobantes.FactTipo as varchar(2) ) + Comprobantes.FLetra			
			where Comprobantes.FactTipo in ( 1, 2, 3, 4, 5, 6, 27, 28, 29, 54, 55, 56 ) 
				and Comprobantes.Anulado = 0 
				and Comprobantes.FFch between @FechaDesde and @FechaHasta
			ORDER BY case when  Comprobantes.FactTipo in ( 1,2,27,54) then 1 else 2 end, case when ConvVTipo.ValDest is null then ConvCTipo.ValorDef else ConvVTipo.ValDest end,Comprobantes.FptoVen,Comprobantes.Fnumcomp

		) as DatosExpo	
 )