IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[SipribRetenciones_Errores]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Interfaces].[SipribRetenciones_Errores];
GO;

Create FUNCTION [Interfaces].[SipribRetenciones_Errores]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10) 
)
RETURNS TABLE
AS
RETURN
(	
	Select	distinct(Proveedores.clCuit), Siprib.CondIIBB,
			Siprib.ArticuloIn, Siprib.TipoExenc, Siprib.Anio, Siprib.Certific, proveedores.ClNroIIBB, 
			Proveedores.ClNom,	Proveedores.ClCod
	from ZooLogic.COMPRET as  Comprobantes
			join ZooLogic.CRIMPDET as ImpuestosVentas on Comprobantes.Codigo = ImpuestosVentas.Codigo and  ImpuestosVentas.Jurisdicci = '921' and Comprobantes.Tipoimp = 'IIBB' 
			left join ZooLogic.Prov as Proveedores on Comprobantes.Prov = Proveedores.ClCod
			join ZooLogic.SIPRIBDATADIC as Siprib on Proveedores.ClSiprib = Siprib.CODIGO
			left join (select  prov, numop, sum(Crtotal)as TotImpue			
		FROM [ZooLogic].[COMPRET]
		group by NUMOP, prov) as SumImpue on  Comprobantes.Numop = SumImpue.Numop
		where Comprobantes.TipoImp = 'IIBB'	and					
			Comprobantes.Anulado = 0 and
			Comprobantes.Fecha >= @FechaDesde and Comprobantes.Fecha <= @FechaHasta and	
			( Funciones.Empty( Proveedores.ClCuit ) = 1 or  Funciones.Empty( Siprib.CondIIBB ) = 1 or  Funciones.Empty( Siprib.ArticuloIn ) = 1 or
			Funciones.Empty( Siprib.TipoExenc ) = 1 or len( Proveedores.clNroIIBB ) > 10 or 
			( Siprib.TipoExenc in (2, 3, 4) and (Siprib.Anio = 0 or Funciones.Empty(Siprib.Certific)= 1) ) or
			( Siprib.TipoExenc in (1, 5) and (Siprib.Anio > 0  or Funciones.Empty(Siprib.Certific)= 0) ))					
					
)