IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_EFlexware_DetalleItems]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_EFlexware_DetalleItems];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_EFlexware_DetalleItems]
(
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@BlanquearClienteB bit,
	@TipoDetalle int,
	@EsPedidoDeVentas bit,
	@TipoDeItem int,
	@UnidadDeMedida2 bit,
	@EsRemitoDeVentas bit,
	@UnidadDeMedida1 bit,
	@IncluirAlCodigo int,
	@IncluirAlCodigoArticulo int,
	@CodigoClienteCompEnCero varchar(6), 
	@CodigoConceptoAgrupado varchar(23),
	@CProveedorSiVacio varchar(40),
	@Exportarrecfincomoconcep bit, 
	@Conceptopararecargo varchar(23),
	@IvaSistema numeric(5,2)
	
)
RETURNS TABLE
AS
RETURN
(
	select cast(DatosExpo.TipoComprobante as char(3)) as TipoComp,										-- Campo: 1,  Longitud: 3,  Posiciones: 1-3
		cast(DatosExpo.LetraComprobante as char(1)) as LetraComp,										-- Campo: 2,  Longitud: 1,  Posiciones: 4
		cast(Funciones.padl(DatosExpo.PuntoVenta, 4, '0') as char(4)) as PtoVenta,						-- Campo: 3,  Longitud: 4,  Posiciones: 5-8
		cast(Funciones.padl(DatosExpo.NumeroComprobanteDesde, 8, '0') as char(8)) as NroCompD,			-- Campo: 4,  Longitud: 8,  Posiciones: 9-16
		cast(DatosExpo.NumeroComprobanteHasta as char(8)) as NroCompH,									-- Campo: 5,  Longitud: 8,  Posiciones: 17-24
		cast(DatosExpo.FechaComprobante as char(8)) as FechaComp,										-- Campo: 6,  Longitud: 8,  Posiciones: 25-32
		cast(DatosExpo.CodigoCliente as char(6)) as CodCliente,											-- Campo: 7,  Longitud: 6,  Posiciones: 33-38
		cast(DatosExpo.TipoItem as char(1)) as TipoItem,												-- Campo: 8,  Longitud: 1,  Posiciones: 39
		cast(DatosExpo.CodigoConceptoArticulo as char(23)) as CodArti,									-- Campo: 9,  Longitud: 23, Posiciones: 40-62
		cast(Funciones.padl(DatosExpo.CantidadUnidadDeMedida1, 16, ' ') as char(16)) as CantUM1,		-- Campo: 10, Longitud: 16, Posiciones: 63-78
		cast(Funciones.padl(DatosExpo.CantidadUnidadDeMedida2, 16, ' ') as char(16)) as CantUM2,		-- Campo: 11, Longitud: 16, Posiciones: 79-94
		cast(DatosExpo.DescripcionArticuloConceptoLeyenda as char(50)) as DescArti,						-- Campo: 12, Longitud: 50, Posiciones: 95-144
		cast(Funciones.padl(DatosExpo.PrecioUnitario, 16, ' ') as char(16)) as PrecUni,					-- Campo: 13, Longitud: 16, Posiciones: 145-160
		cast(Funciones.padl(DatosExpo.PorcentajeIVAInscripto, 8, ' ') as char(8)) as PorcIVAI,			-- Campo: 14, Longitud: 8,  Posiciones: 161-168
		cast(Funciones.padl(DatosExpo.PorcentajeIVANoInscripto, 8, ' ') as char(8)) as PorcIVANoI,		-- Campo: 15, Longitud: 8,  Posiciones: 169-176
		cast(Funciones.padl(DatosExpo.ImporteIVAInscripto, 16, ' ') as char(16)) as ImpIVAI,			-- Campo: 16, Longitud: 16, Posiciones: 177-192
		cast(Funciones.padl(DatosExpo.ImporteIVANoInscripto, 16, ' ') as char(16)) as ImpIVANoI,		-- Campo: 17, Longitud: 16, Posiciones: 193-208
		cast(Funciones.padl(DatosExpo.ImporteTotal, 16, ' ') as char(16)) as ImpTotal,					-- Campo: 18, Longitud: 16, Posiciones: 209-224
		cast(Funciones.padl(DatosExpo.ImporteDescuentoComercial, 16, ' ') as char(16)) as ImpDescCom,	-- Campo: 19, Longitud: 16, Posiciones: 225-240
		cast(Funciones.padl(DatosExpo.ImporteDescuentoFinanciero, 16, ' ') as char(16)) as ImpDescFin,	-- Campo: 20, Longitud: 16, Posiciones: 241-256
		cast(Funciones.padl(DatosExpo.ImporteDescuentoAlPie, 16, ' ') as char(16)) as ImpDescPie,		-- Campo: 21, Longitud: 16, Posiciones: 257-272
		cast(DatosExpo.CodigoConceptoNoGravado as char(4)) as CodIVANoG,								-- Campo: 22, Longitud: 4,  Posiciones: 273-276
		cast(Funciones.padl(DatosExpo.ImporteIVANoGravado, 16, ' ') as char(16)) as ImpIVANoG,			-- Campo: 23, Longitud: 16, Posiciones: 277-292
		cast(DatosExpo.TipoIVA as char(1)) as TipoIVA,													-- Campo: 24, Longitud: 1,  Posiciones: 293
		cast(DatosExpo.CodigoDescuentoPorLinea as char(2)) as CodDescLin,								-- Campo: 25, Longitud: 2,  Posiciones: 294-295
		cast(Funciones.padl(DatosExpo.ImporteDescuentoPorLinea, 16, ' ') as char(16)) as ImpDescLin,	-- Campo: 26, Longitud: 16, Posiciones: 296-311
		cast(DatosExpo.Deposito as char(3)) as Deposito,												-- Campo: 27, Longitud: 3,  Posiciones: 312-314
		cast(DatosExpo.Partida as char(26)) as Partida,													-- Campo: 28, Longitud: 26, Posiciones: 315-340
		cast(Funciones.padl(DatosExpo.TasaDescuentoPorItem, 8, ' ') as char(8)) as TasaDesLin,			-- Campo: 29, Longitud: 8,  Posiciones: 341-348
		cast(Funciones.padl(DatosExpo.ImporteRenglon, 16, ' ') as char(16)) as ImpRenglon,				-- Campo: 30, Longitud: 16, Posiciones: 349-364
		cast(DatosExpo.ClaseArticulo as char(3)) as ClaseArti,											-- Campo: 31, Longitud: 3,  Posiciones: 365-367
		cast(DatosExpo.DefinibleArticulos1 as char(4)) as DefArti1,										-- Campo: 32, Longitud: 4,  Posiciones: 368-371
		cast(DatosExpo.DescripcionDefinibleArticulos1 as char(25)) as DesDefArt1,						-- Campo: 33, Longitud: 25, Posiciones: 372-396
		cast(DatosExpo.DefinibleArticulos2 as char(4)) as DefArti2,										-- Campo: 34, Longitud: 4,  Posiciones: 397-400
		cast(DatosExpo.DescripcionDefinibleArticulos2 as char(25)) as DesDefArt2,						-- Campo: 35, Longitud: 25, Posiciones: 401-425
		cast(DatosExpo.CodigoProveedor as char(6)) as CodProve,											-- Campo: 36, Longitud: 6,  Posiciones: 426-431
		cast(DatosExpo.RazonSocialProveedor as char(40)) as NomProve,									-- Campo: 37, Longitud: 40, Posiciones: 432-471
		cast(DatosExpo.DescripcionElementoNivel1 as char(15)) as DescElemN1,							-- Campo: 38, Longitud: 15, Posiciones: 472-486
		cast(DatosExpo.DescripcionElementoNivel2 as char(15)) as DescElemN2,							-- Campo: 39, Longitud: 15, Posiciones: 487-501
		cast(DatosExpo.DescripcionElementoNivel3 as char(15)) as DescElemN3,							-- Campo: 40, Longitud: 15, Posiciones: 502-516
		cast(DatosExpo.CodigoBarras as char(20)) as CodBarra,											-- Campo: 41, Longitud: 20, Posiciones: 517-536
		cast(DatosExpo.FechaEntrega as char(8)) as FechaEntr,											-- Campo: 42, Longitud: 8,  Posiciones: 537-544
		cast(DatosExpo.NumeroRenglon as char(3)) as NroRenglon,											-- Campo: 43, Longitud: 3,  Posiciones: 545-547
		cast(DatosExpo.EsKit as char(1)) as EsKit,														-- Campo: 44, Longitud: 1,  Posiciones: 548
		cast(DatosExpo.CodigoKit as char(5)) as CodigoKit,												-- Campo: 45, Longitud: 5,  Posiciones: 549-553
		cast(DatosExpo.EsPromocion as char(1)) as EsPromo												-- Campo: 46, Longitud: 1,  Posiciones: 554
	from(
		select Totalizados.TipoComprobante,
			Totalizados.LetraComprobante,
			cast(Totalizados.PuntoVenta as varchar(4)) as PuntoVenta,
			cast(Totalizados.NumeroComprobanteDesde as varchar(8)) as NumeroComprobanteDesde,
			Totalizados.NumeroComprobanteHasta,
			Totalizados.FechaComprobante,
			Totalizados.CodigoCliente,
			Totalizados.TipoItem,
			Totalizados.CodigoConceptoArticulo,
			Funciones.ObtenerMontoConDecimales(Totalizados.CantidadUnidadDeMedida1, 2, 16) as CantidadUnidadDeMedida1,
			Funciones.ObtenerMontoConDecimales(Totalizados.CantidadUnidadDeMedida2, 2, 16) as CantidadUnidadDeMedida2,
			Totalizados.DescripcionArticuloConceptoLeyenda,
			Funciones.ObtenerMontoConDecimales(Totalizados.PrecioUnitario, 2, 16) as PrecioUnitario,
			Funciones.ObtenerMontoConDecimales(Totalizados.PorcentajeIVAInscripto, 2, 8) as PorcentajeIVAInscripto,
			Funciones.ObtenerMontoConDecimales(Totalizados.PorcentajeIVANoInscripto, 2, 8) as PorcentajeIVANoInscripto,
			Funciones.ObtenerMontoConDecimales(Totalizados.ImporteIVAInscripto, 2, 16) as ImporteIVAInscripto,
			Funciones.ObtenerMontoConDecimales(Totalizados.ImporteIVANoInscripto, 2, 16) as ImporteIVANoInscripto,
			Funciones.ObtenerMontoConDecimales(Totalizados.ImporteTotal, 2, 16) as ImporteTotal,
			Funciones.ObtenerMontoConDecimales(Totalizados.ImporteDescuentoComercial, 2, 16) as ImporteDescuentoComercial,
			Funciones.ObtenerMontoConDecimales(Totalizados.ImporteDescuentoFinanciero, 2, 16) as ImporteDescuentoFinanciero,
			Funciones.ObtenerMontoConDecimales(Totalizados.ImporteDescuentoAlPie, 2, 16) as ImporteDescuentoAlPie,
			Totalizados.CodigoConceptoNoGravado,
			Funciones.ObtenerMontoConDecimales(Totalizados.ImporteIVANoGravado, 2, 16) as ImporteIVANoGravado,
			Totalizados.TipoIVA,
			Totalizados.CodigoDescuentoPorLinea,
			Funciones.ObtenerMontoConDecimales(Totalizados.ImporteDescuentoPorLinea, 2, 16) as ImporteDescuentoPorLinea,
			Totalizados.Deposito,
			Totalizados.Partida,
			Funciones.ObtenerMontoConDecimales(Totalizados.TasaDescuentoPorItem, 2, 8) as TasaDescuentoPorItem,
			Funciones.ObtenerMontoConDecimales(Totalizados.ImporteRenglon, 2, 16) as ImporteRenglon,
			Totalizados.ClaseArticulo,
			Totalizados.DefinibleArticulos1,
			Totalizados.DescripcionDefinibleArticulos1,
			Totalizados.DefinibleArticulos2,
			Totalizados.DescripcionDefinibleArticulos2,
			Totalizados.CodigoProveedor,
			Totalizados.RazonSocialProveedor,
			Totalizados.DescripcionElementoNivel1,
			Totalizados.DescripcionElementoNivel2,
			Totalizados.DescripcionElementoNivel3,
			Totalizados.CodigoBarras,
			Totalizados.FechaEntrega,
			Totalizados.NumeroRenglon,
			Totalizados.EsKit,
			Totalizados.CodigoKit,
			Totalizados.EsPromocion
		from [Interfaces].[Datos_EFlexware_DetalleItems_TotalesPorAlicuota] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @BlanquearClienteB, @EsPedidoDeVentas, @TipoDeItem, @UnidadDeMedida2 , @EsRemitoDeVentas, @UnidadDeMedida1, @IncluirAlCodigo, @IncluirAlCodigoArticulo, @CodigoClienteCompEnCero, @CodigoConceptoAgrupado, @cProveedorSiVacio) as Totalizados
		where @TipoDetalle = 3
		
		union all
		
		select Articulos.TipoComprobante,
			Articulos.LetraComprobante,
			cast(Articulos.PuntoVenta as varchar(4)) as PuntoVenta,
			cast(Articulos.NumeroComprobanteDesde as varchar(8)) as NumeroComprobanteDesde,
			Articulos.NumeroComprobanteHasta,
			Articulos.FechaComprobante,
			Articulos.CodigoCliente,
			Articulos.TipoItem,
			Articulos.CodigoConceptoArticulo,
			Funciones.ObtenerMontoConDecimales(Articulos.CantidadUnidadDeMedida1, 2, 16) as CantidadUnidadDeMedida1,
			Funciones.ObtenerMontoConDecimales(Articulos.CantidadUnidadDeMedida2, 2, 16) as CantidadUnidadDeMedida2,
			Articulos.DescripcionArticuloConceptoLeyenda,
			Funciones.ObtenerMontoConDecimales(Articulos.PrecioUnitario, 2, 16) as PrecioUnitario,
			Funciones.ObtenerMontoConDecimales(Articulos.PorcentajeIVAInscripto, 2, 8) as PorcentajeIVAInscripto,
			Funciones.ObtenerMontoConDecimales(Articulos.PorcentajeIVANoInscripto, 2, 8) as PorcentajeIVANoInscripto,
			Funciones.ObtenerMontoConDecimales(Articulos.ImporteIVAInscripto, 2, 16) as ImporteIVAInscripto,
			Funciones.ObtenerMontoConDecimales(Articulos.ImporteIVANoInscripto, 2, 16) as ImporteIVANoInscripto,
			Funciones.ObtenerMontoConDecimales(Articulos.ImporteTotal, 2, 16) as ImporteTotal,
			Funciones.ObtenerMontoConDecimales(Articulos.ImporteDescuentoComercial, 2, 16) as ImporteDescuentoComercial,
			Funciones.ObtenerMontoConDecimales(Articulos.ImporteDescuentoFinanciero, 2, 16) as ImporteDescuentoFinanciero,
			Funciones.ObtenerMontoConDecimales(Articulos.ImporteDescuentoAlPie, 2, 16) as ImporteDescuentoAlPie,
			Articulos.CodigoConceptoNoGravado,
			Funciones.ObtenerMontoConDecimales(Articulos.ImporteIVANoGravado, 2, 16) as ImporteIVANoGravado,
			Articulos.TipoIVA,
			Articulos.CodigoDescuentoPorLinea,
			Funciones.ObtenerMontoConDecimales(Articulos.ImporteDescuentoPorLinea, 2, 16) as ImporteDescuentoPorLinea,
			Articulos.Deposito,
			Articulos.Partida,
			Funciones.ObtenerMontoConDecimales(Articulos.TasaDescuentoPorItem, 2, 8) as TasaDescuentoPorItem,
			Funciones.ObtenerMontoConDecimales(Articulos.ImporteRenglon, 2, 16) as ImporteRenglon,
			Articulos.ClaseArticulo,
			Articulos.DefinibleArticulos1,
			Articulos.DescripcionDefinibleArticulos1,
			Articulos.DefinibleArticulos2,
			Articulos.DescripcionDefinibleArticulos2,
			Articulos.CodigoProveedor,
			Articulos.RazonSocialProveedor,
			Articulos.DescripcionElementoNivel1,
			Articulos.DescripcionElementoNivel2,
			Articulos.DescripcionElementoNivel3,
			Articulos.CodigoBarras,
			Articulos.FechaEntrega,
			Articulos.NumeroRenglon,
			Articulos.EsKit,
			Articulos.CodigoKit,
			Articulos.EsPromocion
		from [Interfaces].[Datos_EFlexware_DetalleItems_Articulos] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @BlanquearClienteB, @EsPedidoDeVentas, @TipoDeItem, @UnidadDeMedida2, @EsRemitoDeVentas, @UnidadDeMedida1, @IncluirAlCodigo, @IncluirAlCodigoArticulo, @CodigoClienteCompEnCero,@CodigoConceptoAgrupado,@cProveedorSiVacio ) as Articulos
		where @TipoDetalle = 1
		
		union all
		
		select Ajustes.TipoComprobante,
			Ajustes.LetraComprobante,
			cast(Ajustes.PuntoVenta as varchar(4)) as PuntoVenta,
			cast(Ajustes.NumeroComprobanteDesde as varchar(8)) as NumeroComprobanteDesde,
			Ajustes.NumeroComprobanteHasta,
			Ajustes.FechaComprobante,
			Ajustes.CodigoCliente,
			Ajustes.TipoItem,
			Ajustes.CodigoConceptoArticulo,
			Funciones.ObtenerMontoConDecimales(Ajustes.CantidadUnidadDeMedida1, 2, 16) as CantidadUnidadDeMedida1,
			Funciones.ObtenerMontoConDecimales(Ajustes.CantidadUnidadDeMedida2, 2, 16) as CantidadUnidadDeMedida2,
			Ajustes.DescripcionArticuloConceptoLeyenda,
			Funciones.ObtenerMontoConDecimales(Ajustes.PrecioUnitario, 2, 16) as PrecioUnitario,
			Funciones.ObtenerMontoConDecimales(Ajustes.PorcentajeIVAInscripto, 2, 8) as PorcentajeIVAInscripto,
			Funciones.ObtenerMontoConDecimales(Ajustes.PorcentajeIVANoInscripto, 2, 8) as PorcentajeIVANoInscripto,
			Funciones.ObtenerMontoConDecimales(Ajustes.ImporteIVAInscripto, 2, 16) as ImporteIVAInscripto,
			Funciones.ObtenerMontoConDecimales(Ajustes.ImporteIVANoInscripto, 2, 16) as ImporteIVANoInscripto,
			Funciones.ObtenerMontoConDecimales(Ajustes.ImporteTotal, 2, 16) as ImporteTotal,
			Funciones.ObtenerMontoConDecimales(Ajustes.ImporteDescuentoComercial, 2, 16) as ImporteDescuentoComercial,
			Funciones.ObtenerMontoConDecimales(Ajustes.ImporteDescuentoFinanciero, 2, 16) as ImporteDescuentoFinanciero,
			Funciones.ObtenerMontoConDecimales(Ajustes.ImporteDescuentoAlPie, 2, 16) as ImporteDescuentoAlPie,
			Ajustes.CodigoConceptoNoGravado,
			Funciones.ObtenerMontoConDecimales(Ajustes.ImporteIVANoGravado, 2, 16) as ImporteIVANoGravado,
			Ajustes.TipoIVA,
			Ajustes.CodigoDescuentoPorLinea,
			Funciones.ObtenerMontoConDecimales(Ajustes.ImporteDescuentoPorLinea, 2, 16) as ImporteDescuentoPorLinea,
			Ajustes.Deposito,
			Ajustes.Partida,
			Funciones.ObtenerMontoConDecimales(Ajustes.TasaDescuentoPorItem, 2, 8) as TasaDescuentoPorItem,
			Funciones.ObtenerMontoConDecimales(Ajustes.ImporteRenglon, 2, 16) as ImporteRenglon,
			Ajustes.ClaseArticulo,
			Ajustes.DefinibleArticulos1,
			Ajustes.DescripcionDefinibleArticulos1,
			Ajustes.DefinibleArticulos2,
			Ajustes.DescripcionDefinibleArticulos2,
			Ajustes.CodigoProveedor,
			Ajustes.RazonSocialProveedor,
			Ajustes.DescripcionElementoNivel1,
			Ajustes.DescripcionElementoNivel2,
			Ajustes.DescripcionElementoNivel3,
			Ajustes.CodigoBarras,
			Ajustes.FechaEntrega,
			Ajustes.NumeroRenglon,
			Ajustes.EsKit,
			Ajustes.CodigoKit,
			Ajustes.EsPromocion
		from [Interfaces].[Datos_EFlexware_DetalleItems_AjustesPorRecargos] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @BlanquearClienteB, @EsPedidoDeVentas, @TipoDeItem, @UnidadDeMedida2, @EsRemitoDeVentas, @UnidadDeMedida1, @CodigoClienteCompEnCero ) as Ajustes
		
		union all
		
		select Seniados.TipoComprobante,
			Seniados.LetraComprobante,
			cast(Seniados.PuntoVenta as varchar(4)) as PuntoVenta,
			cast(Seniados.NumeroComprobanteDesde as varchar(8)) as NumeroComprobanteDesde,
			Seniados.NumeroComprobanteHasta,
			Seniados.FechaComprobante,
			Seniados.CodigoCliente,
			Seniados.TipoItem,
			Seniados.CodigoConceptoArticulo,
			Funciones.ObtenerMontoConDecimales(Seniados.CantidadUnidadDeMedida1, 2, 16) as CantidadUnidadDeMedida1,
			Funciones.ObtenerMontoConDecimales(Seniados.CantidadUnidadDeMedida2, 2, 16) as CantidadUnidadDeMedida2,
			Seniados.DescripcionArticuloConceptoLeyenda,
			Funciones.ObtenerMontoConDecimales(Seniados.PrecioUnitario, 2, 16) as PrecioUnitario,
			Funciones.ObtenerMontoConDecimales(Seniados.PorcentajeIVAInscripto, 2, 8) as PorcentajeIVAInscripto,
			Funciones.ObtenerMontoConDecimales(Seniados.PorcentajeIVANoInscripto, 2, 8) as PorcentajeIVANoInscripto,
			Funciones.ObtenerMontoConDecimales(Seniados.ImporteIVAInscripto, 2, 16) as ImporteIVAInscripto,
			Funciones.ObtenerMontoConDecimales(Seniados.ImporteIVANoInscripto, 2, 16) as ImporteIVANoInscripto,
			Funciones.ObtenerMontoConDecimales(Seniados.ImporteTotal, 2, 16) as ImporteTotal,
			Funciones.ObtenerMontoConDecimales(Seniados.ImporteDescuentoComercial, 2, 16) as ImporteDescuentoComercial,
			Funciones.ObtenerMontoConDecimales(Seniados.ImporteDescuentoFinanciero, 2, 16) as ImporteDescuentoFinanciero,
			Funciones.ObtenerMontoConDecimales(Seniados.ImporteDescuentoAlPie, 2, 16) as ImporteDescuentoAlPie,
			Seniados.CodigoConceptoNoGravado,
			Funciones.ObtenerMontoConDecimales(Seniados.ImporteIVANoGravado, 2, 16) as ImporteIVANoGravado,
			Seniados.TipoIVA,
			Seniados.CodigoDescuentoPorLinea,
			Funciones.ObtenerMontoConDecimales(Seniados.ImporteDescuentoPorLinea, 2, 16) as ImporteDescuentoPorLinea,
			Seniados.Deposito,
			Seniados.Partida,
			Funciones.ObtenerMontoConDecimales(Seniados.TasaDescuentoPorItem, 2, 8) as TasaDescuentoPorItem,
			Funciones.ObtenerMontoConDecimales(Seniados.ImporteRenglon, 2, 16) as ImporteRenglon,
			Seniados.ClaseArticulo,
			Seniados.DefinibleArticulos1,
			Seniados.DescripcionDefinibleArticulos1,
			Seniados.DefinibleArticulos2,
			Seniados.DescripcionDefinibleArticulos2,
			Seniados.CodigoProveedor,
			Seniados.RazonSocialProveedor,
			Seniados.DescripcionElementoNivel1,
			Seniados.DescripcionElementoNivel2,
			Seniados.DescripcionElementoNivel3,
			Seniados.CodigoBarras,
			Seniados.FechaEntrega,
			Seniados.NumeroRenglon,
			Seniados.EsKit,
			Seniados.CodigoKit,
			Seniados.EsPromocion
		from [Interfaces].[Datos_EFlexware_DetalleItems_ComprobantesSeniados] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @BlanquearClienteB, @EsPedidoDeVentas, @TipoDeItem, @UnidadDeMedida2, @EsRemitoDeVentas, @UnidadDeMedida1,@CodigoClienteCompEnCero) as Seniados

			union all
		select RecargosFinancieros.TipoComprobante,
			 RecargosFinancieros.LetraComprobante,
			cast( RecargosFinancieros.PuntoVenta as varchar(4)) as PuntoVenta,
			cast( RecargosFinancieros.NumeroComprobanteDesde as varchar(8)) as NumeroComprobanteDesde,
			 RecargosFinancieros.NumeroComprobanteHasta,
			 RecargosFinancieros.FechaComprobante,
			 RecargosFinancieros.CodigoCliente,
			 RecargosFinancieros.TipoItem,
			 RecargosFinancieros.CodigoConceptoArticulo,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.CantidadUnidadDeMedida1, 2, 16) as CantidadUnidadDeMedida1,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.CantidadUnidadDeMedida2, 2, 16) as CantidadUnidadDeMedida2,
			 RecargosFinancieros.DescripcionArticuloConceptoLeyenda,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.PrecioUnitario, 2, 16) as PrecioUnitario,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.PorcentajeIVAInscripto, 2, 8) as PorcentajeIVAInscripto,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.PorcentajeIVANoInscripto, 2, 8) as PorcentajeIVANoInscripto,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.ImporteIVAInscripto, 2, 16) as ImporteIVAInscripto,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.ImporteIVANoInscripto, 2, 16) as ImporteIVANoInscripto,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.ImporteTotal, 2, 16) as ImporteTotal,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.ImporteDescuentoComercial, 2, 16) as ImporteDescuentoComercial,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.ImporteDescuentoFinanciero, 2, 16) as ImporteDescuentoFinanciero,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.ImporteDescuentoAlPie, 2, 16) as ImporteDescuentoAlPie,
			 RecargosFinancieros.CodigoConceptoNoGravado,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.ImporteIVANoGravado, 2, 16) as ImporteIVANoGravado,
			 RecargosFinancieros.TipoIVA,
			 RecargosFinancieros.CodigoDescuentoPorLinea,
			Funciones.ObtenerMontoConDecimales(RecargosFinancieros.ImporteDescuentoPorLinea, 2, 16) as ImporteDescuentoPorLinea,
			 RecargosFinancieros.Deposito,
			 RecargosFinancieros.Partida,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.TasaDescuentoPorItem, 2, 8) as TasaDescuentoPorItem,
			Funciones.ObtenerMontoConDecimales( RecargosFinancieros.ImporteRenglon, 2, 16) as ImporteRenglon,
			 RecargosFinancieros.ClaseArticulo,
			 RecargosFinancieros.DefinibleArticulos1,
			 RecargosFinancieros.DescripcionDefinibleArticulos1,
			 RecargosFinancieros.DefinibleArticulos2,
			 RecargosFinancieros.DescripcionDefinibleArticulos2,
			 RecargosFinancieros.CodigoProveedor,
			 RecargosFinancieros.RazonSocialProveedor,
			 RecargosFinancieros.DescripcionElementoNivel1,
			 RecargosFinancieros.DescripcionElementoNivel2,
			 RecargosFinancieros.DescripcionElementoNivel3,
			 RecargosFinancieros.CodigoBarras,
			 RecargosFinancieros.FechaEntrega,
			 RecargosFinancieros.NumeroRenglon,
			 RecargosFinancieros.EsKit,
			 RecargosFinancieros.CodigoKit,
			 RecargosFinancieros.EsPromocion
		from [Interfaces].[Datos_EFlexware_DetalleItems_RecargosFinancieros] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @BlanquearClienteB, @EsPedidoDeVentas,  @TipoDeItem, @UnidadDeMedida2, @EsRemitoDeVentas, @UnidadDeMedida1, @CodigoClienteCompEnCero,@Exportarrecfincomoconcep , 
	@Conceptopararecargo, @IvaSistema ) as RecargosFinancieros

		) as DatosExpo
)