IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_InterfazNK_Ventas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_InterfazNK_Ventas];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_InterfazNK_Ventas]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@CodigoProveedor char(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[ComprobanteV] as Comprobantes
		join [ZooLogic].[ComprobanteVDet] as DetalleArticulos on DetalleArticulos.Codigo = Comprobantes.Codigo
		join [ZooLogic].[Art] as Articulos on Articulos.ArtCod = DetalleArticulos.FArt and Articulos.ArtFab = @CodigoProveedor
	where Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29)
		and Comprobantes.FLetra between @LetraDesde and @LetraHasta
		and Comprobantes.FPtoVen between @PuntoVentaDesde and @PuntoVentaHasta
		and Comprobantes.FNumComp between @NumeroComprobanteDesde and @NumeroComprobanteHasta
		and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
		and Comprobantes.FecExpo between @FechaExportacionDesde and @FechaExportacionHasta
		and Comprobantes.Anulado = 0
END