IF EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[Vista_TrazaItemsCDet]') AND type = N'V')
	DROP VIEW [Listados].[Vista_TrazaItemsCDet];
GO;

CREATE VIEW [Listados].[Vista_TrazaItemsCDet] AS
	with ComprobantesRelacionados( AFECTACION, FECHA_COMPROBANTE_BASE, FACTIPO, TIPO_BASE, TIPO, NTBASE, NT, COMPROBANTE, COMPROBANTE_AFECTADO, CODIGO_RAIZ, NROITEM_RAIZ, IDITEM, NIVEL, N_INFERIORES, N_SUPERIORES, CODIGO_ACTUAL, FECHA, VENCIMIENTO, ENTREGA, DIAS_TRANSCURRIDOS, DIAS_CONTRA_VENCIMIENTO, DIAS_CONTRA_ENTREGA, CANTIDAD_ORIGINAL, AFECTA_AL_PENDIENTE, SECUENCIA )  as
		(
			select 
				cast('Base' as varchar(20)),
				Principal.FFCH,
				Principal.FACTTIPO,
				Principal.TIPO,
				Principal.TIPO,
				Principal.SECUENCIA_TRANSACCIONAL, 
				Principal.SECUENCIA_TRANSACCIONAL, 
				Principal.COMPROBANTE,
				Detalle.COMPROBANTE_AFECTADO,
				Principal.CODIGO,
				Detalle.NROITEM,
				Detalle.IDITEM,
				cast(0 as int),
				cast(0 as int),
				cast(0 as int),
				Principal.CODIGO,
				Principal.FFCH,
				Principal.FFCHVENC,
				Principal.FFCHENTR,
				cast( 0 as int ),
				cast( 0 as int ),
				cast( 0 as int ),
				cast( Detalle.FCANT as numeric(9,3)),
				cast( null as numeric(9,3)),
				cast( convert(varchar(5), Detalle.NROITEM) + ';' + Principal.CODIGO + ';' as varchar(max))
			from [Listados].[Vista_ComprobanteC] as Principal
				inner join [Listados].[Vista_ComprobanteCDet] as Detalle on Principal.CODIGO = Detalle.CODIGO and rtrim( Detalle.IDITEM ) != '' and Detalle.FCANT != 0
			where 1=1
				and Principal.FACTTIPO != 41
				--and Principal.FFCH = convert( datetime, '20190227' )
				--and principal.TIPO = 'Pedido'
				--and Principal.FFCH = convert( datetime, '20190307' )
				--and principal.TIPO = 'Remito'
				--and Principal.CODIGO = '13A5F25D319FD914E1B1ACCD17304174237821'
				--and Principal.CODIGO = '16DE166B0161A7147A61963418958425912021'

			union all

			select
				cast('Afectado por...' as varchar(20)),
				Anterior.FECHA_COMPROBANTE_BASE,
				Principal.FACTTIPO,
				Anterior.TIPO_BASE,
				Principal.TIPO,
				Anterior.NTBASE,
				case when Principal.FACTTIPO != 41 then Principal.SECUENCIA_TRANSACCIONAL else Anterior.NT + 1 end, 
				Principal.COMPROBANTE,
				Detalle.COMPROBANTE_AFECTADO,
				Anterior.CODIGO_RAIZ,
				Anterior.NROITEM_RAIZ,
				Anterior.IDITEM,
				Anterior.NIVEL + 1,
				Anterior.N_INFERIORES + 1,
				Anterior.N_SUPERIORES,
				Afecta.AFECTA,
				Principal.FFCH,
				Principal.FFCHVENC,
				Principal.FFCHENTR,
				cast( datediff( day, Anterior.FECHA, Principal.FFCH ) as int ),
				cast( datediff( day, Anterior.VENCIMIENTO, Principal.FFCH ) as int ),
				cast( case when Principal.FACTTIPO != 41 then datediff( day, Anterior.ENTREGA, Principal.FFCH ) else null end as int ),
				cast( null as numeric(9,3)),
				cast( case when Anterior.NIVEL = 0 then Detalle.FCANT else null end as numeric(9,3)),
				Anterior.SECUENCIA + replace( convert( varchar, Principal.FFCH, 102 ), '.', '' ) + Afecta.AFECTA + ';'
			from ComprobantesRelacionados as Anterior
				inner join [ZooLogic].[COMPAFE] Afecta on AFECTA.AFETIPO = 'Afectante' and Afecta.CODIGO = Anterior.CODIGO_ACTUAL
				inner join [Listados].[Vista_ComprobanteC] as Principal on Principal.Codigo = Afecta.AFECTA and Principal.SECUENCIA_TRANSACCIONAL > Anterior.NTBASE
				inner join [Listados].[Vista_ComprobanteCDet] as Detalle on Detalle.Codigo = Afecta.AFECTA and Detalle.IDITEM = Anterior.IDITEM and Detalle.FCANT != 0
			where Anterior.FACTIPO != 41

			union all

			select
				cast('Afectó a...' as varchar(20)),
				Anterior.FECHA_COMPROBANTE_BASE,
				Principal.FACTTIPO,
				Anterior.TIPO_BASE,
				Principal.TIPO,
				Anterior.NTBASE,
				case when Principal.FACTTIPO != 41 then Principal.SECUENCIA_TRANSACCIONAL else Anterior.NT - 1 end, 
				Principal.COMPROBANTE,
				Detalle.COMPROBANTE_AFECTADO,
				Anterior.CODIGO_RAIZ,
				Anterior.NROITEM_RAIZ,
				Anterior.IDITEM,
				Anterior.NIVEL - 1,
				Anterior.N_INFERIORES,
				Anterior.N_SUPERIORES + 1,
				Afecta.AFECTA,
				Principal.FFCH,
				Principal.FFCHVENC,
				Principal.FFCHENTR,
				cast( datediff( day, Principal.FFCH, Anterior.FECHA ) as int ),
				cast( datediff( day, Principal.FFCHVENC, Anterior.FECHA ) as int ),
				cast( datediff( day, Principal.FFCHENTR, Anterior.FECHA ) as int ),
				cast( null as numeric(9,3)),
				cast( null  as numeric(9,3)), 
				Anterior.SECUENCIA + replace( convert( varchar, Principal.FFCH, 102 ), '.', '' ) + Afecta.AFECTA + ';'
			from ComprobantesRelacionados as Anterior
				inner join [ZooLogic].[COMPAFE] Afecta on AFECTA.AFETIPO = 'Afectado' and Afecta.CODIGO = Anterior.CODIGO_ACTUAL
				inner join [Listados].[Vista_ComprobanteC] as Principal on Principal.FACTTIPO != 41 and Principal.Codigo = Afecta.AFECTA and Principal.SECUENCIA_TRANSACCIONAL < Anterior.NTBASE
				inner join [Listados].[Vista_ComprobanteCDet] as Detalle on Detalle.Codigo = Afecta.AFECTA and Detalle.IDITEM = Anterior.IDITEM and Detalle.FCANT != 0
			where Anterior.FACTIPO != 41
		)
	select cast( case when CANCELACION_A_NIVEL0 = 1 then 'Base' else AFECTACION end as varchar(20)) AFECTACION,
		cast( case when ( NTBASE = 4 ) or ( NTBASE = 5 and NTINF = 5) then 1 else 0 end as bit ) PEDIDOS_Y_REMITOS,
		CANCELACION_A_NIVEL0, FECHA_COMPROBANTE_BASE, NIVEL, 
		case when NIVEL between 0 and NPD then NPD - NIVEL else null end NIVELES_INFERIORES, 
		case when NIVEL between -NPE and 0 then NPE + NIVEL else null end NIVELES_SUPERIORES, 
		ORDEN, TIPO_BASE, FACTIPO, TIPO, NTBASE, NT, NTINF,
		-- En la primera version se marcaba la base con (X), los niveles superiores con <-+ y los niveles inferiores con +->, la expresión utilizada está a continuación:
		-- case when NT > NTINF then replicate('   ', NT - NTINF ) + case when NT < NTBASE then ' <-+ ' when NT = NTBASE then ' (X) ' else ' +-> ' end else '' end + COMPROBANTE COMPROBANTE,
		case when NT > NTINF then replicate('   ', NT - NTINF ) else '' end + COMPROBANTE COMPROBANTE,
		CODIGO_RAIZ, NROITEM_RAIZ, IDITEM, CODIGO_ACTUAL, FECHA, VENCIMIENTO, ENTREGA, 
		DIAS_TRANSCURRIDOS, DIAS_CONTRA_VENCIMIENTO, DIAS_CONTRA_ENTREGA,
		case when NIVEL = 0 and ( CANTIDAD_ORIGINAL - coalesce( CANTIDAD_AFECTANTE, 0 ) ) > 0 then case when FACTIPO = 38 then datediff( day, ENTREGA, getdate() ) else datediff( day, VENCIMIENTO, getdate() ) end else null end DIAS_PENDIENTE_VENCIDO,
		CANTIDAD_ORIGINAL, cast( case when NIVEL = 0 then CANTIDAD_AFECTANTE else null end as numeric(9,3)) as CANTIDAD_AFECTANTE,
		cast( case when NIVEL = 0 then CANTIDAD_ORIGINAL - coalesce( CANTIDAD_AFECTANTE, 0 ) else null end as numeric(9,3)) as PENDIENTE, SECUENCIA
	from
		(
		select *, cast( case when FACTIPO = 41 and NIVEL = 0 then 1 else 0 end as bit ) CANCELACION_A_NIVEL0,
			row_number() over( partition by  CODIGO_RAIZ, IDITEM order by NIVEL, SECUENCIA ) as ORDEN,
			min(NT) over( partition by  CODIGO_RAIZ, IDITEM ) as NTINF,
			max(N_INFERIORES) over( partition by  CODIGO_RAIZ, IDITEM ) as NPD,
			max(N_SUPERIORES) over( partition by  CODIGO_RAIZ, IDITEM ) as NPE,
			sum(AFECTA_AL_PENDIENTE) over( partition by  CODIGO_RAIZ, IDITEM ) as CANTIDAD_AFECTANTE
		from ComprobantesRelacionados
		) sc
	where 1=1
		--and sc.CANCELACION_A_NIVEL0 = 0
