IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerResumenXMLDeCantidadesDeLosComprobantesDeVentasRelacionados]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerResumenXMLDeCantidadesDeLosComprobantesDeVentasRelacionados];
GO;

CREATE FUNCTION [Funciones].[ObtenerResumenXMLDeCantidadesDeLosComprobantesDeVentasRelacionados]
( @CodigoComprobanteAfectado varchar(38),
  @NroItem int )
RETURNS xml
AS
BEGIN
	declare @Resultado xml;
	declare @Resumen TABLE ( codigo varchar(38), nroitem int
							, confirmadopresupuesto int	, canceladopresupuesto int	, afectadopresupuesto int	, pendientepedido int
							, confirmadopedido int		, canceladopedido int		, afectadopedido int		, pendienteremito int
							, confirmadoremito int		, canceladoremito int		, afectadoremito int		, pendientefactura int
							, confirmadofactura int		, canceladofactura int		, afectadofactura int
							, confirmadonotas int		, canceladonotas int		, afectadonotas int);
	declare @ComprobantesRelacionados TABLE ( codigo varchar(38), iditem varchar(38) 
							, nroitem int				, cantidad numeric(13,3)	, tipo varchar(15)			, letra varchar(2)
							, ptovta int				, numero int				, tipoafectado numeric(2,0)	, Afectado varchar(38)
							, ReferenciaTransaccional varchar(max)					, SecuenciaTransaccional varchar(max)
							, Nivel int);

    with ComprobantesRelacionadosAux( CODIGO, IDITEM, NROITEM, Cantidad, Tipo, Letra, PtoVta, Numero, TipoAfectado, Afectado, ReferenciaTransaccional, SecuenciaTransaccional, Nivel )  as
	(
		select Principal.CODIGO,
			Detalle.IDITEM,
			Detalle.NROITEM,
			Detalle.fcant,
			Principal.FACTTIPO,
			Principal.FLETRA,
			Principal.FPTOVEN,
			Principal.FNUMCOMP,
			cast( 0 as numeric(2,0)),
			Detalle.CODIGO,
			cast('' as varchar(max)),
			cast(Detalle.CODIGO + '; ' as varchar(max)),
			0 as nivel
		from [ZooLogic].[ComprobantevDet] as Detalle
			inner join [ZooLogic].[ComprobanteV] as Principal on Principal.CODIGO = Detalle.CODIGO
		where Detalle.CODIGO = @CodigoComprobanteAfectado and Detalle.NROITEM = @NroItem

		union all

		select Anterior.CODIGO,
			Anterior.IDITEM,
			Anterior.NROITEM,
			Detalle.fcant as cantidad,
			Afecta.AFETIPOCOM,
			Comprobante.FLETRA,
			Comprobante.FPTOVEN,
			Comprobante.FNUMCOMP,
			Anterior.Tipo,
			Afecta.AFECTA,
			Anterior.ReferenciaTransaccional + Detalle.AFE_COD + '; ',
			Anterior.SecuenciaTransaccional + Afecta.AFECTA + '; ',
			Anterior.nivel + 1
		from ComprobantesRelacionadosAux as Anterior
			inner join [ZooLogic].[COMPAFE] Afecta on AFECTA.AFETIPO = 'Afectante' and Afecta.codigo = Anterior.Afectado
			inner join [ZooLogic].[ComprobantevDet] as Detalle on Detalle.Codigo = Afecta.AFECTA and Detalle.AFETIPOCOM = Anterior.Tipo and Detalle.AFELETRA = anterior.Letra and Detalle.AFEPTOVEN = Anterior.PtoVta and Detalle.AFENUMCOM = Anterior.Numero and Detalle.IDITEM = Anterior.IDITEM
			inner join [ZooLogic].[ComprobanteV] as Comprobante on Comprobante.CODIGO = Detalle.CODIGO
		where Anterior.nivel < 5
	)
	/* Se agrego una tabla temporal adicional y un filtro para agrupar por secuencia transaccional para guardar coherencia con la funcionalidad 6521: Mercaderia Preparada. Esta		causa que haya mas de un registro por relacion de comprobantes afectad/afectante en la tabla compafe.*/
	insert into @ComprobantesRelacionados 
		select max(CODIGO), IDITEM, max(NROITEM), max(Cantidad), max(Tipo), max(Letra), max(PtoVta), max(Numero)
				,max(TipoAfectado), max(Afectado), max(ReferenciaTransaccional), SecuenciaTransaccional, max(Nivel) 
		from ComprobantesRelacionadosAux group by SecuenciaTransaccional, IDITEM 

	insert into @Resumen
	select cantidadesDistribuidas.CODIGO, cantidadesDistribuidas.NROITEM
		, sum( cantidadesDistribuidas.ConfirmadoS1 ) as confirmadopresupuesto
		, sum( cantidadesDistribuidas.CanceladoS1 )  as canceladopresupuesto
		, sum( cantidadesDistribuidas.AfectadoS1 )   as afectadopresupuesto
		, sum( cantidadesDistribuidas.ConfirmadoS1 - cantidadesDistribuidas.CanceladoS1 - cantidadesDistribuidas.AfectadoS1 ) as pendientepedido
		, sum( cantidadesDistribuidas.ConfirmadoS2 ) as confirmadopedido
		, sum( cantidadesDistribuidas.CanceladoS2 )  as canceladopedido
		, sum( cantidadesDistribuidas.AfectadoS2 )   as afectadopedido
		, sum( cantidadesDistribuidas.ConfirmadoS2 - cantidadesDistribuidas.CanceladoS2 - cantidadesDistribuidas.AfectadoS2 ) as pendienteremito
		, sum( cantidadesDistribuidas.ConfirmadoS3 ) as confirmadoremito
		, sum( cantidadesDistribuidas.CanceladoS3 )  as canceladoremito
		, sum( cantidadesDistribuidas.AfectadoS3 )   as afectadoremito
		, sum( cantidadesDistribuidas.ConfirmadoS3 - cantidadesDistribuidas.CanceladoS3 - cantidadesDistribuidas.AfectadoS3 ) as pendientefactura
		, sum( cantidadesDistribuidas.ConfirmadoS4 ) as confirmadofactura
		, sum( cantidadesDistribuidas.CanceladoS4 )  as canceladofactura
		, sum( cantidadesDistribuidas.AfectadoS4 )   as afectadofactura
		, sum( cantidadesDistribuidas.ConfirmadoS5 ) as confirmadonotas
		, sum( cantidadesDistribuidas.CanceladoS5 )  as canceladonotas
		, sum( cantidadesDistribuidas.AfectadoS5 )   as afectadonotas
	from (
		select cantidades.CODIGO, cantidades.NROITEM, cantidades.Cantidad, cantidades.Secuencia, cantidades.SecuenciaAfectada
			, case cantidades.Secuencia          when  1 then cantidades.cantidad else distribucion.ConfirmadoS1 end as ConfirmadoS1
			, case cantidades.Secuencia          when -1 then cantidades.cantidad else distribucion.CanceladoS1  end as CanceladoS1
			, case when cantidades.SecuenciaAfectada = 1 and cantidades.Secuencia > 0 then cantidades.cantidad else distribucion.AfectadoS1   end as AfectadoS1
			, case cantidades.Secuencia          when  2 then cantidades.cantidad else distribucion.ConfirmadoS2 end as ConfirmadoS2
			, case cantidades.Secuencia          when -2 then cantidades.cantidad else distribucion.CanceladoS2  end as CanceladoS2
			, case when cantidades.SecuenciaAfectada = 2 and cantidades.Secuencia > 0 then cantidades.cantidad else distribucion.AfectadoS2   end as AfectadoS2
			, case cantidades.Secuencia          when  3 then cantidades.cantidad else distribucion.ConfirmadoS3 end as ConfirmadoS3
			, case cantidades.Secuencia          when -3 then cantidades.cantidad else distribucion.CanceladoS3  end as CanceladoS3
			, case when cantidades.SecuenciaAfectada = 3 and cantidades.Secuencia > 0 then cantidades.cantidad else distribucion.AfectadoS3   end as AfectadoS3
			, case cantidades.Secuencia          when  4 then cantidades.cantidad else distribucion.ConfirmadoS4 end as ConfirmadoS4
			, case cantidades.Secuencia          when -4 then cantidades.cantidad else distribucion.CanceladoS4  end as CanceladoS4
			, case when cantidades.SecuenciaAfectada = 4 and cantidades.Secuencia > 0 then cantidades.cantidad else distribucion.AfectadoS4   end as AfectadoS4
			, case cantidades.Secuencia          when  5 then cantidades.cantidad else distribucion.ConfirmadoS5 end as ConfirmadoS5
			, case cantidades.Secuencia          when -5 then cantidades.cantidad else distribucion.CanceladoS5  end as CanceladoS5
			, case when cantidades.SecuenciaAfectada = 5 and cantidades.Secuencia > 0 then cantidades.cantidad else distribucion.AfectadoS5   end as AfectadoS5
		from
			( 
			select CODIGO, NROITEM, Cantidad, TipoAfectado
				, funciones.SecuenciaTransaccionalSegunElTipoDeComprobante(tipo, tipoAfectado) as Secuencia
				, funciones.SecuenciaTransaccionalSegunElTipoDeComprobante(tipoAfectado, 0) as SecuenciaAfectada
			from @ComprobantesRelacionados 
			where 1=1
				and patindex( '%'+ ReferenciaTransaccional + '%', SecuenciaTransaccional ) > 0
				and Cantidad != 0
			union all
			select distinct CODIGO, NROITEM, 0, TipoAfectado
				, funciones.SecuenciaTransaccionalSegunElTipoDeComprobante(tipo, tipoAfectado) as Secuencia
				, funciones.SecuenciaTransaccionalSegunElTipoDeComprobante(tipoAfectado, 0) as SecuenciaAfectada
			from @ComprobantesRelacionados 
			where 1=1
			) as cantidades
			cross join 
			( 
			select 0 as ConfirmadoS1, 0 as CanceladoS1, 0 As AfectadoS1
				 , 0 as ConfirmadoS2, 0 as CanceladoS2, 0 As AfectadoS2
				 , 0 as ConfirmadoS3, 0 as CanceladoS3, 0 As AfectadoS3
				 , 0 as ConfirmadoS4, 0 as CanceladoS4, 0 As AfectadoS4
				 , 0 as ConfirmadoS5, 0 as CanceladoS5, 0 As AfectadoS5 
			) as distribucion
		) as cantidadesDistribuidas
	group by cantidadesDistribuidas.CODIGO, cantidadesDistribuidas.NROITEM;

	set @Resultado = ( select * from @Resumen for xml path);

	return @Resultado
end