IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[VistaComisionesPorVenta]') AND type = N'V')
DROP VIEW [Listados].[VistaComisionesPorVenta];
GO;

CREATE view [Listados].[VistaComisionesPorVenta] as
(
SELECT
	cast( 'Con comisión' as varchar(22)) ORIGEN
	, c_Comp.CODIGO
	, c_CDet.IDITEM
	, c_Comp.FVEN
	--, cast( case when c_Art.ARTCOD is null then 'BORRADO' else 'ACTIVO' end as varchar(8)) Estado_Articulo
	, cast( case when min(cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime)) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime) then 1 else 0 end as smallint ) MAS_ANTIGUA
	, cast( case when max(cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime)) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime) then 1 else 0 end as smallint ) MAS_RECIENTE
	, cast( case when max(cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime)) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime) then c_CV.CODIGO else null end as varchar( 10 ) ) descripMAS_RECIENTE
	, cast( case when c_CV.MONTOF != 0 and max( c_CV.MONTOF ) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = c_CV.MONTOF then 1 else null end as bit ) MAYOR_MONTOF
	, cast( case when c_CV.PORCENT != 0 and max( c_CV.PORCENT ) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = c_CV.PORCENT then 1 else null end as bit ) MAYOR_PORCENT
	, cast( case when c_CV.MONTOF != 0 and min( case when c_CV.MONTOF = 0 then null else c_CV.MONTOF end ) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = c_CV.MONTOF then 1 else null end as bit ) MENOR_MONTOF
	, cast( case when c_CV.PORCENT != 0 and min( case when c_CV.PORCENT = 0 then null else c_CV.PORCENT end ) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = c_CV.PORCENT then 1 else null end as bit ) MENOR_PORCENT
	, c_CV.CODIGO COMISION
	, c_CV.MONTOF
	, c_CV.PORCENT
  FROM ( select dtv.*, nullif(Funciones.ObtenerCodigoDeSucursalDeUnaBase( dtv.BDALTAFW ), '' ) VtaSuc from [ZooLogic].COMPROBANTEV dtv ) c_Comp 
  	left join ORGANIZACION.SUC c_Suc on c_Suc.CODIGO = Funciones.ObtenerCodigoDeSucursalDeUnaBase( c_comp.BDALTAFW )
	INNER join ZooLogic.COMPROBANTEVDET c_CDet on c_CDet.CODIGO = c_Comp.CODIGO
	left join ZooLogic.ART c_Art on c_Art.ARTCOD = c_CDet.FART
	inner join ZooLogic.DETCOMVEN c_RVC on c_RVC.CODIGO = c_Comp.FVEN
	left join ZooLogic.COMISION c_CV on c_CV.CODIGO = c_RVC.COMISION
		and c_Comp.FFCH between c_CV.FECHAFD and c_CV.FECHAH 
		and c_Comp.CODLISTA between c_CV.LISDESDE and c_CV.LISHASTA
		and ( c_Suc.CODIGO is null OR c_Suc.CODIGO between c_CV.SUCDESDE and c_CV.SUCHASTA )
		and ( c_Suc.CODIGO is null OR c_Suc.SEG between c_CV.SEGSDESDE and c_CV.SEGSHASTA )
		and ( c_Suc.CODIGO is null OR c_Suc.LINEA between c_CV.LINSDESDE and c_CV.LINSHASTA )
		and ( c_Suc.CODIGO is null OR c_Suc.TIPO between c_CV.TIPSDESDE and c_CV.TIPSHASTA )
		and c_CDet.FART between c_CV.ARTDESDE and c_CV.ARTHASTA
		and c_CDet.CCOLOR between c_CV.COLDESDE and c_CV.COLHASTA
		and c_CDet.TALLE between c_CV.TALDESDE and c_CV.TALHASTA
		and ( c_Art.ANO is null OR c_Art.ANO between c_CV.ANODESDE and c_CV.ANOHASTA )
		and ( c_Art.CATEARTI is null OR c_Art.CATEARTI between c_CV.CATDESDE and c_CV.CATHASTA )
		and ( c_Art.CLASIFART is null OR c_Art.CLASIFART between c_CV.CLADESDE and c_CV.CLAHASTA )
		and ( c_Art.FAMILIA is null OR c_Art.FAMILIA between c_CV.FAMDESDE and c_CV.FAMHASTA )
		and ( c_Art.GRUPO is null OR c_Art.GRUPO between c_CV.GRUDESDE and c_CV.GRUHASTA )
		and ( c_Art.LINEA is null OR c_Art.LINEA between c_CV.LINDESDE and c_CV.LINHASTA )
		and ( c_Art.MAT is null OR c_Art.MAT between c_CV.MATDESDE and c_CV.MATHASTA )
		and ( c_Art.ARTFAB is null OR c_Art.ARTFAB between c_CV.PROVDESDE and c_CV.PROVHASTA )
		and ( c_Art.ATEMPORADA is null OR c_Art.ATEMPORADA between c_CV.TEMDESDE and c_CV.TEMHASTA )
		and ( c_Art.TIPOARTI is null OR c_Art.TIPOARTI between c_CV.TIPDESDE and c_CV.TIPHASTA )
		and ( c_Art.UNIMED is null OR c_Art.UNIMED between c_CV.UNIDESDE and c_CV.UNIHASTA )
	
union all

SELECT 
	cast( case when c_Comp.FVEN = '' then 'Sin vendedor' else 'Sin comisión' end as varchar(22)) ORIGEN
	, c_Comp.CODIGO
	, c_CDet.IDITEM
	, c_Comp.FVEN
	--, cast( case when c_Art.ARTCOD is null then 'BORRADO' else 'ACTIVO' end as varchar(8)) Estado_Articulo
	, cast( case when min(cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime)) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime) then 1 else 0 end as bit ) MAS_ANTIGUA
	, cast( case when max(cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime)) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime) then 1 else 0 end as bit ) MAS_RECIENTE
	, cast( case when max(cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime)) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = cast(c_CV.FMODIFW + c_CV.HMODIFW as datetime) then c_CV.CODIGO else null end as varchar( 10 ) ) descripMAS_RECIENTE
	, cast( case when c_CV.MONTOF != 0 and max( c_CV.MONTOF ) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = c_CV.MONTOF then 1 else null end as bit ) MAYOR_MONTOF
	, cast( case when c_CV.PORCENT != 0 and max( c_CV.PORCENT ) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = c_CV.PORCENT then 1 else null end as bit ) MAYOR_PORCENT
	, cast( case when c_CV.MONTOF != 0 and min( case when c_CV.MONTOF = 0 then null else c_CV.MONTOF end ) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = c_CV.MONTOF then 1 else null end as bit ) MENOR_MONTOF
	, cast( case when c_CV.PORCENT != 0 and min( case when c_CV.PORCENT = 0 then null else c_CV.PORCENT end ) over ( partition by c_Comp.CODIGO, c_CDet.NROITEM ) = c_CV.PORCENT then 1 else null end as bit ) MENOR_PORCENT
	, c_CV.CODIGO COMISION
	, c_CV.MONTOF
	, c_CV.PORCENT
  FROM ( select dtv.*, nullif(Funciones.ObtenerCodigoDeSucursalDeUnaBase( dtv.BDALTAFW ), '' ) VtaSuc from [ZooLogic].COMPROBANTEV dtv ) c_Comp 
	left join ORGANIZACION.SUC c_Suc on c_Suc.CODIGO = Funciones.ObtenerCodigoDeSucursalDeUnaBase( c_comp.BDALTAFW )
	INNER join ZooLogic.COMPROBANTEVDET c_CDet on c_CDet.CODIGO = c_Comp.CODIGO
	LEFT join ZooLogic.ART c_Art on c_Art.ARTCOD = c_CDet.FART
	left join ZooLogic.DETCOMVEN c_RVC on c_RVC.CODIGO = c_Comp.FVEN
	inner join ZooLogic.COMISION c_CV on c_RVC.COMISION is null
		and c_Comp.FFCH between c_CV.FECHAFD and c_CV.FECHAH 
		and c_Comp.CODLISTA between c_CV.LISDESDE and c_CV.LISHASTA
		and ( c_Suc.CODIGO is null OR c_Suc.CODIGO between c_CV.SUCDESDE and c_CV.SUCHASTA )
		and ( c_Suc.CODIGO is null OR c_Suc.SEG between c_CV.SEGSDESDE and c_CV.SEGSHASTA )
		and ( c_Suc.CODIGO is null OR c_Suc.LINEA between c_CV.LINSDESDE and c_CV.LINSHASTA )
		and ( c_Suc.CODIGO is null OR c_Suc.TIPO between c_CV.TIPSDESDE and c_CV.TIPSHASTA )
		and c_CDet.FART between c_CV.ARTDESDE and c_CV.ARTHASTA
		and c_CDet.CCOLOR between c_CV.COLDESDE and c_CV.COLHASTA
		and c_CDet.TALLE between c_CV.TALDESDE and c_CV.TALHASTA
		and ( c_Art.ANO is null OR c_Art.ANO between c_CV.ANODESDE and c_CV.ANOHASTA )
		and ( c_Art.CATEARTI is null OR c_Art.CATEARTI between c_CV.CATDESDE and c_CV.CATHASTA )
		and ( c_Art.CLASIFART is null OR c_Art.CLASIFART between c_CV.CLADESDE and c_CV.CLAHASTA )
		and ( c_Art.FAMILIA is null OR c_Art.FAMILIA between c_CV.FAMDESDE and c_CV.FAMHASTA )
		and ( c_Art.GRUPO is null OR c_Art.GRUPO between c_CV.GRUDESDE and c_CV.GRUHASTA )
		and ( c_Art.LINEA is null OR c_Art.LINEA between c_CV.LINDESDE and c_CV.LINHASTA )
		and ( c_Art.MAT is null OR c_Art.MAT between c_CV.MATDESDE and c_CV.MATHASTA )
		and ( c_Art.ARTFAB is null OR c_Art.ARTFAB between c_CV.PROVDESDE and c_CV.PROVHASTA )
		and ( c_Art.ATEMPORADA is null OR c_Art.ATEMPORADA between c_CV.TEMDESDE and c_CV.TEMHASTA )
		and ( c_Art.TIPOARTI is null OR c_Art.TIPOARTI between c_CV.TIPDESDE and c_CV.TIPHASTA )
		and ( c_Art.UNIMED is null OR c_Art.UNIMED between c_CV.UNIDESDE and c_CV.UNIHASTA )

)
