IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerStockDeLaCombinacion]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerStockDeLaCombinacion];
GO;

CREATE FUNCTION [Funciones].[ObtenerStockDeLaCombinacion]
	(
	@Articulo char(15),
	@Color char(6),
	@Talle char(5)
	)
RETURNS numeric(16,3)
AS
BEGIN

	declare @retorno numeric(16, 3)
	
	set @Color = rtrim( @Color )
	set @Talle = rtrim( @Talle )
	
	set @retorno = ( 
					
					select top 1 c_COMB.COCANT
					from ZooLogic.COMB as c_COMB
					where c_COMB.COART = @Articulo 
						and ( ( @Color is null ) OR ( c_COMB.COCOL = @Color ) ) 
						and ( ( @Talle is null ) OR ( c_COMB.Talle = @Talle ) )
					order by c_COMB.COART, c_COMB.COCOL, c_COMB.Talle

					)
	return @retorno

END		