IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[58_UTILIDADESBRUTAS]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Listados].[58_UTILIDADESBRUTAS];
GO;

CREATE FUNCTION [listados].[58_UTILIDADESBRUTAS]
( @BaseDeDatos varchar(8),
	@FACTURA_LISTADEPRECIOS_DESDE varchar(6),
	@FACTURA_LISTADEPRECIOS_HASTA varchar(6),
	@FACTURA_FECHA_DESDE datetime,
	@FACTURA_FECHA_HASTA datetime,
	@FACTURA_MONEDACOMPROBANTE_DESDE varchar(10),
	@FACTURA_MONEDACOMPROBANTE_HASTA varchar(10),
	@ARTICULO_PROVEEDOR_DESDE varchar(10),
	@ARTICULO_PROVEEDOR_HASTA varchar(10),
	@ARTICULO_UNIDADDEMEDIDA_DESDE varchar(3),
	@ARTICULO_UNIDADDEMEDIDA_HASTA varchar(3),
	@ARTICULO_TEMPORADA_DESDE varchar(5),
	@ARTICULO_TEMPORADA_HASTA varchar(5),
	@ARTICULO_ANO_DESDE int,
	@ARTICULO_ANO_HASTA int,
	@ARTICULO_FAMILIA_DESDE varchar(10),
	@ARTICULO_FAMILIA_HASTA varchar(10),
	@ARTICULO_MATERIAL_DESDE varchar(10),
	@ARTICULO_MATERIAL_HASTA varchar(10),
	@ARTICULO_LINEA_DESDE varchar(10),
	@ARTICULO_LINEA_HASTA varchar(10),
	@ARTICULO_GRUPO_DESDE varchar(10),
	@ARTICULO_GRUPO_HASTA varchar(10),
	@ARTICULO_CATEGORIADEARTICULO_DESDE varchar(10),
	@ARTICULO_CATEGORIADEARTICULO_HASTA varchar(10),
	@ARTICULO_CLASIFICACION_DESDE varchar(10),
	@ARTICULO_CLASIFICACION_HASTA varchar(10),
	@ARTICULO_TIPODEARTICULO_DESDE varchar(10),
	@ARTICULO_TIPODEARTICULO_HASTA varchar(10),
	@ARTICULO_COMPORTAMIENTO int,	
	@LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_DESDE varchar(30),
	@LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_HASTA varchar(30),
	@MONEDA_MONEDACOMPROBANTE_DESCRIPCION_DESDE varchar(40),
	@MONEDA_MONEDACOMPROBANTE_DESCRIPCION_HASTA varchar(40),
	@PROVEEDOR_PROVEEDOR_NOMBRE_DESDE varchar(60),
	@PROVEEDOR_PROVEEDOR_NOMBRE_HASTA varchar(60),
	@UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE varchar(50),
	@UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA varchar(50),
	@TEMPORADA_TEMPORADA_DESCRIPCION_DESDE varchar(50),
	@TEMPORADA_TEMPORADA_DESCRIPCION_HASTA varchar(50),
	@FAMILIA_FAMILIA_DESCRIPCION_DESDE varchar(50),
	@FAMILIA_FAMILIA_DESCRIPCION_HASTA varchar(50),
	@MATERIAL_MATERIAL_DESCRIPCION_DESDE varchar(40),
	@MATERIAL_MATERIAL_DESCRIPCION_HASTA varchar(40),
	@LINEA_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEA_LINEA_DESCRIPCION_HASTA varchar(50),
	@GRUPO_GRUPO_DESCRIPCION_DESDE varchar(50),
	@GRUPO_GRUPO_DESCRIPCION_HASTA varchar(50),
	@CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE varchar(50),
	@CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA varchar(50),
	@CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE varchar(50),
	@CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA varchar(50),
	@TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE varchar(50),
	@TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA varchar(50),
	@ITEMARTICULOSVENTAS_ARTICULO_DESDE varchar(15),
	@ITEMARTICULOSVENTAS_ARTICULO_HASTA varchar(15),
	@ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE varchar(100),
	@ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA varchar(100),
	@ITEMARTICULOSVENTAS_COLOR_DESDE varchar(6),
	@ITEMARTICULOSVENTAS_COLOR_HASTA varchar(6),
	@ITEMARTICULOSVENTAS_COLORDETALLE_DESDE varchar(50),
	@ITEMARTICULOSVENTAS_COLORDETALLE_HASTA varchar(50),
	@ITEMARTICULOSVENTAS_TALLE_DESDE varchar(5),
	@ITEMARTICULOSVENTAS_TALLE_HASTA varchar(5),
	@FACTURA_TIPOCOMPROBANTE int,
	@ListaDePrecios varchar(6),
	@IvaIncluidoEnListadePrecios varchar(1) )
RETURNS TABLE
AS
RETURN
(
select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_itemarticulosventas.codigo, 38, ' ' ) as varchar( 46 ) ) as ITEMARTICULOSVENTAS__Grupo,
	@basededatos as ITEMARTICULOSVENTAS__BD,
	c_ITEMARTICULOSVENTAS.MNTPDESCI as ITEMARTICULOSVENTAS_MNTPDESCI,
	c_ITEMARTICULOSVENTAS.MNTPDESSI as ITEMARTICULOSVENTAS_MNTPDESSI,
	c_ITEMARTICULOSVENTAS.MNTPRECCI as ITEMARTICULOSVENTAS_MNTPRECCI,
	c_ITEMARTICULOSVENTAS.MNTPRECSI as ITEMARTICULOSVENTAS_MNTPRECSI,
	c_ITEMARTICULOSVENTAS.MNTPPER as ITEMARTICULOSVENTAS_MNTPPER,
	c_ITEMARTICULOSVENTAS.MNTPIVA as ITEMARTICULOSVENTAS_MNTPIVA,
	cast( 0.00 as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_PRECIOTOTALSINIMP,
	cast( 0.00 as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_PRECIOTOTALCONIMP,

	cast( c_factura.signomov*((c_itemarticulosventas.prunsinimp*c_itemarticulosventas.fcant)-(c_itemarticulosventas.mntpdessi+c_itemarticulosventas.mndessi+c_itemarticulosventas.mnpdsi)+c_itemarticulosventas.mntprecsi) as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_MONTONETOSINIMP,
	cast( c_factura.signomov*((c_itemarticulosventas.prunconimp*c_itemarticulosventas.fcant)-(c_itemarticulosventas.mntpdesci+c_itemarticulosventas.mndesci+c_itemarticulosventas.fcfitot)+c_itemarticulosventas.mntprecci) as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_MONTONETOCONIMP,
	cast( c_itemarticulosventas.mntpdessi+c_itemarticulosventas.mndessi+c_itemarticulosventas.mnpdsi as numeric( 15, 4 ) ) as ITEMARTICULOSVENTAS_MNDESSI,
	cast( c_itemarticulosventas.mntpdesci+c_itemarticulosventas.mndesci+c_itemarticulosventas.fcfitot as numeric( 15, 4 ) ) as ITEMARTICULOSVENTAS_MNDESCI,
	C_ARTICULO.ASTOCK as ARTICULO_ASTOCK,
	C_FACTURA.MONEDA as FACTURA_MONEDA,
	C_ARTICULO.ARTFAB as ARTICULO_ARTFAB,
	C_ARTICULO.UNIMED as ARTICULO_UNIMED,
	C_ARTICULO.ATEMPORADA as ARTICULO_ATEMPORADA,
	C_ARTICULO.ANO as ARTICULO_ANO,
	C_ARTICULO.FAMILIA as ARTICULO_FAMILIA,
	C_ARTICULO.MAT as ARTICULO_MAT,
	C_ARTICULO.LINEA as ARTICULO_LINEA,
	C_ARTICULO.GRUPO as ARTICULO_GRUPO,
	C_ARTICULO.CATEARTI as ARTICULO_CATEARTI,
	C_ARTICULO.CLASIFART as ARTICULO_CLASIFART,
	C_ARTICULO.TIPOARTI as ARTICULO_TIPOARTI,

	c_ITEMARTICULOSVENTAS.MNPDSI as ITEMARTICULOSVENTAS_MNPDSI,
	c_ITEMARTICULOSVENTAS.FCFITOT as ITEMARTICULOSVENTAS_FCFITOT,

	C_FACTURA.CODIGO as FACTURA_CODIGO,
	case when c_factura.ffch = '01/01/1900 00:00:00' then null else c_factura.ffch end as FACTURA_FFCH,
	c_ITEMARTICULOSVENTAS.FART as ITEMARTICULOSVENTAS_FART,
	c_ITEMARTICULOSVENTAS.FTXT as ITEMARTICULOSVENTAS_FTXT,
	C_FACTURA.FACTTIPO as FACTURA_FACTTIPO,
	c_ITEMARTICULOSVENTAS.CCOLOR as ITEMARTICULOSVENTAS_CCOLOR,
	--cast( space(6) as varchar( 6 ) ) as ITEMARTICULOSVENTAS_PRECIODELISTAV,
	c_ITEMARTICULOSVENTAS.FCOLTXT as ITEMARTICULOSVENTAS_FCOLTXT,
	C_ARTICULO.ARTCOD as ARTICULO_ARTCOD,
	c_ITEMARTICULOSVENTAS.TALLE as ITEMARTICULOSVENTAS_TALLE,
	c_ITEMARTICULOSVENTAS.CODIGO as ITEMARTICULOSVENTAS_CODIGO,

	cast( c_factura.signomov*c_itemarticulosventas.fcant as numeric( 16, 3 ) ) as ITEMARTICULOSVENTAS_FCANT,

	case when @IvaIncluidoEnListadePrecios = '1'
		 then cast( funciones.obtenerpreciocombinacion(c_itemarticulosventas.fart,  c_itemarticulosventas.ccolor,  c_itemarticulosventas.talle, null , @ListaDePrecios ) / ( 1 + ( c_ITEMARTICULOSVENTAS.FPORIVA / 100 ) ) as numeric( 15, 2 ) ) 
		 else cast( funciones.obtenerpreciocombinacion(c_itemarticulosventas.fart,  c_itemarticulosventas.ccolor,  c_itemarticulosventas.talle, null , @ListaDePrecios ) as numeric( 15, 2 ) ) 
		 end as ITEMARTICULOSVENTAS_PRECIOSINIMP,

	case when @IvaIncluidoEnListadePrecios = '0'
		 then cast( funciones.obtenerpreciocombinacion(c_itemarticulosventas.fart,  c_itemarticulosventas.ccolor,  c_itemarticulosventas.talle, null , @ListaDePrecios ) * ( 1 + ( c_ITEMARTICULOSVENTAS.FPORIVA / 100 ) ) as numeric( 15, 2 ) ) 
		 else cast( funciones.obtenerpreciocombinacion(c_itemarticulosventas.fart,  c_itemarticulosventas.ccolor,  c_itemarticulosventas.talle, null , @ListaDePrecios ) as numeric( 15, 2 ) )
		 end as ITEMARTICULOSVENTAS_PRECIOCONIMP,

cast( c_factura.signomov*(c_itemarticulosventas.prunsinimp*c_itemarticulosventas.fcant) as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_PRUNSINIMP,
cast( c_factura.signomov*(c_itemarticulosventas.prunconimp*c_itemarticulosventas.fcant) as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_PRUNCONIMP,
	cast( 9999999999 as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_UTILIDADBRUTA,
	cast( 9999999999 as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_UTILIDADSINIMPVTASCONIMP,
	cast( 9999999999 as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_UTILIDADBRUTACONIMP,
	cast( 9999999999 as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_UTILIDADCONIMPVTASSINIMP,

	cast( c_factura.fletra+' '+funciones.padl(c_factura.fptoven, 4, '0')+'-'+funciones.padl(c_factura.fnumcomp, 8, '0') as varchar( 15 ) ) as FACTURA_FLETRA,
	cast( funciones.padl(c_factura.fptoven, 4, '0') as numeric( 4, 0 ) ) as FACTURA_FPTOVEN,
	cast( funciones.padl(c_factura.fnumcomp, 8, '0') as numeric( 8, 0 ) ) as FACTURA_FNUMCOMP,

	c_ITEMARTICULOSVENTAS.FPORIVA as ITEMARTICULOSVENTAS_FPORIVA,
	C_MONEDA.DESCRIP as MONEDA_DESCRIP,
	C_PROVEEDOR.CLNOM as PROVEEDOR_CLNOM,
	C_UNIDADDEMEDIDA.DESCRIP as UNIDADDEMEDIDA_DESCRIP,
	C_TEMPORADA.TDES as TEMPORADA_TDES,
	C_FAMILIA.DESCRIP as FAMILIA_DESCRIP,
	C_MATERIAL.MATDES as MATERIAL_MATDES,
	C_LINEA.DESCRIP as LINEA_DESCRIP,
	C_GRUPO.DESCRIP as GRUPO_DESCRIP,
	C_CATEGORIADEARTICULO.DESCRIP as CATEGORIADEARTICULO_DESCRIP,
	C_CLASIFICACIONARTICULO.DESCRIP as CLASIFICACIONARTICULO_DESCRIP,
	C_TIPODEARTICULO.DESCRIP as TIPODEARTICULO_DESCRIP,
	C_ARTICULO.ARTDES as ARTICULO_ARTDES,
	C_COLOR.COLDES as COLOR_COLDES,
	C_TALLE.DESCRIP as TALLE_DESCRIP,
	C_LISTADEPRECIOS.LPR_NOMBRE as LISTADEPRECIOS_LPR_NOMBRE,
	C_CATEGORIADEARTICULO.COD as CATEGORIADEARTICULO_COD,
	C_CLASIFICACIONARTICULO.CODIGO as CLASIFICACIONARTICULO_CODIGO,
	C_COLOR.COLCOD as COLOR_COLCOD,
	C_FAMILIA.COD as FAMILIA_COD,
	C_GRUPO.COD as GRUPO_COD,
	C_LINEA.COD as LINEA_COD,
	C_LISTADEPRECIOS.LPR_NUMERO as LISTADEPRECIOS_LPR_NUMERO,
	C_MATERIAL.MATCOD as MATERIAL_MATCOD,
	C_MONEDA.CODIGO as MONEDA_CODIGO,
	C_PROVEEDOR.CLCOD as PROVEEDOR_CLCOD,
	C_TALLE.CODIGO as TALLE_CODIGO,
	C_TEMPORADA.TCOD as TEMPORADA_TCOD,
	C_TIPODEARTICULO.COD as TIPODEARTICULO_COD,
	C_UNIDADDEMEDIDA.COD as UNIDADDEMEDIDA_COD
 from ZooLogic.COMPROBANTEVDET as c_ITEMARTICULOSVENTAS
 left join ZooLogic.ART as C_ARTICULO on C_ARTICULO.ARTCOD = c_ITEMARTICULOSVENTAS.FART and 0 = Funciones.empty( c_ITEMARTICULOSVENTAS.FART )
 left join ZooLogic.CATEGART as C_CATEGORIADEARTICULO on C_CATEGORIADEARTICULO.COD = C_ARTICULO.CATEARTI and 0 = Funciones.empty( C_ARTICULO.CATEARTI )
 left join ZooLogic.CLASIFART as C_CLASIFICACIONARTICULO on C_CLASIFICACIONARTICULO.CODIGO = C_ARTICULO.CLASIFART and 0 = Funciones.empty( C_ARTICULO.CLASIFART )
 left join ZooLogic.COL as C_COLOR on C_COLOR.COLCOD = c_ITEMARTICULOSVENTAS.CCOLOR and 0 = Funciones.empty( c_ITEMARTICULOSVENTAS.CCOLOR )
 left join ZooLogic.COMPROBANTEV as C_FACTURA on C_FACTURA.CODIGO = c_ITEMARTICULOSVENTAS.CODIGO and 0 = Funciones.empty( c_ITEMARTICULOSVENTAS.CODIGO )
 left join ZooLogic.FAMILIA as C_FAMILIA on C_FAMILIA.COD = C_ARTICULO.FAMILIA and 0 = Funciones.empty( C_ARTICULO.FAMILIA )
 left join ZooLogic.GRUPO as C_GRUPO on C_GRUPO.COD = C_ARTICULO.GRUPO and 0 = Funciones.empty( C_ARTICULO.GRUPO )
 left join ZooLogic.LINEA as C_LINEA on C_LINEA.COD = C_ARTICULO.LINEA and 0 = Funciones.empty( C_ARTICULO.LINEA )
 left join ZooLogic.LPRECIO as C_LISTADEPRECIOS on C_LISTADEPRECIOS.LPR_NUMERO = C_FACTURA.CODLISTA and 0 = Funciones.empty( C_FACTURA.CODLISTA )
 left join ZooLogic.MAT as C_MATERIAL on C_MATERIAL.MATCOD = C_ARTICULO.MAT and 0 = Funciones.empty( C_ARTICULO.MAT )
 left join ZooLogic.MONEDA as C_MONEDA on C_MONEDA.CODIGO = C_FACTURA.MONEDA and 0 = Funciones.empty( C_FACTURA.MONEDA )
 left join ZooLogic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = C_ARTICULO.ARTFAB and 0 = Funciones.empty( C_ARTICULO.ARTFAB )
 left join ZooLogic.TALLE as C_TALLE on C_TALLE.CODIGO = c_ITEMARTICULOSVENTAS.TALLE and 0 = Funciones.empty( c_ITEMARTICULOSVENTAS.TALLE )
 left join ZooLogic.TEMPORADA as C_TEMPORADA on C_TEMPORADA.TCOD = C_ARTICULO.ATEMPORADA and 0 = Funciones.empty( C_ARTICULO.ATEMPORADA )
 left join ZooLogic.TIPOART as C_TIPODEARTICULO on C_TIPODEARTICULO.COD = C_ARTICULO.TIPOARTI and 0 = Funciones.empty( C_ARTICULO.TIPOARTI )
 left join ZooLogic.UNMED as C_UNIDADDEMEDIDA on C_UNIDADDEMEDIDA.COD = C_ARTICULO.UNIMED and 0 = Funciones.empty( C_ARTICULO.UNIMED )
 where ( not 1 = funciones.empty( c_itemarticulosventas.codigo ) ) and 
 	--( ( @FACTURA_LISTADEPRECIOS_DESDE is null ) OR ( C_FACTURA.CodLista >= @FACTURA_LISTADEPRECIOS_DESDE ) ) and 
	--( ( @FACTURA_LISTADEPRECIOS_HASTA is null ) OR ( C_FACTURA.CodLista <= @FACTURA_LISTADEPRECIOS_HASTA ) ) and 
	( ( @FACTURA_FECHA_DESDE is null ) OR ( C_FACTURA.FFCH >= @FACTURA_FECHA_DESDE ) ) and 
	( ( @FACTURA_FECHA_HASTA is null ) OR ( C_FACTURA.FFCH <= @FACTURA_FECHA_HASTA ) ) and 
	( ( @FACTURA_MONEDACOMPROBANTE_DESDE is null ) OR ( C_FACTURA.Moneda >= @FACTURA_MONEDACOMPROBANTE_DESDE ) ) and 
	( ( @FACTURA_MONEDACOMPROBANTE_HASTA is null ) OR ( C_FACTURA.Moneda <= @FACTURA_MONEDACOMPROBANTE_HASTA ) ) and 
	( ( @ARTICULO_PROVEEDOR_DESDE is null ) OR ( C_ARTICULO.ARTFAB >= @ARTICULO_PROVEEDOR_DESDE ) ) and 
	( ( @ARTICULO_PROVEEDOR_HASTA is null ) OR ( C_ARTICULO.ARTFAB <= @ARTICULO_PROVEEDOR_HASTA ) ) and 
	( ( @ARTICULO_UNIDADDEMEDIDA_DESDE is null ) OR ( C_ARTICULO.UniMed >= @ARTICULO_UNIDADDEMEDIDA_DESDE ) ) and 
	( ( @ARTICULO_UNIDADDEMEDIDA_HASTA is null ) OR ( C_ARTICULO.UniMed <= @ARTICULO_UNIDADDEMEDIDA_HASTA ) ) and 
	( ( @ARTICULO_TEMPORADA_DESDE is null ) OR ( C_ARTICULO.ATEMPORADA >= @ARTICULO_TEMPORADA_DESDE ) ) and 
	( ( @ARTICULO_TEMPORADA_HASTA is null ) OR ( C_ARTICULO.ATEMPORADA <= @ARTICULO_TEMPORADA_HASTA ) ) and 
	( ( @ARTICULO_ANO_DESDE is null ) OR ( C_ARTICULO.Ano >= @ARTICULO_ANO_DESDE ) ) and 
	( ( @ARTICULO_ANO_HASTA is null ) OR ( C_ARTICULO.Ano <= @ARTICULO_ANO_HASTA ) ) and 
	( ( @ARTICULO_FAMILIA_DESDE is null ) OR ( C_ARTICULO.Familia >= @ARTICULO_FAMILIA_DESDE ) ) and 
	( ( @ARTICULO_FAMILIA_HASTA is null ) OR ( C_ARTICULO.Familia <= @ARTICULO_FAMILIA_HASTA ) ) and 
	( ( @ARTICULO_MATERIAL_DESDE is null ) OR ( C_ARTICULO.Mat >= @ARTICULO_MATERIAL_DESDE ) ) and 
	( ( @ARTICULO_MATERIAL_HASTA is null ) OR ( C_ARTICULO.Mat <= @ARTICULO_MATERIAL_HASTA ) ) and 
	( ( @ARTICULO_LINEA_DESDE is null ) OR ( C_ARTICULO.Linea >= @ARTICULO_LINEA_DESDE ) ) and 
	( ( @ARTICULO_LINEA_HASTA is null ) OR ( C_ARTICULO.Linea <= @ARTICULO_LINEA_HASTA ) ) and 
	( ( @ARTICULO_GRUPO_DESDE is null ) OR ( C_ARTICULO.Grupo >= @ARTICULO_GRUPO_DESDE ) ) and 
	( ( @ARTICULO_GRUPO_HASTA is null ) OR ( C_ARTICULO.Grupo <= @ARTICULO_GRUPO_HASTA ) ) and 
	( ( @ARTICULO_CATEGORIADEARTICULO_DESDE is null ) OR ( C_ARTICULO.CateArti >= @ARTICULO_CATEGORIADEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_CATEGORIADEARTICULO_HASTA is null ) OR ( C_ARTICULO.CateArti <= @ARTICULO_CATEGORIADEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_CLASIFICACION_DESDE is null ) OR ( C_ARTICULO.ClasifArt >= @ARTICULO_CLASIFICACION_DESDE ) ) and 
	( ( @ARTICULO_CLASIFICACION_HASTA is null ) OR ( C_ARTICULO.ClasifArt <= @ARTICULO_CLASIFICACION_HASTA ) ) and 
	( ( @ARTICULO_TIPODEARTICULO_DESDE is null ) OR ( C_ARTICULO.TipoArti >= @ARTICULO_TIPODEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_TIPODEARTICULO_HASTA is null ) OR ( C_ARTICULO.TipoArti <= @ARTICULO_TIPODEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_COMPORTAMIENTO is null ) OR ( C_ARTICULO.ASTOCK = @ARTICULO_COMPORTAMIENTO ) ) and 
	--( ( @LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_DESDE is null ) OR ( C_LISTADEPRECIOS.LPR_NOMBRE >= @LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_DESDE ) ) and 
	--( ( @LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_HASTA is null ) OR ( C_LISTADEPRECIOS.LPR_NOMBRE <= @LISTADEPRECIOS_LISTADEPRECIOS_NOMBRE_HASTA ) ) and 
	( ( @MONEDA_MONEDACOMPROBANTE_DESCRIPCION_DESDE is null ) OR ( C_MONEDA.Descrip >= @MONEDA_MONEDACOMPROBANTE_DESCRIPCION_DESDE ) ) and 
	( ( @MONEDA_MONEDACOMPROBANTE_DESCRIPCION_HASTA is null ) OR ( C_MONEDA.Descrip <= @MONEDA_MONEDACOMPROBANTE_DESCRIPCION_HASTA ) ) and 
	( ( @PROVEEDOR_PROVEEDOR_NOMBRE_DESDE is null ) OR ( C_PROVEEDOR.CLNOM >= @PROVEEDOR_PROVEEDOR_NOMBRE_DESDE ) ) and 
	( ( @PROVEEDOR_PROVEEDOR_NOMBRE_HASTA is null ) OR ( C_PROVEEDOR.CLNOM <= @PROVEEDOR_PROVEEDOR_NOMBRE_HASTA ) ) and 
	( ( @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE is null ) OR ( C_UNIDADDEMEDIDA.Descrip >= @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE ) ) and 
	( ( @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA is null ) OR ( C_UNIDADDEMEDIDA.Descrip <= @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA ) ) and 
	( ( @TEMPORADA_TEMPORADA_DESCRIPCION_DESDE is null ) OR ( C_TEMPORADA.TDES >= @TEMPORADA_TEMPORADA_DESCRIPCION_DESDE ) ) and 
	( ( @TEMPORADA_TEMPORADA_DESCRIPCION_HASTA is null ) OR ( C_TEMPORADA.TDES <= @TEMPORADA_TEMPORADA_DESCRIPCION_HASTA ) ) and 
	( ( @FAMILIA_FAMILIA_DESCRIPCION_DESDE is null ) OR ( C_FAMILIA.Descrip >= @FAMILIA_FAMILIA_DESCRIPCION_DESDE ) ) and 
	( ( @FAMILIA_FAMILIA_DESCRIPCION_HASTA is null ) OR ( C_FAMILIA.Descrip <= @FAMILIA_FAMILIA_DESCRIPCION_HASTA ) ) and 
	( ( @MATERIAL_MATERIAL_DESCRIPCION_DESDE is null ) OR ( C_MATERIAL.MATDES >= @MATERIAL_MATERIAL_DESCRIPCION_DESDE ) ) and 
	( ( @MATERIAL_MATERIAL_DESCRIPCION_HASTA is null ) OR ( C_MATERIAL.MATDES <= @MATERIAL_MATERIAL_DESCRIPCION_HASTA ) ) and 
	( ( @LINEA_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEA.Descrip >= @LINEA_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEA_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEA.Descrip <= @LINEA_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @GRUPO_GRUPO_DESCRIPCION_DESDE is null ) OR ( C_GRUPO.Descrip >= @GRUPO_GRUPO_DESCRIPCION_DESDE ) ) and 
	( ( @GRUPO_GRUPO_DESCRIPCION_HASTA is null ) OR ( C_GRUPO.Descrip <= @GRUPO_GRUPO_DESCRIPCION_HASTA ) ) and 
	( ( @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_CATEGORIADEARTICULO.Descrip >= @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_CATEGORIADEARTICULO.Descrip <= @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP >= @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE ) ) and 
	( ( @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP <= @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA ) ) and 
	( ( @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_TIPODEARTICULO.Descrip >= @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_TIPODEARTICULO.Descrip <= @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULO_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FART >= @ITEMARTICULOSVENTAS_ARTICULO_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULO_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FART <= @ITEMARTICULOSVENTAS_ARTICULO_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FTXT >= @ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FTXT <= @ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLOR_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.cColor >= @ITEMARTICULOSVENTAS_COLOR_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLOR_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.cColor <= @ITEMARTICULOSVENTAS_COLOR_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLORDETALLE_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FCOLTXT >= @ITEMARTICULOSVENTAS_COLORDETALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLORDETALLE_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FCOLTXT <= @ITEMARTICULOSVENTAS_COLORDETALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLE_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.Talle >= @ITEMARTICULOSVENTAS_TALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLE_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.Talle <= @ITEMARTICULOSVENTAS_TALLE_HASTA ) ) and 
	( C_FACTURA.FACTTIPO in ( 1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36 ) ) and 
	( ( @FACTURA_TIPOCOMPROBANTE is null ) OR ( C_FACTURA.FACTTIPO = @FACTURA_TIPOCOMPROBANTE ) )

)