IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_EFlexware_MediosDePagoFinanzas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_EFlexware_MediosDePagoFinanzas];
GO;

CREATE  FUNCTION [interfaces].[Interfaz_EFlexware_MediosDePagoFinanzas]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@MovimientoPredeterminado varchar(10),
	@TipoCambio varchar(10),
	@BlanquearClienteB bit,
	@CodigoClienteCompEnCero varchar(6),
	@cIncluirCajaySucursalFinanzas char(1)
)
RETURNS TABLE
AS
RETURN
(



	select cast(DatosExpo.IdentificadorMovimiento as char(6)) as IdentMov,						-- Campo: 1,  Longitud: 6,  Posiciones: 1-6
		cast(DatosExpo.CodigoTipoMovimientoFondos as char(6)) as CodTipoMov,					-- Campo: 2,  Longitud: 6,  Posiciones: 6-12
		cast(DatosExpo.DescripcionMovimiento as char(30)) as DescMov,							-- Campo: 3,  Longitud: 30, Posiciones: 13-42
		cast(DatosExpo.FechaComprobante as char(8)) as FechaComp,								-- Campo: 4,  Longitud: 8,  Posiciones: 43-50
		cast(DatosExpo.CodigoCliente as char(6)) as CodCliente,									-- Campo: 5,  Longitud: 6,  Posiciones: 51-56
		cast(DatosExpo.CodigoProveedor as char(6)) as Codprove,									-- Campo: 6,  Longitud: 6,  Posiciones: 57-62
		cast(DatosExpo.MarcaOA as char(1)) as MarcaOA,											-- Campo: 7,  Longitud: 1,  Posiciones: 63
		cast(DatosExpo.Concepto as char(1)) as Concepto,										-- Campo: 8,  Longitud: 1,  Posiciones: 64
		cast(Funciones.padl(DatosExpo.Moneda, 3, ' ') as char(3)) as Moneda,					-- Campo: 9,  Longitud: 3,  Posiciones: 65-67
		cast(DatosExpo.TipoCambio as char(3)) as TipoCamb,										-- Campo: 10, Longitud: 3,  Posiciones: 68-70
		cast(DatosExpo.CajaAplicacionOrigen as char(15)) as CajAplOrig,							-- Campo: 11, Longitud: 15, Posiciones: 71-85
		cast(DatosExpo.TipoChequeValorDocumento as char(3)) as TipoCheq,						-- Campo: 12, Longitud: 3,  Posiciones: 86-88
		cast(DatosExpo.FechaVencimiento as char(8)) as FechaVenc,								-- Campo: 13, Longitud: 8,  Posiciones: 89-96
		cast(DatosExpo.Importe as char(16)) as Importe,											-- Campo: 14, Longitud: 16, Posiciones: 97-112
		cast(DatosExpo.NumeroCheque as char(8)) as NroCheque,									-- Campo: 15, Longitud: 8,  Posiciones: 113-120
		cast(DatosExpo.CodigoBancoTarjeta as char(3)) as CodBanco,								-- Campo: 16, Longitud: 3,  Posiciones: 121-123
		cast(DatosExpo.SucursalBanco as char(4)) as SucBanco,									-- Campo: 17, Longitud: 4,  Posiciones: 124-127
		cast(Funciones.Padl(DatosExpo.Clearing, 3, ' ') as char(3)) as Clearing,				-- Campo: 18, Longitud: 3,  Posiciones: 128-130
		cast(DatosExpo.Origen as char(1)) as Origen,											-- Campo: 16, Longitud: 1,  Posiciones: 131
		cast(DatosExpo.CodigoCuentaBancaria as char(15)) as CodCtaBanc,							-- Campo: 17, Longitud: 15, Posiciones: 132-146
		cast(DatosExpo.NumeroTarjeta as char(25)) as NroTarje,									-- Campo: 18, Longitud: 25, Posiciones: 147-171
		cast(DatosExpo.NumeroAutorizacion as char(25)) as NroAutoriz,							-- Campo: 19, Longitud: 25, Posiciones: 172-196
		cast(DatosExpo.NombreLibrador as char(30)) as NomLibr,									-- Campo: 20, Longitud: 30, Posiciones: 197-226
		cast(DatosExpo.DireccionLibrador as char(30)) as DirLibr,								-- Campo: 21, Longitud: 30, Posiciones: 227-256
		cast(DatosExpo.CodigoPostalLibrador as char(8)) as CodPosLibr,							-- Campo: 22, Longitud: 8,  Posiciones: 257-264
		cast(Funciones.Padl( DatosExpo.ProvinciaLibrador, 3, ' ') as char(3)) as ProvLibr,		-- Campo: 23, Longitud: 3,  Posiciones: 265-267
		cast(DatosExpo.LocalidadLibrador as char(25)) as LocLibr,								-- Campo: 24, Longitud: 25, Posiciones: 268-292
		cast(DatosExpo.TelefonoLibrador as char(30)) as TelLibr,								-- Campo: 25, Longitud: 30, Posiciones: 293-322
		cast(DatosExpo.PesosAlCambio as char(16)) as ImpPesif,									-- Campo: 26, Longitud: 16, Posiciones: 323-338
		cast(DatosExpo.CodigoAperturaContable as char(4)) as CodApeCont,						-- Campo: 27, Longitud: 4,  Posiciones: 339-342
		cast(DatosExpo.TipoComprobante as char(3)) as TipoComp,									-- Campo: 28, Longitud: 3,  Posiciones: 343-345
		cast(DatosExpo.LetraComprobante as char(1)) as LetraComp,								-- Campo: 29, Longitud: 1,  Posiciones: 346
		cast(Funciones.padl(DatosExpo.PuntoVenta, 4, '0') as char(4)) as PtoVenta,				-- Campo: 30, Longitud: 4,  Posiciones: 247-350
		cast(Funciones.padl(DatosExpo.NumeroComprobante, 8, '0') as char(8)) as NroComp,		-- Campo: 31, Longitud: 8,  Posiciones: 351-358
		cast(DatosExpo.Cliente as char(6)) as Cliente,											-- Campo: 32, Longitud: 6,  Posiciones: 359-364
		cast(DatosExpo.NumeroLocal as char(3)) as NroLocal,										-- Campo: 33, Longitud: 3,  Posiciones: 365-367
		cast(DatosExpo.TipoOperacion as char(9)) as TipoOper									-- Campo: 34, Longitud: 9,  Posiciones: 368-376
	from (
		select VueltosOrigen.IdentificadorMovimiento,
			VueltosOrigen.CodigoTipoMovimientoFondos,
			VueltosOrigen.DescripcionMovimiento,		
			VueltosOrigen.FechaComprobante,
			VueltosOrigen.CodigoCliente,
			VueltosOrigen.CodigoProveedor,
			VueltosOrigen.MarcaOA,
			VueltosOrigen.Concepto,
			VueltosOrigen.Moneda,
			VueltosOrigen.TipoCambio,
			VueltosOrigen.CajaAplicacionOrigen,
			VueltosOrigen.TipoChequeValorDocumento,
			VueltosOrigen.FechaVencimiento,
			Funciones.ObtenerMontoConDecimales(VueltosOrigen.Importe, 2, 16) as Importe,
			VueltosOrigen.NumeroCheque,
			VueltosOrigen.CodigoBancoTarjeta,
			VueltosOrigen.SucursalBanco,
			VueltosOrigen.Clearing,
			VueltosOrigen.Origen,
			VueltosOrigen.CodigoCuentaBancaria,
			VueltosOrigen.NumeroTarjeta,
			VueltosOrigen.NumeroAutorizacion,
			VueltosOrigen.NombreLibrador,
			VueltosOrigen.DireccionLibrador,
			VueltosOrigen.CodigoPostalLibrador,
			VueltosOrigen.ProvinciaLibrador,
			VueltosOrigen.LocalidadLibrador,
			VueltosOrigen.TelefonoLibrador,
			Funciones.ObtenerMontoConDecimales(VueltosOrigen.PesosAlCambio, 2, 16) as PesosAlCambio,
			VueltosOrigen.CodigoAperturaContable,
			VueltosOrigen.TipoComprobante,
			VueltosOrigen.LetraComprobante,
			cast(VueltosOrigen.PuntoVenta as varchar(4)) as PuntoVenta,
			cast(VueltosOrigen.NumeroComprobante as varchar(8)) as NumeroComprobante, 
			VueltosOrigen.Cliente, 
			VueltosOrigen.NumeroLocal,
			VueltosOrigen.TipoOperacion
		from [Interfaces].[Datos_EFlexware_MediosDePagoFinanzas_Vueltos] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @MovimientoPredeterminado,
			@TipoCambio, @BlanquearClienteB, 0,@CodigoClienteCompEnCero,@cIncluirCajaySucursalFinanzas) as VueltosOrigen

		union all

		select VueltosAplicacion.IdentificadorMovimiento,
			VueltosAplicacion.CodigoTipoMovimientoFondos,
			VueltosAplicacion.DescripcionMovimiento,		
			VueltosAplicacion.FechaComprobante,
			VueltosAplicacion.CodigoCliente,
			VueltosAplicacion.CodigoProveedor,
			VueltosAplicacion.MarcaOA,
			VueltosAplicacion.Concepto,
			VueltosAplicacion.Moneda,
			VueltosAplicacion.TipoCambio,
			VueltosAplicacion.CajaAplicacionOrigen,
			VueltosAplicacion.TipoChequeValorDocumento,
			VueltosAplicacion.FechaVencimiento,
			Funciones.ObtenerMontoConDecimales(VueltosAplicacion.Importe, 2, 16) as Importe,
			VueltosAplicacion.NumeroCheque,
			VueltosAplicacion.CodigoBancoTarjeta,
			VueltosAplicacion.SucursalBanco,
			VueltosAplicacion.Clearing,
			VueltosAplicacion.Origen,
			VueltosAplicacion.CodigoCuentaBancaria,
			VueltosAplicacion.NumeroTarjeta,
			VueltosAplicacion.NumeroAutorizacion,
			VueltosAplicacion.NombreLibrador,
			VueltosAplicacion.DireccionLibrador,
			VueltosAplicacion.CodigoPostalLibrador,
			VueltosAplicacion.ProvinciaLibrador,
			VueltosAplicacion.LocalidadLibrador,
			VueltosAplicacion.TelefonoLibrador,
			Funciones.ObtenerMontoConDecimales(VueltosAplicacion.PesosAlCambio, 2, 16) as PesosAlCambio,
			VueltosAplicacion.CodigoAperturaContable,
			VueltosAplicacion.TipoComprobante,
			VueltosAplicacion.LetraComprobante,
			cast(VueltosAplicacion.PuntoVenta as varchar(4)) as PuntoVenta,
			cast(VueltosAplicacion.NumeroComprobante as varchar(8)) as NumeroComprobante,
			VueltosAplicacion.Cliente, 
			VueltosAplicacion.NumeroLocal,
			VueltosAplicacion.TipoOperacion
		from [Interfaces].[Datos_EFlexware_MediosDePagoFinanzas_Vueltos] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @MovimientoPredeterminado,
			@TipoCambio, @BlanquearClienteB, 1,@CodigoClienteCompEnCero,@cIncluirCajaySucursalFinanzas) as VueltosAplicacion
		) as DatosExpo
)