IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_SIRCAR_RestoDeLasJurisdicciones_Percepciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIRCAR_RestoDeLasJurisdicciones_Percepciones];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIRCAR_RestoDeLasJurisdicciones_Percepciones]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from ZooLogic.ComprobanteV as  Comprobantes
			join ( select Impventas.MontoBase, Impventas.Monto, Impventas.Ccod, Impventas.Tipoi, Impventas.Jurid, Impventas.porcen
					from ZooLogic.Impventas inner join ZooLogic.Impuesto on Impventas.Codimp = Impuesto.Codigo
					where Impuesto.Aplicacion = 'PRC' ) as ImpuestosVentas 
				on Comprobantes.Codigo = ImpuestosVentas.Ccod and ImpuestosVentas.Tipoi = 'IIBB' and
				Funciones.Alltrim( ImpuestosVentas.Jurid ) in ('903','905','906','907','909','910','911','912','913','914','915','916','917','918','919','920','921','922','923' )	
			left join ZooLogic.Cli as Clientes on Comprobantes.FPerson = Clientes.ClCod
		where Comprobantes.FactTipo in ( 1, 2, 3, 4, 5, 6, 13, 27, 28, 29 ) 
		and Comprobantes.Anulado = 0
		and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta	
END