IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_Tucuman_IIBB_SIRETPER_Percepciones_NCFACT]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Interfaces].[Interfaz_Tucuman_IIBB_SIRETPER_Percepciones_NCFACT];
GO;

Create function [Interfaces].[Interfaz_Tucuman_IIBB_SIRETPER_Percepciones_NCFACT]
(
	@FechaDesde varchar(10),
	@FechaHasta varchar(10)	
)

RETURNS TABLE
AS
RETURN
(
	Select top 99.999999 percent
		cast( Funciones.padl( funciones.alltrim( cast( Comprobantes.FptoVen as char(4) )), 4, '0' ) as char(4) ) as PtoVenNC,
		cast( Funciones.padl( funciones.alltrim(cast( Comprobantes.Fnumcomp as varchar(8) )), 8, '0' ) as char(8) ) as NumeroNC, 
		cast( Funciones.padl( funciones.alltrim( cast( Comprobantes.PuntoRela as char(4) )), 4, '0' ) as char(4) ) as PtoVenRela,
		cast( Funciones.padl( funciones.alltrim(cast( Comprobantes.NumeroRela as varchar(8) )), 8, '0' ) as char(8) ) as NumeroRela, 
		cast( Funciones.padl( case when ConvVTipo.ValDest is null then ConvCTipo.ValorDef else ConvVTipo.ValDest end, 2, '0' ) as char(2) ) as TipoRela
	from ZooLogic.ComprobanteV as  Comprobantes
		join ( select Impventas.Ccod, Impventas.Tipoi, Impventas.Jurid 
				from ZooLogic.Impventas inner join ZooLogic.Impuesto on Impventas.Codimp = Impuesto.Codigo
				where Impuesto.Aplicacion = 'PRC' and Impventas.MontoBase > 0 and Impventas.Monto > 0 
			  ) as ImpuestosVentas 
			on Comprobantes.Codigo = ImpuestosVentas.Ccod and ImpuestosVentas.Tipoi = 'IIBB' and ImpuestosVentas.Jurid = '924' 
		left join [Organizacion].[Conver] as ConvCTipo on ConvCTipo.Codigo = 'TIPOCOMPROBANTEDGRTUC'
		left join [Organizacion].[ConverVal] as ConvVTipo on ConvCTipo.Codigo = ConvVTipo.Conversion and 
				ConvVTipo.ValOrig = cast( Funciones.ObtenerTipoComprobanteRelacionado( Comprobantes.LetraRela, Comprobantes.puntoRela , 
				Comprobantes.NumeroRela, Comprobantes.FecCRela, Comprobantes.TipoCRela, Comprobantes.Facttipo ) as varchar(2) ) + Comprobantes.LetraRela		
	where Comprobantes.FactTipo in ( 3, 5, 28, 55 ) 
		and Comprobantes.Anulado = 0 
		and Comprobantes.FFch between @FechaDesde and @FechaHasta	
	ORDER BY case when  Comprobantes.FactTipo in ( 1,2,27,54) then 1 else 2 end, case when ConvVTipo.ValDest is null then ConvCTipo.ValorDef else ConvVTipo.ValDest end,Comprobantes.FptoVen,Comprobantes.Fnumcomp

 )