IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_EFlexware_MediosDePagoVentas_Valores]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_EFlexware_MediosDePagoVentas_Valores];
GO;

CREATE FUNCTION [Interfaces].[Datos_EFlexware_MediosDePagoVentas_Valores]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@TipoCambio varchar(3),
	@BlanquearClienteB as bit,
	@BaseDeDatos as varchar(8),
	@CodigoClienteCompEnCero varchar(6),
	@cIncluirCajaySucursal char(1) 
	
)
RETURNS TABLE
AS
RETURN
(

--declare	@LetraDesde char(1) = ''
--declare	@LetraHasta char(1) = 'Z'
--declare	@PuntoVentaDesde int = 0
--declare	@PuntoVentaHasta int = 9999
--declare	@NumeroComprobanteDesde int = 0
--declare	@NumeroComprobanteHasta int = 99999999
--declare	@FechaComprobanteDesde varchar(10) = '20210101'
--declare	@FechaComprobanteHasta varchar(10) = '20240101'
--declare	@FechaExportacionDesde varchar(10) = '20200101'
--declare	@FechaExportacionHasta varchar(10) = '20240101'
--declare	@TipoCambio varchar(3) = 'XXX'
--declare	@BlanquearClienteB as bit = 0
--declare	@BaseDeDatos as varchar(8) = 'CONTA'
--declare	@CodigoClienteCompEnCero varchar(6) = '8989'
--declare	@cIncluirCajaySucursal char(1) = '3'

	select 
	DatosExpoIntermedios.IdSucursal,
	DatosExpoIntermedios.TipoComprobante,
		DatosExpoIntermedios.Letra as LetraComprobante,
		DatosExpoIntermedios.PuntoVenta,
		DatosExpoIntermedios.NumeroComprobante as NumeroComprobanteDesde,
		'' as NumeroComprobanteHasta,
		DatosExpoIntermedios.Fecha as FechaComprobante,
		DatosExpoIntermedios.CodigoCliente,
		DatosExpoIntermedios.MedioPago,
		DatosExpoIntermedios.Moneda as MonedaComprobante,
		@TipoCambio as TipoCambio,
		DatosExpoIntermedios.CodigoValor as CajaAplicacionOrigen,
		'' as TipoChequeValorDocumento,
		DatosExpoIntermedios.FechaValor as FechaVencimiento,
      case when (DatosExpoIntermedios.TotalValor != DatosExpoIntermedios.PesosAlCambio) and (DatosExpoIntermedios.PesosAlCambio - DatosExpoIntermedios.TotalValor between -0.05 and 0.05 ) then DatosExpoIntermedios.PesosAlCambio else DatosExpoIntermedios.TotalValor end as Importe,
	    '' as NumeroCheque,
		DatosExpoIntermedios.CodigoBancoTarjeta as CodigoBancoTarjeta,
		'' as SucursalBanco,
		'0' as Clearing,
		'' as Origen,
		DatosExpoIntermedios.CodigoCuentaBancaria as CodigoCuentaBancaria,
		'' as NumeroTarjeta,
		'' as NumeroAutorizacion,
		'' as NombreLibrador,
		'' as DireccionLibrador,
		'' as CodigoPostalLibrador,
		'0' as ProvinciaLibrador,
		'' as LocalidadLibrador,
		'' as TelefonoLibrador,
		DatosExpoIntermedios.PesosAlCambio
	from(
		select
		DatosExpoBasicos.IDSucursal,
		 case when DatosExpoBasicos.CantidadCC > 0 then 'RCA' else DatosExpoBasicos.TipoComprobante end as TipoComprobante,
			DatosExpoBasicos.Letra,
			DatosExpoBasicos.PuntoVenta,
			DatosExpoBasicos.NumeroComprobante,
			Funciones.dtos(DatosExpoBasicos.Fecha) as Fecha,
			DatosExpoBasicos.CodigoCliente,
			DatosExpoBasicos.MedioPago,
			DAtosExpoBasicos.CodigoCuentaBancaria,
			DAtosExpoBasicos.CodigoBancoTarjeta,
			--(case when DatosExpoBasicos.TipoValor in (1, 2) and DatosExpoBasicos.IDSucursal <> '' then DatosExpoBasicos.IDSucursal + '-' + DatosExpoBasicos.NumeroCaja + '-' else '' end) + Funciones.alltrim(DatosExpoBasicos.CodigoValor) as CodigoValor,

			case
				when @cIncluirCajaySucursal = '1' and  DatosExpoBasicos.TipoValor in (1, 2) and DatosExpoBasicos.IDSucursal <> '' then DatosExpoBasicos.IDSucursal + '-' + DatosExpoBasicos.NumeroCaja + '-'  + Funciones.alltrim(DatosExpoBasicos.CodigoValor) 
				when @cIncluirCajaySucursal = '2' and DatosExpoBasicos.IDSucursal <> '' then DatosExpoBasicos.IDSucursal + '-' + DatosExpoBasicos.NumeroCaja + '-' + Funciones.alltrim(DatosExpoBasicos.CodigoValor )
				else Funciones.alltrim(DatosExpoBasicos.CodigoValor)
			end as CodigoValor,
			--case when EFLEXMONEDA_valconv.ValDest is null then EFLEXMONEDA_cabconv.ValorDef else EFLEXMONEDA_valconv.ValDest end as Moneda,
			 DatosExpoBasicos.Moneda,
			case when DatosExpoBasicos.EquivTipoValor <> '3' and DatosExpoBasicos.TipoValor <> 3 then '' else Funciones.dtos(DatosExpoBasicos.FechaValor) end as FechaValor,
			(case when DatosExpoBasicos.DescontarVuelto = 0 then DatosExpoBasicos.TotalValor else (DatosExpoBasicos.PesosAlCambio - DatosExpoBasicos.Vuelto) / DatosExpoBasicos.Cotizacion end) * DatosExpoBasicos.Signo as TotalValor,
			(case when DatosExpoBasicos.DescontarVuelto = 0 then DatosExpoBasicos.PesosAlCambio else DatosExpoBasicos.PesosAlCambio - DatosExpoBasicos.Vuelto end) * DatosExpoBasicos.Signo as PesosAlCambio
		from (
			select Comprobantes.FLetra as Letra,
				Comprobantes.FPtoVen as PuntoVenta,
				Comprobantes.FNumComp as NumeroComprobante,
				Comprobantes.FFch as Fecha,
				[Interfaces].[Auxiliar_EFlexware_CodigoCliente] (EFLEXCODIGOCLIENTE_valconv_bd.ValDest, EFLEXCODIGOCLIENTE_valconv_cl.ValDest, EFLEXCODIGOCLIENTE_cabconv.Accion,
					EFLEXCODIGOCLIENTE_cabconv.ValorDef, Comprobantes.FPerson, Comprobantes.FLetra, Comprobantes.FTotal, TotalVueltoYCC.Vuelto, TotalVueltoYCC.CantidadCC,
					@BlanquearClienteB, @CodigoClienteCompEnCero) as CodigoCliente,
				Comprobantes.FTotal as TotalComprobante,
				case when Funciones.EsComprobanteNotaDeCredito(Comprobantes.FactTipo) = 1 then -1 else 1 end as Signo,
				DetalleValores.JjT as TipoValor,
				case when EFLEXNUMERODECAJA_valconv.VALDEST is null then cast(DetalleValores.IdCaja as varchar(5)) else EFLEXNUMERODECAJA_valconv.VALDEST end as NumeroCaja,
				case when (DetalleValores.JjTotFac = 0 and DetalleValores.JjRecib = 0) or (DetalleValores.JjTotFac = 0 and DetalleValores.JjRecib <> 0) then 0 else
						case when DetalleValores.JjTotFac = 0 then Comprobantes.FTotal else DetalleValores.JjTotFac end end as TotalValor ,
				case when( DetalleValores.Pesos = 0  and DetalleValores.JjRecib = 0) or ( DetalleValores.JjTotFac = 0 and DetalleValores.JjRecib <> 0)  then 0 else 
						case when DetalleValores.Pesos = 0 then Comprobantes.FTotal else (case when Comprobantes.FTotal = TotalVueltoYCC.Total then DetalleValores.Pesos else DetalleValores.RecPesos end) end end as PesosAlCambio,
				case when DetalleValores.Cotiza = 0 then 1 else DetalleValores.Cotiza end as Cotizacion,
				case when DetalleValores.JjFe = '' then Comprobantes.FFch else DetalleValores.JjFe end as FechaValor,
				case when TotalVueltoYCC.Vuelto is null then 0 else TotalVueltoYCC.Vuelto end as Vuelto,
				case when TotalVueltoYCC.CantidadCC is null then 0 else TotalVueltoYCC.CantidadCC end as CantidadCC,
				case when ValoresMaximos.IdItem is null or Comprobantes.FTotal = TotalVueltoYCC.Total then 0 else 1 end as DescontarVuelto,
				case when EFLEXCOMPROBANTES_valconv.ValDest is null then cast(Comprobantes.FactTipo as varchar(2)) else EFLEXCOMPROBANTES_valconv.ValDest end as TipoComprobante,
				case when EFLEXMEDIODEPAGO_valconv.ValDest is null then EFLEXMEDIODEPAGO_cabconv.ValorDef else EFLEXMEDIODEPAGO_valconv.ValDest end as MedioPago,
				case when EQUIVALENCIADEVALORESEFLEX_valconv.ValDest is null then DetalleValores.JjCo else EQUIVALENCIADEVALORESEFLEX_valconv.ValDest end as CodigoValor,
				case when EQUIVALENCIADEVALORESTIPOEFLEX_valconv.ValDest is null then cast(DetalleValores.JjT as varchar(2)) else EQUIVALENCIADEVALORESTIPOEFLEX_valconv.ValDest end as EquivTipoValor,
				case when EFLEXIDENTIFICADORBASEDEDATOS_cabconv.ValDest is null then '' else EFLEXIDENTIFICADORBASEDEDATOS_cabconv.ValDest end as IDSucursal,
				case when EFLEXCODIGOCUENTABANCARIA_valconv.ValDest is null then '' else EFLEXCODIGOCUENTABANCARIA_valconv.ValDest end as CodigoCuentaBancaria,
				case when EFLEXCODIGODEBANCOTARJETA_valconv.ValDest is null then '' else EFLEXCODIGODEBANCOTARJETA_valconv.ValDest end as CodigoBancoTarjeta,
				case when EFLEXMONEDA_valconv.ValDest is null then EFLEXMONEDA_cabconv.ValorDef else EFLEXMONEDA_valconv.ValDest end as Moneda
			from [ZooLogic].[ComprobanteV] as Comprobantes
				join [ZooLogic].[Val] as DetalleValores on Comprobantes.Codigo = DetalleValores.JjNum and DetalleValores.EsVuelto = 0 and DetalleValores.JjT <> 6
				left join (
					select DetalleValores.JjNum as CodigoComprobante,
						sum(case when DetalleValores.JjT = 6 then 1 else 0 end) as CantidadCC,
						sum(case when DetalleValores.EsVuelto = 1 then round(abs(DetalleValores.RecPesos), 2) else 0 end) as Vuelto,
						sum(case when DetalleValores.EsVuelto = 1 then 0 else DetalleValores.Pesos end) as Total
					from [ZooLogic].[Val] as DetalleValores
					group by DetalleValores.JjNum
					) as TotalVueltoYCC on Comprobantes.Codigo = TotalVueltoYCC.CodigoComprobante
				left join (
					select Valores.JjNum,
						max(Valores.IdItem) as IdItem
					from [ZooLogic].[Val] as Valores
					join (
						select DetalleValores.JjNum as CodigoComprobante,
							max(DetalleValores.JjTotFac * DetalleValores.Cotiza) as MontoMaximo
						from [ZooLogic].[Val] as DetalleValores
						where DetalleValores.PermVuelto = 1
						group by DetalleValores.JjNum
						) as ValoresMaximos on Valores.JjNum = ValoresMaximos.CodigoComprobante and (Valores.JjTotFac * Valores.Cotiza) = ValoresMaximos.MontoMaximo and Valores.PermVuelto = 1
					group by Valores.JjNum
					) as ValoresMaximos on Comprobantes.Codigo = ValoresMaximos.JjNum and DetalleValores.IdItem = ValoresMaximos.IdItem
				left join [zoologic].[xval] as DATOSVALORES on DATOSVALORES.CLCOD = DetalleValores.JJCO
				left join [Organizacion].[ConverVal] as EFLEXCOMPROBANTES_valconv on EFLEXCOMPROBANTES_valconv.Conversion = 'EFLEXCOMPROBANTES' and EFLEXCOMPROBANTES_valconv.ValOrig = cast(Comprobantes.FactTipo as varchar(2))
				left join [Organizacion].[Conver] as EFLEXMEDIODEPAGO_cabconv on EFLEXMEDIODEPAGO_cabconv.Codigo = 'EFLEXMEDIODEPAGO'
				left join [Organizacion].[ConverVal] as EFLEXMEDIODEPAGO_valconv on EFLEXMEDIODEPAGO_cabconv.Codigo = EFLEXMEDIODEPAGO_valconv.Conversion and EFLEXMEDIODEPAGO_valconv.ValOrig = cast(DetalleValores.JjT as varchar(2))
				left join [Organizacion].[ConverVal] as EQUIVALENCIADEVALORESEFLEX_valconv on EQUIVALENCIADEVALORESEFLEX_valconv.Conversion = 'EQUIVALENCIADEVALORESEFLEX' and EQUIVALENCIADEVALORESEFLEX_valconv.ValOrig = DetalleValores.JjCo and EQUIVALENCIADEVALORESEFLEX_valconv.CODIGO = [Funciones].[ObtenerValorDeConversionSegunBaseDeDatos]('EQUIVALENCIADEVALORESEFLEX', @BaseDeDatos, DetalleValores.JjCo)
				left join [Organizacion].[ConverVal] as EQUIVALENCIADEVALORESTIPOEFLEX_valconv on EQUIVALENCIADEVALORESTIPOEFLEX_valconv.Conversion = 'EQUIVALENCIADEVALORESTIPOEFLEX' and EQUIVALENCIADEVALORESTIPOEFLEX_valconv.ValOrig = cast(DetalleValores.JjT as varchar(2))
				left join [Organizacion].[ConverVal] as EFLEXIDENTIFICADORBASEDEDATOS_cabconv on EFLEXIDENTIFICADORBASEDEDATOS_cabconv.Conversion = 'EFLEXIDENTIFICADORBASEDEDATOS' and EFLEXIDENTIFICADORBASEDEDATOS_cabconv.ValOrig =  Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as EFLEXCODIGOCLIENTE_cabconv on EFLEXCODIGOCLIENTE_cabconv.Codigo = 'EFLEXCODIGOCLIENTE'
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_cl on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_cl.Conversion and EFLEXCODIGOCLIENTE_valconv_cl.ValOrig = Comprobantes.FPerson
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_bd on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_bd.Conversion and EFLEXCODIGOCLIENTE_valconv_bd.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[ConverVal] as EFLEXNUMERODECAJA_valconv on EFLEXNUMERODECAJA_valconv.CONVERSION = 'EFLEXNUMERODECAJA' and EFLEXNUMERODECAJA_valconv.VALORIG = funciones.alltrim(cast(DetalleValores.IdCaja as varchar(5)))
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCUENTABANCARIA_valconv on EFLEXCODIGOCUENTABANCARIA_valconv.CONVERSION = 'EFLEXCODIGOCUENTABANCARIA' and EFLEXCODIGOCUENTABANCARIA_valconv.VALORIG = funciones.alltrim(cast(DetalleValores.jjco as varchar(5)))
				left join [Organizacion].[ConverVal] as EFLEXCODIGODEBANCOTARJETA_valconv on EFLEXCODIGODEBANCOTARJETA_valconv.CONVERSION = 'EFLEXCODIGODEBANCOTARJETA' and EFLEXCODIGODEBANCOTARJETA_valconv.VALORIG = funciones.alltrim(cast(DetalleValores.jjco as varchar(5)))
				left join [Organizacion].[Conver] as EFLEXMONEDA_cabconv on EFLEXMONEDA_cabconv.Codigo = 'EFLEXMONEDA'
				left join [Organizacion].[ConverVal] as EFLEXMONEDA_valconv on EFLEXMONEDA_cabconv.Codigo = EFLEXMONEDA_valconv.Conversion and EFLEXMONEDA_valconv.ValOrig = datosvalores.clsmonet
			where Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49, 54, 55, 56)
				and Comprobantes.FLetra between @LetraDesde and @LetraHasta
				and Comprobantes.FPtoVen between @PuntoVentaDesde and @PuntoVentaHasta
				and Comprobantes.FNumComp between @NumeroComprobanteDesde and @NumeroComprobanteHasta
				and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
				and Comprobantes.FecExpo between @FechaExportacionDesde and @FechaExportacionHasta
				and Comprobantes.Anulado = 0
				--and DetalleValores.JJTOTFAC <>(case when @ExportarValoresEnCero = 0 then 0 else 9999999 end  ) -- or ( (select count(*) from ZooLogic.val where jjnum = Comprobantes.CODIGO) = 1 ) )
			) as DatosExpoBasicos
		) as DatosExpoIntermedios
)