IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_EFlexware_MediosDePagoVentas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_EFlexware_MediosDePagoVentas];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_EFlexware_MediosDePagoVentas]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@TipoCambio varchar(3),
	@BlanquearClienteB as bit,
	@BaseDeDatos as varchar(8),
	@CodigoClienteCompEnCero varchar(6),
	@cIncluirCajaySucursal char(1)
	
)
RETURNS TABLE
AS
RETURN
(
	select cast(DatosExpo.TipoComprobante as char(3)) as TipoComp,									-- Campo: 1,  Longitud: 3,  Posiciones: 1-3
		cast(DatosExpo.LetraComprobante as char(1)) as LetraComp,									-- Campo: 2,  Longitud: 1,  Posiciones: 4
		cast(Funciones.padl(DatosExpo.PuntoVenta, 4, '0') as char(4)) as PtoVenta,					-- Campo: 3,  Longitud: 4,  Posiciones: 5-8
		cast(Funciones.padl(DatosExpo.NumeroComprobanteDesde, 8, '0') as char(8)) as NroCompD,		-- Campo: 4,  Longitud: 8,  Posiciones: 9-16
		cast(DatosExpo.NumeroComprobanteHasta as char(8)) as NroCompH,								-- Campo: 5,  Longitud: 8,  Posiciones: 17-24
		cast(DatosExpo.FechaComprobante as char(8)) as FechaComp,									-- Campo: 6,  Longitud: 8,  Posiciones: 25-32
		cast(DatosExpo.CodigoCliente as char(6)) as CodCliente,										-- Campo: 7,  Longitud: 6,  Posiciones: 33-38
		cast(DatosExpo.MedioPago as char(1)) as MedioPago,											-- Campo: 8,  Longitud: 1,  Posiciones: 39
		cast(Funciones.padl(DatosExpo.MonedaComprobante, 3, ' ') as char(3)) as MoneComp,			-- Campo: 9,  Longitud: 3,  Posiciones: 40-42
		cast(DatosExpo.TipoCambio as char(3)) as TipoCamb,											-- Campo: 10, Longitud: 3,  Posiciones: 43-45
		cast(DatosExpo.CajaAplicacionOrigen as char(15)) as CajAplOrig,								-- Campo: 11, Longitud: 15, Posiciones: 46-60
		cast(DatosExpo.TipoChequeValorDocumento as char(3)) as TipoCheq,							-- Campo: 12, Longitud: 3,  Posiciones: 61-63
		cast(DatosExpo.FechaVencimiento as char(8)) as FechaVenc,									-- Campo: 13, Longitud: 8,  Posiciones: 64-71
		cast(DatosExpo.Importe as char(16)) as Importe,												-- Campo: 14, Longitud: 16, Posiciones: 72-87
		cast(DatosExpo.NumeroCheque as char(8)) as NroCheque,										-- Campo: 15, Longitud: 8,  Posiciones: 88-95
		cast(DatosExpo.CodigoBancoTarjeta as char(3)) as CodBanco,									-- Campo: 16, Longitud: 3,  Posiciones: 96-98
		cast(DatosExpo.SucursalBanco as char(4)) as SucBanco,										-- Campo: 17, Longitud: 4,  Posiciones: 99-102
		cast(Funciones.padl(DatosExpo.Clearing, 3, ' ') as char(3)) as Clearing,					-- Campo: 18, Longitud: 3,  Posiciones: 103-105
		cast(DatosExpo.Origen as char(1)) as Origen,												-- Campo: 19, Longitud: 1,  Posiciones: 106
		cast(DatosExpo.CodigoCuentaBancaria as char(15)) as CodCtaBanc,								-- Campo: 20, Longitud: 15, Posiciones: 107-121
		cast(DatosExpo.NumeroTarjeta as char(25)) as NroTarje,										-- Campo: 21, Longitud: 25, Posiciones: 122-146
		cast(DatosExpo.NumeroAutorizacion as char(25)) as NroAutoriz,								-- Campo: 22, Longitud: 25, Posiciones: 147-171
		cast(DatosExpo.NombreLibrador as char(30)) as NomLibr,										-- Campo: 23, Longitud: 30, Posiciones: 172-201
		cast(DatosExpo.DireccionLibrador as char(30)) as DirLibr,									-- Campo: 24, Longitud: 30, Posiciones: 202-231
		cast(DatosExpo.CodigoPostalLibrador as char(8)) as CodPosLibr,								-- Campo: 25, Longitud: 8,  Posiciones: 232-239
		cast(Funciones.padl(DatosExpo.ProvinciaLibrador, 3, ' ') as char(3)) as ProvLibr,			-- Campo: 26, Longitud: 3,  Posiciones: 240-242
		cast(DatosExpo.LocalidadLibrador as char(25)) as LocLibr,									-- Campo: 27, Longitud: 25, Posiciones: 243-267
		cast(DatosExpo.TelefonoLibrador as char(30)) as TelLibr,									-- Campo: 28, Longitud: 30, Posiciones: 268-297
		cast(DatosExpo.PesosAlCambio as char(16)) as ImpPesif										-- Campo: 29, Longitud: 16, Posiciones: 298-313
	from(
		select Valores.TipoComprobante,
			Valores.LetraComprobante,
			cast(Valores.PuntoVenta as varchar(4)) as PuntoVenta,
			cast(Valores.NumeroComprobanteDesde as varchar(8)) as NumeroComprobanteDesde,
			Valores.NumeroComprobanteHasta,
			Valores.FechaComprobante,
			Valores.CodigoCliente,
			Valores.MedioPago,
			Valores.MonedaComprobante,
			Valores.TipoCambio,
			Valores.CajaAplicacionOrigen,
			Valores.TipoChequeValorDocumento,
			Valores.FechaVencimiento,
			Funciones.ObtenerMontoConDecimales(Valores.Importe, 2, 16) as Importe,
			Valores.NumeroCheque,
			Valores.CodigoBancoTarjeta,
			Valores.SucursalBanco,
			Valores.Clearing,
			Valores.Origen,
			Valores.CodigoCuentaBancaria,
			Valores.NumeroTarjeta,
			Valores.NumeroAutorizacion,
			Valores.NombreLibrador,
			Valores.DireccionLibrador,
			Valores.CodigoPostalLibrador,
			Valores.ProvinciaLibrador,
			Valores.LocalidadLibrador,
			Valores.TelefonoLibrador,
			Funciones.ObtenerMontoConDecimales(Valores.PesosAlCambio, 2, 16) as PesosAlCambio
		from [Interfaces].[Datos_EFlexware_MediosDePagoVentas_Valores] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @TipoCambio,
			@BlanquearClienteB, @BaseDeDatos, @CodigoClienteCompEnCero, @cIncluirCajaySucursal ) as Valores
		) as DatosExpo
)