IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_InterfazNK_Stock]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_InterfazNK_Stock];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_InterfazNK_Stock]
( 
	@CodigoProveedor char(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Combinaciones
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[Comb] as Combinaciones
		join [ZooLogic].[Art] as Articulos on Combinaciones.CoArt = Articulos.ArtCod and Articulos.ArtFab = @CodigoProveedor
	where Combinaciones.CoCant <> 0
END