IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_EFlexware_DetalleItems_AjustesPorRecargos]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_EFlexware_DetalleItems_AjustesPorRecargos];
GO;

CREATE FUNCTION [Interfaces].[Datos_EFlexware_DetalleItems_AjustesPorRecargos]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@BlanquearClienteB bit,
	@EsPedidoDeVentas bit,
	@TipoDeItem int,
	@UnidadDeMedida2 bit,
	@EsRemitoDeVentas bit,
	@UnidadDeMedida1 bit,
	@CodigoClienteCompEnCero varchar(6)
	
)
RETURNS TABLE
AS
RETURN
(
	select DatosExpoIntermedios.TipoComprobante,
		DatosExpoIntermedios.Letra as LetraComprobante,
		DatosExpoIntermedios.PuntoVenta,
		DatosExpoIntermedios.NumeroComprobante as NumeroComprobanteDesde,
		'' as NumeroComprobanteHasta,
		DatosExpoIntermedios.Fecha as FechaComprobante,
		DatosExpoIntermedios.CodigoCliente, 
		'C' as TipoItem,
		'AJU X RECARGO' as CodigoConceptoArticulo,
		case @UnidadDeMedida1 when 0 then 0.00 else DatosExpoIntermedios.Cantidad end as CantidadUnidadDeMedida1,
		case @UnidadDeMedida2 when 0 then 0.00 else DatosExpoIntermedios.Cantidad end as CantidadUnidadDeMedida2,
		'AJU X RECARGO' as DescripcionArticuloConceptoLeyenda,
		DatosExpoIntermedios.PrecioUnitario,
		0.00 as PorcentajeIVAInscripto,
		0.00 as PorcentajeIVANoInscripto,
		DatosExpoIntermedios.TotalIVA as ImporteIVAInscripto,
		0.00 as ImporteIVANoInscripto,
		DatosExpoIntermedios.TotalNeto as ImporteTotal,
		0.00 as ImporteDescuentoComercial,
		0.00 as ImporteDescuentoFinanciero,
		0.00 as ImporteDescuentoAlPie,
		case when DatosExpoIntermedios.TotalImpuestosInternos = 0 then '' else 'II' end as CodigoConceptoNoGravado,
		DatosExpoIntermedios.TotalImpuestosInternos as ImporteIVANoGravado,
		'2' as TipoIVA,
		case when @EsPedidoDeVentas = 1 then '' else 'DL' end as CodigoDescuentoPorLinea,
		0.00 as ImporteDescuentoPorLinea,
		DatosExpoIntermedios.BDDeposito as Deposito,
		'LINCE' as Partida,
		0.00 as TasaDescuentoPorItem,
		DatosExpoIntermedios.TotalNeto as ImporteRenglon,
		'' as ClaseArticulo,
		'' as DefinibleArticulos1,
		'' as DescripcionDefinibleArticulos1,
		'' as DefinibleArticulos2,
		'' as DescripcionDefinibleArticulos2,
		'' as CodigoProveedor,
		'' as RazonSocialProveedor,
		'' as DescripcionElementoNivel1,
		'' as DescripcionElementoNivel2,
		'' as DescripcionElementoNivel3,
		'' as CodigoBarras,
		DatosExpoIntermedios.FechaEntrega,
		'' as NumeroRenglon,
		'' as EsKit,
		'' as CodigoKit,
		'' as EsPromocion
	from (
		select case @EsRemitoDeVentas when 1 then 'RT' else DatosExpoBasicos.TipoComprobante end as TipoComprobante,
			DatosExpoBasicos.Letra,
			DatosExpoBasicos.PuntoVenta,
			DatosExpoBasicos.NumeroComprobante,
			Funciones.dtos(DatosExpoBasicos.Fecha) as Fecha,
			DatosExpoBasicos.CodigoCliente,
			1 * DatosExpoBasicos.Signo as Cantidad,
			abs(DatosExpoBasicos.TotalNeto) as PrecioUnitario,
			DatosExpoBasicos.TotalNeto * DatosExpoBasicos.Signo as TotalNeto,
			DatosExpoBasicos.TotalImpuestosInternos * DatosExpoBasicos.Signo as TotalImpuestosInternos,
			DatosExpoBasicos.TotalIVA * DatosExpoBasicos.Signo as TotalIVA,
			DatosExpoBasicos.BDDeposito, 
			DatosExpoBasicos.FechaEntrega
		from (
			select Comprobantes.FLetra as Letra,
				Comprobantes.FPtoVen as PuntoVenta,
				Comprobantes.FNumComp as NumeroComprobante,
				Comprobantes.FFch as Fecha,
				[Interfaces].[Auxiliar_EFlexware_CodigoCliente] (EFLEXCODIGOCLIENTE_valconv_bd.ValDest, EFLEXCODIGOCLIENTE_valconv_cl.ValDest, EFLEXCODIGOCLIENTE_cabconv.Accion,
					EFLEXCODIGOCLIENTE_cabconv.ValorDef, Comprobantes.FPerson, Comprobantes.FLetra, Comprobantes.FTotal, DetalleValores.Vuelto, DetalleValores.CantidadCC,
					@BlanquearClienteB, @CodigoClienteCompEnCero) as CodigoCliente,
				Comprobantes.FTotal as TotalComprobante,
				Comprobantes.FImpuesto as TotalIVA,
				Comprobantes.FTotal - Comprobantes.FImpuesto as TotalNeto,
				Comprobantes.Gravamen as TotalImpuestosInternos,
				case when Funciones.EsComprobanteNotaDeCredito(Comprobantes.FactTipo) = 1 then -1 else 1 end as Signo,
				case when EFLEXCOMPROBANTES_valconv.ValDest is null then cast(Comprobantes.FactTipo as varchar(2)) else EFLEXCOMPROBANTES_valconv.ValDest end as TipoComprobante,
				case when DEPOSITO_valconv.ValDest is null then DEPOSITO_cabconv.ValorDef else DEPOSITO_valconv.ValDest end as BDDeposito, 
				case when @EsPedidoDeVentas = 1 then Funciones.dtos(Comprobantes.Ffchent) else '' end as FechaEntrega
			from [ZooLogic].[ComprobanteV] as Comprobantes
				left join (
					select sum(case when Valores.JjT = 6 then 1 else 0 end) as CantidadCC,
						sum(case when Valores.EsVuelto = 1 then round(abs(Valores.RecPesos), 2) else 0 end) as Vuelto,
						Valores.JjNum as CodigoComprobante
					from [ZooLogic].[Val] as Valores
					group by Valores.JjNum
					) as DetalleValores on Comprobantes.Codigo = DetalleValores.CodigoComprobante
				left join [Organizacion].[ConverVal] as EFLEXCOMPROBANTES_valconv on EFLEXCOMPROBANTES_valconv.Conversion = 'EFLEXCOMPROBANTES' and EFLEXCOMPROBANTES_valconv.ValOrig = cast(Comprobantes.FactTipo as varchar(2))
				left join [Organizacion].[Conver] as DEPOSITO_cabconv on DEPOSITO_cabconv.Codigo = 'DEPOSITO'
				left join [Organizacion].[ConverVal] as DEPOSITO_valconv on DEPOSITO_cabconv.Codigo = DEPOSITO_valconv.Conversion and DEPOSITO_valconv.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as EFLEXCODIGOCLIENTE_cabconv on EFLEXCODIGOCLIENTE_cabconv.Codigo = 'EFLEXCODIGOCLIENTE'
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_cl on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_cl.Conversion and EFLEXCODIGOCLIENTE_valconv_cl.ValOrig = Comprobantes.FPerson
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_bd on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_bd.Conversion and EFLEXCODIGOCLIENTE_valconv_bd.ValOrig = Comprobantes.BDAltaFW
			where (( @EsPedidoDeVentas = 0 and @EsRemitoDeVentas = 0 and Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49, 54, 55, 56) or (@EsPedidoDeVentas = 1 and Comprobantes.FactTipo = 23) or (@EsRemitoDeVentas = 1 and Comprobantes.FactTipo = 11))) 
				and Comprobantes.FLetra between @LetraDesde and @LetraHasta
				and Comprobantes.FPtoVen between @PuntoVentaDesde and @PuntoVentaHasta
				and Comprobantes.FNumComp between @NumeroComprobanteDesde and @NumeroComprobanteHasta
				and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
				and Comprobantes.FecExpo between @FechaExportacionDesde and @FechaExportacionHasta
				and Comprobantes.Anulado = 0
				and round(Comprobantes.FSubtot, 2) = 0 and Comprobantes.FTotal <> 0
			) as DatosExpoBasicos
		) as DatosExpoIntermedios
)