IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerGrupoDeUnValor]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerGrupoDeUnValor];
GO;

CREATE FUNCTION [Funciones].[ObtenerGrupoDeUnValor]
	(
	@Valor varchar(10)
	) 

RETURNS varchar(254)
AS 
BEGIN

	Declare @Retorno varchar(254)

	Set @Retorno = ( select m.CLGRUP from [ZooLogic].[XVAL] m where m.CLCOD = @Valor )

	return isnull( @Retorno, '' )

End
 

 
