IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_Cordoba_IIBB_SIRCAR_Percepciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_Cordoba_IIBB_SIRCAR_Percepciones];
GO;

Create function [Interfaces].[Interfaz_Cordoba_IIBB_SIRCAR_Percepciones]
(
	@FechaDesde varchar(10),
	@FechaHasta varchar(10)	
)

RETURNS TABLE
AS
RETURN
(
	Select	
	cast(Funciones.padl(funciones.alltrim(Datosexpo.CantLineas),5,'0') as char(5)) as Renglon,	
	cast(Funciones.padl(funciones.alltrim(case when DatosExpo.Facttipo in (1,2,27) then 1 else (case when DatosExpo.Facttipo = 13 then 3 else( case when DatosExpo.Facttipo in (3,5,28) then 102 else 2 end ) end ) end),3,'0') as char(3)) as TipoComprobante,
	cast( case when DatosExpo.FLetra in ('A','B','C','M') then DatosExpo.FLetra else 'Z' end as char(1)) as LetraComprobante,
	cast( Funciones.padl( funciones.alltrim(cast( DatosExpo.FptoVen as char(4) )), 4, '0' ) + Funciones.padl( funciones.alltrim(cast( DatosExpo.Fnumcomp as varchar(8) )), 8, '0' ) as char(12)) as NComprob,
	cast( DatosExpo.ClCuit as char(11)) as CUIT,
	cast( DatosExpo.Diafecha + '/' + DatosExpo.MesFecha + '/' + DatosExpo.AnioFecha as char(10) ) as FechaPercepcion,	
	funciones.alltrim(case when DatosExpo.Signomov > 0 then Funciones.ObtenerMontoConDecimales( DatosExpo.MontoBase, 2, 12 ) else '-' + funciones.alltrim(Funciones.ObtenerMontoConDecimales( DatosExpo.MontoBase, 2, 11 )) end)  as BaseImponible,
	funciones.alltrim(Funciones.ObtenerMontoConDecimales(DatosExpo.PORCEN ,2, 6)) as AliPor,
	funciones.alltrim(case when DatosExpo.Signomov > 0 then Funciones.ObtenerMontoConDecimales( DatosExpo.Monto, 2, 12 ) else '-' + funciones.alltrim(Funciones.ObtenerMontoConDecimales( DatosExpo.Monto, 2, 11 )) end)  as MontoPercepcion,
	case when funciones.Empty( DatosExpo.RegimenImp) = 1 then case when funciones.Empty( DatosExpo.ImpRegimen) = 1 then '' else Funciones.padl(funciones.alltrim(cast( DatosExpo.ImpRegimen as char(3))), 3, '0') end else Funciones.padl(funciones.alltrim(cast( DatosExpo.RegimenImp as char(3))), 3, '0') end as Regimen,
	'904' as JurisCod,
	case when DatosExpo.Facttipo in (3,5,28)  then '2' else '1' end as tipoOpe,
    case when DatosExpo.Facttipo in (3,5,28) then cast( DatosExpo.letrarela +funciones.padl(DatosExpo.puntorela,4,'0') + funciones.padl(DatosExpo.numerorela,8,'0') as varchar(20)) else '0' end  as constancia

	from (
			Select ROW_NUMBER() over( order by Comprobantes.Facttipo, Comprobantes.FLetra, Comprobantes.FnumComp) as CantLineas,	
				Clientes.ClCuit, 
				cast( Funciones.padl( cast( day( Comprobantes.FFch ) as varchar(2) ), 2, '0' ) as char(2) ) as DiaFecha, 
				cast( Funciones.padl( cast( month(Comprobantes.FFch ) as varchar(2) ), 2, '0' ) as char(2) ) as MesFecha, 
				cast( Funciones.padl( cast( year( Comprobantes.FFch ) as varchar(4) ), 4, '0' ) as char(4) ) as AnioFecha, 
				Comprobantes.Facttipo, Comprobantes.FLetra, Comprobantes.FptoVen, Comprobantes.FnumComp, ImpuestosVentas.MontoBase, 
				ImpuestosVentas.Monto, Comprobantes.Signomov, ImpuestosVentas.porcen, ImpuestosVentas.RegimenImp, ImpuestosVentas.ImpRegimen, Comprobantes.Codigo,Comprobantes.letrarela
				,Comprobantes.puntorela
				,Comprobantes.numerorela
				from ZooLogic.ComprobanteV as  Comprobantes
					join ( select Impventas.MontoBase, Impventas.Monto, Impventas.Ccod, Impventas.Tipoi, Impventas.Jurid, 
							Impventas.porcen, Impventas.RegimenImp, Impuesto.RegimenImp as ImpRegimen
							from ZooLogic.Impventas inner join ZooLogic.Impuesto on Impventas.Codimp = Impuesto.Codigo
							where Impuesto.Aplicacion = 'PRC' ) as ImpuestosVentas 
						on Comprobantes.Codigo = ImpuestosVentas.Ccod and ImpuestosVentas.Tipoi = 'IIBB' and ImpuestosVentas.Jurid = '904' 
					left join ZooLogic.Cli as Clientes on Comprobantes.FPerson = Clientes.ClCod					
				where Comprobantes.FactTipo in ( 1, 2, 3, 4, 5, 6, 13, 27, 28, 29 ) 
					and Comprobantes.Anulado = 0 
					and Comprobantes.FFch between @FechaDesde and @FechaHasta		
		) as DatosExpo	
 )