IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerPrimerOUltimoComprobanteDelPeriodo]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerPrimerOUltimoComprobanteDelPeriodo];
GO;

CREATE FUNCTION [Funciones].[ObtenerPrimerOUltimoComprobanteDelPeriodo]
	(
	@Direccion int,
	@Tipo int,
	@Letra char(1),
	@PtoVen int,
	@FechaDesde datetime,
	@FechaHasta datetime
	)
returns int
AS
begin
	declare @retorno varchar(50)

	if ( @Direccion = 1 )
		set @retorno = (select top 1 fnumcomp from ZooLogic.COMPROBANTEV 
							where anulado = 0 and fletra = @Letra and fptoven = @PtoVen and FACTTIPO = @Tipo and faltafw + convert(datetime, haltafw) between @FechaDesde and @FechaHasta
							order by fnumcomp ) 
	else
		set @retorno = (select top 1 fnumcomp from ZooLogic.COMPROBANTEV 
							where anulado = 0 and fletra = @Letra and fptoven = @PtoVen and FACTTIPO = @Tipo and faltafw + convert(datetime, haltafw) between @FechaDesde and @FechaHasta
							order by fnumcomp desc) 
		
	return @retorno
END
 
 