IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerCantidadDeMercaderiaPreparada]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerCantidadDeMercaderiaPreparada]
GO;

CREATE FUNCTION [Funciones].[ObtenerCantidadDeMercaderiaPreparada]
( @CodigoComprobanteAfectado varchar(38),
  @IdItem varchar(38),
  @Estado varchar(20) )
  
RETURNS numeric(16,3)
AS
BEGIN
declare @retorno numeric(16,3)
set @retorno = ( select (case @Estado 
							when 'Preparado' then sum( DetalleMercPreparada.Cantafe ) 
							when 'Pendiente' then (max( DetalleMercPreparada.CANTORI ) - sum( DetalleMercPreparada.Cantafe ) )
						end) as Cantidad
				from ZooLogic.DetPrepMPicking as DetalleMercPreparada
				where DetalleMercPreparada.codigoori = @CodigoComprobanteAfectado and 
					  DetalleMercPreparada.idItem = @IdItem 
			   )
return isnull( @retorno, 0 )

END
