IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[ObtenerImputacionesContablesPorMotivo]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[ObtenerImputacionesContablesPorMotivo];
GO;
Create Function [Contabilidad].[ObtenerImputacionesContablesPorMotivo]
	(
		@tblAtipodet as Contabilidad.udt_TableType_Atipodet ReadOnly, 
		@tblImpdirMot as Contabilidad.udt_TableType_ImpDirMot ReadOnly,
		@tblBasesAgrup as Contabilidad.udt_TableType_BasesAgrup ReadOnly,
		@CodigoAsientoTipo char(10), 
		@CodigoConcepto char(15), 
		@BaseDeDatosActual char(8), 
		@SucursalActual char(10), 
		@TipoSucursalActual char(10)
	)
	returns @imputaciones table
	(	cod char(3),
		cuentaDebe varchar(30),
		cuentaHaber varchar(30)
	)
	as
	begin

		declare @CodAnterior char(15) = ''
		declare @Cod char(15) = ''
		Declare @CuentaDebe varchar( 30 )
		Declare @CuentaHaber varchar( 30 )
		Declare @Importancia varchar( 40 )


		Declare cImpDir Cursor for
			select  entidad.MOTCOD as cod, 
					
					case when asietipo.cuentade = '' then '' 
					else isnull( i.pcuenta, asietipo.CUENTADE ) 
					end CuentaDebe,
					case when asietipo.cuentaha = '' then ''
					else isnull( i.pcuenta, asietipo.CUENTAHA ) 
					end CuentaHaber,
					isnull( replicate ('0',(10 - len(i.importanci))) + convert(varchar, i.importanci) + convert(char(8),i.FMODIFW,112) + i.HMODIFW, '' ) as Importancia
				from zoologic.motivo as entidad
					cross join ( select * from @tblAtipodet where codigo = @CodigoAsientoTipo and codconc = @CodigoConcepto ) asietipo
					left join @tblImpdirMot i on 	( entidad.MOTCOD between i.motdesde and i.mothasta )
												and ( @SucursalActual is null or @SucursalActual between i.sucdesde and i.suchasta )
												and ( @TipoSucursalActual is null or @TipoSucursalActual between i.tsucdesde and i.tsuchasta )
												and ( i.base = ''
													or ( substring( i.base, 1, 1 ) <> '[' and i.base = @BaseDeDatosActual )
													or ( substring( i.base, 1, 1 ) = '['
														and replace(replace(i.base,'[',''),']','') in ( Select agrupamiento from @tblBasesAgrup where basededatos = @BaseDeDatosActual ) )
													)
				order by entidad.motcod, Importancia desc


		Open cImpDir
		Fetch Next From cImpDir Into @Cod, @CuentaDebe, @CuentaHaber, @Importancia
		while @@FETCH_STATUS = 0
		begin
			if @Cod <> @CodAnterior
			begin
				Insert into @imputaciones ( Cod, cuentaDebe, cuentaHaber )
				Select @Cod, @CuentaDebe, @CuentaHaber
			end
			set @CodAnterior = @Cod
			Fetch Next From cImpDir Into @Cod, @CuentaDebe, @CuentaHaber, @Importancia
		end

		close cImpDir
		Deallocate cImpDir

		
		return
	end

