IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[ObtenerImputacionesContablesPorValorPorConceptoCaja]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[ObtenerImputacionesContablesPorValorPorConceptoCaja];
GO;
Create Function [Contabilidad].[ObtenerImputacionesContablesPorValorPorConceptoCaja]
	(
		@tblImpdircaj as Contabilidad.udt_TableType_Impdircaj ReadOnly,
		@tblBasesAgrup as Contabilidad.udt_TableType_BasesAgrup ReadOnly,
		@BaseDeDatosActual char(8), 
		@SucursalActual char(10), 
		@TipoSucursalActual char(10)
	)
	returns @imputaciones table
	(	Cod char(10),
		NumeroImpValor numeric(8),
		PCuenta varchar(30)
	)
	as
	begin

		declare @CodAnterior char(10) = ''
		declare @NumeroImpValorAnterior numeric(8)
		declare @Cod char(10)
		declare @NumeroImpValor numeric(8)
		Declare @PCuenta varchar( 30 )
		Declare @Importancia varchar( 40 )

		Declare cImpDir Cursor for
			select  entidad.codigo, 
					i.impval NumeroImpValor, 
					i.pcuenta,
					isnull( replicate ('0',(10 - len(i.importanci))) + convert(varchar, i.importanci) + convert(char(8),i.FMODIFW,112) + i.HMODIFW, '' ) as Importancia
				from zoologic.concecaja as entidad
					left join @tblImpdircaj i on    ( entidad.codigo between i.condesde and i.conhasta )
												and ( entidad.clasif between i.cladesde and i.clahasta )
												and ( entidad.ctabanc between i.cbancdesde and i.cbanchasta )
												and ( ( i.estadcarte = 0 or entidad.estcheque = 'CARTE' )
												   or ( i.estadentre = 0 or entidad.estcheque = 'ENTRE' )
												   or ( i.estadcobra = 0 or entidad.estcheque = 'COBRA' )
												   or ( i.estaddepos = 0 or entidad.estcheque = 'DEPOS' )
												   or ( i.estadrecha = 0 or entidad.estcheque = 'RECHA' )
												   or ( i.estadbaja  = 0 or entidad.estcheque = 'BAJA'  )
												   or ( i.estaddevol = 0 or entidad.estcheque = 'DEVOL' )
												   or ( i.estadprepa = 0 or entidad.estcheque = 'PREPA' )
												   or ( i.estadenvia = 0 or entidad.estcheque = 'ENVIA' )
												   or ( i.estadenvre = 0 or entidad.estcheque = 'ENVRE' )
												   or ( i.estadtrans = 0 or entidad.estcheque = 'TRANS' ) )
												and ( @SucursalActual between i.sucdesde and i.suchasta )
												and ( @TipoSucursalActual between i.tsucdesde and i.tsuchasta )
												and ( i.base = ''
													or ( substring( i.base, 1, 1 ) <> '[' and i.base = @BaseDeDatosActual )
													or ( substring( i.base, 1, 1 ) = '['
														and replace(replace(i.base,'[',''),']','') in ( Select agrupamiento from @tblBasesAgrup where basededatos = @BaseDeDatosActual ) )
													)
				where i.impval <> 0
				order by entidad.codigo, Importancia desc

		Open cImpDir

		Fetch Next From cImpDir Into @Cod, @NumeroImpValor, @PCuenta, @Importancia
		while @@FETCH_STATUS = 0
		begin
			if @Cod <> @CodAnterior or @NumeroImpValor <> @NumeroImpValorAnterior
			begin
				Insert into @imputaciones ( Cod, NumeroImpValor, pCuenta )
				Select @Cod, @NumeroImpValor, @pCuenta
			end
			set @CodAnterior = @Cod
			set @NumeroImpValorAnterior = @NumeroImpValor
			Fetch Next From cImpDir Into @Cod, @NumeroImpValor, @pCuenta, @Importancia
		end

		close cImpDir
		Deallocate cImpDir

		return
	end
