IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_EFlexware_RegimenesEspeciales]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_EFlexware_RegimenesEspeciales];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_EFlexware_RegimenesEspeciales]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@BlanquearClienteB bit, 
	@EsPedidoDeVentas bit,
	@EsRemitoDeVentas bit,
	@CodigoClienteCompEnCero varchar(6)

)
RETURNS TABLE
AS
RETURN
(
	select cast(DatosExpo.TipoComprobante as char(3)) as TipoComp,									-- Campo: 1,  Longitud: 3,  Posiciones: 1-3
		cast(DatosExpo.LetraComprobante as char(1)) as LetraComp,									-- Campo: 2,  Longitud: 1,  Posiciones: 4
		cast(Funciones.padl(DatosExpo.PuntoVenta, 4, '0') as char(4)) as PtoVenta,					-- Campo: 3,  Longitud: 4,  Posiciones: 5-8
		cast(Funciones.padl(DatosExpo.NumeroComprobanteDesde, 8, '0') as char(8)) as NroCompD,		-- Campo: 4,  Longitud: 8,  Posiciones: 9-16
		cast(DatosExpo.NumeroComprobanteHasta as char(8)) as NroCompH,								-- Campo: 5,  Longitud: 8,  Posiciones: 17-24
		cast(DatosExpo.FechaComprobante as char(8)) as FechaComp,									-- Campo: 6,  Longitud: 8,  Posiciones: 25-32
		cast(DatosExpo.CodigoCliente as char(6)) as CodCliente,										-- Campo: 7,  Longitud: 6,  Posiciones: 33-38
		cast(DatosExpo.CodigoRegimenEspecial as char(4)) as CodRegEsp,								-- Campo: 8,  Longitud: 4,  Posiciones: 39-42
		cast(DatosExpo.CodigoArticulo as char(4)) as CodArti,										-- Campo: 9,  Longitud: 4,  Posiciones: 43-46
		cast(Funciones.padl(DatosExpo.Importe, 16, ' ') as char(16)) as Importe,					-- Campo: 10, Longitud: 16, Posiciones: 47-62
		cast(Funciones.padl(DatosExpo.BaseCalculo, 16, ' ') as char(16)) as BaseCalc				-- Campo: 11, Longitud: 16, Posiciones: 63-78
	from (
		select Percepciones.TipoComprobante,
			Percepciones.LetraComprobante,
			cast(Percepciones.PuntoVenta as varchar(4)) as PuntoVenta,
			cast(Percepciones.NumeroComprobanteDesde as varchar(8)) as NumeroComprobanteDesde,
			Percepciones.NumeroComprobanteHasta,
			Percepciones.FechaComprobante,
			Percepciones.CodigoCliente,
			Percepciones.CodigoRegimenEspecial,
			Percepciones.CodigoArticulo,
			Funciones.ObtenerMontoConDecimales(Percepciones.Importe, 2, 16) as Importe,
			Funciones.ObtenerMontoConDecimales(Percepciones.BaseCalculo, 2, 16) as BaseCalculo
		from [Interfaces].[Datos_EFlexware_RegimenesEspeciales_Percepciones] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @BlanquearClienteB, @EsPedidoDeVentas, @EsRemitoDeVentas,@CodigoClienteCompEnCero) as Percepciones
		) as DatosExpo
)