IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_AudiTar]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_AudiTar];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_AudiTar]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@ValorDesde char(5),
	@ValorHasta char(5),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Cupones
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[Cupones] as Cupones
		left join [ZooLogic].[CanjeCuponesEnt] as CuponesCanjeados on Cupones.Codigo = CuponesCanjeados.Cupon
	where Funciones.empty(Cupones.Codigo) = 0
		and Cupones.Fecha between @FechaDesde and @FechaHasta
		and Cupones.Valor between @ValorDesde and @ValorHasta
		and (Funciones.empty(Cupones.FBaja) = 1 or Cupones.FBaja >= @FechaHasta)
		and CuponesCanjeados.Cupon is null
END