IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_ARCARG5705_IVASimpleCreditoFiscal]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_ARCARG5705_IVASimpleCreditoFiscal];
GO;

CREATE FUNCTION [interfaces].[Interfaz_ARCARG5705_IVASimpleCreditoFiscal]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@FechaEmisionDesde varchar(10),
	@FechaEmisionHasta varchar(10),
	@CompFiscal bit,
	@CompManual bit,
	@CompElectr bit,
	@CompDespacho bit,
	@CompLiqA bit,
	@CompLiqB bit,
	@CompServPubA bit,
	@CompServPubB bit,
	@CompReciboA bit,
	@CompReciboC bit
)
RETURNS TABLE
AS
RETURN
(
	select 
		cast( ''  as char(6) ) as Actividad,
		'' as TipoOper,	
		cast( DatosExpo.CodigoAlicuota as char(1) ) as Alicuota,
		cast( DatosExpo.MontoNetoGravado as varchar(15) ) as NetoGrav, 
		cast( DatosExpo.CreditoFiscalFacturado as varchar(15) ) as CFFac,
		cast( DatosExpo.CreditoFiscalComputable as varchar(15) ) as CFComp,
		DatosExpo.fart as Articulo -- para poder indicar en el mensaje de error, al validar la exportación si faltara alguna clasificación
	from ( 
	

		select 
			Compras.ClCod, Compras.CLNOM, Compras.CLIVA, Compras.descfw,
			Compras.fart,
			--Funciones.ObtenerDatosIvaSimple( 4, Compras.fart, @CodActividad ) as TipoOper, -- 4: tipo oper crédito fiscal
			case 
				when Compras.ANX2 = 2.5 then 9	-- VER CONVERSIONVALORES SI CONVIENE
				when Compras.ANX2 = 5.0 then 8
				when Compras.ANX2 = 10.5 then 4
				when Compras.ANX2 = 21.0 OR (Compras.ANX2 = 0.00 and Compras.ARTIVA in (0, 1)) then 5 -- 21%   
				when Compras.ANX2 = 27.0 then 6								
				when Compras.ANX2 = 0.00 and ( Compras.ARTIVA IN (2,5,4 ) ) then 3 -- NO GRAVADO
			END as CodigoAlicuota,					
			cast( (Compras.Fneto - Compras.mntpdessi ) as numeric( 15, 2 ) )  as MontoNetoGravado, -- considerando dto gral
			cast( (Compras.mntpiva ) as numeric( 15, 2 ) ) as CreditoFiscalFacturado, --  considerando dto gral
			cast( (Compras.Fneto - Compras.mntpdessi) as numeric(15,2 ) ) as CreditoFiscalComputable

-- COMPRAS: ANX2	VENTAS: ARTPORIVA
-- COMPRAS: ARTIVA  VENTAS: ARTCONIVA

		from
			(
				select Proveedor.ClCod, Proveedor.CLNOM, Proveedor.CLIVA, comprob.descfw, comprob.facttipo, comprob.anulado, comprob.ffch, comprob.fptoven, comprob.ffchfac,
					comprob.TCRG1361, det.FART, Art.ANX2, Art.ARTIVA, Det.Fneto, Det.FMTOIVA, Det.mntpdessi, Det.mntpiva
				from ZooLogic.FacCompraDet det  
				INNER join [ZooLogic].[FacCompra] comprob on det.codigo = comprob.codigo -- and det.fneto >= 0
				left join [ZooLogic].[Prov] as Proveedor on Comprob.FPerson = Proveedor.ClCod
				left join Zoologic.Art as Art on Det.FART = art.ARTCOD
				where not (ANX2 = 0.00 and ( ARTIVA IN (2,5,4 ) ) )-- NO GRAVADO no se informa

				union all

				select Proveedor.ClCod, Proveedor.CLNOM, Proveedor.CLIVA, comprob.descfw, comprob.facttipo, comprob.anulado, comprob.ffch, comprob.fptoven, comprob.ffchfac,
					comprob.TCRG1361, det.FART, Art.ANX2, Art.ARTIVA, Det.Fneto, Det.FMTOIVA, Det.mntpdessi, Det.MNTPIVA
				from ZooLogic.NdCompraDet det   
				INNER join [ZooLogic].[NdCompra] comprob on det.codigo = comprob.codigo -- and det.fneto >= 0
				left join [ZooLogic].[Prov] as Proveedor on Comprob.FPerson = Proveedor.ClCod
				left join Zoologic.Art as Art on Det.FART = art.ARTCOD
				where not (ANX2 = 0.00 and ( ARTIVA IN (2,5,4 ) ) )-- NO GRAVADO no se informa

			 ) Compras

		where 
			case 
				when @CompFiscal = 1 and Compras.TCRG1361 = 3 then 1 
				when @CompManual = 1 and Compras.TCRG1361 = 1 then 1
				when @CompElectr = 1 and Compras.TCRG1361 = 2 then 1
				when @CompDespacho = 1 and Compras.TCRG1361 = 4 then 1
				when @CompLiqA = 1 and Compras.TCRG1361 = 5 then 1
				when @CompLiqB = 1 and Compras.TCRG1361 = 6 then 1
				when @CompServPubA = 1 and Compras.TCRG1361 = 7 then 1
				when @CompServPubB = 1 and Compras.TCRG1361 = 8 then 1
				when @CompReciboA = 1 and Compras.TCRG1361 = 9 then 1
				when @CompReciboC = 1 and Compras.TCRG1361 = 10 then 1
				else 0
			  end = 1
			  and Compras.Anulado = 0
			  and ( ( @FechaDesde is null ) or ( Compras.FFch >= @FechaDesde ) ) 
			  and ( ( @FechaHasta is null ) or ( Compras.FFch <= @FechaHasta ) )
			  and ( ( @FechaEmisionDesde is null ) or ( Compras.FFCHFAC >= @FechaEmisionDesde ) ) 
              and ( ( @FechaEmisionHasta is null ) or ( Compras.FFCHFAC <= @FechaEmisionHasta ) )

		) as DatosExpo

)