IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[HER_GENERICO_ASIENTO_ITEMASIENTO_AJUSTEPORINFLACION_ITEMASIENTO]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Listados].[HER_GENERICO_ASIENTO_ITEMASIENTO_AJUSTEPORINFLACION_ITEMASIENTO];
GO;

CREATE FUNCTION [Listados].[HER_GENERICO_ASIENTO_ITEMASIENTO_AJUSTEPORINFLACION_ITEMASIENTO]
( @BaseDeDatos varchar(8),
	@ITEMASIENTO_PLANDECUENTAS_DESDE varchar(30),
	@ITEMASIENTO_PLANDECUENTAS_HASTA varchar(30),
	@ITEMASIENTO_CENTRODECOSTO_DESDE varchar(20),
	@ITEMASIENTO_CENTRODECOSTO_HASTA varchar(20),
	@ASIENTO_1_CODIGO_DESDE varchar(20),
	@ASIENTO_1_CODIGO_HASTA varchar(20),
	@ASIENTO_1_FUENTE_DESDE varchar(10),
	@ASIENTO_1_FUENTE_HASTA varchar(10),
	@ASIENTO_1_EJERCICIO_DESDE numeric(8, 0),
	@ASIENTO_1_EJERCICIO_HASTA numeric(8, 0),
	@ASIENTO_1_RAZONSOCIAL_DESDE varchar(10),
	@ASIENTO_1_RAZONSOCIAL_HASTA varchar(10),
	@ASIENTO_1_TIPO numeric(1, 0),
	@ASIENTO_1_CLASE numeric(1, 0),
	@ASIENTO_1_REFERENCIA_DESDE varchar(150),
	@ASIENTO_1_REFERENCIA_HASTA varchar(150),
	@ASIENTO_1_NUMERO_DESDE numeric(8, 0),
	@ASIENTO_1_NUMERO_HASTA numeric(8, 0),
	@ASIENTO_1_FECHA_DESDE datetime,
	@ASIENTO_1_FECHA_HASTA datetime,
	@EJERCICIO_24_EJERCICIO_DESCRIPCION_DESDE varchar(50),
	@EJERCICIO_24_EJERCICIO_DESCRIPCION_HASTA varchar(50),
	@RAZONSOCIAL_25_RAZONSOCIAL_DESCRIPCION_DESDE varchar(50),
	@RAZONSOCIAL_25_RAZONSOCIAL_DESCRIPCION_HASTA varchar(50),
	@SEGMENTACION_9329_SEGMENTACION_DESCRIPCION_DESDE varchar(50),
	@SEGMENTACION_9329_SEGMENTACION_DESCRIPCION_HASTA varchar(50),
	@LINEASUCURSAL_9328_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEASUCURSAL_9328_LINEA_DESCRIPCION_HASTA varchar(50),
	@TIPOSUCURSAL_9327_TIPO_DESCRIPCION_DESDE varchar(50),
	@TIPOSUCURSAL_9327_TIPO_DESCRIPCION_HASTA varchar(50),
	@SUCURSAL_9324_SEGMENTACION_DESDE varchar(10),
	@SUCURSAL_9324_SEGMENTACION_HASTA varchar(10),
	@SUCURSAL_9324_LINEA_DESDE varchar(10),
	@SUCURSAL_9324_LINEA_HASTA varchar(10),
	@SUCURSAL_9324_TIPO_DESDE varchar(10),
	@SUCURSAL_9324_TIPO_HASTA varchar(10),
	@SUCURSAL_9324_DESCRIPCION_DESDE varchar(50),
	@SUCURSAL_9324_DESCRIPCION_HASTA varchar(50),
	@SUCURSAL_9324_CODIGO_DESDE varchar(10),
	@SUCURSAL_9324_CODIGO_HASTA varchar(10),
	@ASIENTO_1_BASEDEDATOSALTAFW_DESDE varchar(8),
	@ASIENTO_1_BASEDEDATOSALTAFW_HASTA varchar(8),
	@ASIENTO_1_BASEDEDATOSMODIFICACIONFW_DESDE varchar(8),
	@ASIENTO_1_BASEDEDATOSMODIFICACIONFW_HASTA varchar(8),
	@ASIENTO_1_ESTADOTRANSFERENCIA_DESDE varchar(20),
	@ASIENTO_1_ESTADOTRANSFERENCIA_HASTA varchar(20),
	@ASIENTO_1_FECHAALTAFW_DESDE datetime,
	@ASIENTO_1_FECHAALTAFW_HASTA datetime,
	@ASIENTO_1_FECHAEXPO_DESDE datetime,
	@ASIENTO_1_FECHAEXPO_HASTA datetime,
	@ASIENTO_1_FECHAIMPO_DESDE datetime,
	@ASIENTO_1_FECHAIMPO_HASTA datetime,
	@ASIENTO_1_FECHAMODIFICACIONFW_DESDE datetime,
	@ASIENTO_1_FECHAMODIFICACIONFW_HASTA datetime,
	@ASIENTO_1_FECHATRANSFERENCIA_DESDE datetime,
	@ASIENTO_1_FECHATRANSFERENCIA_HASTA datetime,
	@ASIENTO_1_HORAALTAFW_DESDE varchar(8),
	@ASIENTO_1_HORAALTAFW_HASTA varchar(8),
	@ASIENTO_1_HORAEXPO_DESDE varchar(8),
	@ASIENTO_1_HORAEXPO_HASTA varchar(8),
	@ASIENTO_1_HORAIMPO_DESDE varchar(8),
	@ASIENTO_1_HORAIMPO_HASTA varchar(8),
	@ASIENTO_1_HORAMODIFICACIONFW_DESDE varchar(8),
	@ASIENTO_1_HORAMODIFICACIONFW_HASTA varchar(8),
	@ASIENTO_1_SERIEALTAFW_DESDE varchar(7),
	@ASIENTO_1_SERIEALTAFW_HASTA varchar(7),
	@ASIENTO_1_SERIEMODIFICACIONFW_DESDE varchar(7),
	@ASIENTO_1_SERIEMODIFICACIONFW_HASTA varchar(7),
	@ASIENTO_1_USUARIOALTAFW_DESDE varchar(100),
	@ASIENTO_1_USUARIOALTAFW_HASTA varchar(100),
	@ASIENTO_1_USUARIOMODIFICACIONFW_DESDE varchar(100),
	@ASIENTO_1_USUARIOMODIFICACIONFW_HASTA varchar(100),
	@ASIENTO_1_VERSIONALTAFW_DESDE varchar(13),
	@ASIENTO_1_VERSIONALTAFW_HASTA varchar(13),
	@ASIENTO_1_VERSIONMODIFICACIONFW_DESDE varchar(13),
	@ASIENTO_1_VERSIONMODIFICACIONFW_HASTA varchar(13) )
RETURNS TABLE
AS
RETURN
(
select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_itemasiento.codigo, 38, ' ' ) as varchar( 46 ) ) as ITEMASIENTO__Grupo,
	@basededatos as ITEMASIENTO__BD,
	c_ITEMASIENTO.CODIGO as ITEMASIENTO_CODIGO,
	c_ITEMASIENTO.CODCCOS as ITEMASIENTO_CODCCOS,
	C_ASIENTO.ACOD as ASIENTO_ACOD,
	C_ASIENTO.FUENTE as ASIENTO_Fuente,
	C_ASIENTO.EJERCICIO as ASIENTO_Ejercicio,
	C_ASIENTO.RSOCIAL as ASIENTO_RSOCIAL,
	C_ASIENTO.TIPOASIENT as ASIENTO_TipoAsient,
	C_ASIENTO.CLASE as ASIENTO_Clase,
	C_ASIENTO.REFEREN as ASIENTO_REFEREN,
	C_ASIENTO.NUMERO as ASIENTO_NUMERO,
	case when c_asiento.fecha = '01/01/1900 00:00:00' then null else c_asiento.fecha end as ASIENTO_Fecha,
	C_ASIENTO.OBS as ASIENTO_Obs,
	C_SUCURSAL.SEG as SUCURSAL_seg,
	C_SUCURSAL.LINEA as SUCURSAL_Linea,
	C_SUCURSAL.TIPO as SUCURSAL_Tipo,
	C_SUCURSAL.DESCRIP as SUCURSAL_descrip,
	C_SUCURSAL.CODIGO as SUCURSAL_codigo,
	C_ASIENTO.BDALTAFW as ASIENTO_BDALTAFW,
	C_ASIENTO.BDMODIFW as ASIENTO_BDMODIFW,
	C_ASIENTO.ESTTRANS as ASIENTO_ESTTRANS,
	case when c_asiento.faltafw = '01/01/1900 00:00:00' then null else c_asiento.faltafw end as ASIENTO_FALTAFW,
	case when c_asiento.fecexpo = '01/01/1900 00:00:00' then null else c_asiento.fecexpo end as ASIENTO_FECEXPO,
	case when c_asiento.fecimpo = '01/01/1900 00:00:00' then null else c_asiento.fecimpo end as ASIENTO_FECIMPO,
	case when c_asiento.fmodifw = '01/01/1900 00:00:00' then null else c_asiento.fmodifw end as ASIENTO_FMODIFW,
	case when c_asiento.fectrans = '01/01/1900 00:00:00' then null else c_asiento.fectrans end as ASIENTO_FECTRANS,
	C_ASIENTO.HALTAFW as ASIENTO_HALTAFW,
	C_ASIENTO.HORAEXPO as ASIENTO_HORAEXPO,
	C_ASIENTO.HORAIMPO as ASIENTO_HORAIMPO,
	C_ASIENTO.HMODIFW as ASIENTO_HMODIFW,
	C_ASIENTO.SALTAFW as ASIENTO_SALTAFW,
	C_ASIENTO.SMODIFW as ASIENTO_SMODIFW,
	C_ASIENTO.UALTAFW as ASIENTO_UALTAFW,
	C_ASIENTO.UMODIFW as ASIENTO_UMODIFW,
	C_ASIENTO.VALTAFW as ASIENTO_VALTAFW,
	C_ASIENTO.VMODIFW as ASIENTO_VMODIFW,
	C_ASIENTO.ZADSFW as ASIENTO_ZADSFW,
	cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) as ITEMASIENTO__SUCURSAL,
	Funciones.ObtenerIndiceInflacion( c_itemasiento.pcuenta, c_plandecuentas.indiceaju, c_cierreEj.indiceinf, month(c_itemasiento.fechaaju), year(c_itemasiento.fechaaju),  c_ejercicio.numero ) as ITEMASIENTO_INDICE,
	cast( 	
	Funciones.ObtenerIndiceInflacion( c_itemasiento.pcuenta, c_plandecuentas.indiceaju, c_cierreEj.indiceinf, month(C_EJERCICIO.fechahas), year(C_EJERCICIO.fechahas),  c_ejercicio.numero ) /
	Funciones.ObtenerIndiceInflacion( c_itemasiento.pcuenta, c_plandecuentas.indiceaju, c_cierreEj.indiceinf, month(c_itemasiento.fechaaju), year(c_itemasiento.fechaaju),  c_ejercicio.numero ) as numeric( 15, 4 ) ) as ITEMASIENTO_Coeficiente,
	cast(case when c_itemasiento.nroitem in (3 ,4) then left(c_itemasiento.fechaaju,3) + ' - ' + cast( year(c_itemasiento.fechaaju) as char(4)) else c_itemasiento.pcuentad end as varchar(100)) as ITEMASIENTO_NROCTAPERIODO,
	c_itemasiento.debe-c_itemasiento.haber as ITEMASIENTO_SALDOASIENTOAXI, 
	cast( c_itemasiento.saldo  as numeric( 17, 4 ) ) as ITEMASIENTO_MontoPeriodo,
	cast( c_itemasiento.cajustada as varchar( 30 ) ) as ITEMASIENTO_CAjustada,
	case when c_itemasiento.fechaaju = '01/01/1900 00:00:00' then null else c_itemasiento.fechaaju end as ITEMASIENTO_Fechaaju,
	funciones.alltrim(c_itemasiento.cuentareferencia)+'-'+c_plandecuentas.descrip as ITEMASIENTO_CUENTAREFERENCIA,
	cast( case when c_itemasiento.nroitem in (2,4) then (funciones.alltrim(c_itemasiento.pcuenta)+'-'+c_itemasiento.pcuentad)end  as varchar( 100 ) ) as ITEMASIENTO_CUENTAREFERENCIA3,
	cast( funciones.agregarauntextorepeticionesdeotrotexto(rtrim(c_itemasiento.pcuenta), space(4), abs(sign(c_itemasiento.haber)), 0) as varchar( 30 ) ) as ITEMASIENTO_CuentaIndentadaSegunAplicacionVirtual,
	cast( funciones.agregarauntextorepeticionesdeotrotexto(rtrim(c_itemasiento.pcuentad), space(20), abs(sign(c_itemasiento.haber)), 0) as varchar( 120 ) ) as ITEMASIENTO_DescripcionIndentadaSegunAplicacionVirtu,
	c_ITEMASIENTO.PCUENTA as ITEMASIENTO_PCUENTA,
	c_ITEMASIENTO.PCUENTAD as ITEMASIENTO_PCUENTAD,
	c_ITEMASIENTO.LEYENDA as ITEMASIENTO_Leyenda,
	(case when c_itemasiento.NROITEM in (2, 4) then 0 else c_ITEMASIENTO.DEBE end) as ITEMASIENTO_DEBE,
	(case when c_itemasiento.NROITEM in (2, 4) then 0 else c_ITEMASIENTO.HABER end) as ITEMASIENTO_HABER,
	c_ITEMASIENTO.NROITEM as ITEMASIENTO_NROITEM,
	cast( c_itemasiento.debe-c_itemasiento.haber as numeric( 17, 4 ) ) as ITEMASIENTO_SaldoVirtual, 
	cast( case when row_number() over(partition by c_itemasiento.pcuenta order by c_itemasiento.pcuenta, c_asiento.fecha, c_asiento.numero) = count(c_itemasiento.pcuenta) over(partition by c_itemasiento.pcuenta) then 1 else null end as numeric( 1, 0 ) ) as ITEMASIENTO_MostrarSaldosVirtual,
	cast( sum(c_itemasiento.debe) over(partition by c_itemasiento.pcuenta) as numeric( 17, 4 ) ) as ITEMASIENTO_SumaDelDebePorCuentaVirtual,
	cast( sum(c_itemasiento.haber) over(partition by c_itemasiento.pcuenta) as numeric( 17, 4 ) ) as ITEMASIENTO_SumaDelHaberPorCuentaVirtual,
	cast( funciones.obtenernodoraizdecuentacontable(c_itemasiento.pcuenta) as varchar( 30 ) ) as ITEMASIENTO_NodoRaizDeLaCuentaVirtual,
	C_CENTRODECOSTO.COSDES as CENTRODECOSTO_COSDES,
	C_EJERCICIO.DESCRIP as EJERCICIO_DESCRIP,
	C_RAZONSOCIAL.RZDES as RAZONSOCIAL_RZDES,
	C_SEGMENTACION.SDES as SEGMENTACION_SDES,
	C_LINEASUCURSAL.LSDES as LINEASUCURSAL_LSDES,
	C_TIPOSUCURSAL.TDES as TIPOSUCURSAL_TDES,
	C_PLANDECUENTAS.DESCRIP as PLANDECUENTAS_descrip,
	C_CENTRODECOSTO.COSCOD as CENTRODECOSTO_COSCOD,
	C_EJERCICIO.NUMERO as EJERCICIO_NUMERO,
	C_LINEASUCURSAL.LSCOD as LINEASUCURSAL_LSCOD,
	C_PLANDECUENTAS.CTACODIGO as PLANDECUENTAS_ctacodigo,
	C_RAZONSOCIAL.RZCOD as RAZONSOCIAL_RZCOD,
	C_SEGMENTACION.SCOD as SEGMENTACION_SCOD,
	C_TIPOSUCURSAL.TCOD as TIPOSUCURSAL_TCOD
	
from 

(select * from 

-- Asiento de ajuste por inflacion
	(
	select 
		'' as SALINI, 
		a.INDICE as CUENTAREFERENCIA, 
		a.CODIGO, 
		a.CODCCOS, 
		3 as NROITEM, 
		sum(a.DEBE) DEBE, 
		sum(a.HABER) HABER, 
		Funciones.ObtenerMontoPeriodoPapelTrabajoAxI( a.indice, @ITEMASIENTO_CENTRODECOSTO_DESDE, @ITEMASIENTO_CENTRODECOSTO_HASTA, @ASIENTO_1_EJERCICIO_DESDE, @ASIENTO_1_RAZONSOCIAL_DESDE, @ASIENTO_1_RAZONSOCIAL_HASTA, a.fechaaju )  as saldo,
		a.LEYENDA, 
		a.PCUENTA, 
		a.PCUENTAD, 
		a.CAJUSTADA, 
		a.FECHAAJU 
	 from (SELECT 
				CODIGO, 
				(case when CAJUSTADA = '' then PCUENTA else CAJUSTADA  end ) as INDICE, 
				CODCCOS,
				DEBE, 
				HABER, 
				SALDO, 
				case when leyenda = '' then 'Ajuste correspondiente al ' +  cast(month(FECHAaju) as varchar(2))+'/'+ cast(year(fechaaju) as varchar(4)) else leyenda end as LEYENDA, 
				PCUENTA, 
				PCUENTAD, 
				CAJUSTADA, 
				fechaaju
		   FROM ZooLogic.ASIENTODET) as a
				left join ZooLogic.ASIENTO as C_ASIENTO on C_ASIENTO.ACOD = a.CODIGO and 0 = Funciones.empty( a.CODIGO )
				left join Zoologic.Ejercicio as c_ejercicio on c_asiento.EJERCICIO = c_ejercicio.NUMERO
		   where ( c_asiento.CLASE = 6 and cajustada = ''  AND 
							( ( c_asiento.ejercicio = @ASIENTO_1_EJERCICIO_DESDE ) ) and
							( ( @ITEMASIENTO_PLANDECUENTAS_DESDE is null ) OR ( a.INDICE >= @ITEMASIENTO_PLANDECUENTAS_DESDE ) ) and
							( ( @ITEMASIENTO_PLANDECUENTAS_HASTA is null ) OR ( a.INDICE <= @ITEMASIENTO_PLANDECUENTAS_HASTA ) ) and
							( ( @ITEMASIENTO_CENTRODECOSTO_DESDE is null ) OR ( CODCCOS >= @ITEMASIENTO_CENTRODECOSTO_DESDE ) ) and 
							( ( @ITEMASIENTO_CENTRODECOSTO_HASTA is null ) OR ( CODCCOS <= @ITEMASIENTO_CENTRODECOSTO_HASTA ) ) and 
							( ( @ASIENTO_1_RAZONSOCIAL_DESDE is null ) OR ( C_ASIENTO.RSOCIAL >= @ASIENTO_1_RAZONSOCIAL_DESDE ) ) and 
							( ( @ASIENTO_1_RAZONSOCIAL_HASTA is null ) OR ( C_ASIENTO.RSOCIAL <= @ASIENTO_1_RAZONSOCIAL_HASTA ) ) and 
							( ( @ASIENTO_1_FECHA_DESDE is null ) OR ( C_ASIENTO.Fecha >= @ASIENTO_1_FECHA_DESDE ) ) and 
							( ( @ASIENTO_1_FECHA_HASTA is null ) OR ( C_ASIENTO.Fecha <= @ASIENTO_1_FECHA_HASTA ) ) )
		   group by a.INDICE, a.FECHAAJU, a.PCUENTA, a.PCUENTAD, a.CAJUSTADA, a.CODCCOS, a.LEYENDA, a.CODIGO

	union all

-- Asientos manuales ó tipo del mes del cierre de ejercicio que no calculan ajuste x inflación justamente por ser el último mes
		select 
		'' as SALINI, ad.INDICE as CUENTAREFERENCIA,  '' as CODIGO,  ad.CODCCOS,  4 as NROITEM,  0 as DEBE,  0 as HABER, 
		sum( debe - haber) as saldo,
		ad.LEYENDA, ad.PCUENTA,  ad.PCUENTAD,  ad.CAJUSTADA,  ad.FECHAAJU 
	 from (SELECT 
				CODIGO,  (case when CAJUSTADA = '' then PCUENTA else CAJUSTADA  end ) as INDICE, 
				CODCCOS, DEBE,  HABER,  SALDO, 
				case when leyenda = '' then 'Asiento correspondiente al ' +  cast(month(fecha) as varchar(2))+'/'+ cast(year(fecha) as varchar(4)) else leyenda end as LEYENDA, 
				PCUENTA,  PCUENTAD,  CAJUSTADA,  fecha as fechaaju
		   FROM ZooLogic.ASIENTODET c_asientodet
				left join ZooLogic.ASIENTO as C_ASIENTO on C_ASIENTO.ACOD = c_asientodet.CODIGO and 0 = Funciones.empty( c_asientodet.CODIGO ) /*) as ad*/
				left join ZooLogic.PLANCUENTA as C_PLANDECUENTAS on C_PLANDECUENTAS.CTACODIGO = c_asientodet.PCUENTA and 0 = Funciones.empty( c_asientodet.PCUENTA )
				left join Zoologic.Ejercicio as c_ejercicio on c_asiento.EJERCICIO = c_ejercicio.NUMERO
		   where (  c_asiento.clase in (1,2) and C_PLANDECUENTAS.AJUSTAINF = 1 and month(fecha) = month(C_EJERCICIO.fechahas)  and year(fecha) = year(C_EJERCICIO.fechahas)
		   and 
							( ( c_asiento.ejercicio = @ASIENTO_1_EJERCICIO_DESDE ) ) 
							and
							( ( @ITEMASIENTO_PLANDECUENTAS_DESDE is null ) OR ( case when CAJUSTADA = '' then PCUENTA else CAJUSTADA  end >= @ITEMASIENTO_PLANDECUENTAS_DESDE ) ) and
							( ( @ITEMASIENTO_PLANDECUENTAS_HASTA is null ) OR ( case when CAJUSTADA = '' then PCUENTA else CAJUSTADA  end <= @ITEMASIENTO_PLANDECUENTAS_HASTA ) ) and
							( ( @ITEMASIENTO_CENTRODECOSTO_DESDE is null ) OR ( CODCCOS >= @ITEMASIENTO_CENTRODECOSTO_DESDE ) ) and 
							( ( @ITEMASIENTO_CENTRODECOSTO_HASTA is null ) OR ( CODCCOS <= @ITEMASIENTO_CENTRODECOSTO_HASTA ) ) and 
							( ( @ASIENTO_1_RAZONSOCIAL_DESDE is null ) OR ( C_ASIENTO.RSOCIAL >= @ASIENTO_1_RAZONSOCIAL_DESDE ) ) and 
							( ( @ASIENTO_1_RAZONSOCIAL_HASTA is null ) OR ( C_ASIENTO.RSOCIAL <= @ASIENTO_1_RAZONSOCIAL_HASTA ) ) and 
							( ( @ASIENTO_1_FECHA_DESDE is null ) OR ( C_ASIENTO.Fecha >= @ASIENTO_1_FECHA_DESDE ) ) and 
							( ( @ASIENTO_1_FECHA_HASTA is null ) OR ( C_ASIENTO.Fecha <= @ASIENTO_1_FECHA_HASTA ) ) 
							) ) ad
		   group by ad.INDICE, ad.FECHAAJU, ad.PCUENTA, ad.PCUENTAD, ad.CAJUSTADA, ad.CODCCOS, ad.LEYENDA

	union all

-- Saldos iniciales de las cuentas con ajuste por inflacion
	select 
		(' Saldo inicial al ' + cast(month(b.FECHA) as varchar(2))+'/'+ cast(year(b.FECHA) as varchar(4))) as SALINI, 
		b.INDICE as CUENTAREFERENCIA, 
		b.CODIGO, 
		b.CODCCOS, 
		2 as NROITEM, 
		0 as DEBE, -- no calcula AJUSTEXI para registro de saldo inicial
		0 as HABER,  -- no calcula AJUSTEXI para registro de saldo inicial
		b.SALDO, 
		b.LEYENDA, 
		pcuenta,
		('Saldo inicial al ' + cast(month(b.FECHA) as varchar(2))+'/'+ cast(year(b.FECHA) as varchar(4))) as PCUENTAD, 
		b.CAJUSTADA, 
		b.FECHAAJU 
	from (select 
				c.CODIGO, 
				c.fechaej as FECHA, 
				(case when 1 = Funciones.empty( d.CAJUSTADA ) then c.PCUENTA else d.CAJUSTADA  end ) as INDICE, 
				d.CODCCOS, 
				(case when 1 = Funciones.empty( d.DEBE ) then 0 else d.DEBE end) as DEBE, 
				(case when 1 = Funciones.empty( d.HABER ) then 0 else d.HABER end) as HABER, 
				(case when 1 = Funciones.empty( d.SALDO ) then 0 else d.SALDO end) as SALDO, 
				d.LEYENDA, 
				c.PCUENTA, 
				d.CAJUSTADA, 
				d.FECHAAJU 
			from (SELECT 
						CODIGO, 
						PCUENTA, 
						C_EJERCICIO.FECHADES as fechaej 
					FROM ZooLogic.ASIENTODET as g
						left join ZooLogic.ASIENTO as C_ASIENTO on C_ASIENTO.ACOD = g.CODIGO and 0 = Funciones.empty( g.CODIGO ) 
						left join ZooLogic.EJERCICIO as C_EJERCICIO on C_ASIENTO.EJERCICIO = C_EJERCICIO.NUMERO and 0 = Funciones.empty( C_EJERCICIO.NUMERO ) 
					where ( c_asiento.CLASE = 6 and CAJUSTADA = '' and
							( ( c_asiento.ejercicio = @ASIENTO_1_EJERCICIO_DESDE ) ) and
							( ( @ITEMASIENTO_PLANDECUENTAS_DESDE is null ) OR ( pcuenta >= @ITEMASIENTO_PLANDECUENTAS_DESDE ) ) and
							( ( @ITEMASIENTO_PLANDECUENTAS_HASTA is null ) OR ( pcuenta <= @ITEMASIENTO_PLANDECUENTAS_HASTA ) ) and
							( ( @ITEMASIENTO_CENTRODECOSTO_DESDE is null ) OR ( CODCCOS >= @ITEMASIENTO_CENTRODECOSTO_DESDE ) ) and 
							( ( @ITEMASIENTO_CENTRODECOSTO_HASTA is null ) OR ( CODCCOS <= @ITEMASIENTO_CENTRODECOSTO_HASTA ) ) and 
							( ( @ASIENTO_1_RAZONSOCIAL_DESDE is null ) OR ( C_ASIENTO.RSOCIAL >= @ASIENTO_1_RAZONSOCIAL_DESDE ) ) and 
							( ( @ASIENTO_1_RAZONSOCIAL_HASTA is null ) OR ( C_ASIENTO.RSOCIAL <= @ASIENTO_1_RAZONSOCIAL_HASTA ) ) and 
							( ( @ASIENTO_1_FECHA_DESDE is null ) OR ( C_ASIENTO.Fecha >= @ASIENTO_1_FECHA_DESDE ) ) and 
							( ( @ASIENTO_1_FECHA_HASTA is null ) OR ( C_ASIENTO.Fecha <= @ASIENTO_1_FECHA_HASTA ) ) ) 
					group by g.PCUENTA, C_EJERCICIO.FECHADES, CODIGO ) c
				left join (SELECT 
								CODIGO, 
								C_ASIENTO.FECHA as FECHA, 
								(case when CAJUSTADA = '' then PCUENTA else CAJUSTADA  end ) as INDICE, 
								CODCCOS, 
								DEBE, 
								HABER, 
								debe - haber as SALDO, 
								LEYENDA, 
								PCUENTA, 
								PCUENTAD, 
								CAJUSTADA, 
								FECHAAJU 
							FROM ZooLogic.ASIENTODET as e
								left join ZooLogic.ASIENTO as C_ASIENTO on C_ASIENTO.ACOD = e.CODIGO and 0 = Funciones.empty( e.CODIGO )
							where ( c_asiento.CLASE = 5 and
							( ( c_asiento.ejercicio = @ASIENTO_1_EJERCICIO_DESDE ) ) and
							( ( @ITEMASIENTO_PLANDECUENTAS_DESDE is null ) OR ( CAJUSTADA >= @ITEMASIENTO_PLANDECUENTAS_DESDE ) ) and
							( ( @ITEMASIENTO_PLANDECUENTAS_HASTA is null ) OR ( CAJUSTADA <= @ITEMASIENTO_PLANDECUENTAS_HASTA ) ) and
							( ( @ITEMASIENTO_CENTRODECOSTO_DESDE is null ) OR ( CODCCOS >= @ITEMASIENTO_CENTRODECOSTO_DESDE ) ) and 
							( ( @ITEMASIENTO_CENTRODECOSTO_HASTA is null ) OR ( CODCCOS <= @ITEMASIENTO_CENTRODECOSTO_HASTA ) ) and 
							( ( @ASIENTO_1_RAZONSOCIAL_DESDE is null ) OR ( C_ASIENTO.RSOCIAL >= @ASIENTO_1_RAZONSOCIAL_DESDE ) ) and 
							( ( @ASIENTO_1_RAZONSOCIAL_HASTA is null ) OR ( C_ASIENTO.RSOCIAL <= @ASIENTO_1_RAZONSOCIAL_HASTA ) ) and 
							( ( @ASIENTO_1_FECHA_DESDE is null ) OR ( C_ASIENTO.Fecha >= @ASIENTO_1_FECHA_DESDE ) ) and 
							( ( @ASIENTO_1_FECHA_HASTA is null ) OR ( C_ASIENTO.Fecha <= @ASIENTO_1_FECHA_HASTA ) ) )) d
					on c.pcuenta = d.pcuenta) b

	) as GruposAsientos
) as c_ITEMASIENTO

 left join ZooLogic.ASIENTO as C_ASIENTO on C_ASIENTO.ACOD = C_ITEMASIENTO.CODIGO and 0 = Funciones.empty( C_ITEMASIENTO.CODIGO )
 left join ZooLogic.CCOSTO as C_CENTRODECOSTO on C_CENTRODECOSTO.COSCOD = C_ITEMASIENTO.CODCCOS and 0 = Funciones.empty( C_ITEMASIENTO.CODCCOS )
 left join ZooLogic.EJERCICIO as C_EJERCICIO on C_EJERCICIO.NUMERO = C_ASIENTO.EJERCICIO and 0 = Funciones.empty( C_ASIENTO.EJERCICIO )
 left join ZooLogic.PLANCUENTA as C_PLANDECUENTAS on C_PLANDECUENTAS.CTACODIGO = C_ITEMASIENTO.PCUENTA and 0 = Funciones.empty( C_ITEMASIENTO.PCUENTA )
 left join ZooLogic.RAZONS as C_RAZONSOCIAL on C_RAZONSOCIAL.RZCOD = C_ASIENTO.RSOCIAL and 0 = Funciones.empty( C_ASIENTO.RSOCIAL )
  --
 left join zoologic.cierreej as c_CierreEJ on c_cierreej.ejercicio = c_asiento.EJERCICIO
  --
 left join ORGANIZACION.SUC as C_SUCURSAL on C_SUCURSAL.CODIGO = cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) and 0 = Funciones.empty( cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) )
 left join ORGANIZACION.TSUCUR as C_TIPOSUCURSAL on C_TIPOSUCURSAL.TCOD = C_SUCURSAL.TIPO and 0 = Funciones.empty( C_SUCURSAL.TIPO )
 left join ORGANIZACION.LSUCUR as C_LINEASUCURSAL on C_LINEASUCURSAL.LSCOD = C_SUCURSAL.LINEA and 0 = Funciones.empty( C_SUCURSAL.LINEA )
 left join ORGANIZACION.SECOD as C_SEGMENTACION on C_SEGMENTACION.SCOD = C_SUCURSAL.SEG and 0 = Funciones.empty( C_SUCURSAL.SEG )
 
 where ( 1=1 ) 
) 
