IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerMontoPeriodoPapelTrabajoAxI]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerMontoPeriodoPapelTrabajoAxI];
GO;

CREATE FUNCTION [Funciones].[ObtenerMontoPeriodoPapelTrabajoAxI]
	( 
		@PCUENTA varchar(30),
		@ITEMASIENTO_CENTRODECOSTO_DESDE varchar(20),
		@ITEMASIENTO_CENTRODECOSTO_HASTA varchar(20),
		@ASIENTO_1_EJERCICIO_DESDE numeric(8, 0),
		@ASIENTO_1_RAZONSOCIAL_DESDE varchar(10),
		@ASIENTO_1_RAZONSOCIAL_HASTA varchar(10),
		@FECHAAJUSTE datetime
	)
RETURNS numeric(20, 4)
AS
BEGIN

	declare @retorno numeric(20, 4);


	if ( @FECHAAJUSTE is null  )
	begin 
		set @FechaAjuste = (select fechahas from Zoologic.Ejercicio where ejercicio.Numero = @ASIENTO_1_EJERCICIO_DESDE)
	end

	set @retorno = isnull((

		--declare @PCuenta varchar(30) = '111101'
		--declare @ITEMASIENTO_CENTRODECOSTO_DESDE varchar(20) =  null
		--declare @ITEMASIENTO_CENTRODECOSTO_HASTA varchar(20) = null
		--declare @ASIENTO_1_EJERCICIO_DESDE numeric(8, 0) = 2
		--declare @ASIENTO_1_RAZONSOCIAL_DESDE varchar(10) = '' --null
		--declare @ASIENTO_1_RAZONSOCIAL_HASTA varchar(10) = 'Z' -- null
		--declare @FechaAjuste datetime = '20220301'

		select 
			sum(debe - haber) as montoperiodo
		FROM ZooLogic.ASIENTODET
			left join ZooLogic.Asiento on asiento.ACOD = asientodet.CODIGO and 0 = Funciones.empty( asientodet.CODIGO )
			left join ZooLogic.PlanCuenta on plancuenta.CTACODIGO = asientodet.PCUENTA and 0 = Funciones.empty(asientodet.PCUENTA ) and plancuenta.AJUSTAINF = 1
		where 
			( ( asiento.EJERCICIO = @ASIENTO_1_EJERCICIO_DESDE ) ) and
			( ( @ITEMASIENTO_CENTRODECOSTO_DESDE is null ) OR ( asientodet.CODCCOS >= @ITEMASIENTO_CENTRODECOSTO_DESDE ) ) and 
			( ( @ITEMASIENTO_CENTRODECOSTO_HASTA is null ) OR ( asientodet.CODCCOS <= @ITEMASIENTO_CENTRODECOSTO_HASTA ) ) and 
			( ( @ASIENTO_1_RAZONSOCIAL_DESDE is null ) OR ( asiento.RSOCIAL >= @ASIENTO_1_RAZONSOCIAL_DESDE ) ) and 
			( ( @ASIENTO_1_RAZONSOCIAL_HASTA is null ) OR ( asiento.RSOCIAL <= @ASIENTO_1_RAZONSOCIAL_HASTA ) ) and 
			asientodet.PCUENTA = @PCUENTA  and asiento.CLASE <> 5
			and year(asiento.FECHA ) = year(@FECHAAJUSTE) and month( asiento.fecha ) = month( @FECHAAJUSTE )
		group by PCUENTA
						), 0 );

	return @retorno
END

