IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_Patagonia_Ventas_Comprobantes]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_Patagonia_Ventas_Comprobantes];
GO;

CREATE FUNCTION [Interfaces].[Datos_Patagonia_Ventas_Comprobantes]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde numeric(4,0),
	@PuntoVentaHasta numeric(4,0),
	@NumeroComprobanteDesde numeric(8,0),
	@NumeroComprobanteHasta numeric(8,0),
	@FechaComprobanteDesde datetime,
	@FechaComprobanteHasta datetime,
	@FechaExportacionDesde datetime,
	@FechaExportacionHasta datetime,
	@ListaPrecioCompra char(6)
)
RETURNS TABLE
AS
RETURN 
(
	select 
		DatosExpoBasicos.ConversionBD as STOREID,
		DatosExpoBasicoS.Ffecha  as TRANSDATE,
		cast(DatosExpoBasicos.CodigoTransaccion as varchar(12)) as TRANSID,
		cast(DatosExpoBasicos.ConversionBD + '.' + DatosExpoBasicos.CodigoTransaccion + '.' + cast(DatosExpoBasicos.NumeroItem as char(3))  as varchar(20)) as TRANSLINE,
		DatosExpoBasicos.TipoStock as TRANSCODE,
		DatosExpoBasicos.TemporadaAnio as SEASONCODE, 
		DatosExpoBasicos.CodigoArticulo as STYLE,	  
		DatosExpoBasicos.CodigoColor as COLOR,
		DatosExpoBasicos.CodigoTalle as SIZE,
		Funciones.Alltrim(DatosExpoBasicos.TipoArticulo) as QUALITY,
		DatosExpoBasicos.DescripcionArticulo as STYLEDESC,
		DatosExpoBasicos.EquivalenciaArticulo as UPC,
		DatosExpoBasicos.CantidadesVendidas as UNITSSOLDS,
		DatosExpoBasicos.CostoUnidad as UNITCOST,
		DatosExpoBasicos.PrecioVentaSinImpuesto as UNITPRICE,
		DatosExpoBasicos.DescuentoPorUnidad as UNITDISC,
		DatosExpoBasicos.CodigoDescuentoDevolucion as DRCODE,
		Funciones.Alltrim('') AS REASONCODE,
		DatosExpoBasicos.Observaciones as COMMENTS,
		Funciones.Alltrim('') AS CUST,
		Funciones.Alltrim('') AS CUSTLNAME,
		Funciones.Alltrim('') AS CUSTFNAME,
		Funciones.Alltrim('') AS CASHIERID,
		DatosExpoBasicos.DescuentoTotal as TDISC,
		DatosExpoBasicos.CodigoDescuentoDevolucion as TDCODE
	from (
		SELECT 
			Comprobantes.FALTAFW as Ffecha,
			case WHEN STOREID02404_valconv.ValDest is null then '' else Funciones.alltrim(STOREID02404_valconv.ValDest) end as ConversionBD,
			Funciones.padl(cast(Comprobantes.FPtoVen as varchar(4)), 4, '0') + Funciones.padl(cast(Comprobantes.FNumComp as varchar(8)), 8, '0') as CodigoTransaccion,
			DetalleArticulos.NROITEM AS NumeroItem,
			case 
				when (DetalleArticulos.FCANT * Comprobantes.SIGNOMOV) > 0 then 'S'
				when (DetalleArticulos.FCANT * Comprobantes.SIGNOMOV) < 0 then 'R'
				else '' 
			end as TipoStock,
			case when DetalleArticulos.FART <> 'SEÑA' then (Left(ATEMPORADA,2) + cast(ANO as char(4))) else '' end as TemporadaAnio, 
			case when CHARINDEX(' ',LTRIM(RTRIM(DetalleArticulos.FART))) > 0 then substring(LTRIM(RTRIM(DetalleArticulos.FART)),0, CHARINDEX(' ',LTRIM(RTRIM(DetalleArticulos.FART)))) else LTRIM(RTRIM(DetalleArticulos.FART)) end as CodigoArticulo,
			case when CHARINDEX(' ',LTRIM(RTRIM(DetalleArticulos.FART))) > 0 then substring(LTRIM(RTRIM(DetalleArticulos.FART)), CHARINDEX(' ',LTRIM(RTRIM(DetalleArticulos.FART)))+1,len(LTRIM(RTRIM(DetalleArticulos.FART)))) else DetalleArticulos.CCOLOR end as CodigoColor,
			DetalleArticulos.Talle as CodigoTalle,
			Left(EntidadArticulos.TIPOARTI,1) as TipoArticulo,
			EntidadArticulos.ArtDes as DescripcionArticulo,
			case when Equivalencias.CCODIGO is null then '' else Equivalencias.CCODIGO end as EquivalenciaArticulo,
			(DetalleArticulos.FCant * Comprobantes.SIGNOMOV) as CantidadesVendidas,
			Funciones.ObtenerPrecioDeLaCombinacionPorListaDePrecio(DetalleArticulos.FART,DetalleArticulos.CCOLOR,DetalleArticulos.TALLE,@ListaPrecioCompra) as CostoUnidad,
			(DetalleArticulos.PRUNSINIMP * Comprobantes.SIGNOMOV) as PrecioVentaSinImpuesto,
			case 
				when (DetalleArticulos.MNTPDESSI + DetalleArticulos.MNPDSI + DetalleArticulos.MNDESSI) <> 0 then (DetalleArticulos.MNTPDESSI + DetalleArticulos.MNPDSI + DetalleArticulos.MNDESSI) / DetalleArticulos.FCANT
				else 0.00
			end as DescuentoPorUnidad,
			case 
				when DetalleArticulos.MOTDEVOL != '' then DetalleArticulos.MOTDEVOL
			else
				case 
					when Comprobantes.MOTDESCDEV != '' then Comprobantes.MOTDESCDEV
					else DetalleArticulos.MOTDESCU
				end
			end as CodigoDescuentoDevolucion,
			case when Comprobantes.FOBS is null then '' else Comprobantes.FOBS end as Observaciones,
			((DetalleArticulos.MNTPDESSI + DetalleArticulos.MNPDSI + DetalleArticulos.MNDESSI) * Comprobantes.SIGNOMOV) as DescuentoTotal
		from ZooLogic.ComprobanteV as Comprobantes
			left join ZooLogic.ComprobanteVDet as DetalleArticulos on Comprobantes.CODIGO = DetalleArticulos.Codigo
			left join Zoologic.ART as EntidadArticulos on DetalleArticulos.FART = EntidadArticulos.ARTCOD 
			left join [Organizacion].[ConverVal] as STOREID02404_valconv on STOREID02404_valconv.Conversion = 'STOREID02404' and STOREID02404_valconv.VALORIG = Comprobantes.BDAltaFW --union con la conversión de valores
			LEFT JOIN Zoologic.EQUI as Equivalencias on DetalleArticulos.FART = Equivalencias.CARTICUL AND DetalleArticulos.CCOLOR = Equivalencias.CCOLOR AND DetalleArticulos.TALLE = Equivalencias.CTALLE  
		where Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49)
			and Comprobantes.FLETRA Between @LetraDesde and @LetraHasta
			and Comprobantes.FPTOVEN Between @PuntoVentaDesde and @PuntoVentaHasta
			and Comprobantes.FNUMCOMP Between @NumeroComprobanteDesde and @NumeroComprobanteHasta
			and Comprobantes.FALTAFW Between @FechaComprobanteDesde and @FechaComprobanteHasta
			and Comprobantes.FECEXPO Between @FechaExportacionDesde  and @FechaExportacionHasta
			and Comprobantes.ANULADO = 0
			and EntidadArticulos.ASTOCK = 0
	) as DatosExpoBasicos
)