IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[PerteneceAlSegmentoTemporal]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[PerteneceAlSegmentoTemporal];
GO;

CREATE FUNCTION [Funciones].[PerteneceAlSegmentoTemporal]
	(
	@FechaAEvaluar datetime,
	@FechaDeReferencia datetime,
	@TipoDeSegmento varchar(10),
	@SegmentoEvaluado int,
	@SegmentoInferior int,
	@SegmentoSuperior int
	)
	returns int
AS
	begin
		declare @lRetorno int
		declare @lSegmento int
		declare @lCorrigeNegativo int
		declare @FechaRef datetime

		begin
			set @lSegmento = 
						case @TipoDeSegmento 
							when 'YEAR'  then DATEDIFF( year, @FechaDeReferencia, @FechaAEvaluar) 
							when 'MONTH' then DATEDIFF( month, @FechaDeReferencia, @FechaAEvaluar)
							when 'WEEK'  then DATEDIFF( week, @FechaDeReferencia, @FechaAEvaluar)
							else DATEDIFF( day, @FechaDeReferencia, @FechaAEvaluar)
						end;

			if ISNUMERIC( @TipoDeSegmento ) = 1 and CAST( @TipoDeSegmento AS int ) <> 0
				begin
					if SIGN( @lSegmento ) > 0
						set @lCorrigeNegativo = 0
					else
						if ( @lSegmento % abs( CAST( @TipoDeSegmento AS int ) ) ) = 0
							set @lCorrigeNegativo = 0
						else
							set @lCorrigeNegativo = 1
					
					set @lSegmento = @lSegmento / abs( CAST( @TipoDeSegmento AS int ) ) - @lCorrigeNegativo
				end
				
			if ( @lSegmento between @SegmentoInferior and @SegmentoSuperior) and ( @SegmentoEvaluado = @lSegmento )
				set @lRetorno = 1
			else
				if ( ( @lSegmento < @SegmentoInferior ) and ( @SegmentoEvaluado < @SegmentoInferior ) ) or ( ( @lSegmento > @SegmentoSuperior ) and ( @SegmentoEvaluado > @SegmentoSuperior ) )
					set @lRetorno = 1
				else
					set @lRetorno = 0
		end;

		return @lRetorno;
	end
	