IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[PerteneceAlSegmentoDeFechas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[PerteneceAlSegmentoDeFechas];
GO;

CREATE FUNCTION [Funciones].[PerteneceAlSegmentoDeFechas]
	(
	@FechaAEvaluar datetime,
	@Periodos xml,
	@PeriodoAComprobar int
	)
	returns int
AS
	begin
		declare @lRetorno int

		declare @PrimeraFecha date;
		declare @UltimaFecha date;
		declare @CantidadDePeriodos int;

		declare @Desde date;
		declare @Hasta date;

		begin
			select
				@PrimeraFecha = ListaDePeriodos.PrimeraFecha,
				@UltimaFecha = ListaDePeriodos.UltimaFecha,
				@CantidadDePeriodos = ListaDePeriodos.CantidadDeSegmentos
			from
				(
				select
					PrimeraFecha = T.Periodos.value('@PrimeraFecha', 'date'),
					UltimaFecha = T.Periodos.value('@UltimaFecha', 'date'),
					CantidadDeSegmentos = T.Periodos.value('@CantidadDeSegmentos', 'int')
				from @Periodos.nodes('/Periodos') as T(Periodos)
				) ListaDePeriodos
			
			if ( @FechaAEvaluar between @PrimeraFecha and @UltimaFecha ) and ( @PeriodoAComprobar between 1 and @CantidadDePeriodos )
				begin
					select
						@Desde = PeriodoAValidar.Desde,
						@Hasta = PeriodoAValidar.Hasta
					from
						(
						select
							Desde = T.Periodo.value('Desde[1]', 'date'),
							Hasta = T.Periodo.value('Hasta[1]', 'date') 
						from @Periodos.nodes('/Periodos/Periodo') as T(Periodo)
						where t.Periodo.value('ID[1]', 'int') = @PeriodoAComprobar
						) PeriodoAValidar
						
						if @FechaAEvaluar between @Desde and @Hasta
							set @lRetorno = 1
						else
							set @lRetorno = null
				end
			else
				set @lRetorno = null
		end;

		return @lRetorno;
	end
	