IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_TresCrucesShopping_Ventas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_TresCrucesShopping_Ventas];
GO;


create function [Interfaces].[Interfaz_TresCrucesShopping_Ventas]
(
	@Letra as varchar (1),
	@PuntoVta as numeric (4,0),
	@NroDesde as numeric (8,0),
	@NroHasta as numeric (8,0),
	@FechaDesde as char(8),
	@FechaHasta as char(8),
	@TipoComprobante as numeric (1,0)
)
RETURNS TABLE
AS
RETURN
(
	select top 100000
			comp.codigo as Codigo,
			comp.facttipo as TipoComp, 
			comp.descFw as Descrip, 
			cae.numero as NumeroCAE,
			info.estado as Estado,
			info.canalvta as CanalVta
		from Zoologic.INFOVTASTCS as info
		left join ZooLogic.ComprobanteV as comp on comp.CODIGO = info.CODIGO
			left join Zoologic.CAE as cae on cae.codigo = comp.codigo
		where comp.facttipo in (27, 28, 29) and comp.anulado = 0 and cae.numero > '' and 
			( info.estado is null or info.estado > 0 ) and
			( ( @Letra is null ) OR ( comp.FLETRA >= @Letra ) ) and  
  			( ( @PuntoVta is null ) OR ( comp.FPTOVEN >= @PuntoVta ) ) and  
  			( ( @NroDesde is null ) OR ( comp.FNUMCOMP >= @NroDesde ) ) and 
  			( ( @NroHasta is null ) OR ( comp.FNUMCOMP <= @NroHasta ) ) and 
  			( ( @FechaDesde is null ) OR ( comp.FFCH >= @FechaDesde ) ) and 
  			( ( @FechaHasta is null ) OR ( comp.FFCH <= @FechaHasta ) ) and
			case 
				when @TipoComprobante = 1 and (comp.FactTipo = 27 ) then 1
				when @TipoComprobante = 2 and (comp.FactTipo = 28 ) then 1 
				when @TipoComprobante = 3 and (comp.FactTipo = 29 ) then 1 
				else 0
			  end = 1
		order by comp.facttipo
) 