IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerDescripcionDeSituacionFiscalSegunParametros]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerDescripcionDeSituacionFiscalSegunParametros];
GO;

CREATE FUNCTION [Funciones].[ObtenerDescripcionDeSituacionFiscalSegunParametros]
( @TipoDeComprobante int, @Space int )
RETURNS varchar (40)
AS
BEGIN
declare @retorno varchar(40)
set @retorno = 	( select left( VALOR, 40 ) from [PARAMETROS].[SUCURSAL] sucursal
	inner join PARAMETROS.CABECERA as cabecera 
		on sucursal.IDUnico = cabecera.IDUnico
		where upper( cabecera.Nombre ) = 'TIPO SITUACION FISCAL ' + convert(varchar(2),@TipoDeComprobante) )
return @retorno
end