IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerCodigoBarraAlternativo]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerCodigoBarraAlternativo];
GO;
CREATE FUNCTION [Funciones].[ObtenerCodigoBarraAlternativo]

( 
	@Lectura varchar(MAX),
	@Separador CHAR(1), 
	@CharDecimal CHAR(1)
)
RETURNS varchar(100)
BEGIN

declare Estructuras CURSOR for

SELECT distinct [PivotTable].Codigo , [PivotTable].Bandera , [PivotTable].Articulo , [PivotTable].Color , [PivotTable].Talle , [PivotTable].Cantidad , [PivotTable].Precio , [PivotTable].PrecioIVA , [PivotTable].Monto , [PivotTable].MontoIVA, [PivotTable].CtrlUni
FROM
(   SELECT [CODBARALTER].CODIGO, [CODBARALTERDET].ATRIBUTO, 
		( CASE WHEN upper ( rtrim ( [CODBARALTERDET].ATRIBUTO ) ) = 'PRECIO' or upper ( rtrim ( [CODBARALTERDET].ATRIBUTO ) ) = 'CANTIDAD' or upper ( rtrim ( [CODBARALTERDET].ATRIBUTO ) ) = 'MONTO' 
			 or upper ( rtrim ( [CODBARALTERDET].ATRIBUTO ) ) = 'PRECIOIVA' or upper ( rtrim ( [CODBARALTERDET].ATRIBUTO ) ) = 'MONTOIVA' 
		THEN
			left ( right( rtrim ( @Lectura ) , LEN ( rtrim ( @Lectura ) ) - [CODBARALTERDET].POSINICIAL + 1 ), [CODBARALTERDET].CANTIDAD - [CODBARALTERDET].DECIMALES) +
			CASE WHEN right( left ( right ( rtrim ( @Lectura ) , LEN ( rtrim ( @Lectura ) ) - [CODBARALTERDET].POSINICIAL + 1 ), [CODBARALTERDET].CANTIDAD ), [CODBARALTERDET].DECIMALES ) = '' THEN '' ELSE @CharDecimal END +
			right ( left( right ( rtrim ( @Lectura ) , LEN ( rtrim ( @Lectura ) ) - [CODBARALTERDET].POSINICIAL + 1 ), [CODBARALTERDET].CANTIDAD ), [CODBARALTERDET].DECIMALES ) 
		ELSE
			left ( right ( rtrim ( @Lectura ) , LEN ( rtrim ( @Lectura ) ) - [CODBARALTERDET].POSINICIAL + 1 ), [CODBARALTERDET].CANTIDAD )
		END ) as SubCadena
	FROM [ZooLogic].[CODBARALTER]
		left join [ZooLogic].[CODBARALTERDET] on [CODBARALTER].CODIGO = [CODBARALTERDET].CODIGO
	Where [CODBARALTER].HABILITADO = 1 and [CODBARALTER].CODIGO 
		NOT IN ( SELECT distinct [CODBARALTER].CODIGO 
				FROM [ZooLogic].[CODBARALTER]
					left join [ZooLogic].[CODBARALTERDET] on [CODBARALTER].CODIGO = [CODBARALTERDET].CODIGO
				Where ( LEN ( rtrim ( @Lectura ) ) - [CODBARALTERDET].POSINICIAL + 1 ) <= 0	
					and LEN ( rtrim ( @Lectura ) ) < ( [CODBARALTERDET].POSINICIAL + [CODBARALTERDET].CANTIDAD - 1 ) 
				)
) AS SourceTable PIVOT ( max ( SubCadena ) FOR [Atributo] IN ( [Bandera] , [Articulo] , [Color] , [Talle] , [Cantidad] , [Precio] , [PrecioIVA] , [Monto] , [MontoIVA], [CtrlUni] ) ) AS PivotTable 

left join [ZooLogic].[CODBARALTERDET] on [PivotTable].CODIGO = [CODBARALTERDET].CODIGO
where ( [PivotTable].BANDERA = [CODBARALTERDET].BANDERA or [PivotTable].Bandera is null ) 
	and ( [PivotTable].Cantidad is null or isnumeric ( [PivotTable].Cantidad ) = 1 )
	and ( [PivotTable].Precio is null or isnumeric ( [PivotTable].Precio ) = 1 ) 
	and ( [PivotTable].PrecioIVA is null or isnumeric ( [PivotTable].PrecioIVA ) = 1 ) 
	and ( [PivotTable].Monto is null or isnumeric ( [PivotTable].Monto ) = 1 ) 
	and ( [PivotTable].MontoIVA is null or isnumeric ( [PivotTable].MontoIVA ) = 1 ) 
	and ( [PivotTable].CtrlUni is null or isnumeric ( [PivotTable].CtrlUni ) = 1 ) -- si aca no me viene un numero asumo que esta mal la cosa ya y la descarto
Order By PivotTable.Bandera desc

--------------------------------

declare @CantidadRegistros INT
declare @Contador INT
declare @Codigo VARCHAR(100)
declare @Bandera VARCHAR(3)
declare @Articulo VARCHAR(100)
declare @Color VARCHAR(100)
declare @Talle VARCHAR(100)
declare @Cantidad VARCHAR(100)
declare @Precio VARCHAR(100)
declare @Monto VARCHAR(100)
declare @PrecioIVA VARCHAR(100)
declare @MontoIVA VARCHAR(100)
declare @CtrlUni VARCHAR(100)

declare @RespCadena VARCHAR(100)
declare @RespArticulo VARCHAR(100)
declare @RespColor VARCHAR(100)
declare @RespTalle VARCHAR(100)
declare @RespCantidad VARCHAR(100)
declare @RespPrecio VARCHAR(100)
declare @RespMonto VARCHAR(100)
declare @RespPrecioIVA VARCHAR(100)
declare @RespMontoIVA VARCHAR(100)

declare @RespCtrlUni VARCHAR(100)   -- es la variable que devuelvo
declare @RespPregunta VARCHAR(1)	-- es la variable que devuelvo

declare @RetornoPrecio VARCHAR(100)
declare @RetornoMonto VARCHAR(100)
declare @RetornoIVA CHAR(3)

declare @HayError INT

set @CantidadRegistros = 0 -- =4
set @Contador = 1          -- =1
SET @RespPregunta = '0'

SELECT @CantidadRegistros = count ( CODIGO ) FROM [ZooLogic].[CODBARALTER] Where HABILITADO = 1 --pone en la variable @CantidadRegistros la cantidad de codigos alternativos habilitados
--SELECT count ( CODIGO ) FROM [ZooLogic].[CODBARALTER] Where HABILITADO = 1

OPEN Estructuras
Fetch Estructuras into @Codigo , @Bandera , @Articulo , @Color , @Talle , @Cantidad , @Precio , @PrecioIVA , @Monto , @MontoIVA, @CtrlUni
WHILE ( @Contador <= @CantidadRegistros )
	BEGIN
		set @HayError =  0
		set @RespCadena = ''
		set @RespArticulo = ''
		set @RespColor = ''
		set @RespTalle = ''
		set @RespCantidad = ''
		set @RespPrecio = ''
		set @RespPrecioIVA = ''
		set @RespMonto = ''
		set @RespMontoIVA = ''
		set @RespCtrlUni = ''

		set @RetornoPrecio = ''
		set @RetornoMonto = ''
		set @RetornoIVA = ''
		
		-- aca estaria haciendo que si encuentro el articulo en la tabla, completo, cantidad, precio, precioiva, monto, montoiva
		BEGIN IF ( @Articulo is not null )
			BEGIN IF ( SELECT count ( ARTCOD ) as CantArt FROM [ZooLogic].[ART] Where ARTCOD = @Articulo ) > 0
				BEGIN
					set @RespArticulo =  @Articulo 
					set @RespCantidad = CASE WHEN @Cantidad is null THEN '1.00' ELSE @Cantidad END
					set @RespPrecio = CASE WHEN @Precio is null THEN '' ELSE @Precio END
					set @RespPrecioIVA = CASE WHEN @PrecioIVA is null THEN '' ELSE @PrecioIVA END
					set @RespMonto = CASE WHEN @Monto is null THEN '' ELSE @Monto END
					set @RespMontoIVA = CASE WHEN @MontoIVA is null THEN '' ELSE @MontoIVA END
					--set @RespCtrlUni = CASE WHEN @CtrlUni is null THEN '' ELSE @CtrlUni END
				END
			END
		END

		BEGIN IF ( @RespArticulo <> '' )
			-- SI ENCONTRO EL ARTICULO
			BEGIN
			-- si encontro el articulo y el color no es null, busco el color, si lo encuentro, lo guardo en @respcolor
			BEGIN IF ( @Color is not null and Funciones.Alltrim(@Color) <> '')
				BEGIN IF ( SELECT count ( COLCOD ) as CantArt FROM [ZooLogic].[COL] Where COLCOD = @Color ) > 0
					set @RespColor =  @Color
				ELSE
					set @HayError =  1
				END
			END

			-- si encontro el articulo y el talle no es nulo, busco el talle, si lo encuentro, lo guardo en @resptalle
			BEGIN IF ( @Talle is not null and Funciones.Alltrim(@Talle) <> '')
				BEGIN IF ( SELECT count ( CODIGO ) as CantArt FROM [ZooLogic].[TALLE] Where CODIGO = @Talle ) > 0
					set @RespTalle =  @Talle 
				ELSE
					set @HayError =  1
				END
			END

			-- Si no hay errores (QUE SERIA SI TENIA COLOR Y LO ENCONTRO Y SI TENIA TALLE Y LO ENCONTRO)
			-- COMPLETO EL RESTO DE LOS DATOS
			
			IF ( @HayError =  0 )
				BEGIN 
					BEGIN IF ( @Precio <> '' )
						set @RetornoPrecio = @Precio
					END
				
					BEGIN IF ( @PrecioIVA <> '' )
						BEGIN
							set @RetornoPrecio = @PrecioIVA
							set @RetornoIVA = 'IVA'
						END
					END
				
					BEGIN IF ( @Monto <> '' )
						set @RetornoMonto = @Monto
					END
				
					BEGIN IF ( @MontoIVA <> '' )
						BEGIN
							set @RetornoMonto = @MontoIVA
							set @RetornoIVA = 'IVA'
						END
					END

					BEGIN IF ( @CtrlUni <> '' )
						BEGIN
							set @RespCtrlUni = @CtrlUni
						END
					END
				
					begin if ( @RespCtrlUni <> '' )
						SELECT @RespPregunta = CTRLUNI FROM [ZooLogic].[CODBARALTER] Where codigo = @Codigo
					end

					set @RespCadena = @RespCantidad + '+' + @RespArticulo + @Separador + @RespColor + @Separador + @RespTalle + @Separador + @RetornoPrecio + @Separador + @RetornoMonto + @Separador + @RetornoIVA + @Separador + @RespCtrlUni + @Separador + @RespPregunta
					set @Contador = @CantidadRegistros
				END
			END
	END

	Fetch Estructuras into @Codigo , @Bandera , @Articulo , @Color , @Talle , @Cantidad , @Precio , @PrecioIVA , @Monto , @MontoIVA, @CtrlUni
	set @Contador = @Contador + 1
END
CLOSE Estructuras
Deallocate Estructuras

RETURN @RespCadena
END