IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[158_SUBDIARIOIVACOMPRAS]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Listados].[158_SUBDIARIOIVACOMPRAS]
GO;

CREATE FUNCTION [Listados].[158_SUBDIARIOIVACOMPRAS]
( @BaseDeDatos varchar(8),
	@FACTURADECOMPRA_LETRA_DESDE varchar(1),
	@FACTURADECOMPRA_LETRA_HASTA varchar(1),
	@FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_DESDE numeric(5, 0),
	@FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_HASTA numeric(5, 0),
	@FACTURADECOMPRA_NUMERO_DESDE numeric(8, 0),
	@FACTURADECOMPRA_NUMERO_HASTA numeric(8, 0),
	@FACTURADECOMPRA_PROVEEDOR_DESDE varchar(10),
	@FACTURADECOMPRA_PROVEEDOR_HASTA varchar(10),
	@FACTURADECOMPRA_FECHA_DESDE datetime,
	@FACTURADECOMPRA_FECHA_HASTA datetime,
	@FACTURADECOMPRA_TIPOCOMPROBANTE varchar(3),
	@FACTURADECOMPRA_FECHAVENCIMIENTO_DESDE datetime,
	@FACTURADECOMPRA_FECHAVENCIMIENTO_HASTA datetime,
	@FACTURADECOMPRA_FECHAFACTURA_DESDE datetime,
	@FACTURADECOMPRA_FECHAFACTURA_HASTA datetime )
RETURNS TABLE
AS
RETURN
(
select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_facturadecompra.codigo, 38, ' ' ) as varchar( 46 ) ) as FACTURADECOMPRA__Grupo,
	@basededatos as FACTURADECOMPRA__BD,

	c_FACTURADECOMPRA.CODIGO as FACTURADECOMPRA_CODIGO,
	cast( funciones.identificadordecomprobantecomprasparalistado(c_facturadecompra.facttipo, c_facturadecompra.fletra, c_facturadecompra.fptoven, c_facturadecompra.fptovenext, c_facturadecompra.fnumcomp) as varchar( 24 ) ) as FACTURADECOMPRA_XComprobante,
	cast( funciones.obteneridentificadordecomprobante(c_facturadecompra.facttipo) as varchar( 3 ) ) as FACTURADECOMPRA_FACTTIPO,
	c_FACTURADECOMPRA.FLETRA as FACTURADECOMPRA_FLETRA,
	cast( funciones.padl(c_facturadecompra.fptovenext, 5, '0') as numeric( 5, 0 ) ) as FACTURADECOMPRA_FPTOVENEXT,
	cast( funciones.padl(c_facturadecompra.fnumcomp, 8, '0') as numeric( 8, 0 ) ) as FACTURADECOMPRA_FNUMCOMP,
	case when c_facturadecompra.ffchvenc = '01/01/1900 00:00:00' then null else c_facturadecompra.ffchvenc end as FACTURADECOMPRA_FFCHVENC,
	c_FACTURADECOMPRA.FPERSON as FACTURADECOMPRA_FPERSON,
	C_PROVEEDOR.CLNOM as PROVEEDOR_CLNOM,
	case when c_facturadecompra.ffch = '01/01/1900 00:00:00' then null else c_facturadecompra.ffch end as FACTURADECOMPRA_FFCH,
	C_PROVEEDOR.CLCUIT as PROVEEDOR_CLCUIT,
	C_SITUACIONFISCAL.DESCRIP as FACTURADECOMPRA_DESSITFISCAL,
	cast( c_facturadecompra.signomov*c_facturadecompra.fsubton*-1 as numeric( 15, 4 ) ) as FACTURADECOMPRA_fSubToN,
	C_SITUACIONFISCAL.DESCRIP as SITUACIONFISCAL_DESCRIP,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoNoGrav,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_IvaInscripto,
	cast( 0.00 as numeric( 5, 2 ) ) as FACTURADECOMPRA_PORCENTAJEDEIVA,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoDeIva,
	cast( c_facturadecompra.signomov*c_facturadecompra.totimpue*-1 as numeric( 15, 4 ) ) as FACTURADECOMPRA_totimpue,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_PerRetIva,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_Otros,
	c_FACTURADECOMPRA.SIGNOMOV as FACTURADECOMPRA_SIGNOMOV,
	cast( c_facturadecompra.signomov*c_facturadecompra.ftotal*-1 as numeric( 15, 4 ) ) as FACTURADECOMPRA_FTOTAL,
	case when c_facturadecompra.ffchfac = '01/01/1900 00:00:00' then null else c_facturadecompra.ffchfac end as FACTURADECOMPRA_FFCHFAC,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoGrav,
	cast( 0.00 as numeric( 5, 2 ) ) as FACTURADECOMPRA_PORCENTAJEIVAPARATOTAL,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoIvaParaTotal,
	cast( funciones.padl(c_facturadecompra.fptoven, 4, '0') as numeric( 4, 0 ) ) as FACTURADECOMPRA_FPTOVEN,
	cast( 0 as numeric( 15, 4 ) ) as FACTURADECOMPRA_TotalPorAlicuota,
	c_FACTURADECOMPRA.FOBS as FACTURADECOMPRA_FObs,
	C_PROVEEDOR.CLIVA as PROVEEDOR_CLIVA,
	C_PROVEEDOR.CLCOD as PROVEEDOR_CLCOD,
	C_SITUACIONFISCAL.CODIGO as SITUACIONFISCAL_CODIGO,
	C_FACTURADECOMPRA.TcRG1361 as FACTURADECOMPRA_TcRG1361
 from ZooLogic.FACCOMPRA as c_FACTURADECOMPRA
 	left join ZooLogic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = c_FACTURADECOMPRA.FPERSON and 0 = Funciones.empty( c_FACTURADECOMPRA.FPERSON )
 	left join ORGANIZACION.SITFISCAL as C_SITUACIONFISCAL on C_SITUACIONFISCAL.CODIGO = c_FACTURADECOMPRA.SITFISCPRO and 0 = Funciones.empty( C_PROVEEDOR.CLIVA )
 where ( not 1 = funciones.empty( c_facturadecompra.codigo ) ) and 
	( ( @FACTURADECOMPRA_LETRA_DESDE is null ) OR ( c_FACTURADECOMPRA.FLETRA >= @FACTURADECOMPRA_LETRA_DESDE ) ) and 
	( ( @FACTURADECOMPRA_LETRA_HASTA is null ) OR ( c_FACTURADECOMPRA.FLETRA <= @FACTURADECOMPRA_LETRA_HASTA ) ) and 
	( ( @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_DESDE is null ) OR ( c_FACTURADECOMPRA.FPTOVENEXT >= @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_DESDE ) ) and 
	( ( @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_HASTA is null ) OR ( c_FACTURADECOMPRA.FPTOVENEXT <= @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_HASTA ) ) and 
	( ( @FACTURADECOMPRA_NUMERO_DESDE is null ) OR ( c_FACTURADECOMPRA.FNUMCOMP >= @FACTURADECOMPRA_NUMERO_DESDE ) ) and 
	( ( @FACTURADECOMPRA_NUMERO_HASTA is null ) OR ( c_FACTURADECOMPRA.FNUMCOMP <= @FACTURADECOMPRA_NUMERO_HASTA ) ) and 
	( ( @FACTURADECOMPRA_PROVEEDOR_DESDE is null ) OR ( c_FACTURADECOMPRA.FPerson >= @FACTURADECOMPRA_PROVEEDOR_DESDE ) ) and 
	( ( @FACTURADECOMPRA_PROVEEDOR_HASTA is null ) OR ( c_FACTURADECOMPRA.FPerson <= @FACTURADECOMPRA_PROVEEDOR_HASTA ) ) and 
	( ( @FACTURADECOMPRA_FECHA_DESDE is null ) OR ( c_FACTURADECOMPRA.FFCH >= @FACTURADECOMPRA_FECHA_DESDE ) ) and 
	( ( @FACTURADECOMPRA_FECHA_HASTA is null ) OR ( c_FACTURADECOMPRA.FFCH <= @FACTURADECOMPRA_FECHA_HASTA ) ) and 
    ( ( @FACTURADECOMPRA_TIPOCOMPROBANTE is null ) OR ( ( c_FACTURADECOMPRA.FACTTIPO = case when @FACTURADECOMPRA_TIPOCOMPROBANTE in ( '81', '82', '83', '84', '85', '86', '87', '88', '-1', '-2', '-3', '-4','11') then 8 else 0 end ) ) and
    (( (c_FACTURADECOMPRA.TCRG1361 = case 
            when @FACTURADECOMPRA_TIPOCOMPROBANTE in ( '81', '82', '83', '84', '85', '86', '87', '88' ) then cast(right( @FACTURADECOMPRA_TIPOCOMPROBANTE, 1) as numeric(1,0) ) 
            when @FACTURADECOMPRA_TIPOCOMPROBANTE in ( '-2', '-3', '-4' )   then cast(right( @FACTURADECOMPRA_TIPOCOMPROBANTE, 1) as numeric(1,0) ) - 1   
     end ) )
	 or case when  @FACTURADECOMPRA_TIPOCOMPROBANTE = '11' and c_FACTURADECOMPRA.TCRG1361 in ('1', '2','3') then 1 else 0 end =1)) and
	( ( @FACTURADECOMPRA_FECHAVENCIMIENTO_DESDE is null ) OR ( c_FACTURADECOMPRA.FFCHVENC >= @FACTURADECOMPRA_FECHAVENCIMIENTO_DESDE ) ) and 
	( ( @FACTURADECOMPRA_FECHAVENCIMIENTO_HASTA is null ) OR ( c_FACTURADECOMPRA.FFCHVENC <= @FACTURADECOMPRA_FECHAVENCIMIENTO_HASTA ) ) and
	( ( @FACTURADECOMPRA_FECHAFACTURA_DESDE is null ) OR ( c_FACTURADECOMPRA.FFCHFAC >= @FACTURADECOMPRA_FECHAFACTURA_DESDE ) ) and 
	( ( @FACTURADECOMPRA_FECHAFACTURA_HASTA is null ) OR ( c_FACTURADECOMPRA.FFCHFAC <= @FACTURADECOMPRA_FECHAFACTURA_HASTA ) )

union all

select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_facturadecompra.codigo, 38, ' ' ) as varchar( 46 ) ) as FACTURADECOMPRA__Grupo,
	@basededatos as FACTURADECOMPRA__BD,

	c_FACTURADECOMPRA.CODIGO as FACTURADECOMPRA_CODIGO,
	cast( funciones.identificadordecomprobantecomprasparalistado(c_facturadecompra.facttipo, c_facturadecompra.fletra, c_facturadecompra.fptoven, c_facturadecompra.fptovenext, c_facturadecompra.fnumcomp) as varchar( 24 ) ) as FACTURADECOMPRA_XComprobante,
	cast( funciones.obteneridentificadordecomprobante(c_facturadecompra.facttipo) as varchar( 3 ) ) as FACTURADECOMPRA_FACTTIPO,
	c_FACTURADECOMPRA.FLETRA as FACTURADECOMPRA_FLETRA,
	cast( funciones.padl(c_facturadecompra.fptovenext, 5, '0') as numeric( 5, 0 ) ) as FACTURADECOMPRA_FPTOVENEXT,
	cast( funciones.padl(c_facturadecompra.fnumcomp, 8, '0') as numeric( 8, 0 ) ) as FACTURADECOMPRA_FNUMCOMP,
	case when c_facturadecompra.ffchvenc = '01/01/1900 00:00:00' then null else c_facturadecompra.ffchvenc end as FACTURADECOMPRA_FFCHVENC,
	c_FACTURADECOMPRA.FPERSON as FACTURADECOMPRA_FPERSON,
	C_PROVEEDOR.CLNOM as PROVEEDOR_CLNOM,
	case when c_facturadecompra.ffch = '01/01/1900 00:00:00' then null else c_facturadecompra.ffch end as FACTURADECOMPRA_FFCH,
	C_PROVEEDOR.CLCUIT as PROVEEDOR_CLCUIT,
	C_SITUACIONFISCAL.DESCRIP as FACTURADECOMPRA_DESSITFISCAL,
	cast( c_facturadecompra.signomov*c_facturadecompra.fsubton*-1 as numeric( 15, 4 ) ) as FACTURADECOMPRA_fSubToN,
	C_SITUACIONFISCAL.DESCRIP as SITUACIONFISCAL_DESCRIP,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoNoGrav,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_IvaInscripto,
	cast( 0.00 as numeric( 5, 2 ) ) as FACTURADECOMPRA_PORCENTAJEDEIVA,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoDeIva,
	cast( c_facturadecompra.signomov*c_facturadecompra.totimpue*-1 as numeric( 15, 4 ) ) as FACTURADECOMPRA_totimpue,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_PerRetIva,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_Otros,
	c_FACTURADECOMPRA.SIGNOMOV as FACTURADECOMPRA_SIGNOMOV,
	cast( c_facturadecompra.signomov*c_facturadecompra.ftotal*-1 as numeric( 15, 4 ) ) as FACTURADECOMPRA_FTotal,
	case when c_facturadecompra.ffchfac = '01/01/1900 00:00:00' then null else c_facturadecompra.ffchfac end as FACTURADECOMPRA_FFCHFAC,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoGrav,
	cast( 0.00 as numeric( 5, 2 ) ) as FACTURADECOMPRA_PORCENTAJEIVAPARATOTAL,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoIvaParaTotal,
	cast( funciones.padl(c_facturadecompra.fptoven, 4, '0') as numeric( 4, 0 ) ) as FACTURADECOMPRA_FPTOVEN,
	cast( 0 as numeric( 15, 4 ) ) as FACTURADECOMPRA_TotalPorAlicuota,
	c_FACTURADECOMPRA.FOBS as FACTURADECOMPRA_FObs,
	C_PROVEEDOR.CLIVA as PROVEEDOR_CLIVA,
	C_PROVEEDOR.CLCOD as PROVEEDOR_CLCOD,
	C_SITUACIONFISCAL.CODIGO as SITUACIONFISCAL_CODIGO,
	C_FACTURADECOMPRA.TcRG1361 as FACTURADECOMPRA_TcRG1361
 from ZooLogic.NCCOMPRA as c_FACTURADECOMPRA
 	left join ZooLogic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = c_FACTURADECOMPRA.FPERSON and 0 = Funciones.empty( c_FACTURADECOMPRA.FPERSON )
 	left join ORGANIZACION.SITFISCAL as C_SITUACIONFISCAL on C_SITUACIONFISCAL.CODIGO = C_FACTURADECOMPRA.SITFISCPRO and 0 = Funciones.empty( C_PROVEEDOR.CLIVA )
 where ( not 1 = funciones.empty( c_facturadecompra.codigo ) ) and 
    ( ( @FACTURADECOMPRA_LETRA_DESDE is null ) OR ( c_FACTURADECOMPRA.FLETRA >= @FACTURADECOMPRA_LETRA_DESDE ) ) and 
	( ( @FACTURADECOMPRA_LETRA_HASTA is null ) OR ( c_FACTURADECOMPRA.FLETRA <= @FACTURADECOMPRA_LETRA_HASTA ) ) and 
	( ( @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_DESDE is null ) OR ( c_FACTURADECOMPRA.FPTOVENEXT >= @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_DESDE ) ) and 
	( ( @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_HASTA is null ) OR ( c_FACTURADECOMPRA.FPTOVENEXT <= @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_HASTA ) ) and 
	( ( @FACTURADECOMPRA_NUMERO_DESDE is null ) OR ( c_FACTURADECOMPRA.FNUMCOMP >= @FACTURADECOMPRA_NUMERO_DESDE ) ) and 
	( ( @FACTURADECOMPRA_NUMERO_HASTA is null ) OR ( c_FACTURADECOMPRA.FNUMCOMP <= @FACTURADECOMPRA_NUMERO_HASTA ) ) and 
	( ( @FACTURADECOMPRA_PROVEEDOR_DESDE is null ) OR ( c_FACTURADECOMPRA.FPerson >= @FACTURADECOMPRA_PROVEEDOR_DESDE ) ) and 
	( ( @FACTURADECOMPRA_PROVEEDOR_HASTA is null ) OR ( c_FACTURADECOMPRA.FPerson <= @FACTURADECOMPRA_PROVEEDOR_HASTA ) ) and 
	( ( @FACTURADECOMPRA_FECHA_DESDE is null ) OR ( c_FACTURADECOMPRA.FFCH >= @FACTURADECOMPRA_FECHA_DESDE ) ) and 
	( ( @FACTURADECOMPRA_FECHA_HASTA is null ) OR ( c_FACTURADECOMPRA.FFCH <= @FACTURADECOMPRA_FECHA_HASTA ) ) and 
	( ( @FACTURADECOMPRA_TIPOCOMPROBANTE is null ) OR ( ( c_FACTURADECOMPRA.FACTTIPO = case when @FACTURADECOMPRA_TIPOCOMPROBANTE in ( '01', '02', '03', '-1', '-2', '-3', '-4','11') then 10 else 0 end ) ) and
    (( (c_FACTURADECOMPRA.TCRG1361 = case 
            when @FACTURADECOMPRA_TIPOCOMPROBANTE in ( '01', '02', '03' ) then cast(right( @FACTURADECOMPRA_TIPOCOMPROBANTE, 1) as numeric(1,0) ) 
            when @FACTURADECOMPRA_TIPOCOMPROBANTE in ( '-2', '-3', '-4' )   then cast(right( @FACTURADECOMPRA_TIPOCOMPROBANTE, 1) as numeric(1,0) ) - 1   
     end ) )
	  or case when  @FACTURADECOMPRA_TIPOCOMPROBANTE = '11' and c_FACTURADECOMPRA.TCRG1361 in ('1', '2','3') then 1 else 0 end =1))  and 
	( ( @FACTURADECOMPRA_FECHAVENCIMIENTO_DESDE is null ) OR ( c_FACTURADECOMPRA.FFCHVENC >= @FACTURADECOMPRA_FECHAVENCIMIENTO_DESDE ) ) and 
	( ( @FACTURADECOMPRA_FECHAVENCIMIENTO_HASTA is null ) OR ( c_FACTURADECOMPRA.FFCHVENC <= @FACTURADECOMPRA_FECHAVENCIMIENTO_HASTA ) ) and
	( ( @FACTURADECOMPRA_FECHAFACTURA_DESDE is null ) OR ( c_FACTURADECOMPRA.FFCHFAC >= @FACTURADECOMPRA_FECHAFACTURA_DESDE ) ) and 
	( ( @FACTURADECOMPRA_FECHAFACTURA_HASTA is null ) OR ( c_FACTURADECOMPRA.FFCHFAC <= @FACTURADECOMPRA_FECHAFACTURA_HASTA ) )

union all 

select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_facturadecompra.codigo, 38, ' ' ) as varchar( 46 ) ) as FACTURADECOMPRA__Grupo,
	@basededatos as FACTURADECOMPRA__BD,

	c_FACTURADECOMPRA.CODIGO as FACTURADECOMPRA_CODIGO,
	cast( funciones.identificadordecomprobantecomprasparalistado(c_facturadecompra.facttipo, c_facturadecompra.fletra, c_facturadecompra.fptoven, c_facturadecompra.fptovenext, c_facturadecompra.fnumcomp) as varchar( 24 ) ) as FACTURADECOMPRA_XComprobante,
	cast( funciones.obteneridentificadordecomprobante(c_facturadecompra.facttipo) as varchar( 3 ) ) as FACTURADECOMPRA_FACTTIPO,
	c_FACTURADECOMPRA.FLETRA as FACTURADECOMPRA_FLETRA,
	cast( funciones.padl(c_facturadecompra.fptovenext, 5, '0') as numeric( 5, 0 ) ) as FACTURADECOMPRA_FPTOVENEXT,
	cast( funciones.padl(c_facturadecompra.fnumcomp, 8, '0') as numeric( 8, 0 ) ) as FACTURADECOMPRA_FNUMCOMP,
	case when c_facturadecompra.ffchvenc = '01/01/1900 00:00:00' then null else c_facturadecompra.ffchvenc end as FACTURADECOMPRA_FFCHVENC,
	c_FACTURADECOMPRA.FPERSON as FACTURADECOMPRA_FPERSON,
	C_PROVEEDOR.CLNOM as PROVEEDOR_CLNOM,
	case when c_facturadecompra.ffch = '01/01/1900 00:00:00' then null else c_facturadecompra.ffch end as FACTURADECOMPRA_FFCH,
	C_PROVEEDOR.CLCUIT as PROVEEDOR_CLCUIT,
	C_SITUACIONFISCAL.DESCRIP as FACTURADECOMPRA_DESSITFISCAL,
	cast( c_facturadecompra.signomov*c_facturadecompra.fsubton*-1 as numeric( 15, 4 ) ) as FACTURADECOMPRA_fSubToN,
	C_SITUACIONFISCAL.DESCRIP as SITUACIONFISCAL_DESCRIP,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoNoGrav,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_IvaInscripto,
	cast( 0.00 as numeric( 5, 2 ) ) as FACTURADECOMPRA_PORCENTAJEDEIVA,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoDeIva,
	cast( c_facturadecompra.signomov*c_facturadecompra.totimpue*-1 as numeric( 15, 4 ) ) as FACTURADECOMPRA_totimpue,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_PerRetIva,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_Otros,
	c_FACTURADECOMPRA.SIGNOMOV as FACTURADECOMPRA_SIGNOMOV,
	cast( c_facturadecompra.signomov*c_facturadecompra.ftotal*-1 as numeric( 15, 4 ) ) as FACTURADECOMPRA_FTotal,
	case when c_facturadecompra.ffchfac = '01/01/1900 00:00:00' then null else c_facturadecompra.ffchfac end as FACTURADECOMPRA_FFCHFAC,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoGrav,
	cast( 0.00 as numeric( 5, 2 ) ) as FACTURADECOMPRA_PORCENTAJEIVAPARATOTAL,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoIvaParaTotal,
	cast( funciones.padl(c_facturadecompra.fptoven, 4, '0') as numeric( 4, 0 ) ) as FACTURADECOMPRA_FPTOVEN,
	cast( 0 as numeric( 15, 4 ) ) as FACTURADECOMPRA_TotalPorAlicuota,
	c_FACTURADECOMPRA.FOBS as FACTURADECOMPRA_FObs,
	C_PROVEEDOR.CLIVA as PROVEEDOR_CLIVA,
	C_PROVEEDOR.CLCOD as PROVEEDOR_CLCOD,
	C_SITUACIONFISCAL.CODIGO as SITUACIONFISCAL_CODIGO,
	C_FACTURADECOMPRA.TcRG1361 as FACTURADECOMPRA_TcRG1361	
 from ZooLogic.NDCOMPRA as c_FACTURADECOMPRA
 	left join ZooLogic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = c_FACTURADECOMPRA.FPERSON and 0 = Funciones.empty( c_FACTURADECOMPRA.FPERSON )
 	left join ORGANIZACION.SITFISCAL as C_SITUACIONFISCAL on C_SITUACIONFISCAL.CODIGO = C_FACTURADECOMPRA.SITFISCPRO and 0 = Funciones.empty( C_PROVEEDOR.CLIVA )
 where ( not 1 = funciones.empty( c_facturadecompra.codigo ) ) and 
    ( ( @FACTURADECOMPRA_LETRA_DESDE is null ) OR ( c_FACTURADECOMPRA.FLETRA >= @FACTURADECOMPRA_LETRA_DESDE ) ) and 
	( ( @FACTURADECOMPRA_LETRA_HASTA is null ) OR ( c_FACTURADECOMPRA.FLETRA <= @FACTURADECOMPRA_LETRA_HASTA ) ) and 
	( ( @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_DESDE is null ) OR ( c_FACTURADECOMPRA.FPTOVENEXT >= @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_DESDE ) ) and 
	( ( @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_HASTA is null ) OR ( c_FACTURADECOMPRA.FPTOVENEXT <= @FACTURADECOMPRA_PUNTODEVENTAEXTENDIDO_HASTA ) ) and 
	( ( @FACTURADECOMPRA_NUMERO_DESDE is null ) OR ( c_FACTURADECOMPRA.FNUMCOMP >= @FACTURADECOMPRA_NUMERO_DESDE ) ) and 
	( ( @FACTURADECOMPRA_NUMERO_HASTA is null ) OR ( c_FACTURADECOMPRA.FNUMCOMP <= @FACTURADECOMPRA_NUMERO_HASTA ) ) and 
	( ( @FACTURADECOMPRA_PROVEEDOR_DESDE is null ) OR ( c_FACTURADECOMPRA.FPerson >= @FACTURADECOMPRA_PROVEEDOR_DESDE ) ) and 
	( ( @FACTURADECOMPRA_PROVEEDOR_HASTA is null ) OR ( c_FACTURADECOMPRA.FPerson <= @FACTURADECOMPRA_PROVEEDOR_HASTA ) ) and 
	( ( @FACTURADECOMPRA_FECHA_DESDE is null ) OR ( c_FACTURADECOMPRA.FFCH >= @FACTURADECOMPRA_FECHA_DESDE ) ) and 
	( ( @FACTURADECOMPRA_FECHA_HASTA is null ) OR ( c_FACTURADECOMPRA.FFCH <= @FACTURADECOMPRA_FECHA_HASTA ) ) and 
	( ( @FACTURADECOMPRA_TIPOCOMPROBANTE is null ) OR ( ( c_FACTURADECOMPRA.FACTTIPO = case when @FACTURADECOMPRA_TIPOCOMPROBANTE in ( '91', '92', '93', '-1', '-2', '-3', '-4','11' ) then 9 else 0 end ) ) and
    (((c_FACTURADECOMPRA.TCRG1361 = case 
            when @FACTURADECOMPRA_TIPOCOMPROBANTE in ( '91', '92', '93' ) then cast(right( @FACTURADECOMPRA_TIPOCOMPROBANTE, 1) as numeric(1,0) ) 
            when @FACTURADECOMPRA_TIPOCOMPROBANTE in ( '-2', '-3', '-4' )   then cast(right( @FACTURADECOMPRA_TIPOCOMPROBANTE, 1) as numeric(1,0) ) - 1   
     end ) )
	  or case when  @FACTURADECOMPRA_TIPOCOMPROBANTE = '11' and c_FACTURADECOMPRA.TCRG1361 in ('1', '2','3') then 1 else 0 end =1) ) and 
	( ( @FACTURADECOMPRA_FECHAVENCIMIENTO_DESDE is null ) OR ( c_FACTURADECOMPRA.FFCHVENC >= @FACTURADECOMPRA_FECHAVENCIMIENTO_DESDE ) ) and 
	( ( @FACTURADECOMPRA_FECHAVENCIMIENTO_HASTA is null ) OR ( c_FACTURADECOMPRA.FFCHVENC <= @FACTURADECOMPRA_FECHAVENCIMIENTO_HASTA ) ) and
	( ( @FACTURADECOMPRA_FECHAFACTURA_DESDE is null ) OR ( c_FACTURADECOMPRA.FFCHFAC >= @FACTURADECOMPRA_FECHAFACTURA_DESDE ) ) and 
	( ( @FACTURADECOMPRA_FECHAFACTURA_HASTA is null ) OR ( c_FACTURADECOMPRA.FFCHFAC <= @FACTURADECOMPRA_FECHAFACTURA_HASTA ) )
	
	
union all

select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_facturadecompra.codigo, 38, ' ' ) as varchar( 46 ) ) as FACTURADECOMPRA__Grupo,
	@basededatos as FACTURADECOMPRA__BD,

	c_FACTURADECOMPRA.CODIGO as FACTURADECOMPRA_CODIGO,
	'LIQ ' + case when c_facturadecompra.PTOVENTA > 0 then Funciones.padl( cast( c_facturadecompra.PTOVENTA as varchar(4) ), 4, '0' ) + '-' else '0000-' end +
	   Funciones.padl( cast( c_facturadecompra.NROLIQ as varchar(15) ), 15, '0' )  as FACTURADECOMPRA_XCOMPROBANTE,
	'LIQ' as FACTURADECOMPRA_FACTTIPO,
	'' as FACTURADECOMPRA_FLETRA,
	cast( funciones.padl(0, 5, '0') as numeric( 4, 0 ) )  as FACTURADECOMPRA_FPTOVENEXT,
	cast( funciones.padl(0, 8, '0') as numeric( 8, 0 ) ) as FACTURADECOMPRA_FNUMCOMP,
	null as FACTURADECOMPRA_FFCHVENC,
	c_proveedor.CLCOD as FACTURADECOMPRA_FPERSON,
	C_PROVEEDOR.CLNOM as PROVEEDOR_CLNOM,
	case when c_facturadecompra.FECHALIQ = '01/01/1900 00:00:00' then null else c_facturadecompra.FECHALIQ end as FACTURADECOMPRA_FFCH,
	C_PROVEEDOR.CLCUIT as PROVEEDOR_CLCUIT,
	--cast( funciones.obtenerdescripciondesituacionfiscalsegunparametros(c_proveedor.cliva, 20) as varchar( 30 ) ) as FACTURADECOMPRA_DESSITFISCAL,
	C_SITUACIONFISCAL.DESCRIP as FACTURADECOMPRA_DESSITFISCAL,
	cast( c_facturadecompra.totalgrav *-1 as numeric(15,2) ) as FACTURADECOMPRA_FSUBTON,
	C_SITUACIONFISCAL.DESCRIP as SITUACIONFISCAL_DESCRIP,
	cast( c_facturadecompra.totalnogra *-1 as numeric(15,4) ) as FACTURADECOMPRA_MONTONOGRAV,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_IvaInscripto,
	cast( 0.00 as numeric( 5, 2 ) ) as FACTURADECOMPRA_PORCENTAJEDEIVA,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoDeIva,
	0.00 as FACTURADECOMPRA_TOTIMPUE,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_PerRetIva,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_Otros,
	-1.00 as FACTURADECOMPRA_SIGNOMOV,
	cast( c_facturadecompra.subtotal *-1 as numeric( 15, 4 ) ) as FACTURADECOMPRA_FTOTAL,
	case when c_facturadecompra.FECHALIQ = '01/01/1900 00:00:00' then null else c_facturadecompra.FECHALIQ end as FACTURADECOMPRA_FFCHFAC,
	cast( c_facturadecompra.totalgrav * -1 as numeric(15,4) ) as FACTURADECOMPRA_MONTOGRAV,
	cast( 0.00 as numeric( 5, 2 ) ) as FACTURADECOMPRA_PORCENTAJEIVAPARATOTAL,
	cast( 0.00 as numeric( 15, 4 ) ) as FACTURADECOMPRA_MontoIvaParaTotal,
	cast( funciones.padl(0, 4, '0') as numeric( 4, 0 ) ) as FACTURADECOMPRA_FPTOVEN,
	cast( 0 as numeric( 15, 4 ) ) as FACTURADECOMPRA_TotalPorAlicuota,
	c_FACTURADECOMPRA.OBS as FACTURADECOMPRA_FObs,
	C_PROVEEDOR.CLIVA *-1 as PROVEEDOR_CLIVA,
	C_PROVEEDOR.CLCOD as PROVEEDOR_CLCOD,
	C_SITUACIONFISCAL.CODIGO as SITUACIONFISCAL_CODIGO,
	cast( 0 as numeric ( 1 ) ) as FACTURADECOMPRA_TcRG1361
from zoologic.liqmensual as c_facturadecompra
left join ZooLogic.OPETAR as c_opetar on c_opetar.CODIGO = c_facturadecompra.OPERADORA 
left join ZooLogic.PROV as c_proveedor on c_proveedor.CLCOD = c_opetar.PROVEEDOR	
left join ORGANIZACION.SITFISCAL as C_SITUACIONFISCAL on C_SITUACIONFISCAL.CODIGO = C_PROVEEDOR.CLIVA and 0 = Funciones.empty( C_PROVEEDOR.CLIVA )
where ( not 1 = funciones.empty( c_facturadecompra.codigo ) ) and 
	( ( @FACTURADECOMPRA_NUMERO_DESDE is null ) OR ( c_FACTURADECOMPRA.NROLIQ >= @FACTURADECOMPRA_NUMERO_DESDE ) ) and 
	( ( @FACTURADECOMPRA_NUMERO_HASTA is null ) OR ( c_FACTURADECOMPRA.NROLIQ <= @FACTURADECOMPRA_NUMERO_HASTA ) ) and 
	( ( @FACTURADECOMPRA_FECHA_DESDE is null ) OR ( c_FACTURADECOMPRA.FECHALIQ >= @FACTURADECOMPRA_FECHA_DESDE ) ) and 
	( ( @FACTURADECOMPRA_FECHA_HASTA is null ) OR ( c_FACTURADECOMPRA.FECHALIQ <= @FACTURADECOMPRA_FECHA_HASTA ) ) and 
	( ( @FACTURADECOMPRA_TIPOCOMPROBANTE is null ) or @FACTURADECOMPRA_TIPOCOMPROBANTE = '0' ) ) 
