IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_EFlexware_Cabecera_Comprobantes]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_EFlexware_Cabecera_Comprobantes];
GO;

CREATE FUNCTION [Interfaces].[Datos_EFlexware_Cabecera_Comprobantes]
(
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@Zona varchar(4),
	@CausaEmision varchar(4),
	@TipoCliente varchar(4),
	@ActualizaStock bit,
	@BlanquearClienteB bit,
	@TipoDetalle int,
	@SeparaDescYRec bit, 
	@EsPedidoDeVentas bit,
	@InvertirSigno bit,
	@ExportarDescripAdicional1 bit,
	@GrupoEnCabecera varchar(12),
	@EsRemitoDeVentas bit,
	@CodVendedor varchar(4),
	@CodigoCondicionVentaCompEnCero varchar(3),
	@CodigoClienteCompEnCero varchar(6),
	@ExportarVacioCodigoAdicional1 bit,
	@Exportarrecfincomoconcep bit

	


)
RETURNS TABLE
AS
RETURN
(
	select DatosExpoAvanzados.TipoComprobante,
		DatosExpoAvanzados.Letra as LetraComprobante,
		DatosExpoAvanzados.PuntoVenta,
		DatosExpoAvanzados.NumeroComprobante as NumeroComprobanteDesde,
		'' as NumeroComprobanteHasta,
		DatosExpoAvanzados.Fecha as FechaComprobante,
		DatosExpoAvanzados.CodigoCliente,
		DatosExpoAvanzados.RazonSocialCliente,
		DatosExpoAvanzados.TipoDocumentoCliente,
		DatosExpoAvanzados.ProvinciaCliente,
		DatosExpoAvanzados.CondicionIVACliente,
		case when DatosExpoAvanzados.CondicionIVACliente = '3' then DatosExpoAvanzados.NumeroDocumentoCliente else DatosExpoAvanzados.CuitCliente end as NumeroDocumentoCliente,
		DatosExpoAvanzados.NumeroIIBBCliente,
		DatosExpoAvanzados.CodigoVendedor,
		DatosExpoAvanzados.Zona,
		
		--DatosExpoAvanzados.ClasificacionSecundariaCliente as ClasificacionCliente1,
		case when @ExportarVacioCodigoAdicional1 = 0 then DatosExpoAvanzados.ClasificacionSecundariaCliente else '' end as ClasificacionCliente1, -- campo16 (= campo33)

		case @EsRemitoDeVentas when 1 then DatosExpoAvanzados.CondicionDePago else DatosExpoAvanzados.CondicionVenta end as CondicionVenta,
		@CausaEmision as CausaEmision,
		DatosExpoAvanzados.FechaVencimiento,
		DatosExpoAvanzados.Total as TotalComprobante,
		case when DatosExpoAvanzados.ComprobanteAnulado = 'S' then '' else 'DC' end as CodigoDescuentoComercial,
		case when DatosExpoAvanzados.ComprobanteAnulado = 'S' then '' else 'DF' end as CodigoDescuentoFinanciero,
		'' as CodigoDescuentoAlPie,
		DatosExpoAvanzados.BDApertura as AperturaContable,
		@TipoCliente as TipoCliente,
		DatosExpoAvanzados.DireccionCliente as DireccionCliente,
		DatosExpoAvanzados.CodigoPostalCliente,
		DatosExpoAvanzados.LocalidadCliente,
		DatosExpoAvanzados.ClasificacionCliente as ClasificacionCliente2,
		'' as Mensaje,
		DatosExpoAvanzados.ComprobanteAnulado,
		DatosExpoAvanzados.ActualizaStock,
		------
		case when @ExportarDescripAdicional1 = 0 then DatosExpoAvanzados.ClasificacionSecundariaCliente else '' end as DescripcionClasificacionCliente1, -- campo 33
		-----
		DatosExpoAvanzados.ClasificacionCliente as DescripcionClasificacionCliente2,
		'' as DescripcionTipoCliente,
		'' as DescripcionZona,
		DatosExpoAvanzados.NombreVendedor,
		'' as ComprobantePreparado,
		case when @InvertirSigno = 1 then DatosExpoAvanzados.TasaDescuentoComercial1 * -1 else DatosExpoAvanzados.TasaDescuentoComercial1 end as TasaDescuentoComercial1,
		0.00 as TasaDescuentoComercial2,
		0.00 as TasaDescuentoComercial3,
		case when @InvertirSigno = 1 then DatosExpoAvanzados.TasaDescuentoFinanciero * -1 else DatosExpoAvanzados.TasaDescuentoFinanciero end as TasaDescuentoFinanciero,
		0.00 as TasaDescuentoVarioOAlPie,
		DatosExpoAvanzados.NumeroCAEoCAI as NumeroCAI,
		DatosExpoAvanzados.FechaVtoCAEoCAI as FechaVencimientoCAI,
		DatosExpoAvanzados.EsComprobanteFiscalYTieneCAE as ComprobanteFiscal,
		DatosExpoAvanzados.MailCliente,
		DatosExpoAvanzados.TelefonoCliente,
		DatosExpoAvanzados.FaxCliente,
		DatosExpoAvanzados.Observaciones as ContactoObservacion,
		'' as TipoOperacion,
		'' as NumeroCuota,
		'' as ImporteCuota,
		'' as ComprobanteEnCuotas,
		'' as MonedaComprobante,
		'' as TipoCambio,
		'' as Cotizacion,
		DatosExpoAvanzados.FechaEntrega,
		@GrupoEnCabecera as Grupo,
		'' as Proyecto,
		'' as ListaPrecios,
		'' as LugarEntrega,
		'' as MarcaAutorizacion
	from
		(
			select DatosExpoIntermedios.TipoComprobante,
			DatosExpoIntermedios.Letra,
			DatosExpoIntermedios.PuntoVenta,
			DatosExpoIntermedios.NumeroComprobante,
			DatosExpoIntermedios.Fecha,
			DatosExpoIntermedios.CodigoCliente,
			DatosExpoIntermedios.CondicionDePago,
			case when DatosExpoIntermedios.Anulado = 1 then 'ANULADA'
				when DatosExpoIntermedios.Total = 0 and  @CodigoClienteCompEnCero <> '' and DatosExpoIntermedios.RazonSocialCliente = '' then  'CLIENTE DEFAULT' 
				else DatosExpoIntermedios.RazonSocialCliente
				end as RazonSocialCliente,
			case when DatosExpoIntermedios.Total = 0 and DatosExpoIntermedios.CodigoCliente = '' then '05' else DatosExpoIntermedios.TipoDocumentoCliente end as TipoDocumentoCliente,
			DatosExpoIntermedios.ProvinciaCliente,
			case when DatosExpoIntermedios.Anulado = 1 and DatosExpoIntermedios.Letra = 'A' then '1'
				when DatosExpoIntermedios.Total = 0 and DatosExpoIntermedios.CodigoCliente = '' then '3'
				else cast(DatosExpoIntermedios.CondicionIVACliente as char(1))
				end as CondicionIVACliente,
			DatosExpoIntermedios.NumeroDocumentoCliente,
			DatosExpoIntermedios.CuitCliente,
			DatosExpoIntermedios.NumeroIIBBCliente,
			DatosExpoIntermedios.DireccionCliente,
			DatosExpoIntermedios.CodigoPostalCliente,
			DatosExpoIntermedios.LocalidadCliente,
			DatosExpoIntermedios.ClasificacionCliente,
			DatosExpoIntermedios.ClasificacionSecundariaCliente,
			case when DatosExpoIntermedios.Total = 0 and DatosExpoIntermedios.Vuelto = 0 then @CodigoCondicionVentaCompEnCero else DatosExpoIntermedios.CondicionDeVenta end as CondicionVenta,
			DatosExpoIntermedios.FechaVencimiento,
			DatosExpoIntermedios.Total,
			DatosExpoIntermedios.BDApertura,
			case when DatosExpoIntermedios.Anulado = 1 then 'S' else '' end as ComprobanteAnulado,
			case when @ActualizaStock = 1 and @TipoDetalle = 1 then 'S' else 'N' end as ActualizaStock,
			DatosExpoIntermedios.CodigoVendedor,
			DatosExpoIntermedios.NombreVendedor,
			case when @SeparaDescYRec = 1 then DatosExpoIntermedios.PorcentajeDescuentoGeneral else DatosExpoIntermedios.PorcentajeConciliadoDescYRec end as TasaDescuentoComercial1,
			case when @SeparaDescYRec = 1 then DatosExpoIntermedios.PorcentajeRecargoGeneral else 0 end as TasaDescuentoFinanciero,
			DatosExpoIntermedios.NumeroCAEoCAI,
			DatosExpoIntermedios.FechaVtoCAEoCAI,
			DatosExpoIntermedios.EsComprobanteFiscalYTieneCAE,
			DatosExpoIntermedios.MailCliente,
			DatosExpoIntermedios.TelefonoCliente,
			DatosExpoIntermedios.FaxCliente,
			DatosExpoIntermedios.Observaciones, 
			DatosExpoIntermedios.FechaEntrega,
			DatosExpoIntermedios.Zona
		from
			(
			select case @EsRemitoDeVentas when 1 then 'RT' else DatosExpoBasicos.TipoComprobante end as TipoComprobante,
				DatosExpoBasicos.Letra,
				DatosExpoBasicos.PuntoVenta,
				DatosExpoBasicos.NumeroComprobante,
				Funciones.dtos(DatosExpoBasicos.Fecha) as Fecha,
				DatosExpoBasicos.Anulado,
				DatosExpoBasicos.Total * DatosExpoBasicos.Signo as Total,
				DatosExpoBasicos.CondicionDePago,
				Funciones.EnterPorEspacio(DatosExpoBasicos.Observaciones) as Observaciones,
				case when DatosExpoBasicos.CantidadValoresCC = 0 then '' else Funciones.dtos(DatosExpoBasicos.Fecha) end as FechaVencimiento,
				DatosExpoBasicos.Vuelto,
				DatosExpoBasicos.CodigoCliente,
				DatosExpoBasicos.NumeroDocumentoCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '' else DatosExpoBasicos.RazonSocialCliente end as RazonSocialCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '05' else DatosExpoBasicos.TipoDocumentoCliente end as TipoDocumentoCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then 3 else DatosExpoBasicos.CondicionIVACliente end as CondicionIVACliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '0' else DatosExpoBasicos.CuitCliente end as CuitCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then 0 else DatosExpoBasicos.NumeroIIBBCliente end as NumeroIIBBCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '' else DatosExpoBasicos.ClasificacionCliente end as ClasificacionCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '' else DatosExpoBasicos.ClasificacionSecundariaCliente end as ClasificacionSecundariaCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '' else DatosExpoBasicos.MailCliente end as MailCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '' else DatosExpoBasicos.TelefonoCliente end as TelefonoCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '' else DatosExpoBasicos.FaxCliente end as FaxCliente,
				case when DatosExpoBasicos.CodigoCliente = '' or DatosExpoBasicos.ProvinciaCliente = '' then '1' else DatosExpoBasicos.ProvinciaCliente end as ProvinciaCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '' else DatosExpoBasicos.CodigoPostalCliente end as CodigoPostalCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '' else DatosExpoBasicos.LocalidadCliente end as LocalidadCliente,
				case when DatosExpoBasicos.CodigoCliente = '' then '' else Funciones.ObtenerDireccionCliente(DatosExpoBasicos.CalleCliente, DatosExpoBasicos.NumeroCliente, DatosExpoBasicos.PisoCliente, DatosExpoBasicos.DepartamentoCliente) end as DireccionCliente,
				case when DatosExpoBasicos.CantidadValoresCC > 0 then '2' else '1' end as CondicionDeVenta,
				left(DatosExpoBasicos.CodigoVendedor, 4) as CodigoVendedor,
				DatosExpoBasicos.NombreVendedor,
				case when DatosExpoBasicos.TieneSenia = 1 then 0 else DatosExpoBasicos.PorcentajeConciliadoDescYRec * DatosExpoBasicos.Signo end as PorcentajeConciliadoDescYRec,
				case when DatosExpoBasicos.TieneSenia = 1 then 0 else DatosExpoBasicos.PorcentajeDescuentoGeneral * DatosExpoBasicos.Signo end as PorcentajeDescuentoGeneral,
				case when DatosExpoBasicos.TieneSenia = 1 then 0 else DatosExpoBasicos.PorcentajeRecargoGeneral * DatosExpoBasicos.Signo end as PorcentajeRecargoGeneral,
				case when DatosExpoBasicos.TieneCAE = 1 then DatosExpoBasicos.NumeroCAE else DatosExpoBasicos.NumeroCAI end as NumeroCAEoCAI,
				case when DatosExpoBasicos.TieneCAE = 1 then DatosExpoBasicos.VencimientoCAE else DatosExpoBasicos.VencimientoCAI end as FechaVtoCAEoCAI,
				case when DatosExpoBasicos.EsComprobanteFiscal = 1 or DatosExpoBasicos.TieneCAE = 1 then 'S' else '' end as EsComprobanteFiscalYTieneCAE,
				DatosExpoBasicos.BDApertura,
				DatosExpoBasicos.FechaEntrega,
				DatosExpoBasicos.Zona
			from
				(
				select Comprobantes.FLetra as Letra,
					Comprobantes.FPtoVen as PuntoVenta,
					Comprobantes.FNumComp as NumeroComprobante,
					Comprobantes.FFch as Fecha,			
					Comprobantes.Anulado,
					Comprobantes.FTotal as Total,
					case when Comprobantes.FSubtoN = 0 then 0 else
					case when @Exportarrecfincomoconcep  = 0 then (Comprobantes.TotDescSI - abs(Comprobantes.TotRecarSI)) * 100 / Comprobantes.FSubtoN 
					else Comprobantes.TotDescSI  * 100 / Comprobantes.FSubtoN end
					end as PorcentajeConciliadoDescYRec,
					--case when Comprobantes.FSubtoN = 0 then 0 else (Comprobantes.TotDescSI - abs(Comprobantes.TotRecarSI)) * 100 / Comprobantes.FSubtoN end as PorcentajeConciliadoDescYRec,
					
					case when Comprobantes.FSubtoN = 0 then 0 else (Comprobantes.TotDescSI * 100) / Comprobantes.FSubtoN end as PorcentajeDescuentoGeneral,
					case when Comprobantes.FSubtoN = Comprobantes.TotDescSI
						 then 0 
						 else
							case when @Exportarrecfincomoconcep  = 0 
								then  (-abs(Comprobantes.TotRecarSI) * 100) / (Comprobantes.FSubtoN - Comprobantes.TotDescSI) 
								else 0 
							end 
					end as PorcentajeRecargoGeneral,
				--	case when Comprobantes.FSubtoN = Comprobantes.TotDescSI then 0 else (-abs(Comprobantes.TotRecarSI) * 100) / (Comprobantes.FSubtoN - Comprobantes.TotDescSI) end as PorcentajeRecargoGeneral,
					case when Comprobantes.FactTipo = 28 then 1 else 0 end as EsNCElectronica,
					case when Funciones.EsComprobanteNotaDeCredito(Comprobantes.FactTipo) = 1 then -1 else 1 end as Signo,
					Funciones.EsComprobanteFiscal(Comprobantes.FactTipo) as EsComprobanteFiscal,
					case when Comprobantes.Senia = '' then 0 else 1 end as TieneSenia,
					[Interfaces].[Auxiliar_EFlexware_CodigoCliente] (EFLEXCODIGOCLIENTE_valconv_bd.ValDest, EFLEXCODIGOCLIENTE_valconv_cl.ValDest, EFLEXCODIGOCLIENTE_cabconv.Accion,
						EFLEXCODIGOCLIENTE_cabconv.ValorDef, Comprobantes.FPerson, Comprobantes.FLetra, Comprobantes.FTotal, DetalleValores.Vuelto, DetalleValores.CantidadCC,
						@BlanquearClienteB, @CodigoClienteCompEnCero) as CodigoCliente,
					Funciones.alltrim(Comprobantes.FCliente) as RazonSocialCliente,
					Funciones.alltrim(Comprobantes.FObs) as Observaciones,
					case when Clientes.ClTipoDoc is null then '05'
						when Clientes.ClCuit <> '' then '01'
						when Clientes.ClTipoDoc = '' then '05'
						else Clientes.ClTipoDoc
						end as TipoDocumentoCliente,
					case when Clientes.ClIVA is null then 3 
						when Clientes.ClIVA = 12 then 4 
						when Clientes.ClIVA = 7 then 6
						else Clientes.ClIVA 
						end as CondicionIVACliente,
					Clientes.ClNroDoc as NumeroDocumentoCliente,
					case when Clientes.ClCuit is null or Clientes.ClCuit = '' then '0' else Funciones.alltrim(Clientes.ClCuit) end as CuitCliente,
					case when Clientes.ClNroIIBB is null then 0 else Clientes.ClNroIIBB end as NumeroIIBBCliente,
					case when Clientes.ClClas is null then '' else Funciones.alltrim(Clientes.ClClas) end as ClasificacionCliente,
					case when Clientes.ClSer is null or Clientes.ClSer = 0 then '' else Funciones.alltrim(Clientes.ClSer) end as ClasificacionSecundariaCliente,
					case when Clientes.ClCalle is null then '' else Funciones.alltrim(Clientes.ClCalle) end as CalleCliente,
					case when Clientes.ClNro is null or Clientes.ClNro = 0 then '' else cast(Clientes.ClNro as varchar(5)) end as NumeroCliente,
					case when Clientes.ClPiso is null then '' else Funciones.alltrim(Clientes.ClPiso) end as PisoCliente,
					case when Clientes.ClDepto is null then '' else Funciones.alltrim(Clientes.ClDepto) end as DepartamentoCliente,
					case when Clientes.ClCP is null then '' else Funciones.alltrim(Clientes.ClCP) end as CodigoPostalCliente,
					case when Clientes.ClLoc is null then '' else Funciones.alltrim(Clientes.ClLoc) end as LocalidadCliente,			
					case when Clientes.ClEmail is null then '' else Funciones.alltrim(Clientes.ClEmail) end as MailCliente,
					case when Clientes.ClTlf is null then '' else Funciones.alltrim(Clientes.ClTlf) end as TelefonoCliente,
					case when Clientes.ClFax is null then '' else Funciones.alltrim(Clientes.ClFax) end as FaxCliente,
					case when @EsPedidoDeVentas = 0  
						then case when VENDEDORVENTAS_valconv.ValDest is null 
							then case when VENDEDORVENTAS_cabconv.accion = 'DEF'
									then Funciones.alltrim(VENDEDORVENTAS_cabconv.ValorDef)
									else case when Comprobantes.FVen = '' then @CodVendedor else Funciones.alltrim(Comprobantes.FVen) end
								 end
							else Funciones.alltrim(VENDEDORVENTAS_valconv.ValDest)
							end	
						else  
							case when VENDEDORPEDIDOVENTAS_valconv.ValDest is null 
								then case when VENDEDORPEDIDOVENTAS_cabconv.accion = 'DEF'
										then Funciones.alltrim(VENDEDORPEDIDOVENTAS_cabconv.ValorDef)
										else Funciones.alltrim(Comprobantes.FVen)
									 end
								else Funciones.alltrim(VENDEDORPEDIDOVENTAS_valconv.ValDest)
							end	
						end as CodigoVendedor,
					case when @EsPedidoDeVentas = 0  
						then case when VENDEDORVENTAS_valconv.ValDest is null 
							then case when VENDEDORVENTAS_cabconv.accion = 'DEF'
									then Funciones.alltrim(VENDEDORVENTAS_cabconv.ValorDef)
									else case when Vendedores.ClNom is null or Comprobantes.FVen = '' then @CodVendedor else Funciones.alltrim(Vendedores.ClNom) end
									end
							else Funciones.alltrim(VENDEDORVENTAS_valconv.ValDest)
							end	
						else  
							case when VENDEDORPEDIDOVENTAS_valconv.ValDest is null 
								then case when VENDEDORPEDIDOVENTAS_cabconv.accion = 'DEF'
										then Funciones.alltrim(VENDEDORPEDIDOVENTAS_cabconv.ValorDef)
										else Funciones.alltrim(Vendedores.ClNom)
									 end
								else Funciones.alltrim(VENDEDORPEDIDOVENTAS_valconv.ValDest)
							end	
						end as NombreVendedor,
					case when CAE.Codigo is null then 0 else 1 end as TieneCAE,
					case when CAE.Numero is null then '' else CAE.Numero end as NumeroCAE,
					case when CAE.Fechavto is null then '' else Funciones.dtos(CAE.FechaVto) end as VencimientoCAE,
					case when Funciones.EsComprobanteFiscal(Comprobantes.FactTipo) = 0 and Comprobantes.CAI > 0 then 1 else 0 end as TieneCAI,
					case when Comprobantes.CAI <= 0 then '' else cast(Comprobantes.CAI as varchar(15)) end as NumeroCAI,
					case when Comprobantes.CAI <= 0 then '' else Funciones.dtos(Comprobantes.VtoCAI) end as VencimientoCAI,
					case when DetalleValores.CantidadCC is null then 0 else DetalleValores.CantidadCC end as CantidadValoresCC,
					case when DetalleValores.Vuelto is null then 0 else DetalleValores.Vuelto end as Vuelto,
					case when EFLEXCOMPROBANTES_valconv.ValDest is null then cast(Comprobantes.FactTipo as varchar(2)) else EFLEXCOMPROBANTES_valconv.ValDest end as TipoComprobante,
					case when EFLEXCODIGOZONAPORBD_valconv.ValDest is null then @Zona else cast(EFLEXCODIGOZONAPORBD_valconv.ValDest as varchar(3)) end as Zona,
					case when EFLEXWARECONVERSIONPROVINCIAS_valconv.ValDest is null then EFLEXWARECONVERSIONPROVINCIAS_cabconv.Valordef else EFLEXWARECONVERSIONPROVINCIAS_valconv.ValDest end as ProvinciaCliente,
					case when APERTURA_valconv.ValDest is null then APERTURA_cabconv.Valordef else APERTURA_valconv.ValDest end as BDApertura, 
					case when @EsPedidoDeVentas = 1 then Funciones.dtos(Comprobantes.Ffchent) else '' end as FechaEntrega,
					case when CONDICIONDEPAGOREMITO_VALCONV.VALDEST IS NULL then
							  case when  Comprobantes.fpago = '' then '1' else Comprobantes.fpago end else CONDICIONDEPAGOREMITO_valconv.VALDEST end as CondicionDePago 
				from [ZooLogic].[ComprobanteV] as Comprobantes
					left join [ZooLogic].[Cli] as Clientes on Comprobantes.FPerson = Clientes.ClCod
					left join [ZooLogic].[Ven] as Vendedores on Comprobantes.FVen = Vendedores.ClCod
					left join [ZooLogic].[CAE] as CAE on Comprobantes.Codigo = CAE.Codigo and Funciones.EsComprobanteElectronico(Comprobantes.FactTipo) = 1
					left join (
						select Valores.JjNum as CodigoComprobante,
							sum(case when Valores.JjT = 6 then 1 else 0 end) as CantidadCC,
							sum(case when Valores.EsVuelto = 1 then round(abs(Valores.RecPesos), 2) else 0 end) as Vuelto
						from [ZooLogic].[Val] as Valores
						group by Valores.JjNum
						) as DetalleValores on Comprobantes.Codigo = DetalleValores.CodigoComprobante
					left join [Organizacion].[ConverVal] as EFLEXCOMPROBANTES_valconv on EFLEXCOMPROBANTES_valconv.Conversion = 'EFLEXCOMPROBANTES' and EFLEXCOMPROBANTES_valconv.ValOrig = cast(Comprobantes.FactTipo as varchar(2))
					left join [Organizacion].[Conver] as EFLEXWARECONVERSIONPROVINCIAS_cabconv on EFLEXWARECONVERSIONPROVINCIAS_cabconv.Codigo = 'EFLEXWARECONVERSIONPROVINCIAS'
					left join [Organizacion].[ConverVal] as EFLEXWARECONVERSIONPROVINCIAS_valconv on EFLEXWARECONVERSIONPROVINCIAS_cabconv.Codigo = EFLEXWARECONVERSIONPROVINCIAS_valconv.Conversion and EFLEXWARECONVERSIONPROVINCIAS_valconv.ValOrig = Clientes.ClPrv
					left join [Organizacion].[ConverVal] as EFLEXCODIGOZONAPORBD_valconv on EFLEXCODIGOZONAPORBD_valconv.Conversion = 'EFLEXCODIGOZONAPORBD' and EFLEXCODIGOZONAPORBD_valconv.VALORIG = Comprobantes.BDAltaFW
					left join [Organizacion].[Conver] as APERTURA_cabconv on APERTURA_cabconv.Codigo = 'APERTURA'
					left join [Organizacion].[ConverVal] as APERTURA_valconv on APERTURA_cabconv.Codigo = APERTURA_valconv.Conversion and APERTURA_valconv.ValOrig = Comprobantes.BDAltaFW
					left join [Organizacion].[Conver] as EFLEXCODIGOCLIENTE_cabconv on EFLEXCODIGOCLIENTE_cabconv.Codigo = 'EFLEXCODIGOCLIENTE'
					left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_cl on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_cl.Conversion and EFLEXCODIGOCLIENTE_valconv_cl.ValOrig = Comprobantes.FPerson
					left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_bd on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_bd.Conversion and EFLEXCODIGOCLIENTE_valconv_bd.ValOrig = Comprobantes.BDAltaFW
					left join [Organizacion].[Conver] as VENDEDORVENTAS_cabconv on VENDEDORVENTAS_cabconv.Codigo = 'EFLEXCODIGOVENDEDORVENTAS'
					left join [Organizacion].[ConverVal] as VENDEDORVENTAS_valconv on VENDEDORVENTAS_cabconv.Codigo = VENDEDORVENTAS_valconv.Conversion and VENDEDORVENTAS_valconv.ValOrig = Comprobantes.FVen
					left join [Organizacion].[Conver] as VENDEDORPEDIDOVENTAS_cabconv on VENDEDORPEDIDOVENTAS_cabconv.Codigo = 'EFLEXCODIGOVENDEDORPEDIDOVENTAS'
					left join [Organizacion].[ConverVal] as VENDEDORPEDIDOVENTAS_valconv on VENDEDORPEDIDOVENTAS_cabconv.Codigo = VENDEDORPEDIDOVENTAS_valconv.Conversion and VENDEDORPEDIDOVENTAS_valconv.ValOrig = Comprobantes.FVen
					left join [Organizacion].[Conver] as CONDICIONDEPAGOREMITO_cabconv on CONDICIONDEPAGOREMITO_cabconv.Codigo = 'EFLEXCONDICIONDEPAGOREMITO'
					left join [Organizacion].[ConverVal] as CONDICIONDEPAGOREMITO_valconv on CONDICIONDEPAGOREMITO_cabconv.Codigo = CONDICIONDEPAGOREMITO_valconv.Conversion and CONDICIONDEPAGOREMITO_valconv.ValOrig = Comprobantes.FPAGO

				where (( @EsPedidoDeVentas = 0 and @EsRemitoDeVentas = 0 and Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49, 54, 55, 56) or (@EsPedidoDeVentas = 1 and Comprobantes.FactTipo = 23) or (@EsRemitoDeVentas = 1 and Comprobantes.FACTTIPO = 11 ))) 
					and Comprobantes.FLetra between @LetraDesde and @LetraHasta
					and Comprobantes.FPtoVen between @PuntoVentaDesde and @PuntoVentaHasta
					and Comprobantes.FNumComp between @NumeroComprobanteDesde and @NumeroComprobanteHasta
					and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
					and Comprobantes.FecExpo between @FechaExportacionDesde and @FechaExportacionHasta
				) as DatosExpoBasicos
			) as DatosExpoIntermedios
		) as DatosExpoAvanzados
)