IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerUltimoComprobanteAfectadoOAfectante]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerUltimoComprobanteAfectadoOAfectante];
GO;

CREATE FUNCTION [Funciones].[ObtenerUltimoComprobanteAfectadoOAfectante]
( 
	@Comprobante varchar(50),
	@Tipo bit
)
RETURNS varchar (20)
AS
BEGIN

	declare @retorno varchar (20)
	set @retorno = 
		case @tipo when 0 then
		(
			select top 1 
				case when AFETIPOCOM in (8,9,10,30,38,40) 
					then Funciones.IdentificadorDeComprobanteComprasParaListado(AFETIPOCOM, AFELETRA, AFEPTOVEN, AFEPTOVEN, AFENUMCOM)
					else Funciones.IdentificadorDeComprobanteParaListado(AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM)
				end
			from zoologic.compafe where codigo = @Comprobante and afetipo = 'afectante' order by nroitem desc
		)
		else
		(
			select top 1
				case when AFETIPOCOM in (8,9,10,30,38,40) 
					then Funciones.IdentificadorDeComprobanteComprasParaListado(AFETIPOCOM, AFELETRA, AFEPTOVEN, AFEPTOVEN, AFENUMCOM)
					else Funciones.IdentificadorDeComprobanteParaListado(AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM)
				end
			from zoologic.compafe where codigo = @Comprobante and afetipo = 'afectado' order by nroitem desc
		)
		end

	return coalesce( @retorno, '' )

END