IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerStockPedidoPorArticuloCombinacion]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerStockPedidoPorArticuloCombinacion];
GO;



Create FUNCTION [Funciones].[ObtenerStockPedidoPorArticuloCombinacion]
(
    @P_ARTICULO Varchar( 25 ), 
    @P_CCOLOR Varchar( 16 ), 
    @P_TALLE Varchar( 15 ),
	@P_BuscaTipoStock Varchar(2)

 )
RETURNS numeric
AS
BEGIN
	DECLARE @retorno numeric (16,3)
    set @P_ARTICULO = rtrim( @P_ARTICULO );
    set @P_CCOLOR = rtrim( coalesce( @P_CCOLOR, '' ) );
    set @P_TALLE = rtrim( coalesce( @P_TALLE, '' ) );
  
  

declare @datos table(
coart varchar(max),
cocol varchar(max),
talle varchar(max),
cocant numeric(16,3),
compvta numeric(12,2),
compdisp numeric(12,2)
)

insert into @datos (coart,cocol,talle,cocant,compvta,compdisp)
SELECT    COALESCE (tc.COART, ar.ARTCOD) AS COART, COALESCE (tc.COCOL, '') AS COCOL, COALESCE (tc.TALLE, '') AS TALLE, 
ISNULL(tc.COCANT,0)COCANT,coalesce( vta.AFESALDO, 0.0 ) COMPVTA,ISNULL(tc.COCANT,0) - Coalesce( vta.AFESALDO, 0.0 ) AS COMPDISP

	from
		(
			select 
				ARTCOD
				, ARTDES
				, CATEARTI
				, CLASIFART
				, FAMILIA
				, GRUPO
				, LINEA
				, MAT
				, ATEMPORADA
				, TIPOARTI
				, ARTFAB
				, UNIMED
				,coalesce( art.PALCOL, grp.PALCOL ) PALCOL
				,coalesce( art.CURTALL, grp.CURTALL ) CURTALL
				, ARTNARBA
				, ASTOCK
				, BLOQREG
			from ZooLogic.ART art
			left join [ZooLogic].[GRUPO] grp on grp.COD = art.GRUPO 
			where art.ARTCOD = @P_ARTICULO 
		) ar
		left join (
					select
						row_number() over( partition by COART, COCOL, TALLE order by COCOD desc ) Prioridad
						, COART, COCOL, TALLE, COCOD, CORIG, CORIGPEDCO, CORIGPEDID, CORIGPRESU, DESCFW, COCANT, ENTRANSITO, PEDCOMP, PEDIDO, PRESUPUEST, MAXREPO, MINREPO, BDALTAFW, BDMODIFW, ESTTRANS, FALTAFW, FECEXPO, FECIMPO, FMODIFW, FECTRANS, HALTAFW, HORAEXPO, HORAIMPO, HMODIFW, SALTAFW, SMODIFW, UALTAFW, UMODIFW, VALTAFW, VMODIFW, ZADSFW, CORIGSENIA, SENIADO, PREPARADO
					from
						(
						select COART, COCOL, TALLE, COCOD, CORIG, CORIGPEDCO, CORIGPEDID, CORIGPRESU, DESCFW, COCANT, ENTRANSITO, PEDCOMP, PEDIDO, PRESUPUEST, MAXREPO, MINREPO, BDALTAFW, BDMODIFW, ESTTRANS, case when faltafw = '01/01/1900 00:00:00' then null else faltafw end as FALTAFW, case when fecexpo = '01/01/1900 00:00:00' then null else fecexpo end as FECEXPO, case when fecimpo = '01/01/1900 00:00:00' then null else fecimpo end as FECIMPO, case when fmodifw = '01/01/1900 00:00:00' then null else fmodifw end as FMODIFW, case when fectrans = '01/01/1900 00:00:00' then null else fectrans end as FECTRANS, HALTAFW, HORAEXPO, HORAIMPO, HMODIFW, SALTAFW, SMODIFW, UALTAFW, UMODIFW, VALTAFW, VMODIFW, cast( ZADSFW as varchar(max)) ZADSFW, CORIGSENIA, SENIADO, PREPARADO from ZooLogic.COMB
						) cmb
				) tc on  ar.ARTCOD = tc.COART and tc.Prioridad = 1  
		left join [ZooLogic].[DCTALLE] dc on dc.CODIGO = ar.CURTALL and dc.CODTALL = tc.TALLE
		left join [ZooLogic].[DPCOLOR] as dp on dp.CODIGO = ar.PALCOL and dp.CODCOL = tc.COCOL
		LEFT JOIN (
					select det.FART, det.CCOLOR, det.TALLE, sum( det.AFESALDO ) AFESALDO 
					from ( select CODIGO, FART, CCOLOR, TALLE, AFESALDO from Zoologic.COMPROBANTEVDET where AFESALDO > 0 ) as det 
						inner join ( select CODIGO from ZooLogic.COMPROBANTEV where FACTTIPO = 23 ) as cab on det.CODIGO = cab.CODIGO
					group by det.FART, det.CCOLOR, det.TALLE
					) vta ON tc.COART = vta.FART AND tc.COCOL = vta.CCOLOR	AND tc.TALLE = vta.TALLE
		LEFT JOIN (
					select det.FART, det.FCOLO, det.FTALL, sum( det.AFESALDO ) AFESALDO
					from Zoologic.PEDCOMPRADET as det
					where det.AFESALDO > 0
					group by det.FART, det.FCOLO, det.FTALL
				  ) cpr ON tc.COART = cpr.FART AND tc.COCOL = cpr.FCOLO AND tc.TALLE = CPR.FTALL

		if @P_BuscaTipoStock='1'  -- BUSCA cocant StockActualVirtual
			BEGIN
				set @retorno = (select  COCANT 	from @datos as VC where VC.COART	=@P_ARTICULO and VC.COCOL=@P_CCOLOR and VC.TALLE	=@P_TALLE)
			END
		ELSE   -- BUSCA COMPVTA StockComprometidoVirtual
			BEGIN
				if @P_BuscaTipoStock='2'
					BEGIN
						set @retorno = (select  compvta 	from @datos as VC where VC.COART	=@P_ARTICULO and VC.COCOL=@P_CCOLOR and VC.TALLE	=@P_TALLE)
					END
			else
					BEGIN
						set @retorno = (select  compdisp 	from @datos as VC where VC.COART	=@P_ARTICULO and VC.COCOL=@P_CCOLOR and VC.TALLE	=@P_TALLE)
					END
			END		

	return @retorno
end


