IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_ARCARG5705_IVASimpleDebitoFiscal]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_ARCARG5705_IVASimpleDebitoFiscal];
GO;

CREATE FUNCTION [interfaces].[Interfaz_ARCARG5705_IVASimpleDebitoFiscal]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@PtVtaDesde int,
	@PtVtaHasta int,
	@CompFiscal bit,
	@CompManual bit,
	@CompElectr bit
)
RETURNS TABLE
AS
RETURN
(
	select 
		'      ' as Actividad,
		'' as TipoOper,	
		cast( DatosExpo.SituacionFiscalCliente as char(1) ) as SitFisCli,
		cast( DatosExpo.CodigoAlicuota as char(1) ) as Alicuota,
		cast( DatosExpo.MontoNetoGravado as varchar(15) ) as NetoGrav, 
		cast( DatosExpo.DebitoFiscalFacturado as varchar(15) ) as DebitoFisc,
		'' as Dacion,
		cast( DatosExpo.MontoNetoExentoONoGrav as varchar(15) )  as Exento,
		DatosExpo.fart as Articulo -- para poder indicar en el mensaje de error, al validar la exportación si faltara alguna clasificación

	from ( 
		select 
			Cliente.ClCod, CLIENTE.CLNOM, CLIENTE.CLIVA, comprob.descfw,
			det.fart,
			--Funciones.ObtenerDatosIvaSimple( 1, Det.fart, @CodActividad ) as Actividad, -- 1: nro.actividad
			--Funciones.ObtenerDatosIvaSimple( 2, Det.fart, @CodActividad ) as TipoOper, -- 2: tipo oper débito fiscal (se resuelve desde fox)
		    CASE 
			    WHEN Cliente.ClIVA = 1 THEN 1		-- Operaciones con Responsables Inscriptos
				WHEN Cliente.ClIVA = 7 THEN 2		-- Operaciones con Monotributistas - Régimen Simplificado
				WHEN Comprob.Fperson = ''  then 3	-- Factura sin cliente asignado
				else 3								-- Operaciones con Consumidores Finales, Exentos y No Alcanzados
			END AS SituacionFiscalCliente,
			case 
				when Art.ARTPORIVA = 2.5 then 9	-- VER CONVERSIONVALORES 
				when Art.ARTPORIVA = 5.0 then 8
				when Art.ARTPORIVA = 10.5 then 4
				when Art.ARTPORIVA = 21.0 OR (Art.ARTPORIVA = 0.00 and Art.ARTCONIVA in (0, 1)) then 5 -- 21%   
				when Art.ARTPORIVA = 27.0 then 6								
				when Art.ARTPORIVA = 0.00 and ( Art.ARTCONIVA = 2 or Art.ARTCONIVA = 5 ) then 3 -- NO GRAVADO
			END as CodigoAlicuota,			
			cast( (Det.Fneto - Det.mntpdessi ) as numeric( 15, 2 ) )  as MontoNetoGravado, -- considerando dto gral
			cast( (Det.MNTPIVA ) as numeric( 15, 2 ) ) as DebitoFiscalFacturado, --  considerando dto gral
			cast( (Det.Fneto - Det.mntpdessi) as numeric(15,2 ) ) as MontoNetoExentoONoGrav

		from ZooLogic.ComprobanteVDet as Det
			left join [ZooLogic].COMPROBANTEV as Comprob on Comprob.codigo = Det.Codigo
			left join [ZooLogic].[Cli] as Cliente on Comprob.FPerson = Cliente.ClCod
			left join Zoologic.Art as Art on Det.FART = art.ARTCOD

		where case 
				when @CompFiscal = 1 and (Comprob.FactTipo in ( 2, 6 ) ) then 1
				when @CompManual = 1 and (Comprob.FactTipo in ( 1, 4, 47, 49 ) ) then 1 
				when @CompElectr = 1 and (Comprob.FactTipo in ( 27, 29, 33, 36, 54, 56 ) ) then 1 
				else 0
			  end = 1
			  and Comprob.Anulado = 0
			  and ( ( @FechaDesde is null ) or ( Comprob.FFch >= @FechaDesde ) ) 
			  and ( ( @FechaHasta is null ) or ( Comprob.FFch <= @FechaHasta ) )
			  and ( ( @PtVtaDesde is null ) or ( Comprob.FPTOVEN >= @PtVtaDesde ) ) 
			  and ( ( @PtVtaHasta is null ) or ( Comprob.FPTOVEN <= @PtVtaHasta ) )
		) as DatosExpo

)