IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[ObtenerImputacionesParaCentrosDeCostosPorConceptoPago]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[ObtenerImputacionesParaCentrosDeCostosPorConceptoPago];
GO;
Create function [Contabilidad].[ObtenerImputacionesParaCentrosDeCostosPorConceptoPago]
	( 
		@tblImpdirccc as Contabilidad.udt_TableType_Impdirccc ReadOnly
	)
	returns @imputaciones table
	(	cod char(15),
		CentroDeCosto varchar(20),
		DistribucionPorCentroDeCosto varchar(20)
	)
	as
	begin

		declare @CodAnterior char(15) = ''
		declare @Cod char(15) = ''
		Declare @CentroDeCosto varchar( 20 )
		Declare @DistribucionPorCentroDeCosto varchar( 20 )
		Declare @Importancia varchar( 40 )

		Declare cImpDir Cursor for
			select  entidad.codigo, 
					isnull( i.ccosto, '' ) CentroDeCosto,
					isnull( i.dccosto, '' ) DistribucionPorCentroDeCosto,
					isnull( replicate ('0',(10 - len(i.importanci))) + convert(varchar, i.importanci) + convert(char(8),i.FMODIFW,112) + i.HMODIFW, '' ) as Importancia
				from zoologic.concepago as entidad
					left join @tblImpdirccc i on    ( entidad.codigo between i.condesde and i.conhasta )
												and ( entidad.clasif between i.cladesde and i.clahasta )
				order by entidad.codigo, Importancia desc

		Open cImpDir
		Fetch Next From cImpDir Into @Cod, @CentroDeCosto, @DistribucionPorCentroDeCosto, @Importancia
		while @@FETCH_STATUS = 0
		begin
			if @Cod <> @CodAnterior
			begin
				Insert into @imputaciones ( Cod, CentroDeCosto, DistribucionPorCentroDeCosto )
				Select @Cod, @CentroDeCosto, @DistribucionPorCentroDeCosto
			end
			set @CodAnterior = @Cod
			Fetch Next From cImpDir Into @Cod, @CentroDeCosto, @DistribucionPorCentroDeCosto, @Importancia
		end
		close cImpDir
		Deallocate cImpDir

		return
	end
