IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIPRG4597_ComprasComprobantes]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIPRG4597_ComprasComprobantes];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIPRG4597_ComprasComprobantes]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@FechaEmisionDesde varchar(10),
	@FechaEmisionHasta varchar(10),
	@PtVtaDesde int,
	@PtVtaHasta int,
	@CompFiscal bit,
	@CompManual bit,
	@CompElectr bit,
	@CompDespacho bit,
	@CompLiqA bit,
	@CompLiqB bit,
	@CompServPubA bit,
	@CompServPubB bit,
	@CompReciboA bit,
	@CompReciboC bit,
	@ProrratearCreditoFiscalComputable varchar(1)
)
RETURNS TABLE
AS
RETURN
(
	select cast( Funciones.padl( cast( year( DatosExpo.FechaComprobante ) as varchar(4) ), 4, '0' ) as char(4) ) as AnioFecha,
		cast( Funciones.padl( cast( month( DatosExpo.FechaComprobante ) as varchar(2) ), 2, '0' ) as char(2) ) as MesFecha,
		cast( Funciones.padl( cast( day( DatosExpo.FechaComprobante ) as varchar(2) ), 2, '0' ) as char(2) ) as DiaFecha,
		cast( Funciones.padl( DatosExpo.TipoComprobante, 3, '0' ) as char(3) ) as TipoComp,
		cast( Funciones.padl( cast( DatosExpo.PuntoVenta as varchar(5) ), 5, '0' ) as char(5) ) as PtoVenta,
		cast( Funciones.padl( cast( DatosExpo.NumeroComprobante as varchar(20) ), 20, '0' ) as char(20) ) as NumCompD,
		cast( DatosExpo.DespachoImportacion as char(16) ) as DespImpo,
		cast( DatosExpo.TipoDocumento as char(2) ) as ProTipoDoc,
		cast( DatosExpo.NumeroDocumento as char(20) ) as ProNroDoc,
		cast( DatosExpo.NombreProveedor as char(30) ) as ProNombre,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.Total, 2, 15 ) as char(15) ) as Total,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( case when DatosExpo.LetraComprobante not in ( 'B', 'C' ) then DatosExpo.NetoNoGravado else 0 end, 2, 15 ) as char(15) ) as NetoNoGrav,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.OperacionesExentas, 2, 15 ) as char(15) ) as OpeExentas,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.PercepcionesIVA, 2 , 15 ) as char(15) ) as PercIVA,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.PercepcionesNacionales, 2 , 15 ) as char(15) ) as PercNacion,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.PercepcionesIIBB, 2, 15 ) as char(15) ) as PercIIBB,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.PercepcionesMunicipales, 2, 15 ) as char(15) ) as PercMunic,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.PercepcionesInternos, 2, 15 ) as char(15) ) as PercIntern,
		cast( Funciones.padl( DatosExpo.Moneda, 3, '0' ) as char(3) ) as Moneda,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.Cotizacion, 6, 10 ) as char(10) ) as Cotizacion,
		cast( case when DatosExpo.LetraComprobante in ( 'B', 'C' ) then 0 else DatosExpo.CantidadAlicuotas end as char(1) ) as CantAlic,
		cast( DatosExpo.CodigoOperacion as char(1) ) as CodOperac,		
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.CreditoFiscalComputable, 2, 15 ) as char(15) ) as CredFisCom,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.OtrosTributos, 2, 15 ) as char(15) ) as ImpuOtros,
		cast( DatosExpo.CUITEmisorCorredor as char(11) ) as CUITEmiCor,
		cast( DatosExpo.DenominacionEmisorCorredor as char(30) ) as DenoEmiCor,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.IVAComision, 2, 15 ) as char(15) ) as IVAComis,
		Codigo

	from ( 
				--> comprobantes de compra
		select Comprobante.FFchfac as FechaComprobante,
			case when Comprobante.TcRG1361 = 4 then 0 else ( case when Comprobante.FPtoVenExt = 0 then Comprobante.FPtoVen else Comprobante.FPtoVenExt end ) end as PuntoVenta,
			Comprobante.FLetra as LetraComprobante,
			case when Comprobante.TcRG1361 = 4 then 0 else Comprobante.FNumComp end as NumeroComprobante,
			Comprobante.FTotal as Total,
			Comprobante.Cotiz as Cotizacion,
			case when Comprobante.TcRG1361 in ( 4, 6, 7, 9, 10 ) then '80' else Interfaces.Auxiliar_AFIP3685_ObtenerTipoDocumentoProveedor( Comprobante.FCUIT, Proveedor.ClCUIT, Proveedor.ClNroDoc, case when ConvVDocu.ValDest is null then ConvCDocu.ValorDef else ConvVDocu.ValDest end ) end as TipoDocumento,
			Interfaces.Auxiliar_AFIP3685_ObtenerNumeroDocumentoProveedor( Comprobante.FCUIT, Proveedor.ClCUIT, Proveedor.ClNroDoc ) as NumeroDocumento,
			case when Proveedor.ClNom  is null then '' else Proveedor.ClNom end as NombreProveedor,
			--case when Comprobante.TcRG1361 > 3 and TipoComp.TipoCompOr is not null then TipoComp.TipoCompOr else ( case when ConvVTipo.ValDest is null then ConvCTipo.ValorDef else ConvVTipo.ValDest end ) end as TipoComprobante,
			-- no tenía conversión para n/c sin letra hasta 08/2022 =>
			case when Comprobante.TcRG1361 > 3 and TipoComp.TipoCompOr is not null then TipoComp.TipoCompOr 
			else ( case when ConvVTipo.ValDest is null then case when Funciones.Alltrim(ConvCTipo.ValorDef) = '' then 90 else ConvCTipo.ValorDef end  else ConvVTipo.ValDest end ) end as TipoComprobante,

			case when ConvVMone.ValDest is null then ConvCMone.ValorDef else ConvVMone.ValDest end as Moneda,
			case when Comprobante.TcRG1361 = 4 and ImpuesIVA.IVAMonNG is not null then ImpuesIVA.IVAMonNG else 0 end as OperacionesExentas,
			0 as PercepcionesMunicipales,
			case when Comprobante.TcRG1361 in ( 4, 6, 8, 10 ) or ImpuesIVA.IVAMonNG is null then 0 else ImpuesIVA.IVAMonNG end  as NetoNoGravado,
			case when Comprobante.TcRG1361 in ( 6, 8, 10 ) or ImpCompras.PercepcionesIVA is null then 0 else ImpCompras.PercepcionesIVA end as PercepcionesIVA,
			case when ImpCompras.PercepcionesNacionales is not null then ImpCompras.PercepcionesNacionales else 0 end as PercepcionesNacionales,
			case when ImpCompras.PercepcionesIIBB is not null then ImpCompras.PercepcionesIIBB else 0 end as PercepcionesIIBB,
			case when ImpCompras.PercepcionesInternos is not null then ImpCompras.PercepcionesInternos else 0 end as PercepcionesInternos,
			case when ImpCompras.OtrosTributos is not null then ImpCompras.OtrosTributos else 0 end as OtrosTributos,
			case when Comprobante.TcRG1361 in ( 6, 8, 10 ) or ImpuesIVA.CantidadAlicuotas is null then 0 else ImpuesIVA.CantidadAlicuotas - ImpuesIVA.CantidadAlicuotasEn0 end  as CantidadAlicuotas,
			case when Comprobante.TcRG1361 = 5 then SUBSTRING( Interfaces.Auxiliar_AFIP3685_ObtenerNumeroDocumentoProveedor( Comprobante.FCUIT, Proveedor.ClCUIT, Proveedor.ClNroDoc ),10,11 ) else '00000000000' end as CUITEmisorCorredor,
			case when Comprobante.TcRG1361 = 5 then Proveedor.ClNom else '' end as DenominacionEmisorCorredor,
			case when Comprobante.TcRG1361 = 4 then ( SUBSTRING( TipoComp.AnoDespa, 3,2 ) + Funciones.padl( Funciones.AllTrim ( TipoComp.CodAduana ), 3, '0' ) + TipoComp.TipoDestin + Funciones.padl( Funciones.AllTrim ( TipoComp.nroDespa ), 6, '0' ) + TipoComp.DigVerif ) else '' end as DespachoImportacion,
			case when Comprobante.TcRG1361 in ( 6, 8 ) or ImpuesIVA.CreditoFiscalComputable is null then 0 else (case when @ProrratearCreditoFiscalComputable = '0' then ImpuesIVA.CreditoFiscalComputable else 0 end) end  as CreditoFiscalComputable,
			case when Comprobante.TcRG1361 = 5 then	ImpuesIVA.CreditoFiscalComputable else 0 end as IVAComision,			
			case when Comprobante.TcRG1361 > 3 and TipoComp.CodOpe is not null then TipoComp.CodOpe else ( case when round( ( case when Comprobante.TcRG1361 in ( 4, 6, 8, 10 ) or ImpuesIVA.IVAMonNG is null then 0 else ImpuesIVA.IVAMonNG end ), 2 ) <> 0 then 'N' else ' ' end ) end as CodigoOperacion,
			Comprobante.CODIGO as Codigo,
			Comprobante.TcRG1361 as TcRG1361
		from (
				select Codigo, FFch, FFchfac, FPtoVen, FactTipo, FLetra, FNumComp, FTotal, Cotiz, FPerson, FCUIT, Anulado, Moneda, TCRG1361, FPtoVenExt
				from [ZooLogic].[FacCompra]
				union all
				select Codigo, FFch, FFchfac, FPtoVen, FactTipo, FLetra, FNumComp, FTotal, Cotiz, FPerson, FCUIT, Anulado, Moneda, TCRG1361, FPtoVenExt
				from [ZooLogic].[NCCompra]
				union all
				select Codigo, FFch, FFchfac, FPtoVen, FactTipo, FLetra, FNumComp, FTotal, Cotiz, FPerson, FCUIT, Anulado, Moneda, TCRG1361, FPtoVenExt
				from [ZooLogic].[NDCompra]
			) as Comprobante
			left join [ZooLogic].[Prov] as Proveedor on Comprobante.FPerson = Proveedor.ClCod
			left join (
				select ImpuesIVA.Codigo as Codigo,
					sum( case when ImpuesIVA.IVAPorcent = 0 then ImpuesIVA.IVAMonNG else 0 end ) as IVAMonNG,
					count( distinct ImpuesIVA.IVAPorcent ) as CantidadAlicuotas,
					sum( case when ImpuesIVA.IVAPorcent > 0 and ImpuesIVA.IVAMonto < 0.01 then 1 else 0 end ) as CantidadAlicuotasEn0,
					sum( case when ImpuesIVA.IvaMonto is not null then ImpuesIVA.IvaMonto else 0 end ) as CreditoFiscalComputable
				from (
					select Codigo, IVAPorcent, IVAMonNG, IVAMonto
					from [ZooLogic].[ImpFacComp]
					union all
					select Codigo, IVAPorcent, IVAMonNG, IVAMonto
					from [ZooLogic].[ImpNCComp]
					union all
					select Codigo, IVAPorcent, IVAMonNG, IVAMonto
					from [ZooLogic].[ImpNDComp]
					) as ImpuesIVA
				group by ImpuesIVA.Codigo
				) as ImpuesIVA on Comprobante.Codigo = ImpuesIVA.Codigo
			left join (
				select ImpCompras.CCod,
					sum( case when ImpCompras.Tipo = 'IVA' and ImpCompras.Aplicacion = 'PRC' then ImpCompras.Monto else 0 end ) as PercepcionesIVA,
					sum( case when ImpCompras.Tipo = 'GANANCIAS' and ImpCompras.Aplicacion = 'PRC' then ImpCompras.Monto else 0 end ) as PercepcionesNacionales,
					sum( case when ImpCompras.Tipo = 'IIBB' and ImpCompras.Aplicacion = 'PRC' then ImpCompras.Monto else 0 end ) as PercepcionesIIBB,
					sum( case when ImpCompras.Tipo = 'IMPINTERNO' then ImpCompras.Monto else 0 end ) as PercepcionesInternos,
					sum( case when not (( ImpCompras.Aplicacion = 'PRC' and ImpCompras.Tipo in ( 'IVA', 'GANANCIAS', 'IIBB' )) or ImpCompras.Tipo = 'IMPINTERNO') then ImpCompras.Monto else 0 end ) as OtrosTributos
				from (
					select ImpCompras.CCod as CCod,
						ImpCompras.CodImp as CodImp,
						ImpCompras.Monto as Monto,
						Impuestos.Tipo as Tipo,
						Impuestos.Aplicacion as Aplicacion
					from [ZooLogic].[ImpFacC] as ImpCompras
						left join [ZooLogic].[Impuesto] as Impuestos on ImpCompras.CodImp = Impuestos.Codigo
					union all
					select ImpCompras.CCod as CCod,
						ImpCompras.CodImp as CodImp,
						ImpCompras.Monto as Monto,
						Impuestos.Tipo as Tipo,
						Impuestos.Aplicacion as Aplicacion
					from [ZooLogic].[ImpNCC] as ImpCompras
						left join [ZooLogic].[Impuesto] as Impuestos on ImpCompras.CodImp = Impuestos.Codigo
					union all
					select ImpCompras.CCod as CCod,
						ImpCompras.CodImp as CodImp,
						ImpCompras.Monto as Monto,
						Impuestos.Tipo as Tipo,
						Impuestos.Aplicacion as Aplicacion
					from [ZooLogic].[ImpNDC] as ImpCompras
						left join [ZooLogic].[Impuesto] as Impuestos on ImpCompras.CodImp = Impuestos.Codigo
					) as ImpCompras
				group by ImpCompras.CCod 
				) as ImpCompras on Comprobante.Codigo = ImpCompras.CCod
			left join [Organizacion].[Conver] as ConvCTipo on ConvCTipo.Codigo = 'TIPOCOMPROBANTEAFIP'
			left join [Organizacion].[ConverVal] as ConvVTipo on ConvCTipo.Codigo = ConvVTipo.Conversion and ConvVTipo.ValOrig = cast( Comprobante.FactTipo as varchar(2) ) + case when Comprobante.TCRG1361 = 3 then 'T' else 'M' end + Comprobante.FLetra
			left join [Organizacion].[Conver] as ConvCDocu on ConvCDocu.Codigo = 'CODIGODOCUMENTO'
			left join [Organizacion].[ConverVal] as ConvVDocu on ConvCDocu.Codigo = ConvVDocu.Conversion and ConvVDocu.ValOrig = Proveedor.ClTipoDoc
			left join [Organizacion].[Conver] as ConvCMone on ConvCMone.Codigo = 'MONEDAAFIP'
			left join [Organizacion].[ConverVal] as ConvVMone on ConvCMone.Codigo = ConvVMone.Conversion and ConvVMone.ValOrig = Comprobante.Moneda
			left join [ZooLogic].[TipocompCom] as TipoComp on Comprobante.Codigo = TipoComp.CodigoCor
		where Comprobante.FactTipo in ( 8, 9, 10 ) and
			 case 
				when @CompFiscal = 1 and Comprobante.TCRG1361 = 3 then 1 
				when @CompManual = 1 and Comprobante.TCRG1361 = 1 then 1
				when @CompElectr = 1 and Comprobante.TCRG1361 = 2 then 1
				when @CompDespacho = 1 and Comprobante.TCRG1361 = 4 then 1
				when @CompLiqA = 1 and Comprobante.TCRG1361 = 5 then 1
				when @CompLiqB = 1 and Comprobante.TCRG1361 = 6 then 1
				when @CompServPubA = 1 and Comprobante.TCRG1361 = 7 then 1
				when @CompServPubB = 1 and Comprobante.TCRG1361 = 8 then 1
				when @CompReciboA = 1 and Comprobante.TCRG1361 = 9 then 1
				when @CompReciboC = 1 and Comprobante.TCRG1361 = 10 then 1
				else 0
			  end = 1
			  and Comprobante.Anulado = 0
			  and ( ( @FechaDesde is null ) or ( Comprobante.FFch >= @FechaDesde ) ) 
			  and ( ( @FechaHasta is null ) or ( Comprobante.FFch <= @FechaHasta ) )
			  and ( ( @FechaEmisionDesde is null ) or ( Comprobante.FFCHFAC >= @FechaEmisionDesde ) ) 
              and ( ( @FechaEmisionHasta is null ) or ( Comprobante.FFCHFAC <= @FechaEmisionHasta ) )
			  and ( ( @PtVtaDesde is null ) or ( Comprobante.FPTOVEN >= @PtVtaDesde ) ) 
			  and ( ( @PtVtaHasta is null ) or ( Comprobante.FPTOVEN <= @PtVtaHasta ) )

	union all
				--> liquidación de tarjetas
		select
			DatosLiquidacion.FechaComprobante as FechaComprobante,
			DatosLiquidacion.PuntoVenta as PuntoVenta,
			'A' as LetraComprobante,
			DatosLiquidacion.NumeroComprobante as NumeroComprobante,   
			DatosLiquidacion.NetoNoGravado + DatosLiquidacion.PercepcionesIVA + DatosLiquidacion.PercepcionesNacionales +
			  DatosLiquidacion.PercepcionesIIBB + DatosLiquidacion.PercepcionesInternos + DatosLiquidacion.OtrosTributos + 
			  DatosLiquidacion.IVANetoGravado + DatosLiquidacion.IVAMonto as Total,
			1 as Cotizacion,
			'80' as TipoDocumento,
			Funciones.padl( Funciones.Alltrim( DatosLiquidacion.NumeroDocumento ), 20, '0' ) as NumeroDocumento,
			DatosLiquidacion.NombreProveedor as NombreProveedor,
			'99' as TipoComprobante,
			DatosLiquidacion.Moneda as Moneda,
			0 as OperacionesExentas,
			0 as PercepcionesMunicipales,
			DatosLiquidacion.NetoNoGravado as NetoNoGravado,
			DatosLiquidacion.PercepcionesIVA as PercepcionesIVA,
			DatosLiquidacion.PercepcionesNacionales as PercepcionesNacionales,
			DatosLiquidacion.PercepcionesIIBB as PercepcionesIIBB,
			DatosLiquidacion.PercepcionesInternos as PercepcionesInternos,
			DatosLiquidacion.OtrosTributos as OtrosTributos,
			DatosLiquidacion.CantidadAlicuotas as CantidadAlicuotas,
			'00000000000' as CUITEmisorCorredor,
			'' as DenominacionEmisorCorredor,
			'' as DespachoImportacion,
			case when DatosLiquidacion.CreditoFiscalComputable is not null then DatosLiquidacion.CreditoFiscalComputable else 0 end as CreditoFiscalComputable,
			0 as IVAComision,
			case when round( DatosLiquidacion.NetoNoGravado, 2 ) <> 0 then 'N' else ' ' end as CodigoOperacion,
			Codigo,
			0 as TcRG1361
		from (

			select Liquidacion.FechaLiq as FechaComprobante,
				Liquidacion.PtoVenta as PuntoVenta,
				Liquidacion.NroLiq as NumeroComprobante,   
				case when Proveedor.ClCUIT  is null then '' else Proveedor.ClCUIT end as NumeroDocumento,
				case when Proveedor.ClNom  is null then '' else Proveedor.ClNom end as NombreProveedor,
				case when ConvVMone.ValDest is null then ConvCMone.ValorDef else ConvVMone.ValDest end as Moneda,
				case when ImpuesIVA.IVAMonNG is not null then ImpuesIVA.IVAMonNG else 0 end as NetoNoGravado,
				case when ImpCompras.PercepcionesIVA is not null then ImpCompras.PercepcionesIVA else 0 end as PercepcionesIVA,
				case when ImpCompras.PercepcionesNacionales is not null then ImpCompras.PercepcionesNacionales else 0 end as PercepcionesNacionales,
				case when ImpCompras.PercepcionesIIBB is not null then ImpCompras.PercepcionesIIBB else 0 end as PercepcionesIIBB,
				case when ImpCompras.PercepcionesInternos is not null then ImpCompras.PercepcionesInternos else 0 end as PercepcionesInternos,
				case when ImpCompras.OtrosTributos is not null then ImpCompras.OtrosTributos else 0 end as OtrosTributos,
				case when ImpuesIVA.CantidadAlicuotas is not null then ImpuesIVA.CantidadAlicuotas - ImpuesIVA.CantidadAlicuotasEn0 else 0 end as CantidadAlicuotas,
				case when ImpuesIVA.IVANetoGravado is not null then ImpuesIVA.IVANetoGravado else 0 end as IVANetoGravado,
				case when ImpuesIVA.IVAMonto is not null then ImpuesIVA.IVAMonto else 0 end as IVAMonto,
				ImpuesIVA.CreditoFiscalComputable as CreditoFiscalComputable,
				'' as Codigo
			from [ZooLogic].[LiqMensual] as Liquidacion
				left join [ZooLogic].[OPETAR] as Operadora on Liquidacion.Operadora = Operadora.Codigo
				left join [ZooLogic].[Prov] as Proveedor on Operadora.Proveedor = Proveedor.CLCOD
				left join (
					select ImpuesIVA.Codigo as Codigo,
						sum( case when ImpuesIVA.IVAPorcent = 0 then ImpuesIVA.IVAMonNG else 0 end ) as IVAMonNG,
						sum( case when ImpuesIVA.IVAPorcent <> 0 then ImpuesIVA.IVAMonNG else 0 end ) as IVANetoGravado,
						sum( case when ImpuesIVA.IVAPorcent <> 0 then ImpuesIVA.IVAMonto else 0 end ) as IVAMonto,
						count( distinct ImpuesIVA.IVAPorcent ) as CantidadAlicuotas,
						sum( case when ImpuesIVA.IVAPorcent > 0 and ImpuesIVA.IVAMonto < 0.01 then 1 else 0 end ) as CantidadAlicuotasEn0,
						sum( case when ImpuesIVA.IvaMonto is not null then ImpuesIVA.IvaMonto else 0 end ) as CreditoFiscalComputable
					from [ZooLogic].[ImpLiqMen] as ImpuesIVA
					group by ImpuesIVA.Codigo
					) as ImpuesIVA on Liquidacion.Codigo = ImpuesIVA.Codigo
				left join (
					select ImpCompras.CCod,
						sum( case when ImpCompras.Tipo = 'IVA' and ImpCompras.Aplicacion = 'PRC' then ImpCompras.Monto else 0 end ) as PercepcionesIVA,
						sum( case when ImpCompras.Tipo = 'GANANCIAS' and ImpCompras.Aplicacion = 'PRC' then ImpCompras.Monto else 0 end ) as PercepcionesNacionales,
						sum( case when ImpCompras.Tipo = 'IIBB' and ImpCompras.Aplicacion = 'PRC' then ImpCompras.Monto else 0 end ) as PercepcionesIIBB,
						sum( case when ImpCompras.Tipo = 'IMPINTERNO' then ImpCompras.Monto else 0 end ) as PercepcionesInternos,
						sum( case when not (( ImpCompras.Aplicacion = 'PRC' and ImpCompras.Tipo in ( 'IVA', 'GANANCIAS', 'IIBB' )) or ImpCompras.Tipo = 'IMPINTERNO') then ImpCompras.Monto else 0 end ) as OtrosTributos
					from (
						select ImpCompras.CCod as CCod,
							ImpCompras.Monto as Monto,
							Impuestos.Tipo as Tipo,
							Impuestos.Aplicacion as Aplicacion
						from [ZooLogic].[ImpLiqMenCom] as ImpCompras
							left join [ZooLogic].[Impuesto] as Impuestos on ImpCompras.CodImp = Impuestos.Codigo
						) as ImpCompras
					group by ImpCompras.CCod
					) as ImpCompras on Liquidacion.Codigo = ImpCompras.CCod
				left join [Organizacion].[Conver] as ConvCMone on ConvCMone.Codigo = 'MONEDAAFIP'
				left join [Organizacion].[ConverVal] as ConvVMone on ConvCMone.Codigo = ConvVMone.Conversion and ConvVMone.ValOrig = 'PESOS'
			where  
			      ( ( @FechaDesde is null ) or ( Liquidacion.FechaLiq >= @FechaDesde ) ) 
			  and ( ( @FechaHasta is null ) or ( Liquidacion.FechaLiq <= @FechaHasta ) )
			  and ( ( @PtVtaDesde is null ) or ( Liquidacion.PTOVENTA >= @PtVtaDesde ) ) 
			  and ( ( @PtVtaHasta is null ) or ( Liquidacion.PTOVENTA <= @PtVtaHasta ) )
			) as DatosLiquidacion

		) as DatosExpo
	where DatosExpo.TipoComprobante in ( 18, 64 ) or  DatosExpo.CantidadAlicuotas > 0 or datosexpo.TcRG1361 = 10
)