IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerCUITFormateadoConGuiones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerCUITFormateadoConGuiones];
GO;

CREATE FUNCTION [Funciones].[ObtenerCUITFormateadoConGuiones]( @fCuit varchar(20) )
returns varchar(20)
begin
	declare @retorno varchar(13)
	declare @Cuit varchar(20)
	
	set @Cuit =  rtrim(ltrim( @fCuit ))
	if len( @Cuit ) = 11 
		set @retorno = left( @Cuit, 2 ) + '-' + substring( @Cuit, 3, 8 ) + '-' + right( @Cuit, 1 ) 
	else
		begin
			if ( [Funciones].[Empty]( @Cuit ) = 1 )
				set @retorno = SPACE(13) 
			else 
				set @retorno = @Cuit
		end
	
	return @retorno
end