IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerFechaUltimaVentaPorArticuloCombinacion]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerFechaUltimaVentaPorArticuloCombinacion];
GO;

Create FUNCTION [Funciones].[ObtenerFechaUltimaVentaPorArticuloCombinacion]
(
    @P_ARTICULO Varchar( 25 ), 
    @P_CCOLOR Varchar( 16 ), 
    @P_TALLE Varchar( 15 ),
	@P_BUSCACOMBINACION Varchar(2)

 )
RETURNS date
AS
BEGIN
	DECLARE @retorno date
    set @P_ARTICULO = rtrim( @P_ARTICULO );
    set @P_CCOLOR = rtrim( coalesce( @P_CCOLOR, '' ) );
    set @P_TALLE = rtrim( coalesce( @P_TALLE, '' ) );
     
		if @P_BUSCACOMBINACION='2'
			BEGIN
				set @retorno = (
				select  top 1 C_COMPROBANTEv.FFCH fechaultimaventa
				from ZooLogic.COMPROBANTEVDET as C_COMPROBANTEVDET 
				left join ZooLogic.COMPROBANTEV as C_COMPROBANTEV ON c_COMPROBANTEVDET.CODIGO=C_COMPROBANTEV.codigo 
				where
				 C_COMPROBANTEV.FACTTIPO in (1,2,5,6,8,27,33,47,54)
				and c_COMPROBANTEVDET.fart	=@P_ARTICULO
				and C_COMPROBANTEVDET.CCOLOR=@P_CCOLOR
				and C_COMPROBANTEVDET.TALLE	=@P_TALLE
				order by C_COMPROBANTEv.FFCH  desc
				)
			END
		ELSE   -- BUSCA SOLO POR ARTICULO
			BEGIN
				set @retorno = (
				select  top 1 C_COMPROBANTEv.FFCH fechaultimaventa
				from ZooLogic.COMPROBANTEVDET as C_COMPROBANTEVDET 
				left join ZooLogic.COMPROBANTEV as C_COMPROBANTEV ON c_COMPROBANTEVDET.CODIGO=C_COMPROBANTEV.codigo 
				where
				 C_COMPROBANTEV.FACTTIPO in (1,2,5,6,8,27,33,47,54)
				and c_COMPROBANTEVDET.fart	=@P_ARTICULO
				order by C_COMPROBANTEv.FFCH  desc
				)
			END		
  
	return @retorno
end
