IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[GENERICO_ORDENDEPRODUCCION_ITEMORDENCURVA_ITEMORDENCURVA]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Listados].[GENERICO_ORDENDEPRODUCCION_ITEMORDENCURVA_ITEMORDENCURVA];
GO;

CREATE FUNCTION [Listados].[GENERICO_ORDENDEPRODUCCION_ITEMORDENCURVA_ITEMORDENCURVA]
( @BaseDeDatos varchar(8),
	@ITEMORDENCURVA_PRODUCTO_DESDE varchar(15),
	@ITEMORDENCURVA_PRODUCTO_HASTA varchar(15),
	@ITEMORDENCURVA_PRODUCTODETALLE_DESDE varchar(100),
	@ITEMORDENCURVA_PRODUCTODETALLE_HASTA varchar(100),
	@ITEMORDENCURVA_COLOR_DESDE varchar(6),
	@ITEMORDENCURVA_COLOR_HASTA varchar(6),
	@ITEMORDENCURVA_COLORDETALLE_DESDE varchar(50),
	@ITEMORDENCURVA_COLORDETALLE_HASTA varchar(50),
	@ITEMORDENCURVA_TALLE_DESDE varchar(5),
	@ITEMORDENCURVA_TALLE_HASTA varchar(5),
	@ITEMORDENCURVA_TALLEDETALLE_DESDE varchar(50),
	@ITEMORDENCURVA_TALLEDETALLE_HASTA varchar(50),
	@ITEMORDENCURVA_CANTIDAD_DESDE numeric(8, 2),
	@ITEMORDENCURVA_CANTIDAD_HASTA numeric(8, 2),
	@ITEMORDENCURVA_TOTAL_DESDE numeric(10, 2),
	@ITEMORDENCURVA_TOTAL_HASTA numeric(10, 2),
	@ORDENDEPRODUCCION_1_CODIGO_DESDE varchar(38),
	@ORDENDEPRODUCCION_1_CODIGO_HASTA varchar(38),
	@ORDENDEPRODUCCION_1_NUMERO_DESDE numeric(12, 0),
	@ORDENDEPRODUCCION_1_NUMERO_HASTA numeric(12, 0),
	@ORDENDEPRODUCCION_1_DESCRIPCION_DESDE varchar(100),
	@ORDENDEPRODUCCION_1_DESCRIPCION_HASTA varchar(100),
	@ORDENDEPRODUCCION_1_MODELO_DESDE varchar(15),
	@ORDENDEPRODUCCION_1_MODELO_HASTA varchar(15),
	@ORDENDEPRODUCCION_1_FECHA_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHA_HASTA datetime,
	@ORDENDEPRODUCCION_1_CURVADEPRODUCCION_DESDE varchar(15),
	@ORDENDEPRODUCCION_1_CURVADEPRODUCCION_HASTA varchar(15),
	@ORDENDEPRODUCCION_1_CANTIDAD_DESDE numeric(5, 0),
	@ORDENDEPRODUCCION_1_CANTIDAD_HASTA numeric(5, 0),
	@ORDENDEPRODUCCION_1_PRODUCTOFINAL_DESDE varchar(15),
	@ORDENDEPRODUCCION_1_PRODUCTOFINAL_HASTA varchar(15),
	@MODELODEPRODUCCION_74_MODELO_DESCRIPCION_DESDE varchar(100),
	@MODELODEPRODUCCION_74_MODELO_DESCRIPCION_HASTA varchar(100),
	@CURVADEPRODUCCION_76_CURVADEPRODUCCION_DESCRIPCION_DESDE varchar(100),
	@CURVADEPRODUCCION_76_CURVADEPRODUCCION_DESCRIPCION_HASTA varchar(100),
	@ARTICULO_78_PRODUCTOFINAL_DESCRIPCION_DESDE varchar(100),
	@ARTICULO_78_PRODUCTOFINAL_DESCRIPCION_HASTA varchar(100),
	@SEGMENTACION_9259_SEGMENTACION_DESCRIPCION_DESDE varchar(50),
	@SEGMENTACION_9259_SEGMENTACION_DESCRIPCION_HASTA varchar(50),
	@LINEASUCURSAL_9258_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEASUCURSAL_9258_LINEA_DESCRIPCION_HASTA varchar(50),
	@TIPOSUCURSAL_9257_TIPO_DESCRIPCION_DESDE varchar(50),
	@TIPOSUCURSAL_9257_TIPO_DESCRIPCION_HASTA varchar(50),
	@PROVEEDOR_4_PROVEEDOR_NOMBRE_DESDE varchar(60),
	@PROVEEDOR_4_PROVEEDOR_NOMBRE_HASTA varchar(60),
	@TEMPORADA_10_TEMPORADA_DESCRIPCION_DESDE varchar(50),
	@TEMPORADA_10_TEMPORADA_DESCRIPCION_HASTA varchar(50),
	@UNIDADDEMEDIDA_11_UNIDADDEMEDIDA_DESCRIPCION_DESDE varchar(50),
	@UNIDADDEMEDIDA_11_UNIDADDEMEDIDA_DESCRIPCION_HASTA varchar(50),
	@FAMILIA_12_FAMILIA_DESCRIPCION_DESDE varchar(50),
	@FAMILIA_12_FAMILIA_DESCRIPCION_HASTA varchar(50),
	@MATERIAL_13_MATERIAL_DESCRIPCION_DESDE varchar(40),
	@MATERIAL_13_MATERIAL_DESCRIPCION_HASTA varchar(40),
	@LINEA_14_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEA_14_LINEA_DESCRIPCION_HASTA varchar(50),
	@GRUPO_15_GRUPO_DESCRIPCION_DESDE varchar(50),
	@GRUPO_15_GRUPO_DESCRIPCION_HASTA varchar(50),
	@CATEGORIADEARTICULO_16_CATEGORIADEARTICULO_DESCRIPCION_DESDE varchar(50),
	@CATEGORIADEARTICULO_16_CATEGORIADEARTICULO_DESCRIPCION_HASTA varchar(50),
	@CLASIFICACIONARTICULO_17_CLASIFICACION_DESCRIPCION_DESDE varchar(50),
	@CLASIFICACIONARTICULO_17_CLASIFICACION_DESCRIPCION_HASTA varchar(50),
	@TIPODEARTICULO_19_TIPODEARTICULO_DESCRIPCION_DESDE varchar(50),
	@TIPODEARTICULO_19_TIPODEARTICULO_DESCRIPCION_HASTA varchar(50),
	@PALETADECOLORES_23_PALETADECOLORES_DESCRIPCION_DESDE varchar(40),
	@PALETADECOLORES_23_PALETADECOLORES_DESCRIPCION_HASTA varchar(40),
	@CURVADETALLES_24_CURVADETALLES_DESCRIPCION_DESDE varchar(40),
	@CURVADETALLES_24_CURVADETALLES_DESCRIPCION_HASTA varchar(40),
	@NOMENCLADORARBA_26_NOMENCLADOR_DESCRIPCION_DESDE varchar(150),
	@NOMENCLADORARBA_26_NOMENCLADOR_DESCRIPCION_HASTA varchar(150),
	@MARCA_43_MARCA_DESCRIPCION_DESDE varchar(100),
	@MARCA_43_MARCA_DESCRIPCION_HASTA varchar(100),
	@SUCURSAL_9254_SEGMENTACION_DESDE varchar(10),
	@SUCURSAL_9254_SEGMENTACION_HASTA varchar(10),
	@SUCURSAL_9254_LINEA_DESDE varchar(10),
	@SUCURSAL_9254_LINEA_HASTA varchar(10),
	@SUCURSAL_9254_TIPO_DESDE varchar(10),
	@SUCURSAL_9254_TIPO_HASTA varchar(10),
	@SUCURSAL_9254_DESCRIPCION_DESDE varchar(50),
	@SUCURSAL_9254_DESCRIPCION_HASTA varchar(50),
	@ARTICULO_3_PROVEEDOR_DESDE varchar(10),
	@ARTICULO_3_PROVEEDOR_HASTA varchar(10),
	@ARTICULO_3_CONDICIONIVAVENTAS numeric(1, 0),
	@ARTICULO_3_PORCENTAJEIVAVENTAS_DESDE numeric(5, 2),
	@ARTICULO_3_PORCENTAJEIVAVENTAS_HASTA numeric(5, 2),
	@ARTICULO_3_IMAGEN_DESDE varchar(180),
	@ARTICULO_3_IMAGEN_HASTA varchar(180),
	@ARTICULO_3_TEMPORADA_DESDE varchar(5),
	@ARTICULO_3_TEMPORADA_HASTA varchar(5),
	@ARTICULO_3_UNIDADDEMEDIDA_DESDE varchar(3),
	@ARTICULO_3_UNIDADDEMEDIDA_HASTA varchar(3),
	@ARTICULO_3_FAMILIA_DESDE varchar(10),
	@ARTICULO_3_FAMILIA_HASTA varchar(10),
	@ARTICULO_3_MATERIAL_DESDE varchar(10),
	@ARTICULO_3_MATERIAL_HASTA varchar(10),
	@ARTICULO_3_LINEA_DESDE varchar(10),
	@ARTICULO_3_LINEA_HASTA varchar(10),
	@ARTICULO_3_GRUPO_DESDE varchar(10),
	@ARTICULO_3_GRUPO_HASTA varchar(10),
	@ARTICULO_3_CATEGORIADEARTICULO_DESDE varchar(10),
	@ARTICULO_3_CATEGORIADEARTICULO_HASTA varchar(10),
	@ARTICULO_3_CLASIFICACION_DESDE varchar(10),
	@ARTICULO_3_CLASIFICACION_HASTA varchar(10),
	@ARTICULO_3_ANO_DESDE numeric(4, 0),
	@ARTICULO_3_ANO_HASTA numeric(4, 0),
	@ARTICULO_3_TIPODEARTICULO_DESDE varchar(10),
	@ARTICULO_3_TIPODEARTICULO_HASTA varchar(10),
	@ARTICULO_3_CONDICIONIVACOMPRAS numeric(1, 0),
	@ARTICULO_3_PORCENTAJEIVACOMPRAS_DESDE numeric(5, 2),
	@ARTICULO_3_PORCENTAJEIVACOMPRAS_HASTA numeric(5, 2),
	@ARTICULO_3_COMPORTAMIENTO numeric(1, 0),
	@ARTICULO_3_PALETADECOLORES_DESDE varchar(10),
	@ARTICULO_3_PALETADECOLORES_HASTA varchar(10),
	@ARTICULO_3_CURVADETALLES_DESDE varchar(10),
	@ARTICULO_3_CURVADETALLES_HASTA varchar(10),
	@ARTICULO_3_NOCOMERCIALIZABLE_DESDE datetime,
	@ARTICULO_3_NOCOMERCIALIZABLE_HASTA datetime,
	@ARTICULO_3_NOMENCLADOR_DESDE varchar(6),
	@ARTICULO_3_NOMENCLADOR_HASTA varchar(6),
	@ARTICULO_3_NOPERMITEDEVOLUCIONES bit,
	@ARTICULO_3_IMPRIMEDESPACHO bit,
	@ARTICULO_3_PORCENTAJEIMPUESTOINTERNO_DESDE numeric(5, 2),
	@ARTICULO_3_PORCENTAJEIMPUESTOINTERNO_HASTA numeric(5, 2),
	@ARTICULO_3_RESTRINGIRDESCUENTOS bit,
	@ARTICULO_3_PESO_DESDE numeric(11, 3),
	@ARTICULO_3_PESO_HASTA numeric(11, 3),
	@ARTICULO_3_LARGO_DESDE numeric(11, 2),
	@ARTICULO_3_LARGO_HASTA numeric(11, 2),
	@ARTICULO_3_ANCHO_DESDE numeric(11, 2),
	@ARTICULO_3_ANCHO_HASTA numeric(11, 2),
	@ARTICULO_3_ALTO_DESDE numeric(11, 2),
	@ARTICULO_3_ALTO_HASTA numeric(11, 2),
	@ARTICULO_3_REQUIERECCOSTO_DESDE numeric(1, 0),
	@ARTICULO_3_REQUIERECCOSTO_HASTA numeric(1, 0),
	@ARTICULO_3_NOPUBLICARENECOMMERCE bit,
	@ARTICULO_3_IMPORTADO bit,
	@ARTICULO_3_DESCRIPCIONADICIONAL_DESDE varchar(254),
	@ARTICULO_3_DESCRIPCIONADICIONAL_HASTA varchar(254),
	@ARTICULO_3_SOLOPROMOYKIT bit,
	@ARTICULO_3_RESTRINGIRARTICULO_DESDE datetime,
	@ARTICULO_3_RESTRINGIRARTICULO_HASTA datetime,
	@ARTICULO_3_MARCA_DESDE varchar(30),
	@ARTICULO_3_MARCA_HASTA varchar(30),
	@ARTICULO_3_PERCEPCIONIVARG5329 numeric(1, 0),
	@SUCURSAL_9254_CODIGO_DESDE varchar(10),
	@SUCURSAL_9254_CODIGO_HASTA varchar(10),
	@ITEMORDENCURVA_NROITEM_DESDE numeric(5, 0),
	@ITEMORDENCURVA_NROITEM_HASTA numeric(5, 0),
	@ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_DESDE varchar(20),
	@ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_HASTA varchar(20),
	@ORDENDEPRODUCCION_1_FECHAALTAFW_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHAALTAFW_HASTA datetime,
	@ORDENDEPRODUCCION_1_FECHAEXPO_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHAEXPO_HASTA datetime,
	@ORDENDEPRODUCCION_1_FECHAIMPO_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHAIMPO_HASTA datetime,
	@ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_HASTA datetime,
	@ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_DESDE datetime,
	@ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_HASTA datetime,
	@ORDENDEPRODUCCION_1_HORAALTAFW_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_HORAALTAFW_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_HORAEXPO_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_HORAEXPO_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_HORAIMPO_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_HORAIMPO_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_DESDE varchar(8),
	@ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_HASTA varchar(8),
	@ORDENDEPRODUCCION_1_SERIEALTAFW_DESDE varchar(7),
	@ORDENDEPRODUCCION_1_SERIEALTAFW_HASTA varchar(7),
	@ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_DESDE varchar(7),
	@ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_HASTA varchar(7),
	@ORDENDEPRODUCCION_1_USUARIOALTAFW_DESDE varchar(100),
	@ORDENDEPRODUCCION_1_USUARIOALTAFW_HASTA varchar(100),
	@ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_DESDE varchar(100),
	@ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_HASTA varchar(100),
	@ORDENDEPRODUCCION_1_VERSIONALTAFW_DESDE varchar(13),
	@ORDENDEPRODUCCION_1_VERSIONALTAFW_HASTA varchar(13),
	@ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_DESDE varchar(13),
	@ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_HASTA varchar(13) )
RETURNS TABLE
AS
RETURN
(
select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_itemordencurva.codorden, 38, ' ' ) as varchar( 46 ) ) as ITEMORDENCURVA__Grupo,
	@basededatos as ITEMORDENCURVA__BD,
	c_ITEMORDENCURVA.CODORDEN as ITEMORDENCURVA_CodOrden,
	case when c_producidos.martdf is null  then c_ITEMORDENCURVA.PRODUCTO else c_producidos.martdf end as ITEMORDENCURVA_Producto,
	C_ARTICULO3.ARIMAGEN as ARTICULO3_ARIMAGEN,
	--c_ITEMORDENCURVA.CPRODDET as ITEMORDENCURVA_cProdDet,
	case when ( martdf is null or c_producidos.martdf = c_ITEMORDENCURVA.PRODUCTO)  then c_ITEMORDENCURVA.CPRODDET else c_producidos.DESCRIPDF end as ITEMORDENCURVA_cProdDet,
	c_ITEMORDENCURVA.CODCOLOR as ITEMORDENCURVA_CodColor,
	c_ITEMORDENCURVA.CCOLTXT as ITEMORDENCURVA_CColTxt,
	c_ITEMORDENCURVA.CODTALLE as ITEMORDENCURVA_CodTalle,
	c_ITEMORDENCURVA.CTALLETXT as ITEMORDENCURVA_CTalleTxt,
	c_ITEMORDENCURVA.CANTCURVA as ITEMORDENCURVA_CantCurva,
	case when c_producidos.martdf is null or c_producidos.martdf = c_ITEMORDENCURVA.PRODUCTO then c_ITEMORDENCURVA.CANTTOTAL else 0 end as ITEMORDENCURVA_CantTotal, -- necesario
	C_ORDENDEPRODUCCION.CODIGO as ORDENDEPRODUCCION_Codigo,
	C_ORDENDEPRODUCCION.NUMERO as ORDENDEPRODUCCION_Numero,
	C_ORDENDEPRODUCCION.DESCRIP as ORDENDEPRODUCCION_Descrip,
	C_ORDENDEPRODUCCION.MODELO as ORDENDEPRODUCCION_Modelo,
	case when c_ordendeproduccion.ffch = '01/01/1900 00:00:00' then null else c_ordendeproduccion.ffch end as ORDENDEPRODUCCION_FFCH,
	C_ORDENDEPRODUCCION.CURVAPROD as ORDENDEPRODUCCION_CurvaProd,
	C_ORDENDEPRODUCCION.NCANTIDAD as ORDENDEPRODUCCION_nCantidad,
	C_ORDENDEPRODUCCION.PRODUCTO as ORDENDEPRODUCCION_Producto,
	C_ORDENDEPRODUCCION.OBS as ORDENDEPRODUCCION_Obs,
	C_SUCURSAL.SEG as SUCURSAL_seg,
	C_SUCURSAL.LINEA as SUCURSAL_Linea,
	C_SUCURSAL.TIPO as SUCURSAL_Tipo,
	C_SUCURSAL.DESCRIP as SUCURSAL_descrip,
	C_ARTICULO3.ARTFAB as ARTICULO3_ARTFAB,
	C_ARTICULO3.ARTCONIVA as ARTICULO3_ARTCONIVA,
	C_ARTICULO3.ARTPORIVA as ARTICULO3_ARTPORIVA,
	C_ARTICULO3.AOBS as ARTICULO3_AObs,
	C_ARTICULO3.ATEMPORADA as ARTICULO3_ATEMPORADA,
	C_ARTICULO3.UNIMED as ARTICULO3_UniMed,
	C_ARTICULO3.FAMILIA as ARTICULO3_Familia,
	C_ARTICULO3.MAT as ARTICULO3_Mat,
	C_ARTICULO3.LINEA as ARTICULO3_Linea,
	C_ARTICULO3.GRUPO as ARTICULO3_Grupo,
	C_ARTICULO3.CATEARTI as ARTICULO3_CateArti,
	C_ARTICULO3.CLASIFART as ARTICULO3_ClasifArt,
	C_ARTICULO3.ANO as ARTICULO3_Ano,
	C_ARTICULO3.TIPOARTI as ARTICULO3_TipoArti,
	C_ARTICULO3.ARTIVA as ARTICULO3_ARTIVA,
	C_ARTICULO3.ANX2 as ARTICULO3_ANX2,
	C_ARTICULO3.ASTOCK as ARTICULO3_ASTOCK,
	C_ARTICULO3.PALCOL as ARTICULO3_PalCol,
	C_ARTICULO3.CURTALL as ARTICULO3_Curtall,
	case when c_articulo3.nocom = '01/01/1900 00:00:00' then null else c_articulo3.nocom end as ARTICULO3_NOCOM,
	C_ARTICULO3.ARTNARBA as ARTICULO3_ARTNARBA,
	C_ARTICULO3.ARTNODEVO as ARTICULO3_ARTNODEVO,
	C_ARTICULO3.ESIMPDES as ARTICULO3_EsImpDes,
	C_ARTICULO3.IMPINTERNO as ARTICULO3_impinterno,
	C_ARTICULO3.ARTSINDES as ARTICULO3_ArtSinDes,
	C_ARTICULO3.ARTPESO as ARTICULO3_ARTPESO,
	C_ARTICULO3.ARTLARGO as ARTICULO3_ARTLARGO,
	C_ARTICULO3.ARTANCHO as ARTICULO3_ARTANCHO,
	C_ARTICULO3.ARTALTO as ARTICULO3_ARTALTO,
	C_ARTICULO3.REQCCOSTO as ARTICULO3_ReqCCosto,
	C_ARTICULO3.PUBECOM as ARTICULO3_PubEcom,
	C_ARTICULO3.IMPORTADO as ARTICULO3_Importado,
	C_ARTICULO3.ARTDESADIC as ARTICULO3_ARTDESADIC,
	C_ARTICULO3.PROMOYKIT as ARTICULO3_PromoYKit,
	C_ARTICULO3.DESECOHTML as ARTICULO3_DesEcoHTML,
	C_ARTICULO3.DESECO as ARTICULO3_DesEco,
	case when c_articulo3.artrest = '01/01/1900 00:00:00' then null else c_articulo3.artrest end as ARTICULO3_ArtRest,
	C_ARTICULO3.MARCA as ARTICULO3_Marca,
	C_ARTICULO3.ARTPERCEP as ARTICULO3_ArtPercep,
	C_SUCURSAL.CODIGO as SUCURSAL_codigo,
	c_ITEMORDENCURVA.NROITEM as ITEMORDENCURVA_NROITEM,
	C_ORDENDEPRODUCCION.BDALTAFW as ORDENDEPRODUCCION_BDALTAFW,
	C_ORDENDEPRODUCCION.BDMODIFW as ORDENDEPRODUCCION_BDMODIFW,
	C_ORDENDEPRODUCCION.ESTTRANS as ORDENDEPRODUCCION_ESTTRANS,
	case when c_ordendeproduccion.faltafw = '01/01/1900 00:00:00' then null else c_ordendeproduccion.faltafw end as ORDENDEPRODUCCION_FALTAFW,
	case when c_ordendeproduccion.fecexpo = '01/01/1900 00:00:00' then null else c_ordendeproduccion.fecexpo end as ORDENDEPRODUCCION_FECEXPO,
	case when c_ordendeproduccion.fecimpo = '01/01/1900 00:00:00' then null else c_ordendeproduccion.fecimpo end as ORDENDEPRODUCCION_FECIMPO,
	case when c_ordendeproduccion.fmodifw = '01/01/1900 00:00:00' then null else c_ordendeproduccion.fmodifw end as ORDENDEPRODUCCION_FMODIFW,
	case when c_ordendeproduccion.fectrans = '01/01/1900 00:00:00' then null else c_ordendeproduccion.fectrans end as ORDENDEPRODUCCION_FECTRANS,
	C_ORDENDEPRODUCCION.HALTAFW as ORDENDEPRODUCCION_HALTAFW,
	C_ORDENDEPRODUCCION.HORAEXPO as ORDENDEPRODUCCION_HORAEXPO,
	C_ORDENDEPRODUCCION.HORAIMPO as ORDENDEPRODUCCION_HORAIMPO,
	C_ORDENDEPRODUCCION.HMODIFW as ORDENDEPRODUCCION_HMODIFW,
	C_ORDENDEPRODUCCION.SALTAFW as ORDENDEPRODUCCION_SALTAFW,
	C_ORDENDEPRODUCCION.SMODIFW as ORDENDEPRODUCCION_SMODIFW,
	C_ORDENDEPRODUCCION.UALTAFW as ORDENDEPRODUCCION_UALTAFW,
	C_ORDENDEPRODUCCION.UMODIFW as ORDENDEPRODUCCION_UMODIFW,
	C_ORDENDEPRODUCCION.VALTAFW as ORDENDEPRODUCCION_VALTAFW,
	C_ORDENDEPRODUCCION.VMODIFW as ORDENDEPRODUCCION_VMODIFW,
	C_ORDENDEPRODUCCION.ZADSFW as ORDENDEPRODUCCION_ZADSFW,
	cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) as ITEMORDENCURVA__SUCURSAL,
	cast( c_producidos.producido as numeric( 12, 2 ) ) as ITEMORDENCURVA_CantidadProducidaVirtual,
	cast( c_descartados.descartado as numeric( 12, 2 ) ) as ITEMORDENCURVA_CantidadDescartadaVirtual,
	cast( isnull(case when c_producidos.martdf is null or c_producidos.martdf = c_ITEMORDENCURVA.PRODUCTO then c_ITEMORDENCURVA.CANTTOTAL else 0 end, 0) - isnull(c_producidos.producido,0) - isnull(c_descartados.descartado,0)  as numeric( 12, 2 ) ) as ITEMORDENCURVA_CantidadPendienteVirtual,
	C_ARTICULO3.ARTDES as ARTICULO3_ARTDES,
	C_COLOR.COLDES as COLOR_COLDES,
	C_TALLE.DESCRIP as TALLE_Descrip,
	C_MODELODEPRODUCCION.DESCRIP as MODELODEPRODUCCION_Descrip,
	C_CURVADEPRODUCCION.DESCRIP as CURVADEPRODUCCION_Descrip,
	C_ARTICULO78.ARTDES as ARTICULO78_ARTDES,
	C_SEGMENTACION.SDES as SEGMENTACION_SDES,
	C_LINEASUCURSAL.LSDES as LINEASUCURSAL_LSDES,
	C_TIPOSUCURSAL.TDES as TIPOSUCURSAL_TDES,
	C_PROVEEDOR.CLNOM as PROVEEDOR_CLNOM,
	C_TEMPORADA.TDES as TEMPORADA_TDES,
	C_UNIDADDEMEDIDA.DESCRIP as UNIDADDEMEDIDA_Descrip,
	C_FAMILIA.DESCRIP as FAMILIA_Descrip,
	C_MATERIAL.MATDES as MATERIAL_MATDES,
	C_LINEA.DESCRIP as LINEA_Descrip,
	C_GRUPO.DESCRIP as GRUPO_Descrip,
	C_CATEGORIADEARTICULO.DESCRIP as CATEGORIADEARTICULO_Descrip,
	C_CLASIFICACIONARTICULO.DESCRIP as CLASIFICACIONARTICULO_DESCRIP,
	C_TIPODEARTICULO.DESCRIP as TIPODEARTICULO_Descrip,
	C_PALETADECOLORES.DESCRIP as PALETADECOLORES_Descrip,
	C_CURVADETALLES.DESCRIP as CURVADETALLES_Descrip,
	C_NOMENCLADORARBA.NMCDES as NOMENCLADORARBA_NMCDES,
	C_MARCA.DESCRIP as MARCA_Descrip,
	C_ARTICULO3.ARTCOD as ARTICULO3_ARTCOD,
	C_ARTICULO78.ARTCOD as ARTICULO78_ARTCOD,
	C_CATEGORIADEARTICULO.COD as CATEGORIADEARTICULO_Cod,
	C_CLASIFICACIONARTICULO.CODIGO as CLASIFICACIONARTICULO_CODIGO,
	C_COLOR.COLCOD as COLOR_COLCOD,
	C_CURVADEPRODUCCION.CODIGO as CURVADEPRODUCCION_Codigo,
	C_CURVADETALLES.CODIGO as CURVADETALLES_Codigo,
	C_FAMILIA.COD as FAMILIA_Cod,
	C_GRUPO.COD as GRUPO_Cod,
	C_LINEA.COD as LINEA_Cod,
	C_LINEASUCURSAL.LSCOD as LINEASUCURSAL_LSCOD,
	C_MARCA.CODIGO as MARCA_Codigo,
	C_MATERIAL.MATCOD as MATERIAL_MATCOD,
	C_MODELODEPRODUCCION.CODIGO as MODELODEPRODUCCION_Codigo,
	C_NOMENCLADORARBA.NMCCOD as NOMENCLADORARBA_NMCCOD,
	C_PALETADECOLORES.CODIGO as PALETADECOLORES_Codigo,
	C_PROVEEDOR.CLCOD as PROVEEDOR_CLCOD,
	C_SEGMENTACION.SCOD as SEGMENTACION_SCOD,
	C_TALLE.CODIGO as TALLE_Codigo,
	C_TEMPORADA.TCOD as TEMPORADA_TCOD,
	C_TIPODEARTICULO.COD as TIPODEARTICULO_Cod,
	C_TIPOSUCURSAL.TCOD as TIPOSUCURSAL_TCOD,
	C_UNIDADDEMEDIDA.COD as UNIDADDEMEDIDA_Cod
 from ZooLogic.ORDPCURV as c_ITEMORDENCURVA
 left join ZooLogic.ART as C_ARTICULO3 on C_ARTICULO3.ARTCOD = C_ITEMORDENCURVA.PRODUCTO and 0 = Funciones.empty( C_ITEMORDENCURVA.PRODUCTO )
 left join ZooLogic.CATEGART as C_CATEGORIADEARTICULO on C_CATEGORIADEARTICULO.COD = C_ARTICULO3.CATEARTI and 0 = Funciones.empty( C_ARTICULO3.CATEARTI )
 left join ZooLogic.CLASIFART as C_CLASIFICACIONARTICULO on C_CLASIFICACIONARTICULO.CODIGO = C_ARTICULO3.CLASIFART and 0 = Funciones.empty( C_ARTICULO3.CLASIFART )
 left join ZooLogic.COL as C_COLOR on C_COLOR.COLCOD = C_ITEMORDENCURVA.CODCOLOR and 0 = Funciones.empty( C_ITEMORDENCURVA.CODCOLOR )
 left join ZooLogic.CTALLE as C_CURVADETALLES on C_CURVADETALLES.CODIGO = C_ARTICULO3.CURTALL and 0 = Funciones.empty( C_ARTICULO3.CURTALL )
 left join ZooLogic.FAMILIA as C_FAMILIA on C_FAMILIA.COD = C_ARTICULO3.FAMILIA and 0 = Funciones.empty( C_ARTICULO3.FAMILIA )
 left join ZooLogic.GRUPO as C_GRUPO on C_GRUPO.COD = C_ARTICULO3.GRUPO and 0 = Funciones.empty( C_ARTICULO3.GRUPO )
 left join ZooLogic.LINEA as C_LINEA on C_LINEA.COD = C_ARTICULO3.LINEA and 0 = Funciones.empty( C_ARTICULO3.LINEA )
 left join ZooLogic.MARCAS as C_MARCA on C_MARCA.CODIGO = C_ARTICULO3.MARCA and 0 = Funciones.empty( C_ARTICULO3.MARCA )
 left join ZooLogic.MAT as C_MATERIAL on C_MATERIAL.MATCOD = C_ARTICULO3.MAT and 0 = Funciones.empty( C_ARTICULO3.MAT )
 left join ZooLogic.NMCARBA as C_NOMENCLADORARBA on C_NOMENCLADORARBA.NMCCOD = C_ARTICULO3.ARTNARBA and 0 = Funciones.empty( C_ARTICULO3.ARTNARBA )
 left join ZooLogic.ORDENPROD as C_ORDENDEPRODUCCION on C_ORDENDEPRODUCCION.CODIGO = C_ITEMORDENCURVA.CODORDEN and 0 = Funciones.empty( C_ITEMORDENCURVA.CODORDEN )
 --
 left join ( select  sum(cantidf) as producido, ordenprod, martdf, DESCRIPDF, colart, talleart
				from zoologic.DETARTFINALPROD as c_DETARTFINALPROD
				LEFT JOIN zoologic.FINALPROD as c_Finalprod on c_Finalprod.CODIGO = c_DETARTFINALPROD.NUMR
				group by ordenprod, martdf, DESCRIPDF, colart, talleart ) c_producidos ON c_producidos.ordenprod = c_itemordencurva.codorden 
					and c_producidos.colart = c_itemordencurva.codcolor and c_producidos.talleart = c_itemordencurva.codtalle

 left join ( select sum(cantdesc) as descartado , gestionprod.ORDENDEPRO,  CCOLOR, CTALLE
				from zoologic.GESPDESC as c_GESPDESC
				LEFT JOIN zoologic.GESTIONPROD ON GESTIONPROD.CODIGO = c_GESPDESC.gesproddes
				group by gestionprod.ORDENDEPRO, ccolor, ctalle ) as c_descartados on c_descartados.ordendepro =  c_ITEMORDENCURVA.codorden 
					and c_descartados.ccolor = c_ITEMORDENCURVA.codcolor and c_descartados.ctalle = c_ITEMORDENCURVA.codtalle
					and c_producidos.martdf = c_ITEMORDENCURVA.PRODUCTO
 --
 left join ZooLogic.PCOLOR as C_PALETADECOLORES on C_PALETADECOLORES.CODIGO = C_ARTICULO3.PALCOL and 0 = Funciones.empty( C_ARTICULO3.PALCOL )
 left join ZooLogic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = C_ARTICULO3.ARTFAB and 0 = Funciones.empty( C_ARTICULO3.ARTFAB )
 left join ORGANIZACION.SUC as C_SUCURSAL on C_SUCURSAL.CODIGO = cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) and 0 = Funciones.empty( cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) )
 left join ZooLogic.TALLE as C_TALLE on C_TALLE.CODIGO = C_ITEMORDENCURVA.CODTALLE and 0 = Funciones.empty( C_ITEMORDENCURVA.CODTALLE )
 left join ZooLogic.TEMPORADA as C_TEMPORADA on C_TEMPORADA.TCOD = C_ARTICULO3.ATEMPORADA and 0 = Funciones.empty( C_ARTICULO3.ATEMPORADA )
 left join ZooLogic.TIPOART as C_TIPODEARTICULO on C_TIPODEARTICULO.COD = C_ARTICULO3.TIPOARTI and 0 = Funciones.empty( C_ARTICULO3.TIPOARTI )
 left join ORGANIZACION.TSUCUR as C_TIPOSUCURSAL on C_TIPOSUCURSAL.TCOD = C_SUCURSAL.TIPO and 0 = Funciones.empty( C_SUCURSAL.TIPO )
 left join ZooLogic.UNMED as C_UNIDADDEMEDIDA on C_UNIDADDEMEDIDA.COD = C_ARTICULO3.UNIMED and 0 = Funciones.empty( C_ARTICULO3.UNIMED )
 left join ZooLogic.ART as C_ARTICULO78 on C_ARTICULO78.ARTCOD = C_ORDENDEPRODUCCION.PRODUCTO and 0 = Funciones.empty( C_ORDENDEPRODUCCION.PRODUCTO )
 left join ZooLogic.CURVAPROD as C_CURVADEPRODUCCION on C_CURVADEPRODUCCION.CODIGO = C_ORDENDEPRODUCCION.CURVAPROD and 0 = Funciones.empty( C_ORDENDEPRODUCCION.CURVAPROD )
 left join ORGANIZACION.LSUCUR as C_LINEASUCURSAL on C_LINEASUCURSAL.LSCOD = C_SUCURSAL.LINEA and 0 = Funciones.empty( C_SUCURSAL.LINEA )
 left join ZooLogic.MODELOPROD as C_MODELODEPRODUCCION on C_MODELODEPRODUCCION.CODIGO = C_ORDENDEPRODUCCION.MODELO and 0 = Funciones.empty( C_ORDENDEPRODUCCION.MODELO )
 left join ORGANIZACION.SECOD as C_SEGMENTACION on C_SEGMENTACION.SCOD = C_SUCURSAL.SEG and 0 = Funciones.empty( C_SUCURSAL.SEG )
 where ( not 1 = funciones.empty( c_itemordencurva.codorden ) and ( not 1 = funciones.empty( c_ordendeproduccion.codigo ) ) ) and 
	( ( @ITEMORDENCURVA_PRODUCTO_DESDE is null ) OR ( c_ITEMORDENCURVA.Producto >= @ITEMORDENCURVA_PRODUCTO_DESDE ) ) and 
	( ( @ITEMORDENCURVA_PRODUCTO_HASTA is null ) OR ( c_ITEMORDENCURVA.Producto <= @ITEMORDENCURVA_PRODUCTO_HASTA ) ) and 
	( ( @ITEMORDENCURVA_PRODUCTODETALLE_DESDE is null ) OR ( c_ITEMORDENCURVA.cProdDet >= @ITEMORDENCURVA_PRODUCTODETALLE_DESDE ) ) and 
	( ( @ITEMORDENCURVA_PRODUCTODETALLE_HASTA is null ) OR ( c_ITEMORDENCURVA.cProdDet <= @ITEMORDENCURVA_PRODUCTODETALLE_HASTA ) ) and 
	( ( @ITEMORDENCURVA_COLOR_DESDE is null ) OR ( c_ITEMORDENCURVA.CodColor >= @ITEMORDENCURVA_COLOR_DESDE ) ) and 
	( ( @ITEMORDENCURVA_COLOR_HASTA is null ) OR ( c_ITEMORDENCURVA.CodColor <= @ITEMORDENCURVA_COLOR_HASTA ) ) and 
	( ( @ITEMORDENCURVA_COLORDETALLE_DESDE is null ) OR ( c_ITEMORDENCURVA.CColTxt >= @ITEMORDENCURVA_COLORDETALLE_DESDE ) ) and 
	( ( @ITEMORDENCURVA_COLORDETALLE_HASTA is null ) OR ( c_ITEMORDENCURVA.CColTxt <= @ITEMORDENCURVA_COLORDETALLE_HASTA ) ) and 
	( ( @ITEMORDENCURVA_TALLE_DESDE is null ) OR ( c_ITEMORDENCURVA.CodTalle >= @ITEMORDENCURVA_TALLE_DESDE ) ) and 
	( ( @ITEMORDENCURVA_TALLE_HASTA is null ) OR ( c_ITEMORDENCURVA.CodTalle <= @ITEMORDENCURVA_TALLE_HASTA ) ) and 
	( ( @ITEMORDENCURVA_TALLEDETALLE_DESDE is null ) OR ( c_ITEMORDENCURVA.CTalleTxt >= @ITEMORDENCURVA_TALLEDETALLE_DESDE ) ) and 
	( ( @ITEMORDENCURVA_TALLEDETALLE_HASTA is null ) OR ( c_ITEMORDENCURVA.CTalleTxt <= @ITEMORDENCURVA_TALLEDETALLE_HASTA ) ) and 
	( ( @ITEMORDENCURVA_CANTIDAD_DESDE is null ) OR ( c_ITEMORDENCURVA.CantCurva >= @ITEMORDENCURVA_CANTIDAD_DESDE ) ) and 
	( ( @ITEMORDENCURVA_CANTIDAD_HASTA is null ) OR ( c_ITEMORDENCURVA.CantCurva <= @ITEMORDENCURVA_CANTIDAD_HASTA ) ) and 
	( ( @ITEMORDENCURVA_TOTAL_DESDE is null ) OR ( c_ITEMORDENCURVA.CantTotal >= @ITEMORDENCURVA_TOTAL_DESDE ) ) and 
	( ( @ITEMORDENCURVA_TOTAL_HASTA is null ) OR ( c_ITEMORDENCURVA.CantTotal <= @ITEMORDENCURVA_TOTAL_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_CODIGO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Codigo >= @ORDENDEPRODUCCION_1_CODIGO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_CODIGO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Codigo <= @ORDENDEPRODUCCION_1_CODIGO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_NUMERO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Numero >= @ORDENDEPRODUCCION_1_NUMERO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_NUMERO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Numero <= @ORDENDEPRODUCCION_1_NUMERO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_DESCRIPCION_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Descrip >= @ORDENDEPRODUCCION_1_DESCRIPCION_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_DESCRIPCION_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Descrip <= @ORDENDEPRODUCCION_1_DESCRIPCION_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_MODELO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Modelo >= @ORDENDEPRODUCCION_1_MODELO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_MODELO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Modelo <= @ORDENDEPRODUCCION_1_MODELO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHA_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FFCH >= @ORDENDEPRODUCCION_1_FECHA_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHA_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FFCH <= @ORDENDEPRODUCCION_1_FECHA_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_CURVADEPRODUCCION_DESDE is null ) OR ( C_ORDENDEPRODUCCION.CurvaProd >= @ORDENDEPRODUCCION_1_CURVADEPRODUCCION_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_CURVADEPRODUCCION_HASTA is null ) OR ( C_ORDENDEPRODUCCION.CurvaProd <= @ORDENDEPRODUCCION_1_CURVADEPRODUCCION_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_CANTIDAD_DESDE is null ) OR ( C_ORDENDEPRODUCCION.nCantidad >= @ORDENDEPRODUCCION_1_CANTIDAD_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_CANTIDAD_HASTA is null ) OR ( C_ORDENDEPRODUCCION.nCantidad <= @ORDENDEPRODUCCION_1_CANTIDAD_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_PRODUCTOFINAL_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Producto >= @ORDENDEPRODUCCION_1_PRODUCTOFINAL_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_PRODUCTOFINAL_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Producto <= @ORDENDEPRODUCCION_1_PRODUCTOFINAL_HASTA ) ) and 
	( ( @MODELODEPRODUCCION_74_MODELO_DESCRIPCION_DESDE is null ) OR ( C_MODELODEPRODUCCION.Descrip >= @MODELODEPRODUCCION_74_MODELO_DESCRIPCION_DESDE ) ) and 
	( ( @MODELODEPRODUCCION_74_MODELO_DESCRIPCION_HASTA is null ) OR ( C_MODELODEPRODUCCION.Descrip <= @MODELODEPRODUCCION_74_MODELO_DESCRIPCION_HASTA ) ) and 
	( ( @CURVADEPRODUCCION_76_CURVADEPRODUCCION_DESCRIPCION_DESDE is null ) OR ( C_CURVADEPRODUCCION.Descrip >= @CURVADEPRODUCCION_76_CURVADEPRODUCCION_DESCRIPCION_DESDE ) ) and 
	( ( @CURVADEPRODUCCION_76_CURVADEPRODUCCION_DESCRIPCION_HASTA is null ) OR ( C_CURVADEPRODUCCION.Descrip <= @CURVADEPRODUCCION_76_CURVADEPRODUCCION_DESCRIPCION_HASTA ) ) and 
	( ( @ARTICULO_78_PRODUCTOFINAL_DESCRIPCION_DESDE is null ) OR ( C_ARTICULO78.ARTDES >= @ARTICULO_78_PRODUCTOFINAL_DESCRIPCION_DESDE ) ) and 
	( ( @ARTICULO_78_PRODUCTOFINAL_DESCRIPCION_HASTA is null ) OR ( C_ARTICULO78.ARTDES <= @ARTICULO_78_PRODUCTOFINAL_DESCRIPCION_HASTA ) ) and 
	( ( @SEGMENTACION_9259_SEGMENTACION_DESCRIPCION_DESDE is null ) OR ( C_SEGMENTACION.SDES >= @SEGMENTACION_9259_SEGMENTACION_DESCRIPCION_DESDE ) ) and 
	( ( @SEGMENTACION_9259_SEGMENTACION_DESCRIPCION_HASTA is null ) OR ( C_SEGMENTACION.SDES <= @SEGMENTACION_9259_SEGMENTACION_DESCRIPCION_HASTA ) ) and 
	( ( @LINEASUCURSAL_9258_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEASUCURSAL.LSDES >= @LINEASUCURSAL_9258_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEASUCURSAL_9258_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEASUCURSAL.LSDES <= @LINEASUCURSAL_9258_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @TIPOSUCURSAL_9257_TIPO_DESCRIPCION_DESDE is null ) OR ( C_TIPOSUCURSAL.TDES >= @TIPOSUCURSAL_9257_TIPO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPOSUCURSAL_9257_TIPO_DESCRIPCION_HASTA is null ) OR ( C_TIPOSUCURSAL.TDES <= @TIPOSUCURSAL_9257_TIPO_DESCRIPCION_HASTA ) ) and 
	( ( @PROVEEDOR_4_PROVEEDOR_NOMBRE_DESDE is null ) OR ( C_PROVEEDOR.CLNOM >= @PROVEEDOR_4_PROVEEDOR_NOMBRE_DESDE ) ) and 
	( ( @PROVEEDOR_4_PROVEEDOR_NOMBRE_HASTA is null ) OR ( C_PROVEEDOR.CLNOM <= @PROVEEDOR_4_PROVEEDOR_NOMBRE_HASTA ) ) and 
	( ( @TEMPORADA_10_TEMPORADA_DESCRIPCION_DESDE is null ) OR ( C_TEMPORADA.TDES >= @TEMPORADA_10_TEMPORADA_DESCRIPCION_DESDE ) ) and 
	( ( @TEMPORADA_10_TEMPORADA_DESCRIPCION_HASTA is null ) OR ( C_TEMPORADA.TDES <= @TEMPORADA_10_TEMPORADA_DESCRIPCION_HASTA ) ) and 
	( ( @UNIDADDEMEDIDA_11_UNIDADDEMEDIDA_DESCRIPCION_DESDE is null ) OR ( C_UNIDADDEMEDIDA.Descrip >= @UNIDADDEMEDIDA_11_UNIDADDEMEDIDA_DESCRIPCION_DESDE ) ) and 
	( ( @UNIDADDEMEDIDA_11_UNIDADDEMEDIDA_DESCRIPCION_HASTA is null ) OR ( C_UNIDADDEMEDIDA.Descrip <= @UNIDADDEMEDIDA_11_UNIDADDEMEDIDA_DESCRIPCION_HASTA ) ) and 
	( ( @FAMILIA_12_FAMILIA_DESCRIPCION_DESDE is null ) OR ( C_FAMILIA.Descrip >= @FAMILIA_12_FAMILIA_DESCRIPCION_DESDE ) ) and 
	( ( @FAMILIA_12_FAMILIA_DESCRIPCION_HASTA is null ) OR ( C_FAMILIA.Descrip <= @FAMILIA_12_FAMILIA_DESCRIPCION_HASTA ) ) and 
	( ( @MATERIAL_13_MATERIAL_DESCRIPCION_DESDE is null ) OR ( C_MATERIAL.MATDES >= @MATERIAL_13_MATERIAL_DESCRIPCION_DESDE ) ) and 
	( ( @MATERIAL_13_MATERIAL_DESCRIPCION_HASTA is null ) OR ( C_MATERIAL.MATDES <= @MATERIAL_13_MATERIAL_DESCRIPCION_HASTA ) ) and 
	( ( @LINEA_14_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEA.Descrip >= @LINEA_14_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEA_14_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEA.Descrip <= @LINEA_14_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @GRUPO_15_GRUPO_DESCRIPCION_DESDE is null ) OR ( C_GRUPO.Descrip >= @GRUPO_15_GRUPO_DESCRIPCION_DESDE ) ) and 
	( ( @GRUPO_15_GRUPO_DESCRIPCION_HASTA is null ) OR ( C_GRUPO.Descrip <= @GRUPO_15_GRUPO_DESCRIPCION_HASTA ) ) and 
	( ( @CATEGORIADEARTICULO_16_CATEGORIADEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_CATEGORIADEARTICULO.Descrip >= @CATEGORIADEARTICULO_16_CATEGORIADEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @CATEGORIADEARTICULO_16_CATEGORIADEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_CATEGORIADEARTICULO.Descrip <= @CATEGORIADEARTICULO_16_CATEGORIADEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @CLASIFICACIONARTICULO_17_CLASIFICACION_DESCRIPCION_DESDE is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP >= @CLASIFICACIONARTICULO_17_CLASIFICACION_DESCRIPCION_DESDE ) ) and 
	( ( @CLASIFICACIONARTICULO_17_CLASIFICACION_DESCRIPCION_HASTA is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP <= @CLASIFICACIONARTICULO_17_CLASIFICACION_DESCRIPCION_HASTA ) ) and 
	( ( @TIPODEARTICULO_19_TIPODEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_TIPODEARTICULO.Descrip >= @TIPODEARTICULO_19_TIPODEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPODEARTICULO_19_TIPODEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_TIPODEARTICULO.Descrip <= @TIPODEARTICULO_19_TIPODEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @PALETADECOLORES_23_PALETADECOLORES_DESCRIPCION_DESDE is null ) OR ( C_PALETADECOLORES.Descrip >= @PALETADECOLORES_23_PALETADECOLORES_DESCRIPCION_DESDE ) ) and 
	( ( @PALETADECOLORES_23_PALETADECOLORES_DESCRIPCION_HASTA is null ) OR ( C_PALETADECOLORES.Descrip <= @PALETADECOLORES_23_PALETADECOLORES_DESCRIPCION_HASTA ) ) and 
	( ( @CURVADETALLES_24_CURVADETALLES_DESCRIPCION_DESDE is null ) OR ( C_CURVADETALLES.Descrip >= @CURVADETALLES_24_CURVADETALLES_DESCRIPCION_DESDE ) ) and 
	( ( @CURVADETALLES_24_CURVADETALLES_DESCRIPCION_HASTA is null ) OR ( C_CURVADETALLES.Descrip <= @CURVADETALLES_24_CURVADETALLES_DESCRIPCION_HASTA ) ) and 
	( ( @NOMENCLADORARBA_26_NOMENCLADOR_DESCRIPCION_DESDE is null ) OR ( C_NOMENCLADORARBA.NMCDES >= @NOMENCLADORARBA_26_NOMENCLADOR_DESCRIPCION_DESDE ) ) and 
	( ( @NOMENCLADORARBA_26_NOMENCLADOR_DESCRIPCION_HASTA is null ) OR ( C_NOMENCLADORARBA.NMCDES <= @NOMENCLADORARBA_26_NOMENCLADOR_DESCRIPCION_HASTA ) ) and 
	( ( @MARCA_43_MARCA_DESCRIPCION_DESDE is null ) OR ( C_MARCA.Descrip >= @MARCA_43_MARCA_DESCRIPCION_DESDE ) ) and 
	( ( @MARCA_43_MARCA_DESCRIPCION_HASTA is null ) OR ( C_MARCA.Descrip <= @MARCA_43_MARCA_DESCRIPCION_HASTA ) ) and 
	( ( @SUCURSAL_9254_SEGMENTACION_DESDE is null ) OR ( C_SUCURSAL.seg >= @SUCURSAL_9254_SEGMENTACION_DESDE ) ) and 
	( ( @SUCURSAL_9254_SEGMENTACION_HASTA is null ) OR ( C_SUCURSAL.seg <= @SUCURSAL_9254_SEGMENTACION_HASTA ) ) and 
	( ( @SUCURSAL_9254_LINEA_DESDE is null ) OR ( C_SUCURSAL.Linea >= @SUCURSAL_9254_LINEA_DESDE ) ) and 
	( ( @SUCURSAL_9254_LINEA_HASTA is null ) OR ( C_SUCURSAL.Linea <= @SUCURSAL_9254_LINEA_HASTA ) ) and 
	( ( @SUCURSAL_9254_TIPO_DESDE is null ) OR ( C_SUCURSAL.Tipo >= @SUCURSAL_9254_TIPO_DESDE ) ) and 
	( ( @SUCURSAL_9254_TIPO_HASTA is null ) OR ( C_SUCURSAL.Tipo <= @SUCURSAL_9254_TIPO_HASTA ) ) and 
	( ( @SUCURSAL_9254_DESCRIPCION_DESDE is null ) OR ( C_SUCURSAL.descrip >= @SUCURSAL_9254_DESCRIPCION_DESDE ) ) and 
	( ( @SUCURSAL_9254_DESCRIPCION_HASTA is null ) OR ( C_SUCURSAL.descrip <= @SUCURSAL_9254_DESCRIPCION_HASTA ) ) and 
	( ( @ARTICULO_3_PROVEEDOR_DESDE is null ) OR ( C_ARTICULO3.ARTFAB >= @ARTICULO_3_PROVEEDOR_DESDE ) ) and 
	( ( @ARTICULO_3_PROVEEDOR_HASTA is null ) OR ( C_ARTICULO3.ARTFAB <= @ARTICULO_3_PROVEEDOR_HASTA ) ) and 
	( ( @ARTICULO_3_CONDICIONIVAVENTAS is null ) OR ( C_ARTICULO3.ARTCONIVA = @ARTICULO_3_CONDICIONIVAVENTAS ) ) and 
	( ( @ARTICULO_3_PORCENTAJEIVAVENTAS_DESDE is null ) OR ( C_ARTICULO3.ARTPORIVA >= @ARTICULO_3_PORCENTAJEIVAVENTAS_DESDE ) ) and 
	( ( @ARTICULO_3_PORCENTAJEIVAVENTAS_HASTA is null ) OR ( C_ARTICULO3.ARTPORIVA <= @ARTICULO_3_PORCENTAJEIVAVENTAS_HASTA ) ) and 
	( ( @ARTICULO_3_IMAGEN_DESDE is null ) OR ( C_ARTICULO3.ARIMAGEN >= @ARTICULO_3_IMAGEN_DESDE ) ) and 
	( ( @ARTICULO_3_IMAGEN_HASTA is null ) OR ( C_ARTICULO3.ARIMAGEN <= @ARTICULO_3_IMAGEN_HASTA ) ) and 
	( ( @ARTICULO_3_TEMPORADA_DESDE is null ) OR ( C_ARTICULO3.ATEMPORADA >= @ARTICULO_3_TEMPORADA_DESDE ) ) and 
	( ( @ARTICULO_3_TEMPORADA_HASTA is null ) OR ( C_ARTICULO3.ATEMPORADA <= @ARTICULO_3_TEMPORADA_HASTA ) ) and 
	( ( @ARTICULO_3_UNIDADDEMEDIDA_DESDE is null ) OR ( C_ARTICULO3.UniMed >= @ARTICULO_3_UNIDADDEMEDIDA_DESDE ) ) and 
	( ( @ARTICULO_3_UNIDADDEMEDIDA_HASTA is null ) OR ( C_ARTICULO3.UniMed <= @ARTICULO_3_UNIDADDEMEDIDA_HASTA ) ) and 
	( ( @ARTICULO_3_FAMILIA_DESDE is null ) OR ( C_ARTICULO3.Familia >= @ARTICULO_3_FAMILIA_DESDE ) ) and 
	( ( @ARTICULO_3_FAMILIA_HASTA is null ) OR ( C_ARTICULO3.Familia <= @ARTICULO_3_FAMILIA_HASTA ) ) and 
	( ( @ARTICULO_3_MATERIAL_DESDE is null ) OR ( C_ARTICULO3.Mat >= @ARTICULO_3_MATERIAL_DESDE ) ) and 
	( ( @ARTICULO_3_MATERIAL_HASTA is null ) OR ( C_ARTICULO3.Mat <= @ARTICULO_3_MATERIAL_HASTA ) ) and 
	( ( @ARTICULO_3_LINEA_DESDE is null ) OR ( C_ARTICULO3.Linea >= @ARTICULO_3_LINEA_DESDE ) ) and 
	( ( @ARTICULO_3_LINEA_HASTA is null ) OR ( C_ARTICULO3.Linea <= @ARTICULO_3_LINEA_HASTA ) ) and 
	( ( @ARTICULO_3_GRUPO_DESDE is null ) OR ( C_ARTICULO3.Grupo >= @ARTICULO_3_GRUPO_DESDE ) ) and 
	( ( @ARTICULO_3_GRUPO_HASTA is null ) OR ( C_ARTICULO3.Grupo <= @ARTICULO_3_GRUPO_HASTA ) ) and 
	( ( @ARTICULO_3_CATEGORIADEARTICULO_DESDE is null ) OR ( C_ARTICULO3.CateArti >= @ARTICULO_3_CATEGORIADEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_3_CATEGORIADEARTICULO_HASTA is null ) OR ( C_ARTICULO3.CateArti <= @ARTICULO_3_CATEGORIADEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_3_CLASIFICACION_DESDE is null ) OR ( C_ARTICULO3.ClasifArt >= @ARTICULO_3_CLASIFICACION_DESDE ) ) and 
	( ( @ARTICULO_3_CLASIFICACION_HASTA is null ) OR ( C_ARTICULO3.ClasifArt <= @ARTICULO_3_CLASIFICACION_HASTA ) ) and 
	( ( @ARTICULO_3_ANO_DESDE is null ) OR ( C_ARTICULO3.Ano >= @ARTICULO_3_ANO_DESDE ) ) and 
	( ( @ARTICULO_3_ANO_HASTA is null ) OR ( C_ARTICULO3.Ano <= @ARTICULO_3_ANO_HASTA ) ) and 
	( ( @ARTICULO_3_TIPODEARTICULO_DESDE is null ) OR ( C_ARTICULO3.TipoArti >= @ARTICULO_3_TIPODEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_3_TIPODEARTICULO_HASTA is null ) OR ( C_ARTICULO3.TipoArti <= @ARTICULO_3_TIPODEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_3_CONDICIONIVACOMPRAS is null ) OR ( C_ARTICULO3.ARTIVA = @ARTICULO_3_CONDICIONIVACOMPRAS ) ) and 
	( ( @ARTICULO_3_PORCENTAJEIVACOMPRAS_DESDE is null ) OR ( C_ARTICULO3.ANX2 >= @ARTICULO_3_PORCENTAJEIVACOMPRAS_DESDE ) ) and 
	( ( @ARTICULO_3_PORCENTAJEIVACOMPRAS_HASTA is null ) OR ( C_ARTICULO3.ANX2 <= @ARTICULO_3_PORCENTAJEIVACOMPRAS_HASTA ) ) and 
	( ( @ARTICULO_3_COMPORTAMIENTO is null ) OR ( C_ARTICULO3.ASTOCK = @ARTICULO_3_COMPORTAMIENTO ) ) and 
	( ( @ARTICULO_3_PALETADECOLORES_DESDE is null ) OR ( C_ARTICULO3.PalCol >= @ARTICULO_3_PALETADECOLORES_DESDE ) ) and 
	( ( @ARTICULO_3_PALETADECOLORES_HASTA is null ) OR ( C_ARTICULO3.PalCol <= @ARTICULO_3_PALETADECOLORES_HASTA ) ) and 
	( ( @ARTICULO_3_CURVADETALLES_DESDE is null ) OR ( C_ARTICULO3.Curtall >= @ARTICULO_3_CURVADETALLES_DESDE ) ) and 
	( ( @ARTICULO_3_CURVADETALLES_HASTA is null ) OR ( C_ARTICULO3.Curtall <= @ARTICULO_3_CURVADETALLES_HASTA ) ) and 
	( ( @ARTICULO_3_NOCOMERCIALIZABLE_DESDE is null ) OR ( C_ARTICULO3.NOCOM >= @ARTICULO_3_NOCOMERCIALIZABLE_DESDE ) ) and 
	( ( @ARTICULO_3_NOCOMERCIALIZABLE_HASTA is null ) OR ( C_ARTICULO3.NOCOM <= @ARTICULO_3_NOCOMERCIALIZABLE_HASTA ) ) and 
	( ( @ARTICULO_3_NOMENCLADOR_DESDE is null ) OR ( C_ARTICULO3.ARTNARBA >= @ARTICULO_3_NOMENCLADOR_DESDE ) ) and 
	( ( @ARTICULO_3_NOMENCLADOR_HASTA is null ) OR ( C_ARTICULO3.ARTNARBA <= @ARTICULO_3_NOMENCLADOR_HASTA ) ) and 
	( ( @ARTICULO_3_NOPERMITEDEVOLUCIONES is null ) OR ( C_ARTICULO3.ARTNODEVO = @ARTICULO_3_NOPERMITEDEVOLUCIONES ) ) and 
	( ( @ARTICULO_3_IMPRIMEDESPACHO is null ) OR ( C_ARTICULO3.EsImpDes = @ARTICULO_3_IMPRIMEDESPACHO ) ) and 
	( ( @ARTICULO_3_PORCENTAJEIMPUESTOINTERNO_DESDE is null ) OR ( C_ARTICULO3.impinterno >= @ARTICULO_3_PORCENTAJEIMPUESTOINTERNO_DESDE ) ) and 
	( ( @ARTICULO_3_PORCENTAJEIMPUESTOINTERNO_HASTA is null ) OR ( C_ARTICULO3.impinterno <= @ARTICULO_3_PORCENTAJEIMPUESTOINTERNO_HASTA ) ) and 
	( ( @ARTICULO_3_RESTRINGIRDESCUENTOS is null ) OR ( C_ARTICULO3.ArtSinDes = @ARTICULO_3_RESTRINGIRDESCUENTOS ) ) and 
	( ( @ARTICULO_3_PESO_DESDE is null ) OR ( C_ARTICULO3.ARTPESO >= @ARTICULO_3_PESO_DESDE ) ) and 
	( ( @ARTICULO_3_PESO_HASTA is null ) OR ( C_ARTICULO3.ARTPESO <= @ARTICULO_3_PESO_HASTA ) ) and 
	( ( @ARTICULO_3_LARGO_DESDE is null ) OR ( C_ARTICULO3.ARTLARGO >= @ARTICULO_3_LARGO_DESDE ) ) and 
	( ( @ARTICULO_3_LARGO_HASTA is null ) OR ( C_ARTICULO3.ARTLARGO <= @ARTICULO_3_LARGO_HASTA ) ) and 
	( ( @ARTICULO_3_ANCHO_DESDE is null ) OR ( C_ARTICULO3.ARTANCHO >= @ARTICULO_3_ANCHO_DESDE ) ) and 
	( ( @ARTICULO_3_ANCHO_HASTA is null ) OR ( C_ARTICULO3.ARTANCHO <= @ARTICULO_3_ANCHO_HASTA ) ) and 
	( ( @ARTICULO_3_ALTO_DESDE is null ) OR ( C_ARTICULO3.ARTALTO >= @ARTICULO_3_ALTO_DESDE ) ) and 
	( ( @ARTICULO_3_ALTO_HASTA is null ) OR ( C_ARTICULO3.ARTALTO <= @ARTICULO_3_ALTO_HASTA ) ) and 
	( ( @ARTICULO_3_REQUIERECCOSTO_DESDE is null ) OR ( C_ARTICULO3.ReqCCosto >= @ARTICULO_3_REQUIERECCOSTO_DESDE ) ) and 
	( ( @ARTICULO_3_REQUIERECCOSTO_HASTA is null ) OR ( C_ARTICULO3.ReqCCosto <= @ARTICULO_3_REQUIERECCOSTO_HASTA ) ) and 
	( ( @ARTICULO_3_NOPUBLICARENECOMMERCE is null ) OR ( C_ARTICULO3.PubEcom = @ARTICULO_3_NOPUBLICARENECOMMERCE ) ) and 
	( ( @ARTICULO_3_IMPORTADO is null ) OR ( C_ARTICULO3.Importado = @ARTICULO_3_IMPORTADO ) ) and 
	( ( @ARTICULO_3_DESCRIPCIONADICIONAL_DESDE is null ) OR ( C_ARTICULO3.ARTDESADIC >= @ARTICULO_3_DESCRIPCIONADICIONAL_DESDE ) ) and 
	( ( @ARTICULO_3_DESCRIPCIONADICIONAL_HASTA is null ) OR ( C_ARTICULO3.ARTDESADIC <= @ARTICULO_3_DESCRIPCIONADICIONAL_HASTA ) ) and 
	( ( @ARTICULO_3_SOLOPROMOYKIT is null ) OR ( C_ARTICULO3.PromoYKit = @ARTICULO_3_SOLOPROMOYKIT ) ) and 
	( ( @ARTICULO_3_RESTRINGIRARTICULO_DESDE is null ) OR ( C_ARTICULO3.ArtRest >= @ARTICULO_3_RESTRINGIRARTICULO_DESDE ) ) and 
	( ( @ARTICULO_3_RESTRINGIRARTICULO_HASTA is null ) OR ( C_ARTICULO3.ArtRest <= @ARTICULO_3_RESTRINGIRARTICULO_HASTA ) ) and 
	( ( @ARTICULO_3_MARCA_DESDE is null ) OR ( C_ARTICULO3.Marca >= @ARTICULO_3_MARCA_DESDE ) ) and 
	( ( @ARTICULO_3_MARCA_HASTA is null ) OR ( C_ARTICULO3.Marca <= @ARTICULO_3_MARCA_HASTA ) ) and 
	( ( @ARTICULO_3_PERCEPCIONIVARG5329 is null ) OR ( C_ARTICULO3.ArtPercep = @ARTICULO_3_PERCEPCIONIVARG5329 ) ) and 
	( ( @SUCURSAL_9254_CODIGO_DESDE is null ) OR ( C_SUCURSAL.codigo >= @SUCURSAL_9254_CODIGO_DESDE ) ) and 
	( ( @SUCURSAL_9254_CODIGO_HASTA is null ) OR ( C_SUCURSAL.codigo <= @SUCURSAL_9254_CODIGO_HASTA ) ) and 
	( ( @ITEMORDENCURVA_NROITEM_DESDE is null ) OR ( c_ITEMORDENCURVA.NROITEM >= @ITEMORDENCURVA_NROITEM_DESDE ) ) and 
	( ( @ITEMORDENCURVA_NROITEM_HASTA is null ) OR ( c_ITEMORDENCURVA.NROITEM <= @ITEMORDENCURVA_NROITEM_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.BDALTAFW >= @ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.BDALTAFW <= @ORDENDEPRODUCCION_1_BASEDEDATOSALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.BDMODIFW >= @ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.BDMODIFW <= @ORDENDEPRODUCCION_1_BASEDEDATOSMODIFICACIONFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_DESDE is null ) OR ( C_ORDENDEPRODUCCION.ESTTRANS >= @ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_HASTA is null ) OR ( C_ORDENDEPRODUCCION.ESTTRANS <= @ORDENDEPRODUCCION_1_ESTADOTRANSFERENCIA_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FALTAFW >= @ORDENDEPRODUCCION_1_FECHAALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FALTAFW <= @ORDENDEPRODUCCION_1_FECHAALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAEXPO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FECEXPO >= @ORDENDEPRODUCCION_1_FECHAEXPO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAEXPO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FECEXPO <= @ORDENDEPRODUCCION_1_FECHAEXPO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAIMPO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FECIMPO >= @ORDENDEPRODUCCION_1_FECHAIMPO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAIMPO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FECIMPO <= @ORDENDEPRODUCCION_1_FECHAIMPO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FMODIFW >= @ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FMODIFW <= @ORDENDEPRODUCCION_1_FECHAMODIFICACIONFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_DESDE is null ) OR ( C_ORDENDEPRODUCCION.FECTRANS >= @ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_HASTA is null ) OR ( C_ORDENDEPRODUCCION.FECTRANS <= @ORDENDEPRODUCCION_1_FECHATRANSFERENCIA_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.HALTAFW >= @ORDENDEPRODUCCION_1_HORAALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.HALTAFW <= @ORDENDEPRODUCCION_1_HORAALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAEXPO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.HORAEXPO >= @ORDENDEPRODUCCION_1_HORAEXPO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAEXPO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.HORAEXPO <= @ORDENDEPRODUCCION_1_HORAEXPO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAIMPO_DESDE is null ) OR ( C_ORDENDEPRODUCCION.HORAIMPO >= @ORDENDEPRODUCCION_1_HORAIMPO_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAIMPO_HASTA is null ) OR ( C_ORDENDEPRODUCCION.HORAIMPO <= @ORDENDEPRODUCCION_1_HORAIMPO_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.HMODIFW >= @ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.HMODIFW <= @ORDENDEPRODUCCION_1_HORAMODIFICACIONFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_SERIEALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.SALTAFW >= @ORDENDEPRODUCCION_1_SERIEALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_SERIEALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.SALTAFW <= @ORDENDEPRODUCCION_1_SERIEALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.SMODIFW >= @ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.SMODIFW <= @ORDENDEPRODUCCION_1_SERIEMODIFICACIONFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_USUARIOALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.UALTAFW >= @ORDENDEPRODUCCION_1_USUARIOALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_USUARIOALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.UALTAFW <= @ORDENDEPRODUCCION_1_USUARIOALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.UMODIFW >= @ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.UMODIFW <= @ORDENDEPRODUCCION_1_USUARIOMODIFICACIONFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_VERSIONALTAFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.VALTAFW >= @ORDENDEPRODUCCION_1_VERSIONALTAFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_VERSIONALTAFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.VALTAFW <= @ORDENDEPRODUCCION_1_VERSIONALTAFW_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_DESDE is null ) OR ( C_ORDENDEPRODUCCION.VMODIFW >= @ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_HASTA is null ) OR ( C_ORDENDEPRODUCCION.VMODIFW <= @ORDENDEPRODUCCION_1_VERSIONMODIFICACIONFW_HASTA ) )

)