IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[ObtenerImputacionesContablesPorValor]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[ObtenerImputacionesContablesPorValor];
GO;
Create Function [Contabilidad].[ObtenerImputacionesContablesPorValor]
	(
		@tblAtipodet as Contabilidad.udt_TableType_Atipodet ReadOnly,
		@tblImpdirval as Contabilidad.udt_TableType_Impdirval ReadOnly,
		@tblBasesAgrup as Contabilidad.udt_TableType_BasesAgrup ReadOnly,
		@CodigoAsientoTipo char(10), 
		@CodigoConcepto char(15), 
		@TipoAsi int,
		@BaseDeDatosActual char(8), 
		@SucursalActual char(10), 
		@TipoSucursalActual char(10)
	)
	returns @imputaciones table
	(
		Cod char(5),
		cuentaDebe varchar(30),
		cuentaHaber varchar(30),
		NumeroImpValor numeric( 8 )
	)
	as
	begin

		declare @CodAnterior char(5) = ''
		declare @Cod char(5)
		Declare @CuentaDebe varchar( 30 )
		Declare @CuentaHaber varchar( 30 )
		Declare @Importancia varchar( 40 )
		Declare @NumeroImpValor numeric( 8 )

		Declare cImpDir Cursor for
			select  entidad.clcod, 
					case when asietipo.cuentade = '' then '' else isnull( i.pcuenta, asietipo.CUENTADE ) end CuentaDebe,
					case when asietipo.cuentaha = '' then '' else isnull( i.pcuenta, asietipo.CUENTAHA ) end CuentaHaber,
					isnull( replicate ('0',(10 - len(i.importanci))) + convert(varchar, i.importanci) + convert(char(8),i.FMODIFW,112) + i.HMODIFW, '' ) as Importancia,
					i.numero as NumeroImpValor
				from zoologic.xval as entidad
					cross join ( select * from  @tblAtipodet where codigo = @CodigoAsientoTipo and codconc = @CodigoConcepto ) asietipo
					left join @tblImpdirval i on    ( entidad.clcod between i.valdesde and i.valhasta )
												and ( i.tipoval = 0 or i.tipoval = entidad.clcfi )
												and ( entidad.clsmonet between i.mondesde and i.monhasta )
												and ( entidad.opetar between i.opedesde and i.opehasta )
												and ( i.tipotarj = '0' or i.tipotarj = entidad.tipotarj )
												and ( i.tipoasi = 0 or i.tipoasi = @TipoAsi )
												and ( @SucursalActual between i.sucdesde and i.suchasta )
												and ( @TipoSucursalActual between i.tsucdesde and i.tsuchasta )
												and ( i.base = ''
													or ( substring( i.base, 1, 1 ) <> '[' and i.base = @BaseDeDatosActual )
													or ( substring( i.base, 1, 1 ) = '['
														and replace(replace(i.base,'[',''),']','') in ( Select agrupamiento from @tblBasesAgrup where basededatos = @BaseDeDatosActual ) )
													)
				order by entidad.clcod, Importancia desc

		Open cImpDir
		Fetch Next From cImpDir Into @Cod, @CuentaDebe, @CuentaHaber, @Importancia, @NumeroImpValor
		while @@FETCH_STATUS = 0
		begin
			if @Cod <> @CodAnterior
			begin
				Insert into @imputaciones ( Cod, cuentaDebe, cuentaHaber, NumeroImpValor )
				Select @Cod, @CuentaDebe, @CuentaHaber, @NumeroImpValor
			end
			set @CodAnterior = @Cod
			Fetch Next From cImpDir Into @Cod, @CuentaDebe, @CuentaHaber, @Importancia, @NumeroImpValor
		end
		close cImpDir
		Deallocate cImpDir

		return
	end
