IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerDatosIvaSimple]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerDatosIvaSimple];
GO;

CREATE FUNCTION [Funciones].[ObtenerDatosIvaSimple]
( @Tipo numeric(1),
  @Articulo varchar(15),
  @CodActividad int
)
RETURNS numeric (6)
AS
BEGIN
    DECLARE @retorno numeric (6)
    DECLARE @todebito numeric(1)
	DECLARE @toresdebit numeric(1)
	DECLARE @tocredres numeric(1)
    
    -- Consulta para obtener los datos del IVA Simple
    SELECT 
        @todebito = ivd.todebito,
		@toresdebit = ivd.toresdebit,
	    @tocredres = ivd.tocredres

    FROM (
        SELECT codigo, criterio, codact
        FROM zoologic.IVASIMPLE 
		where codact = @CodActividad
    ) uis
    INNER JOIN zoologic.IVASIMPLEDET ivd ON uis.codigo = ivd.codigo
    INNER JOIN (
        SELECT artcod, familia, artfab as proveedor, mat as material, ATEMPORADA, UNIMED, LINEA, GRUPO, CATEARTI, CLASIFART, ANO, TIPOARTI
        FROM zoologic.art 
        WHERE artcod = @Articulo
    ) ai ON 1=1
    WHERE 
		(UPPER(uis.criterio) = 'ARTICULO' AND ai.artcod >= ivd.artdesde AND ai.artcod <= ivd.arthasta)
		or (UPPER(uis.criterio) = 'FAMILIA' AND ai.familia >= ivd.artdesde AND ai.familia <= ivd.arthasta)
        OR (UPPER(uis.criterio) = 'PROVEEDOR' AND ai.proveedor >= ivd.artdesde AND ai.proveedor <= ivd.arthasta)
		OR (UPPER(uis.criterio) = 'MATERIAL' AND ai.material >= ivd.artdesde AND ai.material <= ivd.arthasta)
		OR (UPPER(uis.criterio) = 'TEMPORADA' AND ai.ATEMPORADA >= ivd.artdesde AND ai.ATEMPORADA <= ivd.arthasta)
		OR (UPPER(uis.criterio) = 'UNIDADDEMEDIDA' AND ai.UNIMED >= ivd.artdesde AND ai.UNIMED <= ivd.arthasta)
		OR (UPPER(uis.criterio) = 'LINEA' AND ai.LINEA >= ivd.artdesde AND ai.LINEA <= ivd.arthasta)
		OR (UPPER(uis.criterio) = 'GRUPO' AND ai.GRUPO >= ivd.artdesde AND ai.GRUPO <= ivd.arthasta)
		OR (UPPER(uis.criterio) = 'CATEGORIADEARTICULO' AND ai.CATEARTI >= ivd.artdesde AND ai.CATEARTI <= ivd.arthasta)
		OR (UPPER(uis.criterio) = 'CLASIFICACION' AND ai.CLASIFART >= ivd.artdesde AND ai.CLASIFART <= ivd.arthasta)
		OR (UPPER(uis.criterio) = 'ANO' AND ai.ANO >= ivd.artdesde AND ai.ANO <= ivd.arthasta)
		OR (UPPER(uis.criterio) = 'TIPODEARTICULO' AND ai.TIPOARTI >= ivd.artdesde AND ai.TIPOARTI <= ivd.arthasta)

    -- Asignar el valor según el tipo solicitado
    SET @retorno = 
        CASE @Tipo 
            WHEN 2 THEN ISNULL(@todebito, 0)
			WHEN 3 THEN ISNULL(@toresdebit, 0)
            WHEN 4 THEN ISNULL(@tocredres, 0)
            ELSE 0
        END

    RETURN @retorno
END