IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_LasPiedrasShopping_Valores]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_LasPiedrasShopping_Valores];
GO;

CREATE function [Interfaces].[Interfaz_LasPiedrasShopping_Valores]
(
	@Codigo varchar(38)
)

RETURNS TABLE
AS
RETURN
(
	select
		cast(DatosComp.FormaPago as char(2)) as FormaPago, 
		DatosComp.Recibido as Recibido,
		case when FormaPago = '00' then 'CONT' else case when FormaPago between 91 and 93 then 'DEBI' else 'CRED' end end as TipoValor,
		DatosComp.Cantidad as Cantidad
	from
		(select Valores.Jjrecib * Valores.Jjcotiz as Recibido,
			case when [ConverVal].ValDest is null then Conver.ValorDef else [ConverVal].ValDest end as FormaPago, 
			case when Cupones.Cuotas is null then 1 else Cupones.Cuotas end as Cantidad
		from  ZooLogic.Val as Valores
			left join [Organizacion].[Conver] as Conver on Conver.Codigo = 'LASPIEDRASSHOPPINGVALORES'
			left join [Organizacion].[ConverVal] as Converval on Conver.Codigo = Converval.Conversion and funciones.alltrim( Converval.ValOrig ) = funciones.alltrim( Valores.Jjco ) 
			left join Zoologic.Cupones as Cupones on Cupones.Codigo = Valores.Cupon
		where Valores.Jjnum = @Codigo	
		) as DatosComp
)