IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[HER_ADT_STOCKCOMBINACION_CMV_ADT_STOCKCOMBINACION]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Listados].[HER_ADT_STOCKCOMBINACION_CMV_ADT_STOCKCOMBINACION];
GO;

CREATE FUNCTION [Listados].[HER_ADT_STOCKCOMBINACION_CMV_ADT_STOCKCOMBINACION]
( @BaseDeDatos varchar(8),
	@PROVEEDOR_777777_NOMBRE_DESDE varchar(60),
	@PROVEEDOR_777777_NOMBRE_HASTA varchar(60),
	@ADT_STOCKCOMBINACION_ADT_ENT_DESDE varchar(40),
	@ADT_STOCKCOMBINACION_ADT_ENT_HASTA varchar(40),
	@ADT_STOCKCOMBINACION_CODIGO_DESDE varchar(26),
	@ADT_STOCKCOMBINACION_CODIGO_HASTA varchar(26),
	@ADT_STOCKCOMBINACION_CANTIDADORIGINAL_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_CANTIDADORIGINAL_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_ENTRANSITOORIGINAL_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_ENTRANSITOORIGINAL_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_ENTREGAPEN_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_ENTREGAPEN_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_ENTREGAPENORIGINAL_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_ENTREGAPENORIGINAL_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_COMPRAPEN_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_COMPRAPEN_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_COMPRAPENORIGINAL_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_COMPRAPENORIGINAL_HASTA numeric(15, 2),
	@ARTICULO_777872_DESCRIPCION_DESDE varchar(70),
	@ARTICULO_777872_DESCRIPCION_HASTA varchar(70),
	@ARTICULO_777872_TEMPORADA_DESDE varchar(5),
	@ARTICULO_777872_TEMPORADA_HASTA varchar(5),
	@ARTICULO_777872_UNIDADDEMEDIDA_DESDE varchar(3),
	@ARTICULO_777872_UNIDADDEMEDIDA_HASTA varchar(3),
	@ARTICULO_777872_FAMILIA_DESDE varchar(10),
	@ARTICULO_777872_FAMILIA_HASTA varchar(10),
	@ARTICULO_777872_MATERIAL_DESDE varchar(10),
	@ARTICULO_777872_MATERIAL_HASTA varchar(10),
	@ARTICULO_777872_LINEA_DESDE varchar(10),
	@ARTICULO_777872_LINEA_HASTA varchar(10),
	@ARTICULO_777872_GRUPO_DESDE varchar(10),
	@ARTICULO_777872_GRUPO_HASTA varchar(10),
	@ARTICULO_777872_CATEGORIADEARTICULO_DESDE varchar(10),
	@ARTICULO_777872_CATEGORIADEARTICULO_HASTA varchar(10),
	@ARTICULO_777872_CLASIFICACION_DESDE varchar(10),
	@ARTICULO_777872_CLASIFICACION_HASTA varchar(10),
	@ARTICULO_777872_ANO_DESDE numeric(4, 0),
	@ARTICULO_777872_ANO_HASTA numeric(4, 0),
	@ARTICULO_777872_TIPODEARTICULO_DESDE varchar(10),
	@ARTICULO_777872_TIPODEARTICULO_HASTA varchar(10),
	@ARTICULO_777872_COMPORTAMIENTO numeric(1, 0),
	@ARTICULO_777872_IMAGEN_DESDE varchar(70),
	@ARTICULO_777872_IMAGEN_HASTA varchar(70),
	@ARTICULO_777872_PROVEEDOR_DESDE varchar(10),
	@ARTICULO_777872_PROVEEDOR_HASTA varchar(10),
	@ADT_STOCKCOMBINACION_ADT_FECHA_DESDE datetime,
	@ADT_STOCKCOMBINACION_ADT_FECHA_HASTA datetime,
	@ADT_STOCKCOMBINACION_ADT_HORA_DESDE varchar(8),
	@ADT_STOCKCOMBINACION_ADT_HORA_HASTA varchar(8),
	@ADT_STOCKCOMBINACION_ADT_SERIE_DESDE varchar(20),
	@ADT_STOCKCOMBINACION_ADT_SERIE_HASTA varchar(20),
	@ADT_STOCKCOMBINACION_ADT_USR_DESDE varchar(100),
	@ADT_STOCKCOMBINACION_ADT_USR_HASTA varchar(100),
	@ADT_STOCKCOMBINACION_ADT_COMP_DESDE varchar(254),
	@ADT_STOCKCOMBINACION_ADT_COMP_HASTA varchar(254),
	@ADT_STOCKCOMBINACION_ADT_ADN_DESDE varchar(10),
	@ADT_STOCKCOMBINACION_ADT_ADN_HASTA varchar(10),
	@ADT_STOCKCOMBINACION_ADT_VERS_DESDE varchar(13),
	@ADT_STOCKCOMBINACION_ADT_VERS_HASTA varchar(13),
	@ADT_STOCKCOMBINACION_ARTICULO_DESDE varchar(15),
	@ADT_STOCKCOMBINACION_ARTICULO_HASTA varchar(15),
	@ADT_STOCKCOMBINACION_COLOR_DESDE varchar(6),
	@ADT_STOCKCOMBINACION_COLOR_HASTA varchar(6),
	@ADT_STOCKCOMBINACION_TALLE_DESDE varchar(5),
	@ADT_STOCKCOMBINACION_TALLE_HASTA varchar(5),
	@ADT_STOCKCOMBINACION_CANTIDAD_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_CANTIDAD_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_ENTRANSITO_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_ENTRANSITO_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_PEDCOMP_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_PEDCOMP_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_PEDCOMPORIGINAL_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_PEDCOMPORIGINAL_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_PEDIDO_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_PEDIDO_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_PEDIDOORIGINAL_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_PEDIDOORIGINAL_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_PREPARADO_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_PREPARADO_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_PREPARADOORIGINAL_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_PREPARADOORIGINAL_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_PRESUPUESTADO_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_PRESUPUESTADO_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_PRESUPUESTADOORIGINAL_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_PRESUPUESTADOORIGINAL_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_SENIADO_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_SENIADO_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_SENIADOORIGINAL_DESDE numeric(15, 2),
	@ADT_STOCKCOMBINACION_SENIADOORIGINAL_HASTA numeric(15, 2),
	@ADT_STOCKCOMBINACION_ADT_EXT bit,
	@STOCKCOMBINACION_777873_CODIGO_CANTIDAD_DESDE numeric(15, 2),
	@STOCKCOMBINACION_777873_CODIGO_CANTIDAD_HASTA numeric(15, 2),
	@COLOR_777874_COLOR_DESCRIPCION_DESDE varchar(50),
	@COLOR_777874_COLOR_DESCRIPCION_HASTA varchar(50),
	@TALLE_777875_TALLE_DESCRIPCION_DESDE varchar(50),
	@TALLE_777875_TALLE_DESCRIPCION_HASTA varchar(50),
	@SEGMENTACION_778032_SEGMENTACION_DESCRIPCION_DESDE varchar(50),
	@SEGMENTACION_778032_SEGMENTACION_DESCRIPCION_HASTA varchar(50),
	@LINEASUCURSAL_778031_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEASUCURSAL_778031_LINEA_DESCRIPCION_HASTA varchar(50),
	@TIPOSUCURSAL_778030_TIPO_DESCRIPCION_DESDE varchar(50),
	@TIPOSUCURSAL_778030_TIPO_DESCRIPCION_HASTA varchar(50),
	@TEMPORADA_9315_TEMPORADA_DESCRIPCION_DESDE varchar(50),
	@TEMPORADA_9315_TEMPORADA_DESCRIPCION_HASTA varchar(50),
	@UNIDADDEMEDIDA_9320_UNIDADDEMEDIDA_DESCRIPCION_DESDE varchar(50),
	@UNIDADDEMEDIDA_9320_UNIDADDEMEDIDA_DESCRIPCION_HASTA varchar(50),
	@FAMILIA_9325_FAMILIA_DESCRIPCION_DESDE varchar(50),
	@FAMILIA_9325_FAMILIA_DESCRIPCION_HASTA varchar(50),
	@MATERIAL_9330_MATERIAL_DESCRIPCION_DESDE varchar(40),
	@MATERIAL_9330_MATERIAL_DESCRIPCION_HASTA varchar(40),
	@LINEA_9335_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEA_9335_LINEA_DESCRIPCION_HASTA varchar(50),
	@GRUPO_9340_GRUPO_DESCRIPCION_DESDE varchar(50),
	@GRUPO_9340_GRUPO_DESCRIPCION_HASTA varchar(50),
	@CATEGORIADEARTICULO_9345_CATEGORIADEARTICULO_DESCRIPCION_DESDE varchar(50),
	@CATEGORIADEARTICULO_9345_CATEGORIADEARTICULO_DESCRIPCION_HASTA varchar(50),
	@CLASIFICACIONARTICULO_9350_CLASIFICACION_DESCRIPCION_DESDE varchar(50),
	@CLASIFICACIONARTICULO_9350_CLASIFICACION_DESCRIPCION_HASTA varchar(50),
	@TIPODEARTICULO_9360_TIPODEARTICULO_DESCRIPCION_DESDE varchar(50),
	@TIPODEARTICULO_9360_TIPODEARTICULO_DESCRIPCION_HASTA varchar(50),
	@SUCURSAL_778027_SEGMENTACION_DESDE varchar(10),
	@SUCURSAL_778027_SEGMENTACION_HASTA varchar(10),
	@SUCURSAL_778027_LINEA_DESDE varchar(10),
	@SUCURSAL_778027_LINEA_HASTA varchar(10),
	@SUCURSAL_778027_TIPO_DESDE varchar(10),
	@SUCURSAL_778027_TIPO_HASTA varchar(10),
	@SUCURSAL_778027_DESCRIPCION_DESDE varchar(50),
	@SUCURSAL_778027_DESCRIPCION_HASTA varchar(50),
	@SUCURSAL_778027_CODIGO_DESDE varchar(10),
	@SUCURSAL_778027_CODIGO_HASTA varchar(10),
	@Parametro1 varchar(max),
	@Parametro2 varchar(max),
	@Parametro3 varchar(max),
	@tbl_CmvSaldoInicial as Contabilidad.udt_TableType_CMVTipoCompMovStock READONLY,
	@tbl_CmvMovimientos as Contabilidad.udt_TableType_CMVTipoCompMovStock READONLY,
	@tbl_CmvCompAsociados as Contabilidad.udt_TableType_CMVCompAsociados READONLY,
	@tbl_CmvCompras as Contabilidad.udt_TableType_CMVTipoCompMovStock READONLY,
	@Parametro8 varchar(max),
	@Parametro9 varchar(max),
	@Parametro10 varchar(max),
	@Parametro11 varchar(max),
	@Parametro12 varchar(max),
	@Parametro13 varchar(max),
	@Parametro14 varchar(max),
	@Parametro15 varchar(max),
	@Parametro16 varchar(max),
	@Parametro17 varchar(max) )
RETURNS TABLE
AS
RETURN
(
select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( '' , 38, ' ' ) as varchar( 46 ) ) as ADT_STOCKCOMBINACION__Grupo,
	@basededatos as ADT_STOCKCOMBINACION__BD,
	C_ARTICULO.ARTFAB as ARTICULO_ARTFAB,
	C_PROVEEDOR.CLNOM as PROVEEDOR_CLNOM,
	0 as ADT_STOCKCOMBINACION_STOCK, 
	'' as ADT_STOCKCOMBINACION_ADT_Cod,
	case when c_adt_stockcombinacion.fecha = '01/01/1900 00:00:00' then null else c_adt_stockcombinacion.fecha end as ADT_STOCKCOMBINACION_ADT_Fecha,
	'' as ADT_STOCKCOMBINACION_ADT_Hora,
	'' as ADT_STOCKCOMBINACION_ADT_Serie,
	'' as ADT_STOCKCOMBINACION_ADT_Usr,
	'' as ADT_STOCKCOMBINACION_ADT_Ent,
	c_ADT_STOCKCOMBINACION.CompDesc as ADT_STOCKCOMBINACION_ADT_Comp ,
	'' as ADT_STOCKCOMBINACION_ADT_ADN,
	'' as ADT_STOCKCOMBINACION_ADT_Vers,
	'' as ADT_STOCKCOMBINACION_ADT_Ext,
	c_ADT_STOCKCOMBINACION.Articulo as ADT_STOCKCOMBINACION_COART,
	c_ADT_STOCKCOMBINACION.Codigo as ADT_STOCKCOMBINACION_COCOD,
	c_ADT_STOCKCOMBINACION.Color as ADT_STOCKCOMBINACION_COCOL,
	c_ADT_STOCKCOMBINACION.Talle as ADT_STOCKCOMBINACION_Talle,
	c_ADT_STOCKCOMBINACION.Cantidad as ADT_STOCKCOMBINACION_COCANT,
	0 as ADT_STOCKCOMBINACION_CORIG,
	0 as ADT_STOCKCOMBINACION_EnTransito,
	0 as ADT_STOCKCOMBINACION_EnTranOrig,
	0 as ADT_STOCKCOMBINACION_EntregaPen,
	0 as ADT_STOCKCOMBINACION_cOrigEntre,
	0 as ADT_STOCKCOMBINACION_CompraPen,
	0 as ADT_STOCKCOMBINACION_cOrigCoPen,
	0 as ADT_STOCKCOMBINACION_PEDCOMP,
	0 as ADT_STOCKCOMBINACION_cOrigPEDCO,
	0 as ADT_STOCKCOMBINACION_PEDIDO,
	0 as ADT_STOCKCOMBINACION_cOrigPEDID,
	0 as ADT_STOCKCOMBINACION_PREPARADO,
	0 as ADT_STOCKCOMBINACION_cOrigPREPA,
	0 as ADT_STOCKCOMBINACION_PRESUPUEST,
	0 as ADT_STOCKCOMBINACION_cOrigPRESU,
	0 as ADT_STOCKCOMBINACION_SENIADO,
	0 as ADT_STOCKCOMBINACION_cOrigSENIA,
	C_SUCURSAL.SEG as SUCURSAL_seg,
	C_SUCURSAL.LINEA as SUCURSAL_Linea,
	C_SUCURSAL.TIPO as SUCURSAL_Tipo,
	C_SUCURSAL.DESCRIP as SUCURSAL_descrip,
	C_SUCURSAL.CODIGO as SUCURSAL_codigo,
	cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) as ADT_STOCKCOMBINACION__SUCURSAL,
	c_adt_stockcombinacion.CostoUnitario as ADT_STOCKCOMBINACION_PrecioVirtual,	
	c_ADT_STOCKCOMBINACION.Cantidad * c_ADT_STOCKCOMBINACION.CostoUnitario as ADT_STOCKCOMBINACION_CostoTotalVirtual,
	c_ADT_STOCKCOMBINACION.CostoInvAcum as ADT_STOCKCOMBINACION_CostoAcumuladoVirtual,	
	case when c_ADT_STOCKCOMBINACION.Stock = 0 then 0 else c_ADT_STOCKCOMBINACION.CostoInvAcum / c_ADT_STOCKCOMBINACION.Stock end as ADT_STOCKCOMBINACION_CostoUnitarioVirtual, -- => Acumulado / Stock
	cast( @parametro1 as varchar( 4 ) ) as ADT_STOCKCOMBINACION_MetodoDeCosteoVirtual,
	c_ADT_STOCKCOMBINACION.Stock as ADT_STOCKCOMBINACION_StockVirtual, 
	funciones.ObtenerIdentificadorDeEntidad( replace( ltrim( rtrim( left( c_ADT_STOCKCOMBINACION.RelaCompDesc, CHARINDEX( ' ', c_ADT_STOCKCOMBINACION.RelaCompDesc ) ) ) ), '-', '' ) ) + rtrim( substring( c_ADT_STOCKCOMBINACION.RelaCompDesc, CHARINDEX( ' ', c_ADT_STOCKCOMBINACION.RelaCompDesc ), LEN( c_ADT_STOCKCOMBINACION.RelaCompDesc ) - CHARINDEX( ' ', c_ADT_STOCKCOMBINACION.RelaCompDesc ) +1 ) ) as ADT_STOCKCOMBINACION_ComprobanteRelacionadoVirtual, 
	cast( funciones.ObtenerIdentificadorDeEntidad(funciones.ObtenerNombreDeComprobanteAuditoria(c_adt_stockcombinacion.CompDesc)) + ' ' + funciones.ObtenerNumeracionDeComprobanteAuditoria(c_adt_stockcombinacion.CompDesc) as varchar( 21 ) ) as ADT_STOCKCOMBINACION_ComprobanteVirtual,
	C_ARTICULO.ARTDES as ARTICULO_ARTDES,
	C_ARTICULO.ATEMPORADA as ARTICULO_ATEMPORADA,
	C_ARTICULO.UNIMED as ARTICULO_UniMed,
	C_ARTICULO.FAMILIA as ARTICULO_Familia,
	C_ARTICULO.MAT as ARTICULO_Mat,
	C_ARTICULO.LINEA as ARTICULO_Linea,
	C_ARTICULO.GRUPO as ARTICULO_Grupo,
	C_ARTICULO.CATEARTI as ARTICULO_CateArti,
	C_ARTICULO.CLASIFART as ARTICULO_ClasifArt,
	C_ARTICULO.ANO as ARTICULO_Ano,
	C_ARTICULO.TIPOARTI as ARTICULO_TipoArti,
	C_ARTICULO.ASTOCK as ARTICULO_ASTOCK,
	C_ARTICULO.ARIMAGEN as ARTICULO_ARIMAGEN,
	cast( 0 as numeric( 1, 0 ) ) as ADT_STOCKCOMBINACION_TomaInformacionContable,
	cast( '19000101' as varchar( 8 ) ) as ADT_STOCKCOMBINACION_FechaSaldosIniVirtual,
	c_ADT_STOCKCOMBINACION.BD as ADT_STOCKCOMBINACION_BaseMovVirtual,
	cast( @Parametro2 as varchar( 1 ) ) as ADT_STOCKCOMBINACION_TipoSalida,
--	cast( @Parametro4 as varchar( 250 ) ) as ADT_STOCKCOMBINACION_TblSaldoInicialVirtual,
--	cast( @Parametro5 as varchar( 250 ) ) as ADT_STOCKCOMBINACION_TblMovimientosVirtual,
--	cast( @Parametro6 as varchar( 250 ) ) as ADT_STOCKCOMBINACION_TblAsociadosVirtual,
--  cast( @Parametro7 as varchar( 250 ) ) as ADT_STOCKCOMBINACION_TblComprasVirtual,
	c_ADT_STOCKCOMBINACION.RELACOMPTIPO as ADT_STOCKCOMBINACION_ComprobanteTipoRelaVirtual,
	c_ADT_STOCKCOMBINACION.RELACOMPLETRA as ADT_STOCKCOMBINACION_ComprobanteLetraRelaVirtual,
	c_ADT_STOCKCOMBINACION.RELACOMPPTOVEN as ADT_STOCKCOMBINACION_ComprobantePtoVtaRelaVirtual,
	c_ADT_STOCKCOMBINACION.RELACOMPNUM as ADT_STOCKCOMBINACION_ComprobanteNumeroRelaVirtual,
	0 as STOCKCOMBINACION_COCANT,
	C_COLOR.COLDES as COLOR_COLDES,
	C_TALLE.DESCRIP as TALLE_Descrip,
	C_SEGMENTACION.SDES as SEGMENTACION_SDES,
	C_LINEASUCURSAL.LSDES as LINEASUCURSAL_LSDES,
	C_TIPOSUCURSAL.TDES as TIPOSUCURSAL_TDES,
	C_TEMPORADA.TDES as TEMPORADA_TDES,
	C_UNIDADDEMEDIDA.DESCRIP as UNIDADDEMEDIDA_Descrip,
	C_FAMILIA.DESCRIP as FAMILIA_Descrip,
	C_MATERIAL.MATDES as MATERIAL_MATDES,
	C_LINEA.DESCRIP as LINEA_Descrip,
	C_GRUPO.DESCRIP as GRUPO_Descrip,
	C_CATEGORIADEARTICULO.DESCRIP as CATEGORIADEARTICULO_Descrip,
	C_CLASIFICACIONARTICULO.DESCRIP as CLASIFICACIONARTICULO_DESCRIP,
	C_TIPODEARTICULO.DESCRIP as TIPODEARTICULO_Descrip,
	C_ARTICULO.ARTCOD as ARTICULO_ARTCOD,
	C_CATEGORIADEARTICULO.COD as CATEGORIADEARTICULO_Cod,
	C_CLASIFICACIONARTICULO.CODIGO as CLASIFICACIONARTICULO_CODIGO,
	C_COLOR.COLCOD as COLOR_COLCOD,
	C_FAMILIA.COD as FAMILIA_Cod,
	C_GRUPO.COD as GRUPO_Cod,
	C_LINEA.COD as LINEA_Cod,
	C_LINEASUCURSAL.LSCOD as LINEASUCURSAL_LSCOD,
	C_MATERIAL.MATCOD as MATERIAL_MATCOD,
	C_PROVEEDOR.CLCOD as PROVEEDOR_CLCOD,
	C_SEGMENTACION.SCOD as SEGMENTACION_SCOD,
	'' as STOCKCOMBINACION_COCOD,
	C_TALLE.CODIGO as TALLE_Codigo,
	C_TEMPORADA.TCOD as TEMPORADA_TCOD,
	C_TIPODEARTICULO.COD as TIPODEARTICULO_Cod,
	C_TIPOSUCURSAL.TCOD as TIPOSUCURSAL_TCOD,
	C_UNIDADDEMEDIDA.COD as UNIDADDEMEDIDA_Cod
from Contabilidad.CMV_ObtenerCostosComprobantesMuevenStockEntreFechas( @ADT_STOCKCOMBINACION_ADT_FECHA_DESDE, @ADT_STOCKCOMBINACION_ADT_FECHA_HASTA, @Parametro1, @Parametro2, @tbl_CmvSaldoInicial, @tbl_CmvMovimientos, @tbl_CmvCompAsociados, @tbl_CmvCompras ) as c_ADT_STOCKCOMBINACION 
 left join ZooLogic.ART as C_ARTICULO on C_ARTICULO.ARTCOD = C_ADT_STOCKCOMBINACION.Articulo and 0 = Funciones.empty( C_ADT_STOCKCOMBINACION.Articulo )
 left join ZooLogic.CATEGART as C_CATEGORIADEARTICULO on C_CATEGORIADEARTICULO.COD = C_ARTICULO.CATEARTI and 0 = Funciones.empty( C_ARTICULO.CATEARTI )
 left join ZooLogic.CLASIFART as C_CLASIFICACIONARTICULO on C_CLASIFICACIONARTICULO.CODIGO = C_ARTICULO.CLASIFART and 0 = Funciones.empty( C_ARTICULO.CLASIFART )
 left join ZooLogic.COL as C_COLOR on C_COLOR.COLCOD = C_ADT_STOCKCOMBINACION.Color and 0 = Funciones.empty( C_ADT_STOCKCOMBINACION.Color )
 left join ZooLogic.FAMILIA as C_FAMILIA on C_FAMILIA.COD = C_ARTICULO.FAMILIA and 0 = Funciones.empty( C_ARTICULO.FAMILIA )
 left join ZooLogic.GRUPO as C_GRUPO on C_GRUPO.COD = C_ARTICULO.GRUPO and 0 = Funciones.empty( C_ARTICULO.GRUPO )
 left join ZooLogic.LINEA as C_LINEA on C_LINEA.COD = C_ARTICULO.LINEA and 0 = Funciones.empty( C_ARTICULO.LINEA )
 left join ZooLogic.MAT as C_MATERIAL on C_MATERIAL.MATCOD = C_ARTICULO.MAT and 0 = Funciones.empty( C_ARTICULO.MAT )
 left join ZooLogic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = C_ARTICULO.ARTFAB and 0 = Funciones.empty( C_ARTICULO.ARTFAB )
 --left join ZooLogic.COMB as C_STOCKCOMBINACION on C_STOCKCOMBINACION.COCOD = C_ADT_STOCKCOMBINACION.COCOD and 0 = Funciones.empty( C_ADT_STOCKCOMBINACION.COCOD )
 left join ORGANIZACION.SUC as C_SUCURSAL on C_SUCURSAL.CODIGO = cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) and 0 = Funciones.empty( cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) )
 left join ZooLogic.TALLE as C_TALLE on C_TALLE.CODIGO = C_ADT_STOCKCOMBINACION.TALLE and 0 = Funciones.empty( C_ADT_STOCKCOMBINACION.TALLE )
 left join ZooLogic.TEMPORADA as C_TEMPORADA on C_TEMPORADA.TCOD = C_ARTICULO.ATEMPORADA and 0 = Funciones.empty( C_ARTICULO.ATEMPORADA )
 left join ZooLogic.TIPOART as C_TIPODEARTICULO on C_TIPODEARTICULO.COD = C_ARTICULO.TIPOARTI and 0 = Funciones.empty( C_ARTICULO.TIPOARTI )
 left join ORGANIZACION.TSUCUR as C_TIPOSUCURSAL on C_TIPOSUCURSAL.TCOD = C_SUCURSAL.TIPO and 0 = Funciones.empty( C_SUCURSAL.TIPO )
 left join ZooLogic.UNMED as C_UNIDADDEMEDIDA on C_UNIDADDEMEDIDA.COD = C_ARTICULO.UNIMED and 0 = Funciones.empty( C_ARTICULO.UNIMED )
 left join ORGANIZACION.LSUCUR as C_LINEASUCURSAL on C_LINEASUCURSAL.LSCOD = C_SUCURSAL.LINEA and 0 = Funciones.empty( C_SUCURSAL.LINEA )
 left join ORGANIZACION.SECOD as C_SEGMENTACION on C_SEGMENTACION.SCOD = C_SUCURSAL.SEG and 0 = Funciones.empty( C_SUCURSAL.SEG )
 where /*( not 1 = funciones.empty( c_adt_stockcombinacion.adt_cod ) ) and */
	( ( @PROVEEDOR_777777_NOMBRE_DESDE is null ) OR ( C_PROVEEDOR.CLNOM >= @PROVEEDOR_777777_NOMBRE_DESDE ) ) and 
	( ( @PROVEEDOR_777777_NOMBRE_HASTA is null ) OR ( C_PROVEEDOR.CLNOM <= @PROVEEDOR_777777_NOMBRE_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_ENT_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Ent >= @ADT_STOCKCOMBINACION_ADT_ENT_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_ENT_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Ent <= @ADT_STOCKCOMBINACION_ADT_ENT_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_CODIGO_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.COCOD >= @ADT_STOCKCOMBINACION_CODIGO_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_CODIGO_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.COCOD <= @ADT_STOCKCOMBINACION_CODIGO_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_CANTIDADORIGINAL_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.CORIG >= @ADT_STOCKCOMBINACION_CANTIDADORIGINAL_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_CANTIDADORIGINAL_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.CORIG <= @ADT_STOCKCOMBINACION_CANTIDADORIGINAL_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ENTRANSITOORIGINAL_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.EnTranOrig >= @ADT_STOCKCOMBINACION_ENTRANSITOORIGINAL_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ENTRANSITOORIGINAL_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.EnTranOrig <= @ADT_STOCKCOMBINACION_ENTRANSITOORIGINAL_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ENTREGAPEN_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.EntregaPen >= @ADT_STOCKCOMBINACION_ENTREGAPEN_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ENTREGAPEN_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.EntregaPen <= @ADT_STOCKCOMBINACION_ENTREGAPEN_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ENTREGAPENORIGINAL_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigEntre >= @ADT_STOCKCOMBINACION_ENTREGAPENORIGINAL_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ENTREGAPENORIGINAL_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigEntre <= @ADT_STOCKCOMBINACION_ENTREGAPENORIGINAL_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_COMPRAPEN_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.CompraPen >= @ADT_STOCKCOMBINACION_COMPRAPEN_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_COMPRAPEN_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.CompraPen <= @ADT_STOCKCOMBINACION_COMPRAPEN_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_COMPRAPENORIGINAL_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigCoPen >= @ADT_STOCKCOMBINACION_COMPRAPENORIGINAL_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_COMPRAPENORIGINAL_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigCoPen <= @ADT_STOCKCOMBINACION_COMPRAPENORIGINAL_HASTA ) ) and 
	( ( @ARTICULO_777872_DESCRIPCION_DESDE is null ) OR ( C_ARTICULO.ARTDES >= @ARTICULO_777872_DESCRIPCION_DESDE ) ) and 
	( ( @ARTICULO_777872_DESCRIPCION_HASTA is null ) OR ( C_ARTICULO.ARTDES <= @ARTICULO_777872_DESCRIPCION_HASTA ) ) and 
	( ( @ARTICULO_777872_TEMPORADA_DESDE is null ) OR ( C_ARTICULO.ATEMPORADA >= @ARTICULO_777872_TEMPORADA_DESDE ) ) and 
	( ( @ARTICULO_777872_TEMPORADA_HASTA is null ) OR ( C_ARTICULO.ATEMPORADA <= @ARTICULO_777872_TEMPORADA_HASTA ) ) and 
	( ( @ARTICULO_777872_UNIDADDEMEDIDA_DESDE is null ) OR ( C_ARTICULO.UniMed >= @ARTICULO_777872_UNIDADDEMEDIDA_DESDE ) ) and 
	( ( @ARTICULO_777872_UNIDADDEMEDIDA_HASTA is null ) OR ( C_ARTICULO.UniMed <= @ARTICULO_777872_UNIDADDEMEDIDA_HASTA ) ) and 
	( ( @ARTICULO_777872_FAMILIA_DESDE is null ) OR ( C_ARTICULO.Familia >= @ARTICULO_777872_FAMILIA_DESDE ) ) and 
	( ( @ARTICULO_777872_FAMILIA_HASTA is null ) OR ( C_ARTICULO.Familia <= @ARTICULO_777872_FAMILIA_HASTA ) ) and 
	( ( @ARTICULO_777872_MATERIAL_DESDE is null ) OR ( C_ARTICULO.Mat >= @ARTICULO_777872_MATERIAL_DESDE ) ) and 
	( ( @ARTICULO_777872_MATERIAL_HASTA is null ) OR ( C_ARTICULO.Mat <= @ARTICULO_777872_MATERIAL_HASTA ) ) and 
	( ( @ARTICULO_777872_LINEA_DESDE is null ) OR ( C_ARTICULO.Linea >= @ARTICULO_777872_LINEA_DESDE ) ) and 
	( ( @ARTICULO_777872_LINEA_HASTA is null ) OR ( C_ARTICULO.Linea <= @ARTICULO_777872_LINEA_HASTA ) ) and 
	( ( @ARTICULO_777872_GRUPO_DESDE is null ) OR ( C_ARTICULO.Grupo >= @ARTICULO_777872_GRUPO_DESDE ) ) and 
	( ( @ARTICULO_777872_GRUPO_HASTA is null ) OR ( C_ARTICULO.Grupo <= @ARTICULO_777872_GRUPO_HASTA ) ) and 
	( ( @ARTICULO_777872_CATEGORIADEARTICULO_DESDE is null ) OR ( C_ARTICULO.CateArti >= @ARTICULO_777872_CATEGORIADEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_777872_CATEGORIADEARTICULO_HASTA is null ) OR ( C_ARTICULO.CateArti <= @ARTICULO_777872_CATEGORIADEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_777872_CLASIFICACION_DESDE is null ) OR ( C_ARTICULO.ClasifArt >= @ARTICULO_777872_CLASIFICACION_DESDE ) ) and 
	( ( @ARTICULO_777872_CLASIFICACION_HASTA is null ) OR ( C_ARTICULO.ClasifArt <= @ARTICULO_777872_CLASIFICACION_HASTA ) ) and 
	( ( @ARTICULO_777872_ANO_DESDE is null ) OR ( C_ARTICULO.Ano >= @ARTICULO_777872_ANO_DESDE ) ) and 
	( ( @ARTICULO_777872_ANO_HASTA is null ) OR ( C_ARTICULO.Ano <= @ARTICULO_777872_ANO_HASTA ) ) and 
	( ( @ARTICULO_777872_TIPODEARTICULO_DESDE is null ) OR ( C_ARTICULO.TipoArti >= @ARTICULO_777872_TIPODEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_777872_TIPODEARTICULO_HASTA is null ) OR ( C_ARTICULO.TipoArti <= @ARTICULO_777872_TIPODEARTICULO_HASTA ) ) and 
	( ( ( @ARTICULO_777872_COMPORTAMIENTO is null ) OR ( C_ARTICULO.ASTOCK = @ARTICULO_777872_COMPORTAMIENTO ) ) AND C_ARTICULO.ASTOCK < 5 ) and -- EN PPIO NO SE CONSIDERARÁN LOS PACKS  => Artículo,0,Concepto,2,Kit,4,Pack,5"
	( ( @ARTICULO_777872_IMAGEN_DESDE is null ) OR ( C_ARTICULO.ARIMAGEN >= @ARTICULO_777872_IMAGEN_DESDE ) ) and 
	( ( @ARTICULO_777872_IMAGEN_HASTA is null ) OR ( C_ARTICULO.ARIMAGEN <= @ARTICULO_777872_IMAGEN_HASTA ) ) and 
	( ( @ARTICULO_777872_PROVEEDOR_DESDE is null ) OR ( C_ARTICULO.ARTFAB >= @ARTICULO_777872_PROVEEDOR_DESDE ) ) and 
	( ( @ARTICULO_777872_PROVEEDOR_HASTA is null ) OR ( C_ARTICULO.ARTFAB <= @ARTICULO_777872_PROVEEDOR_HASTA ) ) and 
	( ( @ADT_STOCKCOMBINACION_ADT_FECHA_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.Fecha >= @ADT_STOCKCOMBINACION_ADT_FECHA_DESDE ) ) and 
	( ( @ADT_STOCKCOMBINACION_ADT_FECHA_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.Fecha <= @ADT_STOCKCOMBINACION_ADT_FECHA_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_HORA_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Hora >= @ADT_STOCKCOMBINACION_ADT_HORA_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_HORA_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Hora <= @ADT_STOCKCOMBINACION_ADT_HORA_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_SERIE_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Serie >= @ADT_STOCKCOMBINACION_ADT_SERIE_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_SERIE_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Serie <= @ADT_STOCKCOMBINACION_ADT_SERIE_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_USR_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Usr >= @ADT_STOCKCOMBINACION_ADT_USR_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_USR_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Usr <= @ADT_STOCKCOMBINACION_ADT_USR_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_COMP_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Comp >= @ADT_STOCKCOMBINACION_ADT_COMP_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_COMP_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Comp <= @ADT_STOCKCOMBINACION_ADT_COMP_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_ADN_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_ADN >= @ADT_STOCKCOMBINACION_ADT_ADN_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_ADN_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_ADN <= @ADT_STOCKCOMBINACION_ADT_ADN_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_VERS_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Vers >= @ADT_STOCKCOMBINACION_ADT_VERS_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_VERS_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Vers <= @ADT_STOCKCOMBINACION_ADT_VERS_HASTA ) ) and 
	( ( @ADT_STOCKCOMBINACION_ARTICULO_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.Articulo >= @ADT_STOCKCOMBINACION_ARTICULO_DESDE ) ) and 
	( ( @ADT_STOCKCOMBINACION_ARTICULO_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.Articulo <= @ADT_STOCKCOMBINACION_ARTICULO_HASTA ) ) and 
	( ( @ADT_STOCKCOMBINACION_COLOR_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.Color >= @ADT_STOCKCOMBINACION_COLOR_DESDE ) ) and 
	( ( @ADT_STOCKCOMBINACION_COLOR_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.Color <= @ADT_STOCKCOMBINACION_COLOR_HASTA ) ) and 
	( ( @ADT_STOCKCOMBINACION_TALLE_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.Talle >= @ADT_STOCKCOMBINACION_TALLE_DESDE ) ) and 
	( ( @ADT_STOCKCOMBINACION_TALLE_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.Talle <= @ADT_STOCKCOMBINACION_TALLE_HASTA ) ) and 
	( ( @ADT_STOCKCOMBINACION_CANTIDAD_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.Cantidad >= @ADT_STOCKCOMBINACION_CANTIDAD_DESDE ) ) and 
	( ( @ADT_STOCKCOMBINACION_CANTIDAD_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.Cantidad <= @ADT_STOCKCOMBINACION_CANTIDAD_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ENTRANSITO_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.EnTransito >= @ADT_STOCKCOMBINACION_ENTRANSITO_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ENTRANSITO_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.EnTransito <= @ADT_STOCKCOMBINACION_ENTRANSITO_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PEDCOMP_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.PEDCOMP >= @ADT_STOCKCOMBINACION_PEDCOMP_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PEDCOMP_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.PEDCOMP <= @ADT_STOCKCOMBINACION_PEDCOMP_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PEDCOMPORIGINAL_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigPEDCO >= @ADT_STOCKCOMBINACION_PEDCOMPORIGINAL_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PEDCOMPORIGINAL_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigPEDCO <= @ADT_STOCKCOMBINACION_PEDCOMPORIGINAL_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PEDIDO_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.PEDIDO >= @ADT_STOCKCOMBINACION_PEDIDO_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PEDIDO_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.PEDIDO <= @ADT_STOCKCOMBINACION_PEDIDO_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PEDIDOORIGINAL_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigPEDID >= @ADT_STOCKCOMBINACION_PEDIDOORIGINAL_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PEDIDOORIGINAL_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigPEDID <= @ADT_STOCKCOMBINACION_PEDIDOORIGINAL_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PREPARADO_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.PREPARADO >= @ADT_STOCKCOMBINACION_PREPARADO_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PREPARADO_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.PREPARADO <= @ADT_STOCKCOMBINACION_PREPARADO_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PREPARADOORIGINAL_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigPREPA >= @ADT_STOCKCOMBINACION_PREPARADOORIGINAL_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PREPARADOORIGINAL_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigPREPA <= @ADT_STOCKCOMBINACION_PREPARADOORIGINAL_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PRESUPUESTADO_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.PRESUPUEST >= @ADT_STOCKCOMBINACION_PRESUPUESTADO_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PRESUPUESTADO_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.PRESUPUEST <= @ADT_STOCKCOMBINACION_PRESUPUESTADO_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PRESUPUESTADOORIGINAL_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigPRESU >= @ADT_STOCKCOMBINACION_PRESUPUESTADOORIGINAL_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_PRESUPUESTADOORIGINAL_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigPRESU <= @ADT_STOCKCOMBINACION_PRESUPUESTADOORIGINAL_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_SENIADO_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.SENIADO >= @ADT_STOCKCOMBINACION_SENIADO_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_SENIADO_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.SENIADO <= @ADT_STOCKCOMBINACION_SENIADO_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_SENIADOORIGINAL_DESDE is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigSENIA >= @ADT_STOCKCOMBINACION_SENIADOORIGINAL_DESDE ) ) and 
	--( ( @ADT_STOCKCOMBINACION_SENIADOORIGINAL_HASTA is null ) OR ( c_ADT_STOCKCOMBINACION.cOrigSENIA <= @ADT_STOCKCOMBINACION_SENIADOORIGINAL_HASTA ) ) and 
	--( ( @ADT_STOCKCOMBINACION_ADT_EXT is null ) OR ( c_ADT_STOCKCOMBINACION.ADT_Ext = @ADT_STOCKCOMBINACION_ADT_EXT ) ) and 
	--( ( @STOCKCOMBINACION_777873_CODIGO_CANTIDAD_DESDE is null ) OR ( C_STOCKCOMBINACION.COCANT >= @STOCKCOMBINACION_777873_CODIGO_CANTIDAD_DESDE ) ) and 
	--( ( @STOCKCOMBINACION_777873_CODIGO_CANTIDAD_HASTA is null ) OR ( C_STOCKCOMBINACION.COCANT <= @STOCKCOMBINACION_777873_CODIGO_CANTIDAD_HASTA ) ) and 
	( ( @COLOR_777874_COLOR_DESCRIPCION_DESDE is null ) OR ( C_COLOR.COLDES >= @COLOR_777874_COLOR_DESCRIPCION_DESDE ) ) and 
	( ( @COLOR_777874_COLOR_DESCRIPCION_HASTA is null ) OR ( C_COLOR.COLDES <= @COLOR_777874_COLOR_DESCRIPCION_HASTA ) ) and 
	( ( @TALLE_777875_TALLE_DESCRIPCION_DESDE is null ) OR ( C_TALLE.Descrip >= @TALLE_777875_TALLE_DESCRIPCION_DESDE ) ) and 
	( ( @TALLE_777875_TALLE_DESCRIPCION_HASTA is null ) OR ( C_TALLE.Descrip <= @TALLE_777875_TALLE_DESCRIPCION_HASTA ) ) and 
	( ( @SEGMENTACION_778032_SEGMENTACION_DESCRIPCION_DESDE is null ) OR ( C_SEGMENTACION.SDES >= @SEGMENTACION_778032_SEGMENTACION_DESCRIPCION_DESDE ) ) and 
	( ( @SEGMENTACION_778032_SEGMENTACION_DESCRIPCION_HASTA is null ) OR ( C_SEGMENTACION.SDES <= @SEGMENTACION_778032_SEGMENTACION_DESCRIPCION_HASTA ) ) and 
	( ( @LINEASUCURSAL_778031_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEASUCURSAL.LSDES >= @LINEASUCURSAL_778031_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEASUCURSAL_778031_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEASUCURSAL.LSDES <= @LINEASUCURSAL_778031_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @TIPOSUCURSAL_778030_TIPO_DESCRIPCION_DESDE is null ) OR ( C_TIPOSUCURSAL.TDES >= @TIPOSUCURSAL_778030_TIPO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPOSUCURSAL_778030_TIPO_DESCRIPCION_HASTA is null ) OR ( C_TIPOSUCURSAL.TDES <= @TIPOSUCURSAL_778030_TIPO_DESCRIPCION_HASTA ) ) and 
	( ( @TEMPORADA_9315_TEMPORADA_DESCRIPCION_DESDE is null ) OR ( C_TEMPORADA.TDES >= @TEMPORADA_9315_TEMPORADA_DESCRIPCION_DESDE ) ) and 
	( ( @TEMPORADA_9315_TEMPORADA_DESCRIPCION_HASTA is null ) OR ( C_TEMPORADA.TDES <= @TEMPORADA_9315_TEMPORADA_DESCRIPCION_HASTA ) ) and 
	( ( @UNIDADDEMEDIDA_9320_UNIDADDEMEDIDA_DESCRIPCION_DESDE is null ) OR ( C_UNIDADDEMEDIDA.Descrip >= @UNIDADDEMEDIDA_9320_UNIDADDEMEDIDA_DESCRIPCION_DESDE ) ) and 
	( ( @UNIDADDEMEDIDA_9320_UNIDADDEMEDIDA_DESCRIPCION_HASTA is null ) OR ( C_UNIDADDEMEDIDA.Descrip <= @UNIDADDEMEDIDA_9320_UNIDADDEMEDIDA_DESCRIPCION_HASTA ) ) and 
	( ( @FAMILIA_9325_FAMILIA_DESCRIPCION_DESDE is null ) OR ( C_FAMILIA.Descrip >= @FAMILIA_9325_FAMILIA_DESCRIPCION_DESDE ) ) and 
	( ( @FAMILIA_9325_FAMILIA_DESCRIPCION_HASTA is null ) OR ( C_FAMILIA.Descrip <= @FAMILIA_9325_FAMILIA_DESCRIPCION_HASTA ) ) and 
	( ( @MATERIAL_9330_MATERIAL_DESCRIPCION_DESDE is null ) OR ( C_MATERIAL.MATDES >= @MATERIAL_9330_MATERIAL_DESCRIPCION_DESDE ) ) and 
	( ( @MATERIAL_9330_MATERIAL_DESCRIPCION_HASTA is null ) OR ( C_MATERIAL.MATDES <= @MATERIAL_9330_MATERIAL_DESCRIPCION_HASTA ) ) and 
	( ( @LINEA_9335_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEA.Descrip >= @LINEA_9335_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEA_9335_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEA.Descrip <= @LINEA_9335_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @GRUPO_9340_GRUPO_DESCRIPCION_DESDE is null ) OR ( C_GRUPO.Descrip >= @GRUPO_9340_GRUPO_DESCRIPCION_DESDE ) ) and 
	( ( @GRUPO_9340_GRUPO_DESCRIPCION_HASTA is null ) OR ( C_GRUPO.Descrip <= @GRUPO_9340_GRUPO_DESCRIPCION_HASTA ) ) and 
	( ( @CATEGORIADEARTICULO_9345_CATEGORIADEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_CATEGORIADEARTICULO.Descrip >= @CATEGORIADEARTICULO_9345_CATEGORIADEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @CATEGORIADEARTICULO_9345_CATEGORIADEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_CATEGORIADEARTICULO.Descrip <= @CATEGORIADEARTICULO_9345_CATEGORIADEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @CLASIFICACIONARTICULO_9350_CLASIFICACION_DESCRIPCION_DESDE is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP >= @CLASIFICACIONARTICULO_9350_CLASIFICACION_DESCRIPCION_DESDE ) ) and 
	( ( @CLASIFICACIONARTICULO_9350_CLASIFICACION_DESCRIPCION_HASTA is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP <= @CLASIFICACIONARTICULO_9350_CLASIFICACION_DESCRIPCION_HASTA ) ) and 
	( ( @TIPODEARTICULO_9360_TIPODEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_TIPODEARTICULO.Descrip >= @TIPODEARTICULO_9360_TIPODEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPODEARTICULO_9360_TIPODEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_TIPODEARTICULO.Descrip <= @TIPODEARTICULO_9360_TIPODEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @SUCURSAL_778027_SEGMENTACION_DESDE is null ) OR ( C_SUCURSAL.seg >= @SUCURSAL_778027_SEGMENTACION_DESDE ) ) and 
	( ( @SUCURSAL_778027_SEGMENTACION_HASTA is null ) OR ( C_SUCURSAL.seg <= @SUCURSAL_778027_SEGMENTACION_HASTA ) ) and 
	( ( @SUCURSAL_778027_LINEA_DESDE is null ) OR ( C_SUCURSAL.Linea >= @SUCURSAL_778027_LINEA_DESDE ) ) and 
	( ( @SUCURSAL_778027_LINEA_HASTA is null ) OR ( C_SUCURSAL.Linea <= @SUCURSAL_778027_LINEA_HASTA ) ) and 
	( ( @SUCURSAL_778027_TIPO_DESDE is null ) OR ( C_SUCURSAL.Tipo >= @SUCURSAL_778027_TIPO_DESDE ) ) and 
	( ( @SUCURSAL_778027_TIPO_HASTA is null ) OR ( C_SUCURSAL.Tipo <= @SUCURSAL_778027_TIPO_HASTA ) ) and 
	( ( @SUCURSAL_778027_DESCRIPCION_DESDE is null ) OR ( C_SUCURSAL.descrip >= @SUCURSAL_778027_DESCRIPCION_DESDE ) ) and 
	( ( @SUCURSAL_778027_DESCRIPCION_HASTA is null ) OR ( C_SUCURSAL.descrip <= @SUCURSAL_778027_DESCRIPCION_HASTA ) ) and 
	( ( @SUCURSAL_778027_CODIGO_DESDE is null ) OR ( C_SUCURSAL.codigo >= @SUCURSAL_778027_CODIGO_DESDE ) ) and 
	( ( @SUCURSAL_778027_CODIGO_HASTA is null ) OR ( C_SUCURSAL.codigo <= @SUCURSAL_778027_CODIGO_HASTA ) ) and 
	( ( @Parametro8 = '' ) OR ( @Parametro8 = '-1' ) OR ( cast( c_ADT_STOCKCOMBINACION.RELACOMPTIPO as varchar( 2 ) ) = @Parametro8 ) ) and 
	( ( @Parametro9 = '' ) OR ( cast( c_ADT_STOCKCOMBINACION.RELACOMPLETRA as varchar( 2 ) ) >= @Parametro9 ) ) and 
	( ( @Parametro10 = '' ) OR ( cast( c_ADT_STOCKCOMBINACION.RELACOMPLETRA as varchar( 2 ) ) <= @Parametro10 ) ) and 
	( ( @Parametro11 = '' ) OR ( cast( c_ADT_STOCKCOMBINACION.RELACOMPPTOVEN as varchar( 5 ) ) >= @Parametro11 ) ) and 
	( ( @Parametro12 = '' ) OR ( cast( c_ADT_STOCKCOMBINACION.RELACOMPPTOVEN as varchar( 5 ) ) <= @Parametro12 ) ) and 
	( ( @Parametro13 = '' ) OR ( cast( c_ADT_STOCKCOMBINACION.RELACOMPNUM as varchar( 8 ) ) >= @Parametro13 ) ) and 
	( ( @Parametro14 = '' ) OR ( cast( c_ADT_STOCKCOMBINACION.RELACOMPNUM as varchar( 8 ) ) <= @Parametro14 ) )
)