IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIP_Retenciones_SujetosRetenidos]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIP_Retenciones_SujetosRetenidos];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIP_Retenciones_SujetosRetenidos]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10)
)
RETURNS TABLE
AS
RETURN
(	
	select	 Documento
			,RazonSocial
			,Direccion
			,Localidad
			,Provincia
			,CodigoPostal
			,TipoDocumento
	From (
		select   case when Proveedores.CLCUIT != '' then Proveedores.CLCUIT else Proveedores.CLNRODOC end as Documento
				,Proveedores.CLNOM as RazonSocial
				,Proveedores.PCALLE as Direccion
				,Proveedores.CLLOC as Localidad
				,Proveedores.CLPRV as Provincia
				,Proveedores.CLCP as CodigoPostal
				,case when Proveedores.CLCUIT != '' then '80' else ( case when ValConvTipoDocu.ValDest is null then Proveedores.CLTIPODOC else ValConvTipoDocu.ValDest end ) end as TipoDocumento
		from ZooLogic.prov as Proveedores
		left join ZooLogic.compret as Retenciones on Proveedores.CLCOD = Retenciones.PROV
		left join [Organizacion].[ConverVal] as ValConvTipoDocu on ValConvTipoDocu.Conversion = 'CODIGODOCUMENTO' and ValConvTipoDocu.ValOrig = Proveedores.CLTIPODOC
		where Retenciones.FECHA between @FechaDesde and @FechaHasta and TIPOIMP in ('IVA','GANANCIAS')
	) as Datos
	Group by Documento
			,RazonSocial
			,Direccion
			,Localidad
			,Provincia
			,CodigoPostal
			,TipoDocumento 
)