IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[interfaces].[Datos_Cliente13066_Detallado]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP Procedure [interfaces].[Datos_Cliente13066_Detallado];
GO;

Create Procedure [interfaces].[Datos_Cliente13066_Detallado]
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@CodigoProveedor varchar(10),
	@ListaPrecioCompra varchar(6),
	@CoeficienteMultiplicacion numeric(5,4),
	@Base varchar(8)

AS

declare @query varchar(max)

set @query =
'select 
	DatosExpoAvanzados.Retail_Weekend_Date,
	DatosExpoAvanzados.Retail_Week_Year,
	DatosExpoAvanzados.Reporting_Unit,
	DatosExpoAvanzados.BCS_Store_Code,
	DatosExpoAvanzados.Article_ID,
	DatosExpoAvanzados.Currency,
	sum(DatosExpoAvanzados.Net_Sales_Excl_Vat) as Net_Sales_Excl_Vat,
	sum(DatosExpoAvanzados.Net_Sales_Excl_Vat) as Net_Sales_FP_Excl_Vat,
	sum(DatosExpoAvanzados.Net_Quantity) as Net_Quantity,
	sum(DatosExpoAvanzados.Net_Quantity_FP) as Net_Quantity_FP,
	sum(DatosExpoAvanzados.Store_Stock_Quantity_On_Hand) as Store_Stock_Quantity_On_Hand,
	DatosExpoAvanzados.Store_Stock_Quantity_In_Tran,
	sum(DatosExpoAvanzados.Retail_Value_On_Hand_Excl_Vat) as Retail_Value_On_Hand_Excl_Vat,
	DatosExpoAvanzados.Retail_Value_In_Tran_Excl_Vat,
	DatosExpoAvanzados.Viability,
	DatosExpoAvanzados.Wholesales_List_Price,
	DatosExpoAvanzados.Net_Invoice_Value
from (
	select
		DatosExpoBasicos.Fecha as Retail_Weekend_Date,
		cast(DATEPART(wk, DatosExpoBasicos.Fecha) as varchar(2)) + cast(substring(DatosExpoBasicos.Fecha, 1, 4) as varchar(4)) as Retail_Week_Year,
		DatosExpoBasicos.ConversionAReportingUnit as Reporting_Unit,
		DatosExpoBasicos.ConversionAStoreCode as BCS_Store_Code,
		DatosExpoBasicos.Articulo as Article_ID,
		'+char(39)+'ARS'+char(39)+' as Currency,
		coalesce(cast(DatosExpoBasicos.PrecioDeCompra * DatosExpoBasicos.CantidadVendida * '+cast(@CoeficienteMultiplicacion as varchar(9))+' as numeric(12,2)),0) as Net_Sales_Excl_Vat,
		coalesce(DatosExpoBasicos.CantidadVendida, 0) as Net_Quantity,
		coalesce(DatosExpoBasicos.CantidadVendida, 0) as Net_Quantity_FP,
		coalesce(DatosExpoBasicos.StockAFecha, 0) as Store_Stock_Quantity_On_Hand,
		'+char(39)+'0'+char(39)+' as Store_Stock_Quantity_In_Tran,
		coalesce(cast(DatosExpoBasicos.PrecioDeCompra * DatosExpoBasicos.StockAFecha as numeric(12,2)), 0) as Retail_Value_On_Hand_Excl_Vat,
		'+char(39)+'0'+char(39)+' as Retail_Value_In_Tran_Excl_Vat,
		'+char(39)+'0'+char(39)+' as Viability,
		coalesce(DatosExpoBasicos.PrecioDeCompra, 0) as Wholesales_List_Price,
		coalesce(DatosExpoBasicos.PrecioDeCompra, 0) as Net_Invoice_Value
	from(
		select 
			'+char(39)+@FechaHasta+char(39)+' as Fecha,
			case when REPORTINGUNIT_valconv.ValDest is null then SUBSTRING(DB_NAME(), 12, 8) else REPORTINGUNIT_valconv.ValDest end as ConversionAReportingUnit,
			case when STORECODE_valconv.ValDest is null then SUBSTRING(DB_NAME(), 12, 8) else STORECODE_valconv.ValDest end as ConversionAStoreCode,
			Articulo.ARTCOD as Articulo,
			coalesce(Stock.COCOL, DetalleComprobante.CCOLOR) as Color,
			coalesce(Stock.TALLE, DetalleComprobante.TALLE) as Talle,
			sum(coalesce(DetalleComprobante.AFECANT * Comprobante.SIGNOMOV, 0)) as CantidadVendida,
			coalesce(Stock.COCANT, 0) as StockAFecha,
			coalesce(DRAGONFISH_'+@Base+'.Funciones.ObtenerPrecioDeLaCombinacionConOSinImpuestosALaFecha(Articulo.ARTCOD, coalesce(DetalleComprobante.CCOLOR, Stock.COCOL, '+char(39)+char(39)+'),'+char(39)+char(39)+','+char(39)+@ListaPrecioCompra+char(39)+',1,GETDATE(), 0), 0) as PrecioDeCompra
		from ZooLogic.Comb as Stock
		left join (select Codigo, Fart, CCOLOR, TALLE, Afecant
					from ZooLogic.COMPROBANTEVDET) as DetalleComprobante on Stock.COART = DetalleComprobante.FART and (Stock.COCOL = DetalleComprobante.CCOLOR) and (Stock.TALLE = DetalleComprobante.TALLE)
		left join ZooLogic.COMPROBANTEV as Comprobante on DetalleComprobante.CODIGO = Comprobante.CODIGO
		left join (select artcod, artfab, bloqreg
					from ZooLogic.art) as Articulo on Stock.COART = Articulo.ARTCOD
		left join [Organizacion].[ConverVal] as REPORTINGUNIT_valconv on REPORTINGUNIT_valconv.Conversion = '+char(39)+'13066REPORTINGUNIT'+char(39)+' and REPORTINGUNIT_valconv.ValOrig = SUBSTRING(DB_NAME(), 12, 8)
		left join [Organizacion].[ConverVal] as STORECODE_valconv on STORECODE_valconv.Conversion = '+char(39)+'13066STORECODE'+char(39)+' and STORECODE_valconv.ValOrig = SUBSTRING(DB_NAME(), 12, 8)
		where ( ( Comprobante.FACTTIPO in (1, 3, 4, 2, 5, 6, 27, 28, 29)
			and Comprobante.FFch between '+char(39)+@FechaDesde+char(39)+' and '+char(39)+@FechaHasta+char(39)+'
			and Comprobante.ANULADO = 0
			and Articulo.BLOQREG = 0 ) or Stock.Cocant <> 0)
			and Articulo.ARTFAB = '+char(39)+@CodigoProveedor+char(39)+'
		group by
		case when REPORTINGUNIT_valconv.ValDest is null then SUBSTRING(DB_NAME(), 12, 8) else REPORTINGUNIT_valconv.ValDest end,
		case when STORECODE_valconv.ValDest is null then SUBSTRING(DB_NAME(), 12, 8) else STORECODE_valconv.ValDest end,
		Articulo.ARTCOD,
		coalesce(Stock.COCOL, DetalleComprobante.CCOLOR),
		coalesce(Stock.TALLE, DetalleComprobante.TALLE),
		coalesce(Stock.COCANT, 0),
		coalesce(DRAGONFISH_'+@Base+'.Funciones.ObtenerPrecioDeLaCombinacionConOSinImpuestosALaFecha(Articulo.ARTCOD, coalesce(DetalleComprobante.CCOLOR, Stock.COCOL, '+char(39)+char(39)+'),'+char(39)+char(39)+','+char(39)+@ListaPrecioCompra+char(39)+',1,GETDATE(), 0), 0)
	) as DatosExpoBasicos
) as DatosExpoAvanzados
group by
	DatosExpoAvanzados.Retail_Weekend_Date,
	DatosExpoAvanzados.Retail_Week_Year,
	DatosExpoAvanzados.Reporting_Unit,
	DatosExpoAvanzados.BCS_Store_Code,
	DatosExpoAvanzados.Article_ID,
	DatosExpoAvanzados.Currency,
	DatosExpoAvanzados.Store_Stock_Quantity_In_Tran,
	DatosExpoAvanzados.Retail_Value_In_Tran_Excl_Vat,
	DatosExpoAvanzados.Viability,
	DatosExpoAvanzados.Wholesales_List_Price,
	DatosExpoAvanzados.Net_Invoice_Value
Order by BCS_STORE_CODE, ARTICLE_ID'

exec(@Query)