IF  OBJECT_ID(N'[Listados].[GENERICO_REMITO_ITEMARTICULOSVENTAS_ITEMARTICULOSVENTAS]') is not null DROP FUNCTION [Listados].GENERICO_REMITO_ITEMARTICULOSVENTAS_ITEMARTICULOSVENTAS;
GO;

CREATE FUNCTION [Listados].[GENERICO_REMITO_ITEMARTICULOSVENTAS_ITEMARTICULOSVENTAS]
( @BaseDeDatos varchar(8),
	@ITEMARTICULOSVENTAS_ARTICULO_DESDE varchar(15),
	@ITEMARTICULOSVENTAS_ARTICULO_HASTA varchar(15),
	@ITEMARTICULOSVENTAS_PRECIOCONIMPUESTOS_DESDE numeric(15, 4),
	@ITEMARTICULOSVENTAS_PRECIOCONIMPUESTOS_HASTA numeric(15, 4),
	@ITEMARTICULOSVENTAS_PRECIOSINIMPUESTOS_DESDE numeric(15, 4),
	@ITEMARTICULOSVENTAS_PRECIOSINIMPUESTOS_HASTA numeric(15, 4),
	@ITEMARTICULOSVENTAS_TASAIMPUESTOINTERNO_DESDE numeric(7, 4),
	@ITEMARTICULOSVENTAS_TASAIMPUESTOINTERNO_HASTA numeric(7, 4),
	@ITEMARTICULOSVENTAS_CODIGOMOTIVODEVOLUCION_DESDE varchar(10),
	@ITEMARTICULOSVENTAS_CODIGOMOTIVODEVOLUCION_HASTA varchar(10),
	@ITEMARTICULOSVENTAS_CODIGOMOTIVODESCUENTO_DESDE varchar(10),
	@ITEMARTICULOSVENTAS_CODIGOMOTIVODESCUENTO_HASTA varchar(10),
	@ITEMARTICULOSVENTAS_CODIGOAUTORIZACIONDJCP_DESDE varchar(10),
	@ITEMARTICULOSVENTAS_CODIGOAUTORIZACIONDJCP_HASTA varchar(10),
	@ITEMARTICULOSVENTAS_EQUIVALENCIA_DESDE varchar(20),
	@ITEMARTICULOSVENTAS_EQUIVALENCIA_HASTA varchar(20),
	@ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE varchar(100),
	@ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA varchar(100),
	@ITEMARTICULOSVENTAS_COLOR_DESDE varchar(6),
	@ITEMARTICULOSVENTAS_COLOR_HASTA varchar(6),
	@ITEMARTICULOSVENTAS_COLORDETALLE_DESDE varchar(50),
	@ITEMARTICULOSVENTAS_COLORDETALLE_HASTA varchar(50),
	@ITEMARTICULOSVENTAS_TALLE_DESDE varchar(5),
	@ITEMARTICULOSVENTAS_TALLE_HASTA varchar(5),
	@ITEMARTICULOSVENTAS_PRECIO_DESDE numeric(12, 2),
	@ITEMARTICULOSVENTAS_PRECIO_HASTA numeric(12, 2),
	@REMITO_1_CODIGO_DESDE varchar(38),
	@REMITO_1_CODIGO_HASTA varchar(38),
	@REMITO_1_CLIENTE_DESDE varchar(10),
	@REMITO_1_CLIENTE_HASTA varchar(10),
	@REMITO_1_TOTALCANTIDAD_DESDE numeric(16, 3),
	@REMITO_1_TOTALCANTIDAD_HASTA numeric(16, 3),
	@REMITO_1_NROOPECOMMERCE_DESDE varchar(254),
	@REMITO_1_NROOPECOMMERCE_HASTA varchar(254),
	@REMITO_1_VENDEDOR_DESDE varchar(10),
	@REMITO_1_VENDEDOR_HASTA varchar(10),
	@REMITO_1_MONEDACOMPROBANTE_DESDE varchar(10),
	@REMITO_1_MONEDACOMPROBANTE_HASTA varchar(10),
	@REMITO_1_LISTADEPRECIOS_DESDE varchar(6),
	@REMITO_1_LISTADEPRECIOS_HASTA varchar(6),
	@REMITO_1_FORPAGO_DESDE varchar(5),
	@REMITO_1_FORPAGO_HASTA varchar(5),
	@REMITO_1_MOTIVO_DESDE varchar(3),
	@REMITO_1_MOTIVO_HASTA varchar(3),
	@REMITO_1_TRANSPORTISTA_DESDE varchar(15),
	@REMITO_1_TRANSPORTISTA_HASTA varchar(15),
	@REMITO_1_LETRA_DESDE varchar(1),
	@REMITO_1_LETRA_HASTA varchar(1),
	@REMITO_1_PUNTODEVENTA_DESDE numeric(4, 0),
	@REMITO_1_PUNTODEVENTA_HASTA numeric(4, 0),
	@REMITO_1_NUMERO_DESDE numeric(8, 0),
	@REMITO_1_NUMERO_HASTA numeric(8, 0),
	@REMITO_1_FECHA_DESDE datetime,
	@REMITO_1_FECHA_HASTA datetime,
	@REMITO_1_COTIZACION_DESDE numeric(15, 5),
	@REMITO_1_COTIZACION_HASTA numeric(15, 5),
	@REMITO_1_MERCADERIACONSIGNACION bit,
	@REMITO_1_AJUSTESPORREDONDEOS_DESDE numeric(15, 2),
	@REMITO_1_AJUSTESPORREDONDEOS_HASTA numeric(15, 2),
	@REMITO_1_PORCENTAJEDESCUENTO_DESDE numeric(6, 2),
	@REMITO_1_PORCENTAJEDESCUENTO_HASTA numeric(6, 2),
	@REMITO_1_DESCUENTO_DESDE numeric(15, 2),
	@REMITO_1_DESCUENTO_HASTA numeric(15, 2),
	@REMITO_1_MONTODESCUENTO3_DESDE numeric(15, 2),
	@REMITO_1_MONTODESCUENTO3_HASTA numeric(15, 2),
	@REMITO_1_RECARGOPORCENTAJE_DESDE numeric(6, 2),
	@REMITO_1_RECARGOPORCENTAJE_HASTA numeric(6, 2),
	@REMITO_1_RECARGOMONTO_DESDE numeric(15, 2),
	@REMITO_1_RECARGOMONTO_HASTA numeric(15, 2),
	@REMITO_1_RECARGOMONTO1_DESDE numeric(17, 4),
	@REMITO_1_RECARGOMONTO1_HASTA numeric(17, 4),
	@REMITO_1_RECARGOMONTO2_DESDE numeric(15, 2),
	@REMITO_1_RECARGOMONTO2_HASTA numeric(15, 2),
	@REMITO_1_IMPUESTOS_DESDE numeric(15, 2),
	@REMITO_1_IMPUESTOS_HASTA numeric(15, 2),
	@REMITO_1_TOTALIMPUESTOS_DESDE numeric(15, 2),
	@REMITO_1_TOTALIMPUESTOS_HASTA numeric(15, 2),
	@REMITO_1_TOTAL_DESDE numeric(15, 2),
	@REMITO_1_TOTAL_HASTA numeric(15, 2),
	@CLIENTE_81_CLIENTE_NOMBRE_DESDE varchar(185),
	@CLIENTE_81_CLIENTE_NOMBRE_HASTA varchar(185),
	@VENDEDOR_158_VENDEDOR_NOMBRE_DESDE varchar(60),
	@VENDEDOR_158_VENDEDOR_NOMBRE_HASTA varchar(60),
	@MONEDA_159_MONEDACOMPROBANTE_DESCRIPCION_DESDE varchar(40),
	@MONEDA_159_MONEDACOMPROBANTE_DESCRIPCION_HASTA varchar(40),
	@LISTADEPRECIOS_160_LISTADEPRECIOS_NOMBRE_DESDE varchar(30),
	@LISTADEPRECIOS_160_LISTADEPRECIOS_NOMBRE_HASTA varchar(30),
	@CONDICIONDEPAGO_161_FORPAGO_DESCRIPCION_DESDE varchar(100),
	@CONDICIONDEPAGO_161_FORPAGO_DESCRIPCION_HASTA varchar(100),
	@MOTIVO_162_MOTIVO_DESCRIPCION_DESDE varchar(40),
	@MOTIVO_162_MOTIVO_DESCRIPCION_HASTA varchar(40),
	@TRANSPORTISTA_163_TRANSPORTISTA_NOMBRE_DESDE varchar(30),
	@TRANSPORTISTA_163_TRANSPORTISTA_NOMBRE_HASTA varchar(30),
	@SEGMENTACION_4209_SEGMENTACION_DESCRIPCION_DESDE varchar(50),
	@SEGMENTACION_4209_SEGMENTACION_DESCRIPCION_HASTA varchar(50),
	@LINEASUCURSAL_4208_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEASUCURSAL_4208_LINEA_DESCRIPCION_HASTA varchar(50),
	@TIPOSUCURSAL_4207_TIPO_DESCRIPCION_DESDE varchar(50),
	@TIPOSUCURSAL_4207_TIPO_DESCRIPCION_HASTA varchar(50),
	@PROVEEDOR_3_PROVEEDOR_NOMBRE_DESDE varchar(60),
	@PROVEEDOR_3_PROVEEDOR_NOMBRE_HASTA varchar(60),
	@TEMPORADA_9_TEMPORADA_DESCRIPCION_DESDE varchar(50),
	@TEMPORADA_9_TEMPORADA_DESCRIPCION_HASTA varchar(50),
	@UNIDADDEMEDIDA_10_UNIDADDEMEDIDA_DESCRIPCION_DESDE varchar(50),
	@UNIDADDEMEDIDA_10_UNIDADDEMEDIDA_DESCRIPCION_HASTA varchar(50),
	@FAMILIA_11_FAMILIA_DESCRIPCION_DESDE varchar(50),
	@FAMILIA_11_FAMILIA_DESCRIPCION_HASTA varchar(50),
	@MATERIAL_12_MATERIAL_DESCRIPCION_DESDE varchar(40),
	@MATERIAL_12_MATERIAL_DESCRIPCION_HASTA varchar(40),
	@LINEA_13_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEA_13_LINEA_DESCRIPCION_HASTA varchar(50),
	@GRUPO_14_GRUPO_DESCRIPCION_DESDE varchar(50),
	@GRUPO_14_GRUPO_DESCRIPCION_HASTA varchar(50),
	@CATEGORIADEARTICULO_15_CATEGORIADEARTICULO_DESCRIPCION_DESDE varchar(50),
	@CATEGORIADEARTICULO_15_CATEGORIADEARTICULO_DESCRIPCION_HASTA varchar(50),
	@CLASIFICACIONARTICULO_16_CLASIFICACION_DESCRIPCION_DESDE varchar(50),
	@CLASIFICACIONARTICULO_16_CLASIFICACION_DESCRIPCION_HASTA varchar(50),
	@TIPODEARTICULO_18_TIPODEARTICULO_DESCRIPCION_DESDE varchar(50),
	@TIPODEARTICULO_18_TIPODEARTICULO_DESCRIPCION_HASTA varchar(50),
	@PALETADECOLORES_22_PALETADECOLORES_DESCRIPCION_DESDE varchar(40),
	@PALETADECOLORES_22_PALETADECOLORES_DESCRIPCION_HASTA varchar(40),
	@CURVADETALLES_23_CURVADETALLES_DESCRIPCION_DESDE varchar(40),
	@CURVADETALLES_23_CURVADETALLES_DESCRIPCION_HASTA varchar(40),
	@NOMENCLADORARBA_25_NOMENCLADOR_DESCRIPCION_DESDE varchar(150),
	@NOMENCLADORARBA_25_NOMENCLADOR_DESCRIPCION_HASTA varchar(150),
	@MARCA_42_MARCA_DESCRIPCION_DESDE varchar(100),
	@MARCA_42_MARCA_DESCRIPCION_HASTA varchar(100),
	@VENDEDOR_82_VENDEDOR_NOMBRE_DESDE varchar(60),
	@VENDEDOR_82_VENDEDOR_NOMBRE_HASTA varchar(60),
	@PAISES_97_PAIS_DESCRIPCION_DESDE varchar(30),
	@PAISES_97_PAIS_DESCRIPCION_HASTA varchar(30),
	@PROVINCIA_99_PROVINCIA_DESCRIPCION_DESDE varchar(50),
	@PROVINCIA_99_PROVINCIA_DESCRIPCION_HASTA varchar(50),
	@LISTADEPRECIOS_105_LISTADEPRECIO_NOMBRE_DESDE varchar(30),
	@LISTADEPRECIOS_105_LISTADEPRECIO_NOMBRE_HASTA varchar(30),
	@CLASIFICACIONCLIENTE_106_CLASIFICACION_DESCRIPCION_DESDE varchar(50),
	@CLASIFICACIONCLIENTE_106_CLASIFICACION_DESCRIPCION_HASTA varchar(50),
	@DESCUENTO_109_DESCUENTOPREFERENTE_DESCRIPCION_DESDE varchar(40),
	@DESCUENTO_109_DESCUENTOPREFERENTE_DESCRIPCION_HASTA varchar(40),
	@TRANSPORTISTA_110_TRANSPORTISTA_NOMBRE_DESDE varchar(30),
	@TRANSPORTISTA_110_TRANSPORTISTA_NOMBRE_HASTA varchar(30),
	@NOMBREDEFANTASIA_116_CODNOMBREFANTASIA_CODIGO_DESDE varchar(50),
	@NOMBREDEFANTASIA_116_CODNOMBREFANTASIA_CODIGO_HASTA varchar(50),
	@TIPOCLIENTE_117_TIPOCLI_DESCRIPCION_DESDE varchar(50),
	@TIPOCLIENTE_117_TIPOCLI_DESCRIPCION_HASTA varchar(50),
	@CATEGORIACLIENTE_118_CATEGCLI_DESCRIPCION_DESDE varchar(50),
	@CATEGORIACLIENTE_118_CATEGCLI_DESCRIPCION_HASTA varchar(50),
	@CONDICIONDEPAGO_119_CONDICIONDEPAGO_DESCRIPCION_DESDE varchar(100),
	@CONDICIONDEPAGO_119_CONDICIONDEPAGO_DESCRIPCION_HASTA varchar(100),
	@IMPUESTO_121_PERCEPCIONIVA_DESCRIPCION_DESDE varchar(50),
	@IMPUESTO_121_PERCEPCIONIVA_DESCRIPCION_HASTA varchar(50),
	@IMPUESTO_124_PERCEPCIONGANANCIAS_DESCRIPCION_DESDE varchar(50),
	@IMPUESTO_124_PERCEPCIONGANANCIAS_DESCRIPCION_HASTA varchar(50),
	@DATOSADICIONALESSIPRIB_133_CODIGOSIPRIB_DESCRIPCION_DESDE varchar(15),
	@DATOSADICIONALESSIPRIB_133_CODIGOSIPRIB_DESCRIPCION_HASTA varchar(15),
	@SUCURSAL_4204_SEGMENTACION_DESDE varchar(10),
	@SUCURSAL_4204_SEGMENTACION_HASTA varchar(10),
	@SUCURSAL_4204_LINEA_DESDE varchar(10),
	@SUCURSAL_4204_LINEA_HASTA varchar(10),
	@SUCURSAL_4204_TIPO_DESDE varchar(10),
	@SUCURSAL_4204_TIPO_HASTA varchar(10),
	@SUCURSAL_4204_DESCRIPCION_DESDE varchar(50),
	@SUCURSAL_4204_DESCRIPCION_HASTA varchar(50),
	@ARTICULO_2_PROVEEDOR_DESDE varchar(10),
	@ARTICULO_2_PROVEEDOR_HASTA varchar(10),
	@ARTICULO_2_CONDICIONIVAVENTAS numeric(1, 0),
	@ARTICULO_2_PORCENTAJEIVAVENTAS_DESDE numeric(5, 2),
	@ARTICULO_2_PORCENTAJEIVAVENTAS_HASTA numeric(5, 2),
	@ARTICULO_2_IMAGEN_DESDE varchar(180),
	@ARTICULO_2_IMAGEN_HASTA varchar(180),
	@ARTICULO_2_TEMPORADA_DESDE varchar(5),
	@ARTICULO_2_TEMPORADA_HASTA varchar(5),
	@ARTICULO_2_UNIDADDEMEDIDA_DESDE varchar(3),
	@ARTICULO_2_UNIDADDEMEDIDA_HASTA varchar(3),
	@ARTICULO_2_FAMILIA_DESDE varchar(10),
	@ARTICULO_2_FAMILIA_HASTA varchar(10),
	@ARTICULO_2_MATERIAL_DESDE varchar(10),
	@ARTICULO_2_MATERIAL_HASTA varchar(10),
	@ARTICULO_2_LINEA_DESDE varchar(10),
	@ARTICULO_2_LINEA_HASTA varchar(10),
	@ARTICULO_2_GRUPO_DESDE varchar(10),
	@ARTICULO_2_GRUPO_HASTA varchar(10),
	@ARTICULO_2_CATEGORIADEARTICULO_DESDE varchar(10),
	@ARTICULO_2_CATEGORIADEARTICULO_HASTA varchar(10),
	@ARTICULO_2_CLASIFICACION_DESDE varchar(10),
	@ARTICULO_2_CLASIFICACION_HASTA varchar(10),
	@ARTICULO_2_ANO_DESDE numeric(4, 0),
	@ARTICULO_2_ANO_HASTA numeric(4, 0),
	@ARTICULO_2_TIPODEARTICULO_DESDE varchar(10),
	@ARTICULO_2_TIPODEARTICULO_HASTA varchar(10),
	@ARTICULO_2_CONDICIONIVACOMPRAS numeric(1, 0),
	@ARTICULO_2_PORCENTAJEIVACOMPRAS_DESDE numeric(5, 2),
	@ARTICULO_2_PORCENTAJEIVACOMPRAS_HASTA numeric(5, 2),
	@ARTICULO_2_COMPORTAMIENTO numeric(1, 0),
	@ARTICULO_2_PALETADECOLORES_DESDE varchar(10),
	@ARTICULO_2_PALETADECOLORES_HASTA varchar(10),
	@ARTICULO_2_CURVADETALLES_DESDE varchar(10),
	@ARTICULO_2_CURVADETALLES_HASTA varchar(10),
	@ARTICULO_2_NOCOMERCIALIZABLE_DESDE datetime,
	@ARTICULO_2_NOCOMERCIALIZABLE_HASTA datetime,
	@ARTICULO_2_NOMENCLADOR_DESDE varchar(6),
	@ARTICULO_2_NOMENCLADOR_HASTA varchar(6),
	@ARTICULO_2_NOPERMITEDEVOLUCIONES bit,
	@ARTICULO_2_IMPRIMEDESPACHO bit,
	@ARTICULO_2_PORCENTAJEIMPUESTOINTERNO_DESDE numeric(5, 2),
	@ARTICULO_2_PORCENTAJEIMPUESTOINTERNO_HASTA numeric(5, 2),
	@ARTICULO_2_RESTRINGIRDESCUENTOS bit,
	@ARTICULO_2_PESO_DESDE numeric(11, 3),
	@ARTICULO_2_PESO_HASTA numeric(11, 3),
	@ARTICULO_2_LARGO_DESDE numeric(11, 2),
	@ARTICULO_2_LARGO_HASTA numeric(11, 2),
	@ARTICULO_2_ANCHO_DESDE numeric(11, 2),
	@ARTICULO_2_ANCHO_HASTA numeric(11, 2),
	@ARTICULO_2_ALTO_DESDE numeric(11, 2),
	@ARTICULO_2_ALTO_HASTA numeric(11, 2),
	@ARTICULO_2_REQUIERECCOSTO_DESDE numeric(1, 0),
	@ARTICULO_2_REQUIERECCOSTO_HASTA numeric(1, 0),
	@ARTICULO_2_NOPUBLICARENECOMMERCE bit,
	@ARTICULO_2_IMPORTADO bit,
	@ARTICULO_2_DESCRIPCIONADICIONAL_DESDE varchar(254),
	@ARTICULO_2_DESCRIPCIONADICIONAL_HASTA varchar(254),
	@ARTICULO_2_SOLOPROMOYKIT bit,
	@ARTICULO_2_RESTRINGIRARTICULO_DESDE datetime,
	@ARTICULO_2_RESTRINGIRARTICULO_HASTA datetime,
	@ARTICULO_2_MARCA_DESDE varchar(30),
	@ARTICULO_2_MARCA_HASTA varchar(30),
	@ARTICULO_2_PERCEPCIONIVARG5329 numeric(1, 0),
	@MOTIVODESCUENTOYDEVOLUCION_61_TIPO numeric(1, 0),
	@CLIENTE_81_VENDEDOR_DESDE varchar(10),
	@CLIENTE_81_VENDEDOR_HASTA varchar(10),
	@CLIENTE_81_CALLE_DESDE varchar(250),
	@CLIENTE_81_CALLE_HASTA varchar(250),
	@CLIENTE_81_CODIGOPOSTAL_DESDE varchar(8),
	@CLIENTE_81_CODIGOPOSTAL_HASTA varchar(8),
	@CLIENTE_81_CUIT_DESDE varchar(15),
	@CLIENTE_81_CUIT_HASTA varchar(15),
	@CLIENTE_81_DEPARTAMENTO_DESDE varchar(3),
	@CLIENTE_81_DEPARTAMENTO_HASTA varchar(3),
	@CLIENTE_81_EMAIL_DESDE varchar(250),
	@CLIENTE_81_EMAIL_HASTA varchar(250),
	@CLIENTE_81_FAX_DESDE varchar(20),
	@CLIENTE_81_FAX_HASTA varchar(20),
	@CLIENTE_81_FECHANACIMIENTO_DESDE datetime,
	@CLIENTE_81_FECHANACIMIENTO_HASTA datetime,
	@CLIENTE_81_IMAGEN_DESDE varchar(180),
	@CLIENTE_81_IMAGEN_HASTA varchar(180),
	@CLIENTE_81_LOCALIDAD_DESDE varchar(70),
	@CLIENTE_81_LOCALIDAD_HASTA varchar(70),
	@CLIENTE_81_NRODOCUMENTO_DESDE varchar(10),
	@CLIENTE_81_NRODOCUMENTO_HASTA varchar(10),
	@CLIENTE_81_NUMERO_DESDE numeric(5, 0),
	@CLIENTE_81_NUMERO_HASTA numeric(5, 0),
	@CLIENTE_81_PAGINAWEB_DESDE varchar(60),
	@CLIENTE_81_PAGINAWEB_HASTA varchar(60),
	@CLIENTE_81_PAIS_DESDE varchar(3),
	@CLIENTE_81_PAIS_HASTA varchar(3),
	@CLIENTE_81_PISO_DESDE varchar(3),
	@CLIENTE_81_PISO_HASTA varchar(3),
	@CLIENTE_81_PROVINCIA_DESDE varchar(2),
	@CLIENTE_81_PROVINCIA_HASTA varchar(2),
	@SITUACIONFISCAL_100_SITUACIONFISCAL_DESCRIPCION varchar(40),
	@CLIENTE_81_TELEFONO_DESDE varchar(30),
	@CLIENTE_81_TELEFONO_HASTA varchar(30),
	@CLIENTE_81_TIPODOCUMENTO_DESDE varchar(2),
	@CLIENTE_81_TIPODOCUMENTO_HASTA varchar(2),
	@CLIENTE_81_MOVIL_DESDE varchar(30),
	@CLIENTE_81_MOVIL_HASTA varchar(30),
	@CLIENTE_81_TOPECTACTE_DESDE numeric(15, 2),
	@CLIENTE_81_TOPECTACTE_HASTA numeric(15, 2),
	@CLIENTE_81_LISTADEPRECIO_DESDE varchar(6),
	@CLIENTE_81_LISTADEPRECIO_HASTA varchar(6),
	@CLIENTE_81_CLASIFICACION_DESDE varchar(10),
	@CLIENTE_81_CLASIFICACION_HASTA varchar(10),
	@CLIENTE_81_TIPOCONVENIO_DESDE numeric(1, 0),
	@CLIENTE_81_TIPOCONVENIO_HASTA numeric(1, 0),
	@CLIENTE_81_NROIIBB_DESDE numeric(11, 0),
	@CLIENTE_81_NROIIBB_HASTA numeric(11, 0),
	@CLIENTE_81_DESCUENTOPREFERENTE_DESDE varchar(10),
	@CLIENTE_81_DESCUENTOPREFERENTE_HASTA varchar(10),
	@CLIENTE_81_TRANSPORTISTA_DESDE varchar(15),
	@CLIENTE_81_TRANSPORTISTA_HASTA varchar(15),
	@CLIENTE_81_ESTADOCIVIL varchar(13),
	@CLIENTE_81_HIJOS_DESDE numeric(2, 0),
	@CLIENTE_81_HIJOS_HASTA numeric(2, 0),
	@CLIENTE_81_SEXO varchar(10),
	@CLIENTE_81_IDGLOBAL_DESDE varchar(38),
	@CLIENTE_81_IDGLOBAL_HASTA varchar(38),
	@CLIENTE_81_RUT_DESDE varchar(12),
	@CLIENTE_81_RUT_HASTA varchar(12),
	@CLIENTE_81_CODNOMBREFANTASIA_DESDE varchar(50),
	@CLIENTE_81_CODNOMBREFANTASIA_HASTA varchar(50),
	@CLIENTE_81_TIPOCLI_DESDE varchar(10),
	@CLIENTE_81_TIPOCLI_HASTA varchar(10),
	@CLIENTE_81_CATEGCLI_DESDE varchar(10),
	@CLIENTE_81_CATEGCLI_HASTA varchar(10),
	@CLIENTE_81_CONDICIONDEPAGO_DESDE varchar(5),
	@CLIENTE_81_CONDICIONDEPAGO_HASTA varchar(5),
	@CLIENTE_81_SUJETOVINCULADO bit,
	@CLIENTE_81_PERCEPCIONIVA_DESDE varchar(10),
	@CLIENTE_81_PERCEPCIONIVA_HASTA varchar(10),
	@CLIENTE_81_SITUACIONGANANCIAS numeric(1, 0),
	@CLIENTE_81_EXCLUIDOPERCEPCIONIVA bit,
	@CLIENTE_81_PERCEPCIONGANANCIAS_DESDE varchar(10),
	@CLIENTE_81_PERCEPCIONGANANCIAS_HASTA varchar(10),
	@CLIENTE_81_EXCLUIDOPERCEPCIONGANANCIAS bit,
	@CLIENTE_81_CODRECOMENDANTE_DESDE varchar(10),
	@CLIENTE_81_CODRECOMENDANTE_HASTA varchar(10),
	@CLIENTE_81_NOMBRERECOMENDANTE_DESDE varchar(60),
	@CLIENTE_81_NOMBRERECOMENDANTE_HASTA varchar(60),
	@CLIENTE_81_PRIMERNOMBRE_DESDE varchar(60),
	@CLIENTE_81_PRIMERNOMBRE_HASTA varchar(60),
	@CLIENTE_81_SEGUNDONOMBRE_DESDE varchar(60),
	@CLIENTE_81_SEGUNDONOMBRE_HASTA varchar(60),
	@CLIENTE_81_APELLIDO_DESDE varchar(60),
	@CLIENTE_81_APELLIDO_HASTA varchar(60),
	@CLIENTE_81_VIGENCIAHASTAIVA_DESDE datetime,
	@CLIENTE_81_VIGENCIAHASTAIVA_HASTA datetime,
	@CLIENTE_81_VIGENCIAHASTAGAN_DESDE datetime,
	@CLIENTE_81_VIGENCIAHASTAGAN_HASTA datetime,
	@CLIENTE_81_CODIGOSIPRIB_DESDE varchar(20),
	@CLIENTE_81_CODIGOSIPRIB_HASTA varchar(20),
	@CLIENTE_81_TASACEROPORCEN_DESDE numeric(6, 2),
	@CLIENTE_81_TASACEROPORCEN_HASTA numeric(6, 2),
	@CLIENTE_81_TASACEROAPLICA bit,
	@CLIENTE_81_INACTIVOFW bit,
	@SUCURSAL_4204_CODIGO_DESDE varchar(10),
	@SUCURSAL_4204_CODIGO_HASTA varchar(10),
	@ITEMARTICULOSVENTAS_NROITEM_DESDE numeric(5, 0),
	@ITEMARTICULOSVENTAS_NROITEM_HASTA numeric(5, 0),
	@REMITO_1_FECHAALTAFW_DESDE datetime,
	@REMITO_1_FECHAALTAFW_HASTA datetime,
	@REMITO_1_HORAALTAFW_DESDE varchar(8),
	@REMITO_1_HORAALTAFW_HASTA varchar(8),
	@REMITO_1_BASEDEDATOSALTAFW_DESDE varchar(8),
	@REMITO_1_BASEDEDATOSALTAFW_HASTA varchar(8),
	@REMITO_1_BASEDEDATOSMODIFICACIONFW_DESDE varchar(8),
	@REMITO_1_BASEDEDATOSMODIFICACIONFW_HASTA varchar(8),
	@REMITO_1_ESTADOTRANSFERENCIA_DESDE varchar(20),
	@REMITO_1_ESTADOTRANSFERENCIA_HASTA varchar(20),
	@REMITO_1_FECHAEXPO_DESDE datetime,
	@REMITO_1_FECHAEXPO_HASTA datetime,
	@REMITO_1_FECHAIMPO_DESDE datetime,
	@REMITO_1_FECHAIMPO_HASTA datetime,
	@REMITO_1_FECHAMODIFICACIONFW_DESDE datetime,
	@REMITO_1_FECHAMODIFICACIONFW_HASTA datetime,
	@REMITO_1_FECHATRANSFERENCIA_DESDE datetime,
	@REMITO_1_FECHATRANSFERENCIA_HASTA datetime,
	@REMITO_1_HORAEXPO_DESDE varchar(8),
	@REMITO_1_HORAEXPO_HASTA varchar(8),
	@REMITO_1_HORAIMPO_DESDE varchar(8),
	@REMITO_1_HORAIMPO_HASTA varchar(8),
	@REMITO_1_HORAMODIFICACIONFW_DESDE varchar(8),
	@REMITO_1_HORAMODIFICACIONFW_HASTA varchar(8),
	@REMITO_1_SERIEALTAFW_DESDE varchar(7),
	@REMITO_1_SERIEALTAFW_HASTA varchar(7),
	@REMITO_1_SERIEMODIFICACIONFW_DESDE varchar(7),
	@REMITO_1_SERIEMODIFICACIONFW_HASTA varchar(7),
	@REMITO_1_USUARIOALTAFW_DESDE varchar(100),
	@REMITO_1_USUARIOALTAFW_HASTA varchar(100),
	@REMITO_1_USUARIOMODIFICACIONFW_DESDE varchar(100),
	@REMITO_1_USUARIOMODIFICACIONFW_HASTA varchar(100),
	@REMITO_1_VERSIONALTAFW_DESDE varchar(13),
	@REMITO_1_VERSIONALTAFW_HASTA varchar(13),
	@REMITO_1_VERSIONMODIFICACIONFW_DESDE varchar(13),
	@REMITO_1_VERSIONMODIFICACIONFW_HASTA varchar(13) )
RETURNS TABLE
AS
RETURN
(
select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_itemarticulosventas.codigo, 38, ' ' ) as varchar( 46 ) ) as ITEMARTICULOSVENTAS__Grupo,
	@basededatos as ITEMARTICULOSVENTAS__BD,
	c_ITEMARTICULOSVENTAS.CODIGO as ITEMARTICULOSVENTAS_CODIGO,
	c_ITEMARTICULOSVENTAS.FART as ITEMARTICULOSVENTAS_FART,
	C_ARTICULO.ARIMAGEN as ARTICULO_ARIMAGEN,
	cast( c_remito.signomov*c_remito.cotiz*-1*c_itemarticulosventas.fcfitot as numeric( 15, 4 ) ) as ITEMARTICULOSVENTAS_FCFITot,
	cast( c_remito.signomov*c_remito.cotiz*c_itemarticulosventas.fneto as numeric( 15, 4 ) ) as ITEMARTICULOSVENTAS_FNETO,
	c_ITEMARTICULOSVENTAS.PRUNCONIMP as ITEMARTICULOSVENTAS_prunconimp,
	c_ITEMARTICULOSVENTAS.PRUNSINIMP as ITEMARTICULOSVENTAS_Prunsinimp,
	cast( c_remito.signomov*c_remito.cotiz*c_itemarticulosventas.mntprecci as numeric( 17, 4 ) ) as ITEMARTICULOSVENTAS_MNTPRECCI,
	cast( c_remito.signomov*c_remito.cotiz*c_itemarticulosventas.mntptot as numeric( 17, 4 ) ) as ITEMARTICULOSVENTAS_MNTPTOT,
	cast( c_remito.signomov*c_remito.cotiz*c_itemarticulosventas.mntpper as numeric( 17, 4 ) ) as ITEMARTICULOSVENTAS_MNTPPER,
	cast( c_remito.signomov*c_remito.cotiz*-1*c_itemarticulosventas.mntpdesci as numeric( 17, 4 ) ) as ITEMARTICULOSVENTAS_MNTPDESCI,
	cast( c_remito.signomov*c_remito.cotiz*c_itemarticulosventas.mntprecsi as numeric( 17, 4 ) ) as ITEMARTICULOSVENTAS_MNTPRECSI,
	cast( c_remito.signomov*c_remito.cotiz*-1*c_itemarticulosventas.mntpdessi as numeric( 17, 4 ) ) as ITEMARTICULOSVENTAS_MNTPDESSI,
	cast( c_remito.signomov*c_remito.cotiz*-1*c_itemarticulosventas.mnpdsi as numeric( 15, 4 ) ) as ITEMARTICULOSVENTAS_MNPDSI,
	cast( c_remito.signomov*c_remito.cotiz*-1*c_itemarticulosventas.mndesci as numeric( 15, 4 ) ) as ITEMARTICULOSVENTAS_MNDESCI,
	cast( c_remito.signomov*c_remito.cotiz*-1*c_itemarticulosventas.mndessi as numeric( 15, 4 ) ) as ITEMARTICULOSVENTAS_MNDESSI,
	cast( c_remito.signomov*c_remito.cotiz*c_itemarticulosventas.fbruto as numeric( 15, 4 ) ) as ITEMARTICULOSVENTAS_FBruto,
	c_ITEMARTICULOSVENTAS.TASAIMPINT as ITEMARTICULOSVENTAS_tasaimpint,
	cast( c_remito.signomov*c_remito.cotiz*c_itemarticulosventas.impinterno as numeric( 15, 4 ) ) as ITEMARTICULOSVENTAS_impinterno,
	c_ITEMARTICULOSVENTAS.MOTDEVOL as ITEMARTICULOSVENTAS_MotDevol,
	c_ITEMARTICULOSVENTAS.MOTDESCU as ITEMARTICULOSVENTAS_MotDescu,
	c_ITEMARTICULOSVENTAS.CODAUTDJCP as ITEMARTICULOSVENTAS_CodAutDJCP,
	c_ITEMARTICULOSVENTAS.EQUIV as ITEMARTICULOSVENTAS_Equiv,
	c_ITEMARTICULOSVENTAS.FTXT as ITEMARTICULOSVENTAS_FTXT,
	c_ITEMARTICULOSVENTAS.CCOLOR as ITEMARTICULOSVENTAS_cColor,
	cast( funciones.obtenerordenenlapaletadecolores(c_itemarticulosventas.fart, c_itemarticulosventas.ccolor, c_articulo.palcol, c_articulo.grupo) as numeric( 3, 0 ) ) as ITEMARTICULOSVENTAS_OrdenPaletaColores,
	c_ITEMARTICULOSVENTAS.FCOLTXT as ITEMARTICULOSVENTAS_FCOLTXT,
	cast( c_remito.signomov*c_remito.cotiz*c_itemarticulosventas.mntpiva as numeric( 17, 4 ) ) as ITEMARTICULOSVENTAS_MNTPIVA,
	cast( c_remito.signomov*c_remito.cotiz*c_itemarticulosventas.mntpint as numeric( 17, 4 ) ) as ITEMARTICULOSVENTAS_MNTPINT,
	c_ITEMARTICULOSVENTAS.TALLE as ITEMARTICULOSVENTAS_Talle,
	cast( funciones.obtenerordenenlacurvadetalle(c_itemarticulosventas.fart, c_itemarticulosventas.talle, c_articulo.curtall, c_articulo.grupo) as numeric( 3, 0 ) ) as ITEMARTICULOSVENTAS_OrdenCurvaTalles,
	cast( c_remito.signomov*c_itemarticulosventas.fcant as numeric( 9, 3 ) ) as ITEMARTICULOSVENTAS_FCANT,
	c_ITEMARTICULOSVENTAS.FPRECIO as ITEMARTICULOSVENTAS_FPRECIO,
	cast( c_remito.signomov*c_remito.cotiz*-1*c_itemarticulosventas.fcfi as numeric( 7, 2 ) ) as ITEMARTICULOSVENTAS_FCFI,
	cast( c_remito.signomov*c_remito.cotiz*-1*c_itemarticulosventas.mntdes as numeric( 12, 2 ) ) as ITEMARTICULOSVENTAS_MNTDES,
	cast( c_remito.signomov*c_remito.cotiz*c_itemarticulosventas.fmonto as numeric( 15, 2 ) ) as ITEMARTICULOSVENTAS_FMONTO,
	C_REMITO.CODIGO as REMITO_CODIGO,
	C_REMITO.FPERSON as REMITO_FPerson,
	C_CLIENTE.CIMAGEN as CLIENTE_CIMAGEN,
	C_REMITO.TOTALCANT as REMITO_TotalCant,
	C_REMITO.OPECOMM as REMITO_OPEcomm,
	C_REMITO.FVEN as REMITO_FVEN,
	C_REMITO.MONEDA as REMITO_Moneda,
	C_REMITO.CODLISTA as REMITO_CodLista,
	C_REMITO.FPAGO as REMITO_FPago,
	C_REMITO.MOTIVO as REMITO_MOTIVO,
	C_REMITO.FTRANSP as REMITO_FTransp,
	C_REMITO.FLETRA as REMITO_FLETRA,
	C_REMITO.FPTOVEN as REMITO_FPTOVEN,
	C_REMITO.FNUMCOMP as REMITO_FNUMCOMP,
	case when c_remito.ffch = '01/01/1900 00:00:00' then null else c_remito.ffch end as REMITO_FFCH,
	C_REMITO.COTIZ as REMITO_Cotiz,
	C_REMITO.MERCONSIGN as REMITO_MerConsign,
	C_REMITO.FAJXRE as REMITO_FAjXRe,
	C_REMITO.FPODES as REMITO_FPODES,
	C_REMITO.FDESCU as REMITO_fDescu,
	C_REMITO.MD3 as REMITO_MD3,
	C_REMITO.FOBS as REMITO_FObs,
	C_REMITO.RECPOR as REMITO_RecPor,
	C_REMITO.MR as REMITO_MR,
	C_REMITO.MR1 as REMITO_MR1,
	C_REMITO.MR2 as REMITO_MR2,
	C_REMITO.FIMPUESTO as REMITO_fImpuesto,
	C_REMITO.TOTIMPUE as REMITO_totimpue,
	C_REMITO.FTOTAL as REMITO_FTotal,
	C_SUCURSAL.SEG as SUCURSAL_seg,
	C_SUCURSAL.LINEA as SUCURSAL_Linea,
	C_SUCURSAL.TIPO as SUCURSAL_Tipo,
	C_SUCURSAL.DESCRIP as SUCURSAL_descrip,
	C_ARTICULO.ARTFAB as ARTICULO_ARTFAB,
	C_ARTICULO.ARTCONIVA as ARTICULO_ARTCONIVA,
	C_ARTICULO.ARTPORIVA as ARTICULO_ARTPORIVA,
	C_ARTICULO.AOBS as ARTICULO_AObs,
	C_ARTICULO.ATEMPORADA as ARTICULO_ATEMPORADA,
	C_ARTICULO.UNIMED as ARTICULO_UniMed,
	C_ARTICULO.FAMILIA as ARTICULO_Familia,
	C_ARTICULO.MAT as ARTICULO_Mat,
	C_ARTICULO.LINEA as ARTICULO_Linea,
	C_ARTICULO.GRUPO as ARTICULO_Grupo,
	C_ARTICULO.CATEARTI as ARTICULO_CateArti,
	C_ARTICULO.CLASIFART as ARTICULO_ClasifArt,
	C_ARTICULO.ANO as ARTICULO_Ano,
	C_ARTICULO.TIPOARTI as ARTICULO_TipoArti,
	C_ARTICULO.ARTIVA as ARTICULO_ARTIVA,
	C_ARTICULO.ANX2 as ARTICULO_ANX2,
	C_ARTICULO.ASTOCK as ARTICULO_ASTOCK,
	C_ARTICULO.PALCOL as ARTICULO_PalCol,
	C_ARTICULO.CURTALL as ARTICULO_Curtall,
	case when c_articulo.nocom = '01/01/1900 00:00:00' then null else c_articulo.nocom end as ARTICULO_NOCOM,
	C_ARTICULO.ARTNARBA as ARTICULO_ARTNARBA,
	C_ARTICULO.ARTNODEVO as ARTICULO_ARTNODEVO,
	C_ARTICULO.ESIMPDES as ARTICULO_EsImpDes,
	C_ARTICULO.IMPINTERNO as ARTICULO_impinterno,
	C_ARTICULO.ARTSINDES as ARTICULO_ArtSinDes,
	C_ARTICULO.ARTPESO as ARTICULO_ARTPESO,
	C_ARTICULO.ARTLARGO as ARTICULO_ARTLARGO,
	C_ARTICULO.ARTANCHO as ARTICULO_ARTANCHO,
	C_ARTICULO.ARTALTO as ARTICULO_ARTALTO,
	C_ARTICULO.REQCCOSTO as ARTICULO_ReqCCosto,
	C_ARTICULO.PUBECOM as ARTICULO_PubEcom,
	C_ARTICULO.IMPORTADO as ARTICULO_Importado,
	C_ARTICULO.ARTDESADIC as ARTICULO_ARTDESADIC,
	C_ARTICULO.PROMOYKIT as ARTICULO_PromoYKit,
	C_ARTICULO.DESECOHTML as ARTICULO_DesEcoHTML,
	C_ARTICULO.DESECO as ARTICULO_DesEco,
	case when c_articulo.artrest = '01/01/1900 00:00:00' then null else c_articulo.artrest end as ARTICULO_ArtRest,
	C_ARTICULO.MARCA as ARTICULO_Marca,
	C_ARTICULO.ARTPERCEP as ARTICULO_ArtPercep,
	C_MOTIVODESCUENTOYDEVOLUCION61.TIPO as MOTIVODESCUENTOYDEVOLUCION61_Tipo,
	C_MOTIVODESCUENTOYDEVOLUCION61.OBS as MOTIVODESCUENTOYDEVOLUCION61_Obs,
	C_CLIENTE.CLVEND as CLIENTE_CLVend,
	C_CLIENTE.CLCALLE as CLIENTE_CLCalle,
	C_CLIENTE.CLCP as CLIENTE_CLCP,
	C_CLIENTE.CLCUIT as CLIENTE_CLCUIT,
	C_CLIENTE.CLDEPTO as CLIENTE_CLDEPTO,
	C_CLIENTE.CLEMAIL as CLIENTE_CLEMAIL,
	C_CLIENTE.CLFAX as CLIENTE_CLFAX,
	case when c_cliente.clfecha = '01/01/1900 00:00:00' then null else c_cliente.clfecha end as CLIENTE_CLFECHA,
	C_CLIENTE.CLLOC as CLIENTE_CLLOC,
	C_CLIENTE.CLNRODOC as CLIENTE_CLNRODOC,
	C_CLIENTE.CLNRO as CLIENTE_CLNro,
	C_CLIENTE.CLOBS as CLIENTE_CLOBS,
	C_CLIENTE.CLPAGEWEB as CLIENTE_CLPAGEWEB,
	C_CLIENTE.CLPAIS as CLIENTE_CLPAIS,
	C_CLIENTE.CLPISO as CLIENTE_ClPiso,
	C_CLIENTE.CLPRV as CLIENTE_CLPRV,
	C_SITUACIONFISCAL.DESCRIP as SITUACIONFISCAL_Descrip,
	C_CLIENTE.CLTLF as CLIENTE_CLTLF,
	C_CLIENTE.CLTIPODOC as CLIENTE_CLTIPODOC,
	C_CLIENTE.CLMOVIL as CLIENTE_CLMovil,
	C_CLIENTE.CLTOPECCTE as CLIENTE_CLTOPECCTE,
	C_CLIENTE.CLLISPREC as CLIENTE_CLLisPrec,
	C_CLIENTE.CLCLAS as CLIENTE_CLCLAS,
	C_CLIENTE.CLTIPCONV as CLIENTE_CLTIPCONV,
	C_CLIENTE.CLNROIIBB as CLIENTE_CLNROIIBB,
	C_CLIENTE.CLCO_DTO as CLIENTE_CLCO_DTO,
	C_CLIENTE.CLTRANS as CLIENTE_CLTRANS,
	C_CLIENTE.ESTADO as CLIENTE_Estado,
	C_CLIENTE.HIJOS as CLIENTE_Hijos,
	C_CLIENTE.SEXO as CLIENTE_Sexo,
	C_CLIENTE.GLOBALID as CLIENTE_globalid,
	C_CLIENTE.RUT as CLIENTE_RUT,
	C_CLIENTE.CLCODFANT as CLIENTE_CLCODFANT,
	C_CLIENTE.CLTIPOCLI as CLIENTE_CLTipoCli,
	C_CLIENTE.CLCATEGCLI as CLIENTE_CLCategCli,
	C_CLIENTE.CLCONDPAG as CLIENTE_CLCONDPAG,
	C_CLIENTE.CLSUJVINC as CLIENTE_CLSujVinc,
	C_CLIENTE.CLPERTIVA as CLIENTE_CLPERTIVA,
	C_CLIENTE.CLSITGAN as CLIENTE_CLSITGAN,
	C_CLIENTE.EXPERIVA as CLIENTE_EXPERIVA,
	C_CLIENTE.CLPERGAN as CLIENTE_CLPERGAN,
	C_CLIENTE.EXPERGAN as CLIENTE_EXPERGAN,
	C_CLIENTE.CODRECOM as CLIENTE_CODRECOM,
	C_CLIENTE.NOMRECOM as CLIENTE_NOMRECOM,
	C_CLIENTE.CLPRINOM as CLIENTE_CLPRINOM,
	C_CLIENTE.CLSEGNOM as CLIENTE_CLSEGNOM,
	C_CLIENTE.CLAPELL as CLIENTE_CLAPELL,
	case when c_cliente.vhastaiva = '01/01/1900 00:00:00' then null else c_cliente.vhastaiva end as CLIENTE_VHastaIva,
	case when c_cliente.vhastagan = '01/01/1900 00:00:00' then null else c_cliente.vhastagan end as CLIENTE_VHastaGan,
	C_CLIENTE.CLSIPRIB as CLIENTE_CLSIPRIB,
	C_CLIENTE.PORCENTC as CLIENTE_PorcenTC,
	C_CLIENTE.APLICATC as CLIENTE_AplicaTC,
	C_CLIENTE.INACTIVOFW as CLIENTE_InactivoFW,
	C_SUCURSAL.CODIGO as SUCURSAL_codigo,
	c_ITEMARTICULOSVENTAS.NROITEM as ITEMARTICULOSVENTAS_NroItem,
	case when c_remito.faltafw = '01/01/1900 00:00:00' then null else c_remito.faltafw end as REMITO_FAltaFW,
	C_REMITO.HALTAFW as REMITO_HAltaFW,
	C_REMITO.BDALTAFW as REMITO_BDALTAFW,
	C_REMITO.BDMODIFW as REMITO_BDMODIFW,
	C_REMITO.ESTTRANS as REMITO_ESTTRANS,
	case when c_remito.fecexpo = '01/01/1900 00:00:00' then null else c_remito.fecexpo end as REMITO_FECEXPO,
	case when c_remito.fecimpo = '01/01/1900 00:00:00' then null else c_remito.fecimpo end as REMITO_FECIMPO,
	case when c_remito.fmodifw = '01/01/1900 00:00:00' then null else c_remito.fmodifw end as REMITO_FMODIFW,
	case when c_remito.fectrans = '01/01/1900 00:00:00' then null else c_remito.fectrans end as REMITO_FECTRANS,
	C_REMITO.HORAEXPO as REMITO_HORAEXPO,
	C_REMITO.HORAIMPO as REMITO_HORAIMPO,
	C_REMITO.HMODIFW as REMITO_HMODIFW,
	C_REMITO.SALTAFW as REMITO_SALTAFW,
	C_REMITO.SMODIFW as REMITO_SMODIFW,
	C_REMITO.UALTAFW as REMITO_UALTAFW,
	C_REMITO.UMODIFW as REMITO_UMODIFW,
	C_REMITO.VALTAFW as REMITO_VALTAFW,
	C_REMITO.VMODIFW as REMITO_VMODIFW,
	C_REMITO.ZADSFW as REMITO_ZADSFW,
	cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) as ITEMARTICULOSVENTAS__SUCURSAL,
	cast( funciones.identificadordecomprobanteparalistado(c_remito.facttipo, c_remito.fletra, c_remito.fptoven, c_remito.fnumcomp) as varchar( 20 ) ) as REMITO_1_CompCortoVirtual,
	cast( funciones.obtenercantidadafectadaparaelitemcircuitodeventas(c_remito.codigo, c_itemarticulosventas.iditem, 0) as numeric( 8, 2 ) ) as ITEMARTICULOSVENTAS_CantidadCanceladaVirtual,
	cast( funciones.obtenercantidadafectadaparaelitemcircuitodeventas(c_remito.codigo, c_itemarticulosventas.iditem, 3) as numeric( 8, 2 ) ) as ITEMARTICULOSVENTAS_CantidadFacturadaVirtual,
	C_REMITO.DIRENTR as REMITO_DirEntr,
	cast( funciones.obtenercantidaddemercaderiapreparada(c_remito.codigo, c_itemarticulosventas.iditem, 'preparado') as numeric( 8, 2 ) ) as ITEMARTICULOSVENTAS_CantidadPreparadaVirtual,
	cast( funciones.obtenercantidaddemercaderiapreparada(c_remito.codigo, c_itemarticulosventas.iditem, 'pendiente') as numeric( 8, 2 ) ) as ITEMARTICULOSVENTAS_PendientePrepararVirtual,
	C_ARTICULO.ARTDES as ARTICULO_ARTDES,
	C_MOTIVODESCUENTOYDEVOLUCION61.DESCRIP as MOTIVODESCUENTOYDEVOLUCION61_Descrip,
	C_MOTIVODESCUENTOYDEVOLUCION64.DESCRIP as MOTIVODESCUENTOYDEVOLUCION64_Descrip,
	C_EQUIVALENCIA.CCODIGO as EQUIVALENCIA_cCodigo,
	C_COLOR.COLDES as COLOR_COLDES,
	C_TALLE.DESCRIP as TALLE_Descrip,
	C_CLIENTE.CLNOM as CLIENTE_CLNOM,
	C_VENDEDOR158.CLNOM as VENDEDOR158_CLNOM,
	C_MONEDA.DESCRIP as MONEDA_Descrip,
	C_LISTADEPRECIOS160.LPR_NOMBRE as LISTADEPRECIOS160_LPR_NOMBRE,
	C_CONDICIONDEPAGO161.CLNOM as CONDICIONDEPAGO161_CLNOM,
	C_MOTIVO.MOTDES as MOTIVO_MOTDES,
	C_TRANSPORTISTA163.TRNOM as TRANSPORTISTA163_TRNOM,
	C_SEGMENTACION.SDES as SEGMENTACION_SDES,
	C_LINEASUCURSAL.LSDES as LINEASUCURSAL_LSDES,
	C_TIPOSUCURSAL.TDES as TIPOSUCURSAL_TDES,
	C_PROVEEDOR.CLNOM as PROVEEDOR_CLNOM,
	C_TEMPORADA.TDES as TEMPORADA_TDES,
	C_UNIDADDEMEDIDA.DESCRIP as UNIDADDEMEDIDA_Descrip,
	C_FAMILIA.DESCRIP as FAMILIA_Descrip,
	C_MATERIAL.MATDES as MATERIAL_MATDES,
	C_LINEA.DESCRIP as LINEA_Descrip,
	C_GRUPO.DESCRIP as GRUPO_Descrip,
	C_CATEGORIADEARTICULO.DESCRIP as CATEGORIADEARTICULO_Descrip,
	C_CLASIFICACIONARTICULO.DESCRIP as CLASIFICACIONARTICULO_DESCRIP,
	C_TIPODEARTICULO.DESCRIP as TIPODEARTICULO_Descrip,
	C_PALETADECOLORES.DESCRIP as PALETADECOLORES_Descrip,
	C_CURVADETALLES.DESCRIP as CURVADETALLES_Descrip,
	C_NOMENCLADORARBA.NMCDES as NOMENCLADORARBA_NMCDES,
	C_MARCA.DESCRIP as MARCA_Descrip,
	C_VENDEDOR82.CLNOM as VENDEDOR82_CLNOM,
	C_PAISES.PDES as PAISES_pdes,
	C_PROVINCIA.PRV_DES as PROVINCIA_PRV_DES,
	C_CLIENTE.CLIVA as CLIENTE_CLIVA,
	C_LISTADEPRECIOS105.LPR_NOMBRE as LISTADEPRECIOS105_LPR_NOMBRE,
	C_CLASIFICACIONCLIENTE.CLADES as CLASIFICACIONCLIENTE_CLADES,
	C_DESCUENTO.DES as DESCUENTO_Des,
	C_TRANSPORTISTA110.TRNOM as TRANSPORTISTA110_TRNOM,
	C_NOMBREDEFANTASIA.NFCOD as NOMBREDEFANTASIA_NFCOD,
	C_TIPOCLIENTE.TCDES as TIPOCLIENTE_TCDES,
	C_CATEGORIACLIENTE.CGDES as CATEGORIACLIENTE_CGDes,
	C_CONDICIONDEPAGO119.CLNOM as CONDICIONDEPAGO119_CLNOM,
	C_IMPUESTO121.DESCRIP as IMPUESTO121_descrip,
	C_IMPUESTO124.DESCRIP as IMPUESTO124_descrip,
	C_DATOSADICIONALESSIPRIB.DESCRIP as DATOSADICIONALESSIPRIB_Descrip,
	C_ARTICULO.ARTCOD as ARTICULO_ARTCOD,
	C_CATEGORIACLIENTE.CGCOD as CATEGORIACLIENTE_CGCod,
	C_CATEGORIADEARTICULO.COD as CATEGORIADEARTICULO_Cod,
	C_CLASIFICACIONARTICULO.CODIGO as CLASIFICACIONARTICULO_CODIGO,
	C_CLASIFICACIONCLIENTE.CLACOD as CLASIFICACIONCLIENTE_CLACOD,
	C_CLIENTE.CLCOD as CLIENTE_CLCOD,
	C_COLOR.COLCOD as COLOR_COLCOD,
	C_CONDICIONDEPAGO119.CLCOD as CONDICIONDEPAGO119_CLCOD,
	C_CONDICIONDEPAGO161.CLCOD as CONDICIONDEPAGO161_CLCOD,
	C_CURVADETALLES.CODIGO as CURVADETALLES_Codigo,
	C_DATOSADICIONALESSIPRIB.CODIGO as DATOSADICIONALESSIPRIB_Codigo,
	C_DESCUENTO.CODIGO as DESCUENTO_codigo,
	C_FAMILIA.COD as FAMILIA_Cod,
	C_GRUPO.COD as GRUPO_Cod,
	C_IMPUESTO121.CODIGO as IMPUESTO121_codigo,
	C_IMPUESTO124.CODIGO as IMPUESTO124_codigo,
	C_LINEA.COD as LINEA_Cod,
	C_LINEASUCURSAL.LSCOD as LINEASUCURSAL_LSCOD,
	C_LISTADEPRECIOS105.LPR_NUMERO as LISTADEPRECIOS105_LPR_NUMERO,
	C_LISTADEPRECIOS160.LPR_NUMERO as LISTADEPRECIOS160_LPR_NUMERO,
	C_MARCA.CODIGO as MARCA_Codigo,
	C_MATERIAL.MATCOD as MATERIAL_MATCOD,
	C_MONEDA.CODIGO as MONEDA_Codigo,
	C_MOTIVO.MOTCOD as MOTIVO_MOTCOD,
	C_MOTIVODESCUENTOYDEVOLUCION61.CODIGO as MOTIVODESCUENTOYDEVOLUCION61_Codigo,
	C_MOTIVODESCUENTOYDEVOLUCION64.CODIGO as MOTIVODESCUENTOYDEVOLUCION64_Codigo,
	C_NOMENCLADORARBA.NMCCOD as NOMENCLADORARBA_NMCCOD,
	C_PAISES.PCOD as PAISES_pcod,
	C_PALETADECOLORES.CODIGO as PALETADECOLORES_Codigo,
	C_PROVEEDOR.CLCOD as PROVEEDOR_CLCOD,
	C_PROVINCIA.PRV_COD as PROVINCIA_PRV_COD,
	C_SEGMENTACION.SCOD as SEGMENTACION_SCOD,
	C_SITUACIONFISCAL.CODIGO as SITUACIONFISCAL_Codigo,
	C_TALLE.CODIGO as TALLE_Codigo,
	C_TEMPORADA.TCOD as TEMPORADA_TCOD,
	C_TIPOCLIENTE.TCCOD as TIPOCLIENTE_TCCOD,
	C_TIPODEARTICULO.COD as TIPODEARTICULO_Cod,
	C_TIPOSUCURSAL.TCOD as TIPOSUCURSAL_TCOD,
	C_TRANSPORTISTA110.TRCOD as TRANSPORTISTA110_TRCOD,
	C_TRANSPORTISTA163.TRCOD as TRANSPORTISTA163_TRCOD,
	C_UNIDADDEMEDIDA.COD as UNIDADDEMEDIDA_Cod,
	C_VENDEDOR82.CLCOD as VENDEDOR82_CLCOD,
	C_VENDEDOR158.CLCOD as VENDEDOR158_CLCOD,
    c_remito.entregapos as REMITO_Entregapos
 from ZooLogic.COMPROBANTEVDET as c_ITEMARTICULOSVENTAS
 left join ZooLogic.EQUI as C_EQUIVALENCIA on C_EQUIVALENCIA.CCODIGO = C_ITEMARTICULOSVENTAS.EQUIV and 0 = Funciones.empty( C_ITEMARTICULOSVENTAS.EQUIV )
 left join ZooLogic.ART as C_ARTICULO on C_ARTICULO.ARTCOD = C_ITEMARTICULOSVENTAS.FART and 0 = Funciones.empty( C_ITEMARTICULOSVENTAS.FART )
 left join ZooLogic.CATEGART as C_CATEGORIADEARTICULO on C_CATEGORIADEARTICULO.COD = C_ARTICULO.CATEARTI and 0 = Funciones.empty( C_ARTICULO.CATEARTI )
 left join ZooLogic.CLASIFART as C_CLASIFICACIONARTICULO on C_CLASIFICACIONARTICULO.CODIGO = C_ARTICULO.CLASIFART and 0 = Funciones.empty( C_ARTICULO.CLASIFART )
 left join ZooLogic.COL as C_COLOR on C_COLOR.COLCOD = C_ITEMARTICULOSVENTAS.CCOLOR and 0 = Funciones.empty( C_ITEMARTICULOSVENTAS.CCOLOR )
 left join ZooLogic.CTALLE as C_CURVADETALLES on C_CURVADETALLES.CODIGO = C_ARTICULO.CURTALL and 0 = Funciones.empty( C_ARTICULO.CURTALL )
 left join ZooLogic.FAMILIA as C_FAMILIA on C_FAMILIA.COD = C_ARTICULO.FAMILIA and 0 = Funciones.empty( C_ARTICULO.FAMILIA )
 left join ZooLogic.GRUPO as C_GRUPO on C_GRUPO.COD = C_ARTICULO.GRUPO and 0 = Funciones.empty( C_ARTICULO.GRUPO )
 left join ZooLogic.LINEA as C_LINEA on C_LINEA.COD = C_ARTICULO.LINEA and 0 = Funciones.empty( C_ARTICULO.LINEA )
 left join ZooLogic.MARCAS as C_MARCA on C_MARCA.CODIGO = C_ARTICULO.MARCA and 0 = Funciones.empty( C_ARTICULO.MARCA )
 left join ZooLogic.MAT as C_MATERIAL on C_MATERIAL.MATCOD = C_ARTICULO.MAT and 0 = Funciones.empty( C_ARTICULO.MAT )
 left join ZooLogic.MOTIVODESCDEV as C_MOTIVODESCUENTOYDEVOLUCION61 on C_MOTIVODESCUENTOYDEVOLUCION61.CODIGO = C_ITEMARTICULOSVENTAS.MOTDEVOL and 0 = Funciones.empty( C_ITEMARTICULOSVENTAS.MOTDEVOL )
 left join ZooLogic.MOTIVODESCDEV as C_MOTIVODESCUENTOYDEVOLUCION64 on C_MOTIVODESCUENTOYDEVOLUCION64.CODIGO = C_ITEMARTICULOSVENTAS.MOTDESCU and 0 = Funciones.empty( C_ITEMARTICULOSVENTAS.MOTDESCU )
 left join ZooLogic.NMCARBA as C_NOMENCLADORARBA on C_NOMENCLADORARBA.NMCCOD = C_ARTICULO.ARTNARBA and 0 = Funciones.empty( C_ARTICULO.ARTNARBA )
 left join ZooLogic.PCOLOR as C_PALETADECOLORES on C_PALETADECOLORES.CODIGO = C_ARTICULO.PALCOL and 0 = Funciones.empty( C_ARTICULO.PALCOL )
 left join ZooLogic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = C_ARTICULO.ARTFAB and 0 = Funciones.empty( C_ARTICULO.ARTFAB )
 left join ZooLogic.COMPROBANTEV as C_REMITO on C_REMITO.CODIGO = C_ITEMARTICULOSVENTAS.CODIGO and 0 = Funciones.empty( C_ITEMARTICULOSVENTAS.CODIGO )
 left join ORGANIZACION.SUC as C_SUCURSAL on C_SUCURSAL.CODIGO = cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) and 0 = Funciones.empty( cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) )
 left join ZooLogic.TALLE as C_TALLE on C_TALLE.CODIGO = C_ITEMARTICULOSVENTAS.TALLE and 0 = Funciones.empty( C_ITEMARTICULOSVENTAS.TALLE )
 left join ZooLogic.TEMPORADA as C_TEMPORADA on C_TEMPORADA.TCOD = C_ARTICULO.ATEMPORADA and 0 = Funciones.empty( C_ARTICULO.ATEMPORADA )
 left join ZooLogic.TIPOART as C_TIPODEARTICULO on C_TIPODEARTICULO.COD = C_ARTICULO.TIPOARTI and 0 = Funciones.empty( C_ARTICULO.TIPOARTI )
 left join ORGANIZACION.TSUCUR as C_TIPOSUCURSAL on C_TIPOSUCURSAL.TCOD = C_SUCURSAL.TIPO and 0 = Funciones.empty( C_SUCURSAL.TIPO )
 left join ZooLogic.TRA as C_TRANSPORTISTA163 on C_TRANSPORTISTA163.TRCOD = C_REMITO.FTRANSP and 0 = Funciones.empty( C_REMITO.FTRANSP )
 left join ZooLogic.UNMED as C_UNIDADDEMEDIDA on C_UNIDADDEMEDIDA.COD = C_ARTICULO.UNIMED and 0 = Funciones.empty( C_ARTICULO.UNIMED )
 left join ZooLogic.VEN as C_VENDEDOR158 on C_VENDEDOR158.CLCOD = C_REMITO.FVEN and 0 = Funciones.empty( C_REMITO.FVEN )
 left join ZooLogic.CLI as C_CLIENTE on C_CLIENTE.CLCOD = C_REMITO.FPERSON and 0 = Funciones.empty( C_REMITO.FPERSON )
 left join ZooLogic.CONDPAGO as C_CONDICIONDEPAGO119 on C_CONDICIONDEPAGO119.CLCOD = C_CLIENTE.CLCONDPAG and 0 = Funciones.empty( C_CLIENTE.CLCONDPAG )
 left join ZooLogic.CONDPAGO as C_CONDICIONDEPAGO161 on C_CONDICIONDEPAGO161.CLCOD = C_REMITO.FPAGO and 0 = Funciones.empty( C_REMITO.FPAGO )
 left join ZooLogic.SIPRIBDATADIC as C_DATOSADICIONALESSIPRIB on C_DATOSADICIONALESSIPRIB.CODIGO = C_CLIENTE.CLSIPRIB and 0 = Funciones.empty( C_CLIENTE.CLSIPRIB )
 left join ZooLogic.DESCUENTOS as C_DESCUENTO on C_DESCUENTO.CODIGO = C_CLIENTE.CLCO_DTO and 0 = Funciones.empty( C_CLIENTE.CLCO_DTO )
 left join ZooLogic.IMPUESTO as C_IMPUESTO121 on C_IMPUESTO121.CODIGO = C_CLIENTE.CLPERTIVA and 0 = Funciones.empty( C_CLIENTE.CLPERTIVA )
 left join ZooLogic.IMPUESTO as C_IMPUESTO124 on C_IMPUESTO124.CODIGO = C_CLIENTE.CLPERGAN and 0 = Funciones.empty( C_CLIENTE.CLPERGAN )
 left join ORGANIZACION.LSUCUR as C_LINEASUCURSAL on C_LINEASUCURSAL.LSCOD = C_SUCURSAL.LINEA and 0 = Funciones.empty( C_SUCURSAL.LINEA )
 left join ZooLogic.LPRECIO as C_LISTADEPRECIOS105 on C_LISTADEPRECIOS105.LPR_NUMERO = C_CLIENTE.CLLISPREC and 0 = Funciones.empty( C_CLIENTE.CLLISPREC )
 left join ZooLogic.LPRECIO as C_LISTADEPRECIOS160 on C_LISTADEPRECIOS160.LPR_NUMERO = C_REMITO.CODLISTA and 0 = Funciones.empty( C_REMITO.CODLISTA )
 left join ZooLogic.MONEDA as C_MONEDA on C_MONEDA.CODIGO = C_REMITO.MONEDA and 0 = Funciones.empty( C_REMITO.MONEDA )
 left join ZooLogic.MOTIVO as C_MOTIVO on C_MOTIVO.MOTCOD = C_REMITO.MOTIVO and 0 = Funciones.empty( C_REMITO.MOTIVO )
 left join ZooLogic.PAISES as C_PAISES on C_PAISES.PCOD = C_CLIENTE.CLPAIS and 0 = Funciones.empty( C_CLIENTE.CLPAIS )
 left join ZooLogic.PROVINCI as C_PROVINCIA on C_PROVINCIA.PRV_COD = C_CLIENTE.CLPRV and 0 = Funciones.empty( C_CLIENTE.CLPRV )
 left join ORGANIZACION.SECOD as C_SEGMENTACION on C_SEGMENTACION.SCOD = C_SUCURSAL.SEG and 0 = Funciones.empty( C_SUCURSAL.SEG )
 left join ORGANIZACION.SITFISCAL as C_SITUACIONFISCAL on C_SITUACIONFISCAL.CODIGO = C_CLIENTE.CLIVA and 0 = Funciones.empty( C_CLIENTE.CLIVA )
 left join ZooLogic.TIPOCLI as C_TIPOCLIENTE on C_TIPOCLIENTE.TCCOD = C_CLIENTE.CLTIPOCLI and 0 = Funciones.empty( C_CLIENTE.CLTIPOCLI )
 left join ZooLogic.TRA as C_TRANSPORTISTA110 on C_TRANSPORTISTA110.TRCOD = C_CLIENTE.CLTRANS and 0 = Funciones.empty( C_CLIENTE.CLTRANS )
 left join ZooLogic.VEN as C_VENDEDOR82 on C_VENDEDOR82.CLCOD = C_CLIENTE.CLVEND and 0 = Funciones.empty( C_CLIENTE.CLVEND )
 left join ZooLogic.NOMFANT as C_NOMBREDEFANTASIA on C_NOMBREDEFANTASIA.NFCOD = C_CLIENTE.CLCODFANT and 0 = Funciones.empty( C_CLIENTE.CLCODFANT )
 left join ZooLogic.CATCLI as C_CATEGORIACLIENTE on C_CATEGORIACLIENTE.CGCOD = C_CLIENTE.CLCATEGCLI and 0 = Funciones.empty( C_CLIENTE.CLCATEGCLI )
 left join ZooLogic.CLASIF as C_CLASIFICACIONCLIENTE on C_CLASIFICACIONCLIENTE.CLACOD = C_CLIENTE.CLCLAS and 0 = Funciones.empty( C_CLIENTE.CLCLAS )
 where ( not 1 = funciones.empty( c_itemarticulosventas.codigo ) and ( not 1 = funciones.empty( c_remito.codigo ) and c_remito.facttipo = 11 ) ) and 
	( ( select coalesce(c3.ENTREGAPOS, 0) from zooLogic.comprobantev as c1
		left join zoologic.compafe as c2 on c1.codigo = AFECTA and c2.AFETIPOCOM in ( 1, 2, 27, 33, 54 )
		left join zoologic.COMPROBANTEV as c3 on c2.CODIGO = c3.CODIGO
		where c1.codigo = C_REMITO.CODIGO ) !=1 ) and
	( ( @ITEMARTICULOSVENTAS_ARTICULO_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FART >= @ITEMARTICULOSVENTAS_ARTICULO_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULO_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FART <= @ITEMARTICULOSVENTAS_ARTICULO_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_PRECIOCONIMPUESTOS_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.prunconimp >= @ITEMARTICULOSVENTAS_PRECIOCONIMPUESTOS_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_PRECIOCONIMPUESTOS_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.prunconimp <= @ITEMARTICULOSVENTAS_PRECIOCONIMPUESTOS_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_PRECIOSINIMPUESTOS_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.Prunsinimp >= @ITEMARTICULOSVENTAS_PRECIOSINIMPUESTOS_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_PRECIOSINIMPUESTOS_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.Prunsinimp <= @ITEMARTICULOSVENTAS_PRECIOSINIMPUESTOS_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_TASAIMPUESTOINTERNO_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.tasaimpint >= @ITEMARTICULOSVENTAS_TASAIMPUESTOINTERNO_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_TASAIMPUESTOINTERNO_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.tasaimpint <= @ITEMARTICULOSVENTAS_TASAIMPUESTOINTERNO_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_CODIGOMOTIVODEVOLUCION_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.MotDevol >= @ITEMARTICULOSVENTAS_CODIGOMOTIVODEVOLUCION_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_CODIGOMOTIVODEVOLUCION_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.MotDevol <= @ITEMARTICULOSVENTAS_CODIGOMOTIVODEVOLUCION_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_CODIGOMOTIVODESCUENTO_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.MotDescu >= @ITEMARTICULOSVENTAS_CODIGOMOTIVODESCUENTO_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_CODIGOMOTIVODESCUENTO_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.MotDescu <= @ITEMARTICULOSVENTAS_CODIGOMOTIVODESCUENTO_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_CODIGOAUTORIZACIONDJCP_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.CodAutDJCP >= @ITEMARTICULOSVENTAS_CODIGOAUTORIZACIONDJCP_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_CODIGOAUTORIZACIONDJCP_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.CodAutDJCP <= @ITEMARTICULOSVENTAS_CODIGOAUTORIZACIONDJCP_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_EQUIVALENCIA_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.Equiv >= @ITEMARTICULOSVENTAS_EQUIVALENCIA_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_EQUIVALENCIA_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.Equiv <= @ITEMARTICULOSVENTAS_EQUIVALENCIA_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FTXT >= @ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FTXT <= @ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLOR_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.cColor >= @ITEMARTICULOSVENTAS_COLOR_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLOR_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.cColor <= @ITEMARTICULOSVENTAS_COLOR_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLORDETALLE_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FCOLTXT >= @ITEMARTICULOSVENTAS_COLORDETALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLORDETALLE_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FCOLTXT <= @ITEMARTICULOSVENTAS_COLORDETALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLE_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.Talle >= @ITEMARTICULOSVENTAS_TALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLE_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.Talle <= @ITEMARTICULOSVENTAS_TALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_PRECIO_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FPRECIO >= @ITEMARTICULOSVENTAS_PRECIO_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_PRECIO_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FPRECIO <= @ITEMARTICULOSVENTAS_PRECIO_HASTA ) ) and 
	( ( @REMITO_1_CODIGO_DESDE is null ) OR ( C_REMITO.CODIGO >= @REMITO_1_CODIGO_DESDE ) ) and 
	( ( @REMITO_1_CODIGO_HASTA is null ) OR ( C_REMITO.CODIGO <= @REMITO_1_CODIGO_HASTA ) ) and 
	( ( @REMITO_1_CLIENTE_DESDE is null ) OR ( C_REMITO.FPerson >= @REMITO_1_CLIENTE_DESDE ) ) and 
	( ( @REMITO_1_CLIENTE_HASTA is null ) OR ( C_REMITO.FPerson <= @REMITO_1_CLIENTE_HASTA ) ) and 
	( ( @REMITO_1_TOTALCANTIDAD_DESDE is null ) OR ( C_REMITO.TotalCant >= @REMITO_1_TOTALCANTIDAD_DESDE ) ) and 
	( ( @REMITO_1_TOTALCANTIDAD_HASTA is null ) OR ( C_REMITO.TotalCant <= @REMITO_1_TOTALCANTIDAD_HASTA ) ) and 
	( ( @REMITO_1_NROOPECOMMERCE_DESDE is null ) OR ( C_REMITO.OPEcomm >= @REMITO_1_NROOPECOMMERCE_DESDE ) ) and 
	( ( @REMITO_1_NROOPECOMMERCE_HASTA is null ) OR ( C_REMITO.OPEcomm <= @REMITO_1_NROOPECOMMERCE_HASTA ) ) and 
	( ( @REMITO_1_VENDEDOR_DESDE is null ) OR ( C_REMITO.FVEN >= @REMITO_1_VENDEDOR_DESDE ) ) and 
	( ( @REMITO_1_VENDEDOR_HASTA is null ) OR ( C_REMITO.FVEN <= @REMITO_1_VENDEDOR_HASTA ) ) and 
	( ( @REMITO_1_MONEDACOMPROBANTE_DESDE is null ) OR ( C_REMITO.Moneda >= @REMITO_1_MONEDACOMPROBANTE_DESDE ) ) and 
	( ( @REMITO_1_MONEDACOMPROBANTE_HASTA is null ) OR ( C_REMITO.Moneda <= @REMITO_1_MONEDACOMPROBANTE_HASTA ) ) and 
	( ( @REMITO_1_LISTADEPRECIOS_DESDE is null ) OR ( C_REMITO.CodLista >= @REMITO_1_LISTADEPRECIOS_DESDE ) ) and 
	( ( @REMITO_1_LISTADEPRECIOS_HASTA is null ) OR ( C_REMITO.CodLista <= @REMITO_1_LISTADEPRECIOS_HASTA ) ) and 
	( ( @REMITO_1_FORPAGO_DESDE is null ) OR ( C_REMITO.FPago >= @REMITO_1_FORPAGO_DESDE ) ) and 
	( ( @REMITO_1_FORPAGO_HASTA is null ) OR ( C_REMITO.FPago <= @REMITO_1_FORPAGO_HASTA ) ) and 
	( ( @REMITO_1_MOTIVO_DESDE is null ) OR ( C_REMITO.MOTIVO >= @REMITO_1_MOTIVO_DESDE ) ) and 
	( ( @REMITO_1_MOTIVO_HASTA is null ) OR ( C_REMITO.MOTIVO <= @REMITO_1_MOTIVO_HASTA ) ) and 
	( ( @REMITO_1_TRANSPORTISTA_DESDE is null ) OR ( C_REMITO.FTransp >= @REMITO_1_TRANSPORTISTA_DESDE ) ) and 
	( ( @REMITO_1_TRANSPORTISTA_HASTA is null ) OR ( C_REMITO.FTransp <= @REMITO_1_TRANSPORTISTA_HASTA ) ) and 
	( ( @REMITO_1_LETRA_DESDE is null ) OR ( C_REMITO.FLETRA >= @REMITO_1_LETRA_DESDE ) ) and 
	( ( @REMITO_1_LETRA_HASTA is null ) OR ( C_REMITO.FLETRA <= @REMITO_1_LETRA_HASTA ) ) and 
	( ( @REMITO_1_PUNTODEVENTA_DESDE is null ) OR ( C_REMITO.FPTOVEN >= @REMITO_1_PUNTODEVENTA_DESDE ) ) and 
	( ( @REMITO_1_PUNTODEVENTA_HASTA is null ) OR ( C_REMITO.FPTOVEN <= @REMITO_1_PUNTODEVENTA_HASTA ) ) and 
	( ( @REMITO_1_NUMERO_DESDE is null ) OR ( C_REMITO.FNUMCOMP >= @REMITO_1_NUMERO_DESDE ) ) and 
	( ( @REMITO_1_NUMERO_HASTA is null ) OR ( C_REMITO.FNUMCOMP <= @REMITO_1_NUMERO_HASTA ) ) and 
	( ( @REMITO_1_FECHA_DESDE is null ) OR ( C_REMITO.FFCH >= @REMITO_1_FECHA_DESDE ) ) and 
	( ( @REMITO_1_FECHA_HASTA is null ) OR ( C_REMITO.FFCH <= @REMITO_1_FECHA_HASTA ) ) and 
	( ( @REMITO_1_COTIZACION_DESDE is null ) OR ( C_REMITO.Cotiz >= @REMITO_1_COTIZACION_DESDE ) ) and 
	( ( @REMITO_1_COTIZACION_HASTA is null ) OR ( C_REMITO.Cotiz <= @REMITO_1_COTIZACION_HASTA ) ) and 
	( ( @REMITO_1_MERCADERIACONSIGNACION is null ) OR ( C_REMITO.MerConsign = @REMITO_1_MERCADERIACONSIGNACION ) ) and 
	( ( @REMITO_1_AJUSTESPORREDONDEOS_DESDE is null ) OR ( C_REMITO.FAjXRe >= @REMITO_1_AJUSTESPORREDONDEOS_DESDE ) ) and 
	( ( @REMITO_1_AJUSTESPORREDONDEOS_HASTA is null ) OR ( C_REMITO.FAjXRe <= @REMITO_1_AJUSTESPORREDONDEOS_HASTA ) ) and 
	( ( @REMITO_1_PORCENTAJEDESCUENTO_DESDE is null ) OR ( C_REMITO.FPODES >= @REMITO_1_PORCENTAJEDESCUENTO_DESDE ) ) and 
	( ( @REMITO_1_PORCENTAJEDESCUENTO_HASTA is null ) OR ( C_REMITO.FPODES <= @REMITO_1_PORCENTAJEDESCUENTO_HASTA ) ) and 
	( ( @REMITO_1_DESCUENTO_DESDE is null ) OR ( C_REMITO.fDescu >= @REMITO_1_DESCUENTO_DESDE ) ) and 
	( ( @REMITO_1_DESCUENTO_HASTA is null ) OR ( C_REMITO.fDescu <= @REMITO_1_DESCUENTO_HASTA ) ) and 
	( ( @REMITO_1_MONTODESCUENTO3_DESDE is null ) OR ( C_REMITO.MD3 >= @REMITO_1_MONTODESCUENTO3_DESDE ) ) and 
	( ( @REMITO_1_MONTODESCUENTO3_HASTA is null ) OR ( C_REMITO.MD3 <= @REMITO_1_MONTODESCUENTO3_HASTA ) ) and 
	( ( @REMITO_1_RECARGOPORCENTAJE_DESDE is null ) OR ( C_REMITO.RecPor >= @REMITO_1_RECARGOPORCENTAJE_DESDE ) ) and 
	( ( @REMITO_1_RECARGOPORCENTAJE_HASTA is null ) OR ( C_REMITO.RecPor <= @REMITO_1_RECARGOPORCENTAJE_HASTA ) ) and 
	( ( @REMITO_1_RECARGOMONTO_DESDE is null ) OR ( C_REMITO.MR >= @REMITO_1_RECARGOMONTO_DESDE ) ) and 
	( ( @REMITO_1_RECARGOMONTO_HASTA is null ) OR ( C_REMITO.MR <= @REMITO_1_RECARGOMONTO_HASTA ) ) and 
	( ( @REMITO_1_RECARGOMONTO1_DESDE is null ) OR ( C_REMITO.MR1 >= @REMITO_1_RECARGOMONTO1_DESDE ) ) and 
	( ( @REMITO_1_RECARGOMONTO1_HASTA is null ) OR ( C_REMITO.MR1 <= @REMITO_1_RECARGOMONTO1_HASTA ) ) and 
	( ( @REMITO_1_RECARGOMONTO2_DESDE is null ) OR ( C_REMITO.MR2 >= @REMITO_1_RECARGOMONTO2_DESDE ) ) and 
	( ( @REMITO_1_RECARGOMONTO2_HASTA is null ) OR ( C_REMITO.MR2 <= @REMITO_1_RECARGOMONTO2_HASTA ) ) and 
	( ( @REMITO_1_IMPUESTOS_DESDE is null ) OR ( C_REMITO.fImpuesto >= @REMITO_1_IMPUESTOS_DESDE ) ) and 
	( ( @REMITO_1_IMPUESTOS_HASTA is null ) OR ( C_REMITO.fImpuesto <= @REMITO_1_IMPUESTOS_HASTA ) ) and 
	( ( @REMITO_1_TOTALIMPUESTOS_DESDE is null ) OR ( C_REMITO.totimpue >= @REMITO_1_TOTALIMPUESTOS_DESDE ) ) and 
	( ( @REMITO_1_TOTALIMPUESTOS_HASTA is null ) OR ( C_REMITO.totimpue <= @REMITO_1_TOTALIMPUESTOS_HASTA ) ) and 
	( ( @REMITO_1_TOTAL_DESDE is null ) OR ( C_REMITO.FTotal >= @REMITO_1_TOTAL_DESDE ) ) and 
	( ( @REMITO_1_TOTAL_HASTA is null ) OR ( C_REMITO.FTotal <= @REMITO_1_TOTAL_HASTA ) ) and 
	( ( @CLIENTE_81_CLIENTE_NOMBRE_DESDE is null ) OR ( C_CLIENTE.CLNOM >= @CLIENTE_81_CLIENTE_NOMBRE_DESDE ) ) and 
	( ( @CLIENTE_81_CLIENTE_NOMBRE_HASTA is null ) OR ( C_CLIENTE.CLNOM <= @CLIENTE_81_CLIENTE_NOMBRE_HASTA ) ) and 
	( ( @VENDEDOR_158_VENDEDOR_NOMBRE_DESDE is null ) OR ( C_VENDEDOR158.CLNOM >= @VENDEDOR_158_VENDEDOR_NOMBRE_DESDE ) ) and 
	( ( @VENDEDOR_158_VENDEDOR_NOMBRE_HASTA is null ) OR ( C_VENDEDOR158.CLNOM <= @VENDEDOR_158_VENDEDOR_NOMBRE_HASTA ) ) and 
	( ( @MONEDA_159_MONEDACOMPROBANTE_DESCRIPCION_DESDE is null ) OR ( C_MONEDA.Descrip >= @MONEDA_159_MONEDACOMPROBANTE_DESCRIPCION_DESDE ) ) and 
	( ( @MONEDA_159_MONEDACOMPROBANTE_DESCRIPCION_HASTA is null ) OR ( C_MONEDA.Descrip <= @MONEDA_159_MONEDACOMPROBANTE_DESCRIPCION_HASTA ) ) and 
	( ( @LISTADEPRECIOS_160_LISTADEPRECIOS_NOMBRE_DESDE is null ) OR ( C_LISTADEPRECIOS160.LPR_NOMBRE >= @LISTADEPRECIOS_160_LISTADEPRECIOS_NOMBRE_DESDE ) ) and 
	( ( @LISTADEPRECIOS_160_LISTADEPRECIOS_NOMBRE_HASTA is null ) OR ( C_LISTADEPRECIOS160.LPR_NOMBRE <= @LISTADEPRECIOS_160_LISTADEPRECIOS_NOMBRE_HASTA ) ) and 
	( ( @CONDICIONDEPAGO_161_FORPAGO_DESCRIPCION_DESDE is null ) OR ( C_CONDICIONDEPAGO161.CLNOM >= @CONDICIONDEPAGO_161_FORPAGO_DESCRIPCION_DESDE ) ) and 
	( ( @CONDICIONDEPAGO_161_FORPAGO_DESCRIPCION_HASTA is null ) OR ( C_CONDICIONDEPAGO161.CLNOM <= @CONDICIONDEPAGO_161_FORPAGO_DESCRIPCION_HASTA ) ) and 
	( ( @MOTIVO_162_MOTIVO_DESCRIPCION_DESDE is null ) OR ( C_MOTIVO.MOTDES >= @MOTIVO_162_MOTIVO_DESCRIPCION_DESDE ) ) and 
	( ( @MOTIVO_162_MOTIVO_DESCRIPCION_HASTA is null ) OR ( C_MOTIVO.MOTDES <= @MOTIVO_162_MOTIVO_DESCRIPCION_HASTA ) ) and 
	( ( @TRANSPORTISTA_163_TRANSPORTISTA_NOMBRE_DESDE is null ) OR ( C_TRANSPORTISTA163.TRNOM >= @TRANSPORTISTA_163_TRANSPORTISTA_NOMBRE_DESDE ) ) and 
	( ( @TRANSPORTISTA_163_TRANSPORTISTA_NOMBRE_HASTA is null ) OR ( C_TRANSPORTISTA163.TRNOM <= @TRANSPORTISTA_163_TRANSPORTISTA_NOMBRE_HASTA ) ) and 
	( ( @SEGMENTACION_4209_SEGMENTACION_DESCRIPCION_DESDE is null ) OR ( C_SEGMENTACION.SDES >= @SEGMENTACION_4209_SEGMENTACION_DESCRIPCION_DESDE ) ) and 
	( ( @SEGMENTACION_4209_SEGMENTACION_DESCRIPCION_HASTA is null ) OR ( C_SEGMENTACION.SDES <= @SEGMENTACION_4209_SEGMENTACION_DESCRIPCION_HASTA ) ) and 
	( ( @LINEASUCURSAL_4208_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEASUCURSAL.LSDES >= @LINEASUCURSAL_4208_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEASUCURSAL_4208_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEASUCURSAL.LSDES <= @LINEASUCURSAL_4208_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @TIPOSUCURSAL_4207_TIPO_DESCRIPCION_DESDE is null ) OR ( C_TIPOSUCURSAL.TDES >= @TIPOSUCURSAL_4207_TIPO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPOSUCURSAL_4207_TIPO_DESCRIPCION_HASTA is null ) OR ( C_TIPOSUCURSAL.TDES <= @TIPOSUCURSAL_4207_TIPO_DESCRIPCION_HASTA ) ) and 
	( ( @PROVEEDOR_3_PROVEEDOR_NOMBRE_DESDE is null ) OR ( C_PROVEEDOR.CLNOM >= @PROVEEDOR_3_PROVEEDOR_NOMBRE_DESDE ) ) and 
	( ( @PROVEEDOR_3_PROVEEDOR_NOMBRE_HASTA is null ) OR ( C_PROVEEDOR.CLNOM <= @PROVEEDOR_3_PROVEEDOR_NOMBRE_HASTA ) ) and 
	( ( @TEMPORADA_9_TEMPORADA_DESCRIPCION_DESDE is null ) OR ( C_TEMPORADA.TDES >= @TEMPORADA_9_TEMPORADA_DESCRIPCION_DESDE ) ) and 
	( ( @TEMPORADA_9_TEMPORADA_DESCRIPCION_HASTA is null ) OR ( C_TEMPORADA.TDES <= @TEMPORADA_9_TEMPORADA_DESCRIPCION_HASTA ) ) and 
	( ( @UNIDADDEMEDIDA_10_UNIDADDEMEDIDA_DESCRIPCION_DESDE is null ) OR ( C_UNIDADDEMEDIDA.Descrip >= @UNIDADDEMEDIDA_10_UNIDADDEMEDIDA_DESCRIPCION_DESDE ) ) and 
	( ( @UNIDADDEMEDIDA_10_UNIDADDEMEDIDA_DESCRIPCION_HASTA is null ) OR ( C_UNIDADDEMEDIDA.Descrip <= @UNIDADDEMEDIDA_10_UNIDADDEMEDIDA_DESCRIPCION_HASTA ) ) and 
	( ( @FAMILIA_11_FAMILIA_DESCRIPCION_DESDE is null ) OR ( C_FAMILIA.Descrip >= @FAMILIA_11_FAMILIA_DESCRIPCION_DESDE ) ) and 
	( ( @FAMILIA_11_FAMILIA_DESCRIPCION_HASTA is null ) OR ( C_FAMILIA.Descrip <= @FAMILIA_11_FAMILIA_DESCRIPCION_HASTA ) ) and 
	( ( @MATERIAL_12_MATERIAL_DESCRIPCION_DESDE is null ) OR ( C_MATERIAL.MATDES >= @MATERIAL_12_MATERIAL_DESCRIPCION_DESDE ) ) and 
	( ( @MATERIAL_12_MATERIAL_DESCRIPCION_HASTA is null ) OR ( C_MATERIAL.MATDES <= @MATERIAL_12_MATERIAL_DESCRIPCION_HASTA ) ) and 
	( ( @LINEA_13_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEA.Descrip >= @LINEA_13_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEA_13_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEA.Descrip <= @LINEA_13_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @GRUPO_14_GRUPO_DESCRIPCION_DESDE is null ) OR ( C_GRUPO.Descrip >= @GRUPO_14_GRUPO_DESCRIPCION_DESDE ) ) and 
	( ( @GRUPO_14_GRUPO_DESCRIPCION_HASTA is null ) OR ( C_GRUPO.Descrip <= @GRUPO_14_GRUPO_DESCRIPCION_HASTA ) ) and 
	( ( @CATEGORIADEARTICULO_15_CATEGORIADEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_CATEGORIADEARTICULO.Descrip >= @CATEGORIADEARTICULO_15_CATEGORIADEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @CATEGORIADEARTICULO_15_CATEGORIADEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_CATEGORIADEARTICULO.Descrip <= @CATEGORIADEARTICULO_15_CATEGORIADEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @CLASIFICACIONARTICULO_16_CLASIFICACION_DESCRIPCION_DESDE is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP >= @CLASIFICACIONARTICULO_16_CLASIFICACION_DESCRIPCION_DESDE ) ) and 
	( ( @CLASIFICACIONARTICULO_16_CLASIFICACION_DESCRIPCION_HASTA is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP <= @CLASIFICACIONARTICULO_16_CLASIFICACION_DESCRIPCION_HASTA ) ) and 
	( ( @TIPODEARTICULO_18_TIPODEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_TIPODEARTICULO.Descrip >= @TIPODEARTICULO_18_TIPODEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPODEARTICULO_18_TIPODEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_TIPODEARTICULO.Descrip <= @TIPODEARTICULO_18_TIPODEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @PALETADECOLORES_22_PALETADECOLORES_DESCRIPCION_DESDE is null ) OR ( C_PALETADECOLORES.Descrip >= @PALETADECOLORES_22_PALETADECOLORES_DESCRIPCION_DESDE ) ) and 
	( ( @PALETADECOLORES_22_PALETADECOLORES_DESCRIPCION_HASTA is null ) OR ( C_PALETADECOLORES.Descrip <= @PALETADECOLORES_22_PALETADECOLORES_DESCRIPCION_HASTA ) ) and 
	( ( @CURVADETALLES_23_CURVADETALLES_DESCRIPCION_DESDE is null ) OR ( C_CURVADETALLES.Descrip >= @CURVADETALLES_23_CURVADETALLES_DESCRIPCION_DESDE ) ) and 
	( ( @CURVADETALLES_23_CURVADETALLES_DESCRIPCION_HASTA is null ) OR ( C_CURVADETALLES.Descrip <= @CURVADETALLES_23_CURVADETALLES_DESCRIPCION_HASTA ) ) and 
	( ( @NOMENCLADORARBA_25_NOMENCLADOR_DESCRIPCION_DESDE is null ) OR ( C_NOMENCLADORARBA.NMCDES >= @NOMENCLADORARBA_25_NOMENCLADOR_DESCRIPCION_DESDE ) ) and 
	( ( @NOMENCLADORARBA_25_NOMENCLADOR_DESCRIPCION_HASTA is null ) OR ( C_NOMENCLADORARBA.NMCDES <= @NOMENCLADORARBA_25_NOMENCLADOR_DESCRIPCION_HASTA ) ) and 
	( ( @MARCA_42_MARCA_DESCRIPCION_DESDE is null ) OR ( C_MARCA.Descrip >= @MARCA_42_MARCA_DESCRIPCION_DESDE ) ) and 
	( ( @MARCA_42_MARCA_DESCRIPCION_HASTA is null ) OR ( C_MARCA.Descrip <= @MARCA_42_MARCA_DESCRIPCION_HASTA ) ) and 
	( ( @VENDEDOR_82_VENDEDOR_NOMBRE_DESDE is null ) OR ( C_VENDEDOR82.CLNOM >= @VENDEDOR_82_VENDEDOR_NOMBRE_DESDE ) ) and 
	( ( @VENDEDOR_82_VENDEDOR_NOMBRE_HASTA is null ) OR ( C_VENDEDOR82.CLNOM <= @VENDEDOR_82_VENDEDOR_NOMBRE_HASTA ) ) and 
	( ( @PAISES_97_PAIS_DESCRIPCION_DESDE is null ) OR ( C_PAISES.pdes >= @PAISES_97_PAIS_DESCRIPCION_DESDE ) ) and 
	( ( @PAISES_97_PAIS_DESCRIPCION_HASTA is null ) OR ( C_PAISES.pdes <= @PAISES_97_PAIS_DESCRIPCION_HASTA ) ) and 
	( ( @PROVINCIA_99_PROVINCIA_DESCRIPCION_DESDE is null ) OR ( C_PROVINCIA.PRV_DES >= @PROVINCIA_99_PROVINCIA_DESCRIPCION_DESDE ) ) and 
	( ( @PROVINCIA_99_PROVINCIA_DESCRIPCION_HASTA is null ) OR ( C_PROVINCIA.PRV_DES <= @PROVINCIA_99_PROVINCIA_DESCRIPCION_HASTA ) ) and 
	( ( @LISTADEPRECIOS_105_LISTADEPRECIO_NOMBRE_DESDE is null ) OR ( C_LISTADEPRECIOS105.LPR_NOMBRE >= @LISTADEPRECIOS_105_LISTADEPRECIO_NOMBRE_DESDE ) ) and 
	( ( @LISTADEPRECIOS_105_LISTADEPRECIO_NOMBRE_HASTA is null ) OR ( C_LISTADEPRECIOS105.LPR_NOMBRE <= @LISTADEPRECIOS_105_LISTADEPRECIO_NOMBRE_HASTA ) ) and 
	( ( @CLASIFICACIONCLIENTE_106_CLASIFICACION_DESCRIPCION_DESDE is null ) OR ( C_CLASIFICACIONCLIENTE.CLADES >= @CLASIFICACIONCLIENTE_106_CLASIFICACION_DESCRIPCION_DESDE ) ) and 
	( ( @CLASIFICACIONCLIENTE_106_CLASIFICACION_DESCRIPCION_HASTA is null ) OR ( C_CLASIFICACIONCLIENTE.CLADES <= @CLASIFICACIONCLIENTE_106_CLASIFICACION_DESCRIPCION_HASTA ) ) and 
	( ( @DESCUENTO_109_DESCUENTOPREFERENTE_DESCRIPCION_DESDE is null ) OR ( C_DESCUENTO.Des >= @DESCUENTO_109_DESCUENTOPREFERENTE_DESCRIPCION_DESDE ) ) and 
	( ( @DESCUENTO_109_DESCUENTOPREFERENTE_DESCRIPCION_HASTA is null ) OR ( C_DESCUENTO.Des <= @DESCUENTO_109_DESCUENTOPREFERENTE_DESCRIPCION_HASTA ) ) and 
	( ( @TRANSPORTISTA_110_TRANSPORTISTA_NOMBRE_DESDE is null ) OR ( C_TRANSPORTISTA110.TRNOM >= @TRANSPORTISTA_110_TRANSPORTISTA_NOMBRE_DESDE ) ) and 
	( ( @TRANSPORTISTA_110_TRANSPORTISTA_NOMBRE_HASTA is null ) OR ( C_TRANSPORTISTA110.TRNOM <= @TRANSPORTISTA_110_TRANSPORTISTA_NOMBRE_HASTA ) ) and 
	( ( @NOMBREDEFANTASIA_116_CODNOMBREFANTASIA_CODIGO_DESDE is null ) OR ( C_NOMBREDEFANTASIA.NFCOD >= @NOMBREDEFANTASIA_116_CODNOMBREFANTASIA_CODIGO_DESDE ) ) and 
	( ( @NOMBREDEFANTASIA_116_CODNOMBREFANTASIA_CODIGO_HASTA is null ) OR ( C_NOMBREDEFANTASIA.NFCOD <= @NOMBREDEFANTASIA_116_CODNOMBREFANTASIA_CODIGO_HASTA ) ) and 
	( ( @TIPOCLIENTE_117_TIPOCLI_DESCRIPCION_DESDE is null ) OR ( C_TIPOCLIENTE.TCDES >= @TIPOCLIENTE_117_TIPOCLI_DESCRIPCION_DESDE ) ) and 
	( ( @TIPOCLIENTE_117_TIPOCLI_DESCRIPCION_HASTA is null ) OR ( C_TIPOCLIENTE.TCDES <= @TIPOCLIENTE_117_TIPOCLI_DESCRIPCION_HASTA ) ) and 
	( ( @CATEGORIACLIENTE_118_CATEGCLI_DESCRIPCION_DESDE is null ) OR ( C_CATEGORIACLIENTE.CGDes >= @CATEGORIACLIENTE_118_CATEGCLI_DESCRIPCION_DESDE ) ) and 
	( ( @CATEGORIACLIENTE_118_CATEGCLI_DESCRIPCION_HASTA is null ) OR ( C_CATEGORIACLIENTE.CGDes <= @CATEGORIACLIENTE_118_CATEGCLI_DESCRIPCION_HASTA ) ) and 
	( ( @CONDICIONDEPAGO_119_CONDICIONDEPAGO_DESCRIPCION_DESDE is null ) OR ( C_CONDICIONDEPAGO119.CLNOM >= @CONDICIONDEPAGO_119_CONDICIONDEPAGO_DESCRIPCION_DESDE ) ) and 
	( ( @CONDICIONDEPAGO_119_CONDICIONDEPAGO_DESCRIPCION_HASTA is null ) OR ( C_CONDICIONDEPAGO119.CLNOM <= @CONDICIONDEPAGO_119_CONDICIONDEPAGO_DESCRIPCION_HASTA ) ) and 
	( ( @IMPUESTO_121_PERCEPCIONIVA_DESCRIPCION_DESDE is null ) OR ( C_IMPUESTO121.descrip >= @IMPUESTO_121_PERCEPCIONIVA_DESCRIPCION_DESDE ) ) and 
	( ( @IMPUESTO_121_PERCEPCIONIVA_DESCRIPCION_HASTA is null ) OR ( C_IMPUESTO121.descrip <= @IMPUESTO_121_PERCEPCIONIVA_DESCRIPCION_HASTA ) ) and 
	( ( @IMPUESTO_124_PERCEPCIONGANANCIAS_DESCRIPCION_DESDE is null ) OR ( C_IMPUESTO124.descrip >= @IMPUESTO_124_PERCEPCIONGANANCIAS_DESCRIPCION_DESDE ) ) and 
	( ( @IMPUESTO_124_PERCEPCIONGANANCIAS_DESCRIPCION_HASTA is null ) OR ( C_IMPUESTO124.descrip <= @IMPUESTO_124_PERCEPCIONGANANCIAS_DESCRIPCION_HASTA ) ) and 
	( ( @DATOSADICIONALESSIPRIB_133_CODIGOSIPRIB_DESCRIPCION_DESDE is null ) OR ( C_DATOSADICIONALESSIPRIB.Descrip >= @DATOSADICIONALESSIPRIB_133_CODIGOSIPRIB_DESCRIPCION_DESDE ) ) and 
	( ( @DATOSADICIONALESSIPRIB_133_CODIGOSIPRIB_DESCRIPCION_HASTA is null ) OR ( C_DATOSADICIONALESSIPRIB.Descrip <= @DATOSADICIONALESSIPRIB_133_CODIGOSIPRIB_DESCRIPCION_HASTA ) ) and 
	( ( @SUCURSAL_4204_SEGMENTACION_DESDE is null ) OR ( C_SUCURSAL.seg >= @SUCURSAL_4204_SEGMENTACION_DESDE ) ) and 
	( ( @SUCURSAL_4204_SEGMENTACION_HASTA is null ) OR ( C_SUCURSAL.seg <= @SUCURSAL_4204_SEGMENTACION_HASTA ) ) and 
	( ( @SUCURSAL_4204_LINEA_DESDE is null ) OR ( C_SUCURSAL.Linea >= @SUCURSAL_4204_LINEA_DESDE ) ) and 
	( ( @SUCURSAL_4204_LINEA_HASTA is null ) OR ( C_SUCURSAL.Linea <= @SUCURSAL_4204_LINEA_HASTA ) ) and 
	( ( @SUCURSAL_4204_TIPO_DESDE is null ) OR ( C_SUCURSAL.Tipo >= @SUCURSAL_4204_TIPO_DESDE ) ) and 
	( ( @SUCURSAL_4204_TIPO_HASTA is null ) OR ( C_SUCURSAL.Tipo <= @SUCURSAL_4204_TIPO_HASTA ) ) and 
	( ( @SUCURSAL_4204_DESCRIPCION_DESDE is null ) OR ( C_SUCURSAL.descrip >= @SUCURSAL_4204_DESCRIPCION_DESDE ) ) and 
	( ( @SUCURSAL_4204_DESCRIPCION_HASTA is null ) OR ( C_SUCURSAL.descrip <= @SUCURSAL_4204_DESCRIPCION_HASTA ) ) and 
	( ( @ARTICULO_2_PROVEEDOR_DESDE is null ) OR ( C_ARTICULO.ARTFAB >= @ARTICULO_2_PROVEEDOR_DESDE ) ) and 
	( ( @ARTICULO_2_PROVEEDOR_HASTA is null ) OR ( C_ARTICULO.ARTFAB <= @ARTICULO_2_PROVEEDOR_HASTA ) ) and 
	( ( @ARTICULO_2_CONDICIONIVAVENTAS is null ) OR ( C_ARTICULO.ARTCONIVA = @ARTICULO_2_CONDICIONIVAVENTAS ) ) and 
	( ( @ARTICULO_2_PORCENTAJEIVAVENTAS_DESDE is null ) OR ( C_ARTICULO.ARTPORIVA >= @ARTICULO_2_PORCENTAJEIVAVENTAS_DESDE ) ) and 
	( ( @ARTICULO_2_PORCENTAJEIVAVENTAS_HASTA is null ) OR ( C_ARTICULO.ARTPORIVA <= @ARTICULO_2_PORCENTAJEIVAVENTAS_HASTA ) ) and 
	( ( @ARTICULO_2_IMAGEN_DESDE is null ) OR ( C_ARTICULO.ARIMAGEN >= @ARTICULO_2_IMAGEN_DESDE ) ) and 
	( ( @ARTICULO_2_IMAGEN_HASTA is null ) OR ( C_ARTICULO.ARIMAGEN <= @ARTICULO_2_IMAGEN_HASTA ) ) and 
	( ( @ARTICULO_2_TEMPORADA_DESDE is null ) OR ( C_ARTICULO.ATEMPORADA >= @ARTICULO_2_TEMPORADA_DESDE ) ) and 
	( ( @ARTICULO_2_TEMPORADA_HASTA is null ) OR ( C_ARTICULO.ATEMPORADA <= @ARTICULO_2_TEMPORADA_HASTA ) ) and 
	( ( @ARTICULO_2_UNIDADDEMEDIDA_DESDE is null ) OR ( C_ARTICULO.UniMed >= @ARTICULO_2_UNIDADDEMEDIDA_DESDE ) ) and 
	( ( @ARTICULO_2_UNIDADDEMEDIDA_HASTA is null ) OR ( C_ARTICULO.UniMed <= @ARTICULO_2_UNIDADDEMEDIDA_HASTA ) ) and 
	( ( @ARTICULO_2_FAMILIA_DESDE is null ) OR ( C_ARTICULO.Familia >= @ARTICULO_2_FAMILIA_DESDE ) ) and 
	( ( @ARTICULO_2_FAMILIA_HASTA is null ) OR ( C_ARTICULO.Familia <= @ARTICULO_2_FAMILIA_HASTA ) ) and 
	( ( @ARTICULO_2_MATERIAL_DESDE is null ) OR ( C_ARTICULO.Mat >= @ARTICULO_2_MATERIAL_DESDE ) ) and 
	( ( @ARTICULO_2_MATERIAL_HASTA is null ) OR ( C_ARTICULO.Mat <= @ARTICULO_2_MATERIAL_HASTA ) ) and 
	( ( @ARTICULO_2_LINEA_DESDE is null ) OR ( C_ARTICULO.Linea >= @ARTICULO_2_LINEA_DESDE ) ) and 
	( ( @ARTICULO_2_LINEA_HASTA is null ) OR ( C_ARTICULO.Linea <= @ARTICULO_2_LINEA_HASTA ) ) and 
	( ( @ARTICULO_2_GRUPO_DESDE is null ) OR ( C_ARTICULO.Grupo >= @ARTICULO_2_GRUPO_DESDE ) ) and 
	( ( @ARTICULO_2_GRUPO_HASTA is null ) OR ( C_ARTICULO.Grupo <= @ARTICULO_2_GRUPO_HASTA ) ) and 
	( ( @ARTICULO_2_CATEGORIADEARTICULO_DESDE is null ) OR ( C_ARTICULO.CateArti >= @ARTICULO_2_CATEGORIADEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_2_CATEGORIADEARTICULO_HASTA is null ) OR ( C_ARTICULO.CateArti <= @ARTICULO_2_CATEGORIADEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_2_CLASIFICACION_DESDE is null ) OR ( C_ARTICULO.ClasifArt >= @ARTICULO_2_CLASIFICACION_DESDE ) ) and 
	( ( @ARTICULO_2_CLASIFICACION_HASTA is null ) OR ( C_ARTICULO.ClasifArt <= @ARTICULO_2_CLASIFICACION_HASTA ) ) and 
	( ( @ARTICULO_2_ANO_DESDE is null ) OR ( C_ARTICULO.Ano >= @ARTICULO_2_ANO_DESDE ) ) and 
	( ( @ARTICULO_2_ANO_HASTA is null ) OR ( C_ARTICULO.Ano <= @ARTICULO_2_ANO_HASTA ) ) and 
	( ( @ARTICULO_2_TIPODEARTICULO_DESDE is null ) OR ( C_ARTICULO.TipoArti >= @ARTICULO_2_TIPODEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_2_TIPODEARTICULO_HASTA is null ) OR ( C_ARTICULO.TipoArti <= @ARTICULO_2_TIPODEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_2_CONDICIONIVACOMPRAS is null ) OR ( C_ARTICULO.ARTIVA = @ARTICULO_2_CONDICIONIVACOMPRAS ) ) and 
	( ( @ARTICULO_2_PORCENTAJEIVACOMPRAS_DESDE is null ) OR ( C_ARTICULO.ANX2 >= @ARTICULO_2_PORCENTAJEIVACOMPRAS_DESDE ) ) and 
	( ( @ARTICULO_2_PORCENTAJEIVACOMPRAS_HASTA is null ) OR ( C_ARTICULO.ANX2 <= @ARTICULO_2_PORCENTAJEIVACOMPRAS_HASTA ) ) and 
	( ( @ARTICULO_2_COMPORTAMIENTO is null ) OR ( C_ARTICULO.ASTOCK = @ARTICULO_2_COMPORTAMIENTO ) ) and 
	( ( @ARTICULO_2_PALETADECOLORES_DESDE is null ) OR ( C_ARTICULO.PalCol >= @ARTICULO_2_PALETADECOLORES_DESDE ) ) and 
	( ( @ARTICULO_2_PALETADECOLORES_HASTA is null ) OR ( C_ARTICULO.PalCol <= @ARTICULO_2_PALETADECOLORES_HASTA ) ) and 
	( ( @ARTICULO_2_CURVADETALLES_DESDE is null ) OR ( C_ARTICULO.Curtall >= @ARTICULO_2_CURVADETALLES_DESDE ) ) and 
	( ( @ARTICULO_2_CURVADETALLES_HASTA is null ) OR ( C_ARTICULO.Curtall <= @ARTICULO_2_CURVADETALLES_HASTA ) ) and 
	( ( @ARTICULO_2_NOCOMERCIALIZABLE_DESDE is null ) OR ( C_ARTICULO.NOCOM >= @ARTICULO_2_NOCOMERCIALIZABLE_DESDE ) ) and 
	( ( @ARTICULO_2_NOCOMERCIALIZABLE_HASTA is null ) OR ( C_ARTICULO.NOCOM <= @ARTICULO_2_NOCOMERCIALIZABLE_HASTA ) ) and 
	( ( @ARTICULO_2_NOMENCLADOR_DESDE is null ) OR ( C_ARTICULO.ARTNARBA >= @ARTICULO_2_NOMENCLADOR_DESDE ) ) and 
	( ( @ARTICULO_2_NOMENCLADOR_HASTA is null ) OR ( C_ARTICULO.ARTNARBA <= @ARTICULO_2_NOMENCLADOR_HASTA ) ) and 
	( ( @ARTICULO_2_NOPERMITEDEVOLUCIONES is null ) OR ( C_ARTICULO.ARTNODEVO = @ARTICULO_2_NOPERMITEDEVOLUCIONES ) ) and 
	( ( @ARTICULO_2_IMPRIMEDESPACHO is null ) OR ( C_ARTICULO.EsImpDes = @ARTICULO_2_IMPRIMEDESPACHO ) ) and 
	( ( @ARTICULO_2_PORCENTAJEIMPUESTOINTERNO_DESDE is null ) OR ( C_ARTICULO.impinterno >= @ARTICULO_2_PORCENTAJEIMPUESTOINTERNO_DESDE ) ) and 
	( ( @ARTICULO_2_PORCENTAJEIMPUESTOINTERNO_HASTA is null ) OR ( C_ARTICULO.impinterno <= @ARTICULO_2_PORCENTAJEIMPUESTOINTERNO_HASTA ) ) and 
	( ( @ARTICULO_2_RESTRINGIRDESCUENTOS is null ) OR ( C_ARTICULO.ArtSinDes = @ARTICULO_2_RESTRINGIRDESCUENTOS ) ) and 
	( ( @ARTICULO_2_PESO_DESDE is null ) OR ( C_ARTICULO.ARTPESO >= @ARTICULO_2_PESO_DESDE ) ) and 
	( ( @ARTICULO_2_PESO_HASTA is null ) OR ( C_ARTICULO.ARTPESO <= @ARTICULO_2_PESO_HASTA ) ) and 
	( ( @ARTICULO_2_LARGO_DESDE is null ) OR ( C_ARTICULO.ARTLARGO >= @ARTICULO_2_LARGO_DESDE ) ) and 
	( ( @ARTICULO_2_LARGO_HASTA is null ) OR ( C_ARTICULO.ARTLARGO <= @ARTICULO_2_LARGO_HASTA ) ) and 
	( ( @ARTICULO_2_ANCHO_DESDE is null ) OR ( C_ARTICULO.ARTANCHO >= @ARTICULO_2_ANCHO_DESDE ) ) and 
	( ( @ARTICULO_2_ANCHO_HASTA is null ) OR ( C_ARTICULO.ARTANCHO <= @ARTICULO_2_ANCHO_HASTA ) ) and 
	( ( @ARTICULO_2_ALTO_DESDE is null ) OR ( C_ARTICULO.ARTALTO >= @ARTICULO_2_ALTO_DESDE ) ) and 
	( ( @ARTICULO_2_ALTO_HASTA is null ) OR ( C_ARTICULO.ARTALTO <= @ARTICULO_2_ALTO_HASTA ) ) and 
	( ( @ARTICULO_2_REQUIERECCOSTO_DESDE is null ) OR ( C_ARTICULO.ReqCCosto >= @ARTICULO_2_REQUIERECCOSTO_DESDE ) ) and 
	( ( @ARTICULO_2_REQUIERECCOSTO_HASTA is null ) OR ( C_ARTICULO.ReqCCosto <= @ARTICULO_2_REQUIERECCOSTO_HASTA ) ) and 
	( ( @ARTICULO_2_NOPUBLICARENECOMMERCE is null ) OR ( C_ARTICULO.PubEcom = @ARTICULO_2_NOPUBLICARENECOMMERCE ) ) and 
	( ( @ARTICULO_2_IMPORTADO is null ) OR ( C_ARTICULO.Importado = @ARTICULO_2_IMPORTADO ) ) and 
	( ( @ARTICULO_2_DESCRIPCIONADICIONAL_DESDE is null ) OR ( C_ARTICULO.ARTDESADIC >= @ARTICULO_2_DESCRIPCIONADICIONAL_DESDE ) ) and 
	( ( @ARTICULO_2_DESCRIPCIONADICIONAL_HASTA is null ) OR ( C_ARTICULO.ARTDESADIC <= @ARTICULO_2_DESCRIPCIONADICIONAL_HASTA ) ) and 
	( ( @ARTICULO_2_SOLOPROMOYKIT is null ) OR ( C_ARTICULO.PromoYKit = @ARTICULO_2_SOLOPROMOYKIT ) ) and 
	( ( @ARTICULO_2_RESTRINGIRARTICULO_DESDE is null ) OR ( C_ARTICULO.ArtRest >= @ARTICULO_2_RESTRINGIRARTICULO_DESDE ) ) and 
	( ( @ARTICULO_2_RESTRINGIRARTICULO_HASTA is null ) OR ( C_ARTICULO.ArtRest <= @ARTICULO_2_RESTRINGIRARTICULO_HASTA ) ) and 
	( ( @ARTICULO_2_MARCA_DESDE is null ) OR ( C_ARTICULO.Marca >= @ARTICULO_2_MARCA_DESDE ) ) and 
	( ( @ARTICULO_2_MARCA_HASTA is null ) OR ( C_ARTICULO.Marca <= @ARTICULO_2_MARCA_HASTA ) ) and 
	( ( @ARTICULO_2_PERCEPCIONIVARG5329 is null ) OR ( C_ARTICULO.ArtPercep = @ARTICULO_2_PERCEPCIONIVARG5329 ) ) and 
	( ( @MOTIVODESCUENTOYDEVOLUCION_61_TIPO is null ) OR ( C_MOTIVODESCUENTOYDEVOLUCION61.Tipo = @MOTIVODESCUENTOYDEVOLUCION_61_TIPO ) ) and 
	( ( @CLIENTE_81_VENDEDOR_DESDE is null ) OR ( C_CLIENTE.CLVend >= @CLIENTE_81_VENDEDOR_DESDE ) ) and 
	( ( @CLIENTE_81_VENDEDOR_HASTA is null ) OR ( C_CLIENTE.CLVend <= @CLIENTE_81_VENDEDOR_HASTA ) ) and 
	( ( @CLIENTE_81_CALLE_DESDE is null ) OR ( C_CLIENTE.CLCalle >= @CLIENTE_81_CALLE_DESDE ) ) and 
	( ( @CLIENTE_81_CALLE_HASTA is null ) OR ( C_CLIENTE.CLCalle <= @CLIENTE_81_CALLE_HASTA ) ) and 
	( ( @CLIENTE_81_CODIGOPOSTAL_DESDE is null ) OR ( C_CLIENTE.CLCP >= @CLIENTE_81_CODIGOPOSTAL_DESDE ) ) and 
	( ( @CLIENTE_81_CODIGOPOSTAL_HASTA is null ) OR ( C_CLIENTE.CLCP <= @CLIENTE_81_CODIGOPOSTAL_HASTA ) ) and 
	( ( @CLIENTE_81_CUIT_DESDE is null ) OR ( C_CLIENTE.CLCUIT >= @CLIENTE_81_CUIT_DESDE ) ) and 
	( ( @CLIENTE_81_CUIT_HASTA is null ) OR ( C_CLIENTE.CLCUIT <= @CLIENTE_81_CUIT_HASTA ) ) and 
	( ( @CLIENTE_81_DEPARTAMENTO_DESDE is null ) OR ( C_CLIENTE.CLDEPTO >= @CLIENTE_81_DEPARTAMENTO_DESDE ) ) and 
	( ( @CLIENTE_81_DEPARTAMENTO_HASTA is null ) OR ( C_CLIENTE.CLDEPTO <= @CLIENTE_81_DEPARTAMENTO_HASTA ) ) and 
	( ( @CLIENTE_81_EMAIL_DESDE is null ) OR ( C_CLIENTE.CLEMAIL >= @CLIENTE_81_EMAIL_DESDE ) ) and 
	( ( @CLIENTE_81_EMAIL_HASTA is null ) OR ( C_CLIENTE.CLEMAIL <= @CLIENTE_81_EMAIL_HASTA ) ) and 
	( ( @CLIENTE_81_FAX_DESDE is null ) OR ( C_CLIENTE.CLFAX >= @CLIENTE_81_FAX_DESDE ) ) and 
	( ( @CLIENTE_81_FAX_HASTA is null ) OR ( C_CLIENTE.CLFAX <= @CLIENTE_81_FAX_HASTA ) ) and 
	( ( @CLIENTE_81_FECHANACIMIENTO_DESDE is null ) OR ( C_CLIENTE.CLFECHA >= @CLIENTE_81_FECHANACIMIENTO_DESDE ) ) and 
	( ( @CLIENTE_81_FECHANACIMIENTO_HASTA is null ) OR ( C_CLIENTE.CLFECHA <= @CLIENTE_81_FECHANACIMIENTO_HASTA ) ) and 
	( ( @CLIENTE_81_IMAGEN_DESDE is null ) OR ( C_CLIENTE.CIMAGEN >= @CLIENTE_81_IMAGEN_DESDE ) ) and 
	( ( @CLIENTE_81_IMAGEN_HASTA is null ) OR ( C_CLIENTE.CIMAGEN <= @CLIENTE_81_IMAGEN_HASTA ) ) and 
	( ( @CLIENTE_81_LOCALIDAD_DESDE is null ) OR ( C_CLIENTE.CLLOC >= @CLIENTE_81_LOCALIDAD_DESDE ) ) and 
	( ( @CLIENTE_81_LOCALIDAD_HASTA is null ) OR ( C_CLIENTE.CLLOC <= @CLIENTE_81_LOCALIDAD_HASTA ) ) and 
	( ( @CLIENTE_81_NRODOCUMENTO_DESDE is null ) OR ( C_CLIENTE.CLNRODOC >= @CLIENTE_81_NRODOCUMENTO_DESDE ) ) and 
	( ( @CLIENTE_81_NRODOCUMENTO_HASTA is null ) OR ( C_CLIENTE.CLNRODOC <= @CLIENTE_81_NRODOCUMENTO_HASTA ) ) and 
	( ( @CLIENTE_81_NUMERO_DESDE is null ) OR ( C_CLIENTE.CLNro >= @CLIENTE_81_NUMERO_DESDE ) ) and 
	( ( @CLIENTE_81_NUMERO_HASTA is null ) OR ( C_CLIENTE.CLNro <= @CLIENTE_81_NUMERO_HASTA ) ) and 
	( ( @CLIENTE_81_PAGINAWEB_DESDE is null ) OR ( C_CLIENTE.CLPAGEWEB >= @CLIENTE_81_PAGINAWEB_DESDE ) ) and 
	( ( @CLIENTE_81_PAGINAWEB_HASTA is null ) OR ( C_CLIENTE.CLPAGEWEB <= @CLIENTE_81_PAGINAWEB_HASTA ) ) and 
	( ( @CLIENTE_81_PAIS_DESDE is null ) OR ( C_CLIENTE.CLPAIS >= @CLIENTE_81_PAIS_DESDE ) ) and 
	( ( @CLIENTE_81_PAIS_HASTA is null ) OR ( C_CLIENTE.CLPAIS <= @CLIENTE_81_PAIS_HASTA ) ) and 
	( ( @CLIENTE_81_PISO_DESDE is null ) OR ( C_CLIENTE.ClPiso >= @CLIENTE_81_PISO_DESDE ) ) and 
	( ( @CLIENTE_81_PISO_HASTA is null ) OR ( C_CLIENTE.ClPiso <= @CLIENTE_81_PISO_HASTA ) ) and 
	( ( @CLIENTE_81_PROVINCIA_DESDE is null ) OR ( C_CLIENTE.CLPRV >= @CLIENTE_81_PROVINCIA_DESDE ) ) and 
	( ( @CLIENTE_81_PROVINCIA_HASTA is null ) OR ( C_CLIENTE.CLPRV <= @CLIENTE_81_PROVINCIA_HASTA ) ) and 
	( ( @SITUACIONFISCAL_100_SITUACIONFISCAL_DESCRIPCION is null ) OR ( C_SITUACIONFISCAL.Descrip = @SITUACIONFISCAL_100_SITUACIONFISCAL_DESCRIPCION ) ) and 
	( ( @CLIENTE_81_TELEFONO_DESDE is null ) OR ( C_CLIENTE.CLTLF >= @CLIENTE_81_TELEFONO_DESDE ) ) and 
	( ( @CLIENTE_81_TELEFONO_HASTA is null ) OR ( C_CLIENTE.CLTLF <= @CLIENTE_81_TELEFONO_HASTA ) ) and 
	( ( @CLIENTE_81_TIPODOCUMENTO_DESDE is null ) OR ( C_CLIENTE.CLTIPODOC >= @CLIENTE_81_TIPODOCUMENTO_DESDE ) ) and 
	( ( @CLIENTE_81_TIPODOCUMENTO_HASTA is null ) OR ( C_CLIENTE.CLTIPODOC <= @CLIENTE_81_TIPODOCUMENTO_HASTA ) ) and 
	( ( @CLIENTE_81_MOVIL_DESDE is null ) OR ( C_CLIENTE.CLMovil >= @CLIENTE_81_MOVIL_DESDE ) ) and 
	( ( @CLIENTE_81_MOVIL_HASTA is null ) OR ( C_CLIENTE.CLMovil <= @CLIENTE_81_MOVIL_HASTA ) ) and 
	( ( @CLIENTE_81_TOPECTACTE_DESDE is null ) OR ( C_CLIENTE.CLTOPECCTE >= @CLIENTE_81_TOPECTACTE_DESDE ) ) and 
	( ( @CLIENTE_81_TOPECTACTE_HASTA is null ) OR ( C_CLIENTE.CLTOPECCTE <= @CLIENTE_81_TOPECTACTE_HASTA ) ) and 
	( ( @CLIENTE_81_LISTADEPRECIO_DESDE is null ) OR ( C_CLIENTE.CLLisPrec >= @CLIENTE_81_LISTADEPRECIO_DESDE ) ) and 
	( ( @CLIENTE_81_LISTADEPRECIO_HASTA is null ) OR ( C_CLIENTE.CLLisPrec <= @CLIENTE_81_LISTADEPRECIO_HASTA ) ) and 
	( ( @CLIENTE_81_CLASIFICACION_DESDE is null ) OR ( C_CLIENTE.CLCLAS >= @CLIENTE_81_CLASIFICACION_DESDE ) ) and 
	( ( @CLIENTE_81_CLASIFICACION_HASTA is null ) OR ( C_CLIENTE.CLCLAS <= @CLIENTE_81_CLASIFICACION_HASTA ) ) and 
	( ( @CLIENTE_81_TIPOCONVENIO_DESDE is null ) OR ( C_CLIENTE.CLTIPCONV >= @CLIENTE_81_TIPOCONVENIO_DESDE ) ) and 
	( ( @CLIENTE_81_TIPOCONVENIO_HASTA is null ) OR ( C_CLIENTE.CLTIPCONV <= @CLIENTE_81_TIPOCONVENIO_HASTA ) ) and 
	( ( @CLIENTE_81_NROIIBB_DESDE is null ) OR ( C_CLIENTE.CLNROIIBB >= @CLIENTE_81_NROIIBB_DESDE ) ) and 
	( ( @CLIENTE_81_NROIIBB_HASTA is null ) OR ( C_CLIENTE.CLNROIIBB <= @CLIENTE_81_NROIIBB_HASTA ) ) and 
	( ( @CLIENTE_81_DESCUENTOPREFERENTE_DESDE is null ) OR ( C_CLIENTE.CLCO_DTO >= @CLIENTE_81_DESCUENTOPREFERENTE_DESDE ) ) and 
	( ( @CLIENTE_81_DESCUENTOPREFERENTE_HASTA is null ) OR ( C_CLIENTE.CLCO_DTO <= @CLIENTE_81_DESCUENTOPREFERENTE_HASTA ) ) and 
	( ( @CLIENTE_81_TRANSPORTISTA_DESDE is null ) OR ( C_CLIENTE.CLTRANS >= @CLIENTE_81_TRANSPORTISTA_DESDE ) ) and 
	( ( @CLIENTE_81_TRANSPORTISTA_HASTA is null ) OR ( C_CLIENTE.CLTRANS <= @CLIENTE_81_TRANSPORTISTA_HASTA ) ) and 
	( ( @CLIENTE_81_ESTADOCIVIL is null ) OR ( C_CLIENTE.Estado = @CLIENTE_81_ESTADOCIVIL ) ) and 
	( ( @CLIENTE_81_HIJOS_DESDE is null ) OR ( C_CLIENTE.Hijos >= @CLIENTE_81_HIJOS_DESDE ) ) and 
	( ( @CLIENTE_81_HIJOS_HASTA is null ) OR ( C_CLIENTE.Hijos <= @CLIENTE_81_HIJOS_HASTA ) ) and 
	( ( @CLIENTE_81_SEXO is null ) OR ( C_CLIENTE.Sexo = @CLIENTE_81_SEXO ) ) and 
	( ( @CLIENTE_81_IDGLOBAL_DESDE is null ) OR ( C_CLIENTE.globalid >= @CLIENTE_81_IDGLOBAL_DESDE ) ) and 
	( ( @CLIENTE_81_IDGLOBAL_HASTA is null ) OR ( C_CLIENTE.globalid <= @CLIENTE_81_IDGLOBAL_HASTA ) ) and 
	( ( @CLIENTE_81_RUT_DESDE is null ) OR ( C_CLIENTE.RUT >= @CLIENTE_81_RUT_DESDE ) ) and 
	( ( @CLIENTE_81_RUT_HASTA is null ) OR ( C_CLIENTE.RUT <= @CLIENTE_81_RUT_HASTA ) ) and 
	( ( @CLIENTE_81_CODNOMBREFANTASIA_DESDE is null ) OR ( C_CLIENTE.CLCODFANT >= @CLIENTE_81_CODNOMBREFANTASIA_DESDE ) ) and 
	( ( @CLIENTE_81_CODNOMBREFANTASIA_HASTA is null ) OR ( C_CLIENTE.CLCODFANT <= @CLIENTE_81_CODNOMBREFANTASIA_HASTA ) ) and 
	( ( @CLIENTE_81_TIPOCLI_DESDE is null ) OR ( C_CLIENTE.CLTipoCli >= @CLIENTE_81_TIPOCLI_DESDE ) ) and 
	( ( @CLIENTE_81_TIPOCLI_HASTA is null ) OR ( C_CLIENTE.CLTipoCli <= @CLIENTE_81_TIPOCLI_HASTA ) ) and 
	( ( @CLIENTE_81_CATEGCLI_DESDE is null ) OR ( C_CLIENTE.CLCategCli >= @CLIENTE_81_CATEGCLI_DESDE ) ) and 
	( ( @CLIENTE_81_CATEGCLI_HASTA is null ) OR ( C_CLIENTE.CLCategCli <= @CLIENTE_81_CATEGCLI_HASTA ) ) and 
	( ( @CLIENTE_81_CONDICIONDEPAGO_DESDE is null ) OR ( C_CLIENTE.CLCONDPAG >= @CLIENTE_81_CONDICIONDEPAGO_DESDE ) ) and 
	( ( @CLIENTE_81_CONDICIONDEPAGO_HASTA is null ) OR ( C_CLIENTE.CLCONDPAG <= @CLIENTE_81_CONDICIONDEPAGO_HASTA ) ) and 
	( ( @CLIENTE_81_SUJETOVINCULADO is null ) OR ( C_CLIENTE.CLSujVinc = @CLIENTE_81_SUJETOVINCULADO ) ) and 
	( ( @CLIENTE_81_PERCEPCIONIVA_DESDE is null ) OR ( C_CLIENTE.CLPERTIVA >= @CLIENTE_81_PERCEPCIONIVA_DESDE ) ) and 
	( ( @CLIENTE_81_PERCEPCIONIVA_HASTA is null ) OR ( C_CLIENTE.CLPERTIVA <= @CLIENTE_81_PERCEPCIONIVA_HASTA ) ) and 
	( ( @CLIENTE_81_SITUACIONGANANCIAS is null ) OR ( C_CLIENTE.CLSITGAN = @CLIENTE_81_SITUACIONGANANCIAS ) ) and 
	( ( @CLIENTE_81_EXCLUIDOPERCEPCIONIVA is null ) OR ( C_CLIENTE.EXPERIVA = @CLIENTE_81_EXCLUIDOPERCEPCIONIVA ) ) and 
	( ( @CLIENTE_81_PERCEPCIONGANANCIAS_DESDE is null ) OR ( C_CLIENTE.CLPERGAN >= @CLIENTE_81_PERCEPCIONGANANCIAS_DESDE ) ) and 
	( ( @CLIENTE_81_PERCEPCIONGANANCIAS_HASTA is null ) OR ( C_CLIENTE.CLPERGAN <= @CLIENTE_81_PERCEPCIONGANANCIAS_HASTA ) ) and 
	( ( @CLIENTE_81_EXCLUIDOPERCEPCIONGANANCIAS is null ) OR ( C_CLIENTE.EXPERGAN = @CLIENTE_81_EXCLUIDOPERCEPCIONGANANCIAS ) ) and 
	( ( @CLIENTE_81_CODRECOMENDANTE_DESDE is null ) OR ( C_CLIENTE.CODRECOM >= @CLIENTE_81_CODRECOMENDANTE_DESDE ) ) and 
	( ( @CLIENTE_81_CODRECOMENDANTE_HASTA is null ) OR ( C_CLIENTE.CODRECOM <= @CLIENTE_81_CODRECOMENDANTE_HASTA ) ) and 
	( ( @CLIENTE_81_NOMBRERECOMENDANTE_DESDE is null ) OR ( C_CLIENTE.NOMRECOM >= @CLIENTE_81_NOMBRERECOMENDANTE_DESDE ) ) and 
	( ( @CLIENTE_81_NOMBRERECOMENDANTE_HASTA is null ) OR ( C_CLIENTE.NOMRECOM <= @CLIENTE_81_NOMBRERECOMENDANTE_HASTA ) ) and 
	( ( @CLIENTE_81_PRIMERNOMBRE_DESDE is null ) OR ( C_CLIENTE.CLPRINOM >= @CLIENTE_81_PRIMERNOMBRE_DESDE ) ) and 
	( ( @CLIENTE_81_PRIMERNOMBRE_HASTA is null ) OR ( C_CLIENTE.CLPRINOM <= @CLIENTE_81_PRIMERNOMBRE_HASTA ) ) and 
	( ( @CLIENTE_81_SEGUNDONOMBRE_DESDE is null ) OR ( C_CLIENTE.CLSEGNOM >= @CLIENTE_81_SEGUNDONOMBRE_DESDE ) ) and 
	( ( @CLIENTE_81_SEGUNDONOMBRE_HASTA is null ) OR ( C_CLIENTE.CLSEGNOM <= @CLIENTE_81_SEGUNDONOMBRE_HASTA ) ) and 
	( ( @CLIENTE_81_APELLIDO_DESDE is null ) OR ( C_CLIENTE.CLAPELL >= @CLIENTE_81_APELLIDO_DESDE ) ) and 
	( ( @CLIENTE_81_APELLIDO_HASTA is null ) OR ( C_CLIENTE.CLAPELL <= @CLIENTE_81_APELLIDO_HASTA ) ) and 
	( ( @CLIENTE_81_VIGENCIAHASTAIVA_DESDE is null ) OR ( C_CLIENTE.VHastaIva >= @CLIENTE_81_VIGENCIAHASTAIVA_DESDE ) ) and 
	( ( @CLIENTE_81_VIGENCIAHASTAIVA_HASTA is null ) OR ( C_CLIENTE.VHastaIva <= @CLIENTE_81_VIGENCIAHASTAIVA_HASTA ) ) and 
	( ( @CLIENTE_81_VIGENCIAHASTAGAN_DESDE is null ) OR ( C_CLIENTE.VHastaGan >= @CLIENTE_81_VIGENCIAHASTAGAN_DESDE ) ) and 
	( ( @CLIENTE_81_VIGENCIAHASTAGAN_HASTA is null ) OR ( C_CLIENTE.VHastaGan <= @CLIENTE_81_VIGENCIAHASTAGAN_HASTA ) ) and 
	( ( @CLIENTE_81_CODIGOSIPRIB_DESDE is null ) OR ( C_CLIENTE.CLSIPRIB >= @CLIENTE_81_CODIGOSIPRIB_DESDE ) ) and 
	( ( @CLIENTE_81_CODIGOSIPRIB_HASTA is null ) OR ( C_CLIENTE.CLSIPRIB <= @CLIENTE_81_CODIGOSIPRIB_HASTA ) ) and 
	( ( @CLIENTE_81_TASACEROPORCEN_DESDE is null ) OR ( C_CLIENTE.PorcenTC >= @CLIENTE_81_TASACEROPORCEN_DESDE ) ) and 
	( ( @CLIENTE_81_TASACEROPORCEN_HASTA is null ) OR ( C_CLIENTE.PorcenTC <= @CLIENTE_81_TASACEROPORCEN_HASTA ) ) and 
	( ( @CLIENTE_81_TASACEROAPLICA is null ) OR ( C_CLIENTE.AplicaTC = @CLIENTE_81_TASACEROAPLICA ) ) and 
	( ( @CLIENTE_81_INACTIVOFW is null ) OR ( C_CLIENTE.InactivoFW = @CLIENTE_81_INACTIVOFW ) ) and 
	( ( @SUCURSAL_4204_CODIGO_DESDE is null ) OR ( C_SUCURSAL.codigo >= @SUCURSAL_4204_CODIGO_DESDE ) ) and 
	( ( @SUCURSAL_4204_CODIGO_HASTA is null ) OR ( C_SUCURSAL.codigo <= @SUCURSAL_4204_CODIGO_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_NROITEM_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.NroItem >= @ITEMARTICULOSVENTAS_NROITEM_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_NROITEM_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.NroItem <= @ITEMARTICULOSVENTAS_NROITEM_HASTA ) ) and 
	( ( @REMITO_1_FECHAALTAFW_DESDE is null ) OR ( C_REMITO.FAltaFW >= @REMITO_1_FECHAALTAFW_DESDE ) ) and 
	( ( @REMITO_1_FECHAALTAFW_HASTA is null ) OR ( C_REMITO.FAltaFW <= @REMITO_1_FECHAALTAFW_HASTA ) ) and 
	( ( @REMITO_1_HORAALTAFW_DESDE is null ) OR ( C_REMITO.HAltaFW >= @REMITO_1_HORAALTAFW_DESDE ) ) and 
	( ( @REMITO_1_HORAALTAFW_HASTA is null ) OR ( C_REMITO.HAltaFW <= @REMITO_1_HORAALTAFW_HASTA ) ) and 
	( ( @REMITO_1_BASEDEDATOSALTAFW_DESDE is null ) OR ( C_REMITO.BDALTAFW >= @REMITO_1_BASEDEDATOSALTAFW_DESDE ) ) and 
	( ( @REMITO_1_BASEDEDATOSALTAFW_HASTA is null ) OR ( C_REMITO.BDALTAFW <= @REMITO_1_BASEDEDATOSALTAFW_HASTA ) ) and 
	( ( @REMITO_1_BASEDEDATOSMODIFICACIONFW_DESDE is null ) OR ( C_REMITO.BDMODIFW >= @REMITO_1_BASEDEDATOSMODIFICACIONFW_DESDE ) ) and 
	( ( @REMITO_1_BASEDEDATOSMODIFICACIONFW_HASTA is null ) OR ( C_REMITO.BDMODIFW <= @REMITO_1_BASEDEDATOSMODIFICACIONFW_HASTA ) ) and 
	( ( @REMITO_1_ESTADOTRANSFERENCIA_DESDE is null ) OR ( C_REMITO.ESTTRANS >= @REMITO_1_ESTADOTRANSFERENCIA_DESDE ) ) and 
	( ( @REMITO_1_ESTADOTRANSFERENCIA_HASTA is null ) OR ( C_REMITO.ESTTRANS <= @REMITO_1_ESTADOTRANSFERENCIA_HASTA ) ) and 
	( ( @REMITO_1_FECHAEXPO_DESDE is null ) OR ( C_REMITO.FECEXPO >= @REMITO_1_FECHAEXPO_DESDE ) ) and 
	( ( @REMITO_1_FECHAEXPO_HASTA is null ) OR ( C_REMITO.FECEXPO <= @REMITO_1_FECHAEXPO_HASTA ) ) and 
	( ( @REMITO_1_FECHAIMPO_DESDE is null ) OR ( C_REMITO.FECIMPO >= @REMITO_1_FECHAIMPO_DESDE ) ) and 
	( ( @REMITO_1_FECHAIMPO_HASTA is null ) OR ( C_REMITO.FECIMPO <= @REMITO_1_FECHAIMPO_HASTA ) ) and 
	( ( @REMITO_1_FECHAMODIFICACIONFW_DESDE is null ) OR ( C_REMITO.FMODIFW >= @REMITO_1_FECHAMODIFICACIONFW_DESDE ) ) and 
	( ( @REMITO_1_FECHAMODIFICACIONFW_HASTA is null ) OR ( C_REMITO.FMODIFW <= @REMITO_1_FECHAMODIFICACIONFW_HASTA ) ) and 
	( ( @REMITO_1_FECHATRANSFERENCIA_DESDE is null ) OR ( C_REMITO.FECTRANS >= @REMITO_1_FECHATRANSFERENCIA_DESDE ) ) and 
	( ( @REMITO_1_FECHATRANSFERENCIA_HASTA is null ) OR ( C_REMITO.FECTRANS <= @REMITO_1_FECHATRANSFERENCIA_HASTA ) ) and 
	( ( @REMITO_1_HORAEXPO_DESDE is null ) OR ( C_REMITO.HORAEXPO >= @REMITO_1_HORAEXPO_DESDE ) ) and 
	( ( @REMITO_1_HORAEXPO_HASTA is null ) OR ( C_REMITO.HORAEXPO <= @REMITO_1_HORAEXPO_HASTA ) ) and 
	( ( @REMITO_1_HORAIMPO_DESDE is null ) OR ( C_REMITO.HORAIMPO >= @REMITO_1_HORAIMPO_DESDE ) ) and 
	( ( @REMITO_1_HORAIMPO_HASTA is null ) OR ( C_REMITO.HORAIMPO <= @REMITO_1_HORAIMPO_HASTA ) ) and 
	( ( @REMITO_1_HORAMODIFICACIONFW_DESDE is null ) OR ( C_REMITO.HMODIFW >= @REMITO_1_HORAMODIFICACIONFW_DESDE ) ) and 
	( ( @REMITO_1_HORAMODIFICACIONFW_HASTA is null ) OR ( C_REMITO.HMODIFW <= @REMITO_1_HORAMODIFICACIONFW_HASTA ) ) and 
	( ( @REMITO_1_SERIEALTAFW_DESDE is null ) OR ( C_REMITO.SALTAFW >= @REMITO_1_SERIEALTAFW_DESDE ) ) and 
	( ( @REMITO_1_SERIEALTAFW_HASTA is null ) OR ( C_REMITO.SALTAFW <= @REMITO_1_SERIEALTAFW_HASTA ) ) and 
	( ( @REMITO_1_SERIEMODIFICACIONFW_DESDE is null ) OR ( C_REMITO.SMODIFW >= @REMITO_1_SERIEMODIFICACIONFW_DESDE ) ) and 
	( ( @REMITO_1_SERIEMODIFICACIONFW_HASTA is null ) OR ( C_REMITO.SMODIFW <= @REMITO_1_SERIEMODIFICACIONFW_HASTA ) ) and 
	( ( @REMITO_1_USUARIOALTAFW_DESDE is null ) OR ( C_REMITO.UALTAFW >= @REMITO_1_USUARIOALTAFW_DESDE ) ) and 
	( ( @REMITO_1_USUARIOALTAFW_HASTA is null ) OR ( C_REMITO.UALTAFW <= @REMITO_1_USUARIOALTAFW_HASTA ) ) and 
	( ( @REMITO_1_USUARIOMODIFICACIONFW_DESDE is null ) OR ( C_REMITO.UMODIFW >= @REMITO_1_USUARIOMODIFICACIONFW_DESDE ) ) and 
	( ( @REMITO_1_USUARIOMODIFICACIONFW_HASTA is null ) OR ( C_REMITO.UMODIFW <= @REMITO_1_USUARIOMODIFICACIONFW_HASTA ) ) and 
	( ( @REMITO_1_VERSIONALTAFW_DESDE is null ) OR ( C_REMITO.VALTAFW >= @REMITO_1_VERSIONALTAFW_DESDE ) ) and 
	( ( @REMITO_1_VERSIONALTAFW_HASTA is null ) OR ( C_REMITO.VALTAFW <= @REMITO_1_VERSIONALTAFW_HASTA ) ) and 
	( ( @REMITO_1_VERSIONMODIFICACIONFW_DESDE is null ) OR ( C_REMITO.VMODIFW >= @REMITO_1_VERSIONMODIFICACIONFW_DESDE ) ) and 
	( ( @REMITO_1_VERSIONMODIFICACIONFW_HASTA is null ) OR ( C_REMITO.VMODIFW <= @REMITO_1_VERSIONMODIFICACIONFW_HASTA ) )

)