IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIP3685_ComprasComprobantes]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIP3685_ComprasComprobantes];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIP3685_ComprasComprobantes]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@ProrratearCreditoFiscalComputable varchar(1),
	@ComprobanteFiscal bit,
	@ComprobanteManual bit,
	@ComprobanteElectronico bit,
	@CompDespacho bit,
	@CompLiqA bit,
	@CompLiqB bit,
	@CompServPubA bit,
	@CompServPubB bit,
	@CompReciboA bit,
	@CompReciboC bit
)
RETURNS TABLE
AS
RETURN
(
	select	AnioFecha,
			MesFecha,
			DiaFecha,
			TipoComp,
			PtoVenta,
			NumCompD,
			DespImpo,
			ProTipoDoc,
			ProNroDoc,
			ProNombre,
			Total,
			NetoNoGrav,
			OpeExentas,
			PercIVA,
			PercNacion,
			PercIIBB,
			PercMunic,
			PercIntern,
			Moneda,
			Cotizacion,
			CantAlic,
			CodOperac,
			CredFisCom,
			ImpuOtros,
			CUITEmiCor,
			DenoEmiCor,
			IVAComis
	from [Interfaces].[Interfaz_AFIPRG4597_ComprasComprobantes](@FechaDesde, @FechaHasta, null, null, null, null, @ComprobanteFiscal, @ComprobanteManual, @ComprobanteElectronico,@CompDespacho, @CompLiqA, @CompLiqB, @CompServPubA, @CompServPubB, @CompReciboA, @CompReciboC, @ProrratearCreditoFiscalComputable)
)