IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerTotalValorizadoDeUnComprobanteDeUnaListaAUnaFecha]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerTotalValorizadoDeUnComprobanteDeUnaListaAUnaFecha];
GO;

CREATE FUNCTION [Funciones].[ObtenerTotalValorizadoDeUnComprobanteDeUnaListaAUnaFecha]
	(
	@CodigoComprobante char(38),
	@CodigoLPrecio char(6),
	@VigenciaParaFecha date 
	)
RETURNS numeric(15,2)
AS
BEGIN

	declare @retorno numeric(15, 2)
	if @VigenciaParaFecha = ''
	set @VigenciaParaFecha = getdate()

	set @retorno = ( select 
						sum(Funciones.ObtenerPrecioDeLaCombinacionConVigencia(fart, ccolor, talle, @CodigoLPrecio, convert(datetime, @VigenciaParaFecha), default ) * fcant ) 
						from ZOOLOGIC.COMPROBANTEVDET 
						WHERE CODIGO = @CodigoComprobante
					)
	return @retorno

END		