IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_LasPiedrasShopping_Ventas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_LasPiedrasShopping_Ventas];
GO;

CREATE function [Interfaces].[Interfaz_LasPiedrasShopping_Ventas]
(
	@FechaDesde as char(8) 
)
RETURNS TABLE
AS
RETURN
(
	select top 100000
			comp.codigo as Codigo,
			comp.facttipo as TipoComp, 
			comp.descFw as Descrip, 
			cae.numero as NumeroCAE,
			info.estado as Estado
		from ZooLogic.ComprobanteV as comp
			left join Zoologic.CAE as cae on cae.codigo = comp.codigo
			left join Zoologic.InfoVtasLPS as info on info.codigo = comp.codigo
		where comp.facttipo in (27, 28, 29) and comp.anulado = 0 and cae.numero > '' and 
			( info.estado is null or info.estado > 0 )
			and comp.FFCH >= @FechaDesde
		order by comp.facttipo
) 