IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerTipoComprobanteRelacionado]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerTipoComprobanteRelacionado];
GO;

CREATE FUNCTION [Funciones].[ObtenerTipoComprobanteRelacionado]
( @LetraRela char(1),
  @PuntoRela numeric(4),
  @NumeroRela numeric(8),
  @FechaRela date, 
  @TipoRela numeric(2), 
  @TipoComprobante numeric(2)
)
RETURNS numeric(2)
AS
BEGIN
	declare @retorno numeric(2)
	
	set @retorno =  case @TipoRela
						when 1 then ( select facttipo from ZooLogic.ComprobanteV where fletra = @LetraRela and fptoven = @PuntoRela and 
										fnumcomp = @NumeroRela and ffch = @FechaRela and facttipo in ( 1, 2, 27, 54) )
						when 2 then ( select facttipo from ZooLogic.ComprobanteV where fletra = @LetraRela and fptoven = @PuntoRela and 
										fnumcomp = @NumeroRela and ffch = @FechaRela and facttipo in ( 3, 5, 28, 55) )
						when 3 then ( select facttipo from ZooLogic.ComprobanteV where fletra = @LetraRela and fptoven = @PuntoRela and 
										fnumcomp = @NumeroRela and ffch = @FechaRela and facttipo in ( 4, 6, 29, 56) )
					end
 
	if @retorno is null
		set @retorno =  case @TipoComprobante
							when 3 then ( case when @TipoRela = 1 then 1 else ( case when @TipoRela = 2 then 3 else 4 end ) end ) 
							when 5 then ( case when @TipoRela = 1 then 2 else ( case when @TipoRela = 2 then 5 else 6 end ) end )
							when 28 then ( case when @TipoRela = 1 then 27 else ( case when @TipoRela = 2 then 28 else 29 end ) end )
							when 55 then ( case when @TipoRela = 1 then 54 else ( case when @TipoRela = 2 then 55 else 56 end ) end )	
							else 0	
						 end
	return @retorno
END

