IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_EFlexware_MediosDePagoFinanzas_Vueltos]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_EFlexware_MediosDePagoFinanzas_Vueltos];
GO;

CREATE FUNCTION [interfaces].[Datos_EFlexware_MediosDePagoFinanzas_Vueltos]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@MovimientoPredeterminado varchar(10),
	@TipoCambio varchar(10),
	@BlanquearClienteB bit,
	@EsVueltoAplicacion bit,
	@CodigoClienteCompEnCero varchar(6),
	@cIncluirCajaySucursalFinanzas char(1)
)
RETURNS TABLE
AS
RETURN
(
	select DatosExpoIntermedios.CodigoLinea as IdentificadorMovimiento,
		@MovimientoPredeterminado as CodigoTipoMovimientoFondos,
		'AJUSTE POR VUELTO' as DescripcionMovimiento,		
		DatosExpoIntermedios.Fecha as FechaComprobante,
		'' as CodigoCliente,
		DatosExpoIntermedios.CodigoProveedor,
		DatosExpoIntermedios.MarcaOA,
		'1' as Concepto,
		DatosExpoIntermedios.SimboloMonetario as Moneda,
		@TipoCambio as TipoCambio,
		DatosExpoIntermedios.CajaAplicacionOrigen,
		'' as TipoChequeValorDocumento,
		'' as FechaVencimiento,
		DatosExpoIntermedios.MontoVuelto as Importe,
		'' as NumeroCheque,
		'' as CodigoBancoTarjeta,
		'' as SucursalBanco,
		'0' as Clearing,
		'' as Origen,
		'' as CodigoCuentaBancaria,
		'' as NumeroTarjeta,
		'' as NumeroAutorizacion,
		'' as NombreLibrador,
		'' as DireccionLibrador,
		'' as CodigoPostalLibrador,
		'0' as ProvinciaLibrador,
		'' as LocalidadLibrador,
		'' as TelefonoLibrador,
		DatosExpoIntermedios.MontoVuelto as PesosAlCambio,
		DatosExpoIntermedios.BDContable as CodigoAperturaContable,
		'FC' as TipoComprobante,
		DatosExpoIntermedios.Letra as LetraComprobante,
		DatosExpoIntermedios.PuntoVenta,
		DatosExpoIntermedios.NumeroComprobante, 
		DatosExpoIntermedios.CodigoCliente as Cliente,
		DatosExpoIntermedios.BDSucursal as NumeroLocal,
		'' as TipoOperacion
	from (
		select DatosExpoBasicos.Letra,
			DatosExpoBasicos.PuntoVenta, 
			DatosExpoBasicos.NumeroComprobante, 
			Funciones.dtos(DatosExpoBasicos.Fecha) as Fecha,
			DatosExpoBasicos.CodigoCliente,
			DatosExpoBasicos.CodigoProveedor,
			DatosExpoBasicos.MontoVuelto,
			DatosExpoBasicos.SimboloMonetario,
			right(Funciones.dtos(DatosExpoBasicos.Fecha), 3) + '001' as CodigoLinea,

			--(case when DatosExpoBasicos.TipoValor in (1, 2) and DatosExpoBasicos.BDSucursal <> '' then DatosExpoBasicos.BDSucursal + '-' + DatosExpoBasicos.NumeroCaja + '-' else '' end) + DatosExpoBasicos.CodigoValor as CajaAplicacionOrigen,

			case
				when @cIncluirCajaySucursalFinanzas = '1' and  DatosExpoBasicos.TipoValor in (1, 2) and DatosExpoBasicos.BDSucursal <> '' then DatosExpoBasicos.BDSucursal + '-' + DatosExpoBasicos.NumeroCaja + '-'  + DatosExpoBasicos.CodigoValor 
				when @cIncluirCajaySucursalFinanzas = '2' and DatosExpoBasicos.BDSucursal <> '' then DatosExpoBasicos.BDSucursal + '-' + DatosExpoBasicos.NumeroCaja + '-' + DatosExpoBasicos.CodigoValor 
				else DatosExpoBasicos.CodigoValor
			end as CajaAplicacionOrigen,

			case when @EsVueltoAplicacion = 1 then '2' else '1' end as MarcaOA,
			DatosExpoBasicos.BDContable,
			case when @cIncluirCajaySucursalFinanzas in ('1','2') then DatosExpoBasicos.BDSucursal else '   ' end as BDSucursal
		from (
			select Comprobantes.FLetra as Letra,
				Comprobantes.FPtoVen as PuntoVenta,
				Comprobantes.FNumComp as NumeroComprobante,
				Comprobantes.FFch as Fecha,
				[Interfaces].[Auxiliar_EFlexware_CodigoCliente] (EFLEXCODIGOCLIENTE_valconv_bd.ValDest, EFLEXCODIGOCLIENTE_valconv_cl.ValDest, EFLEXCODIGOCLIENTE_cabconv.Accion,
					EFLEXCODIGOCLIENTE_cabconv.ValorDef, Comprobantes.FPerson, Comprobantes.FLetra, Comprobantes.FTotal, Vueltos.RecPesos, DetalleValores.CantidadValoresCC,
					@BlanquearClienteB,@CodigoClienteCompEnCero) as CodigoCliente,
				Comprobantes.FTotal as TotalComprobante,
				case when Funciones.EsComprobanteNotaDeCredito(Comprobantes.FactTipo) = 1 then (case when @EsVueltoAplicacion = 1 then '1' else '2' end) else '' end as CodigoProveedor,
				Vueltos.JjT as TipoValor,
				cast(Vueltos.IDCaja as varchar(5)) as NumeroCaja,
				abs(Vueltos.RecPesos) as MontoVuelto,
				DetalleValores.CantidadValoresCC,
				case when EFLEXMONEDA_valconv.ValDest is null then Valores.ClSMonet else EFLEXMONEDA_valconv.ValDest end as SimboloMonetario,
				case when EQUIVALENCIADEVALORESEFLEX_valconv.ValDest is null then Vueltos.JjCo else EQUIVALENCIADEVALORESEFLEX_valconv.ValDest end as CodigoValor,
				case when EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.ValDest is null then EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv.ValorDef else EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.ValDest end as BDContable,
				case when EFLEXIDENTIFICADORBASEDEDATOS_valconv.ValDest is null then '   ' else EFLEXIDENTIFICADORBASEDEDATOS_valconv.ValDest end as BDSucursal			
				
			from [ZooLogic].[ComprobanteV] as Comprobantes
				join [ZooLogic].[Val] as Vueltos on Comprobantes.Codigo = Vueltos.JjNum and Vueltos.EsVuelto = 1
				join [ZooLogic].[XVal] as Valores on Vueltos.JjCo = Valores.ClCod
				join (
					select Valores.JjNum as CodigoComprobante,
						sum(Valores.RecPesos) as TotalValores,
						sum(case when Valores.JjT = 6 then 1 else 0 end) as CantidadValoresCC
					from [ZooLogic].[Val] as Valores
					where Valores.EsVuelto = 0
					group by Valores.JjNum
					) as DetalleValores on Comprobantes.Codigo = DetalleValores.CodigoComprobante
				left join [Organizacion].[ConverVal] as EFLEXMONEDA_valconv on EFLEXMONEDA_valconv.Conversion = 'EFLEXMONEDA' and EFLEXMONEDA_valconv.ValOrig = Valores.ClSMonet
				left join [Organizacion].[ConverVal] as EQUIVALENCIADEVALORESEFLEX_valconv on EQUIVALENCIADEVALORESEFLEX_valconv.Conversion = 'EQUIVALENCIADEVALORESEFLEX' and EQUIVALENCIADEVALORESEFLEX_valconv.ValOrig = Vueltos.JjCo
				left join [Organizacion].[Conver] as EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv on EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv.Codigo = 'EFLEXAPERTURACONTABLEBASEDEDATOS'
				left join [Organizacion].[ConverVal] as EFLEXAPERTURACONTABLEBASEDEDATOS_valconv on EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv.Codigo = EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.Conversion and EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[ConverVal] as EFLEXIDENTIFICADORBASEDEDATOS_valconv on EFLEXIDENTIFICADORBASEDEDATOS_valconv.Conversion = 'EFLEXIDENTIFICADORBASEDEDATOS' and EFLEXIDENTIFICADORBASEDEDATOS_valconv.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as EFLEXCODIGOCLIENTE_cabconv on EFLEXCODIGOCLIENTE_cabconv.Codigo = 'EFLEXCODIGOCLIENTE'
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_cl on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_cl.Conversion and EFLEXCODIGOCLIENTE_valconv_cl.ValOrig = Comprobantes.FPerson
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_bd on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_bd.Conversion and EFLEXCODIGOCLIENTE_valconv_bd.ValOrig = Comprobantes.BDAltaFW
			where Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49, 54, 55, 56)
				and Comprobantes.FLetra between @LetraDesde and @LetraHasta
				and Comprobantes.FPtoVen between @PuntoVentaDesde and @PuntoVentaHasta
				and Comprobantes.FNumComp between @NumeroComprobanteDesde and @NumeroComprobanteHasta
				and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
				and Comprobantes.FecExpo between @FechaExportacionDesde and @FechaExportacionHasta
				and Comprobantes.Anulado = 0
				and Comprobantes.FTotal <> DetalleValores.TotalValores
			) as DatosExpoBasicos
		) as DatosExpoIntermedios
)