IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIPRG4597_VentasAlicuotas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIPRG4597_VentasAlicuotas];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIPRG4597_VentasAlicuotas]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@PtVtaDesde int,
	@PtVtaHasta int,
	@CompFiscal bit,
	@CompManual bit,
	@CompElectr bit 
)
RETURNS TABLE
AS
RETURN
(
	select distinct cast( Funciones.padl( DatosExpo.TipoComprobante, 3, '0' ) as char(3) ) as TipoComp,
		cast( Funciones.padl( cast( DatosExpo.PuntoVenta as varchar(5) ), 5, '0' ) as char(5) ) as PtoVenta,
		cast( Funciones.padl( cast( DatosExpo.NumeroComprobante as varchar(20) ), 20, '0' ) as char(20) ) as NumCompD,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.MontoNoGravadoIVA, 2, 15 ) as char(15) ) as MontoNGIVA,
		cast( Funciones.padl( DatosExpo.PorcentajeIVA, 4, '0' ) as char(4) ) as PorcIVA,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.MontoIVA, 2, 15 ) as char(15) ) as MontoIVA
	from ( 
		select Comprobante.FPtoVen as PuntoVenta,
			Comprobante.FNumComp as NumeroComprobante,
			case when ConvVTipo.ValDest is null then ConvCTipo.ValorDef else ConvVTipo.ValDest end as TipoComprobante,
			case when ConvVAlic.ValDest is null then ConvCAlic.ValorDef else case when Comprobante.FTOTAL = 0 then '3' else ConvVAlic.ValDest end end as PorcentajeIVA,
			case when Alicuotas.IVAPorcent is not null then Alicuotas.IVAPorcent else 0 end as PorcentajeIVAOriginal,
			case when Alicuotas.IVAPorcent = 0 then 0 else coalesce( Alicuotas.IVAMonNG, 0) end as MontoNoGravadoIVA,
			case when Alicuotas.IVAMonto is not null then Alicuotas.IVAMonto else 0 end as MontoIVA,
--			case when ImpuesIVA.CantidadAlicuotas is not null then ImpuesIVA.CantidadAlicuotas - ImpuesIVA.CantidadAlicuotasEn0 else 0 end as CantidadAlicuotas
			case when ImpuesIVA.CantidadAlicuotas is not null then CASE WHEN (ImpuesIVA.CantidadAlicuotas - ImpuesIVA.CantidadAlicuotasEn0 <> 0) THEN ImpuesIVA.CantidadAlicuotas - ImpuesIVA.CantidadAlicuotasEn0 ELSE 1 END else 0 end  as CantidadAlicuotas
		from [ZooLogic].[ComprobanteV] as Comprobante
			left join (
				select ImpuesIVA.Codigo as Codigo,
					count( distinct ImpuesIVA.IVAPorcent ) as CantidadAlicuotas,
					sum( case when ImpuesIVA.IVAPorcent > 0 and ImpuesIVA.IVAMonto < 0.01 then 1 else 0 end ) as CantidadAlicuotasEn0
				from [ZooLogic].[ImpuestosV] as ImpuesIVA
				group by ImpuesIVA.Codigo
				) as ImpuesIVA on Comprobante.Codigo = ImpuesIVA.Codigo
			left join [ZooLogic].[ImpuestosV] as Alicuotas on Comprobante.Codigo = Alicuotas.Codigo
			left join [Organizacion].[Conver] as ConvCTipo on ConvCTipo.Codigo = 'TIPOCOMPROBANTEAFIP'
			left join [Organizacion].[ConverVal] as ConvVTipo on ConvCTipo.Codigo = ConvVTipo.Conversion and ConvVTipo.ValOrig = cast( Comprobante.FactTipo as varchar(2) ) + Comprobante.FLetra
			left join [Organizacion].[Conver] as ConvCAlic on ConvCAlic.Codigo = 'AFIP ALICUOTA DE IVA'
			left join [Organizacion].[ConverVal] as ConvVAlic on ConvCAlic.Codigo = ConvVAlic.Conversion and Funciones.val( ConvVAlic.ValOrig ) = case when Alicuotas.IVAPorcent is null then 0 else Alicuotas.IVAPorcent end
		where case 
				when @CompFiscal = 1 and Comprobante.FactTipo in ( 2, 5, 6 ) then 1 
				when @CompManual = 1 and Comprobante.FactTipo in ( 1, 3, 4, 47, 48, 49 ) then 1
				when @CompElectr = 1 and Comprobante.FactTipo in ( 27, 28, 29, 33, 35, 36, 54, 55, 56 ) then 1
				else 0
			  end = 1
			  and Comprobante.Anulado = 0
			  and ( ( @FechaDesde is null ) or ( Comprobante.FFch >= @FechaDesde ) ) 
			  and ( ( @FechaHasta is null ) or ( Comprobante.FFch <= @FechaHasta ) )
			  and ( ( @PtVtaDesde is null ) or ( Comprobante.FPTOVEN >= @PtVtaDesde ) ) 
			  and ( ( @PtVtaHasta is null ) or ( Comprobante.FPTOVEN <= @PtVtaHasta ) )
		) as DatosExpo
)