IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_ARCARG5705_IVASimpleRestitucionDebito]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_ARCARG5705_IVASimpleRestitucionDebito];
GO;

CREATE FUNCTION [interfaces].[Interfaz_ARCARG5705_IVASimpleRestitucionDebito]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@PtVtaDesde int,
	@PtVtaHasta int,
	@CompFiscal bit,
	@CompManual bit,
	@CompElectr bit 
)
RETURNS TABLE
AS
RETURN
(
	select 
		cast( ''  as char(6) ) as Actividad,
		'' as TipoOper,	
		--cast( DatosExpo.TipoOper  as char(1) ) as TipoOper,
		cast( DatosExpo.SituacionFiscalCliente as char(1) ) as SitFisCli,
		cast( DatosExpo.CodigoAlicuota as char(1) ) as Alicuota,
		cast( DatosExpo.MontoNetoGravado as varchar(15) ) as NetoGrav, 
		cast( DatosExpo.DebitoFiscalFacturado as varchar(15) ) as DebitoFisc,
		cast( DatosExpo.MontoNetoExentoONoGrav as varchar(15) )  as Exento,
		DatosExpo.fart as Articulo -- para poder indicar en el mensaje de error, al validar la exportación si faltara alguna clasificación
	from ( 
		select 
			Cliente.ClCod, CLIENTE.CLNOM, CLIENTE.CLIVA, comprob.descfw,
			det.fart,
			--Funciones.ObtenerDatosIvaSimple( 3, Det.fart, @CodActividad ) as TipoOper,  -- 3: tipo oper restitución débito fiscal

			case when Comprob.Fperson = '' then 3 else   -- Factura sin cliente asignado
				CASE 
					WHEN Cliente.ClIVA = 1 THEN 1 -- Operaciones con Responsables Inscriptos
					WHEN Cliente.ClIVA = 7 THEN 2 -- Operaciones con Monotributistas - Régimen Simplificado
					else 3						  -- Operaciones con Consumidores Finales, Exentos y No Alcanzados
				END 
			end AS SituacionFiscalCliente,

			case 
				when Art.ARTPORIVA = 2.5 then 9	-- VER CONVERSIONVALORES SI CONVIENE
				when Art.ARTPORIVA = 5.0 then 8
				when Art.ARTPORIVA = 10.5 then 4
				when Art.ARTPORIVA = 21.0 OR (Art.ARTPORIVA = 0.00 and Art.ARTCONIVA in (0, 1)) then 5 -- 21%   
				when Art.ARTPORIVA = 27.0 then 6								
				when Art.ARTPORIVA = 0.00 and ( Art.ARTCONIVA = 2 or Art.ARTCONIVA = 5 ) then 3 -- NO GRAVADO 
			END as CodigoAlicuota,			
			cast( (Det.Fneto - Det.mntpdessi ) as numeric( 15, 2 ) )  as MontoNetoGravado, -- considerando dto gral
			cast( (Det.mntpiva ) as numeric( 15, 2 ) ) as DebitoFiscalFacturado, --  considerando dto gral
			cast( (Det.Fneto - Det.mntpdessi) as numeric(15,2 ) ) as MontoNetoExentoONoGrav

		from ZooLogic.ComprobanteVDet as Det
			inner join [ZooLogic].COMPROBANTEV as Comprob on Comprob.codigo = Det.Codigo
			left join [ZooLogic].[Cli] as Cliente on Comprob.FPerson = Cliente.ClCod
			left join Zoologic.Art as Art on Det.FART = art.ARTCOD

		where case 
				when @CompFiscal = 1 and (Comprob.FactTipo in ( 5 ) ) then 1 
				when @CompManual = 1 and (Comprob.FactTipo in ( 3,  48 ) ) then 1 
				when @CompElectr = 1 and (Comprob.FactTipo in ( 28, 35, 55 ) ) then 1 
				else 0
			  end = 1 				-- se toman en cuenta las notas de crédito 
			  and Comprob.Anulado = 0
			  and ( ( @FechaDesde is null ) or ( Comprob.FFch >= @FechaDesde ) ) 
			  and ( ( @FechaHasta is null ) or ( Comprob.FFch <= @FechaHasta ) )
			  and ( ( @PtVtaDesde is null ) or ( Comprob.FPTOVEN >= @PtVtaDesde ) ) 
			  and ( ( @PtVtaHasta is null ) or ( Comprob.FPTOVEN <= @PtVtaHasta ) )
		) as DatosExpo

)