IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_ARCARG5705_IVASimpleRestitucionCredito]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_ARCARG5705_IVASimpleRestitucionCredito];
GO;

CREATE FUNCTION [interfaces].[Interfaz_ARCARG5705_IVASimpleRestitucionCredito]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@FechaEmisionDesde varchar(10),
	@FechaEmisionHasta varchar(10),
	@CompFiscal bit,
	@CompManual bit,
	@CompElectr bit,
	@CompDespacho bit,
	@CompLiqA bit,
	@CompLiqB bit,
	@CompServPubA bit,
	@CompServPubB bit,
	@CompReciboA bit,
	@CompReciboC bit
)
RETURNS TABLE
AS
RETURN
(
	select 
		cast( ''  as char(6) ) as Actividad,
		'' as TipoOper,
		cast( DatosExpo.CodigoAlicuota as char(1) )  as Alicuota,
		cast( DatosExpo.MontoNetoGravado as varchar(15) ) as NetoGrav, 
		cast( DatosExpo.CreditoFiscalFacturado as varchar(15) ) as CFFac,
		DatosExpo.fart as Articulo -- para poder indicar en el mensaje de error, al validar la exportación si faltara alguna clasificación
	from ( 
		select 
			ComprasNc.ClCod, ComprasNc.CLNOM, ComprasNc.CLIVA, ComprasNc.descfw,
			ComprasNc.fart,
			--Funciones.ObtenerDatosIvaSimple( 4, ComprasNc.fart, @CodActividad ) as TipoOper, -- 4: tipo oper crédito fiscal

			case 
				when ComprasNc.ANX2 = 2.5 then 9	-- VER CONVERSIONVALORES SI CONVIENE
				when ComprasNc.ANX2 = 5.0 then 8
				when ComprasNc.ANX2 = 10.5 then 4
				when ComprasNc.ANX2 = 21.0 OR (ComprasNc.ANX2 = 0.00 and ComprasNc.ARTIVA in (0, 1)) then 5 -- 21%   
				when ComprasNc.ANX2 = 27.0 then 6								
				when ComprasNc.ANX2 = 0.00 and ( ComprasNc.ARTIVA IN (2,5,4 ) ) then 3 -- NO GRAVADO
			END as CodigoAlicuota,					
			--cast( (ComprasNc.Fneto) as numeric( 15, 2 ) )  as MontoNetoGravado,
			--cast( (ComprasNc.FMTOIVA) as numeric( 15, 2 ) ) as CreditoFiscalFacturado
			cast( (ComprasNc.Fneto - ComprasNc.mntpdessi ) as numeric( 15, 2 ) )  as MontoNetoGravado, -- considerando dto gral
			cast( (ComprasNc.mntpiva ) as numeric( 15, 2 ) ) as CreditoFiscalFacturado --  considerando dto gral

			from
			(
				select Proveedor.ClCod, Proveedor.CLNOM, Proveedor.CLIVA, comprob.descfw, comprob.facttipo, comprob.anulado, comprob.ffch, comprob.fptoven, comprob.ffchfac,
					comprob.TCRG1361, det.FART, Art.ANX2, Art.ARTIVA, Det.Fneto, Det.FMTOIVA, Det.MNTPDESSI, Det.MNTPIVA
				from ZooLogic.NcCompraDet det  
				inner join [ZooLogic].[NcCompra] comprob on det.codigo = comprob.codigo -- and det.fneto >= 0
				left join [ZooLogic].[Prov] as Proveedor on Comprob.FPerson = Proveedor.ClCod
				left join Zoologic.Art as Art on Det.FART = art.ARTCOD

				where not (ANX2 = 0.00 and ( ARTIVA IN (2,5,4 ) ) )-- NO GRAVADO no se informa
			 ) ComprasNc

		where 
			case 
				when @CompFiscal = 1 and ComprasNc.TCRG1361 = 3 then 1 
				when @CompManual = 1 and ComprasNc.TCRG1361 = 1 then 1
				when @CompElectr = 1 and ComprasNc.TCRG1361 = 2 then 1
				when @CompDespacho = 1 and ComprasNc.TCRG1361 = 4 then 1
				when @CompLiqA = 1 and ComprasNc.TCRG1361 = 5 then 1
				when @CompLiqB = 1 and ComprasNc.TCRG1361 = 6 then 1
				when @CompServPubA = 1 and ComprasNc.TCRG1361 = 7 then 1
				when @CompServPubB = 1 and ComprasNc.TCRG1361 = 8 then 1
				when @CompReciboA = 1 and ComprasNc.TCRG1361 = 9 then 1
				when @CompReciboC = 1 and ComprasNc.TCRG1361 = 10 then 1
				else 0
			end = 1
			  and ComprasNc.Anulado = 0
			  and ( ( @FechaDesde is null ) or ( ComprasNc.FFch >= @FechaDesde ) ) 
			  and ( ( @FechaHasta is null ) or ( ComprasNc.FFch <= @FechaHasta ) )
			  and ( ( @FechaEmisionDesde is null ) or ( ComprasNc.FFCHFAC >= @FechaEmisionDesde ) ) 
              and ( ( @FechaEmisionHasta is null ) or ( ComprasNc.FFCHFAC <= @FechaEmisionHasta ) )

		) as DatosExpo

)