IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_AFIP_RetencionesYPercepcionesSufridasGananciasPJ]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_AFIP_RetencionesYPercepcionesSufridasGananciasPJ];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_AFIP_RetencionesYPercepcionesSufridasGananciasPJ]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set Comprobantes.FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[FacCompra] as Comprobantes
		join [ZooLogic].[Impfacc] as Percepciones on Comprobantes.Codigo = Percepciones.CCod
		join [ZooLogic].[Impuesto] as Impuestos on Percepciones.CodImp = Impuestos.Codigo and Impuestos.Aplicacion = 'PRC' and Impuestos.Tipo = 'GANANCIAS'
	where Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
	
	update [ZooLogic].[CompRR]
	set FecExpo = @NuevaFechaExportacion
	where FechReci between @FechaComprobanteDesde and @FechaComprobanteHasta
		and TipoImp = 'GANANCIAS'
END