IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_SIFERE_PercepcionesIIBB]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIFERE_PercepcionesIIBB];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIFERE_PercepcionesIIBB]
( 
	@FechaEmisionDesde varchar(10),
	@FechaEmisionHasta varchar(10),
	@FechaIngresoDesde varchar(10),
	@FechaIngresoHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[FacCompra] as Comprobantes
		join [ZooLogic].[ImpFacC] as DetalleImpuestos on Comprobantes.Codigo = DetalleImpuestos.CCod
		join [ZooLogic].[Impuesto] as Impuestos on DetalleImpuestos.CodImp = Impuestos.Codigo and Impuestos.Tipo = 'IIBB' and Impuestos.Aplicacion = 'PRC'
	where Comprobantes.Anulado = 0
		and Comprobantes.FFchFac between @FechaEmisionDesde and @FechaEmisionHasta
		and Comprobantes.FFch between @FechaIngresoDesde and @FechaIngresoHasta
	
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[NCCompra] as Comprobantes
		join [ZooLogic].[ImpNCC] as DetalleImpuestos on Comprobantes.Codigo = DetalleImpuestos.CCod
		join [ZooLogic].[Impuesto] as Impuestos on DetalleImpuestos.CodImp = Impuestos.Codigo and Impuestos.Tipo = 'IIBB' and Impuestos.Aplicacion = 'PRC'
	where Comprobantes.Anulado = 0
		and Comprobantes.FFchFac between @FechaEmisionDesde and @FechaEmisionHasta
		and Comprobantes.FFch between @FechaIngresoDesde and @FechaIngresoHasta

	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[NDCompra] as Comprobantes
		join [ZooLogic].[ImpNDC] as DetalleImpuestos on Comprobantes.Codigo = DetalleImpuestos.CCod
		join [ZooLogic].[Impuesto] as Impuestos on DetalleImpuestos.CodImp = Impuestos.Codigo and Impuestos.Tipo = 'IIBB' and Impuestos.Aplicacion = 'PRC'
	where Comprobantes.Anulado = 0
		and Comprobantes.FFchFac between @FechaEmisionDesde and @FechaEmisionHasta
		and Comprobantes.FFch between @FechaIngresoDesde and @FechaIngresoHasta
END