IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerNumeroDeCaeDelComprobante]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerNumeroDeCaeDelComprobante];
GO;

CREATE FUNCTION [Funciones].[ObtenerNumeroDeCaeDelComprobante]
( 
	@Comprobante varchar(50) 
)
RETURNS varchar (20)
AS
BEGIN

	declare @retorno varchar (20)
	set @retorno = 
	(
		Select top 1 Numero from ZooLogic.CAE where Codigo = @Comprobante
	)

	return coalesce( @retorno, '' )

END