IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_SIRCAR_RestoDeLasJurisdicciones_IIBB_Retenciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Interfaces].[Interfaz_SIRCAR_RestoDeLasJurisdicciones_IIBB_Retenciones];
GO;

Create Function [Interfaces].[Interfaz_SIRCAR_RestoDeLasJurisdicciones_IIBB_Retenciones]
(
	@FechaDesde varchar(10),
	@FechaHasta varchar(10)
)
RETURNS TABLE
AS
RETURN
(	
Select 
	cast(Funciones.padl(Datosexpo.CantLineas,5,'0') as char(5)) as Renglon,	
	'1' as Origen,
	'1' as Tipo,
	cast( Funciones.padl( funciones.alltrim(cast( DatosExpo.PtoVenta as char(4) )), 4, '0' ) + Funciones.padl( funciones.alltrim(cast( DatosExpo.NumOP as char(8) )), 8, '0' ) as char(12)) as NComprob,
	cast( DatosExpo.ClCuit as char(11)) as CUIT,
	cast( DatosExpo.Diafecha + '/' + DatosExpo.MesFecha + '/' + DatosExpo.AnioFecha as char(10) ) as FechaRetencion,	
	funciones.alltrim( Funciones.ObtenerMontoConDecimales( DatosExpo.MontoBase, 2, 12 ))  as BaseImponible,
	funciones.alltrim(Funciones.ObtenerMontoConDecimales(DatosExpo.Porcentaje ,2, 6)) as AliPor,	
	funciones.alltrim(Funciones.ObtenerMontoConDecimales( DatosExpo.Monto, 2, 12 )) as MontoRetencion,
	case when funciones.Empty( DatosExpo.RegimenImp) = 1 then case when funciones.Empty( DatosExpo.ImpRegimen) = 1 then '' else Funciones.padl(funciones.alltrim(cast( DatosExpo.ImpRegimen as char(3))), 3, '0') end else Funciones.padl(funciones.alltrim(cast( DatosExpo.RegimenImp as char(3))), 3, '0') end as Regimen,
	cast( funciones.Alltrim( jurisdiccion ) as char(3)) as JurisCod
	from (
			Select ROW_NUMBER() over( order by Comprobantes.PtoVenta, Comprobantes.NumOP ) as CantLineas,
				funciones.alltrim( Proveedores.ClCuit) as clcuit, 
				cast( Funciones.padl( cast( day( Comprobantes.Fecha ) as varchar(2) ), 2, '0' ) as char(2) ) as DiaFecha, 
				cast( Funciones.padl( cast( month(Comprobantes.Fecha ) as varchar(2) ), 2, '0' ) as char(2) ) as MesFecha, 
				cast( Funciones.padl( cast( year( Comprobantes.Fecha ) as varchar(4) ), 4, '0' ) as char(4) ) as AnioFecha,
				Comprobantes.PtoVenta, Comprobantes.Numero, Comprobantes.NumOP, ImpuestosVentas.Monto, ImpuestosVentas.MontoBase, 
				ImpuestosVentas.Porcentaje, ImpuestosVentas.RegimenImp, CodigoImpuesto.REGIMENIMP as ImpRegimen,
				ImpuestosVentas.Jurisdicci as jurisdiccion
				from ZooLogic.COMPRET as  Comprobantes
					join ZooLogic.CrimpDet as ImpuestosVentas on Comprobantes.Codigo = ImpuestosVentas.Codigo
					left join ZooLogic.Prov as Proveedores on Comprobantes.Prov = Proveedores.ClCod
					left join ZooLogic.IMPUESTO  as CodigoImpuesto on ImpuestosVentas.CODIMP = CodigoImpuesto.CODIGO
				where Comprobantes.TipoImp = 'IIBB'
					and Comprobantes.Anulado = 0 
					and Comprobantes.Fecha between @FechaDesde and @FechaHasta				
					and Funciones.Alltrim( ImpuestosVentas.Jurisdicci ) in ('903','905','906','907','909','910','911','912','913','914','915','916','917','918','919','920','921','922','923' )
		) as DatosExpo	
 )
