IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_ATP_CHACO_IIBB_Percepciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_ATP_CHACO_IIBB_Percepciones];
GO;


CREATE FUNCTION [Interfaces].[Interfaz_ATP_CHACO_IIBB_Percepciones]
( 
	@FechaEmisionDesde varchar(10),
	@FechaEmisionHasta varchar(10),
	@CuitEmpresa varchar(11)
)
RETURNS TABLE
AS
RETURN
(
	select 
		cast( DatosExpo.CuitAgente as char(11) ) as CuitAgente,
		cast( DatosExpo.TipoComp as char(1) ) as TipoComp,
		cast( DatosExpo.NumeroComp as char(14) ) as NumeroComp,
		cast( DatosExpo.CuitCliente as char(11) ) as CuitCliente,
		cast( DatosExpo.TipoDoc as char(1) ) as TipoDoc,
		cast( DatosExpo.NroDoc as char(8) ) as NroDoc,
		cast( funciones.padr( funciones.Alltrim(DatosExpo.NomRZ), 30, ' ' ) as char(30) ) as NomRZ,
		cast( DatosExpo.Diafecha + DatosExpo.MesFecha + DatosExpo.AnioFecha as char(8) ) as FechaEmision,
		cast( funciones.padl( DatosExpo.MontoPercep, 11, '0' ) as char(11) ) as MontoPercep,
		cast( funciones.padl( DatosExpo.CodConcepto, 2, '0' ) as char(2) ) as CodConcepto,
		cast( funciones.padl( DatosExpo.MontoImponible, 11, '0' ) as char(11) ) as MontoImponible,
		cast( funciones.padl( DatosExpo.Alicuota, 4, '0' ) as char(11) ) as Alicuota
		from (		
			select	
				@CuitEmpresa as CuitAgente,
				case when FACTTIPO in (1,2,27,54) and FLETRA = 'A' then 1
					 when FACTTIPO in (1,2,27,54) and FLETRA = 'B' then 2
					 when FACTTIPO =13 and FLETRA = 'A' then 3
					 when FACTTIPO =13 and FLETRA = 'B' then 4
					 when FACTTIPO in(3,5,28,55) and FLETRA = 'A' then 5
					 when FACTTIPO in(3,5,28,55) and FLETRA = 'B' then 6
					 when FACTTIPO in(4,6,29,56) and FLETRA = 'A' then 7
					 when FACTTIPO in(4,6,29,56) and FLETRA = 'A' then 8 
					 else 0
				end as TipoComp,
				funciones.padl(fptoven,5,'0')+funciones.padl(FNUMCOMP,9,'0') as NumeroComp, 		
				cliente.CLCUIT as CuitCliente,
				case when convert(int,cliente.CLTIPODOC) = 5 then '1'
					 when convert(int,cliente.CLTIPODOC) = 4 then '2'
					 when convert(int,cliente.CLTIPODOC) = 3 then '3'
					 else 4
				end as TipoDoc,
				cliente.CLNRODOC as NroDoc,		
				cliente.CLNOM as NomRZ,
				cast( Funciones.padl( cast( day( comprobantes.ffch ) as varchar(2) ), 2, '0' ) as char(2) ) as DiaFecha, 
				cast( Funciones.padl( cast( month( comprobantes.ffch ) as varchar(2) ), 2, '0' ) as char(2) ) as MesFecha, 
				cast( Funciones.padl( cast( year( comprobantes.ffch ) as varchar(4) ), 4, '0' ) as char(4) ) as AnioFecha,				
				convert(int,round(MONTOBASE * (PORCEN *0.01) ,2)*100) as MontoPercep,
				Impuestos.REGIMENIMP as CodConcepto,
				convert(bigint,round(Impuestos.MONTOBASE,2) *100 ) as MontoImponible,			
				convert(int,round(Impuestos.PORCEN,2) *100 ) as Alicuota			
			from [ZooLogic].[COMPROBANTEV] Comprobantes
			join ZooLogic.CLI cliente on cliente.CLCOD = comprobantes.FPERSON
			join ZooLogic.IMPVENTAS Impuestos on Comprobantes.CODIGO = Impuestos.CCOD
			where FACTTIPO in(1,2,27,54, 3,5,28,55, 4,6,29,56, 13)
				and Impuestos.TIPOI = 'IIBB'
				and Impuestos.JURID = 906			
				and Comprobantes.Anulado = 0
				and Comprobantes.FFch >= @FechaEmisionDesde and Comprobantes.FFch <= @FechaEmisionHasta
			) as DatosExpo
)

