IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_EFlexware_Cabecera_ValoresCC]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_EFlexware_Cabecera_ValoresCC];
GO;

CREATE FUNCTION [Interfaces].[Datos_EFlexware_Cabecera_ValoresCC]
(
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@Zona varchar(4),
	@CausaEmision varchar(4),
	@TipoCliente varchar(4),
	@BlanquearClienteB bit, 
	@EsPedidoDeVentas bit,
	@ExportarDescripAdicional1 bit,
	@GrupoEnCabecera varchar(12),
	@CodVendedor varchar(4),
	@CodigoClienteCompEnCero varchar(6),
	@ExportarVacioCodigoAdicional1 bit
	
)
RETURNS TABLE
AS
RETURN
(
	select 'RCA' as TipoComprobante,
		DatosExpoIntermedios.Letra as LetraComprobante,
		DatosExpoIntermedios.PuntoVenta,
		DatosExpoIntermedios.NumeroComprobante as NumeroComprobanteDesde,
		'' as NumeroComprobanteHasta,
		DatosExpoIntermedios.Fecha as FechaComprobante,
		DatosExpoIntermedios.CodigoCliente,
		DatosExpoIntermedios.RazonSocialCliente,
		DatosExpoIntermedios.TipoDocumentoCliente,
		DatosExpoIntermedios.ProvinciaCliente,
		DatosExpoIntermedios.CondicionIVACliente,
		case when DatosExpoIntermedios.CondicionIVACliente = '3' then DatosExpoIntermedios.NumeroDocumentoCliente else DatosExpoIntermedios.CuitCliente end as NumeroDocumentoCliente,
		DatosExpoIntermedios.NumeroIIBBCliente,
		DatosExpoIntermedios.CodigoVendedor,
		DatosExpoIntermedios.Zona,

		--DatosExpoIntermedios.ClasificacionSecundariaCliente as ClasificacionCliente1,
		case when @ExportarVacioCodigoAdicional1 = 0 then DatosExpoIntermedios.ClasificacionSecundariaCliente else '' end as ClasificacionCliente1,

		'2' as CondicionVenta,
		@CausaEmision as CausaEmision,
		DatosExpoIntermedios.Fecha as FechaVencimiento,
		DatosExpoIntermedios.TotalComprobante,
		case when @EsPedidoDeVentas = 1 then '' else 'DC' end as CodigoDescuentoComercial,
		case when @EsPedidoDeVentas = 1 then '' else 'DF' end as CodigoDescuentoFinanciero,
		'' as CodigoDescuentoAlPie,
		DatosExpoIntermedios.BDApertura as AperturaContable,
		@TipoCliente as TipoCliente,
		DatosExpoIntermedios.DireccionCliente,
		DatosExpoIntermedios.CodigoPostalCliente,
		DatosExpoIntermedios.LocalidadCliente,
		DatosExpoIntermedios.ClasificacionCliente as ClasificacionCliente2,
		'' as Mensaje,
		'' as ComprobanteAnulado,
		'N' as ActualizaStock,
		case when @ExportarDescripAdicional1 = 0 then DatosExpoIntermedios.ClasificacionSecundariaCliente else '' end as DescripcionClasificacionCliente1,
		DatosExpoIntermedios.ClasificacionCliente as DescripcionClasificacionCliente2,
		'' as DescripcionTipoCliente,
		'' as DescripcionZona,
		DatosExpoIntermedios.NombreVendedor,
		'' as ComprobantePreparado,
		0.00 as TasaDescuentoComercial1,
		0.00 as TasaDescuentoComercial2,
		0.00 as TasaDescuentoComercial3,
		0.00 as TasaDescuentoFinanciero,
		0.00 as TasaDescuentoVarioOAlPie,
		'' as NumeroCAI,
		'' as FechaVencimientoCAI,
		case when DatosExpoIntermedios.EsComprobanteFiscal = 1 then 'S' else '' end as ComprobanteFiscal,
		DatosExpoIntermedios.MailCliente,
		DatosExpoIntermedios.TelefonoCliente,
		DatosExpoIntermedios.FaxCliente,
		DatosExpoIntermedios.Observaciones as ContactoObservacion,
		'' as TipoOperacion,
		'' as NumeroCuota,
		'' as ImporteCuota,
		'' as ComprobanteEnCuotas,
		'' as MonedaComprobante,
		'' as TipoCambio,
		'' as Cotizacion,
		'' as FechaEntrega,
		@GrupoEnCabecera as Grupo,
		'' as Proyecto,
		'' as ListaPrecios,
		'' as LugarEntrega,
		'' as MarcaAutorizacion
	from(
		select DatosExpoBasicos.Letra,
			DatosExpoBasicos.PuntoVenta,
			DatosExpoBasicos.NumeroComprobante,
			Funciones.dtos(DatosExpoBasicos.Fecha) as Fecha,
			DatosExpoBasicos.CodigoCliente,
			DatosExpoBasicos.EsComprobanteFiscal,
			Funciones.EnterPorEspacio(DatosExpoBasicos.Observaciones) as Observaciones,
			DatosExpoBasicos.RazonSocialCliente,
			DatosExpoBasicos.TipoDocumentoCliente,
			DatosExpoBasicos.ProvinciaCliente,
			cast(DatosExpoBasicos.CondicionIVACliente as char(1)) as CondicionIVACliente,
			DatosExpoBasicos.NumeroDocumentoCliente,
			DatosExpoBasicos.CuitCliente,
			DatosExpoBasicos.NumeroIIBBCliente,
			DatosExpoBasicos.ClasificacionSecundariaCliente as ClasificacionCliente1,
			DatosExpoBasicos.Total * DatosExpoBasicos.Signo as TotalComprobante,
			Funciones.ObtenerDireccionCliente(DatosExpoBasicos.CalleCliente, DatosExpoBasicos.NumeroCliente, DatosExpoBasicos.PisoCliente, DatosExpoBasicos.DepartamentoCliente) as DireccionCliente,
			DatosExpoBasicos.CodigoPostalCliente,
			DatosExpoBasicos.LocalidadCliente,
			DatosExpoBasicos.ClasificacionCliente,
			DatosExpoBasicos.ClasificacionSecundariaCliente,
			left(DatosExpoBasicos.CodigoVendedor, 4) as CodigoVendedor,
			DatosExpoBasicos.NombreVendedor,
			DatosExpoBasicos.MailCliente,
			DatosExpoBasicos.TelefonoCliente,
			DatosExpoBasicos.FaxCliente,
			DatosExpoBasicos.BDApertura,
			DatosExpoBasicos.Zona
		from(
			select Comprobantes.FLetra as Letra,
				Comprobantes.FPtoVen as PuntoVenta,
				Comprobantes.FNumComp as NumeroComprobante,
				Comprobantes.FFch as Fecha,	
				Comprobantes.FTotal - DetalleValores.MontoCC as Total,
				Comprobantes.Anulado as EsComprobanteAnulado,
				case when Funciones.EsComprobanteNotaDeCredito(Comprobantes.FactTipo) = 1 then 1 else -1 end as Signo,
				Funciones.EsComprobanteFiscal(Comprobantes.FactTipo) as EsComprobanteFiscal,
				[Interfaces].[Auxiliar_EFlexware_CodigoCliente] (EFLEXCODIGOCLIENTE_valconv_bd.ValDest, EFLEXCODIGOCLIENTE_valconv_cl.ValDest, EFLEXCODIGOCLIENTE_cabconv.Accion,
					EFLEXCODIGOCLIENTE_cabconv.ValorDef, Comprobantes.FPerson, Comprobantes.FLetra, Comprobantes.FTotal, DetalleValores.Vuelto, DetalleValores.CantidadCC,
					@BlanquearClienteB, @CodigoClienteCompEnCero) as CodigoCliente,
				Funciones.alltrim(Comprobantes.FCliente) as RazonSocialCliente,
				Funciones.alltrim(Comprobantes.FObs) as Observaciones,
				case when Clientes.ClTipoDoc is null then '05' else (case when Clientes.ClCuit <> '' then '01' else (case when Clientes.ClTipoDoc = '' then '05' else Clientes.ClTipoDoc end) end) end as TipoDocumentoCliente,
				case when Clientes.ClIVA is null then 5 else (case when Clientes.ClIVA = 12 then 4 else Clientes.ClIVA end ) end as CondicionIVACliente,
				case when Clientes.ClNroDoc is null or Clientes.ClNroDoc = '' then '0' else Funciones.alltrim(Clientes.ClNroDoc) end as NumeroDocumentoCliente,
				case when Clientes.ClCuit is null or Clientes.ClCuit = '' then '0' else Funciones.alltrim(Clientes.ClCuit) end as CuitCliente,
				case when Clientes.ClNroIIBB is null then 0 else Clientes.ClNroIIBB end as NumeroIIBBCliente,
				case when Clientes.ClEmail is null then '' else Funciones.alltrim(Clientes.ClEmail) end as MailCliente,
				case when Clientes.ClTlf is null then '' else Funciones.alltrim(Clientes.ClTlf) end as TelefonoCliente,
				case when Clientes.ClFax is null then '' else Funciones.alltrim(Clientes.ClFax) end as FaxCliente,
				case when Clientes.ClClas is null then '' else Funciones.alltrim(Clientes.ClClas) end as ClasificacionCliente,
				case when Clientes.ClSer is null or Clientes.ClSer = 0 then '' else Funciones.alltrim(Clientes.ClSer) end as ClasificacionSecundariaCliente,
				case when Clientes.ClCalle is null then '' else Funciones.alltrim(Clientes.ClCalle) end as CalleCliente,
				case when Clientes.ClNro is null or Clientes.ClNro = 0 then '' else cast(Clientes.ClNro as varchar(5)) end as NumeroCliente,
				case when Clientes.ClPiso is null then '' else Funciones.alltrim(Clientes.ClPiso) end as PisoCliente,
				case when Clientes.ClDepto is null then '' else Funciones.alltrim(Clientes.ClDepto) end as DepartamentoCliente,
				case when Clientes.ClCP is null then '' else Funciones.alltrim(Clientes.ClCP) end as CodigoPostalCliente,
				case when Clientes.ClLoc is null then '' else Funciones.alltrim(Clientes.ClLoc) end as LocalidadCliente,
				case when @EsPedidoDeVentas = 0  
					then case when VENDEDORVENTAS_valconv.ValDest is null 
						then case when VENDEDORVENTAS_cabconv.accion = 'DEF'
								then Funciones.alltrim(VENDEDORVENTAS_cabconv.ValorDef)
								else case when Comprobantes.FVen = '' then @CodVendedor else Funciones.alltrim(Comprobantes.FVen) end
								end
						else Funciones.alltrim(VENDEDORVENTAS_valconv.ValDest)
						end	
					else  
						case when VENDEDORPEDIDOVENTAS_valconv.ValDest is null 
							then case when VENDEDORPEDIDOVENTAS_cabconv.accion = 'DEF'
									then Funciones.alltrim(VENDEDORPEDIDOVENTAS_cabconv.ValorDef)
									else Funciones.alltrim(Comprobantes.FVen)
									end
							else Funciones.alltrim(VENDEDORPEDIDOVENTAS_valconv.ValDest)
						end	
					end as CodigoVendedor,
				case when @EsPedidoDeVentas = 0  
					then case when VENDEDORVENTAS_valconv.ValDest is null 
						then case when VENDEDORVENTAS_cabconv.accion = 'DEF'
								then Funciones.alltrim(VENDEDORVENTAS_cabconv.ValorDef)
								else case when Vendedores.ClNom is null or Comprobantes.FVen = '' then @CodVendedor else Funciones.alltrim(Vendedores.ClNom) end
								end
						else Funciones.alltrim(VENDEDORVENTAS_valconv.ValDest)
						end	
					else  
						case when VENDEDORPEDIDOVENTAS_valconv.ValDest is null 
							then case when VENDEDORPEDIDOVENTAS_cabconv.accion = 'DEF'
									then Funciones.alltrim(VENDEDORPEDIDOVENTAS_cabconv.ValorDef)
									else Funciones.alltrim(Vendedores.ClNom)
									end
							else Funciones.alltrim(VENDEDORPEDIDOVENTAS_valconv.ValDest)
						end	
					end as NombreVendedor,				
				case when EFLEXWARECONVERSIONPROVINCIAS_valconv.ValDest is null then EFLEXWARECONVERSIONPROVINCIAS_cabconv.Valordef else EFLEXWARECONVERSIONPROVINCIAS_valconv.ValDest end as ProvinciaCliente,
				case when APERTURA_valconv.ValDest is null then APERTURA_cabconv.Valordef else APERTURA_valconv.ValDest end as BDApertura,
				case when EFLEXCODIGOZONAPORBD_valconv.ValDest is null then @Zona else cast(EFLEXCODIGOZONAPORBD_valconv.ValDest as varchar(3)) end as Zona
			from [ZooLogic].[ComprobanteV] as Comprobantes
				join (
					select DetalleValores.JjNum as CodigoComprobante,
						count(*) as CantidadValores,
						sum(case when DetalleValores.JjT = 6 then abs(DetalleValores.RecPesos) else 0 end) as MontoCC,
						sum(case when DetalleValores.JjT = 6 then 1 else 0 end) as CantidadCC,
						sum(case when DetalleValores.EsVuelto = 1 then abs(DetalleValores.RecPesos) else 0 end) as Vuelto
					from [ZooLogic].[Val] as DetalleValores
					group by DetalleValores.JjNum
					) as DetalleValores on Comprobantes.Codigo = DetalleValores.CodigoComprobante and DetalleValores.CantidadValores >= 2 and DetalleValores.MontoCC <> 0
				left join [ZooLogic].[Cli] as Clientes on Comprobantes.FPerson = Clientes.ClCod
				left join [ZooLogic].[Ven] as Vendedores on Comprobantes.FVen = Vendedores.ClCod
				left join [Organizacion].[Conver] as EFLEXWARECONVERSIONPROVINCIAS_cabconv on EFLEXWARECONVERSIONPROVINCIAS_cabconv.Codigo = 'EFLEXWARECONVERSIONPROVINCIAS'
				left join [Organizacion].[ConverVal] as EFLEXWARECONVERSIONPROVINCIAS_valconv on EFLEXWARECONVERSIONPROVINCIAS_cabconv.Codigo = EFLEXWARECONVERSIONPROVINCIAS_valconv.Conversion and EFLEXWARECONVERSIONPROVINCIAS_valconv.ValOrig = Clientes.ClPrv 
				left join [Organizacion].[ConverVal] as EFLEXCODIGOZONAPORBD_valconv on EFLEXCODIGOZONAPORBD_valconv.Conversion = 'EFLEXCODIGOZONAPORBD' and EFLEXCODIGOZONAPORBD_valconv.VALORIG = Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as APERTURA_cabconv on APERTURA_cabconv.Codigo = 'APERTURA'
				left join [Organizacion].[ConverVal] as APERTURA_valconv on APERTURA_cabconv.Codigo = APERTURA_valconv.Conversion and APERTURA_valconv.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as EFLEXCODIGOCLIENTE_cabconv on EFLEXCODIGOCLIENTE_cabconv.Codigo = 'EFLEXCODIGOCLIENTE'
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_cl on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_cl.Conversion and EFLEXCODIGOCLIENTE_valconv_cl.ValOrig = Comprobantes.FPerson
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_bd on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_bd.Conversion and EFLEXCODIGOCLIENTE_valconv_bd.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as VENDEDORVENTAS_cabconv on VENDEDORVENTAS_cabconv.Codigo = 'EFLEXCODIGOVENDEDORVENTAS'
				left join [Organizacion].[ConverVal] as VENDEDORVENTAS_valconv on VENDEDORVENTAS_cabconv.Codigo = VENDEDORVENTAS_valconv.Conversion and VENDEDORVENTAS_valconv.ValOrig = Comprobantes.FVen
				left join [Organizacion].[Conver] as VENDEDORPEDIDOVENTAS_cabconv on VENDEDORPEDIDOVENTAS_cabconv.Codigo = 'EFLEXCODIGOVENDEDORPEDIDOVENTAS'
				left join [Organizacion].[ConverVal] as VENDEDORPEDIDOVENTAS_valconv on VENDEDORPEDIDOVENTAS_cabconv.Codigo = VENDEDORPEDIDOVENTAS_valconv.Conversion and VENDEDORPEDIDOVENTAS_valconv.ValOrig = Comprobantes.FVen
			where (( @EsPedidoDeVentas = 0 and Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49, 54, 55, 56) or @EsPedidoDeVentas = 1 and Comprobantes.FactTipo = 23 ))  
				and Comprobantes.FLetra between @LetraDesde and @LetraHasta
				and Comprobantes.FPtoVen between @PuntoVentaDesde and @PuntoVentaHasta
				and Comprobantes.FNumComp between @NumeroComprobanteDesde and @NumeroComprobanteHasta
				and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
				and Comprobantes.FecExpo between @FechaExportacionDesde and @FechaExportacionHasta
				and Comprobantes.Anulado = 0
			) as DatosExpoBasicos
		) as DatosExpoIntermedios
)