If EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerOrdenEnLaCurvaDeTalle]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerOrdenEnLaCurvaDeTalle];
GO;

CREATE FUNCTION [Funciones].[ObtenerOrdenEnLaCurvaDeTalle]
	( @CodigoArticulo char(15),
	  @CodigoTalle char(5),
	  @CodigoCurva varchar(10),
	  @CodigoGrupo varchar(10) )

RETURNS numeric( 3, 0 )
AS
BEGIN

declare @retorno numeric(3,0)


	if (@CodigoCurva IS NULL) or ( @CodigoCurva ='' ) 

		set @retorno = ( SELECT dc.ORDEN
		FROM [ZooLogic].[ART] a
		left join [ZooLogic].[GRUPO] g on g.COD = a.GRUPO and 0 = Funciones.empty( a.GRUPO )
		left join [ZooLogic].[DCTALLE] dc on dc.CODIGO = g.CURTALL and 0 = Funciones.empty( g.CURTALL )
		where ( ( a.ARTCOD = @CodigoArticulo ) or ( @CodigoArticulo is null ) )
		and ( ( dc.CODTALL = @CodigoTalle ) or ( @CodigoTalle  is null ) ) ) ;

	else
	
		set @retorno = ( SELECT dc.ORDEN
		FROM [ZooLogic].[ART] a
		inner join [ZooLogic].[DCTALLE] dc on dc.CODIGO = a.CURTALL
		where a.ARTCOD = @CodigoArticulo 
		and dc.CODIGO = @CodigoCurva 
		and dc.CODTALL = @CodigoTalle ) ;

	return @retorno

End
