IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIP_GenericoRetencionesYPercepcionesSufridas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIP_GenericoRetencionesYPercepcionesSufridas];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIP_GenericoRetencionesYPercepcionesSufridas]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@TipoImpuesto varchar(10),
	@IncluyePercepciones bit,
	@IncluyeRetenciones bit
	 
)
RETURNS TABLE
AS
RETURN
(	
	select cast( Funciones.Padl( Funciones.Alltrim( DatosExpo.Regimen ), 3, '0') as char(3) ) as Regimen,
		replace( replace( DatosExpo.Cuit,'-',''),' ','') as CuitAgente,
		cast( Funciones.padl( cast( day( DatosExpo.Fecha ) as varchar(2) ), 2, '0' ) as char(2) ) as DiaFecha, 
		cast( Funciones.padl( cast( month( DatosExpo.Fecha ) as varchar(2) ), 2, '0' ) as char(2) ) as MesFecha, 
		cast( Funciones.padl( cast( year( DatosExpo.Fecha ) as varchar(4) ), 4, '0' ) as char(4) ) as AnioFecha, 
		DatosExpo.NumeroCertificado as NumeroCertificado,
		DatosExpo.Importe as Importe,
		DatosExpo.TipoDeOperacion as TipoDeOperacion
	from 
		(
		select '1' as TipoDeOperacion,
			Comprobante.Regimen as Regimen,
			Comprobante.Cuit as Cuit,
			Comprobante.Fechreci as Fecha,	
            substring( Comprobante.numecert,1,1)
            + Funciones.padl(replace( substring( Comprobante.numecert,2,4), ' ','' ), 7, '0')
            + Funciones.padl(replace( substring( Comprobante.numecert,6,8), ' ','' ), 8, '0')  as NumeroCertificado,
			Comprobante.Rtotal as Importe					
		from [ZooLogic].[CompRR] as Comprobante		
		where Comprobante.Fechreci >= @FechaDesde and Comprobante.Fechreci <= @FechaHasta
			and Comprobante.Tipoimp = @TipoImpuesto and @IncluyeRetenciones = 1
		
		union all
		
		select '2' as TipoDeOperacion,
			Impuestos.RegimenImp as Regimen,
			Comprobantes.Fcuit as CuitAgente,
			Comprobantes.Ffch as Fecha,
			cast( Funciones.padl( cast( case when Comprobantes.Fptovenext = 0 then Comprobantes.Fptoven else Comprobantes.Fptovenext end as varchar(8) ), 8, '0') as char(8) ) +
			cast( Funciones.padl( cast( Comprobantes.Fnumcomp as varchar(8) ), 8, '0') as char(8) ) as NumeroCertificado,
			sum( Percepciones.Monto ) as Importe
		from [ZooLogic].[FacCompra] as Comprobantes
			join [ZooLogic].[Impfacc] as Percepciones on Comprobantes.CODIGO = Percepciones.Ccod
			join [ZooLogic].[Impuesto] as Impuestos on Percepciones.Codimp = Impuestos.Codigo and impuestos.Aplicacion ='PRC'
		where Comprobantes.Ffch >= @FechaDesde and Comprobantes.Ffch <= @FechaHasta
			and Impuestos.Tipo = @TipoImpuesto and @IncluyePercepciones = 1		
		group by Impuestos.Regimenimp,
			Comprobantes.Fcuit,
			Comprobantes.Ffch,
			Comprobantes.Fptovenext,
			Comprobantes.Fptoven,
			Comprobantes.Fnumcomp, 
			Percepciones.Codimp

union all

		select '2' as TipoDeOperacion,
			Impuestos.RegimenImp as Regimen,
			Comprobantes.Fcuit as CuitAgente,
			Comprobantes.Ffch as Fecha,
			cast( Funciones.padl( cast( case when Comprobantes.Fptovenext = 0 then Comprobantes.Fptoven else Comprobantes.Fptovenext end as varchar(8) ), 8, '0') as char(8) ) +
			cast( Funciones.padl( cast( Comprobantes.Fnumcomp as varchar(8) ), 8, '0') as char(8) ) as NumeroCertificado,
			sum( Percepciones.Monto )*(-1) as Importe
		from [ZooLogic].[NCCOMPRA] as Comprobantes
			join [ZooLogic].[IMPNCC] as Percepciones on Comprobantes.CODIGO = Percepciones.Ccod
			join [ZooLogic].[Impuesto] as Impuestos on Percepciones.Codimp = Impuestos.Codigo and impuestos.Aplicacion ='PRC'
		where Comprobantes.Ffch >= @FechaDesde and Comprobantes.Ffch <= @FechaHasta
			and Impuestos.Tipo = @TipoImpuesto and @IncluyePercepciones = 1		
		group by Impuestos.Regimenimp,
			Comprobantes.Fcuit,
			Comprobantes.Ffch,
			Comprobantes.Fptovenext,
			Comprobantes.Fptoven,
			Comprobantes.Fnumcomp, 
			Percepciones.Codimp

		union all

		select '2' as TipoDeOperacion,
			Impuestos.RegimenImp as Regimen,
			Comprobantes.Fcuit as CuitAgente,
			Comprobantes.Ffch as Fecha,
			cast( Funciones.padl( cast( case when Comprobantes.Fptovenext = 0 then Comprobantes.Fptoven else Comprobantes.Fptovenext end as varchar(8) ), 8, '0') as char(8) ) +
			cast( Funciones.padl( cast( Comprobantes.Fnumcomp as varchar(8) ), 8, '0') as char(8) ) as NumeroCertificado,
			sum( Percepciones.Monto ) as Importe
		from [ZooLogic].[NDCOMPRA] as Comprobantes
			join [ZooLogic].[IMPNDC] as Percepciones on Comprobantes.CODIGO = Percepciones.Ccod
			join [ZooLogic].[Impuesto] as Impuestos on Percepciones.Codimp = Impuestos.Codigo and impuestos.Aplicacion ='PRC'
		where Comprobantes.Ffch >= @FechaDesde and Comprobantes.Ffch <= @FechaHasta
			and Impuestos.Tipo = @TipoImpuesto and @IncluyePercepciones = 1		
		group by Impuestos.Regimenimp,
			Comprobantes.Fcuit,
			Comprobantes.Ffch,
			Comprobantes.Fptovenext,
			Comprobantes.Fptoven,
			Comprobantes.Fnumcomp, 
			Percepciones.Codimp
		) as DatosExpo
)