IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerComprobantesAfectantesDeUnaOperacionEcommerce]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerComprobantesAfectantesDeUnaOperacionEcommerce];
GO;

CREATE FUNCTION [Funciones].[ObtenerComprobantesAfectantesDeUnaOperacionEcommerce]
(
    @CodigoOperacionEcommerce VARCHAR(50)
)
RETURNS TABLE
AS
RETURN
(
	WITH AfectacionesRecursivas AS (
		SELECT 
			dc.FART,
			dc.CCOLOR,
			dc.TALLE,
			dc.FCANT,
			dc.AFESALDO,
			dc.FPRECIO,
			dc.KITFART,
			dc.KITCCOLOR,
			dc.KITTALLE,
			dc.MNTDES,
			1 AS Nivel,
			Compafe.nroitem, 
			Compafe.AFEFECHA, 
			Compafe.AFETIPO, 
			Compafe.codigo, 
			Compafe.AFETIPOCOM, 
			Compafe.AFELETRA, 
			Compafe.afeptoven, 
			Compafe.AFENUMCOM, 
			Compafe.ORIGEN, 
			Compafe.afecta,
			CompV.ENTREGAPOS,
			opedet.FECCAN,
			opedet.CODHERRCAN 
		FROM ZooLogic.COMPAFE Compafe
		INNER JOIN ZooLogic.OPECOMDET as opedet on opedet.CODIGO = Compafe.CODIGO
		INNER JOIN (Select detc.CODIGO, detc.FART, detc.CCOLOR, detc.TALLE, detc.FCANT, detc.AFESALDO, detc.FPRECIO, detc.MNTDES,
						   coalesce(kit.FART, '') as KITFART, coalesce(kit.CCOLOR,'') as KITCCOLOR, coalesce(kit.TALLE, '') as KITTALLE 
					 from ZooLogic.COMPROBANTEVDET as detc
					 LEFT JOIN ZooLogic.KITDET as kit on kit.IDKIT = detc.IDKIT ) as dc 
				   on Compafe.AFECTA = dc.CODIGO AND ((dc.FART = opedet.OPART and dc.CCOLOR = opedet.OPCOLOR and dc.TALLE = opedet.OPTALLE) 
														or (dc.KITFART = opedet.OPART and dc.KITCCOLOR = opedet.OPCOLOR and dc.KITTALLE = opedet.OPTALLE))
		INNER JOIN ZooLogic.COMPROBANTEV as CompV on Compafe.AFECTA = CompV.CODIGO
		WHERE Compafe.CODIGO = @CodigoOperacionEcommerce and AFETIPOCOM in (1,2,27,11,23)
		--WHERE Compafe.CODIGO = '1F73437B51E49214D921BE4218612074387361' and AFETIPOCOM in (1,2,27,11,23)
		AND Compafe.AFETIPO = 'Afectante'

		UNION ALL

		SELECT 
			dc.FART,
			dc.CCOLOR,
			dc.TALLE,
			dc.FCANT,
			dc.AFESALDO,
			r.FPRECIO,
			r.KITFART,
			r.KITCCOLOR,
			r.KITTALLE,
			dc.MNTDES,
			r.Nivel + 1 as Nivel,
			Compafe.nroitem, 
			Compafe.AFEFECHA, 
			Compafe.AFETIPO, 
			Compafe.codigo, 
			Compafe.AFETIPOCOM, 
			Compafe.AFELETRA, 
			Compafe.afeptoven, 
			Compafe.AFENUMCOM, 
			Compafe.ORIGEN, 
			Compafe.afecta, 
			CompV.ENTREGAPOS,
			r.FECCAN,
			r.CODHERRCAN
		FROM ZooLogic.COMPAFE Compafe
		INNER JOIN AfectacionesRecursivas r ON Compafe.Codigo = r.AFECTA
		INNER JOIN ZooLogic.COMPROBANTEVDET dc ON Compafe.afecta = dc.CODIGO AND dc.FART = r.FART and dc.CCOLOR = r.CCOLOR and dc.TALLE = r.talle
		INNER JOIN ZooLogic.COMPROBANTEV as CompV on Compafe.AFECTA = CompV.CODIGO
		WHERE Compafe.AFETIPO = 'Afectante' 
	)
	SELECT
		@CodigoOperacionEcommerce as ope, Nivel,
		FART, CCOLOR, TALLE, FCANT, AFESALDO, FPRECIO, MNTDES, KITFART, KITCCOLOR, KITTALLE,
		nroitem, AFEFECHA, AFETIPO, codigo, AFETIPOCOM, AFELETRA, afeptoven, AFENUMCOM, ORIGEN, afecta, ENTREGAPOS,
		FECCAN, CODHERRCAN
	FROM AfectacionesRecursivas
	where AFESALDO != 0 and FECCAN <> ''
)