IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIP_RetencionesSufridas_SUSS]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIP_RetencionesSufridas_SUSS];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIP_RetencionesSufridas_SUSS]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10)
)
RETURNS TABLE
AS
RETURN
(	
	select 	cast( Funciones.padl( DatosExpo.CuitAgente, 13, ' ' ) as char(13) ) as CuitAgente,
			cast( DatosExpo.Aniofecha +  DatosExpo.MesFecha + DatosExpo.DiaFecha as char(8) ) as Fecha,
			cast( Funciones.padl( cast( DatosExpo.NumeroCertificado as varchar(25) ), 25, '0' ) as char(25) ) as NumCert,
			cast( Funciones.ObtenerMontoConDecimales( DatosExpo.Importe, 2, 16 ) as char(16) ) as Importe			
	 from [Interfaces].[Interfaz_AFIP_GenericoRetencionesYPercepcionesSufridas](@FechaDesde,@FechaHasta,'SUSS', 0, 1 ) as DatosExpo
	
)