IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[SipribRetenciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Interfaces].[SipribRetenciones];
GO;

Create Function [Interfaces].[SipribRetenciones]
(
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@CodigoRetencion varchar(3)
)
RETURNS TABLE
AS
RETURN
(	
	Select 
	cast( '1' as char(1)) as TipoOperacion,	
	cast( Funciones.FechaSIPRIB(DatosExpo.Fecha) as char(10)) as FechaRetencion,
	cast( DatosExpo.CodigoRetencion as char(3) ) as IncisoEmpresa,
	cast( '03' as char(2)) as TipoComprobante,
	cast( ' ' as char(1)) as LetraComprobante,	
	cast( '0000' + cast(Funciones.padl( cast( DatosExpo.Numop as varchar(8) ), 8, '0' ) as char(8)) + '    ' as char(16)) as NumeroComprobante,
	cast( Funciones.FechaSIPRIB(DatosExpo.Fecha) as char(10)) as FechaComprobante,
	cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.MontoOrige, 2, 15, ',' ) as char(15) ) as MontoComprobante, 	
	cast( case when Funciones.empty(DatosExpo.ClCuit) = 0 then '3' else '1' end as char(1)) as TipoDocumento,
	cast( case when Funciones.empty(DatosExpo.ClCuit) = 0 then DatosExpo.ClCuit else (case when Funciones.empty(DatosExpo.CLNroDoc) = 0 then DatosExpo.CLNroDoc else ''end) end as char(11)) as NumeroDocumento,
	cast( DatosExpo.CondIIBB as char(1)) as CondicionIIBB,
	cast( case when DatosExpo.CondIIBB is not NULL and DatosExpo.CondIIBB = 1 then Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.ClNroIIBB ,0, 10, ',') else '0000000000' end as varchar(10)) as NroInscIIBB,	
	cast( case when DatosExpo.ClIva = 1 then '3' else(case when DatosExpo.ClIva = 3 then '2' else(case when DatosExpo.ClIva = 4 then '1' else(case when DatosExpo.ClIva = 5 then '4' else ' ' end) end ) end) end as varchar(1)) as SituacionIva,
	cast( DatosExpo.OtrosGrav as char(1)) as RIOtrosGravamenes,
	cast( DatosExpo.Registro as char(1)) as MarcaDRI,
	cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.TotImpue, 2, 13, ',' ) as char(13) ) as OtrosGravamenes,
	cast( '0000000000,00' as char(13) ) as ImporteIVA,
	cast( case when DatosExpo.CondIIBB is not NULL and DatosExpo.CondIIBB = 1 then cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.MontoBase, 2, 15, ',' ) as char(15) ) else '000000000000,00' end as varchar(15)) as BaseImponible,
	cast( case when DatosExpo.CondIIBB is not NULL and DatosExpo.CondIIBB = 1 then cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.Porcentaje, 2, 5, ',' ) as char(5) ) else '00,00' end as varchar(5)) as Alicuota, 
	cast( case when DatosExpo.CondIIBB is not NULL and DatosExpo.CondIIBB = 1 then cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.Monto, 2, 15, ',' ) as char(15) ) else '000000000000,00' end as varchar(15)) as Impuesto,
	'000000000,00' as DRI,
	cast( case when DatosExpo.CondIIBB is not NULL and DatosExpo.CondIIBB = 1 then cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.Monto, 2, 15, ',' ) as char(15) ) else '000000000000,00' end as varchar(15)) as MontoRetenido,
	cast( Funciones.padl( cast( DatosExpo.ArticuloIn as varchar(3) ), 3, '0' ) as char(3) ) as ArtInciso,
	cast( ( DatosExpo.TipoExenc -1 ) as char(1) ) as TipoExencion,	
	cast( ( DatosExpo.Anio ) as char(4) ) as AnioExencion,
	case when DatosExpo.Certific = 0 then '      ' else cast( ( DatosExpo.Certific ) as char(6) ) end as CertExencion,
	'000000000000' as CertiPropio
	from (
			Select Comprobantes.Fecha, Comprobantes.Numop, ImpuestosVentas.MontoOrige,
				Proveedores.clCuit, Proveedores.ClNroDoc, proveedores.ClNroIIBB, Proveedores.ClIva, Siprib.CondIIBB, Siprib.OtrosGrav, Siprib.Registro,
				Siprib.ArticuloIn, Siprib.TipoExenc, Siprib.Anio, Siprib.Certific,
				SumImpue.TotImpue,		
				ImpuestosVentas.MontoBase, ImpuestosVentas.Porcentaje, ImpuestosVentas.Monto,
				@CodigoRetencion as CodigoRetencion			
 				from ZooLogic.COMPRET as  Comprobantes
					join ZooLogic.CRIMPDET as ImpuestosVentas on Comprobantes.Codigo = ImpuestosVentas.Codigo and  ImpuestosVentas.Jurisdicci = '921' and Comprobantes.Tipoimp = 'IIBB' 
					left join ZooLogic.Prov as Proveedores on Comprobantes.Prov = Proveedores.ClCod
					left join (select  prov, numop, sum(Crtotal)as TotImpue, fecha
							from ZooLogic.COMPRET
							group by NUMOP, prov, fecha) as SumImpue on  Comprobantes.Numop = SumImpue.Numop and SumImpue.Fecha >= @FechaDesde and SumImpue.Fecha <= @FechaHasta
					join ZooLogic.SIPRIBDATADIC as Siprib on Proveedores.ClSiprib = Siprib.CODIGO
				where Comprobantes.TipoImp = 'IIBB'	and					
						Comprobantes.Anulado = 0
						and Comprobantes.Fecha >= @FechaDesde and Comprobantes.Fecha <= @FechaHasta
		) as DatosExpo
 )
