IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerMonedaDeUnValor]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerMonedaDeUnValor];
GO;

CREATE FUNCTION [Funciones].[ObtenerMonedaDeUnValor]
	(
	@Valor varchar(10)
	) 

RETURNS varchar(254)
AS 
BEGIN

	Declare @Retorno varchar(254)

	Set @Retorno = ( select m.DESCRIP from [ZooLogic].[MONEDA] m where m.codigo = @Valor )

	return isnull( @Retorno, '' )

End
 

 
