IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[CMV_ObtenerCostosComprobantesMuevenStockEntreFechas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[CMV_ObtenerCostosComprobantesMuevenStockEntreFechas];
GO;

CREATE FUNCTION [Contabilidad].[CMV_ObtenerCostosComprobantesMuevenStockEntreFechas] 
	( 
		@FechaDesde datetime, 
		@FechaHasta datetime, 
		@MetodoCMV varchar(4), 
		@TipoDeSalida char(1), 
		@tbl_CmvSaldoInicial as Contabilidad.udt_TableType_CMVTipoCompMovStock READONLY, 
		@tbl_CmvMovimientos as Contabilidad.udt_TableType_CMVTipoCompMovStock READONLY, 
		@tbl_CmvCompAsociados as Contabilidad.udt_TableType_CMVCompAsociados READONLY, 
		@tbl_CmvCompras as Contabilidad.udt_TableType_CMVTipoCompMovStock READONLY
	)
RETURNS @Retorno TABLE
	(
		BD varchar(8),
		Referencia char(20),
		Codigo char(26),
		Articulo char(15), 
		Color char(6),
		Talle char(5),
		Cantidad numeric(15,2),
		Stock numeric(15, 2),
		CostoUnitario numeric(15,2),
		Fecha datetime,
		CompTipo numeric(2,0),
		CompCodigo char(38),
		CompDesc varchar(200),
		RelaCompTipo numeric(2,0),
		RelaCompLetra varchar(2),
		RelaCompPtoVen numeric(5,0),
		RelaCompNum numeric(8,0),
		RelaCompDesc varchar(200),
		CostoInvAnt numeric(15,2),
		CostoInvAcum numeric(15,2)
	)
BEGIN
/* CONSULTA PRINCIPAL PARA OBTENCIÓN DE CMV (COSTO DE MERCADERÍA VENDIDA) */

/* Variable declarada para interpretar el metodo del tipo de costeo recibido, para que sea mas legible dentro de la función */
--declare @MetodoCMV varchar(4) = case when @MetodoCMV = 1 then 'UEPS' else case when @MetodoCMV = 2 then 'PEPS' else 'PPP' end end
SET @MetodoCMV = ltrim( rtrim( @MetodoCMV ) )

/* INDICA EL TIPO DE SALIDA QUE VOY A OBTENER DE ESTA FUNCION
	@TipoDeSalida = 'C' -> Costo de mercaderia vendida, para listado y asiento contable 
	@TipoDeSalida = 'S' -> Salddos de stock para actualizar los saldos de inicio en el cierre de ejercicio
*/


/* Declaración de las tablas temporales utilizadas dentro de la función para el armado de la información solicitada */
DECLARE @c_SaldoInicial Contabilidad.udt_TableType_CMVMovimientos 
DECLARE @c_Final Contabilidad.udt_TableType_CMVMovimientos
DECLARE @c_Asociados Contabilidad.udt_TableType_CMVCompAsociados
DECLARE @c_Stock Contabilidad.udt_TableType_CMVStockComp



/*----------------------------------------------------------------------------------------------------------------*/
/*          INICIO LLENADO DE LAS TABLAS PRINCIPALES RECIBIDAS POR PARÁMETRO PARA EL DESARROLLO DEL CMV           */

INSERT INTO @c_SaldoInicial ( BD, Referencia, Articulo, Color, Talle, Cantidad, Stock, Precio, Fecha, CompTipo, CompCodigo, Comprobante, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob )
	select Base, GlobalId, Articulo, Color, Talle, Cantidad, Cantidad, Precio, Fecha, FactTipo, Codigo, Descrip, FactTipo, Letra, PtoVenExt, NumComp, Descrip 
		from @tbl_CmvSaldoInicial

DECLARE c_Movs CURSOR FOR
	select Base, '' as Referencia, Articulo, Color, Talle, Cantidad, 0 as Stock, 0 as Precio, Fecha, FactTipo, Codigo, Letra, PtoVenExt, NumComp, Descrip 
		from @tbl_CmvMovimientos order by Articulo, Color, Talle, Fecha, id

/*          FIN LLENADO DE LAS TABLAS PRINCIPALES RECIBIDAS POR PARÁMETRO PARA EL DESARROLLO DEL CMV              */
/*----------------------------------------------------------------------------------------------------------------*/

DECLARE @Articulo_ant char(15) = ''
DECLARE @Color_ant char(6) = ''
DECLARE @Talle_ant char(5) = ''

DECLARE @StockAcumuladoAnterior numeric(15,2) = 0 
DECLARE @StockDelRegistroActual numeric(15,2) = 0 
DECLARE @CostoRegistroActual numeric(15,2) = 0  
DECLARE @CostoTotalInventarioAnterior numeric(15,2) = 0  
DECLARE @CostoTotalInventarioActual numeric(15,2) = 0  
DECLARE @CostoTotalInventarioAcumulado numeric(15,2) = 0  
DECLARE @CostoUnitarioInventarioActual numeric(15,2) = 0  
DECLARE @Signo numeric(2) = 1

/*------------------------------------------------------------------------------------------------------- */
/*-------------- INICIO DEL RECORRIDO DE C_MOVS PARA IR CALCULANDO LOS DATOS DE CADA REGISTRO ----------- */

DECLARE @BD varchar(8), @Referencia char(20), @Articulo char(15), @Color char(6), @Talle char(5), @Cantidad  numeric(15, 2), @Stock numeric(15, 2), @Precio numeric(15, 2), @Fecha datetime, @CompTipo numeric(2,0), @CompCodigo char(38), @CompLetra varchar(2), @CompPtoVenta numeric(5,0), @CompNumero numeric(8,0), @Comprobante varchar(200)
DECLARE @BdSI varchar(8), @ReferenciaSI char(20), @ArtSI char(15), @ColSI char(6), @TalleSI char(5), @CantSI numeric(15, 2), @StockSI numeric(15, 2), @PrecioSI numeric(15, 2), @FechaSI datetime, @FactTipoSI numeric(2,0), @CodigoSI char(38), @LetraSI varchar(2), @PtoVentaSI numeric(5,0), @NumCompSI numeric(8,0), @DescripSI varchar(200) 
OPEN c_Movs
FETCH NEXT FROM c_Movs INTO @BD, @Referencia, @Articulo, @Color, @Talle, @Cantidad, @Stock, @Precio, @Fecha, @CompTipo, @CompCodigo, @CompLetra, @CompPtoVenta, @CompNumero, @Comprobante 
WHILE @@FETCH_STATUS = 0
BEGIN

	/*------------------------------------------------------------------------------------------------------------*/
	/*-- INICIO SE AGREGA REGISTRO CON LOS SALDOS INICIALES CADA VEZ QUE SE ENCUENTRA UN CAMBIO DE COMBINACIÓN ---*/

	IF ( rtrim( @Articulo ) <> @Articulo_ant or rtrim( coalesce( @Color, '' ) ) <> @Color_ant or rtrim( coalesce( @Talle, '' ) ) <> @Talle_ant ) 
		BEGIN 
			declare @StRegActual numeric(15, 2) = 0
			declare @SI_StAcumAnt numeric(15, 2) = 0
			declare @SI_CtTotInvAnt numeric(15, 2) = 0
			declare @SI_CtTotInvActual numeric(15, 2) = 0
			declare @SI_CtUniInvActual numeric(15, 2) = 0 

			set @CostoTotalInventarioAcumulado = 0

			DECLARE c_SI CURSOR for
				select BD, Referencia, Articulo, Color, Talle, Cantidad, Stock, Precio, Fecha, Cantidad, CompTipo, CompCodigo, RelaLetra, RelaPtoVenta, RelaNumComp, Comprobante 
				from @c_SaldoInicial  as siTotal
				where siTotal.articulo = @Articulo and ( ( @Color is null ) OR ( siTotal.color = @Color ) ) and ( ( @Talle is null ) OR ( siTotal.talle = @Talle ) )

			/*----- Recorro los datos de la tabla de saldos iniciales y agrego los registros con stock para la combinacion correspondiente -----*/
			OPEN c_SI
			FETCH NEXT FROM c_SI INTO @BdSI, @ReferenciaSI, @ArtSI, @ColSI, @TalleSI, @CantSI, @StockSI, @PrecioSI, @FechaSI, @CantSI, @FactTipoSI, @CodigoSI, @LetraSI, @PtoVentaSI, @NumCompSI, @DescripSI 
			WHILE @@FETCH_STATUS = 0
			BEGIN
				set @StRegActual = @SI_StAcumAnt + @CantSI
				set @SI_CtTotInvActual = @SI_CtTotInvAnt + ( @CantSI * @PrecioSI )
				set @SI_CtUniInvActual = case when @StRegActual <> 0 then @SI_CtTotInvActual / @StRegActual else 0 end

				/*----- Agrego el registro con los datos leido en las tablas de Stock y Final -----*/
				insert into @c_Stock ( BD, Referencia, CompTipo, CompCodigo, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, Articulo, Color, Talle, Cantidad, Costo, Fecha, CostoTotal, Stock, CostoUnitarioInventario, CostoTotalInventario )
					select  @BdSI, @ReferenciaSI, @FactTipoSI, @CodigoSI,  @FactTipoSI, @LetraSI, @PtoVentaSI, @NumCompSI, @DescripSI, @ArtSI, @ColSI, @TalleSI, @CantSI, @PrecioSI, @FechaDesde, @CantSI * @PrecioSI, @StRegActual, @SI_CtUniInvActual, @SI_CtTotInvActual

				insert into @c_Final ( BD, Referencia, Articulo, Color, Talle, Cantidad, Stock, Precio, Fecha, CompTipo, CompCodigo, Comprobante, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, CostoInvAnt, CostoInvAcum )
					select @BdSI, case when ltrim(rtrim(@ReferenciaSI)) <> '' then '1.Saldo inicial' else '2.Movimiento' end, 
						@ArtSI, @ColSI, @TalleSI, @CantSI, @StRegActual, @PrecioSI, @FechaDesde, @FactTipoSI, @CodigoSI, @DescripSI, @FactTipoSI, @LetraSI, @PtoVentaSI, @NumCompSI, @DescripSI, @CostoTotalInventarioAcumulado, @CostoTotalInventarioAcumulado + ( @CantSI * @PrecioSI )
				
				/*----- Guardo el valor inicial del costo total del inventario acumulado -----*/
				set @CostoTotalInventarioAcumulado = @CostoTotalInventarioAcumulado + ( @CantSI * @PrecioSI )

				SET @SI_StAcumAnt = @StRegActual
				SET @SI_CtTotInvAnt = @SI_CtTotInvActual

				FETCH NEXT FROM c_SI INTO @BdSI, @ReferenciaSI, @ArtSI, @ColSI, @TalleSI, @CantSI, @StRegActual, @PrecioSI, @FechaSI, @CantSI, @FactTipoSI, @CodigoSI, @LetraSI, @PtoVentaSI, @NumCompSI, @DescripSI 
			END

			CLOSE c_SI
			DEALLOCATE c_SI

			set @Articulo_ant = rtrim( @Articulo )
			set @Color_ant = rtrim( coalesce( @Color, '' ) )
			set @Talle_ant = rtrim( coalesce( @Talle, '' ) )

		END 
	/*----------------------------------  FIN  --------------------------------------------------------------------- */



	/*----- Obtención de stock y costo acumulado según el método de costeo al iniciar cada lectura -----*/
	set @StockAcumuladoAnterior = 0
	if @MetodoCMV = 'PPP'
		set @StockAcumuladoAnterior = ( select top 1 Stock from @c_Stock where articulo = @Articulo and ( ( @Color is null ) OR ( color = @Color ) ) and ( ( @Talle is null ) OR ( talle = @Talle ) ) order by id desc )
	else
		set @StockAcumuladoAnterior = ( select sum(Cantidad) as StockAcumulado from @c_Stock where articulo = @Articulo and ( ( @Color is null ) OR ( color = @Color ) ) and ( ( @Talle is null ) OR ( talle = @Talle ) ) )

	set @CostoTotalInventarioAnterior = 0
	set @CostoTotalInventarioAnterior = ( select top 1 CostoTotalInventario from @c_Stock where articulo = @Articulo and ( ( @Color is null ) OR ( color = @Color ) ) and ( ( @Talle is null ) OR ( talle = @Talle ) ) order by id desc )
	
	set @Signo = case when @Cantidad > 0 then 1 else -1 end 


	
	/*-------------------------------------------------------------------------------------------------------------------------------------- */
	/* INICIO DEL ANÁLISIS DE LOS COMPROBANTES DE COMPRAS (el costo de las FACTURAS, NC y ND, que quedan tal como figuran en el comprobante) */

	IF ( @Comprobante like 'FACTURADECOMPRA%' or @Comprobante like 'NOTADECREDITOCOMPRA%' or  @Comprobante like 'NOTADEDEBITOCOMPRA%'  )
		BEGIN 
			set @CostoRegistroActual = 0
			select @CostoRegistroActual = Costo from [Contabilidad].[CMV_ObtenerCostoDeLaCombinacionAFecha] ( @Articulo, @Color, @Talle, @Fecha, @Comprobante, @tbl_CmvCompras )
			
			set @StockDelRegistroActual = @StockAcumuladoAnterior + @Cantidad
			set @CostoTotalInventarioActual = @CostoTotalInventarioAnterior + ( @Cantidad * @CostoRegistroActual )
			set @CostoUnitarioInventarioActual = case when @StockDelRegistroActual <> 0 then @CostoTotalInventarioActual / @StockDelRegistroActual else 0 end
			
			/*----- Agrego la compra con el analisis de stock y precio en las tablas de Stock y Final -----*/
			insert into @c_Stock ( BD, Referencia, CompTipo, CompCodigo, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, Articulo, Color, Talle, Cantidad, Costo, Fecha, CostoTotal, Stock, CostoUnitarioInventario, CostoTotalInventario  )
				select @BD, '', @CompTipo, @CompCodigo,  @CompTipo, @CompLetra, @CompPtoVenta, @CompNumero, @Comprobante, @Articulo, @Color, @Talle, @Cantidad, @CostoRegistroActual, @Fecha, @Cantidad * @CostoRegistroActual, @StockDelRegistroActual, @CostoUnitarioInventarioActual, @CostoTotalInventarioActual
			
			insert into @c_Final ( BD, Referencia, Articulo, Color, Talle, Cantidad, Stock, Precio, Fecha, CompTipo, CompCodigo, Comprobante, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, CostoInvAnt, CostoInvAcum )
				select @BD, '2.Movimiento', @Articulo, @Color, @Talle, @Cantidad, @StockDelRegistroActual, @CostoRegistroActual, @Fecha, @CompTipo, @CompCodigo, @Comprobante, @CompTipo, @CompLetra, @CompPtoVenta, @CompNumero, @Comprobante, 
					case when @MetodoCMV = 'PPP' then @CostoTotalInventarioAnterior else @CostoTotalInventarioAcumulado end, 
					case when @MetodoCMV = 'PPP' then @CostoTotalInventarioAnterior + ( @Cantidad * @CostoRegistroActual ) else @CostoTotalInventarioAcumulado + ( @Cantidad * @CostoRegistroActual ) end 
			
			/*----- Acumulo el costo total del inventario acumulado -----*/
			set @CostoTotalInventarioAcumulado = @CostoTotalInventarioAcumulado + ( @Cantidad * @CostoRegistroActual )
		END
	/*----------------------------------  FIN  --------------------------------------------------------------------- */
	
	
	
	ELSE
		BEGIN
			DECLARE @FactTipoAsociadoAlCosto numeric(2,0)
			DECLARE @LetraAsociadoAlCosto varchar(2)
			DECLARE @PtoVentaAsociadoAlCosto numeric(5,0)
			DECLARE @NumCompAsociadoAlCosto numeric(8,0)
			DECLARE @ComprobanteAsociadoAlCosto varchar(200)
			IF @Signo = 1 

				/*-------------------------------------------------------------------------------------------------------------------------------------------------- */
				/* INICIO DEL ANÁLISIS DE LOS COMPROBANTES de ENTRADA (MovimientoStock de entrada, n/c vta, devolución vta, remito de compra, etc) en base al @SIGNO */

				BEGIN
					declare @CantRegsC_Asociados int = 0
					delete from @c_Asociados where 1=1
										
					/* Se buscan los comprobantes asociados a las N/C de vta, para obtener el costo de la factura en base a la que se realizó la n/c */
					if ( @Comprobante like '%NOTADECREDITO%' ) 
						insert into @c_Asociados ( Articulo, Color, Talle, Cantidad, Descfw, Fecha, CompTipo, CompCodigo, Comprobante )
							select Articulo, Color, Talle, Cantidad, Descfw, Fecha, CompTipo, CompCodigo, Comprobante from @tbl_CmvCompAsociados
								where @comprobante = DESCFW
								and ( ( @Articulo is null ) OR ( Articulo = @Articulo ) )
								and ( ( @Color is null ) OR ( Color = @Color ) )
								and ( ( @Talle is null ) OR ( talle = @Talle ) )
							order by fecha, descfw, comprobante

					/* Cantidad de registros obtenidos en la consulta anterior */
					set @CantRegsC_Asociados = 0
					set @CantRegsC_Asociados = ( select count(Articulo) as registros from @c_Asociados ) 

					/* Si no hay comprobantes asociados, se agrega directamente un registro con los datos de C_MOVS para poder realizar los cálculos que están más abajo */
					if @CantRegsC_Asociados = 0 -- Si no tiene comprobantes asociados (ej. Movimientos de stock)
						insert into @c_Asociados ( Articulo, Color, Talle, Cantidad, Descfw, Fecha, CompTipo, CompCodigo, Comprobante )
							Select @Articulo, @Color, @Talle, @Cantidad, @Comprobante, @Fecha, @CompTipo, @CompCodigo, @Comprobante


					/* Crea un cursor para poder recorrer registro a registro los comprobantes de la @c_Asociados */
					declare c_AsociadosTmp CURSOR for
					select Articulo, Color, Talle, Cantidad, Descfw, Fecha, CompTipo, CompCodigo, Comprobante from @c_Asociados order by articulo, color, Talle, fecha 

					DECLARE @ArtAsoc char(15), @ColAsoc char(6), @TalleAsoc char(5), @CantAsoc DECIMAL(15,2), @DescfwAsoc varchar(200), @FechaAsoc datetime, @TipoAsoc numeric(2,0), @CodigoAsoc char(38), @CompAsoc varchar(200)
					OPEN c_AsociadosTmp
					FETCH NEXT FROM c_AsociadosTmp INTO @ArtAsoc, @ColAsoc, @TalleAsoc, @CantAsoc, @DescfwAsoc, @FechaAsoc, @TipoAsoc, @CodigoAsoc, @CompAsoc
					WHILE @@FETCH_STATUS = 0
					BEGIN

						/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
						/* INICIO TRATAMIENTO ESPECIAL PARA N/C CON COMPROBANTES ASOCIADOS. OBTENGO EL COSTO DE LA FC ASOCIADA. La misma n/c puede tener varias facturas asociadas, generando costeos parciales  */
						if ( @Comprobante like '%NOTADECREDITO%' ) and  @DescfwAsoc <> @CompAsoc and @CantRegsC_Asociados > 0  
							begin 

								/* -- Si algún método de costeo para n/c en base a facturas requiere un orden diferente, crear un IF - ELSE que no tenga el order descending -----------*/
								DECLARE c_FcAfec CURSOR for
								select id, abs(cantidad) as cantidad, costo, fecha, abs(CantidadAfectada) as CantidadAfectada, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprobante from [Contabilidad].[CMV_ObtenerComprobantesAfectadosPorNC] ( @ArtAsoc, @ColAsoc, @TalleAsoc, @CompAsoc, @FechaAsoc, @c_Final ) order by id desc

								declare @CantidadRegistroActual decimal(15,2) = 0
								declare @CantidadRemanente decimal(15,2) = @CantAsoc -- cantidad original de la n/c para relacionar el costeo de su correspondiente fc asociada
								declare @NcStockAfectadoAnterior decimal(15,2) = 0

								DECLARE @AuxId int, @AuxCantidad decimal(15,2), @AuxCosto decimal(15,2), @AuxFecha datetime, @AuxCantAfec decimal(15,2)
								OPEN c_FcAfec
								FETCH NEXT FROM c_FCAfec INTO  @AuxId, @AuxCantidad, @AuxCosto, @AuxFecha, @AuxCantAfec, @FactTipoAsociadoAlCosto, @LetraAsociadoAlCosto, @PtoVentaAsociadoAlCosto, @NumCompAsociadoAlCosto, @ComprobanteAsociadoAlCosto 
								WHILE @@FETCH_STATUS = 0 and @CantidadRemanente > 0 
								BEGIN 

									/*Se agregarán tantos registros en c_final y c_stock según cómo se haya desglosado el costo correspondiente a las facturas afectadas por la n/c*/
									/*Ojo, que se tiene en cuenta el timestamp para ordenar los movimientos. Si el comprobante sufre una modificación, el timestamp cambia y puede quedar una fc posterior a su n/c y no encontrarla . */
									set @CostoRegistroActual = @AuxCosto -- nuevo costo según select fc_Afec
									set @CantidadRegistroActual = case when @CantidadRemanente <= ( @AuxCantidad - @AuxCantAfec ) then @CantidadRemanente else @AuxCantidad - @AuxCantAfec end 

									if @CantidadRegistroActual > 0
										begin
											set @StockDelRegistroActual = @StockAcumuladoAnterior + @CantidadRegistroActual 
											set @CostoTotalInventarioActual = @CostoTotalInventarioAnterior + ( @CantidadRegistroActual * @CostoRegistroActual )
											set @CostoUnitarioInventarioActual = case when @StockDelRegistroActual <> 0 then @CostoTotalInventarioActual / @StockDelRegistroActual else 0 end
					
											set @NcStockAfectadoAnterior = 0
											set @NcStockAfectadoAnterior = (select coalesce(ncstockafectado,0) as ncstockafectado from @c_final where id = @auxid )
											update @c_Final set NcStockAfectado = @NcStockAfectadoAnterior + @CantidadRegistroActual where id = @AuxId
											
											/*----- Agrego el comprobante asociado en las tablas de Stock y Final -----*/
											insert into @c_Stock ( BD, Referencia, CompTipo, CompCodigo, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, Articulo, Color, Talle, Cantidad, Costo, Fecha, CostoTotal, Stock, CostoUnitarioInventario, CostoTotalInventario ) 
												SELECT @BD, '', @CompTipo, @CompCodigo, @FactTipoAsociadoAlCosto, @LetraAsociadoAlCosto, @PtoVentaAsociadoAlCosto, @NumCompAsociadoAlCosto, @ComprobanteAsociadoAlCosto, @ArtAsoc, @ColAsoc, @TalleAsoc, @CantidadRegistroActual, @CostoRegistroActual, @Fecha, @CantidadRegistroActual * @CostoRegistroActual, @StockDelRegistroActual, @CostoUnitarioInventarioActual, @CostoTotalInventarioActual

											insert into @c_Final ( BD, Referencia, Articulo, Color, Talle, Cantidad, Stock, Precio, Fecha, CompTipo, CompCodigo, Comprobante, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, CostoInvAnt, CostoInvAcum )
												SELECT @BD, '2.Movimiento', @ArtAsoc, @ColAsoc, @TalleAsoc, @CantidadRegistroActual, @StockDelRegistroActual, @CostoRegistroActual, @Fecha, @CompTipo, @CompCodigo, @Comprobante, @FactTipoAsociadoAlCosto, @LetraAsociadoAlCosto, @PtoVentaAsociadoAlCosto, @NumCompAsociadoAlCosto, @ComprobanteAsociadoAlCosto,  
													case when @MetodoCMV = 'PPP' then @CostoTotalInventarioAnterior else @CostoTotalInventarioAcumulado end, 
													case when @MetodoCMV = 'PPP' then @CostoTotalInventarioAnterior + ( @CantidadRegistroActual * @CostoRegistroActual ) else @CostoTotalInventarioAcumulado + ( @CantidadRegistroActual * @CostoRegistroActual ) end 

											/*----- Acumulo el costo total del inventario acumulado -----*/
											set @CostoTotalInventarioAcumulado = @CostoTotalInventarioAcumulado + ( @CantidadRegistroActual * @CostoRegistroActual )

											set @CantidadRemanente = @CantidadRemanente - @CantidadRegistroActual
											set @StockAcumuladoAnterior = @StockDelRegistroActual
											set @CostoTotalInventarioAnterior = @CostoTotalInventarioActual
										end


									FETCH NEXT FROM c_FCAfec INTO @AuxId, @AuxCantidad, @AuxCosto, @AuxFecha, @AuxCantAfec, @FactTipoAsociadoAlCosto, @LetraAsociadoAlCosto, @PtoVentaAsociadoAlCosto, @NumCompAsociadoAlCosto, @ComprobanteAsociadoAlCosto 
								END
								CLOSE c_FcAfec
								DEALLOCATE c_FcAfec
							
							end -- if ( @Comprobante like '%NOTADECREDITO%' ) and  @DescfwAsoc <> @CompAsoc and @CantRegsC_Asociados > 0  

							/*----------------------------------- FIN TRATAMIENTO ESPECIAL PARA N/C CON COMPROBANTES ASOCIADOS --------------------------------------------------------------------------------------*/
							/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


						if @DescfwAsoc = @CompAsoc
							begin
								/* Obtengo el costo de la nc, de las factura del periodo segun la fecha del comprobante */
								set @CostoRegistroActual = 0
								set @FactTipoAsociadoAlCosto = 0
								set @LetraAsociadoAlCosto = ''
								set @PtoVentaAsociadoAlCosto = 0
								set @NumCompAsociadoAlCosto = 0
								set @ComprobanteAsociadoAlCosto = ''
								select @CostoRegistroActual = Costo, @FactTipoAsociadoAlCosto = FactTipo, @LetraAsociadoAlCosto = Letra, @PtoVentaAsociadoAlCosto = PtoVenta, @NumCompAsociadoAlCosto = NumComp, @ComprobanteAsociadoAlCosto = Comprobante from [Contabilidad].[CMV_ObtenerCostoDeLaCombinacionAFecha] ( @ArtAsoc, @ColAsoc, @TalleAsoc, @FechaAsoc, null, @tbl_CmvCompras );
								
								/* Si no encuentra una compra dentro del período, tiene que buscar el costo en el saldo inicial correspondiente al art-col-tll  */
								if @CostoRegistroActual = 0
									begin
										set @CostoRegistroActual = 	@PrecioSI
										set @FactTipoAsociadoAlCosto = @FactTipoSI
										set @LetraAsociadoAlCosto = @LetraSI
										set @PtoVentaAsociadoAlCosto = @PtoVentaSI
										set @NumCompAsociadoAlCosto = @NumCompSI
										set @ComprobanteAsociadoAlCosto = @DescripSI
									end

								/*----- SE AGREGA 1 REGISTRO EN C_FINAL Y C_STOCK RELACIONADO AL MOVIMIENTO INGRESADO, EXCEPTO LAS N/C TRATADAS EN EL IF ANTERIOR -----*/

								set @StockDelRegistroActual = @StockAcumuladoAnterior + @CantAsoc
								set @CostoTotalInventarioActual = @CostoTotalInventarioAnterior + ( @CantAsoc * @CostoRegistroActual )
								set @CostoUnitarioInventarioActual = case when @StockDelRegistroActual <> 0 then @CostoTotalInventarioActual / @StockDelRegistroActual else 0 end
					
								insert into @c_Stock ( BD, Referencia, CompTipo, CompCodigo, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, Articulo, Color, Talle, Cantidad, Costo, Fecha, CostoTotal, Stock, CostoUnitarioInventario, CostoTotalInventario ) 
									SELECT @BD, '', @CompTipo, @CompCodigo, @FactTipoAsociadoAlCosto, @LetraAsociadoAlCosto, @PtoVentaAsociadoAlCosto, @NumCompAsociadoAlCosto, @ComprobanteAsociadoAlCosto, @ArtAsoc, @ColAsoc, @TalleAsoc, @CantAsoc, @CostoRegistroActual, @Fecha, @CantAsoc * @CostoRegistroActual, @StockDelRegistroActual, @CostoUnitarioInventarioActual, @CostoTotalInventarioActual

								insert into @c_Final ( BD, Referencia, Articulo, Color, Talle, Cantidad, Stock, Precio, Fecha, CompTipo, CompCodigo, Comprobante, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, CostoInvAnt, CostoInvAcum )
									SELECT @BD, '2.Movimiento', @ArtAsoc, @ColAsoc, @TalleAsoc, @CantAsoc, @StockDelRegistroActual, @CostoRegistroActual, @Fecha, @CompTipo, @CompCodigo, @Comprobante, @FactTipoAsociadoAlCosto, @LetraAsociadoAlCosto, @PtoVentaAsociadoAlCosto, @NumCompAsociadoAlCosto, @ComprobanteAsociadoAlCosto, 
										case when @MetodoCMV = 'PPP' then @CostoTotalInventarioAnterior else @CostoTotalInventarioAcumulado end, 
										case when @MetodoCMV = 'PPP' then @CostoTotalInventarioAnterior + ( @CantAsoc * @CostoRegistroActual ) else @CostoTotalInventarioAcumulado + ( @CantAsoc * @CostoRegistroActual ) end 

								/*----- Acumulo el costo total del inventario acumulado -----*/
								set @CostoTotalInventarioAcumulado = @CostoTotalInventarioAcumulado + ( @CantAsoc * @CostoRegistroActual )

								set @StockAcumuladoAnterior = @StockDelRegistroActual
								set @CostoTotalInventarioAnterior = @CostoTotalInventarioActual
							end

						FETCH NEXT FROM c_AsociadosTmp INTO @ArtAsoc, @ColAsoc, @TalleAsoc, @CantAsoc, @DescfwAsoc, @FechaAsoc, @TipoAsoc, @CodigoAsoc, @CompAsoc
					END
					CLOSE c_AsociadosTmp
					DEALLOCATE c_AsociadosTmp 

				END
				/*----------------------------------- FIN DEL ANÁLISIS DE LOS COMPROBANTES de ENTRADA --------------------------------------------------------- */
				/*--------------------------------------------------------------------------------------------------------------------------------------------- */
	
			ELSE

				/*------------------------------------------------------------------------------------------------------------------------------------------- */
				/* INICIO DEL ANÁLISIS DE LOS COMPROBANTES de SALIDA (MovimientoStock de Salida, n/d vta, facturas vta, remito de vta, etc) en base al @SIGNO */
				BEGIN
					DECLARE @CantidadFinal decimal(15,2), @StockId Int, @CantidadDisponible decimal(15,2), @StockCantidad decimal(15,2), @StockCosto decimal(15,2), @StockCostoUnitarioInventario decimal(15,2), @StockCostoTotalInventario decimal(15,2), @Ciclo numeric(1) 

					SET @CostoRegistroActual = 0 
					SET @CantidadDisponible = abs(@Cantidad)
	
					SET @Ciclo = 1 
					While @Ciclo = 1
						BEGIN

							/*-----------------------------------------------------------------------------------------------------------------------------------------*/
							/* INICIO:	ACÁ ESTÁ EL CORAZÓN DEL CMV, PUESTO QUE ANALIZA EL COSTO REAL DE CADA SALIDA REALIZADA DENTRO DEL PERÍODO SOLICITADO           */
							/*			LA TABLA @c_Stock ES LA QUE MANIPULA LOS DATOS SEGÚN EL MÉTODO DE COSTEO                                                       */
							/*			EN PEPS O UEPS SE DESCUENTAN LOS STOCKS DE CADA INGRESO HASTA LLEGAR A CERO, ANTES DE TENER EN CUENTA OTRO INGRESO             */
							/*			EN PPP, EL COSTEO SE VA CALCULANDO TENIENDO EN CUENTA EL MOVIMIENTO INMEDIATAMENTE ANTERIOR, PARA LOGRAR EL PROMEDIO PONDERADO */

							set @StockId = 0
							set @StockCantidad = 0
							set @StockCosto = 0
							set @FactTipoAsociadoAlCosto = 0
							set @LetraAsociadoAlCosto = ''
							set @PtoVentaAsociadoAlCosto = 0
							set @NumCompAsociadoAlCosto = 0
							set @ComprobanteAsociadoAlCosto = ''
							set @StockCostoUnitarioInventario = 0
							set @StockCostoTotalInventario = 0
							Select @StockId = Id, @StockCantidad = Cantidad, @StockCosto = Costo, @FactTipoAsociadoAlCosto = RelaFactTipo, @LetraAsociadoAlCosto = RelaLetra, @PtoVentaAsociadoAlCosto = RelaPtoVenta, @NumCompAsociadoAlCosto = RelaNumComp, @ComprobanteAsociadoAlCosto = RelaComprobante, @StockCostoUnitarioInventario = CostoUnitario, @StockCostoTotalInventario = CostoTotal From [Contabilidad].[CMV_ObtenerCostoDelStockEnProcesoSegunCosteo]( @Articulo, @Color, @Talle, @MetodoCMV, @c_Stock )

							If ( @StockCantidad > 0 )
								BEGIN
									if @MetodoCMV = 'PPP' 
										BEGIN
											set @CantidadFinal = @CantidadDisponible
											set @StockDelRegistroActual = @StockCantidad - @CantidadFinal 
											set @CostoTotalInventarioAnterior = @StockCostoTotalInventario
											set @CostoTotalInventarioActual = @CostoTotalInventarioAnterior - ( @CantidadFinal * @StockCostoUnitarioInventario )
											set @CostoUnitarioInventarioActual = case when @StockDelRegistroActual <> 0 then @CostoTotalInventarioActual / @StockDelRegistroActual else 0 end

											insert into @c_Final ( BD, Referencia, Articulo, Color, Talle, Cantidad, Stock, Precio, Fecha, CompTipo, CompCodigo, Comprobante, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, CostoInvAnt, CostoInvAcum )
												SELECT @BD, '2.Movimiento', @Articulo, @Color, @Talle, @CantidadFinal * @Signo, @StockDelRegistroActual, @StockCostoUnitarioInventario, @Fecha, @CompTipo, @CompCodigo, @Comprobante, @FactTipoAsociadoAlCosto, @LetraAsociadoAlCosto, @PtoVentaAsociadoAlCosto, @NumCompAsociadoAlCosto, @ComprobanteAsociadoAlCosto, @CostoTotalInventarioAnterior, @CostoTotalInventarioAnterior - ( @CantidadFinal * @StockCostoUnitarioInventario ) 

											set @StockAcumuladoAnterior = @StockDelRegistroActual
											insert into @c_Stock ( BD, Referencia, CompTipo, CompCodigo, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, Articulo, Color, Talle, Cantidad, Costo, Fecha, CostoTotal, Stock, CostoUnitarioInventario, CostoTotalInventario ) 
												SELECT @BD, '', @CompTipo, @CompCodigo, @FactTipoAsociadoAlCosto, @LetraAsociadoAlCosto, @PtoVentaAsociadoAlCosto, @NumCompAsociadoAlCosto, @ComprobanteAsociadoAlCosto, @Articulo, @Color, @Talle, @CantidadFinal, @StockCostoUnitarioInventario, @Fecha, @CantidadFinal * @StockCostoUnitarioInventario, @StockDelRegistroActual, @CostoUnitarioInventarioActual, @CostoTotalInventarioActual

										END

									else -- UEPS O PEPS
										BEGIN
											set @CantidadFinal = case when @StockCantidad >= @CantidadDisponible then @CantidadDisponible else @StockCantidad end 
											set @StockDelRegistroActual = @StockAcumuladoAnterior - @CantidadFinal 

											insert into @c_Final ( BD, Referencia, Articulo, Color, Talle, Cantidad, Stock, Precio, Fecha, CompTipo, CompCodigo, Comprobante, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, CostoInvAnt, CostoInvAcum )
												SELECT @BD, '2.Movimiento', @Articulo, @Color, @Talle, @CantidadFinal * @Signo, @StockDelRegistroActual, @StockCosto, @Fecha, @CompTipo, @CompCodigo, @Comprobante, @FactTipoAsociadoAlCosto, @LetraAsociadoAlCosto, @PtoVentaAsociadoAlCosto, @NumCompAsociadoAlCosto, @ComprobanteAsociadoAlCosto, @CostoTotalInventarioAcumulado, @CostoTotalInventarioAcumulado - ( @CantidadFinal * @StockCosto ) 

											set @StockAcumuladoAnterior = @StockDelRegistroActual
											set @CostoTotalInventarioAcumulado = @CostoTotalInventarioAcumulado - ( @CantidadFinal * @StockCosto ) 

											update @c_Stock set Cantidad = case when @CantidadDisponible > @CantidadFinal then 0 else @StockCantidad - @CantidadFinal end where id = @StockId 
										END
								END

							Else	
								set @Ciclo = 0;
							
							----------------------------------------------------------------------
							If @Ciclo = 1 and @CantidadDisponible > @CantidadFinal
								BEGIN 
									set @CantidadDisponible = @CantidadDisponible - @CantidadFinal
								END
							Else
								set @Ciclo = 0;

						END
						/* FIN:	ACÁ ESTÁ EL CORAZÓN DEL CMV */
						/*-----------------------------------------------------------------------------------------------------------------------------------------*/

				END
				/*----------------------------------- FIN DEL ANÁLISIS DE LOS COMPROBANTES de SALIDA  --------------------------------------------------------- */
				/*--------------------------------------------------------------------------------------------------------------------------------------------- */

		END
	FETCH NEXT FROM c_Movs INTO @BD, @Referencia, @Articulo, @Color, @Talle, @Cantidad, @Stock, @Precio, @Fecha, @CompTipo, @CompCodigo, @CompLetra, @CompPtoVenta, @CompNumero, @Comprobante
END

CLOSE c_Movs
DEALLOCATE c_Movs -- Elimina la tabla temporal

/*--------------- FIN DEL RECORRIDO DE C_MOVS PARA IR CALCULANDO LOS DATOS DE CADA REGISTRO ------------- */
/*------------------------------------------------------------------------------------------------------- */ 
IF @TipoDeSalida = 'C'
	INSERT INTO @Retorno ( BD, Referencia, Codigo, Articulo, Color, Talle, Cantidad, Stock, CostoUnitario, Fecha, CompTipo, CompCodigo, CompDesc, RelaCompTipo, RelaCompLetra, RelaCompPtoVen, RelaCompNum, RelaCompDesc, CostoInvAnt, CostoInvAcum )
	SELECT BD, Referencia, Articulo + Color + Talle, Articulo, Color, Talle, Cantidad, coalesce(Stock,0) Stock, coalesce(Precio,0) Precio, Fecha, CompTipo, CompCodigo, Comprobante, RelaFactTipo, RelaLetra, RelaPtoVenta, RelaNumComp, RelaComprob, coalesce(CostoInvAnt,0) CostoInvAnt, coalesce(CostoInvAcum,0) CostoInvAcum FROM @c_Final as cFinal
		LEFT JOIN ( 
			SELECT COUNT( 1 ) as CountMov, Articulo as cArticulo, Color as cColor, Talle as cTalle
			FROM @c_Final
			WHERE Left( Referencia, 1 ) = '2' and CompTipo in (1, 2, 3, 4, 5, 27, 28, 29, 33, 35, 36, 47, 48, 49, 51, 52, 53, 54, 55, 56, 11) 
			GROUP BY Articulo, Color, Talle 
		) Contador ON Contador.cArticulo = cFinal.Articulo and Contador.cColor = cFinal.Color and Contador.cTalle = cFinal.talle
		WHERE coalesce( CountMov, 0 ) > 0
	/* Se agrega el left join para no mostrar los registros que no tuvieron ventas. Si se quita apareceran factura sin ventas */

IF @TipoDeSalida = 'S'
	INSERT INTO @Retorno ( BD, Referencia, Codigo, Articulo, Color, Talle, Cantidad, Stock, CostoUnitario, Fecha, CompTipo, CompCodigo, CompDesc, RelaCompTipo, RelaCompLetra, RelaCompPtoVen, RelaCompNum, RelaCompDesc, CostoInvAnt, CostoInvAcum )
	SELECT BD, Referencia, Articulo + Color + Talle, Articulo, Color, Talle, Cantidad, coalesce(Stock,0) Stock, coalesce(Costo,0) Costo, Fecha, CompTipo, CompCodigo, '', 0, '', 0, 0, '', 0, 0 FROM @c_Stock
		
RETURN
END
