IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[FechaSIPRIB]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[FechaSIPRIB];
GO;

Create function [Funciones].[FechaSIPRIB](@Fecha datetime)
returns char(10)

begin
	declare @cRetorno char(10)
	declare @cDia char(2)
	declare @cMes char(2)
	declare @cAnio char(4)
						
	set @cdia = convert( char(2) , day(@Fecha),112 )
	set @cMes = convert( char(2) , Month(@Fecha), 112 )
	set @cAnio = convert( char(4) , year(@Fecha), 112 )
		
	set @cRetorno = @cdia + '/' + @cMes + '/' + @cAnio
	return @cRetorno
end