IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerGrupoDescripcionDeUnValor]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerGrupoDescripcionDeUnValor];
GO;

CREATE FUNCTION [Funciones].[ObtenerGrupoDescripcionDeUnValor]
	(
	@Valor varchar(10)
	) 

RETURNS varchar(254)
AS 
BEGIN

	Declare @Retorno varchar(254)

	Set @Retorno = ( select m.grunom  from [ZooLogic].[GRUPOVALOR] m where m.CODIGO = @Valor )

	return isnull( @Retorno, '' )

End
