IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerRSocialSegunCodigoComprobante]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerRSocialSegunCodigoComprobante];
GO;
SET ANSI_NULLS ON
GO;
SET QUOTED_IDENTIFIER ON
GO;

CREATE FUNCTION [Funciones].[ObtenerRSocialSegunCodigoComprobante]
	( 
	@TipoDeComprobante varchar(2),
	@Codigo char(38)
	)
RETURNS char(38)
AS
BEGIN
	declare @retorno char(150);

	set @retorno = case @TipoDeComprobante 
						
						when '8' then 
							( select top 1 p.clnom as rsocial from zoologic.FACCOMPRA fc
								left join zoologic.PROV p on p.clcod = fc.fperson 
								where fc.codigo = @Codigo ) -- 'FACCOMPRA'

						when '9' then 
							( select top 1 p.clnom as rsocial from zoologic.NDCOMPRA nd
								left join zoologic.PROV p on p.clcod = nd.fperson 
								where nd.codigo = @Codigo ) --'NDCOMPRA'

						when '10' then 
							( select top 1 p.clnom as rsocial from zoologic.NCCOMPRA nc
								left join zoologic.PROV p on p.clcod = nc.fperson 
								where nc.codigo = @Codigo ) -- 'NCCOMPRA'

						when '31' then 
							( select top 1 op.fproved as rsocial from zoologic.ORDPAGO op 
							where op.codigo  = @Codigo ) -- 'ORDENDEPAGO' 

						when '13' then 
							( select top 1 FCLIENTE as rsocial from zoologic.RECIBO as rc 
								where rc.codigo = @Codigo ) -- 'RECIBO'

						when '32' then
							( select top 1 case when cli.clnom is null or cli.clnom = '' then prov.clnom else cli.clnom end as rsocial
								from zoologic.CANJECUPONES as cdv 
								left join ZooLogic.cli as cli  on cli.clcod = cdv.cliente 
								left join ZooLogic.PROV as prov on prov.clcod = cdv.PROVEEDOR
								where cdv.codigo = @Codigo ) -- 'CANJECUPONES'

						when '37' then 
							( select top 1 fperson as rsocial
								from zoologic.PAGO as op 
								left join zoologic.PROV prov on prov.clcod = op.fperson
								where op.codigo = @Codigo  ) -- 'PAGO'

						when '50' then 
							( select top 1 prov.clnom as rsocial 
								from zoologic.COMPPAGO as cp 
								left join zoologic.PROV prov on prov.clcod = cp.fperson
								where cp.codigo = @Codigo )	-- 'COMPROBANTEDEPAGO'
							
						else
							''
					end;
	
	return @retorno
END

