IF EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[Vista_ComprobanteC]') AND type = N'V')
	DROP VIEW [Listados].[Vista_ComprobanteC];
IF EXISTS (SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[Vista_ComprobanteCDet]') AND type = N'V')
	DROP VIEW [Listados].[Vista_ComprobanteCDet];
GO;

CREATE VIEW [Listados].[Vista_ComprobanteC] AS
(
	select
		cc.SECUENCIA_TRANSACCIONAL,
		coalesce( cr.AFECTE_A, 0 ) COMPROBANTES_QUE_AFECTE,
		coalesce( cr.FUI_AFECTADO, 0 ) COMPROBANTES_QUE_ME_AFECTARON,
		cc.TIPO,
		cc.COMPROBANTE,
		cc.ANULADO,
		cc.BDALTAFW,
		cc.BDMODIFW,
		cc.CCOSTO,
		cc.CODIGO,
		cc.CODLISTA,
		cc.CONDIVALP,
		cc.CONDPAGO,
		cc.COTIZ,
		cc.DESAUTO,
		cc.DESCFW,
		cc.DESMNTOSI,
		cc.DESMNTOSI1,
		cc.DESMNTOSI2,
		cc.DESMNTOSI3,
		cc.DISCCOS,
		cc.ESTTRANS,
		cc.FACTTIPO,
		cc.FALTAFW,
		cc.FCOMPFIS,
		cc.FCUIT,
		cc.FD2,
		cc.FDESCU,
		cc.FECEXPO,
		cc.FECIMPO,
		cc.FECTRANS,
		cc.FFCH,
		cc.FFCHENTR,
		cc.FFCHFAC,
		cc.FFCHVENC,
		cc.FHORA,
		cc.FIMPUESTO,
		cc.FLETRA,
		cc.FMODIFW,
		cc.FMTDES1,
		cc.FMTDES2,
		cc.FMTDES3,
		cc.FNUMCOMP,
		cc.FOBS,
		cc.FPERSON,
		cc.FPODES,
		cc.FPODES1,
		cc.FPODES2,
		cc.FPTOVEN,
		cc.FPTOVENEXT,
		cc.FSUBTON,
		cc.FSUBTOT,
		cc.FTOTAL,
		cc.FTRANSP,
		cc.FTURNO,
		cc.FVTOCAI,
		cc.FVUELTO,
		cc.HALTAFW,
		cc.HMODIFW,
		cc.HORAEXPO,
		cc.HORAIMPO,
		cc.IDCAJA,
		cc.IDVUELTO,
		cc.IMPMAN,
		cc.MONEDA,
		cc.MONSIS,
		cc.MOTIVO,
		cc.MR,
		cc.NCAI,
		cc.NROREMITO,
		cc.NUMINT,
		cc.RECMNTO,
		cc.RECMNTO1,
		cc.RECMNTO2,
		cc.RECMNTOSI,
		cc.RECMNTOSI1,
		cc.RECMNTOSI2,
		cc.RECMONTO1,
		cc.RECMONTO2,
		cc.RECPOR,
		cc.SALTAFW,
		cc.SIGNOMOV,
		cc.SIMBMON,
		cc.SITFISCPRO,
		cc.SMODIFW,
		cc.SUBTOTCISI,
		cc.SUBTOTSISI,
		cc.TCRG1361,
		cc.TIMESTAMP,
		cc.TOTALCANT,
		cc.TOTDESC,
		cc.TOTDESCSI,
		cc.TOTIMPUE,
		cc.TOTRECAR,
		cc.TOTRECARSI,
		cc.UALTAFW,
		cc.UMODIFW,
		cc.VALTAFW,
		cc.VMODIFW,
		cc.ZADSFW
	from
		(
		select
			cast( 1 as int ) SECUENCIA_TRANSACCIONAL,
			cast( 'Requerimiento' as varchar(20)) TIPO,
			Funciones.IdentificadorDeComprobanteParaListado( FACTTIPO, FLETRA, FPTOVEN, FNUMCOMP ) COMPROBANTE,
			ANULADO,
			BDALTAFW,
			BDMODIFW,
			cast( null as char(20)) CCOSTO,
			CODIGO,
			CODLISTA,
			CONDIVALP,
			CONDPAGO,
			COTIZ,
			DESAUTO,
			DESCFW,
			DESMNTOSI,
			DESMNTOSI1,
			DESMNTOSI2,
			DESMNTOSI3,
			cast( null as char(20)) DISCCOS,
			ESTTRANS,
			FACTTIPO,
			FALTAFW,
			FCOMPFIS,
			FCUIT,
			FD2,
			FDESCU,
			FECEXPO,
			FECIMPO,
			FECTRANS,
			FFCH,
			cast( null as datetime) FFCHENTR,
			FFCHFAC,
			FFCHVENC,
			FHORA,
			FIMPUESTO,
			FLETRA,
			FMODIFW,
			FMTDES1,
			FMTDES2,
			FMTDES3,
			FNUMCOMP,
			FOBS,
			FPERSON,
			FPODES,
			FPODES1,
			FPODES2,
			FPTOVEN,
			cast( 0 as numeric(5,0)) FPTOVENEXT,
			FSUBTON,
			FSUBTOT,
			FTOTAL,
			cast( null as char(15)) FTRANSP,
			FTURNO,
			FVTOCAI,
			FVUELTO,
			HALTAFW,
			HMODIFW,
			HORAEXPO,
			HORAIMPO,
			IDCAJA,
			IDVUELTO,
			cast( null as bit) IMPMAN,
			MONEDA,
			MONSIS,
			MOTIVO,
			MR,
			NCAI,
			NROREMITO,
			cast( null as numeric(10,0)) NUMINT,
			RECMNTO,
			RECMNTO1,
			RECMNTO2,
			RECMNTOSI,
			RECMNTOSI1,
			RECMNTOSI2,
			RECMONTO1,
			RECMONTO2,
			RECPOR,
			SALTAFW,
			SIGNOMOV,
			SIMBMON,
			SITFISCPRO,
			SMODIFW,
			SUBTOTCISI,
			SUBTOTSISI,
			TCRG1361,
			TIMESTAMP,
			TOTALCANT,
			TOTDESC,
			TOTDESCSI,
			TOTIMPUE,
			TOTRECAR,
			TOTRECARSI,
			UALTAFW,
			UMODIFW,
			VALTAFW,
			VMODIFW,
			ZADSFW
		from zoologic.REQCOMPRA
		union all
		select
			cast( 2 as int ) SECUENCIA_TRANSACCIONAL,
			cast( 'Solicitud' as varchar(20)) TIPO,
			Funciones.IdentificadorDeComprobanteParaListado( FACTTIPO, FLETRA, FPTOVEN, FNUMCOMP ) COMPROBANTE,
			ANULADO,
			BDALTAFW,
			BDMODIFW,
			cast( null as char(20)) CCOSTO,
			CODIGO,
			CODLISTA,
			CONDIVALP,
			CONDPAGO,
			COTIZ,
			DESAUTO,
			DESCFW,
			DESMNTOSI,
			DESMNTOSI1,
			DESMNTOSI2,
			DESMNTOSI3,
			cast( null as char(20)) DISCCOS,
			ESTTRANS,
			FACTTIPO,
			FALTAFW,
			FCOMPFIS,
			FCUIT,
			FD2,
			FDESCU,
			FECEXPO,
			FECIMPO,
			FECTRANS,
			FFCH,
			cast( null as datetime) FFCHENTR,
			FFCHFAC,
			FFCHVENC,
			FHORA,
			FIMPUESTO,
			FLETRA,
			FMODIFW,
			FMTDES1,
			FMTDES2,
			FMTDES3,
			FNUMCOMP,
			FOBS,
			FPERSON,
			FPODES,
			FPODES1,
			FPODES2,
			FPTOVEN,
			cast( 0 as numeric(5,0)) FPTOVENEXT,
			FSUBTON,
			FSUBTOT,
			FTOTAL,
			cast( null as char(15)) FTRANSP,
			FTURNO,
			FVTOCAI,
			FVUELTO,
			HALTAFW,
			HMODIFW,
			HORAEXPO,
			HORAIMPO,
			IDCAJA,
			IDVUELTO,
			cast( null as bit) IMPMAN,
			MONEDA,
			MONSIS,
			MOTIVO,
			MR,
			NCAI,
			NROREMITO,
			cast( null as numeric(10,0)) NUMINT,
			RECMNTO,
			RECMNTO1,
			RECMNTO2,
			RECMNTOSI,
			RECMNTOSI1,
			RECMNTOSI2,
			RECMONTO1,
			RECMONTO2,
			RECPOR,
			SALTAFW,
			SIGNOMOV,
			SIMBMON,
			SITFISCPRO,
			SMODIFW,
			SUBTOTCISI,
			SUBTOTSISI,
			TCRG1361,
			TIMESTAMP,
			TOTALCANT,
			TOTDESC,
			TOTDESCSI,
			TOTIMPUE,
			TOTRECAR,
			TOTRECARSI,
			UALTAFW,
			UMODIFW,
			VALTAFW,
			VMODIFW,
			ZADSFW
		from zoologic.SOLCOMPRA
		union all
		select
			cast( 3 as int ) SECUENCIA_TRANSACCIONAL,
			cast( 'Presupuesto' as varchar(20)) TIPO,
			Funciones.IdentificadorDeComprobanteComprasParaListado( FACTTIPO, FLETRA, FPTOVEN, FPTOVENEXT, FNUMCOMP ) COMPROBANTE,
			ANULADO,
			BDALTAFW,
			BDMODIFW,
			cast( null as char(20)) CCOSTO,
			CODIGO,
			CODLISTA,
			CONDIVALP,
			CONDPAGO,
			COTIZ,
			DESAUTO,
			DESCFW,
			DESMNTOSI,
			DESMNTOSI1,
			DESMNTOSI2,
			DESMNTOSI3,
			cast( null as char(20)) DISCCOS,
			ESTTRANS,
			FACTTIPO,
			FALTAFW,
			FCOMPFIS,
			FCUIT,
			FD2,
			FDESCU,
			FECEXPO,
			FECIMPO,
			FECTRANS,
			FFCH,
			cast( null as datetime) FFCHENTR,
			FFCHFAC,
			FFCHVENC,
			FHORA,
			FIMPUESTO,
			FLETRA,
			FMODIFW,
			FMTDES1,
			FMTDES2,
			FMTDES3,
			FNUMCOMP,
			FOBS,
			FPERSON,
			FPODES,
			FPODES1,
			FPODES2,
			FPTOVEN,
			FPTOVENEXT,
			FSUBTON,
			FSUBTOT,
			FTOTAL,
			FTRANSP,
			FTURNO,
			FVTOCAI,
			FVUELTO,
			HALTAFW,
			HMODIFW,
			HORAEXPO,
			HORAIMPO,
			IDCAJA,
			IDVUELTO,
			cast( null as bit) IMPMAN,
			MONEDA,
			MONSIS,
			MOTIVO,
			MR,
			NCAI,
			NROREMITO,
			NUMINT,
			RECMNTO,
			RECMNTO1,
			RECMNTO2,
			RECMNTOSI,
			RECMNTOSI1,
			RECMNTOSI2,
			RECMONTO1,
			RECMONTO2,
			RECPOR,
			SALTAFW,
			SIGNOMOV,
			SIMBMON,
			SITFISCPRO,
			SMODIFW,
			SUBTOTCISI,
			SUBTOTSISI,
			TCRG1361,
			TIMESTAMP,
			TOTALCANT,
			TOTDESC,
			TOTDESCSI,
			TOTIMPUE,
			TOTRECAR,
			TOTRECARSI,
			UALTAFW,
			UMODIFW,
			VALTAFW,
			VMODIFW,
			ZADSFW
		from zoologic.PRECOMPRA
		union all
		select
			cast( 4 as int ) SECUENCIA_TRANSACCIONAL,
			cast( 'Pedido' as varchar(20)) TIPO,
			Funciones.IdentificadorDeComprobanteComprasParaListado( FACTTIPO, FLETRA, FPTOVEN, FPTOVENEXT, FNUMCOMP ) COMPROBANTE,
			ANULADO,
			BDALTAFW,
			BDMODIFW,
			cast( null as char(20)) CCOSTO,
			CODIGO,
			CODLISTA,
			CONDIVALP,
			CONDPAGO,
			COTIZ,
			DESAUTO,
			DESCFW,
			DESMNTOSI,
			DESMNTOSI1,
			DESMNTOSI2,
			DESMNTOSI3,
			cast( null as char(20)) DISCCOS,
			ESTTRANS,
			FACTTIPO,
			FALTAFW,
			FCOMPFIS,
			FCUIT,
			FD2,
			FDESCU,
			FECEXPO,
			FECIMPO,
			FECTRANS,
			FFCH,
			FFCHENTR,
			FFCHFAC,
			cast( null as datetime) FFCHVENC,
			FHORA,
			FIMPUESTO,
			FLETRA,
			FMODIFW,
			FMTDES1,
			FMTDES2,
			FMTDES3,
			FNUMCOMP,
			FOBS,
			FPERSON,
			FPODES,
			FPODES1,
			FPODES2,
			FPTOVEN,
			FPTOVENEXT,
			FSUBTON,
			FSUBTOT,
			FTOTAL,
			FTRANSP,
			FTURNO,
			FVTOCAI,
			FVUELTO,
			HALTAFW,
			HMODIFW,
			HORAEXPO,
			HORAIMPO,
			IDCAJA,
			IDVUELTO,
			cast( null as bit) IMPMAN,
			MONEDA,
			MONSIS,
			MOTIVO,
			MR,
			NCAI,
			NROREMITO,
			NUMINT,
			RECMNTO,
			RECMNTO1,
			RECMNTO2,
			RECMNTOSI,
			RECMNTOSI1,
			RECMNTOSI2,
			RECMONTO1,
			RECMONTO2,
			RECPOR,
			SALTAFW,
			SIGNOMOV,
			SIMBMON,
			SITFISCPRO,
			SMODIFW,
			SUBTOTCISI,
			SUBTOTSISI,
			TCRG1361,
			TIMESTAMP,
			TOTALCANT,
			TOTDESC,
			TOTDESCSI,
			TOTIMPUE,
			TOTRECAR,
			TOTRECARSI,
			UALTAFW,
			UMODIFW,
			VALTAFW,
			VMODIFW,
			ZADSFW
		from zoologic.PEDCOMPRA
		union all
		select
			cast( 5 as int ) SECUENCIA_TRANSACCIONAL,
			cast( 'Remito' as varchar(20)) TIPO,
			Funciones.IdentificadorDeComprobanteComprasParaListado( FACTTIPO, FLETRA, FPTOVEN, FPTOVENEXT, FNUMCOMP ) COMPROBANTE,
			ANULADO,
			BDALTAFW,
			BDMODIFW,
			cast( null as char(20)) CCOSTO,
			CODIGO,
			CODLISTA,
			CONDIVALP,
			CONDPAGO,
			COTIZ,
			DESAUTO,
			DESCFW,
			DESMNTOSI,
			DESMNTOSI1,
			DESMNTOSI2,
			DESMNTOSI3,
			cast( null as char(20)) DISCCOS,
			ESTTRANS,
			FACTTIPO,
			FALTAFW,
			FCOMPFIS,
			FCUIT,
			FD2,
			FDESCU,
			FECEXPO,
			FECIMPO,
			FECTRANS,
			FFCH,
			cast( null as datetime) FFCHENTR,
			FFCHFAC,
			cast( null as datetime) FFCHVENC,
			FHORA,
			FIMPUESTO,
			FLETRA,
			FMODIFW,
			FMTDES1,
			FMTDES2,
			FMTDES3,
			FNUMCOMP,
			FOBS,
			FPERSON,
			FPODES,
			FPODES1,
			FPODES2,
			FPTOVEN,
			FPTOVENEXT,
			FSUBTON,
			FSUBTOT,
			FTOTAL,
			FTRANSP,
			FTURNO,
			FVTOCAI,
			FVUELTO,
			HALTAFW,
			HMODIFW,
			HORAEXPO,
			HORAIMPO,
			IDCAJA,
			IDVUELTO,
			IMPMAN,
			MONEDA,
			MONSIS,
			MOTIVO,
			MR,
			NCAI,
			NROREMITO,
			NUMINT,
			RECMNTO,
			RECMNTO1,
			RECMNTO2,
			RECMNTOSI,
			RECMNTOSI1,
			RECMNTOSI2,
			RECMONTO1,
			RECMONTO2,
			RECPOR,
			SALTAFW,
			SIGNOMOV,
			SIMBMON,
			SITFISCPRO,
			SMODIFW,
			SUBTOTCISI,
			SUBTOTSISI,
			TCRG1361,
			TIMESTAMP,
			TOTALCANT,
			TOTDESC,
			TOTDESCSI,
			TOTIMPUE,
			TOTRECAR,
			TOTRECARSI,
			UALTAFW,
			UMODIFW,
			VALTAFW,
			VMODIFW,
			ZADSFW
		from zoologic.REMCOMPRA
		union all
		select
			cast( 6 as int ) SECUENCIA_TRANSACCIONAL,
			cast( 'Cancelación' as varchar(20)) TIPO,
			Funciones.IdentificadorDeComprobanteParaListado( FACTTIPO, FLETRA, FPTOVEN, FNUMCOMP ) COMPROBANTE,
			ANULADO,
			BDALTAFW,
			BDMODIFW,
			cast( null as char(20)) CCOSTO,
			CODIGO,
			CODLISTA,
			CONDIVALP,
			cast( null as char(5)) CONDPAGO,
			COTIZ,
			DESAUTO,
			DESCFW,
			DESMNTOSI,
			DESMNTOSI1,
			DESMNTOSI2,
			DESMNTOSI3,
			cast( null as char(20)) DISCCOS,
			ESTTRANS,
			FACTTIPO,
			FALTAFW,
			FCOMPFIS,
			FCUIT,
			FD2,
			FDESCU,
			FECEXPO,
			FECIMPO,
			FECTRANS,
			FFCH,
			cast( null as datetime) FFCHENTR,
			FFCHFAC,
			cast( null as datetime) FFCHVENC,
			FHORA,
			FIMPUESTO,
			FLETRA,
			FMODIFW,
			FMTDES1,
			FMTDES2,
			FMTDES3,
			FNUMCOMP,
			FOBS,
			FPERSON,
			FPODES,
			FPODES1,
			FPODES2,
			FPTOVEN,
			cast( 0 as numeric(5,0)) FPTOVENEXT,
			FSUBTON,
			FSUBTOT,
			FTOTAL,
			cast( null as char(15)) FTRANSP,
			FTURNO,
			FVTOCAI,
			FVUELTO,
			HALTAFW,
			HMODIFW,
			HORAEXPO,
			HORAIMPO,
			IDCAJA,
			IDVUELTO,
			cast( null as bit) IMPMAN,
			MONEDA,
			MONSIS,
			MOTIVO,
			MR,
			NCAI,
			NROREMITO,
			cast( null as numeric(10,0)) NUMINT,
			RECMNTO,
			RECMNTO1,
			RECMNTO2,
			RECMNTOSI,
			RECMNTOSI1,
			RECMNTOSI2,
			RECMONTO1,
			RECMONTO2,
			RECPOR,
			SALTAFW,
			SIGNOMOV,
			SIMBMON,
			SITFISCPRO,
			SMODIFW,
			SUBTOTCISI,
			SUBTOTSISI,
			TCRG1361,
			TIMESTAMP,
			TOTALCANT,
			TOTDESC,
			TOTDESCSI,
			TOTIMPUE,
			TOTRECAR,
			TOTRECARSI,
			UALTAFW,
			UMODIFW,
			VALTAFW,
			VMODIFW,
			ZADSFW
		from zoologic.CANCOMPRA
		union all
		select
			cast( 7 as int ) SECUENCIA_TRANSACCIONAL,
			cast( 'Factura' as varchar(20)) TIPO,
			Funciones.IdentificadorDeComprobanteComprasParaListado( FACTTIPO, FLETRA, FPTOVEN, FPTOVENEXT, FNUMCOMP ) COMPROBANTE,
			ANULADO,
			BDALTAFW,
			BDMODIFW,
			CCOSTO,
			CODIGO,
			CODLISTA,
			CONDIVALP,
			CONDPAGO,
			COTIZ,
			DESAUTO,
			DESCFW,
			DESMNTOSI,
			DESMNTOSI1,
			DESMNTOSI2,
			DESMNTOSI3,
			DISCCOS,
			ESTTRANS,
			FACTTIPO,
			FALTAFW,
			FCOMPFIS,
			FCUIT,
			FD2,
			FDESCU,
			FECEXPO,
			FECIMPO,
			FECTRANS,
			FFCH,
			cast( null as datetime) FFCHENTR,
			FFCHFAC,
			FFCHVENC,
			FHORA,
			FIMPUESTO,
			FLETRA,
			FMODIFW,
			FMTDES1,
			FMTDES2,
			FMTDES3,
			FNUMCOMP,
			FOBS,
			FPERSON,
			FPODES,
			FPODES1,
			FPODES2,
			FPTOVEN,
			FPTOVENEXT,
			FSUBTON,
			FSUBTOT,
			FTOTAL,
			cast( null as char(15)) FTRANSP,
			FTURNO,
			FVTOCAI,
			FVUELTO,
			HALTAFW,
			HMODIFW,
			HORAEXPO,
			HORAIMPO,
			IDCAJA,
			IDVUELTO,
			IMPMAN,
			MONEDA,
			MONSIS,
			cast( null as char(3)) MOTIVO,
			MR,
			NCAI,
			NROREMITO,
			NUMINT,
			RECMNTO,
			RECMNTO1,
			RECMNTO2,
			RECMNTOSI,
			RECMNTOSI1,
			RECMNTOSI2,
			RECMONTO1,
			RECMONTO2,
			RECPOR,
			SALTAFW,
			SIGNOMOV,
			SIMBMON,
			SITFISCPRO,
			SMODIFW,
			SUBTOTCISI,
			SUBTOTSISI,
			TCRG1361,
			TIMESTAMP,
			TOTALCANT,
			TOTDESC,
			TOTDESCSI,
			TOTIMPUE,
			TOTRECAR,
			TOTRECARSI,
			UALTAFW,
			UMODIFW,
			VALTAFW,
			VMODIFW,
			ZADSFW
		from zoologic.FACCOMPRA
		union all
		select
			cast( 8 as int ) SECUENCIA_TRANSACCIONAL,
			cast( 'Nota de crédito' as varchar(20)) TIPO,
			Funciones.IdentificadorDeComprobanteComprasParaListado( FACTTIPO, FLETRA, FPTOVEN, FPTOVENEXT, FNUMCOMP ) COMPROBANTE,
			ANULADO,
			BDALTAFW,
			BDMODIFW,
			CCOSTO,
			CODIGO,
			CODLISTA,
			CONDIVALP,
			CONDPAGO,
			COTIZ,
			DESAUTO,
			DESCFW,
			DESMNTOSI,
			DESMNTOSI1,
			DESMNTOSI2,
			DESMNTOSI3,
			DISCCOS,
			ESTTRANS,
			FACTTIPO,
			FALTAFW,
			FCOMPFIS,
			FCUIT,
			FD2,
			FDESCU,
			FECEXPO,
			FECIMPO,
			FECTRANS,
			FFCH,
			cast( null as datetime) FFCHENTR,
			FFCHFAC,
			FFCHVENC,
			FHORA,
			FIMPUESTO,
			FLETRA,
			FMODIFW,
			FMTDES1,
			FMTDES2,
			FMTDES3,
			FNUMCOMP,
			FOBS,
			FPERSON,
			FPODES,
			FPODES1,
			FPODES2,
			FPTOVEN,
			FPTOVENEXT,
			FSUBTON,
			FSUBTOT,
			FTOTAL,
			cast( null as char(15)) FTRANSP,
			FTURNO,
			FVTOCAI,
			FVUELTO,
			HALTAFW,
			HMODIFW,
			HORAEXPO,
			HORAIMPO,
			IDCAJA,
			IDVUELTO,
			IMPMAN,
			MONEDA,
			MONSIS,
			cast( null as char(3)) MOTIVO,
			MR,
			NCAI,
			NROREMITO,
			NUMINT,
			RECMNTO,
			RECMNTO1,
			RECMNTO2,
			RECMNTOSI,
			RECMNTOSI1,
			RECMNTOSI2,
			RECMONTO1,
			RECMONTO2,
			RECPOR,
			SALTAFW,
			SIGNOMOV,
			SIMBMON,
			SITFISCPRO,
			SMODIFW,
			SUBTOTCISI,
			SUBTOTSISI,
			TCRG1361,
			TIMESTAMP,
			TOTALCANT,
			TOTDESC,
			TOTDESCSI,
			TOTIMPUE,
			TOTRECAR,
			TOTRECARSI,
			UALTAFW,
			UMODIFW,
			VALTAFW,
			VMODIFW,
			ZADSFW
		from zoologic.NCCOMPRA
		union all
		select
			cast( 9 as int ) SECUENCIA_TRANSACCIONAL,
			cast( 'Nota de débito' as varchar(20)) TIPO,
			Funciones.IdentificadorDeComprobanteComprasParaListado( FACTTIPO, FLETRA, FPTOVEN, FPTOVENEXT, FNUMCOMP ) COMPROBANTE,
			ANULADO,
			BDALTAFW,
			BDMODIFW,
			CCOSTO,
			CODIGO,
			CODLISTA,
			CONDIVALP,
			CONDPAGO,
			COTIZ,
			DESAUTO,
			DESCFW,
			DESMNTOSI,
			DESMNTOSI1,
			DESMNTOSI2,
			DESMNTOSI3,
			DISCCOS,
			ESTTRANS,
			FACTTIPO,
			FALTAFW,
			FCOMPFIS,
			FCUIT,
			FD2,
			FDESCU,
			FECEXPO,
			FECIMPO,
			FECTRANS,
			FFCH,
			cast( null as datetime) FFCHENTR,
			FFCHFAC,
			FFCHVENC,
			FHORA,
			FIMPUESTO,
			FLETRA,
			FMODIFW,
			FMTDES1,
			FMTDES2,
			FMTDES3,
			FNUMCOMP,
			FOBS,
			FPERSON,
			FPODES,
			FPODES1,
			FPODES2,
			FPTOVEN,
			FPTOVENEXT,
			FSUBTON,
			FSUBTOT,
			FTOTAL,
			cast( null as char(15)) FTRANSP,
			FTURNO,
			FVTOCAI,
			FVUELTO,
			HALTAFW,
			HMODIFW,
			HORAEXPO,
			HORAIMPO,
			IDCAJA,
			IDVUELTO,
			IMPMAN,
			MONEDA,
			MONSIS,
			cast( null as char(3)) MOTIVO,
			MR,
			NCAI,
			NROREMITO,
			NUMINT,
			RECMNTO,
			RECMNTO1,
			RECMNTO2,
			RECMNTOSI,
			RECMNTOSI1,
			RECMNTOSI2,
			RECMONTO1,
			RECMONTO2,
			RECPOR,
			SALTAFW,
			SIGNOMOV,
			SIMBMON,
			SITFISCPRO,
			SMODIFW,
			SUBTOTCISI,
			SUBTOTSISI,
			TCRG1361,
			TIMESTAMP,
			TOTALCANT,
			TOTDESC,
			TOTDESCSI,
			TOTIMPUE,
			TOTRECAR,
			TOTRECARSI,
			UALTAFW,
			UMODIFW,
			VALTAFW,
			VMODIFW,
			ZADSFW
		from zoologic.NDCOMPRA
		) cc
		left join ( 
					select AFECTA, sum( charindex('Afectante', AFETIPO ) ) as AFECTE_A, sum( charindex('Afectado', AFETIPO ) ) as FUI_AFECTADO 
					from ZooLogic.COMPAFE group by AFECTA 
				) as cr on cr.AFECTA = cc.CODIGO
);
GO;

CREATE VIEW [Listados].[Vista_ComprobanteCDet] AS
(
	select
		cast( 1 as int ) SECUENCIA_TRANSACCIONAL,
		Funciones.IdentificadorDeComprobanteParaListado( AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM ) COMPROBANTE_AFECTADO,
		ACONDIVAC,
		AFECANT,
		AFELETRA,
		AFENROITEM,
		AFENUMCOM,
		AFEPTOVEN,
		AFESALDO,
		AFETIPOCOM,
		AFETS,
		AFE_COD,
		AJUCIMP,
		AJUSIMP,
		APORCIVAC,
		cast( null as char(20)) CCOSTO,
		CIDITEM,
		CODIGO,
		cast( null as char(20)) DCCOSTO,
		EQUIV,
		FAMATE,
		FART,
		FBRUTO,
		FCANT,
		FCFI,
		FCFITOT,
		FCOLO,
		FCOTXT,
		FKIT,
		FMONTO,
		FMTOCFI,
		FMTODTO1,
		FMTOIVA,
		FN11,
		FNETO,
		FPORCFI,
		FPORDTO1,
		FPORIVA,
		FPRECIO,
		FPRUN,
		FTALL,
		FTXT,
		FUNID,
		FX2,
		IDITEMORIG,
		MNDESCI,
		MNDESSI,
		MNPDSI,
		MNTDES,
		MNTPDESCI,
		MNTPDESSI,
		MNTPIVA,
		MNTPPER,
		MNTPRECCI,
		MNTPRECSI,
		MNTPTOT,
		NROITEM,
		PROCSTOCK,
		PRUNCONIMP,
		PRUNSINIMP,
		SENIACANCE,
		USARPLISTA,
		IDITEM
	from zoologic.REQCOMPRADET
	union all
	select
		cast( 2 as int ) SECUENCIA_TRANSACCIONAL,
		Funciones.IdentificadorDeComprobanteParaListado( AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM ) COMPROBANTE_AFECTADO,
		ACONDIVAC,
		AFECANT,
		AFELETRA,
		AFENROITEM,
		AFENUMCOM,
		AFEPTOVEN,
		AFESALDO,
		AFETIPOCOM,
		AFETS,
		AFE_COD,
		AJUCIMP,
		AJUSIMP,
		APORCIVAC,
		cast( null as char(20)) CCOSTO,
		CIDITEM,
		CODIGO,
		cast( null as char(20)) DCCOSTO,
		EQUIV,
		FAMATE,
		FART,
		FBRUTO,
		FCANT,
		FCFI,
		FCFITOT,
		FCOLO,
		FCOTXT,
		FKIT,
		FMONTO,
		FMTOCFI,
		FMTODTO1,
		FMTOIVA,
		FN11,
		FNETO,
		FPORCFI,
		FPORDTO1,
		FPORIVA,
		FPRECIO,
		FPRUN,
		FTALL,
		FTXT,
		FUNID,
		FX2,
		IDITEMORIG,
		MNDESCI,
		MNDESSI,
		MNPDSI,
		MNTDES,
		MNTPDESCI,
		MNTPDESSI,
		MNTPIVA,
		MNTPPER,
		MNTPRECCI,
		MNTPRECSI,
		MNTPTOT,
		NROITEM,
		PROCSTOCK,
		PRUNCONIMP,
		PRUNSINIMP,
		SENIACANCE,
		USARPLISTA,
		IDITEM
	from zoologic.SOLCOMPRADET
	union all
	select
		cast( 3 as int ) SECUENCIA_TRANSACCIONAL,
		Funciones.IdentificadorDeComprobanteParaListado( AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM ) COMPROBANTE_AFECTADO,
		ACONDIVAC,
		AFECANT,
		AFELETRA,
		AFENROITEM,
		AFENUMCOM,
		AFEPTOVEN,
		AFESALDO,
		AFETIPOCOM,
		AFETS,
		AFE_COD,
		AJUCIMP,
		AJUSIMP,
		APORCIVAC,
		cast( null as char(20)) CCOSTO,
		CIDITEM,
		CODIGO,
		cast( null as char(20)) DCCOSTO,
		EQUIV,
		FAMATE,
		FART,
		FBRUTO,
		FCANT,
		FCFI,
		FCFITOT,
		FCOLO,
		FCOTXT,
		FKIT,
		FMONTO,
		FMTOCFI,
		FMTODTO1,
		FMTOIVA,
		FN11,
		FNETO,
		FPORCFI,
		FPORDTO1,
		FPORIVA,
		FPRECIO,
		FPRUN,
		FTALL,
		FTXT,
		FUNID,
		FX2,
		IDITEMORIG,
		MNDESCI,
		MNDESSI,
		MNPDSI,
		MNTDES,
		MNTPDESCI,
		MNTPDESSI,
		MNTPIVA,
		MNTPPER,
		MNTPRECCI,
		MNTPRECSI,
		MNTPTOT,
		NROITEM,
		PROCSTOCK,
		PRUNCONIMP,
		PRUNSINIMP,
		SENIACANCE,
		USARPLISTA,
		IDITEM
	from zoologic.PRECOMPRADET
	union all
	select
		cast( 4 as int ) SECUENCIA_TRANSACCIONAL,
		Funciones.IdentificadorDeComprobanteParaListado( AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM ) COMPROBANTE_AFECTADO,
		ACONDIVAC,
		AFECANT,
		AFELETRA,
		AFENROITEM,
		AFENUMCOM,
		AFEPTOVEN,
		AFESALDO,
		AFETIPOCOM,
		AFETS,
		AFE_COD,
		AJUCIMP,
		AJUSIMP,
		APORCIVAC,
		cast( null as char(20)) CCOSTO,
		CIDITEM,
		CODIGO,
		cast( null as char(20)) DCCOSTO,
		EQUIV,
		FAMATE,
		FART,
		FBRUTO,
		FCANT,
		FCFI,
		FCFITOT,
		FCOLO,
		FCOTXT,
		FKIT,
		FMONTO,
		FMTOCFI,
		FMTODTO1,
		FMTOIVA,
		FN11,
		FNETO,
		FPORCFI,
		FPORDTO1,
		FPORIVA,
		FPRECIO,
		FPRUN,
		FTALL,
		FTXT,
		FUNID,
		FX2,
		IDITEMORIG,
		MNDESCI,
		MNDESSI,
		MNPDSI,
		MNTDES,
		MNTPDESCI,
		MNTPDESSI,
		MNTPIVA,
		MNTPPER,
		MNTPRECCI,
		MNTPRECSI,
		MNTPTOT,
		NROITEM,
		PROCSTOCK,
		PRUNCONIMP,
		PRUNSINIMP,
		SENIACANCE,
		USARPLISTA,
		IDITEM
	from zoologic.PEDCOMPRADET
	union all
	select
		cast( 5 as int ) SECUENCIA_TRANSACCIONAL,
		Funciones.IdentificadorDeComprobanteParaListado( AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM ) COMPROBANTE_AFECTADO,
		ACONDIVAC,
		AFECANT,
		AFELETRA,
		AFENROITEM,
		AFENUMCOM,
		AFEPTOVEN,
		AFESALDO,
		AFETIPOCOM,
		AFETS,
		AFE_COD,
		AJUCIMP,
		AJUSIMP,
		APORCIVAC,
		cast( null as char(20)) CCOSTO,
		CIDITEM,
		CODIGO,
		cast( null as char(20)) DCCOSTO,
		EQUIV,
		FAMATE,
		FART,
		FBRUTO,
		FCANT,
		FCFI,
		FCFITOT,
		FCOLO,
		FCOTXT,
		FKIT,
		FMONTO,
		FMTOCFI,
		FMTODTO1,
		FMTOIVA,
		FN11,
		FNETO,
		FPORCFI,
		FPORDTO1,
		FPORIVA,
		FPRECIO,
		FPRUN,
		FTALL,
		FTXT,
		FUNID,
		FX2,
		IDITEMORIG,
		MNDESCI,
		MNDESSI,
		MNPDSI,
		MNTDES,
		MNTPDESCI,
		MNTPDESSI,
		MNTPIVA,
		MNTPPER,
		MNTPRECCI,
		MNTPRECSI,
		MNTPTOT,
		NROITEM,
		PROCSTOCK,
		PRUNCONIMP,
		PRUNSINIMP,
		SENIACANCE,
		USARPLISTA,
		IDITEM
	from zoologic.REMCOMPRADET
	union all
	select
		cast( 6 as int ) SECUENCIA_TRANSACCIONAL,
		Funciones.IdentificadorDeComprobanteParaListado( AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM ) COMPROBANTE_AFECTADO,
		ACONDIVAC,
		AFECANT,
		AFELETRA,
		AFENROITEM,
		AFENUMCOM,
		AFEPTOVEN,
		AFESALDO,
		AFETIPOCOM,
		AFETS,
		AFE_COD,
		AJUCIMP,
		AJUSIMP,
		APORCIVAC,
		cast( null as char(20)) CCOSTO,
		CIDITEM,
		CODIGO,
		cast( null as char(20)) DCCOSTO,
		EQUIV,
		FAMATE,
		FART,
		FBRUTO,
		FCANT,
		FCFI,
		FCFITOT,
		FCOLO,
		FCOTXT,
		FKIT,
		FMONTO,
		FMTOCFI,
		FMTODTO1,
		FMTOIVA,
		FN11,
		FNETO,
		FPORCFI,
		FPORDTO1,
		FPORIVA,
		FPRECIO,
		FPRUN,
		FTALL,
		FTXT,
		FUNID,
		FX2,
		IDITEMORIG,
		MNDESCI,
		MNDESSI,
		MNPDSI,
		MNTDES,
		MNTPDESCI,
		MNTPDESSI,
		MNTPIVA,
		MNTPPER,
		MNTPRECCI,
		MNTPRECSI,
		MNTPTOT,
		NROITEM,
		PROCSTOCK,
		PRUNCONIMP,
		PRUNSINIMP,
		SENIACANCE,
		USARPLISTA,
		IDITEM
	from zoologic.CANCOMPRADET
	union all
	select
		cast( 7 as int ) SECUENCIA_TRANSACCIONAL,
		Funciones.IdentificadorDeComprobanteParaListado( AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM ) COMPROBANTE_AFECTADO,
		ACONDIVAC,
		AFECANT,
		AFELETRA,
		AFENROITEM,
		AFENUMCOM,
		AFEPTOVEN,
		AFESALDO,
		AFETIPOCOM,
		AFETS,
		AFE_COD,
		AJUCIMP,
		AJUSIMP,
		APORCIVAC,
		CCOSTO,
		CIDITEM,
		CODIGO,
		DCCOSTO,
		EQUIV,
		FAMATE,
		FART,
		FBRUTO,
		FCANT,
		FCFI,
		FCFITOT,
		FCOLO,
		FCOTXT,
		FKIT,
		FMONTO,
		FMTOCFI,
		FMTODTO1,
		FMTOIVA,
		FN11,
		FNETO,
		FPORCFI,
		FPORDTO1,
		FPORIVA,
		FPRECIO,
		FPRUN,
		FTALL,
		FTXT,
		FUNID,
		FX2,
		IDITEMORIG,
		MNDESCI,
		MNDESSI,
		MNPDSI,
		MNTDES,
		MNTPDESCI,
		MNTPDESSI,
		MNTPIVA,
		MNTPPER,
		MNTPRECCI,
		MNTPRECSI,
		MNTPTOT,
		NROITEM,
		PROCSTOCK,
		PRUNCONIMP,
		PRUNSINIMP,
		SENIACANCE,
		USARPLISTA,
		IDITEM
	from zoologic.FACCOMPRADET
	union all
	select
		cast( 8 as int ) SECUENCIA_TRANSACCIONAL,
		Funciones.IdentificadorDeComprobanteParaListado( AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM ) COMPROBANTE_AFECTADO,
		ACONDIVAC,
		AFECANT,
		AFELETRA,
		AFENROITEM,
		AFENUMCOM,
		AFEPTOVEN,
		AFESALDO,
		AFETIPOCOM,
		AFETS,
		AFE_COD,
		AJUCIMP,
		AJUSIMP,
		APORCIVAC,
		CCOSTO,
		CIDITEM,
		CODIGO,
		DCCOSTO,
		EQUIV,
		FAMATE,
		FART,
		FBRUTO,
		FCANT,
		FCFI,
		FCFITOT,
		FCOLO,
		FCOTXT,
		FKIT,
		FMONTO,
		FMTOCFI,
		FMTODTO1,
		FMTOIVA,
		FN11,
		FNETO,
		FPORCFI,
		FPORDTO1,
		FPORIVA,
		FPRECIO,
		FPRUN,
		FTALL,
		FTXT,
		FUNID,
		FX2,
		IDITEMORIG,
		MNDESCI,
		MNDESSI,
		MNPDSI,
		MNTDES,
		MNTPDESCI,
		MNTPDESSI,
		MNTPIVA,
		MNTPPER,
		MNTPRECCI,
		MNTPRECSI,
		MNTPTOT,
		NROITEM,
		PROCSTOCK,
		PRUNCONIMP,
		PRUNSINIMP,
		SENIACANCE,
		USARPLISTA,
		IDITEM
	from zoologic.NCCOMPRADET
	union all
	select
		cast( 9 as int ) SECUENCIA_TRANSACCIONAL,
		Funciones.IdentificadorDeComprobanteParaListado( AFETIPOCOM, AFELETRA, AFEPTOVEN, AFENUMCOM ) COMPROBANTE_AFECTADO,
		ACONDIVAC,
		AFECANT,
		AFELETRA,
		AFENROITEM,
		AFENUMCOM,
		AFEPTOVEN,
		AFESALDO,
		AFETIPOCOM,
		AFETS,
		AFE_COD,
		AJUCIMP,
		AJUSIMP,
		APORCIVAC,
		CCOSTO,
		CIDITEM,
		CODIGO,
		DCCOSTO,
		EQUIV,
		FAMATE,
		FART,
		FBRUTO,
		FCANT,
		FCFI,
		FCFITOT,
		FCOLO,
		FCOTXT,
		FKIT,
		FMONTO,
		FMTOCFI,
		FMTODTO1,
		FMTOIVA,
		FN11,
		FNETO,
		FPORCFI,
		FPORDTO1,
		FPORIVA,
		FPRECIO,
		FPRUN,
		FTALL,
		FTXT,
		FUNID,
		FX2,
		IDITEMORIG,
		MNDESCI,
		MNDESSI,
		MNPDSI,
		MNTDES,
		MNTPDESCI,
		MNTPDESSI,
		MNTPIVA,
		MNTPPER,
		MNTPRECCI,
		MNTPRECSI,
		MNTPTOT,
		NROITEM,
		PROCSTOCK,
		PRUNCONIMP,
		PRUNSINIMP,
		SENIACANCE,
		USARPLISTA,
		IDITEM
	from zoologic.NDCOMPRADET
);
