IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_SIFERE_RetencionesIIBB]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIFERE_RetencionesIIBB];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIFERE_RetencionesIIBB]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[CompRR] as Comprobantes
		join [ZooLogic].[CompRRDet] as DetalleRetenciones on Comprobantes.Codigo = DetalleRetenciones.Codigo
	where Comprobantes.Anulado = 0
		and Comprobantes.FechCert between @FechaComprobanteDesde and @FechaComprobanteHasta
		and Comprobantes.TipoImp = 'IIBB'
END