IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIPRG4597_VentasComprobantes]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIPRG4597_VentasComprobantes];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIPRG4597_VentasComprobantes]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@PtVtaDesde int,
	@PtVtaHasta int,
	@CompFiscal bit,
	@CompManual bit,
	@CompElectr bit 
)
RETURNS TABLE
AS
RETURN
(
	select cast( Funciones.padl( cast( year( DatosExpo.FechaComprobante ) as varchar(4) ), 4, '0' ) as char(4) ) as AnioFecha,
		cast( Funciones.padl( cast( month( DatosExpo.FechaComprobante ) as varchar(2) ), 2, '0' ) as char(2) ) as MesFecha,
		cast( Funciones.padl( cast( day( DatosExpo.FechaComprobante ) as varchar(2) ), 2, '0' ) as char(2) ) as DiaFecha,
		cast( Funciones.padl( DatosExpo.TipoComprobante, 3, '0' ) as char(3) ) as TipoComp,
		cast( Funciones.padl( cast( DatosExpo.PuntoVenta as varchar(5) ), 5, '0' ) as char(5) ) as PtoVenta,
		cast( Funciones.padl( cast( DatosExpo.NumeroComprobante as varchar(20) ), 20, '0' ) as char(20) ) as NumCompD,
		cast( Funciones.padl( cast( DatosExpo.NumeroComprobante as varchar(20) ), 20, '0' ) as char(20) ) as NumCompH,
		cast( DatosExpo.TipoDocumento as char(2) ) as CliTipoDoc,
		cast( DatosExpo.NumeroDocumento as char(20) ) as CliNroDoc,
		cast( DatosExpo.NombreCliente as char(30) ) as CliNombre,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( case when DatosExpo.EsExportacion = 1 then DatosExpo.Total * DatosExpo.Cotizacion else DatosExpo.Total end, 2, 15 ) as char(15) ) as Total,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( case when DatosExpo.EsExportacion = 1 then DatosExpo.Total * DatosExpo.Cotizacion else DatosExpo.NetoNoGravado end, 2, 15 ) as char(15) ) as NetoNoGrav,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.PercepcionesNoCategorizadas, 2, 15 ) as char(15) ) as PercNoCate,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.OperacionesExentas, 2, 15 ) as char(15) ) as OpeExentas,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( case when DatosExpo.EsExportacion = 1 then 0 else DatosExpo.ImpuestosNacionales end, 2 , 15 ) as char(15) ) as ImpuNacion,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( case when DatosExpo.EsExportacion = 1 then 0 else DatosExpo.ImpuestosIIBB end, 2, 15 ) as char(15) ) as ImpuIIBB,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.ImpuestosMunicipales, 2, 15 ) as char(15) ) as ImpuMunic,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( case when DatosExpo.EsExportacion = 1 then 0 else DatosExpo.ImpuestosInternos end, 2, 15 ) as char(15) ) as ImpuIntern,
		cast( Funciones.padl( DatosExpo.Moneda, 3, '0' ) as char(3) ) as Moneda,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( DatosExpo.Cotizacion, 6, 10 ) as char(10) ) as Cotizacion,
		cast( case when DatosExpo.EsExportacion = 1 then 1 else DatosExpo.CantidadAlicuotas3685 end as char(1) ) as CantAlic3685,
		cast( case when DatosExpo.EsExportacion = 1 then 1 else DatosExpo.CantidadAlicuotas end as char(1) ) as CantAlic,
		cast( case when DatosExpo.EsExportacion = 1 then 'X' else ( case when round( DatosExpo.NetoNoGravado, 2 ) <> 0 then 'N' else ' ' end ) end as char(1) ) as CodOperac,
		cast( Funciones.ObtenerMontoNegativoConPadlSinComa( case when DatosExpo.EsExportacion = 1 then 0 else DatosExpo.OtrosTributos end, 2, 15 ) as char(15) ) as ImpuOtros,
		cast( DatosExpo.FechaVencimientoPago as char(8) ) as FecVtoPago,
		cast( DatosExpo.CambioNombreCliente as int ) as CambioNombreCliente,
		DatosExpo.cae_numero,DatosExpo.comprobante_tipo,datosexpo.descfw 
	from ( 
		select Funciones.EsComprobanteExportacion( Comprobante.FactTipo ) as EsExportacion,
			Comprobante.FFch as FechaComprobante,
			Comprobante.FPtoVen as PuntoVenta,
			Comprobante.FNumComp as NumeroComprobante,
			case when Funciones.Empty(Comprobante.FCliente) = 1 then 'CONSUMIDOR FINAL' else Comprobante.FCliente end as NombreCliente,
			Comprobante.FTotal as Total,
			Comprobante.Cotiz as Cotizacion,
			Interfaces.Auxiliar_AFIP3685_ObtenerTipoDocumentoCliente( Comprobante.FactTipo, Comprobante.FPerson, Comprobante.FCUIT, Cliente.ClCUIT, Cliente.PCUIT, Cliente.ClNroDoc, case when ConvVDocu.ValDest is null then ConvCDocu.ValorDef else ConvVDocu.ValDest end ) as TipoDocumento,
			Interfaces.Auxiliar_AFIP3685_ObtenerNumeroDocumentoCliente( Comprobante.FactTipo, Comprobante.FPerson, Comprobante.FCUIT, Cliente.ClCUIT, Cliente.PCUIT, Cliente.ClNroDoc ) as NumeroDocumento,
			case when ConvVTipo.ValDest is null then ConvCTipo.ValorDef else ConvVTipo.ValDest end as TipoComprobante,
			case when ConvVMone.ValDest is null then ConvCMone.ValorDef else ConvVMone.ValDest end as Moneda,
			0 as PercepcionesNoCategorizadas,
			0 as OperacionesExentas,
			0 as ImpuestosMunicipales,
			case when ImpuesIVA.IVAMonNG is not null then ImpuesIVA.IVAMonNG else 0 end as NetoNoGravado,
			case when ImpVentas.ImpuestosNacionales is not null then ImpVentas.ImpuestosNacionales else 0 end as ImpuestosNacionales,
			case when ImpVentas.ImpuestosIIBB is not null then ImpVentas.ImpuestosIIBB else 0 end as ImpuestosIIBB,
			Comprobante.Gravamen as ImpuestosInternos,
			case when ImpVentas.OtrosTributos is not null then ImpVentas.OtrosTributos else 0 end as OtrosTributos,
			case when ImpuesIVA.CantidadAlicuotas is not null then ImpuesIVA.CantidadAlicuotas - ImpuesIVA.CantidadAlicuotasEn0 else 0 end as CantidadAlicuotas3685,
			case when ImpuesIVA.CantidadAlicuotas is not null then CASE WHEN (ImpuesIVA.CantidadAlicuotas - ImpuesIVA.CantidadAlicuotasEn0 <> 0) THEN ImpuesIVA.CantidadAlicuotas - ImpuesIVA.CantidadAlicuotasEn0 ELSE 1 END else 0 end  as CantidadAlicuotas,
			'00000000' as FechaVencimientoPago,
			case when Funciones.Empty(Comprobante.FCliente) = 1 then 1 else 0 end as CambioNombreCliente,
			cae.numero as cae_numero, comprobante.facttipo as comprobante_tipo, comprobante.descfw		
		from [ZooLogic].[ComprobanteV] as Comprobante
			left join [ZooLogic].[Cli] as Cliente on Comprobante.FPerson = Cliente.ClCod
			left join [ZooLogic].[CAE] as cae on cae.codigo = comprobante.CODIGO
			left join (
				select ImpuesIVA.Codigo as Codigo,
					sum( case when ImpuesIVA.IVAPorcent = 0 then ImpuesIVA.IVAMonNG else 0 end ) as IVAMonNG,
					count( distinct ImpuesIVA.IVAPorcent ) as CantidadAlicuotas,
					sum( case when ImpuesIVA.IVAPorcent > 0 and ImpuesIVA.IVAMonto < 0.01 then 1 else 0 end ) as CantidadAlicuotasEn0
				from [ZooLogic].[ImpuestosV] as ImpuesIVA
				group by ImpuesIVA.Codigo
				) as ImpuesIVA on Comprobante.Codigo = ImpuesIVA.Codigo
			left join (
				select ImpVentas.CCod,
					sum( case when ImpVentas.TipoI in ( 'IVA', 'GANANCIAS' ) then ImpVentas.Monto else 0 end ) as ImpuestosNacionales,
					sum( case when ImpVentas.TipoI = 'IIBB' then ImpVentas.Monto else 0 end ) as ImpuestosIIBB,
					sum( case when ImpVentas.TipoI not in ( 'IVA', 'GANANCIAS', 'IIBB' ) then ImpVentas.Monto else 0 end ) as OtrosTributos
				from [ZooLogic].[ImpVentas] as ImpVentas
				group by ImpVentas.CCod
				) as ImpVentas on Comprobante.Codigo = ImpVentas.CCod
			left join [Organizacion].[Conver] as ConvCTipo on ConvCTipo.Codigo = 'TIPOCOMPROBANTEAFIP'
			left join [Organizacion].[ConverVal] as ConvVTipo on ConvCTipo.Codigo = ConvVTipo.Conversion and ConvVTipo.ValOrig = cast( Comprobante.FactTipo as varchar(2) ) + Comprobante.FLetra
			left join [Organizacion].[Conver] as ConvCDocu on ConvCDocu.Codigo = 'CODIGODOCUMENTO'
			left join [Organizacion].[ConverVal] as ConvVDocu on ConvCDocu.Codigo = ConvVDocu.Conversion and ConvVDocu.ValOrig = Cliente.ClTipoDoc
			left join [Organizacion].[Conver] as ConvCMone on ConvCMone.Codigo = 'MONEDAAFIP'
			left join [Organizacion].[ConverVal] as ConvVMone on ConvCMone.Codigo = ConvVMone.Conversion and ConvVMone.ValOrig = Comprobante.Moneda
		where case 
				when @CompFiscal = 1 and Comprobante.FactTipo in ( 2, 5, 6 ) then 1 
				when @CompManual = 1 and Comprobante.FactTipo in ( 1, 3, 4, 47, 48, 49 ) then 1
				when @CompElectr = 1 and Comprobante.FactTipo in ( 27, 28, 29, 33, 35, 36, 54, 55, 56 ) then 1
				else 0
			  end = 1
			  and Comprobante.Anulado = 0
			  and ( ( @FechaDesde is null ) or ( Comprobante.FFch >= @FechaDesde ) ) 
			  and ( ( @FechaHasta is null ) or ( Comprobante.FFch <= @FechaHasta ) )
			  and ( ( @PtVtaDesde is null ) or ( Comprobante.FPTOVEN >= @PtVtaDesde ) ) 
			  and ( ( @PtVtaHasta is null ) or ( Comprobante.FPTOVEN <= @PtVtaHasta ) )
		) as DatosExpo
)