IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_SIPRIBSantaFe_Percepciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIPRIBSantaFe_Percepciones];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIPRIBSantaFe_Percepciones]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[ComprobanteV] as Comprobantes
		join [ZooLogic].[ImpVentas] as DetalleImpuestos on Comprobantes.Codigo = DetalleImpuestos.CCod and DetalleImpuestos.Jurid = '921' and DetalleImpuestos.TipoI = 'IIBB'
		join [ZooLogic].[Cli] as Clientes on Comprobantes.FPerson = Clientes.ClCod
		join [ZooLogic].[SIPRIBDatAdic] as DatosSIPRIB on Clientes.ClSIPRIB = DatosSIPRIB.Codigo
	where Comprobantes.FactTipo in ( 1, 4, 2, 6, 27, 29, 8, 9, 13, 37 )
		and Comprobantes.Anulado = 0
		and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta	
END