IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_EFlexware_DetalleItems_Articulos]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_EFlexware_DetalleItems_Articulos];
GO;

CREATE FUNCTION [Interfaces].[Datos_EFlexware_DetalleItems_Articulos]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@BlanquearClienteB bit,
	@EsPedidoDeVentas bit,
	@TipoDeItem int,
	@UnidadDeMedida2 bit,
	@EsRemitoDeVentas bit,
	@UnidadDeMedida1 bit,
	@IncluirAlCodigo int,
	@IncluirAlCodigoArticulo int,
	@CodigoClienteCompEnCero varchar(6),
	@CodigoConceptoAgrupado varchar(23),
	@CProveedorSiVacio varchar(40)
	
)
RETURNS TABLE
AS
RETURN
	with Limite as
		(
		select 5 as Diferencia
		)
	, DiferenciasPorRedondeo as
		(
		select dv.CODIGO, dv.NROITEM, dv.FART, dv.FCANT, dv.FPRECIO, dv.PRUNSINIMP, dv.FMONTO, dv.MNPDSI, dv.MNDESSI, dv.FCFI, dv.MNTDES, dv.FPorIVA
			, dv.CCOLOR, dv.TALLE, dv.FTXT, dv.FCOLTXT, dv.FTATXT
			, power( 0, row_number() over ( partition by dv.CODIGO order by dv.MntPTot desc ) - 1 ) ACorregir
			, round( dv.MntPTot, 2 ) MntPTot
			, sum( dv.MNTPTOT ) over ( partition by dv.CODIGO ) - sum( round( dv.MNTPTOT, 2 ) ) over ( partition by dv.CODIGO ) DifMntTotRd
			, round( dv.MntPIVA, 2 ) MntPIVA
			, sum( dv.MntPIVA ) over ( partition by dv.CODIGO ) - sum( round( dv.MntPIVA, 2 ) ) over ( partition by dv.CODIGO ) DifMntIVARd
			, round( dv.MntPInt, 2 ) MntPInt
			, sum( dv.MntPInt ) over ( partition by dv.CODIGO ) - sum( round( dv.MntPInt, 2 ) ) over ( partition by dv.CODIGO ) DifMntIntRd
			, round( dv.MntPPer, 2 ) MntPPer
			, sum( dv.MntPPer ) over ( partition by dv.CODIGO ) - sum( round( dv.MntPPer, 2 ) ) over ( partition by dv.CODIGO ) DifMntPerRd
			, round( dv.MntPRecSI, 2 ) MntPRecSI
			, round( sum( dv.MntPRecSI ) over ( partition by dv.CODIGO ) - sum( round( dv.MntPRecSI, 2 ) ) over ( partition by dv.CODIGO ), 2 ) DifMntRecRd
			, round( dv.MntPDesSI, 2 ) MntPDesSI
			, round( sum( dv.MntPDesSI ) over ( partition by dv.CODIGO ) - sum( round( dv.MntPDesSI, 2 ) ) over ( partition by dv.CODIGO ), 2 ) DifMntDesRd
			, dv.MntPTot MntPTotOrg
			, dv.MntPIVA MntPIVAOrg
			, dv.MntPDesSI MntPDesSIOrg
		from ZooLogic.COMPROBANTEVDET dv
		)
	, DetalleConMontosCorregidos as
		(
		select vc.CODIGO, vc.NROITEM, vc.FART, vc.FCANT, vc.FPRECIO, vc.PRUNSINIMP, vc.FMONTO, vc.MNPDSI, vc.MNDESSI, vc.FCFI, vc.MNTDES, vc.FPorIVA
			, vc.CCOLOR, vc.TALLE, vc.FTXT, vc.FCOLTXT, vc.FTATXT
			, vc.MntPTot + case when abs( vc.DifMntTotRd ) < Limite.Diferencia then vc.DifMntTotRd else 0 end * vc.ACorregir MntPTot
			, vc.MntPIVA + case when abs( vc.DifMntIVARd ) < Limite.Diferencia then vc.DifMntIVARd else 0 end * vc.ACorregir MntPIVA
			, vc.MntPInt + case when abs( vc.DifMntIntRd ) < Limite.Diferencia then vc.DifMntIntRd else 0 end * vc.ACorregir MntPInt
			, vc.MntPPer + case when abs( vc.DifMntPerRd ) < Limite.Diferencia then vc.DifMntPerRd else 0 end * vc.ACorregir MntPPer
			, vc.MntPRecSI + case when abs( vc.DifMntRecRd ) < Limite.Diferencia then vc.DifMntRecRd else 0 end * vc.ACorregir MntPRecSI
			, vc.MntPDesSI + case when abs( vc.DifMntDesRd ) < Limite.Diferencia then vc.DifMntDesRd else 0 end * vc.ACorregir MntPDesSI
			, vc.MntPTotOrg
			, vc.MntPIVAOrg
			, vc.MntPDesSIOrg
		from DiferenciasPorRedondeo vc cross join Limite 
		)
	select DatosExpoIntermedios.TipoComprobante,
		DatosExpoIntermedios.Letra as LetraComprobante,
		DatosExpoIntermedios.PuntoVenta,
		DatosExpoIntermedios.NumeroComprobante as NumeroComprobanteDesde,
		'' as NumeroComprobanteHasta,
		DatosExpoIntermedios.Fecha as FechaComprobante,
		DatosExpoIntermedios.CodigoCliente, 
		case when DatosExpoIntermedios.ArticuloColorTalle = 'SEÑA' then 'C' else
			case @TipoDeItem when 1 then 'A'
				when 2 then 'C'
				when 3 then
				case DatosExpoIntermedios.Comportamiento when 0 then 'A' 
														 when 5 then 'A'
				end 										  else 'C'
			end
		end as TipoItem,
		DatosExpoIntermedios.ArticuloColorTalle as CodigoConceptoArticulo,
		case @UnidadDeMedida1 when 0 then 0.00 else DatosExpoIntermedios.Cantidad end as CantidadUnidadDeMedida1,
		case @UnidadDeMedida2 when 0 then 0.00 else DatosExpoIntermedios.Cantidad end as CantidadUnidadDeMedida2,
		DatosExpoIntermedios.DescripcionArticulo as DescripcionArticuloConceptoLeyenda,
		DatosExpoIntermedios.PrecioUnitario,
		DatosExpoIntermedios.PorcentajeIVA as PorcentajeIVAInscripto,
		0.00 as PorcentajeIVANoInscripto,
		DatosExpoIntermedios.MontoProrrateoIVA as ImporteIVAInscripto,
		0.00 as ImporteIVANoInscripto,
		DatosExpoIntermedios.MontoProrrateoLinea as ImporteTotal,
		DatosExpoIntermedios.MontoProrrateoDescuentoRecargoSI as ImporteDescuentoComercial,
		0.00 as ImporteDescuentoFinanciero,
		0.00 as ImporteDescuentoAlPie,
		case when DatosExpoIntermedios.MontoImpuestosInternos = 0 then '' else 'II' end as CodigoConceptoNoGravado,
		DatosExpoIntermedios.MontoImpuestosInternos as ImporteIVANoGravado,
		DatosExpoIntermedios.TipoIVA,
		'DL' as CodigoDescuentoPorLinea,
		DatosExpoIntermedios.MontoDescuentoEnLineaSI as ImporteDescuentoPorLinea,
		DatosExpoIntermedios.BDDeposito as Deposito,
		'LINCE' as Partida,
		DatosExpoIntermedios.PorcentajeDescuentoEnLinea as TasaDescuentoPorItem,
		DatosExpoIntermedios.MontoLinea as ImporteRenglon,
		'' as ClaseArticulo,
		DatosExpoIntermedios.CodigoGrupo as DefinibleArticulos1,
		DatosExpoIntermedios.DescripcionGrupo as DescripcionDefinibleArticulos1,
		DatosExpoIntermedios.CodigoMaterial as DefinibleArticulos2,
		DatosExpoIntermedios.DescripcionMaterial as DescripcionDefinibleArticulos2,
		DatosExpoIntermedios.CodigoProveedor,
		DatosExpoIntermedios.RazonSocialProveedor,
		DatosExpoIntermedios.DescripcionColor as DescripcionElementoNivel1,
		DatosExpoIntermedios.DescripcionTalle as DescripcionElementoNivel2,
		'' as DescripcionElementoNivel3,
		'' as CodigoBarras,
		DatosExpoIntermedios.FechaEntrega,
		'' as NumeroRenglon,
		'' as EsKit,
		'' as CodigoKit,
		'' as EsPromocion,
		DatosExpoIntermedios.PrecioSIxCantidad as _precioSIxCantidad
	from (
		select case @EsRemitoDeVentas when 1 then 'RT' else DatosExpoBasicos.TipoComprobante end as TipoComprobante,
			DatosExpoBasicos.Letra,
			DatosExpoBasicos.PuntoVenta,
			DatosExpoBasicos.NumeroComprobante,
			Funciones.dtos(DatosExpoBasicos.Fecha) as Fecha,
			DatosExpoBasicos.Signo,
			DatosExpoBasicos.CodigoCliente,
			case when DatosExpoBasicos.ArticuloSenia = 1 then 'SEÑA' 
			else 
				case when @IncluirAlCodigoArticulo <> 1 then DatosExpoBasicos.Articulo + '-' + DatosExpoBasicos.Color + '-' + DatosExpoBasicos.Talle 
				else case @IncluirAlCodigo
					 when 1 then DatosExpoBasicos.Articulo + '-' + DatosExpoBasicos.Color + '-' + DatosExpoBasicos.Talle
					 when 2 then DatosExpoBasicos.Articulo + '-' + DatosExpoBasicos.Color
					 when 3 then DatosExpoBasicos.Articulo + '-' + DatosExpoBasicos.Talle
					 when 4 then DatosExpoBasicos.Articulo 
					 end
				end
			end as ArticuloColorTalle,
			DatosExpoBasicos.DescripcionArticulo,
			DatosExpoBasicos.DescripcionColor,
			DatosExpoBasicos.DescripcionTalle,
			DatosExpoBasicos.Cantidad * DatosExpoBasicos.Signo as Cantidad,
			DatosExpoBasicos.PrecioUnitario,
			DatosExpoBasicos.PorcentajeIVA,
			DatosExpoBasicos.TipoIVA,
			DatosExpoBasicos.MontoProrrateoIVA * DatosExpoBasicos.Signo as MontoProrrateoIVA,
			DatosExpoBasicos.MontoSinProrrateos * DatosExpoBasicos.Signo as MontoProrrateoLinea,
			DatosExpoBasicos.MontoProrrateoRecargoSI - DatosExpoBasicos.MontoProrrateoDescuentoSI as MontoProrrateoDescuentoRecargoSI,
			DatosExpoBasicos.MontoImpuestosInternos * DatosExpoBasicos.Signo as MontoImpuestosInternos,
			DatosExpoBasicos.MontoDescuentoEnLineaSI * -DatosExpoBasicos.Signo as MontoDescuentoEnLineaSI,
			DatosExpoBasicos.PorcentajeDescuentoEnLinea + DatosExpoBasicos.PorcentajeMontoDescuentoEnLinea as PorcentajeDescuentoEnLinea,
			DatosExpoBasicos.MontoLinea * DatosExpoBasicos.Signo as MontoLinea,
			DatosExpoBasicos.BDDeposito,
			DatosExpoBasicos.CodigoProveedor,
			DatosExpoBasicos.RazonSocialProveedor,
			DatosExpoBasicos.CodigoMaterial,
			DatosExpoBasicos.DescripcionMaterial,
			DatosExpoBasicos.CodigoGrupo,
			DatosExpoBasicos.DescripcionGrupo,
			DatosExpoBasicos.PrecioSIxCantidad, 
			DatosExpoBasicos.FechaEntrega,
			DatosExpoBasicos.Comportamiento
		from (
			select Comprobantes.FLetra as Letra,
				Comprobantes.FPtoVen as PuntoVenta,
				Comprobantes.FNumComp as NumeroComprobante,
				Comprobantes.FFch as Fecha,
				[Interfaces].[Auxiliar_EFlexware_CodigoCliente] (EFLEXCODIGOCLIENTE_valconv_bd.ValDest, EFLEXCODIGOCLIENTE_valconv_cl.ValDest, EFLEXCODIGOCLIENTE_cabconv.Accion,
					EFLEXCODIGOCLIENTE_cabconv.ValorDef, Comprobantes.FPerson, Comprobantes.FLetra, Comprobantes.FTotal, DetalleValores.Vuelto, DetalleValores.CantidadCC,
					@BlanquearClienteB,@CodigoClienteCompEnCero) as CodigoCliente,
				Comprobantes.FTotal as TotalComprobante,
				case when Funciones.EsComprobanteNotaDeCredito(Comprobantes.FactTipo) = 1 then -1 else 1 end as Signo,
				DetalleArticulos.FCant as Cantidad,
				DetalleArticulos.FPrecio as PrecioUnitario,
				round(DetalleArticulos.PrUnSinImp * DetalleArticulos.FCant, 2) as PrecioSIxCantidad,
				DetalleArticulos.FPorIVA as PorcentajeIVA,
				DetalleArticulos.MntPIVA as MontoProrrateoIVA,
				DetalleArticulos.MntPTot - DetalleArticulos.MntPIVA - DetalleArticulos.MntPInt - DetalleArticulos.MntPPer as MontoSinProrrateos,
				DetalleArticulos.MntPDesSI as MontoProrrateoDescuentoSI,
				DetalleArticulos.MntPRecSI as MontoProrrateoRecargoSI,
				DetalleArticulos.MntPInt as MontoImpuestosInternos,
				DetalleArticulos.MntPPer as MontoProrrateoPercepciones,
				round(DetalleArticulos.MnPDSI, 2) + round(DetalleArticulos.MnDesSI, 2) as MontoDescuentoEnLineaSI,
				DetalleArticulos.FCFI as PorcentajeDescuentoEnLinea,
				case when DetalleArticulos.FPrecio * DetalleArticulos.FCant = 0 then 0.00 else round((DetalleArticulos.MntDes * 100) / (DetalleArticulos.FPrecio * DetalleArticulos.FCant), 2) end as PorcentajeMontoDescuentoEnLinea,
				DetalleArticulos.FMonto as MontoLinea,
				case when len(DetalleArticulos.Fart)<=13 then Funciones.padr(Funciones.alltrim(DetalleArticulos.FArt), 13, ' ')else DetalleArticulos.FArt end as Articulo,
				case when DetalleArticulos.CColor = '' then '.' else Funciones.alltrim(DetalleArticulos.CColor) end as Color,
				case when DetalleArticulos.Talle = '' then '.' else Funciones.alltrim(DetalleArticulos.Talle) end as Talle,
				Funciones.alltrim(DetalleArticulos.FTxt) as DescripcionArticulo,
				Funciones.alltrim(DetalleArticulos.FColTxt) as DescripcionColor,
				Funciones.alltrim(DetalleArticulos.FTaTxt) as DescripcionTalle,
				Articulos.ASTOCK as Comportamiento,
				case when DetalleArticulos.FArt = 'SEÑA' then 1 else 0 end as ArticuloSenia,
				--case when Articulos.ArtFab is null or Articulos.ArtFab = '' then 'LINCE' else Funciones.alltrim(Articulos.ArtFab) end as CodigoProveedor,
				case when Articulos.ArtFab is null or Articulos.ArtFab = '' then @CProveedorSiVacio else Funciones.alltrim(Articulos.ArtFab) end as CodigoProveedor,
				case when Proveedores.ClNom is null then '' else Funciones.alltrim(Proveedores.ClNom) end as RazonSocialProveedor,
				case when Articulos.Mat is null then '' else Funciones.alltrim(Articulos.Mat) end as CodigoMaterial,
				case when Materiales.MatDes is null then '' else Funciones.alltrim(Materiales.MatDes) end as DescripcionMaterial,
				case when Articulos.Grupo is null then '' else Funciones.alltrim(Articulos.Grupo) end as CodigoGrupo,
				case when Grupos.Descrip is null then '' else Funciones.alltrim(Grupos.Descrip) end as DescripcionGrupo,
				case when EFLEXCOMPROBANTES_valconv.ValDest is null then cast(Comprobantes.FactTipo as varchar(2)) else EFLEXCOMPROBANTES_valconv.ValDest end as TipoComprobante,
				case when EFLEXTIPOIVA_valconv.ValDest is null then EFLEXTIPOIVA_cabconv.ValorDef else EFLEXTIPOIVA_valconv.ValDest end as TipoIVA,
				case when DEPOSITO_valconv.ValDest is null then DEPOSITO_cabconv.ValorDef else DEPOSITO_valconv.ValDest end as BDDeposito, 
				case when @EsPedidoDeVentas = 1 then Funciones.dtos(Comprobantes.Ffchent) else '' end as FechaEntrega
			from [ZooLogic].[ComprobanteV] as Comprobantes
				join DetalleConMontosCorregidos as DetalleArticulos on Comprobantes.Codigo = DetalleArticulos.Codigo
				left join [ZooLogic].[Art] as Articulos on DetalleArticulos.FArt = Articulos.ArtCod
				left join [ZooLogic].[Prov] as Proveedores on Articulos.ArtFab = Proveedores.ClCod
				left join [ZooLogic].[Mat] as Materiales on Articulos.Mat = Materiales.MatCod
				left join [ZooLogic].[Grupo] as Grupos on Articulos.Grupo = Grupos.Cod
				left join (
					select Valores.JjNum as CodigoComprobante,
						sum(case when Valores.JjT = 6 then 1 else 0 end) as CantidadCC,
						sum(case when Valores.EsVuelto = 1 then round(abs(Valores.RecPesos), 2) else 0 end) as Vuelto
					from [ZooLogic].[Val] as Valores
					group by Valores.JjNum
					) as DetalleValores on Comprobantes.Codigo = DetalleValores.CodigoComprobante
				left join [Organizacion].[ConverVal] as EFLEXCOMPROBANTES_valconv on EFLEXCOMPROBANTES_valconv.Conversion = 'EFLEXCOMPROBANTES' and EFLEXCOMPROBANTES_valconv.ValOrig = cast(Comprobantes.FactTipo as varchar(2))
				left join [Organizacion].[Conver] as EFLEXTIPOIVA_cabconv on EFLEXTIPOIVA_cabconv.Codigo = 'EFLEXTIPOIVA'
				left join [Organizacion].[ConverVal] as EFLEXTIPOIVA_valconv on EFLEXTIPOIVA_cabconv.Codigo = EFLEXTIPOIVA_valconv.Conversion and EFLEXTIPOIVA_valconv.ValOrig = cast(cast(DetalleArticulos.FPorIVA * 100 as int) as varchar(5))
				left join [Organizacion].[Conver] as DEPOSITO_cabconv on DEPOSITO_cabconv.Codigo = 'DEPOSITO'
				left join [Organizacion].[ConverVal] as DEPOSITO_valconv on DEPOSITO_cabconv.Codigo = DEPOSITO_valconv.Conversion and DEPOSITO_valconv.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as EFLEXCODIGOCLIENTE_cabconv on EFLEXCODIGOCLIENTE_cabconv.Codigo = 'EFLEXCODIGOCLIENTE'
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_cl on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_cl.Conversion and EFLEXCODIGOCLIENTE_valconv_cl.ValOrig = Comprobantes.FPerson
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_bd on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_bd.Conversion and EFLEXCODIGOCLIENTE_valconv_bd.ValOrig = Comprobantes.BDAltaFW
			where (( @EsPedidoDeVentas = 0 and @EsRemitoDeVentas = 0 and Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49, 54, 55, 56) or (@EsPedidoDeVentas = 1 and Comprobantes.FactTipo = 23) or (@EsRemitoDeVentas = 1 and Comprobantes.FactTipo = 11)))  
				and Comprobantes.FLetra between @LetraDesde and @LetraHasta
				and Comprobantes.FPtoVen between @PuntoVentaDesde and @PuntoVentaHasta
				and Comprobantes.FNumComp between @NumeroComprobanteDesde and @NumeroComprobanteHasta
				and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
				and Comprobantes.FecExpo between @FechaExportacionDesde and @FechaExportacionHasta
				and Comprobantes.Anulado = 0
				and Comprobantes.IdSenia = ''
			) as DatosExpoBasicos
		) as DatosExpoIntermedios
