IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerTipoMonedaDeUnValor]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerTipoMonedaDeUnValor];
GO;

CREATE FUNCTION [Funciones].[ObtenerTipoMonedaDeUnValor]
	(
	@Valor varchar(10)
	) 

RETURNS varchar(254)
AS 
BEGIN

	Declare @Retorno varchar(254)

	Set @Retorno = ( select x.CLSMONET from [ZooLogic].[XVAL] x where x.CLCOD = @Valor )

	return isnull( @Retorno, '' )

End
 

 
