IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_EFlexware_Cabecera]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_EFlexware_Cabecera];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_EFlexware_Cabecera]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@Zona varchar(4),
	@CausaEmision varchar(4),
	@TipoCliente varchar(4),
	@ActualizaStock bit,
	@BlanquearClienteB bit,
	@TipoDetalle int,
	@SeparaDescYRec bit, 
	@EsPedidoDeVentas bit,
	@InvertirSigno bit,
	@ExportarDescripAdicional1 bit,
	@GrupoEnCabecera varchar(12),
	@EsRemitoDeVentas bit,
	@CodVendedor as varchar(4),
	@CodigoCondicionVentaCompEnCero varchar(3),
	@CodigoClienteCompEnCero varchar(6),
	@ExportarVacioCodigoAdicional1 bit,
	@Exportarrecfincomoconcep bit

)
RETURNS TABLE
AS
RETURN
(
	select cast(DatosExpo.TipoComprobante as char(3)) as TipoComp,										-- Campo: 1,  Longitud: 3,  Posiciones: 1-3
		cast(DatosExpo.LetraComprobante as char(1)) as LetraComp,										-- Campo: 2,  Longitud: 1,  Posiciones: 4
		cast(Funciones.padl(DatosExpo.PuntoVenta, 4, '0') as char(4)) as PtoVenta,						-- Campo: 3,  Longitud: 4,  Posiciones: 5-8
		cast(Funciones.padl(DatosExpo.NumeroComprobanteDesde, 8, '0') as char(8)) as NroCompD,			-- Campo: 4,  Longitud: 8,  Posiciones: 9-16
		cast(DatosExpo.NumeroComprobanteHasta as char(8)) as NroCompH,									-- Campo: 5,  Longitud: 8,  Posiciones: 17-24
		cast(DatosExpo.FechaComprobante as char(8)) as FechaComp,										-- Campo: 6,  Longitud: 8,  Posiciones: 25-32
		cast(DatosExpo.CodigoCliente as char(6)) as CodCliente,											-- Campo: 7,  Longitud: 6,  Posiciones: 33-38
		cast(DatosExpo.RazonSocialCliente as char(40)) as NomCliente,									-- Campo: 8,  Longitud: 40, Posiciones: 39-78
		cast(DatosExpo.TipoDocumentoCliente as char(2)) as TipoDocCli,									-- Campo: 9,  Longitud: 2,  Posiciones: 79-80
		cast(Funciones.padr(DatosExpo.ProvinciaCliente, 3, ' ') as char(3)) as ProvCliente,				-- Campo: 10, Longitud: 3,  Posiciones: 81-83
		cast(DatosExpo.CondicionIVACliente as char(1)) as CondIVACli,									-- Campo: 11, Longitud: 1,  Posiciones: 84
		cast(Funciones.padl(DatosExpo.NumeroDocumentoCliente, 11, ' ') as char(11)) as NroDocuCli,		-- Campo: 12, Longitud: 11, Posiciones: 85-95
		cast(Funciones.padl(DatosExpo.NumeroIIBBCliente, 15, ' ') as char(15)) as NroIIBBCli,			-- Campo: 13, Longitud: 15, Posiciones: 96-110
		cast(DatosExpo.CodigoVendedor as char(4)) as CodVend,											-- Campo: 14, Longitud: 4,  Posiciones: 111-114
		cast(DatosExpo.Zona as char(4)) as Zona,														-- Campo: 15, Longitud: 4,  Posiciones: 115-118
		cast(DatosExpo.ClasificacionCliente1 as char(4)) as ClasifCli1,									-- Campo: 16, Longitud: 4,  Posiciones: 119-122
		cast(DatosExpo.CondicionVenta as char(3)) as CondVenta,											-- Campo: 17, Longitud: 3,  Posiciones: 123-125
		cast(DatosExpo.CausaEmision as char(4)) as CausaEmis,											-- Campo: 18, Longitud: 4,  Posiciones: 126-129
		cast(DatosExpo.FechaVencimiento as char(8)) as FechaVenc,										-- Campo: 19, Longitud: 8,  Posiciones: 130-137
		cast(DatosExpo.TotalComprobante as char(16)) as TotalComp,										-- Campo: 20, Longitud: 16, Posiciones: 138-153
		cast(DatosExpo.CodigoDescuentoComercial as char(2)) as CodDescCom,								-- Campo: 21, Longitud: 2,  Posiciones: 154-155
		cast(DatosExpo.CodigoDescuentoFinanciero as char(2)) as CodDescFin,								-- Campo: 22, Longitud: 2,  Posiciones: 156-157
		cast(DatosExpo.CodigoDescuentoAlPie as char(2)) as CodDescPie,									-- Campo: 23, Longitud: 2,  Posiciones: 158-159
		cast(DatosExpo.AperturaContable as char(4)) as AperCont,										-- Campo: 24, Longitud: 4,  Posiciones: 160-163
		cast(DatosExpo.TipoCliente as char(4)) as TipCliente,											-- Campo: 25, Longitud: 4,  Posiciones: 164-167
		cast(DatosExpo.DireccionCliente as char(30)) as DirCliente,										-- Campo: 26, Longitud: 30, Posiciones: 168-197
		cast(DatosExpo.CodigoPostalCliente as char(8)) as CodPosCli,									-- Campo: 27, Longitud: 8,  Posiciones: 198-205
		cast(DatosExpo.LocalidadCliente as char(25)) as LocCliente,										-- Campo: 28, Longitud: 25, Posiciones: 206-230
		cast(DatosExpo.ClasificacionCliente2 as char(4)) as ClasifCli2,									-- Campo: 29, Longitud: 4,  Posiciones: 231-234
		cast(DatosExpo.Mensaje as char(40)) as Mensaje,													-- Campo: 30, Longitud: 40, Posiciones: 235-274
		cast(DatosExpo.ComprobanteAnulado as char(1)) as CompAnul,										-- Campo: 31, Longitud: 1,  Posiciones: 275
		cast(DatosExpo.ActualizaStock as char(1)) as ActStock,											-- Campo: 32, Longitud: 1,  Posiciones: 276
		cast(DatosExpo.DescripcionClasificacionCliente1 as char(15)) as DesClasif1,						-- Campo: 33, Longitud: 15, Posiciones: 277-291
		cast(DatosExpo.DescripcionClasificacionCliente2 as char(15)) as DesClasif2,						-- Campo: 34, Longitud: 15, Posiciones: 292-306
		cast(DatosExpo.DescripcionTipoCliente as char(15)) as DesTipoCli,								-- Campo: 35, Longitud: 15, Posiciones: 307-321
		cast(DatosExpo.DescripcionZona as char(15)) as DescZona,										-- Campo: 36, Longitud: 15, Posiciones: 322-336
		cast(DatosExpo.NombreVendedor as char(25)) as NomVend,											-- Campo: 37, Longitud: 25, Posiciones: 337-361
		cast(DatosExpo.ComprobantePreparado as char(1)) as CompPrep,									-- Campo: 38, Longitud: 1,  Posiciones: 362
		cast(Funciones.padl(DatosExpo.TasaDescuentoComercial1, 8, ' ') as char(8)) as TDescCom1,		-- Campo: 39, Longitud: 8,  Posiciones: 363-370
		cast(Funciones.padl(DatosExpo.TasaDescuentoComercial2, 8, ' ') as char(8)) as TDescCom2,		-- Campo: 40, Longitud: 8,  Posiciones: 371-378
		cast(Funciones.padl(DatosExpo.TasaDescuentoComercial3, 8, ' ') as char(8)) as TDescCom3,		-- Campo: 41, Longitud: 8,  Posiciones: 379-386
		cast(Funciones.padl(DatosExpo.TasaDescuentoFinanciero, 8, ' ') as char(8)) as TDescFin,			-- Campo: 42, Longitud: 8,  Posiciones: 387-394
		cast(Funciones.padl(DatosExpo.TasaDescuentoVarioOAlPie, 8, ' ') as char(8)) as TDescPie,		-- Campo: 43, Longitud: 8,  Posiciones: 395-402
		cast(DatosExpo.NumeroCAI as char(15)) as NroCAI,												-- Campo: 44, Longitud: 15, Posiciones: 403-417
		cast(DatosExpo.FechaVencimientoCAI as char(8)) as FecVenCAI,									-- Campo: 45, Longitud: 8,  Posiciones: 418-425
		cast(DatosExpo.ComprobanteFiscal as char(1)) as CompFisc,										-- Campo: 46, Longitud: 1,  Posiciones: 426
		cast(DatosExpo.MailCliente as char(50)) as MailCli,												-- Campo: 47, Longitud: 50, Posiciones: 427-476
		cast(DatosExpo.TelefonoCliente as char(30)) as TelCliente,										-- Campo: 48, Longitud: 30, Posiciones: 477-506
		cast(DatosExpo.FaxCliente as char(30)) as FaxCliente,											-- Campo: 49, Longitud: 30, Posiciones: 507-536
		cast(DatosExpo.ContactoObservacion as char(50)) as ContObs,										-- Campo: 50, Longitud: 50, Posiciones: 537-586
		cast(DatosExpo.TipoOperacion as char(4)) as TipoOper,											-- Campo: 51, Longitud: 4,  Posiciones: 587-590
		cast(DatosExpo.NumeroCuota as char(3)) as NroCuota,												-- Campo: 52, Longitud: 3,  Posiciones: 591-593
		cast(DatosExpo.ImporteCuota as char(16)) as ImpCuota,											-- Campo: 53, Longitud: 16, Posiciones: 594-609
		cast(DatosExpo.ComprobanteEnCuotas as char(1)) as CompCuotas,									-- Campo: 54, Longitud: 1,  Posiciones: 610
		cast(DatosExpo.MonedaComprobante as char(3)) as MoneComp,										-- Campo: 55, Longitud: 3,  Posiciones: 611-613
		cast(DatosExpo.TipoCambio as char(3)) as TipoCamb,												-- Campo: 56, Longitud: 3,  Posiciones: 614-616
		cast(DatosExpo.Cotizacion as char(8)) as Cotizacion,											-- Campo: 57, Longitud: 8,  Posiciones: 617-624
		cast(DatosExpo.FechaEntrega as char(8)) as FechaEntr,											-- Campo: 58, Longitud: 8,  Posiciones: 625-632
		cast(DatosExpo.Grupo as char(15)) as Grupo,														-- Campo: 59, Longitud: 15, Posiciones: 633-647
		cast(DatosExpo.Proyecto as char(15)) as Proyecto,												-- Campo: 60, Longitud: 15, Posiciones: 648-662
		cast(DatosExpo.ListaPrecios as char(3)) as ListaPrec,											-- Campo: 61, Longitud: 3,  Posiciones: 663-665
		cast(DatosExpo.LugarEntrega as char(3)) as LugarEntr,											-- Campo: 62, Longitud: 3,  Posiciones: 666-668
		cast(DatosExpo.MarcaAutorizacion as char(1)) as MAutoriz										-- Campo: 63, Longitud: 1,  Posiciones: 669
	from (
		select Comprobantes.TipoComprobante,
			Comprobantes.LetraComprobante,
			cast(Comprobantes.PuntoVenta as varchar(4)) as PuntoVenta,
			cast(Comprobantes.NumeroComprobanteDesde as varchar(8)) as NumeroComprobanteDesde,
			Comprobantes.NumeroComprobanteHasta,
			Comprobantes.FechaComprobante,
			Comprobantes.CodigoCliente, 
			Comprobantes.RazonSocialCliente,
			Comprobantes.TipoDocumentoCliente,
			Comprobantes.ProvinciaCliente,
			Comprobantes.CondicionIVACliente,
			Comprobantes.NumeroDocumentoCliente,
			cast(Comprobantes.NumeroIIBBCliente as varchar(15)) as NumeroIIBBCliente,
			Comprobantes.CodigoVendedor,
			Comprobantes.Zona,
			Comprobantes.ClasificacionCliente1,
			Comprobantes.CondicionVenta,
			Comprobantes.CausaEmision,
			Comprobantes.FechaVencimiento,
			Funciones.ObtenerMontoConDecimales(Comprobantes.TotalComprobante, 2, 16) as TotalComprobante,
			Comprobantes.CodigoDescuentoComercial,
			Comprobantes.CodigoDescuentoFinanciero,
			Comprobantes.CodigoDescuentoAlPie,
			Comprobantes.AperturaContable,
			Comprobantes.TipoCliente,
			Comprobantes.DireccionCliente,
			Comprobantes.CodigoPostalCliente,
			Comprobantes.LocalidadCliente,
			Comprobantes.ClasificacionCliente2,
			Comprobantes.Mensaje,
			Comprobantes.ComprobanteAnulado,
			Comprobantes.ActualizaStock,
			Comprobantes.DescripcionClasificacionCliente1,
			Comprobantes.DescripcionClasificacionCliente2,
			Comprobantes.DescripcionTipoCliente,
			Comprobantes.DescripcionZona,
			Comprobantes.NombreVendedor,
			Comprobantes.ComprobantePreparado,
			Funciones.ObtenerMontoConDecimales(Comprobantes.TasaDescuentoComercial1, 2, 8) as TasaDescuentoComercial1,
			Funciones.ObtenerMontoConDecimales(Comprobantes.TasaDescuentoComercial2, 2, 8) as TasaDescuentoComercial2,
			Funciones.ObtenerMontoConDecimales(Comprobantes.TasaDescuentoComercial3, 2, 8) as TasaDescuentoComercial3,
			Funciones.ObtenerMontoConDecimales(Comprobantes.TasaDescuentoFinanciero, 2, 8) as TasaDescuentoFinanciero,
			Funciones.ObtenerMontoConDecimales(Comprobantes.TasaDescuentoVarioOAlPie, 2, 8) as TasaDescuentoVarioOAlPie,
			Comprobantes.NumeroCAI,
			Comprobantes.FechaVencimientoCAI,
			Comprobantes.ComprobanteFiscal,
			Comprobantes.MailCliente,
			Comprobantes.TelefonoCliente,
			Comprobantes.FaxCliente,
			Comprobantes.ContactoObservacion,
			Comprobantes.TipoOperacion,
			Comprobantes.NumeroCuota,
			Comprobantes.ImporteCuota,
			Comprobantes.ComprobanteEnCuotas,
			Comprobantes.MonedaComprobante,
			Comprobantes.TipoCambio,
			Comprobantes.Cotizacion,
			Comprobantes.FechaEntrega,
			Comprobantes.Grupo,
			Comprobantes.Proyecto,
			Comprobantes.ListaPrecios,
			Comprobantes.LugarEntrega,
			Comprobantes.MarcaAutorizacion
		from [Interfaces].[Datos_EFlexware_Cabecera_Comprobantes] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @Zona, @CausaEmision,
			@TipoCliente, @ActualizaStock, @BlanquearClienteB, @TipoDetalle, @SeparaDescYRec, @EsPedidoDeVentas, @InvertirSigno, @ExportarDescripAdicional1, 
			@GrupoEnCabecera, @EsRemitoDeVentas, @CodVendedor, @CodigoCondicionVentaCompEnCero, @CodigoClienteCompEnCero, @ExportarVacioCodigoAdicional1,@Exportarrecfincomoconcep ) as Comprobantes

		union all

		select ValoresCC.TipoComprobante,
			ValoresCC.LetraComprobante,
			cast(ValoresCC.PuntoVenta as varchar(4)) as PuntoVenta,
			cast(ValoresCC.NumeroComprobanteDesde as varchar(8)) as NumeroComprobanteDesde,
			ValoresCC.NumeroComprobanteHasta,
			ValoresCC.FechaComprobante,
			ValoresCC.CodigoCliente, 
			ValoresCC.RazonSocialCliente,
			ValoresCC.TipoDocumentoCliente,
			ValoresCC.ProvinciaCliente,
			ValoresCC.CondicionIVACliente,
			ValoresCC.NumeroDocumentoCliente,
			cast(ValoresCC.NumeroIIBBCliente as varchar(15)) as NumeroIIBBCliente,
			ValoresCC.CodigoVendedor,
			ValoresCC.Zona,
			ValoresCC.ClasificacionCliente1,
			ValoresCC.CondicionVenta,
			ValoresCC.CausaEmision,
			ValoresCC.FechaVencimiento,
			Funciones.ObtenerMontoConDecimales(ValoresCC.TotalComprobante, 2, 16) as TotalComprobante,
			ValoresCC.CodigoDescuentoComercial,
			ValoresCC.CodigoDescuentoFinanciero,
			ValoresCC.CodigoDescuentoAlPie,
			ValoresCC.AperturaContable,
			ValoresCC.TipoCliente,
			ValoresCC.DireccionCliente,
			ValoresCC.CodigoPostalCliente,
			ValoresCC.LocalidadCliente,
			ValoresCC.ClasificacionCliente2,
			ValoresCC.Mensaje,
			ValoresCC.ComprobanteAnulado,
			ValoresCC.ActualizaStock,
			ValoresCC.DescripcionClasificacionCliente1,
			ValoresCC.DescripcionClasificacionCliente2,
			ValoresCC.DescripcionTipoCliente,
			ValoresCC.DescripcionZona,
			ValoresCC.NombreVendedor,
			ValoresCC.ComprobantePreparado,
			Funciones.ObtenerMontoConDecimales(ValoresCC.TasaDescuentoComercial1, 2, 8) as TasaDescuentoComercial1,
			Funciones.ObtenerMontoConDecimales(ValoresCC.TasaDescuentoComercial2, 2, 8) as TasaDescuentoComercial2,
			Funciones.ObtenerMontoConDecimales(ValoresCC.TasaDescuentoComercial3, 2, 8) as TasaDescuentoComercial3,
			Funciones.ObtenerMontoConDecimales(ValoresCC.TasaDescuentoFinanciero, 2, 8) as TasaDescuentoFinanciero,
			Funciones.ObtenerMontoConDecimales(ValoresCC.TasaDescuentoVarioOAlPie, 2, 8) as TasaDescuentoVarioOAlPie,
			ValoresCC.NumeroCAI,
			ValoresCC.FechaVencimientoCAI,
			ValoresCC.ComprobanteFiscal,
			ValoresCC.MailCliente,
			ValoresCC.TelefonoCliente,
			ValoresCC.FaxCliente,
			ValoresCC.ContactoObservacion,
			ValoresCC.TipoOperacion,
			ValoresCC.NumeroCuota,
			ValoresCC.ImporteCuota,
			ValoresCC.ComprobanteEnCuotas,
			ValoresCC.MonedaComprobante,
			ValoresCC.TipoCambio,
			ValoresCC.Cotizacion,
			ValoresCC.FechaEntrega,
			ValoresCC.Grupo,
			ValoresCC.Proyecto,
			ValoresCC.ListaPrecios,
			ValoresCC.LugarEntrega,
			ValoresCC.MarcaAutorizacion
		from [Interfaces].[Datos_EFlexware_Cabecera_ValoresCC] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @Zona, @CausaEmision,
			@TipoCliente, @BlanquearClienteB, @EsPedidoDeVentas, @ExportarDescripAdicional1, @GrupoEnCabecera, @CodVendedor, @CodigoClienteCompEnCero, @ExportarVacioCodigoAdicional1) as ValoresCC
		) as DatosExpo
)