IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_EFlexware_ComprobantesDecaja]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_EFlexware_ComprobantesDecaja];
GO;

create FUNCTION [Interfaces].[Interfaz_EFlexware_ComprobantesDecaja]
(	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@cMonedaLocal varchar(10),
	@cExportarSoloEfectivo char(1),
	@cBocadeExpendio varchar(4), 
	@cCodigoMovimientoEntrada varchar(6),
	@cCodigoMovimientoSalida varchar(6),
	@cIncluirCajaySucursal char(1),
	@TipoDeCambio varchar(3)	    
)
RETURNS TABLE
AS
RETURN
(

--declare		@FechaComprobanteDesde varchar(10) = '20000101'
--declare		@FechaComprobanteHasta varchar(10) ='20230524'
--declare   	@cMonedaLocal varchar(10) = 'PESOS'
--declare		@cExportarSoloEfectivo char(1) = '0'
--declare	    @cBocadeExpendio varchar(4) = '0033'
--declare		@cCodigoMovimientoEntrada varchar(6) ='ENTRADA'
--declare		@cCodigoMovimientoSalida varchar(6) ='SALIDA'
--declare		@cIncluirCajaySucursal char(1) = '3'
--declare     @OrigenAplicacion bit =1
--declare     @TipoDeCambio char(3)='ppp'
 
	select cast(DatosExpo.IdentificadorMovimiento as char(6)) as IdentMov,						-- Campo: 1,  Long: 6,  Pos: 1-6
			cast(DatosExpo.CodigoTipoMovimientoFondos as char(6)) as CodTipoMov,					-- Campo: 2,  Long: 6,  Pos: 6-12
			cast(DatosExpo.DescripcionMovimiento as char(30)) as DescMov,							-- Campo: 3,  Long: 30, Pos: 13-42
			cast(DatosExpo.FechaComprobante as char(8)) as FechaComp,								-- Campo: 4,  Long: 8,  Pos: 43-50
			cast(DatosExpo.CodigoCliente as char(6)) as CodCliente,									-- Campo: 5,  Long: 6,  Pos: 51-56
			cast(DatosExpo.CodigoProveedor as char(6)) as Codprove,									-- Campo: 6,  Long: 6,  Pos: 57-62
			cast(DatosExpo.MarcaOA as char(1)) as MarcaOA,											-- Campo: 7,  Long: 1,  Pos: 63
			cast(DatosExpo.Concepto as char(1)) as Concepto,										-- Campo: 8,  Long: 1,  Pos: 64
			cast(Funciones.padl(DatosExpo.Moneda, 3, ' ') as char(3)) as Moneda,					-- Campo: 9,  Long: 3,  Pos: 65-67
			cast(DatosExpo.TipoCambio as char(3)) as TipoCamb,										-- Campo: 10, Long: 3,  Pos: 68-70
			cast(DatosExpo.CajaAplicacionOrigen as char(15)) as CajAplOrig,							-- Campo: 11, Long: 15, Pos: 71-85
			cast(DatosExpo.TipoChequeValorDocumento as char(3)) as TipoCheq,						-- Campo: 12, Long: 3,  Pos: 86-88
			cast(DatosExpo.FechaVencimiento as char(8)) as FechaVenc,								-- Campo: 13, Long: 8,  Pos: 89-96
			cast(DatosExpo.Importe as char(16)) as Importe,											-- Campo: 14, Long: 16, Pos: 97-112
			cast(DatosExpo.NumeroCheque as char(8)) as NroCheque,									-- Campo: 15, Long: 8,  Pos: 113-120
			cast(DatosExpo.CodigoBancoTarjeta as char(3)) as CodBanco,								-- Campo: 16, Long: 3,  Pos: 121-123
			cast(DatosExpo.SucursalBanco as char(4)) as SucBanco,									-- Campo: 17, Long: 4,  Pos: 124-127
			cast(Funciones.Padl(DatosExpo.Clearing, 3, ' ') as char(3)) as Clearing,				-- Campo: 18, Long: 3,  Pos: 128-130
			cast(' ' as char(1)) as Origen,															-- Campo: 19, Long: 1,  Pos: 131
			cast(DatosExpo.CodigoCuentaBancaria as char(15)) as CodCtaBanc,							-- Campo: 20, Long: 15, Pos: 132-146
			cast(DatosExpo.NumeroTarjeta as char(25)) as NroTarje,									-- Campo: 21, Long: 25, Pos: 147-171
			cast(DatosExpo.NumeroAutorizacion as char(25)) as NroAutoriz,							-- Campo: 22, Long: 25, Pos: 172-196
			cast(DatosExpo.NombreLibrador as char(30)) as NomLibr,									-- Campo: 23, Long: 30, Pos: 197-226
			cast(DatosExpo.DireccionLibrador as char(30)) as DirLibr,								-- Campo: 24, Long: 30, Pos: 227-256
			cast(DatosExpo.CodigoPostalLibrador as char(8)) as CodPosLibr,							-- Campo: 25, Long: 8,  Pos: 257-264
			cast(Funciones.Padl( DatosExpo.ProvinciaLibrador, 3, ' ') as char(3)) as ProvLibr,		-- Campo: 26, Long: 3,  Pos: 265-267
			cast(DatosExpo.LocalidadLibrador as char(25)) as LocLibr,								-- Campo: 27, Long: 25, Pos: 268-292
			cast(DatosExpo.TelefonoLibrador as char(30)) as TelLibr,								-- Campo: 28, Long: 30, Pos: 293-322
			cast(DatosExpo.PesosAlCambio as char(16)) as ImpPesif,									-- Campo: 29, Long: 16, Pos: 323-338
			cast(DatosExpo.CodigoAperturaContable as char(4)) as CodApeCont,						-- Campo: 30, Long: 4,  Pos: 339-342
			cast(DatosExpo.TipoComprobante as char(3)) as TipoComp,									-- Campo: 31, Long: 3,  Pos: 343-345
			cast(DatosExpo.LetraComprobante as char(1)) as LetraComp,								-- Campo: 32, Long: 1,  Pos: 346
			cast(Funciones.padl(DatosExpo.PuntoVenta, 4, '0') as char(4)) as PtoVenta,				-- Campo: 33, Long: 4,  Pos: 247-350
			cast(Funciones.padl(DatosExpo.NumeroComprobante, 8, '0') as char(8)) as NroComp,		-- Campo: 34, Long: 8,  Pos: 351-358
			cast(DatosExpo.Cliente as char(6)) as Cliente,											-- Campo: 35, Long: 6,  Pos: 359-364
			cast(DatosExpo.NumeroLocal as char(3)) as NroLocal,										-- Campo: 36, Long: 3,  Pos: 365-367
			cast(DatosExpo.TipoOperacion as char(9)) as TipoOper									-- Campo: 37, Long: 4,  Pos: 368-372 en DETALLE //  Campo: 37, Long: 9,  Pos: 368-376 en CABECERA						
		from (
			select *
				from (
					-- Para poder ordenar por campo origen como cab y detalle, y luego informarlo blanqueado
					select  Origen.IdentificadorMovimiento,
						Origen.CodigoTipoMovimientoFondos,
						Origen.DescripcionMovimiento,		
						Origen.FechaComprobante,
						Origen.CodigoCliente,
						Origen.CodigoProveedor,
						Origen.MarcaOA,
						Origen.Concepto,
						Origen.Moneda,
						Origen.TipoCambio,
						Origen.CajaAplicacionOrigen,
						Origen.TipoChequeValorDocumento,
						Origen.FechaVencimiento,
						Funciones.ObtenerMontoConDecimales(Origen.Importe, 2, 16) as Importe,
						Origen.NumeroCheque,
						Origen.CodigoBancoTarjeta,
						Origen.SucursalBanco,
						Origen.Clearing,
						'1' as origen, 
						Origen.CodigoCuentaBancaria,
						Origen.NumeroTarjeta,
						Origen.NumeroAutorizacion,
						Origen.NombreLibrador,
						Origen.DireccionLibrador,
						Origen.CodigoPostalLibrador,
						Origen.ProvinciaLibrador,
						Origen.LocalidadLibrador,
						Origen.TelefonoLibrador,
						Funciones.ObtenerMontoConDecimales(Origen.PesosAlCambio, 2, 16) as PesosAlCambio,
						Origen.CodigoAperturaContable,
						Origen.TipoComprobante,
						Origen.LetraComprobante,
						Origen.PuntoVenta as PuntoVenta,
						Origen.NumeroComprobante as NumeroComprobante, 
						--cast(Origen.PuntoVenta as varchar(4)) as PuntoVenta,
						--cast(Origen.NumeroComprobante as varchar(8)) as NumeroComprobante, 
						Origen.Cliente, 
						Origen.NumeroLocal,
						Origen.TipoOperacion		-- Campo: 34, Long: 9,  Pos: 368-376 en CABECERA
					from [Interfaces].[Datos_EFlexware_ComprobantesDeCaja_cab]( @cMonedaLocal,@cExportarSoloEfectivo ,@cBocadeExpendio , @cCodigoMovimientoEntrada ,@cCodigoMovimientoSalida ,@cIncluirCajaySucursal ,@FechaComprobanteDesde ,@FechaComprobanteHasta,0, @TipoDeCambio ) as Origen

				union all
	
					select detalle.IdentificadorMovimiento,
						detalle.CodigoTipoMovimientoFondos,
						detalle.DescripcionMovimiento,		
						detalle.FechaComprobante,
						detalle.CodigoCliente,
						detalle.CodigoProveedor,
						detalle.MarcaOA,
						detalle.Concepto,
						detalle.Moneda,
						detalle.TipoCambio,
						detalle.CajaAplicacionOrigen,
						detalle.TipoChequeValorDocumento,
						detalle.FechaVencimiento,
						Funciones.ObtenerMontoConDecimales(detalle.Importe, 2, 16) as Importe,
						detalle.NumeroCheque,
						detalle.CodigoBancoTarjeta,
						detalle.SucursalBanco,
						detalle.Clearing,
						'2' as origen, -- detalle.Origen,
						detalle.CodigoCuentaBancaria,
						detalle.NumeroTarjeta,
						detalle.NumeroAutorizacion,
						detalle.NombreLibrador,
						detalle.DireccionLibrador,
						detalle.CodigoPostalLibrador,
						detalle.ProvinciaLibrador,
						detalle.LocalidadLibrador,
						detalle.TelefonoLibrador,
						Funciones.ObtenerMontoConDecimales(detalle.PesosAlCambio, 2, 16) as PesosAlCambio,
						detalle.CodigoAperturaContable,
						detalle.TipoComprobante,
						detalle.LetraComprobante,
						detalle.PuntoVenta as PuntoVenta,
						detalle.NumeroComprobante as NumeroComprobante, 
--						cast(detalle.PuntoVenta as varchar(4)) as PuntoVenta,
--						cast(detalle.NumeroComprobante as varchar(8)) as NumeroComprobante, 
						detalle.Cliente, 
						detalle.NumeroLocal,
						detalle.TipoOperacion	-- Campo: 34, Long: 4,  Pos: 368-372 en DETALLE
					from [Interfaces].[Datos_EFlexware_ComprobantesDeCaja]( @cMonedaLocal,@cExportarSoloEfectivo ,@cBocadeExpendio , @cCodigoMovimientoEntrada ,@cCodigoMovimientoSalida ,@cIncluirCajaySucursal ,@FechaComprobanteDesde ,@FechaComprobanteHasta,1, @TipoDeCambio ) as detalle
	
					) as DatosUnion order by PuntoVenta, NumeroComprobante, FechaComprobante, origen  offset 0 rows
				) as DatosExpo
)