IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_EFlexware_RegimenesEspeciales_Percepciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_EFlexware_RegimenesEspeciales_Percepciones];
GO;

CREATE FUNCTION [Interfaces].[Datos_EFlexware_RegimenesEspeciales_Percepciones]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@BlanquearClienteB bit, 
	@EsPedidoDeVentas bit,
	@EsRemitoDeVentas bit,
	@CodigoClienteCompEnCero varchar(6)
)
RETURNS TABLE
AS
RETURN
(
	select DatosExpoIntermedios.TipoComprobante,
		DatosExpoIntermedios.Letra as LetraComprobante,
		DatosExpoIntermedios.PuntoVenta,
		DatosExpoIntermedios.NumeroComprobante as NumeroComprobanteDesde,
		'' as NumeroComprobanteHasta,
		DatosExpoIntermedios.Fecha as FechaComprobante,
		DatosExpoIntermedios.CodigoCliente,
		DatosExpoIntermedios.CodigoInterno as CodigoRegimenEspecial,
		'' as CodigoArticulo,
		DatosExpoIntermedios.TotalImpuestos as Importe,
		DatosExpoIntermedios.SubtotalNeto as BaseCalculo
	from (
		select DatosExpoBasicos.TipoComprobante,
			DatosExpoBasicos.Letra,
			DatosExpoBasicos.PuntoVenta,
			DatosExpoBasicos.NumeroComprobante,
			Funciones.dtos(DatosExpoBasicos.Fecha) as Fecha,
			DatosExpoBasicos.CodigoCliente,
			DatosExpoBasicos.CodigoInterno,
			DatosExpoBasicos.TotalImpuestos * DatosExpoBasicos.Signo as TotalImpuestos,
			DatosExpoBasicos.SubtotalNeto * DatosExpoBasicos.Signo as SubtotalNeto
		from (
			select Comprobantes.FLetra as Letra,
				Comprobantes.FPtoVen as PuntoVenta,
				Comprobantes.FNumComp as NumeroComprobante,
				Comprobantes.FFch as Fecha,
				[Interfaces].[Auxiliar_EFlexware_CodigoCliente] (EFLEXCODIGOCLIENTE_valconv_bd.ValDest, EFLEXCODIGOCLIENTE_valconv_cl.ValDest, EFLEXCODIGOCLIENTE_cabconv.Accion,
					EFLEXCODIGOCLIENTE_cabconv.ValorDef, Comprobantes.FPerson, Comprobantes.FLetra, Comprobantes.FTotal, DetalleValores.Vuelto, DetalleValores.CantidadCC,
					@BlanquearClienteB, @CodigoClienteCompEnCero) as CodigoCliente,
				Percepciones.Monto as TotalImpuestos,
				Comprobantes.FSubtoN - Comprobantes.Totdesc - Comprobantes.TotdescSI as SubtotalNeto,
				case when Funciones.EsComprobanteNotaDeCredito(Comprobantes.FactTipo) = 1 then -1 else 1 end as Signo,
				--Percepciones.CodImp as CodigoInterno,
				case when EFLEXCODIGOPERCEPCION_valconv.ValDest is null then Percepciones.CodImp else EFLEXCODIGOPERCEPCION_valconv.ValDest end as CodigoInterno,
				case when EFLEXCOMPROBANTES_valconv.ValDest is null then cast(Comprobantes.FactTipo as varchar(2)) else EFLEXCOMPROBANTES_valconv.ValDest end as TipoComprobante
			from [ZooLogic].[ComprobanteV] as Comprobantes
				join [ZooLogic].[ImpVentas] as Percepciones on Comprobantes.Codigo = Percepciones.CCod and Percepciones.Monto <> 0
				left join [ZooLogic].[DatosFiscalDet] as DatosFiscales on Percepciones.CodInt = DatosFiscales.CodUnico
				left join (
					select DetalleValores.JjNum as CodigoComprobante,
						sum(case when DetalleValores.JjT = 6 then 1 else 0 end) as CantidadCC,
						sum(case when DetalleValores.EsVuelto = 1 then round(abs(DetalleValores.RecPesos), 2) else 0 end) as Vuelto
					from [ZooLogic].[Val] as DetalleValores
					group by DetalleValores.JjNum
					) as DetalleValores on Comprobantes.Codigo = DetalleValores.CodigoComprobante
				left join [Organizacion].[ConverVal] as EFLEXCOMPROBANTES_valconv on EFLEXCOMPROBANTES_valconv.Conversion = 'EFLEXCOMPROBANTES' and EFLEXCOMPROBANTES_valconv.ValOrig = cast(Comprobantes.FactTipo as varchar(2))
				left join [Organizacion].[Conver] as EFLEXCODIGOCLIENTE_cabconv on EFLEXCODIGOCLIENTE_cabconv.Codigo = 'EFLEXCODIGOCLIENTE'
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_cl on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_cl.Conversion and EFLEXCODIGOCLIENTE_valconv_cl.ValOrig = Comprobantes.FPerson
				left join [Organizacion].[ConverVal] as EFLEXCODIGOCLIENTE_valconv_bd on EFLEXCODIGOCLIENTE_cabconv.Codigo = EFLEXCODIGOCLIENTE_valconv_bd.Conversion and EFLEXCODIGOCLIENTE_valconv_bd.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[ConverVal] as EFLEXCODIGOPERCEPCION_valconv on EFLEXCODIGOPERCEPCION_valconv.Conversion = 'EFLEXEQUIVALENCIADECODIGOPERCEPCION' and EFLEXCODIGOPERCEPCION_valconv.ValOrig = isnull( cast(percepciones.PORCEN as varchar(6)),'0.00')
			where (( @EsPedidoDeVentas = 0 and @EsRemitoDeVentas = 0 and Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49, 54, 55, 56) or (@EsPedidoDeVentas = 1 and Comprobantes.FactTipo = 23) or (@EsRemitoDeVentas = 1 and Comprobantes.FactTipo = 11)))  
				and Comprobantes.FLetra between @LetraDesde and @LetraHasta
				and Comprobantes.FPtoVen between @PuntoVentaDesde and @PuntoVentaHasta
				and Comprobantes.FNumComp between @NumeroComprobanteDesde and @NumeroComprobanteHasta
				and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
				and Comprobantes.FecExpo between @FechaExportacionDesde and @FechaExportacionHasta
				and Comprobantes.Anulado = 0
			) as DatosExpoBasicos
		) as DatosExpoIntermedios
)