IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_EFlexware_DetalleItems_TotalesPorAlicuota]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_EFlexware_DetalleItems_TotalesPorAlicuota];
GO;

CREATE FUNCTION [Interfaces].[Datos_EFlexware_DetalleItems_TotalesPorAlicuota]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@BlanquearClienteB bit,
	@EsPedidoDeVentas bit,
	@TipoDeItem int,
	@UnidadDeMedida2 bit,
	@EsRemitoDeVentas bit,
	@UnidadDeMedida1 bit,
	@IncluirAlCodigo int,
	@IncluirAlCodigoArticulo int,
	@CodigoClienteCompEnCero varchar(6),
	@CodigoConceptoAgrupado varchar(23),
	@CProveedorSiVacio varchar(40)
	
)
RETURNS TABLE
AS
RETURN
(
	select DatosExpoDetalle.TipoComprobante,
		DatosExpoDetalle.LetraComprobante,
		DatosExpoDetalle.PuntoVenta,
		DatosExpoDetalle.NumeroComprobanteDesde,
		DatosExpoDetalle.NumeroComprobanteHasta,
		DatosExpoDetalle.FechaComprobante,
		DatosExpoDetalle.CodigoCliente, 
		'C' as TipoItem,
		@CodigoConceptoAgrupado as CodigoConceptoArticulo,
		case @UnidadDeMedida1 when 0 then 0.00 else case when DatosExpoDetalle.TipoComprobante = 'NC' then -1 else 1 end end as CantidadUnidadDeMedida1,
		case @UnidadDeMedida2 when 0 then 0.00 else case when DatosExpoDetalle.TipoComprobante = 'NC' then -1 else 1 end end as CantidadUnidadDeMedida2,
		@CodigoConceptoAgrupado as DescripcionArticuloConceptoLeyenda,
		abs(sum(DatosExpoDetalle.PrecioUnitario * DatosExpoDetalle.CantidadUnidadDeMedida1)) as PrecioUnitario,
		DatosExpoDetalle.PorcentajeIVAInscripto,
		0.00 as PorcentajeIVANoInscripto,
		sum(DatosExpoDetalle.ImporteIVAInscripto) as ImporteIVAInscripto,
		0.00 as ImporteIVANoInscripto,
		sum(DatosExpoDetalle.ImporteTotal) as ImporteTotal,
		sum(DatosExpoDetalle.ImporteDescuentoComercial) as ImporteDescuentoComercial,
		0.00 as ImporteDescuentoFinanciero,
		0.00 as ImporteDescuentoAlPie,
		case when sum(DatosExpoDetalle.ImporteIVANoGravado) = 0 then '' else 'II' end as CodigoConceptoNoGravado,
		sum(DatosExpoDetalle.ImporteIVANoGravado) as ImporteIVANoGravado,
		DatosExpoDetalle.TipoIVA,
		'' as CodigoDescuentoPorLinea,
		sum(DatosExpoDetalle.ImporteDescuentoPorLinea) as ImporteDescuentoPorLinea,
		DatosExpoDetalle.Deposito,
		'' as Partida,
		case when sum(DatosExpoDetalle._precioSIxCantidad) = 0 then 0.00 else round(abs(sum(DatosExpoDetalle.ImporteDescuentoPorLinea) * 100 / sum(DatosExpoDetalle._precioSIxCantidad)), 2) end as TasaDescuentoPorItem,
		sum(DatosExpoDetalle.ImporteRenglon) as ImporteRenglon,
		'' as ClaseArticulo,
		'' as DefinibleArticulos1,
		'' as DescripcionDefinibleArticulos1,
		'' as DefinibleArticulos2,
		'' as DescripcionDefinibleArticulos2,
		'' as CodigoProveedor,
		'' as RazonSocialProveedor,
		'' as DescripcionElementoNivel1,
		'' as DescripcionElementoNivel2,
		'' as DescripcionElementoNivel3,
		'' as CodigoBarras,
		DatosExpoDetalle.FechaEntrega,
		'' as NumeroRenglon,
		'' as EsKit,
		'' as CodigoKit,
		'' as EsPromocion
	from [Interfaces].[Datos_EFlexware_DetalleItems_Articulos] (@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
		@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @BlanquearClienteB, @EsPedidoDeVentas, @TipoDeItem, @UnidadDeMedida2 , @EsRemitoDeVentas, @UnidadDeMedida1, @IncluirAlCodigo, @IncluirAlCodigoArticulo, @CodigoClienteCompEnCero, @CodigoConceptoAgrupado, @CProveedorSiVacio) as DatosExpoDetalle
	group by DatosExpoDetalle.TipoComprobante,
		DatosExpoDetalle.LetraComprobante,
		DatosExpoDetalle.PuntoVenta,
		DatosExpoDetalle.NumeroComprobanteDesde,
		DatosExpoDetalle.NumeroComprobanteHasta,
		DatosExpoDetalle.FechaComprobante,
		DatosExpoDetalle.CodigoCliente,
		DatosExpoDetalle.PorcentajeIVAInscripto,
		DatosExpoDetalle.TipoIVA,
		DatosExpoDetalle.Deposito, 
		DatosExpoDetalle.FechaEntrega
)