IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[ObtenerImputacionesContablesPorConceptoCaja]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[ObtenerImputacionesContablesPorConceptoCaja];
GO;
Create function [Contabilidad].[ObtenerImputacionesContablesPorConceptoCaja]
	(
		@tblAtipodet as Contabilidad.udt_TableType_Atipodet ReadOnly,
		@tblImpdircaj as Contabilidad.udt_TableType_Impdircaj ReadOnly,
		@tblBasesAgrup as Contabilidad.udt_TableType_BasesAgrup ReadOnly,
		@BaseDeDatosActual char(8), 
		@SucursalActual char(10), 
		@TipoSucursalActual char(10)
	)
	returns @imputaciones table
	(
		cod char(10),
		cuentaDebe varchar(30),
		cuentaHaber varchar(30)
	)
	as
	begin

		declare @CodAnterior char(10) = ''
		declare @Cod char(10) = ''
		Declare @CuentaDebe varchar( 30 )
		Declare @CuentaHaber varchar( 30 )
		Declare @Importancia varchar( 40 )

		Declare cImpDir Cursor for
			select  entidad.codigo, 
					case when asietipo.cuentade = '' then '' else isnull( i.pcuenta, asietipo.CUENTADE ) end CuentaDebe,
					case when asietipo.cuentaha = '' then '' else isnull( i.pcuenta, asietipo.CUENTAHA ) end CuentaHaber,
					isnull( replicate ('0',(10 - len(i.importanci))) + convert(varchar, i.importanci) + convert(char(8),i.FMODIFW,112) + i.HMODIFW, '' ) as Importancia
				from zoologic.concecaja as entidad
					cross join ( select * from @tblAtipodet where codigo = 'COMP.CAJA' and codconc = 'MOVCAJA' ) asietipo
					left join @tblImpdircaj i on   ( entidad.codigo between i.condesde and i.conhasta )
													and ( entidad.clasif between i.cladesde and i.clahasta )
													and ( entidad.ctabanc between i.cbancdesde and i.cbanchasta )
													and ( ( i.estadcarte = 0 or entidad.estcheque = 'CARTE' )
													   or ( i.estadentre = 0 or entidad.estcheque = 'ENTRE' )
													   or ( i.estadcobra = 0 or entidad.estcheque = 'COBRA' )
													   or ( i.estaddepos = 0 or entidad.estcheque = 'DEPOS' )
													   or ( i.estadrecha = 0 or entidad.estcheque = 'RECHA' )
													   or ( i.estadbaja  = 0 or entidad.estcheque = 'BAJA'  )
													   or ( i.estaddevol = 0 or entidad.estcheque = 'DEVOL' )
													   or ( i.estadprepa = 0 or entidad.estcheque = 'PREPA' )
													   or ( i.estadenvia = 0 or entidad.estcheque = 'ENVIA' )
													   or ( i.estadenvre = 0 or entidad.estcheque = 'ENVRE' )
													   or ( i.estadtrans = 0 or entidad.estcheque = 'TRANS' ) )
													and ( @SucursalActual between i.sucdesde and i.suchasta )
													and ( @TipoSucursalActual between i.tsucdesde and i.tsuchasta )
													and ( i.base = ''
														or ( substring( i.base, 1, 1 ) <> '[' and i.base = @BaseDeDatosActual )
														or ( substring( i.base, 1, 1 ) = '['
															and replace(replace(i.base,'[',''),']','') in ( Select agrupamiento from @tblBasesAgrup where basededatos = @BaseDeDatosActual ) )
														)
				where i.impval = 0
				order by entidad.codigo, Importancia desc

		Open cImpDir
		Fetch Next From cImpDir Into @Cod, @CuentaDebe, @CuentaHaber, @Importancia
		while @@FETCH_STATUS = 0
		begin
			if @Cod <> @CodAnterior
			begin
				Insert into @imputaciones ( Cod, cuentaDebe, cuentaHaber )
				Select @Cod, @CuentaDebe, @CuentaHaber
			end
			set @CodAnterior = @Cod
			Fetch Next From cImpDir Into @Cod, @CuentaDebe, @CuentaHaber, @Importancia
		end
		close cImpDir
		Deallocate cImpDir

		return
	end
