IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_Cordoba_IIBB_SIRCAR_Retenciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_Cordoba_IIBB_SIRCAR_Retenciones];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_Cordoba_IIBB_SIRCAR_Retenciones]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from ZooLogic.COMPRET as  Comprobantes
					join ZooLogic.CrimpDet as ImpuestosVentas on Comprobantes.Codigo = ImpuestosVentas.Codigo
					left join ZooLogic.Prov as Proveedores on Comprobantes.Prov = Proveedores.ClCod
				where Comprobantes.TipoImp = 'IIBB'
					and Comprobantes.Anulado = 0 
					and Comprobantes.Fecha between @FechaComprobanteDesde and @FechaComprobanteHasta	
					and ImpuestosVentas.Jurisdicci = '904'
END