IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_Tucuman_IIBB_SIRETPER_Percepciones_RETPER]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Interfaces].[Interfaz_Tucuman_IIBB_SIRETPER_Percepciones_RETPER];
GO;

Create function [Interfaces].[Interfaz_Tucuman_IIBB_SIRETPER_Percepciones_RETPER]
(
	@FechaDesde varchar(10),
	@FechaHasta varchar(10)	
)

RETURNS TABLE
AS
RETURN
(
	Select 
		'80' as TipoDocumento, 
		cast( Funciones.padl( funciones.alltrim( Clientes.ClCuit ), 11, '0' ) as char(11) ) as Documento,				
		cast( Clientes.Clnom as char(40) ) as Nombre, 
		cast( Clientes.Clcalle as char(40) ) as Direccion, 
		cast( Funciones.padl( funciones.alltrim( cast( Clientes.Clnro as char(5) )), 5, '0' ) as char(5) ) as Numero,
		cast( Clientes.Clloc as char(15) ) as Localidad, 
		cast( Provin.Prv_Des as char(15) ) as Provincia, 
		replicate( ' ', 11 ) as NoUsado,
		cast( Funciones.padl( funciones.alltrim( Clientes.Clcp ), 8, ' ' ) as char(8) ) as C_Postal			
	from ZooLogic.ComprobanteV as  Comprobantes
		join ( select Impventas.Ccod, Impventas.Tipoi, Impventas.Jurid 
				from ZooLogic.Impventas inner join ZooLogic.Impuesto on Impventas.Codimp = Impuesto.Codigo
				where Impuesto.Aplicacion = 'PRC' and Impventas.MontoBase > 0 and Impventas.Monto > 0 
			  ) as ImpuestosVentas 
			on Comprobantes.Codigo = ImpuestosVentas.Ccod and ImpuestosVentas.Tipoi = 'IIBB' and ImpuestosVentas.Jurid = '924' 
		left join ZooLogic.Cli as Clientes on Comprobantes.FPerson = Clientes.ClCod		
		left join Zoologic.Provinci as Provin on Clientes.Clprv = Provin.Prv_Cod
	where Comprobantes.FactTipo in ( 1, 2, 3, 4, 5, 6, 27, 28, 29, 54, 55, 56 ) 
		and Comprobantes.Anulado = 0 
		and Comprobantes.FFch between @FechaDesde and @FechaHasta
	group by Clientes.ClCuit, Clientes.Clnom, Clientes.Clcalle, Clientes.Clnro, Clientes.Clloc, Provin.Prv_Des, Clientes.Clcp

 )