IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerMontoConPadlConSeparadorDecimal]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerMontoConPadlConSeparadorDecimal];
GO;

CREATE FUNCTION [Funciones].[ObtenerMontoConPadlConSeparadorDecimal]( @MONTO numeric(30,10), @DECIMALES int, @LONGITUD int, @SEPARADOR char(1) )
returns varchar(31)
begin
	declare @lnPosicionSeparador int
	declare @lcMontoEntero varchar(31)
	declare @lcMontoDecimal varchar(31)
	declare @lcMonto varchar(31)	
	
	set @lcMonto = cast( round( @MONTO, @DECIMALES ) as varchar(31) )
	set @lnPosicionSeparador = charindex( '.', @lcMonto )
	
	if @lnPosicionSeparador > 0
		begin
		set @lcMontoEntero = left( @lcMonto, @lnPosicionSeparador - 1 )
		set @lcMontoDecimal = right( @lcMonto, len( @lcMonto ) - @lnPosicionSeparador )
		end
	else
		begin
		set @lcMontoEntero = @lcMonto
		set @lcMontoDecimal = ''
		end

	if @DECIMALES > 0
		begin
		set @lcMontoEntero = Funciones.padl( @lcMontoEntero, @LONGITUD - @DECIMALES - 1, '0' )
		set @lcMontoDecimal = Funciones.padr( @lcMontoDecimal, @DECIMALES, '0' )
		set @lcMonto = @lcMontoEntero + @SEPARADOR + @lcMontoDecimal
		end
	else
		set @lcMonto = Funciones.padl( @lcMontoEntero, @LONGITUD, '0' )

	return @lcMonto
end