IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_Patagonia_Ventas_Anulados]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_Patagonia_Ventas_Anulados];
GO;

CREATE FUNCTION [Interfaces].[Datos_Patagonia_Ventas_Anulados]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde numeric(4,0),
	@PuntoVentaHasta numeric(4,0),
	@NumeroComprobanteDesde numeric(8,0),
	@NumeroComprobanteHasta numeric(8,0),
	@FechaComprobanteDesde datetime,
	@FechaComprobanteHasta datetime,
	@FechaExportacionDesde datetime,
	@FechaExportacionHasta datetime,
	@ListaPrecioCompra char(6)
)
RETURNS TABLE
AS
RETURN 
(
	select DatosExpoBasicos.ConversionBD as STOREID,
		DatosExpoBasicoS.Ffecha  as TRANSDATE,
		cast(DatosExpoBasicos.CodigoTransaccion as varchar(12)) as TRANSID,																												
		cast(DatosExpoBasicos.ConversionBD + '.' + DatosExpoBasicos.CodigoTransaccion + '.' + '0' as varchar(20)) as TRANSLINE,															
		'C' as TRANSCODE,
		Funciones.Alltrim('') as SEASONCODE, 
		Funciones.Alltrim('') as STYLE,					  
		Funciones.Alltrim('') as COLOR,
		Funciones.Alltrim('') as SIZE,
		Funciones.Alltrim('') as QUALITY,
		Funciones.Alltrim('') as STYLEDESC,
		Funciones.Alltrim('') as UPC,
		0.00 as UNITSSOLDS,										  
		0.00 as UNITCOST,
		0.00 as UNITPRICE,
		0.00 as UNITDISC,
		Funciones.Alltrim('') as DRCODE,
		Funciones.Alltrim('') AS REASONCODE,
		Funciones.Alltrim('') as COMMENTS,
		Funciones.Alltrim('') AS CUST,
		Funciones.Alltrim('') AS CUSTLNAME,
		Funciones.Alltrim('') AS CUSTFNAME,
		Funciones.Alltrim('') AS CASHIERID,
		0.00 as TDISC,
		Funciones.Alltrim('') as TDCODE
	from (
		SELECT 
		Comprobantes.FALTAFW as Ffecha,
		case WHEN STOREID02404_valconv.ValDest is null then '' else Funciones.alltrim(STOREID02404_valconv.ValDest) end as ConversionBD,
			Funciones.padl(cast(Comprobantes.FPtoVen as varchar(4)), 4, '0') + Funciones.padl(cast(Comprobantes.FNumComp as varchar(8)), 8, '0') as CodigoTransaccion
		from ZooLogic.ComprobanteV as Comprobantes
			left join [Organizacion].[ConverVal] as STOREID02404_valconv on STOREID02404_valconv.Conversion = 'STOREID02404' and STOREID02404_valconv.VALORIG = Comprobantes.BDAltaFW --union con la conversión de valores
		where Comprobantes.FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49)
			and Comprobantes.FLETRA Between @LetraDesde and @LetraHasta
			and Comprobantes.FPTOVEN Between @PuntoVentaDesde and @PuntoVentaHasta
			and Comprobantes.FNUMCOMP Between @NumeroComprobanteDesde and @NumeroComprobanteHasta
			and Comprobantes.FALTAFW Between @FechaComprobanteDesde and @FechaComprobanteHasta
			and Comprobantes.FECEXPO Between @FechaExportacionDesde  and @FechaExportacionHasta
			and Comprobantes.ANULADO = 1
	) as DatosExpoBasicos
)