IF EXISTS(SELECT * FROM sys.objects WHERE name = 'sp_ObtenerBasesDeDatosDeTodosLosAgrupamientos' AND type in (N'P') and SCHEMA_ID('Contabilidad') = schema_id)
	DROP PROCEDURE Contabilidad.sp_ObtenerBasesDeDatosDeTodosLosAgrupamientos;
GO;
CREATE PROCEDURE [Contabilidad].[sp_ObtenerBasesDeDatosDeTodosLosAgrupamientos] --()
	as
	begin

		   ;WITH GruposCte (Codigo, Grupo)
		   AS (
				 SELECT Codigo, AGRUP Grupo
				 FROM [PUESTO].[AGRUPAG] WHERE Incluye = 1
				 UNION ALL
				 SELECT cte.Codigo, AGRUP Grupo
				 FROM [PUESTO].[AGRUPAG] a
				 INNER JOIN GruposCte cte ON cte.Grupo = a.codigo and a.Incluye = 1
		   )
		   --SELECT Codigo, Grupo FROM GruposCte

			select codigo as agrupamiento, basededato as basededatos from puesto.agrupbd
			union all
		   SELECT GruposCte.Codigo as agrupamiento, db.basededato as basededatos
		    FROM GruposCte
			 inner join puesto.agrupbd db on GruposCte.Grupo = db.codigo
			order by codigo, basededato

	end
GO;
--exec [Contabilidad].[sp_ObtenerBasesDeDatosDeTodosLosAgrupamientos]
