IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_Patagonia_Ventas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_Patagonia_Ventas];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_Patagonia_Ventas]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde numeric(4,0),
	@PuntoVentaHasta numeric(4,0),
	@NumeroComprobanteDesde numeric(8,0),
	@NumeroComprobanteHasta numeric(8,0),
	@FechaComprobanteDesde datetime,
	@FechaComprobanteHasta datetime,
	@FechaExportacionDesde datetime,
	@FechaExportacionHasta datetime,
	@ListaPrecioCompra char(6)
)
RETURNS TABLE
AS
RETURN 
(
	select DatosExpo.STOREID,
		DatosExpo.TRANSDATE,
		DatosExpo.TRANSID,
		DatosExpo.TRANSLINE,
		DatosExpo.TRANSCODE,
		DatosExpo.SEASONCODE, 
		DatosExpo.STYLE,	  
		DatosExpo.COLOR,
		DatosExpo.SIZE,
		DatosExpo.QUALITY,
		DatosExpo.STYLEDESC,
		DatosExpo.UPC,
		cast(round(DatosExpo.UNITSSOLDS,2) as decimal(15,2)) as UNITSSOLDS,
		cast(round(DatosExpo.UNITCOST,2) as decimal(15,2)) as UNITCOST,
		cast(round(DatosExpo.UNITPRICE,2) as decimal(15,2)) as UNITPRICE,
		cast(round(DatosExpo.UNITDISC,2) as decimal(15,2)) as UNITDISC,
		DatosExpo.DRCODE,
		DatosExpo.REASONCODE,
		DatosExpo.COMMENTS,
		DatosExpo.CUST,
		DatosExpo.CUSTLNAME,
		DatosExpo.CUSTFNAME,
		DatosExpo.CASHIERID,
		cast(DatosExpo.TDISC as decimal(15,2)) as TDISC,
		DatosExpo.TDCODE
	from (
		select Comprobantes.STOREID,
			Funciones.dtos(Comprobantes.TRANSDATE) as TRANSDATE,
			Comprobantes.TRANSID,
			Comprobantes.TRANSLINE,
			Comprobantes.TRANSCODE,
			Comprobantes.SEASONCODE, 
			Comprobantes.STYLE,	  
			Comprobantes.COLOR,
			Comprobantes.SIZE,
			Comprobantes.QUALITY,
			Comprobantes.STYLEDESC,
			Comprobantes.UPC,
			Comprobantes.UNITSSOLDS,
			Comprobantes.UNITCOST,
			Comprobantes.UNITPRICE,
			Comprobantes.UNITDISC,
			Comprobantes.DRCODE,
			Comprobantes.REASONCODE,
			Comprobantes.COMMENTS,
			Comprobantes.CUST,
			Comprobantes.CUSTLNAME,
			Comprobantes.CUSTFNAME,
			Comprobantes.CASHIERID,
			Comprobantes.TDISC,
			Comprobantes.TDCODE
		from [Interfaces].[Datos_Patagonia_Ventas_Comprobantes](@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @ListaPrecioCompra) as Comprobantes

		union all

		select Anulados.STOREID,
			Funciones.dtos(Anulados.TRANSDATE) as TRANSDATE,
			Anulados.TRANSID,
			Anulados.TRANSLINE,
			Anulados.TRANSCODE,
			Anulados.SEASONCODE, 
			Anulados.STYLE,	  
			Anulados.COLOR,
			Anulados.SIZE,
			Anulados.QUALITY,
			Anulados.STYLEDESC,
			Anulados.UPC,
			Anulados.UNITSSOLDS,
			Anulados.UNITCOST,
			Anulados.UNITPRICE,
			Anulados.UNITDISC,
			Anulados.DRCODE,
			Anulados.REASONCODE,
			Anulados.COMMENTS,
			Anulados.CUST,
			Anulados.CUSTLNAME,
			Anulados.CUSTFNAME,
			Anulados.CASHIERID,
			Anulados.TDISC,
			Anulados.TDCODE
		from [Interfaces].[Datos_Patagonia_Ventas_Anulados](@LetraDesde, @LetraHasta, @PuntoVentaDesde, @PuntoVentaHasta, @NumeroComprobanteDesde,
			@NumeroComprobanteHasta, @FechaComprobanteDesde, @FechaComprobanteHasta, @FechaExportacionDesde, @FechaExportacionHasta, @ListaPrecioCompra) as Anulados
	) as DatosExpo
)