IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_ARBA2225_Percepciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_ARBA2225_Percepciones];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_ARBA2225_Percepciones]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[ComprobanteV] as Comprobantes
		join [ZooLogic].[ImpVentas] as DetalleImpuestos on Comprobantes.Codigo = DetalleImpuestos.CCod and DetalleImpuestos.Jurid = '902' and DetalleImpuestos.TipoI = 'IIBB'
		join [ZooLogic].[Impuesto] as Impuestos on DetalleImpuestos.CodImp = Impuestos.Codigo and Impuestos.Aplicacion = 'PRC'
	where Comprobantes.FactTipo in ( 1, 2, 3, 4, 5, 6, 13, 27, 28, 29, 54, 55, 56 )
		and Comprobantes.Anulado = 0
		and Comprobantes.FFch between @FechaComprobanteDesde and @FechaComprobanteHasta	
END
