IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerConceptoDelComprobanteAsociadoAlMovimientoDeCaja]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].ObtenerConceptoDelComprobanteAsociadoAlMovimientoDeCaja
GO;

CREATE FUNCTION [Funciones].[ObtenerConceptoDelComprobanteAsociadoAlMovimientoDeCaja]
	( 
	@NumeroDeComprobante Numeric(9, 0)
	)
RETURNS char(10)
AS
BEGIN
	declare @retorno char(10);
	set @retorno = 			(
							select top 1 cc.CONCEPTO
							from zoologic.COMCAJ as cc 
							where ( cc.numero = @NumeroDeComprobante )
							)
	return @retorno
END
