IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[ObtenerImputacionesContablesPorOperadoraDeTarjeta]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[ObtenerImputacionesContablesPorOperadoraDeTarjeta];
GO;
Create Function [Contabilidad].[ObtenerImputacionesContablesPorOperadoraDeTarjeta]
	(
		@tblAtipodet as Contabilidad.udt_TableType_Atipodet ReadOnly,
		@tblImpdirope as Contabilidad.udt_TableType_Impdirope ReadOnly,
		@tblBasesAgrup as Contabilidad.udt_TableType_BasesAgrup ReadOnly,
		@BaseDeDatosActual char(8), 
		@SucursalActual char(10), 
		@TipoSucursalActual char(10)
	)
	returns @imputaciones table
	(	cod char(15),
		cuentaDebe varchar(30),
		cuentaHaber varchar(30)
	)
	as
	begin

		declare @CodAnterior char(15) = ''
		declare @Cod char(15) = ''
		Declare @CuentaDebe varchar( 30 )
		Declare @CuentaHaber varchar( 30 )
		Declare @Importancia varchar( 40 )

		Declare cImpDir Cursor for
			select  entidad.codigo, 
					case when asietipo.cuentade = '' then '' else isnull( i.pcuenta, asietipo.CUENTADE ) end CuentaDebe,
					case when asietipo.cuentaha = '' then '' else isnull( i.pcuenta, asietipo.CUENTAHA ) end CuentaHaber,
					isnull( replicate ('0',(10 - len(i.importanci))) + convert(varchar, i.importanci) + convert(char(8),i.FMODIFW,112) + i.HMODIFW, '' ) as Importancia
				from zoologic.opetar as entidad
					cross join ( select * from @tblAtipodet where codigo = 'LIQUIDAMEN' and codconc = 'BANCOACREDITAC' ) asietipo
					left join @tblImpdirope i on 	( entidad.codigo between i.opedesde and i.opehasta )
												and ( @SucursalActual between i.sucdesde and i.suchasta )
												and ( @TipoSucursalActual between i.tsucdesde and i.tsuchasta )
												and ( i.base = ''
													or ( substring( i.base, 1, 1 ) <> '[' and i.base = @BaseDeDatosActual )
													or ( substring( i.base, 1, 1 ) = '['
														and replace(replace(i.base,'[',''),']','') in ( Select agrupamiento from @tblBasesAgrup where basededatos = @BaseDeDatosActual ) )
													)
				order by entidad.codigo, Importancia desc

		Open cImpDir
		Fetch Next From cImpDir Into @Cod, @CuentaDebe, @CuentaHaber, @Importancia
		while @@FETCH_STATUS = 0
		begin
			if @Cod <> @CodAnterior
			begin
				Insert into @imputaciones ( Cod, cuentaDebe, cuentaHaber )
				Select @Cod, @CuentaDebe, @CuentaHaber
			end
			set @CodAnterior = @Cod
			Fetch Next From cImpDir Into @Cod, @CuentaDebe, @CuentaHaber, @Importancia
		end
		close cImpDir
		Deallocate cImpDir

		return
	end
