IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerFechaDiaOMes]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerFechaDiaOMes];
GO;
CREATE FUNCTION [Funciones].[ObtenerFechaDiaOMes]
( 
	@DiaMes varchar(max),
	@Fecha Date
	)
	returns Date
AS
	begin
		set @Fecha =  case when @DiaMes = 1 then @Fecha else DATEADD(dd,-(DAY(@Fecha)-1),@Fecha) end
		return @Fecha
	end
