IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_EFlexware_Ventas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_EFlexware_Ventas];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_EFlexware_Ventas]
( 
	@LetraDesde char(1),
	@LetraHasta char(1),
	@PuntoVentaDesde int,
	@PuntoVentaHasta int,
	@NumeroComprobanteDesde int,
	@NumeroComprobanteHasta int,
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@FechaExportacionDesde varchar(10),
	@FechaExportacionHasta varchar(10),
	@NuevaFechaExportacion varchar(10), 
	@EsPedidoDeVentas bit,
	@EsRemitoDeVentas bit
)
AS
BEGIN
	update [ZooLogic].[ComprobanteV]
	set FecExpo = @NuevaFechaExportacion
	where (( @EsPedidoDeVentas = 0 and @EsRemitoDeVentas = 0 and FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49) or (@EsPedidoDeVentas = 1 and FactTipo = 23) or (@EsRemitoDeVentas = 1 and FactTipo = 11)))
		and FLetra between @LetraDesde and @LetraHasta
		and FPtoVen between @PuntoVentaDesde and @PuntoVentaHasta
		and FNumComp between @NumeroComprobanteDesde and @NumeroComprobanteHasta
		and FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
		and FecExpo between @FechaExportacionDesde and @FechaExportacionHasta
END