IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerUltimoComprobanteAfectado]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerUltimoComprobanteAfectado];
GO;

CREATE FUNCTION [Funciones].[ObtenerUltimoComprobanteAfectado]
( 
	@Comprobante varchar(50)

)
RETURNS varchar (20)
AS
BEGIN

	declare @retorno varchar (20)
	set @retorno = 
		
		(
			select top 1
				concat(afeletra,funciones.padl(afeptoven,4,'0'),funciones.padl(AFENUMCOM,8,'0'))
			from zoologic.compafe where codigo = @Comprobante and afetipo = 'afectado' order by nroitem desc	
		
		)
		

	return coalesce( @retorno, '' )

END