IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIP_RetencionesYPercepcionesSufridas_GANANCIAS_PJ]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIP_RetencionesYPercepcionesSufridas_GANANCIAS_PJ];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIP_RetencionesYPercepcionesSufridas_GANANCIAS_PJ]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10)
)
RETURNS TABLE
AS
RETURN
(	
		select  cast( DatosExpo.TipoDeOperacion as char(1) ) as TipoDeOperacion,
				cast( DatosExpo.CuitAgente as char(11) ) as CuitAgente,
				cast( DatosExpo.Diafecha + '/' + DatosExpo.MesFecha + '/' + DatosExpo.AnioFecha as char(10) ) as Fecha,				
				cast( DatosExpo.Regimen as char(3) ) as Regimen,
				cast( Funciones.ObtenerMontoConDecimales( DatosExpo.Importe, 2, 15 ) as char(15) ) as Importe,
				cast( Funciones.padl( cast( DatosExpo.NumeroCertificado as varchar(30) ), 30, '0' ) as char(30) ) as NumCert
		from [Interfaces].[Interfaz_AFIP_GenericoRetencionesYPercepcionesSufridas](@FechaDesde,@FechaHasta,'GANANCIAS', 1, 1 ) as DatosExpo
	
)