IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_AFIPRG3685_DuplicadosElectronicos]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_AFIPRG3685_DuplicadosElectronicos];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_AFIPRG3685_DuplicadosElectronicos]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update [ZooLogic].[ComprobanteV]
	set FecExpo = @NuevaFechaExportacion
	where FactTipo in (1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36, 47, 48, 49)
		and FFch between @FechaComprobanteDesde and @FechaComprobanteHasta
END