If EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerOrdenEnLaPaletaDeColores]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[ObtenerOrdenEnLaPaletaDeColores];
GO;

CREATE FUNCTION [Funciones].[ObtenerOrdenEnLaPaletaDeColores]
	( @CodigoArticulo char(15),
	  @CodigoColor char(6), 
	  @CodigoPaleta varchar(10),
	  @CodigoGrupo varchar(10) )

RETURNS numeric( 3, 0 )
AS
BEGIN

declare @retorno numeric(3,0)


	if ( @CodigoPaleta IS NULL) or ( @CodigoPaleta ='' ) 
	
		set @retorno = ( SELECT dp.ORDEN
		FROM [ZooLogic].[ART] a
		left join [ZooLogic].[GRUPO] as g on g.COD = a.GRUPO and 0 = Funciones.empty( a.GRUPO )
		left join [ZooLogic].[DPCOLOR] as dp on dp.CODIGO = g.PALCOL and 0 = Funciones.empty( g.PALCOL )
		where ( ( a.ARTCOD = @CodigoArticulo ) or ( @CodigoArticulo is null ) )
		and ( ( dp.CODCOL  = @CodigoColor ) or ( @CodigoColor is null ) ) );

	else

		set @retorno = ( SELECT dp.ORDEN
		FROM [ZooLogic].[ART] a
		inner join [ZooLogic].[DPCOLOR] dp on dp.CODIGO = a.PALCOL
		where a.ARTCOD = @CodigoArticulo 
		and dp.CODIGO = @CodigoPaleta 
		and dp.CODCOL = @CodigoColor ) ;
		
	return @retorno

End		
