IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[HER_GENERICO_GESTIONDEPRODUCCION_LIQ_GESTIONDEPRODUCCION]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Listados].[HER_GENERICO_GESTIONDEPRODUCCION_LIQ_GESTIONDEPRODUCCION];
GO;

CREATE FUNCTION [Listados].[HER_GENERICO_GESTIONDEPRODUCCION_LIQ_GESTIONDEPRODUCCION]
( @BaseDeDatos varchar(8),
	@GESTIONDEPRODUCCION_PROCESO_DESDE varchar(15),
	@GESTIONDEPRODUCCION_PROCESO_HASTA varchar(15),
	@GESTIONDEPRODUCCION_TALLER_DESDE varchar(15),
	@GESTIONDEPRODUCCION_TALLER_HASTA varchar(15),
	@GESTIONDEPRODUCCION_INVENTARIOORIGEN_DESDE varchar(15),
	@GESTIONDEPRODUCCION_INVENTARIOORIGEN_HASTA varchar(15),
	@GESTIONDEPRODUCCION_INVENTARIODESTINO_DESDE varchar(15),
	@GESTIONDEPRODUCCION_INVENTARIODESTINO_HASTA varchar(15),
	@GESTIONDEPRODUCCION_NUMERO_DESDE numeric(12, 0),
	@GESTIONDEPRODUCCION_NUMERO_HASTA numeric(12, 0),
	@GESTIONDEPRODUCCION_FECHA_DESDE datetime,
	@GESTIONDEPRODUCCION_FECHA_HASTA datetime,
	@ORDENDEPRODUCCION_21_ORDENDEPRODUCCION_DESCRIPCION_DESDE varchar(100),
	@ORDENDEPRODUCCION_21_ORDENDEPRODUCCION_DESCRIPCION_HASTA varchar(100),
	@PROCESOPRODUCCION_22_PROCESO_DESCRIPCION_DESDE varchar(250),
	@PROCESOPRODUCCION_22_PROCESO_DESCRIPCION_HASTA varchar(250),
	@TALLER_23_TALLER_DESCRIPCION_DESDE varchar(100),
	@TALLER_23_TALLER_DESCRIPCION_HASTA varchar(100),
	@INVENTARIO_24_INVENTARIOORIGEN_DESCRIPCION_DESDE varchar(100),
	@INVENTARIO_24_INVENTARIOORIGEN_DESCRIPCION_HASTA varchar(100),
	@INVENTARIO_25_INVENTARIODESTINO_DESCRIPCION_DESDE varchar(100),
	@INVENTARIO_25_INVENTARIODESTINO_DESCRIPCION_HASTA varchar(100),
	@SEGMENTACION_228_SEGMENTACION_DESCRIPCION_DESDE varchar(50),
	@SEGMENTACION_228_SEGMENTACION_DESCRIPCION_HASTA varchar(50),
	@LINEASUCURSAL_227_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEASUCURSAL_227_LINEA_DESCRIPCION_HASTA varchar(50),
	@TIPOSUCURSAL_226_TIPO_DESCRIPCION_DESDE varchar(50),
	@TIPOSUCURSAL_226_TIPO_DESCRIPCION_HASTA varchar(50),
	@SUCURSAL_223_SEGMENTACION_DESDE varchar(10),
	@SUCURSAL_223_SEGMENTACION_HASTA varchar(10),
	@SUCURSAL_223_LINEA_DESDE varchar(10),
	@SUCURSAL_223_LINEA_HASTA varchar(10),
	@SUCURSAL_223_TIPO_DESDE varchar(10),
	@SUCURSAL_223_TIPO_HASTA varchar(10),
	@SUCURSAL_223_DESCRIPCION_DESDE varchar(50),
	@SUCURSAL_223_DESCRIPCION_HASTA varchar(50),
	@SUCURSAL_223_CODIGO_DESDE varchar(10),
	@SUCURSAL_223_CODIGO_HASTA varchar(10),
	@GESTIONDEPRODUCCION_BASEDEDATOSALTAFW_DESDE varchar(8),
	@GESTIONDEPRODUCCION_BASEDEDATOSALTAFW_HASTA varchar(8),
	@GESTIONDEPRODUCCION_BASEDEDATOSMODIFICACIONFW_DESDE varchar(8),
	@GESTIONDEPRODUCCION_BASEDEDATOSMODIFICACIONFW_HASTA varchar(8),
	@GESTIONDEPRODUCCION_ESTADOTRANSFERENCIA_DESDE varchar(20),
	@GESTIONDEPRODUCCION_ESTADOTRANSFERENCIA_HASTA varchar(20),
	@GESTIONDEPRODUCCION_FECHAALTAFW_DESDE datetime,
	@GESTIONDEPRODUCCION_FECHAALTAFW_HASTA datetime,
	@GESTIONDEPRODUCCION_FECHAEXPO_DESDE datetime,
	@GESTIONDEPRODUCCION_FECHAEXPO_HASTA datetime,
	@GESTIONDEPRODUCCION_FECHAIMPO_DESDE datetime,
	@GESTIONDEPRODUCCION_FECHAIMPO_HASTA datetime,
	@GESTIONDEPRODUCCION_FECHAMODIFICACIONFW_DESDE datetime,
	@GESTIONDEPRODUCCION_FECHAMODIFICACIONFW_HASTA datetime,
	@GESTIONDEPRODUCCION_FECHATRANSFERENCIA_DESDE datetime,
	@GESTIONDEPRODUCCION_FECHATRANSFERENCIA_HASTA datetime,
	@GESTIONDEPRODUCCION_HORAALTAFW_DESDE varchar(8),
	@GESTIONDEPRODUCCION_HORAALTAFW_HASTA varchar(8),
	@GESTIONDEPRODUCCION_HORAEXPO_DESDE varchar(8),
	@GESTIONDEPRODUCCION_HORAEXPO_HASTA varchar(8),
	@GESTIONDEPRODUCCION_HORAIMPO_DESDE varchar(8),
	@GESTIONDEPRODUCCION_HORAIMPO_HASTA varchar(8),
	@GESTIONDEPRODUCCION_HORAMODIFICACIONFW_DESDE varchar(8),
	@GESTIONDEPRODUCCION_HORAMODIFICACIONFW_HASTA varchar(8),
	@GESTIONDEPRODUCCION_SERIEALTAFW_DESDE varchar(7),
	@GESTIONDEPRODUCCION_SERIEALTAFW_HASTA varchar(7),
	@GESTIONDEPRODUCCION_SERIEMODIFICACIONFW_DESDE varchar(7),
	@GESTIONDEPRODUCCION_SERIEMODIFICACIONFW_HASTA varchar(7),
	@GESTIONDEPRODUCCION_USUARIOALTAFW_DESDE varchar(100),
	@GESTIONDEPRODUCCION_USUARIOALTAFW_HASTA varchar(100),
	@GESTIONDEPRODUCCION_USUARIOMODIFICACIONFW_DESDE varchar(100),
	@GESTIONDEPRODUCCION_USUARIOMODIFICACIONFW_HASTA varchar(100),
	@GESTIONDEPRODUCCION_VERSIONALTAFW_DESDE varchar(13),
	@GESTIONDEPRODUCCION_VERSIONALTAFW_HASTA varchar(13),
	@GESTIONDEPRODUCCION_VERSIONMODIFICACIONFW_DESDE varchar(13),
	@GESTIONDEPRODUCCION_VERSIONMODIFICACIONFW_HASTA varchar(13),
	@Parametro1 varchar(max),
	@Parametro2 varchar(max),
	@Parametro3 varchar(max) )
RETURNS TABLE
AS
RETURN
(

-- declare @BaseDeDatos varchar(8) = 'GNUOPENS'
-- declare @pARAMETRO1 char(6) = ''
--declare @Parametro2 varchar(max) = '' --> '1': INCLUIR INSUMOS; '2': no incluir insumos
--declare @Parametro3 varchar(max) = '' --> '1': incluir descartes; '2': NO INCLUIR DESCARTES

select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_gestiondeproduccion.codigo, 38, ' ' ) as varchar( 46 ) ) as GESTIONDEPRODUCCION__Grupo,
	@basededatos as GESTIONDEPRODUCCION__BD,
	cast( c_gestiondeproduccion.insumo as varchar( 25 ) ) as GESTIONDEPRODUCCION_InsumoVirtual,
	cast( c_gestiondeproduccion.insumodet as varchar( 100 ) ) as GESTIONDEPRODUCCION_InsumodetVirtual,
	cast( c_gestiondeproduccion.codcolor as varchar( 6 ) ) as GESTIONDEPRODUCCION_CodColorVirtual,
	cast( c_gestiondeproduccion.fcoltxt as varchar( 50 ) ) as GESTIONDEPRODUCCION_FcolTxtVirtual,
	cast( c_gestiondeproduccion.codtalle as varchar( 5 ) ) as GESTIONDEPRODUCCION_CodTalleVirtual,
	cast( c_gestiondeproduccion.talledet as varchar( 50 ) ) as GESTIONDEPRODUCCION_TalleDetVirtual,
	cast( c_gestiondeproduccion.cantprod as numeric( 14, 6 ) ) as GESTIONDEPRODUCCION_CantProdVirtual,
	cast( c_gestiondeproduccion.tipoproducto as varchar( 13 ) ) as GESTIONDEPRODUCCION_TipoProductoVirtual,
	cast( c_gestiondeproduccion.numero_op as numeric( 12, 0 ) ) as GESTIONDEPRODUCCION_NumeroVirtual,
	cast( c_gestiondeproduccion.costoSegunLista as numeric( 14, 2 ) ) as GESTIONDEPRODUCCION_CostoVirtual,
	cast( c_gestiondeproduccion.costoliquidado as numeric( 14, 2 ) ) as GESTIONDEPRODUCCION_MontoVirtual,
	cast( c_gestiondeproduccion.CodigoListaFinal as varchar( 9 ) ) as GESTIONDEPRODUCCION_ListaDeCostoVirtual, --  @parametro1
	cast( c_gestiondeproduccion.nroitem as numeric( 5, 0 ) ) as GESTIONDEPRODUCCION_NroItemVirtual,
	cast( @parametro2 as varchar( 30 ) ) as GESTIONDEPRODUCCION_AccionEnInsumosVirtual,
	cast( @parametro3 as varchar( 30 ) ) as GESTIONDEPRODUCCION_AccionEnDescartesVirtual,
	cast( c_gestiondeproduccion.liquidado as numeric( 14, 6 ) ) as GESTIONDEPRODUCCION_CantLiquidadaVirtual,
	cast( c_gestiondeproduccion.pendiente as numeric( 14, 6 ) ) as GESTIONDEPRODUCCION_CantPendienteVirtual,
	cast( c_gestiondeproduccion.costototal as numeric( 14, 2 ) ) as GESTIONDEPRODUCCION_CostoTotalVirtual,
	cast( c_gestiondeproduccion.costoestimadoliquidado as numeric( 14, 2 ) ) as GESTIONDEPRODUCCION_CostoLiquidadoVirtual,
	cast( c_gestiondeproduccion.costopendiente as numeric( 14, 2 ) ) as GESTIONDEPRODUCCION_CostoPendienteVirtual,
	c_GESTIONDEPRODUCCION.CODIGO as GESTIONDEPRODUCCION_CODIGO,
	c_GESTIONDEPRODUCCION.ORDENDEPRO as GESTIONDEPRODUCCION_OrdenDePro,
	c_GESTIONDEPRODUCCION.PROCESO as GESTIONDEPRODUCCION_Proceso,
	c_GESTIONDEPRODUCCION.TALLER as GESTIONDEPRODUCCION_Taller,
	c_GESTIONDEPRODUCCION.INVENTORIG as GESTIONDEPRODUCCION_INVENTORIG,
	c_GESTIONDEPRODUCCION.INVENTDEST as GESTIONDEPRODUCCION_INVENTDEST,
	c_GESTIONDEPRODUCCION.NUMERO as GESTIONDEPRODUCCION_Numero,
	case when c_gestiondeproduccion.ffch = '01/01/1900 00:00:00' then null else c_gestiondeproduccion.ffch end as GESTIONDEPRODUCCION_FFCH,
	c_GESTIONDEPRODUCCION.OBS as GESTIONDEPRODUCCION_Obs,
	C_SUCURSAL.SEG as SUCURSAL_seg,
	C_SUCURSAL.LINEA as SUCURSAL_Linea,
	C_SUCURSAL.TIPO as SUCURSAL_Tipo,
	C_SUCURSAL.DESCRIP as SUCURSAL_descrip,
	C_SUCURSAL.CODIGO as SUCURSAL_codigo,
	c_GESTIONDEPRODUCCION.BDALTAFW as GESTIONDEPRODUCCION_BDALTAFW,
	c_GESTIONDEPRODUCCION.BDMODIFW as GESTIONDEPRODUCCION_BDMODIFW,
	c_GESTIONDEPRODUCCION.ESTTRANS as GESTIONDEPRODUCCION_ESTTRANS,
	case when c_gestiondeproduccion.faltafw = '01/01/1900 00:00:00' then null else c_gestiondeproduccion.faltafw end as GESTIONDEPRODUCCION_FALTAFW,
	case when c_gestiondeproduccion.fecexpo = '01/01/1900 00:00:00' then null else c_gestiondeproduccion.fecexpo end as GESTIONDEPRODUCCION_FECEXPO,
	case when c_gestiondeproduccion.fecimpo = '01/01/1900 00:00:00' then null else c_gestiondeproduccion.fecimpo end as GESTIONDEPRODUCCION_FECIMPO,
	case when c_gestiondeproduccion.fmodifw = '01/01/1900 00:00:00' then null else c_gestiondeproduccion.fmodifw end as GESTIONDEPRODUCCION_FMODIFW,
	case when c_gestiondeproduccion.fectrans = '01/01/1900 00:00:00' then null else c_gestiondeproduccion.fectrans end as GESTIONDEPRODUCCION_FECTRANS,
	c_GESTIONDEPRODUCCION.HALTAFW as GESTIONDEPRODUCCION_HALTAFW,
	c_GESTIONDEPRODUCCION.HORAEXPO as GESTIONDEPRODUCCION_HORAEXPO,
	c_GESTIONDEPRODUCCION.HORAIMPO as GESTIONDEPRODUCCION_HORAIMPO,
	c_GESTIONDEPRODUCCION.HMODIFW as GESTIONDEPRODUCCION_HMODIFW,
	c_GESTIONDEPRODUCCION.SALTAFW as GESTIONDEPRODUCCION_SALTAFW,
	c_GESTIONDEPRODUCCION.SMODIFW as GESTIONDEPRODUCCION_SMODIFW,
	c_GESTIONDEPRODUCCION.UALTAFW as GESTIONDEPRODUCCION_UALTAFW,
	c_GESTIONDEPRODUCCION.UMODIFW as GESTIONDEPRODUCCION_UMODIFW,
	c_GESTIONDEPRODUCCION.VALTAFW as GESTIONDEPRODUCCION_VALTAFW,
	c_GESTIONDEPRODUCCION.VMODIFW as GESTIONDEPRODUCCION_VMODIFW,
	c_GESTIONDEPRODUCCION.ZADSFW as GESTIONDEPRODUCCION_ZADSFW,
	cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) as GESTIONDEPRODUCCION__SUCURSAL,
	C_ORDENDEPRODUCCION.DESCRIP as ORDENDEPRODUCCION_Descrip,
	C_PROCESOPRODUCCION.DESCRIP as PROCESOPRODUCCION_Descrip,
	C_TALLER.DESCRIP as TALLER_Descrip,
	C_INVENTARIO24.INVDES as INVENTARIO24_invdes,
	C_INVENTARIO25.INVDES as INVENTARIO25_invdes,
	C_SEGMENTACION.SDES as SEGMENTACION_SDES,
	C_LINEASUCURSAL.LSDES as LINEASUCURSAL_LSDES,
	C_TIPOSUCURSAL.TDES as TIPOSUCURSAL_TDES,
	C_INVENTARIO24.INVCOD as INVENTARIO24_invcod,
	C_INVENTARIO25.INVCOD as INVENTARIO25_invcod,
	C_LINEASUCURSAL.LSCOD as LINEASUCURSAL_LSCOD,
	C_ORDENDEPRODUCCION.CODIGO as ORDENDEPRODUCCION_Codigo,
	C_PROCESOPRODUCCION.CODIGO as PROCESOPRODUCCION_Codigo,
	C_SEGMENTACION.SCOD as SEGMENTACION_SCOD,
	C_TALLER.CODIGO as TALLER_Codigo,
	C_TIPOSUCURSAL.TCOD as TIPOSUCURSAL_TCOD
 from [Funciones].[ObtenerLiquidadoOPendienteProduccion](@Parametro1, @Parametro2, @Parametro3) as c_GESTIONDEPRODUCCION -- ZooLogic.GESTIONPROD as c_GESTIONDEPRODUCCION
 left join ZooLogic.INV as C_INVENTARIO24 on C_INVENTARIO24.INVCOD = C_GESTIONDEPRODUCCION.INVENTORIG and 0 = Funciones.empty( C_GESTIONDEPRODUCCION.INVENTORIG )
 left join ZooLogic.INV as C_INVENTARIO25 on C_INVENTARIO25.INVCOD = C_GESTIONDEPRODUCCION.INVENTDEST and 0 = Funciones.empty( C_GESTIONDEPRODUCCION.INVENTDEST )
 left join ZooLogic.ORDENPROD as C_ORDENDEPRODUCCION on C_ORDENDEPRODUCCION.CODIGO = C_GESTIONDEPRODUCCION.ORDENDEPRO and 0 = Funciones.empty( C_GESTIONDEPRODUCCION.ORDENDEPRO )
 left join ZooLogic.PROCPRODUC as C_PROCESOPRODUCCION on C_PROCESOPRODUCCION.CODIGO = C_GESTIONDEPRODUCCION.PROCESO and 0 = Funciones.empty( C_GESTIONDEPRODUCCION.PROCESO )
 left join ORGANIZACION.SUC as C_SUCURSAL on C_SUCURSAL.CODIGO = cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) and 0 = Funciones.empty( cast( funciones.obtenercodigodesucursaldeunabase(@basededatos) as varchar( 10 ) ) )
 left join ZooLogic.TALLER as C_TALLER on C_TALLER.CODIGO = C_GESTIONDEPRODUCCION.TALLER and 0 = Funciones.empty( C_GESTIONDEPRODUCCION.TALLER )
 left join ORGANIZACION.TSUCUR as C_TIPOSUCURSAL on C_TIPOSUCURSAL.TCOD = C_SUCURSAL.TIPO and 0 = Funciones.empty( C_SUCURSAL.TIPO )
 left join ORGANIZACION.LSUCUR as C_LINEASUCURSAL on C_LINEASUCURSAL.LSCOD = C_SUCURSAL.LINEA and 0 = Funciones.empty( C_SUCURSAL.LINEA )
 left join ORGANIZACION.SECOD as C_SEGMENTACION on C_SEGMENTACION.SCOD = C_SUCURSAL.SEG and 0 = Funciones.empty( C_SUCURSAL.SEG )
 where ( 1=1 ) and 
	( ( @GESTIONDEPRODUCCION_PROCESO_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.Proceso >= @GESTIONDEPRODUCCION_PROCESO_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_PROCESO_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.Proceso <= @GESTIONDEPRODUCCION_PROCESO_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_TALLER_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.Taller >= @GESTIONDEPRODUCCION_TALLER_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_TALLER_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.Taller <= @GESTIONDEPRODUCCION_TALLER_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_INVENTARIOORIGEN_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.INVENTORIG >= @GESTIONDEPRODUCCION_INVENTARIOORIGEN_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_INVENTARIOORIGEN_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.INVENTORIG <= @GESTIONDEPRODUCCION_INVENTARIOORIGEN_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_INVENTARIODESTINO_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.INVENTDEST >= @GESTIONDEPRODUCCION_INVENTARIODESTINO_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_INVENTARIODESTINO_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.INVENTDEST <= @GESTIONDEPRODUCCION_INVENTARIODESTINO_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_NUMERO_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.Numero >= @GESTIONDEPRODUCCION_NUMERO_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_NUMERO_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.Numero <= @GESTIONDEPRODUCCION_NUMERO_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHA_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.FFCH >= @GESTIONDEPRODUCCION_FECHA_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHA_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.FFCH <= @GESTIONDEPRODUCCION_FECHA_HASTA ) ) and 
	( ( @ORDENDEPRODUCCION_21_ORDENDEPRODUCCION_DESCRIPCION_DESDE is null ) OR ( C_ORDENDEPRODUCCION.Descrip >= @ORDENDEPRODUCCION_21_ORDENDEPRODUCCION_DESCRIPCION_DESDE ) ) and 
	( ( @ORDENDEPRODUCCION_21_ORDENDEPRODUCCION_DESCRIPCION_HASTA is null ) OR ( C_ORDENDEPRODUCCION.Descrip <= @ORDENDEPRODUCCION_21_ORDENDEPRODUCCION_DESCRIPCION_HASTA ) ) and 
	( ( @PROCESOPRODUCCION_22_PROCESO_DESCRIPCION_DESDE is null ) OR ( C_PROCESOPRODUCCION.Descrip >= @PROCESOPRODUCCION_22_PROCESO_DESCRIPCION_DESDE ) ) and 
	( ( @PROCESOPRODUCCION_22_PROCESO_DESCRIPCION_HASTA is null ) OR ( C_PROCESOPRODUCCION.Descrip <= @PROCESOPRODUCCION_22_PROCESO_DESCRIPCION_HASTA ) ) and 
	( ( @TALLER_23_TALLER_DESCRIPCION_DESDE is null ) OR ( C_TALLER.Descrip >= @TALLER_23_TALLER_DESCRIPCION_DESDE ) ) and 
	( ( @TALLER_23_TALLER_DESCRIPCION_HASTA is null ) OR ( C_TALLER.Descrip <= @TALLER_23_TALLER_DESCRIPCION_HASTA ) ) and 
	( ( @INVENTARIO_24_INVENTARIOORIGEN_DESCRIPCION_DESDE is null ) OR ( C_INVENTARIO24.invdes >= @INVENTARIO_24_INVENTARIOORIGEN_DESCRIPCION_DESDE ) ) and 
	( ( @INVENTARIO_24_INVENTARIOORIGEN_DESCRIPCION_HASTA is null ) OR ( C_INVENTARIO24.invdes <= @INVENTARIO_24_INVENTARIOORIGEN_DESCRIPCION_HASTA ) ) and 
	( ( @INVENTARIO_25_INVENTARIODESTINO_DESCRIPCION_DESDE is null ) OR ( C_INVENTARIO25.invdes >= @INVENTARIO_25_INVENTARIODESTINO_DESCRIPCION_DESDE ) ) and 
	( ( @INVENTARIO_25_INVENTARIODESTINO_DESCRIPCION_HASTA is null ) OR ( C_INVENTARIO25.invdes <= @INVENTARIO_25_INVENTARIODESTINO_DESCRIPCION_HASTA ) ) and 
	( ( @SEGMENTACION_228_SEGMENTACION_DESCRIPCION_DESDE is null ) OR ( C_SEGMENTACION.SDES >= @SEGMENTACION_228_SEGMENTACION_DESCRIPCION_DESDE ) ) and 
	( ( @SEGMENTACION_228_SEGMENTACION_DESCRIPCION_HASTA is null ) OR ( C_SEGMENTACION.SDES <= @SEGMENTACION_228_SEGMENTACION_DESCRIPCION_HASTA ) ) and 
	( ( @LINEASUCURSAL_227_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEASUCURSAL.LSDES >= @LINEASUCURSAL_227_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEASUCURSAL_227_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEASUCURSAL.LSDES <= @LINEASUCURSAL_227_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @TIPOSUCURSAL_226_TIPO_DESCRIPCION_DESDE is null ) OR ( C_TIPOSUCURSAL.TDES >= @TIPOSUCURSAL_226_TIPO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPOSUCURSAL_226_TIPO_DESCRIPCION_HASTA is null ) OR ( C_TIPOSUCURSAL.TDES <= @TIPOSUCURSAL_226_TIPO_DESCRIPCION_HASTA ) ) and 
	( ( @SUCURSAL_223_SEGMENTACION_DESDE is null ) OR ( C_SUCURSAL.seg >= @SUCURSAL_223_SEGMENTACION_DESDE ) ) and 
	( ( @SUCURSAL_223_SEGMENTACION_HASTA is null ) OR ( C_SUCURSAL.seg <= @SUCURSAL_223_SEGMENTACION_HASTA ) ) and 
	( ( @SUCURSAL_223_LINEA_DESDE is null ) OR ( C_SUCURSAL.Linea >= @SUCURSAL_223_LINEA_DESDE ) ) and 
	( ( @SUCURSAL_223_LINEA_HASTA is null ) OR ( C_SUCURSAL.Linea <= @SUCURSAL_223_LINEA_HASTA ) ) and 
	( ( @SUCURSAL_223_TIPO_DESDE is null ) OR ( C_SUCURSAL.Tipo >= @SUCURSAL_223_TIPO_DESDE ) ) and 
	( ( @SUCURSAL_223_TIPO_HASTA is null ) OR ( C_SUCURSAL.Tipo <= @SUCURSAL_223_TIPO_HASTA ) ) and 
	( ( @SUCURSAL_223_DESCRIPCION_DESDE is null ) OR ( C_SUCURSAL.descrip >= @SUCURSAL_223_DESCRIPCION_DESDE ) ) and 
	( ( @SUCURSAL_223_DESCRIPCION_HASTA is null ) OR ( C_SUCURSAL.descrip <= @SUCURSAL_223_DESCRIPCION_HASTA ) ) and 
	( ( @SUCURSAL_223_CODIGO_DESDE is null ) OR ( C_SUCURSAL.codigo >= @SUCURSAL_223_CODIGO_DESDE ) ) and 
	( ( @SUCURSAL_223_CODIGO_HASTA is null ) OR ( C_SUCURSAL.codigo <= @SUCURSAL_223_CODIGO_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_BASEDEDATOSALTAFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.BDALTAFW >= @GESTIONDEPRODUCCION_BASEDEDATOSALTAFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_BASEDEDATOSALTAFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.BDALTAFW <= @GESTIONDEPRODUCCION_BASEDEDATOSALTAFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_BASEDEDATOSMODIFICACIONFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.BDMODIFW >= @GESTIONDEPRODUCCION_BASEDEDATOSMODIFICACIONFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_BASEDEDATOSMODIFICACIONFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.BDMODIFW <= @GESTIONDEPRODUCCION_BASEDEDATOSMODIFICACIONFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_ESTADOTRANSFERENCIA_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.ESTTRANS >= @GESTIONDEPRODUCCION_ESTADOTRANSFERENCIA_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_ESTADOTRANSFERENCIA_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.ESTTRANS <= @GESTIONDEPRODUCCION_ESTADOTRANSFERENCIA_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHAALTAFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.FALTAFW >= @GESTIONDEPRODUCCION_FECHAALTAFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHAALTAFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.FALTAFW <= @GESTIONDEPRODUCCION_FECHAALTAFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHAEXPO_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.FECEXPO >= @GESTIONDEPRODUCCION_FECHAEXPO_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHAEXPO_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.FECEXPO <= @GESTIONDEPRODUCCION_FECHAEXPO_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHAIMPO_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.FECIMPO >= @GESTIONDEPRODUCCION_FECHAIMPO_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHAIMPO_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.FECIMPO <= @GESTIONDEPRODUCCION_FECHAIMPO_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHAMODIFICACIONFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.FMODIFW >= @GESTIONDEPRODUCCION_FECHAMODIFICACIONFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHAMODIFICACIONFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.FMODIFW <= @GESTIONDEPRODUCCION_FECHAMODIFICACIONFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHATRANSFERENCIA_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.FECTRANS >= @GESTIONDEPRODUCCION_FECHATRANSFERENCIA_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_FECHATRANSFERENCIA_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.FECTRANS <= @GESTIONDEPRODUCCION_FECHATRANSFERENCIA_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_HORAALTAFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.HALTAFW >= @GESTIONDEPRODUCCION_HORAALTAFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_HORAALTAFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.HALTAFW <= @GESTIONDEPRODUCCION_HORAALTAFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_HORAEXPO_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.HORAEXPO >= @GESTIONDEPRODUCCION_HORAEXPO_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_HORAEXPO_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.HORAEXPO <= @GESTIONDEPRODUCCION_HORAEXPO_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_HORAIMPO_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.HORAIMPO >= @GESTIONDEPRODUCCION_HORAIMPO_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_HORAIMPO_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.HORAIMPO <= @GESTIONDEPRODUCCION_HORAIMPO_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_HORAMODIFICACIONFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.HMODIFW >= @GESTIONDEPRODUCCION_HORAMODIFICACIONFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_HORAMODIFICACIONFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.HMODIFW <= @GESTIONDEPRODUCCION_HORAMODIFICACIONFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_SERIEALTAFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.SALTAFW >= @GESTIONDEPRODUCCION_SERIEALTAFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_SERIEALTAFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.SALTAFW <= @GESTIONDEPRODUCCION_SERIEALTAFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_SERIEMODIFICACIONFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.SMODIFW >= @GESTIONDEPRODUCCION_SERIEMODIFICACIONFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_SERIEMODIFICACIONFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.SMODIFW <= @GESTIONDEPRODUCCION_SERIEMODIFICACIONFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_USUARIOALTAFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.UALTAFW >= @GESTIONDEPRODUCCION_USUARIOALTAFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_USUARIOALTAFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.UALTAFW <= @GESTIONDEPRODUCCION_USUARIOALTAFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_USUARIOMODIFICACIONFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.UMODIFW >= @GESTIONDEPRODUCCION_USUARIOMODIFICACIONFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_USUARIOMODIFICACIONFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.UMODIFW <= @GESTIONDEPRODUCCION_USUARIOMODIFICACIONFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_VERSIONALTAFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.VALTAFW >= @GESTIONDEPRODUCCION_VERSIONALTAFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_VERSIONALTAFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.VALTAFW <= @GESTIONDEPRODUCCION_VERSIONALTAFW_HASTA ) ) and 
	( ( @GESTIONDEPRODUCCION_VERSIONMODIFICACIONFW_DESDE is null ) OR ( c_GESTIONDEPRODUCCION.VMODIFW >= @GESTIONDEPRODUCCION_VERSIONMODIFICACIONFW_DESDE ) ) and 
	( ( @GESTIONDEPRODUCCION_VERSIONMODIFICACIONFW_HASTA is null ) OR ( c_GESTIONDEPRODUCCION.VMODIFW <= @GESTIONDEPRODUCCION_VERSIONMODIFICACIONFW_HASTA ) )

)