IF EXISTS(SELECT * FROM sys.objects WHERE name = 'sp_CMV_ArmarAsientos' AND type in (N'P') and SCHEMA_ID('Contabilidad') = schema_id)
	DROP PROCEDURE Contabilidad.sp_CMV_ArmarAsientos;
GO;

CREATE PROCEDURE [Contabilidad].[sp_CMV_ArmarAsientos]
(
	@Producto varchar(25),
	@BaseDeDatosActual varchar(8),
	@Ejercicio numeric(8,0),
	@FechaDesde as varchar(8),
	@FechaHasta as varchar(8),
	@ListaBaseDeDatos varchar(1000),
	@MetodoDeCosteo varchar(4),
	@TipoDeSalida char(1)
)
AS
BEGIN
	/* Armo un asiento contable similar a los que se realiza en la contabilizacion de un ejercicio */

	DECLARE @BaseDeDatosConConfiguracion varchar(40) = ltrim(rtrim(@Producto)) + '_' +  ltrim(rtrim(@BaseDeDatosActual))
	DECLARE @FechaDesdeDT as dateTime = convert(date, @FechaDesde)
	DECLARE @FechaHastaDT as dateTime = convert(date, @FechaHasta)
	DECLARE @EsDeAjustePorInflacion bit = null

	DECLARE @FechaIniEjercicio varchar(8) 
	SELECT @FechaIniEjercicio = CONVERT( VARCHAR(8), FECHADES, 112 ) 
		FROM [ZooLogic].[EJERCICIO] WHERE NUMERO = @Ejercicio 

	DECLARE	@tblRetorno AS TABLE
	(
		[BaseDeDatosOrigen] [varchar](8) NULL, 
		[CodigoAsientoTipo] [varchar](10) NULL, 
		[OrdenAsientoTipo] [numeric](2,0) NULL, 
		[ClaveAsiento] [varchar](100) NULL, 
		[FechaAsiento] [datetime] NULL, 
		[Referencia] [varchar](150) NULL, 
		[CuentaDebe] [varchar](30) NULL, 
		[CuentaHaber] [varchar](30) NULL, 
		[CentroDeCostos] [varchar](20) NULL, 
		[Monto] [numeric](16,4) NULL, 
		[EsCuentaDifRedondeo] bit NULL,
		[Descrip] [varchar](100) NULL,
		[CAjuste] [char](30) NULL,
		[IndiceAju] [char](10) NULL
	)

	DECLARE
		@tblPlanCuenta Contabilidad.udt_TableType_PlanCuenta,
		@tblAtipo Contabilidad.udt_TableType_Atipo,
		@tblAtipodet Contabilidad.udt_TableType_Atipodet,
		@tblSaldosInialesCmv Contabilidad.udt_TableType_CMVTipoCompMovStock,
		@tblMovimientosProcesados Contabilidad.udt_TableType_CMVTipoCompMovStock,
		@tblCompAsocPorBaseDeDatos Contabilidad.udt_TableType_CMVCompAsociados,
		@tblComprasPorBaseDeDatos Contabilidad.udt_TableType_CMVTipoCompMovStock,
		@tblResultadoCMV Contabilidad.udt_TableType_CMVInfoResultado 


	/*----------------------------------------------------------------------------------------------------------------*/
	-- Saldos iniciales para el CMV
	IF OBJECT_ID('tempdb.dbo.##tblSaldosInialesCmv', 'U') IS NOT NULL
		TRUNCATE TABLE ##tblSaldosInialesCmv; 
	ELSE
		SELECT * INTO ##tblSaldosInialesCmv FROM @tblSaldosInialesCmv

	EXEC [Contabilidad].[sp_CMV_ObtenerSaldosInicialesCostoMercaderiaVendida] @Producto, @BaseDeDatosActual, @ListaBaseDeDatos, @Ejercicio, '##tblSaldosInialesCmv'

	INSERT INTO @tblSaldosInialesCmv
		SELECT * FROM ##tblSaldosInialesCmv
	DROP TABLE ##tblSaldosInialesCmv

	-- Movimientos de stock para el CMV
	IF OBJECT_ID('tempdb.dbo.##tblMovStockPorBaseDeDatos', 'U') IS NOT NULL
		TRUNCATE TABLE ##tblMovStockPorBaseDeDatos; 
	ELSE
		SELECT * INTO ##tblMovStockPorBaseDeDatos FROM @tblMovimientosProcesados

	EXEC [Contabilidad].[sp_CMV_ObtenerMovimientosDeArticulosComprados] @Producto, @ListaBaseDeDatos, @FechaIniEjercicio, @FechaHasta, '##tblMovStockPorBaseDeDatos' 

	INSERT INTO @tblMovimientosProcesados
		SELECT * FROM ##tblMovStockPorBaseDeDatos
	DROP TABLE ##tblMovStockPorBaseDeDatos
		
	-- Comprobantes asociados para CMV
	IF OBJECT_ID('tempdb.dbo.##tblCompAsocPorBaseDeDatos', 'U') IS NOT NULL
		TRUNCATE TABLE ##tblCompAsocPorBaseDeDatos; 
	ELSE
		SELECT * INTO ##tblCompAsocPorBaseDeDatos FROM @tblCompAsocPorBaseDeDatos

	EXEC [Contabilidad].[sp_CMV_ObtenerFacturasAsociadasANotasDeCredito] @Producto, @ListaBaseDeDatos, @FechaIniEjercicio, @FechaHasta, '##tblCompAsocPorBaseDeDatos'

	INSERT INTO @tblCompAsocPorBaseDeDatos
		SELECT * FROM ##tblCompAsocPorBaseDeDatos
	DROP TABLE ##tblCompAsocPorBaseDeDatos
		
	-- Comprobantes de compra para costos del CMV
	IF OBJECT_ID('tempdb.dbo.##tblCompComprasPorBaseDeDatos', 'U') IS NOT NULL
		TRUNCATE TABLE ##tblCompComprasPorBaseDeDatos; 
	ELSE
		SELECT * INTO ##tblCompComprasPorBaseDeDatos FROM @tblComprasPorBaseDeDatos

	EXEC [Contabilidad].[sp_CMV_ObtenerComprobantesDeCompra] @Producto, @ListaBaseDeDatos, @FechaIniEjercicio, @FechaHasta, '##tblCompComprasPorBaseDeDatos'

	INSERT INTO @tblComprasPorBaseDeDatos
		SELECT * FROM ##tblCompComprasPorBaseDeDatos
	DROP TABLE ##tblCompComprasPorBaseDeDatos
	/*----------------------------------------------------------------------------------------------------------------*/


	INSERT INTO @tblPlanCuenta
		EXEC [Contabilidad].[sp_ObtenerConfiguracionDeAsientos_PlanCuenta] @NombreBaseDeDatos= @BaseDeDatosConConfiguracion
	INSERT INTO @tblAtipo
		EXEC [Contabilidad].[sp_ObtenerConfiguracionDeAsientos_ATipo] @NombreBaseDeDatos= @BaseDeDatosConConfiguracion
	INSERT INTO @tblAtipodet
		EXEC [Contabilidad].[sp_ObtenerConfiguracionDeAsientos_ATipoDet] @NombreBaseDeDatos= @BaseDeDatosConConfiguracion, @AjustaPorInflacion = @EsDeAjustePorInflacion

	INSERT INTO @tblResultadoCMV 
		SELECT BD, Referencia, Codigo, Articulo, Color, Talle, Cantidad, Stock, CostoUnitario, Fecha, CompTipo, CompCodigo, CompDesc, CostoInvAnt, CostoInvAcum 
		FROM [Contabilidad].[CMV_ObtenerCostosComprobantesMuevenStockEntreFechas]( @FechaIniEjercicio, @FechaHasta, @MetodoDeCosteo, @TipoDeSalida, @tblSaldosInialesCmv, @tblMovimientosProcesados, @tblCompAsocPorBaseDeDatos, @tblComprasPorBaseDeDatos ) 

		
	 
	INSERT INTO @tblRetorno
	SELECT 
		@BaseDeDatosActual AS BaseDeDatosOrigen,
		Asiento.CodigoAsientoTipo,
		Atipo.orden AS OrdenAsientoTipo,

		max(
			@BaseDeDatosConConfiguracion + ' ' + Asiento.CodigoAsientoTipo + ' ' +
			case 
				when atipo.asientop = 2    -- por mes
				then '' + convert( char(7), Asiento.FechaAsiento, 120 )
				else ''
				end
			) AS ClaveAsiento, 
		max(
			case when atipo.asientop = 2
				then DATEADD( dd, 
					- ( DAY( Asiento.FechaAsiento ) ) 
					+ case when atipo.diadelmes <= day( DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,Asiento.FechaAsiento) +1,0)) )
							then atipo.diadelmes
							else day( DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,Asiento.FechaAsiento) +1,0)) )
							end, Asiento.FechaAsiento ) 
				else Asiento.FechaAsiento
				end 
			) AS FechaAsiento,
		-- asientop: 1 por d�a, 2 por mes, 3 por comprobante
		-- leyenda: 1 por sistema, 2 propia
		max(
			convert(char(150),
				case when atipo.leyenda = 2
						then atipo.leyprop
						when atipo.asientop = 3 
						then Asiento.Referencia 
						else atipo.descrip
							+ case when atipo.portipoc = 1 then ' ' + rtrim(Asiento.TipoComp) else '' end
							+ case when atipo.porletra = 1 then ' ' + rtrim(Asiento.LetraComp) else '' end
					end )
			) as Referencia,

		max(Asiento.CuentaDebe) CuentaDebe, 
		max(Asiento.CuentaHaber) CuentaHaber,
		Asiento.CentroDeCostos, 

		sum( Asiento.Monto * ( case when Asiento.CuentaDebe = '' then (-1) else 1 end ) ) as Monto,

		0 as EsCuentaDifRedondeo, 
		PlanCuenta.Descrip, 
		PlanCuenta.CAjuste,
		PlanCuenta.IndiceAju
	FROM 
	(

		select  CodigoAsientoTipo, FechaAsiento, TipoComp, LetraComp, Referencia, Codigo, CuentaDebe, CuentaHaber, CentroDeCostos, Monto
			from (

					select 2 as TipoAsi, CodigoAsientoTipo, FechaAsiento, TipoComp, LetraComp, Referencia, Codigo, CuentaDebe, CuentaHaber, CentroDeCostos, Monto
					from Contabilidad.CMV_ArmarAsientos_CostoMercaderiaVendida( @FechaDesdeDT, @FechaHastaDT, @tblAtipodet, @tblResultadoCMV )

				) asi0
	) Asiento
	left join @tblAtipo ATipo on Asiento.CodigoAsientoTipo = ATipo.Codigo
	left join @tblPlanCuenta PlanCuenta on case when Asiento.CuentaDebe = '' then Asiento.CuentaHaber else Asiento.CuentaDebe end = PlanCuenta.CtaCodigo
	WHERE Asiento.monto <> 0
	GROUP BY
		Asiento.CodigoAsientoTipo, 
		Atipo.Orden,
		Asiento.CentroDeCostos,
		PlanCuenta.Descrip, 
		PlanCuenta.CAjuste,
		PlanCuenta.IndiceAju


	-- Updates que complementan la acci�n de consolidar por una misma cuenta contable dentro de un mismo asiento
	-- El primer update resuelve los casos en que (debido al agrupamiento por cuenta contable) queda la misma cuenta en el debe y en el haber
	-- (si el monto es cero igual se deja la cuenta en el debe, esto es para que mantenga el registro el concepto de diferencia por redondeo a�n cuando todav�a est� en cero)
	-- El segundo update resuelve los casos en que quedaron cuentas de Debe con saldos negativos (lo debe pasar al haber)
	-- El tercer update resuelve los casos en que quedaron cuentas de Haber con saldos positivos (lo debe pasar al debe)
	-- El cuarto update pone todos los montos en positivo (porque ya est� seteado el debe y haber seg�n en qu� lugar qued� grabada la cuenta contable)

	update @tblRetorno
		set CuentaDebe = case when Monto >= 0 then CuentaDebe else '' end,
			CuentaHaber = case when Monto < 0 then CuentaHaber else '' end
		where CuentaDebe <> '' and CuentaHaber <> ''
	update @tblRetorno
		set CuentaDebe = '',
			CuentaHaber = CuentaDebe
		where CuentaDebe <> '' and Monto < 0

	update @tblRetorno
		set CuentaDebe = CuentaHaber,
			CuentaHaber = ''
		where CuentaHaber <> '' and Monto > 0

	update @tblRetorno set Monto = abs( Monto )


	delete @tblRetorno where Monto = 0


	select * from @tblRetorno
	order by FechaAsiento, OrdenAsientoTipo, Referencia, ClaveAsiento, CuentaHaber, CuentaDebe


	--EXEC [Contabilidad].[sp_CMV_ArmarAsientos] 'DRAGONFISH', 'DEMO2', '1', '20250401', '20250430', 'BASESCMV', 'PEPS'

END

