IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerVigenciaDelPrecioDeLaCombinacion]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Funciones].[ObtenerVigenciaDelPrecioDeLaCombinacion];
GO;

CREATE FUNCTION [Funciones].[ObtenerVigenciaDelPrecioDeLaCombinacion]
(@P_ARTICULO Varchar( 25 ), 
@P_CCOLOR Varchar( 16 ), 
@P_TALLE Varchar( 15 ), 
@CodigoLPrecio Varchar(6), 
@VigenciaParaFecha date )
RETURNS date
AS
BEGIN
DECLARE @retorno date
if @VigenciaParaFecha = ''
	set @VigenciaParaFecha = GETDATE()

set @retorno = (select top 1 p.FECHAVIG 
	from ( select top 1 ARTICULO, CCOLOR, TALLE, FECHAVIG, CODIGO, LISTAPRE, TIMESTAMPA, CASE p.pdirecto WHEN null THEN 0 ELSE p.pdirecto end as PDIRECTO
	from ZOOLOGIC.PRECIOAR p inner join ZOOLOGIC.lprecio lp on lp.lpr_numero = p.listapre and
	lp.LPR_NUMERO = @CodigoLPrecio
	where p.ARTICULO = @P_ARTICULO and ( p.CCOLOR = @P_CCOLOR ) and ( p.TALLE = @P_TALLE ) and  p.FECHAVIG <= @VigenciaParaFecha
	order by FECHAVIG desc, TIMESTAMPA DESC 
UNION ALL 
select top 1 ARTICULO, CCOLOR, TALLE, FECHAVIG, CODIGO, LISTAPRE, TIMESTAMPA, CASE p.pdirecto WHEN null THEN 0 ELSE p.pdirecto end  as PDIRECTO
	from ZOOLOGIC.PRECIOAR p inner join ZOOLOGIC.lprecio lp on lp.lpr_numero = p.listapre and
	lp.LPR_NUMERO = @CodigoLPrecio
	where p.ARTICULO = @P_ARTICULO and ( p.CCOLOR = @P_CCOLOR ) and ( p.TALLE = '' ) and  p.FECHAVIG <= @VigenciaParaFecha
	order by FECHAVIG desc, TIMESTAMPA DESC 
UNION ALL 
select top 1 ARTICULO, CCOLOR, TALLE, FECHAVIG, CODIGO, LISTAPRE, TIMESTAMPA, CASE p.pdirecto WHEN null THEN 0 ELSE p.pdirecto end  as PDIRECTO
	from ZOOLOGIC.PRECIOAR p inner join ZOOLOGIC.lprecio lp on lp.lpr_numero = p.listapre and
	lp.LPR_NUMERO = @CodigoLPrecio
	where p.ARTICULO = @P_ARTICULO and ( p.CCOLOR = '' ) and ( p.TALLE = @P_TALLE ) and  p.FECHAVIG <= @VigenciaParaFecha
	order by FECHAVIG desc, TIMESTAMPA DESC 
UNION ALL 
select top 1 ARTICULO, CCOLOR, TALLE, FECHAVIG, CODIGO, LISTAPRE, TIMESTAMPA, CASE p.pdirecto WHEN null THEN 0 ELSE p.pdirecto end  as PDIRECTO
	from ZOOLOGIC.PRECIOAR p inner join ZOOLOGIC.lprecio lp on lp.lpr_numero = p.listapre and
	lp.LPR_NUMERO = @CodigoLPrecio
	where p.ARTICULO = @P_ARTICULO and ( p.CCOLOR = '' ) and ( p.TALLE = '' ) and  p.FECHAVIG <= @VigenciaParaFecha 
	order by FECHAVIG desc, TIMESTAMPA DESC )
 p inner join ZOOLOGIC.lprecio lp on lp.lpr_numero = p.listapre and
	lp.LPR_NUMERO = @CodigoLPrecio
	where p.ARTICULO = @P_ARTICULO and ( p.CCOLOR = '' or p.CCOLOR = @P_CCOLOR ) and ( p.TALLE = '' or p.TALLE = @P_TALLE ) and  p.FECHAVIG <= @VigenciaParaFecha
	order by p.FECHAVIG DESC, (case p.ccolor when '' then 0 else 2 end + case p.talle when '' then 0 else 1 end + case p.pdirecto when 0 then 0 else 4 end) DESC, p.TIMESTAMPA DESC )
	return @retorno
end
