IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[Per_286_VENTASYSTOCK]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Listados].[Per_286_VENTASYSTOCK];
GO;

CREATE FUNCTION [listados].[Per_286_VENTASYSTOCK]
( @BaseDeDatos varchar(8),
	@FACTURA_FECHA_DESDE datetime,
	@FACTURA_FECHA_HASTA datetime,
	@ARTICULO_DESCRIPCIONADICIONAL_DESDE varchar(254),
	@ARTICULO_DESCRIPCIONADICIONAL_HASTA varchar(254),
	@ARTICULO_PROVEEDOR_DESDE varchar(10),
	@ARTICULO_PROVEEDOR_HASTA varchar(10),
	@PROVEEDOR_NOMBRE_DESDE varchar(60),
	@PROVEEDOR_NOMBRE_HASTA varchar(60),
	@ARTICULO_UNIDADDEMEDIDA_DESDE varchar(3),
	@ARTICULO_UNIDADDEMEDIDA_HASTA varchar(3),
	@ARTICULO_TEMPORADA_DESDE varchar(5),
	@ARTICULO_TEMPORADA_HASTA varchar(5),
	@ARTICULO_ANO_DESDE int,
	@ARTICULO_ANO_HASTA int,
	@ARTICULO_FAMILIA_DESDE varchar(10),
	@ARTICULO_FAMILIA_HASTA varchar(10),
	@ARTICULO_MATERIAL_DESDE varchar(10),
	@ARTICULO_MATERIAL_HASTA varchar(10),
	@ARTICULO_LINEA_DESDE varchar(10),
	@ARTICULO_LINEA_HASTA varchar(10),
	@ARTICULO_GRUPO_DESDE varchar(10),
	@ARTICULO_GRUPO_HASTA varchar(10),
	@ARTICULO_CATEGORIADEARTICULO_DESDE varchar(10),
	@ARTICULO_CATEGORIADEARTICULO_HASTA varchar(10),
	@ARTICULO_CLASIFICACION_DESDE varchar(10),
	@ARTICULO_CLASIFICACION_HASTA varchar(10),
	@ARTICULO_TIPODEARTICULO_DESDE varchar(10),
	@ARTICULO_TIPODEARTICULO_HASTA varchar(10),
	@ARTICULO_NOCOMERCIALIZABLE_DESDE datetime,
	@ARTICULO_NOCOMERCIALIZABLE_HASTA datetime,
	@ARTICULO_COMPORTAMIENTO int,
	--@FACTURA_TIPOCOMPROBANTE int,
	@UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE varchar(50),
	@UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA varchar(50),
	@TEMPORADA_TEMPORADA_DESCRIPCION_DESDE varchar(50),
	@TEMPORADA_TEMPORADA_DESCRIPCION_HASTA varchar(50),
	@FAMILIA_FAMILIA_DESCRIPCION_DESDE varchar(50),
	@FAMILIA_FAMILIA_DESCRIPCION_HASTA varchar(50),
	@MATERIAL_MATERIAL_DESCRIPCION_DESDE varchar(40),
	@MATERIAL_MATERIAL_DESCRIPCION_HASTA varchar(40),
	@LINEA_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEA_LINEA_DESCRIPCION_HASTA varchar(50),
	@GRUPO_GRUPO_DESCRIPCION_DESDE varchar(50),
	@GRUPO_GRUPO_DESCRIPCION_HASTA varchar(50),
	@CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE varchar(50),
	@CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA varchar(50),
	@CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE varchar(50),
	@CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA varchar(50),
	@TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE varchar(50),
	@TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA varchar(50),
	@ITEMARTICULOSVENTAS_ARTICULO_DESDE varchar(15),
	@ITEMARTICULOSVENTAS_ARTICULO_HASTA varchar(15),
	@ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE varchar(100),
	@ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA varchar(100),
	@ITEMARTICULOSVENTAS_COLOR_DESDE varchar(6),
	@ITEMARTICULOSVENTAS_COLOR_HASTA varchar(6),
	@ITEMARTICULOSVENTAS_COLORDETALLE_DESDE varchar(50),
	@ITEMARTICULOSVENTAS_COLORDETALLE_HASTA varchar(50),
	@ITEMARTICULOSVENTAS_TALLE_DESDE varchar(5),
	@ITEMARTICULOSVENTAS_TALLE_HASTA varchar(5),
	@ITEMARTICULOSVENTAS_TALLEDETALLE_DESDE varchar(50),
	@ITEMARTICULOSVENTAS_TALLEDETALLE_HASTA varchar(50) )
RETURNS TABLE
AS
RETURN
(
select  ITEMARTICULOSVENTAS__Grupo,
	ITEMARTICULOSVENTAS__BD,
	case when ITEMARTICULOSVENTAS_FCOLTXT is null then '' else ITEMARTICULOSVENTAS_FCOLTXT end as ITEMARTICULOSVENTAS_FCOLTXT ,
	case when ITEMARTICULOSVENTAS_FTATXT is null then '' else ITEMARTICULOSVENTAS_FTATXT end as ITEMARTICULOSVENTAS_FTATXT ,
	ARTICULO_ARTFAB,
	case when PROVEEDOR_CLNOM is null then '' else PROVEEDOR_CLNOM end as PROVEEDOR_CLNOM ,
	ARTICULO_UNIMED,
	ARTICULO_ATEMPORADA,
	ARTICULO_ANO,
	ARTICULO_FAMILIA,
	ARTICULO_MAT,
	ARTICULO_LINEA,
	ARTICULO_GRUPO,
	ARTICULO_CATEARTI,
	ARTICULO_CLASIFART,
	ARTICULO_TIPOARTI,
	case when STOCKARTICULOS_ENTRANSITO is null then 0 else STOCKARTICULOS_ENTRANSITO end as ARTICULO_EnTransito,
	case when ARTICULO_NOCOM is null then '' else ARTICULO_NOCOM end as ARTICULO_NOCOM ,
	ARTICULO_ASTOCK,
	ITEMARTICULOSVENTAS_FART,
	ITEMARTICULOSVENTAS_FTXT,
	ITEMARTICULOSVENTAS_CCOLOR,
	ITEMARTICULOSVENTAS_TALLE,
	case when STOCKARTICULOS_ACANT is null then 0 else STOCKARTICULOS_ACANT end as STOCKARTICULOS_ACANT ,
	ITEMARTICULOSVENTAS_FCANT, 
	ARTICULO_ARTCOD,
	FACTURA_FFCH,
	case when UNIDADDEMEDIDA_DESCRIP is null then '' else UNIDADDEMEDIDA_DESCRIP end as UNIDADDEMEDIDA_DESCRIP ,
	case when TEMPORADA_TDES is null then '' else TEMPORADA_TDES end as TEMPORADA_TDES ,
	case when FAMILIA_DESCRIP is null then '' else FAMILIA_DESCRIP end as FAMILIA_DESCRIP ,
	case when MATERIAL_MATDES is null then '' else MATERIAL_MATDES end as MATERIAL_MATDES ,
	case when LINEA_DESCRIP is null then '' else LINEA_DESCRIP end as LINEA_DESCRIP ,
	case when GRUPO_DESCRIP is null then '' else GRUPO_DESCRIP end as GRUPO_DESCRIP ,
	case when CATEGORIADEARTICULO_DESCRIP is null then '' else CATEGORIADEARTICULO_DESCRIP end as CATEGORIADEARTICULO_DESCRIP ,
	case when CLASIFICACIONARTICULO_DESCRIP is null then '' else CLASIFICACIONARTICULO_DESCRIP end as CLASIFICACIONARTICULO_DESCRIP ,
	case when TIPODEARTICULO_DESCRIP is null then '' else TIPODEARTICULO_DESCRIP end as TIPODEARTICULO_DESCRIP ,
	ARTICULO_ARTDES,
	ARTICULO_ARTDESADIC,
	case when COLOR_COLDES is null then '' else COLOR_COLDES end as COLOR_COLDES ,
	case when TALLE_DESCRIP is null then '' else TALLE_DESCRIP end as TALLE_DESCRIP ,
	CATEGORIADEARTICULO_COD,
	CLASIFICACIONARTICULO_CODIGO,
	COLOR_COLCOD,
	FAMILIA_COD,
	case when GRUPO_COD is null then '' else GRUPO_COD end as GRUPO_COD ,
	case when LINEA_COD is null then '' else LINEA_COD end as LINEA_COD ,
	case when MATERIAL_MATCOD is null then '' else MATERIAL_MATCOD end as MATERIAL_MATCOD ,
	case when PROVEEDOR_CLCOD is null then '' else PROVEEDOR_CLCOD end as PROVEEDOR_CLCOD ,
	case when TALLE_CODIGO is null then '' else TALLE_CODIGO end as TALLE_CODIGO ,
	case when TEMPORADA_TCOD is null then '' else TEMPORADA_TCOD end as TEMPORADA_TCOD ,
	case when TIPODEARTICULO_COD is null then '' else TIPODEARTICULO_COD end as TIPODEARTICULO_COD ,
	case when UNIDADDEMEDIDA_COD is null then '' else UNIDADDEMEDIDA_COD end as UNIDADDEMEDIDA_COD 
	
	from [listados].[PER_286_ITEMARTICULOSVENTAS] ( @BaseDeDatos, @FACTURA_FECHA_DESDE, @FACTURA_FECHA_HASTA, @ARTICULO_DESCRIPCIONADICIONAL_DESDE, @ARTICULO_DESCRIPCIONADICIONAL_HASTA, @ARTICULO_PROVEEDOR_DESDE, @ARTICULO_PROVEEDOR_HASTA, @PROVEEDOR_NOMBRE_DESDE, @PROVEEDOR_NOMBRE_HASTA, @ARTICULO_UNIDADDEMEDIDA_DESDE, @ARTICULO_UNIDADDEMEDIDA_HASTA, @ARTICULO_TEMPORADA_DESDE, @ARTICULO_TEMPORADA_HASTA, @ARTICULO_ANO_DESDE, @ARTICULO_ANO_HASTA, @ARTICULO_FAMILIA_DESDE, @ARTICULO_FAMILIA_HASTA, @ARTICULO_MATERIAL_DESDE, @ARTICULO_MATERIAL_HASTA, @ARTICULO_LINEA_DESDE, @ARTICULO_LINEA_HASTA, @ARTICULO_GRUPO_DESDE, @ARTICULO_GRUPO_HASTA, @ARTICULO_CATEGORIADEARTICULO_DESDE, @ARTICULO_CATEGORIADEARTICULO_HASTA, @ARTICULO_CLASIFICACION_DESDE, @ARTICULO_CLASIFICACION_HASTA, @ARTICULO_TIPODEARTICULO_DESDE, @ARTICULO_TIPODEARTICULO_HASTA,
		@ARTICULO_NOCOMERCIALIZABLE_DESDE, @ARTICULO_NOCOMERCIALIZABLE_HASTA, @ARTICULO_COMPORTAMIENTO, @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE, @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA, @TEMPORADA_TEMPORADA_DESCRIPCION_DESDE, @TEMPORADA_TEMPORADA_DESCRIPCION_HASTA, @FAMILIA_FAMILIA_DESCRIPCION_DESDE, @FAMILIA_FAMILIA_DESCRIPCION_HASTA, @MATERIAL_MATERIAL_DESCRIPCION_DESDE, @MATERIAL_MATERIAL_DESCRIPCION_HASTA, @LINEA_LINEA_DESCRIPCION_DESDE, @LINEA_LINEA_DESCRIPCION_HASTA, @GRUPO_GRUPO_DESCRIPCION_DESDE, @GRUPO_GRUPO_DESCRIPCION_HASTA, @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE, @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA,@CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE,
		@CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA, @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE, @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA, @ITEMARTICULOSVENTAS_ARTICULO_DESDE, @ITEMARTICULOSVENTAS_ARTICULO_HASTA, @ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE, @ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA, @ITEMARTICULOSVENTAS_COLOR_DESDE, @ITEMARTICULOSVENTAS_COLOR_HASTA, @ITEMARTICULOSVENTAS_COLORDETALLE_DESDE, @ITEMARTICULOSVENTAS_COLORDETALLE_HASTA, @ITEMARTICULOSVENTAS_TALLE_DESDE, @ITEMARTICULOSVENTAS_TALLE_HASTA, @ITEMARTICULOSVENTAS_TALLEDETALLE_DESDE, @ITEMARTICULOSVENTAS_TALLEDETALLE_HASTA ) 
	
	union all
	
select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_STOCKCOMBINACION.COART+c_STOCKCOMBINACION.COCOL+c_STOCKCOMBINACION.TALLE, 38, ' ' ) as varchar( 46 ) ) as ITEMARTICULOSVENTAS__Grupo,
	@basededatos as ITEMARTICULOSVENTAS__BD,
	case when C_COLOR.COLDES is null then '' else C_COLOR.COLDES end as ITEMARTICULOSVENTAS_FCOLTXT ,
	case when C_TALLE.DESCRIP is null then '' else C_TALLE.DESCRIP end as ITEMARTICULOSVENTAS_FTATXT ,
	C_ARTICULO.ARTFAB as ARTICULO_ARTFAB,
	case when C_PROVEEDOR.CLNOM is null then '' else C_PROVEEDOR.CLNOM end as PROVEEDOR_CLNOM ,
	C_ARTICULO.UNIMED as ARTICULO_UNIMED,
	C_ARTICULO.ATEMPORADA as ARTICULO_ATEMPORADA,
	C_ARTICULO.ANO as ARTICULO_ANO,
	C_ARTICULO.FAMILIA as ARTICULO_FAMILIA,
	C_ARTICULO.MAT as ARTICULO_MAT,
	C_ARTICULO.LINEA as ARTICULO_LINEA,
	C_ARTICULO.GRUPO as ARTICULO_GRUPO,
	C_ARTICULO.CATEARTI as ARTICULO_CATEARTI,
	C_ARTICULO.CLASIFART as ARTICULO_CLASIFART,
	C_ARTICULO.TIPOARTI as ARTICULO_TIPOARTI,
	cast( funciones.obtenerstockentransitodelacombinacion(c_STOCKCOMBINACION.COART,c_STOCKCOMBINACION.COCOL, c_STOCKCOMBINACION.TALLE) as numeric( 15, 2 ) ) as ARTICULO_EnTransito,
	case when c_articulo.nocom = '01/01/1900 00:00:00' then null else c_articulo.nocom end as ARTICULO_NOCOM,
	C_ARTICULO.ASTOCK as ARTICULO_ASTOCK,
	c_STOCKCOMBINACION.COART as ITEMARTICULOSVENTAS_FART,
	C_ARTICULO.ARTDES as ITEMARTICULOSVENTAS_FTXT,
	c_STOCKCOMBINACION.COCOL as ITEMARTICULOSVENTAS_CCOLOR,
	c_STOCKCOMBINACION.TALLE as ITEMARTICULOSVENTAS_TALLE,
	cast( coalesce( c_STOCKCOMBINACION.COCANT, 0 ) as numeric( 16, 3) ) as STOCKARTICULOS_ACANT,
	0 as ITEMARTICULOSVENTAS_FCANT, 
	C_ARTICULO.ARTCOD as ARTICULO_ARTCOD,
	'01/01/1900 00:00:00' as FACTURA_FFCH,
	--0 as FACTURA_FACTTIPO,
	case when C_UNIDADDEMEDIDA.DESCRIP is null then '' else C_UNIDADDEMEDIDA.DESCRIP end as UNIDADDEMEDIDA_DESCRIP ,
	case when C_TEMPORADA.TDES is null then '' else C_TEMPORADA.TDES end as TEMPORADA_TDES ,
	case when C_FAMILIA.DESCRIP is null then '' else C_FAMILIA.DESCRIP end as FAMILIA_DESCRIP ,
	case when C_MATERIAL.MATDES is null then '' else C_MATERIAL.MATDES end as MATERIAL_MATDES ,
	case when C_LINEA.DESCRIP is null then '' else C_LINEA.DESCRIP end as LINEA_DESCRIP ,
	case when C_GRUPO.DESCRIP is null then '' else C_GRUPO.DESCRIP end as GRUPO_DESCRIP ,
	case when C_CATEGORIADEARTICULO.DESCRIP is null then '' else C_CATEGORIADEARTICULO.DESCRIP end as CATEGORIADEARTICULO_DESCRIP ,
	case when C_CLASIFICACIONARTICULO.DESCRIP is null then '' else C_CLASIFICACIONARTICULO.DESCRIP end as CLASIFICACIONARTICULO_DESCRIP ,
	case when C_TIPODEARTICULO.DESCRIP is null then '' else C_TIPODEARTICULO.DESCRIP end as TIPODEARTICULO_DESCRIP ,
	C_ARTICULO.ARTDES as ARTICULO_ARTDES,
	C_ARTICULO.ARTDESADIC as ARTICULO_ARTDESADIC,
	case when C_COLOR.COLDES is null then '' else C_COLOR.COLDES end as COLOR_COLDES ,
	case when C_TALLE.DESCRIP is null then '' else C_TALLE.DESCRIP  end as TALLE_DESCRIP ,
	case when C_CATEGORIADEARTICULO.COD is null then '' else C_CATEGORIADEARTICULO.COD  end as CATEGORIADEARTICULO_COD ,
	case when C_CLASIFICACIONARTICULO.CODIGO is null then '' else C_CLASIFICACIONARTICULO.CODIGO end as CLASIFICACIONARTICULO_CODIGO ,
	case when C_COLOR.COLCOD is null then '' else C_COLOR.COLCOD end as COLOR_COLCOD ,
	case when C_FAMILIA.COD is null then '' else C_FAMILIA.COD end as FAMILIA_COD ,
	case when C_GRUPO.COD is null then '' else C_GRUPO.COD end as GRUPO_COD ,
	case when C_LINEA.COD  is null then '' else C_LINEA.COD  end as LINEA_COD ,
	case when C_MATERIAL.MATCOD is null then '' else C_MATERIAL.MATCOD end as MATERIAL_MATCOD ,
	case when C_PROVEEDOR.CLCOD  is null then '' else C_PROVEEDOR.CLCOD  end as PROVEEDOR_CLCOD ,
	case when C_TALLE.CODIGO is null then '' else C_TALLE.CODIGO end as TALLE_CODIGO ,
	case when C_TEMPORADA.TCOD is null then '' else C_TEMPORADA.TCOD end as TEMPORADA_TCOD ,
	case when C_TIPODEARTICULO.COD is null then '' else C_TIPODEARTICULO.COD end as TIPODEARTICULO_COD ,
	case when C_UNIDADDEMEDIDA.COD is null then '' else C_UNIDADDEMEDIDA.COD end as UNIDADDEMEDIDA_COD 

	from 
	ZooLogic.COMB as c_STOCKCOMBINACION 

	left join (
		select ITEMARTICULOSVENTAS_FART,
				ITEMARTICULOSVENTAS_CCOLOR,
				ITEMARTICULOSVENTAS_TALLE
			from [listados].[PER_286_ITEMARTICULOSVENTAS] ( @BaseDeDatos, @FACTURA_FECHA_DESDE, @FACTURA_FECHA_HASTA, @ARTICULO_DESCRIPCIONADICIONAL_DESDE, @ARTICULO_DESCRIPCIONADICIONAL_HASTA, @ARTICULO_PROVEEDOR_DESDE, @ARTICULO_PROVEEDOR_HASTA, @PROVEEDOR_NOMBRE_DESDE, @PROVEEDOR_NOMBRE_HASTA, @ARTICULO_UNIDADDEMEDIDA_DESDE, @ARTICULO_UNIDADDEMEDIDA_HASTA, @ARTICULO_TEMPORADA_DESDE, @ARTICULO_TEMPORADA_HASTA, @ARTICULO_ANO_DESDE, @ARTICULO_ANO_HASTA, @ARTICULO_FAMILIA_DESDE, @ARTICULO_FAMILIA_HASTA, @ARTICULO_MATERIAL_DESDE, @ARTICULO_MATERIAL_HASTA, @ARTICULO_LINEA_DESDE, @ARTICULO_LINEA_HASTA, @ARTICULO_GRUPO_DESDE, @ARTICULO_GRUPO_HASTA, @ARTICULO_CATEGORIADEARTICULO_DESDE, @ARTICULO_CATEGORIADEARTICULO_HASTA, @ARTICULO_CLASIFICACION_DESDE, @ARTICULO_CLASIFICACION_HASTA, @ARTICULO_TIPODEARTICULO_DESDE, @ARTICULO_TIPODEARTICULO_HASTA,
				@ARTICULO_NOCOMERCIALIZABLE_DESDE, @ARTICULO_NOCOMERCIALIZABLE_HASTA, @ARTICULO_COMPORTAMIENTO, @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE, @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA, @TEMPORADA_TEMPORADA_DESCRIPCION_DESDE, @TEMPORADA_TEMPORADA_DESCRIPCION_HASTA, @FAMILIA_FAMILIA_DESCRIPCION_DESDE, @FAMILIA_FAMILIA_DESCRIPCION_HASTA, @MATERIAL_MATERIAL_DESCRIPCION_DESDE, @MATERIAL_MATERIAL_DESCRIPCION_HASTA, @LINEA_LINEA_DESCRIPCION_DESDE, @LINEA_LINEA_DESCRIPCION_HASTA, @GRUPO_GRUPO_DESCRIPCION_DESDE, @GRUPO_GRUPO_DESCRIPCION_HASTA, @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE, @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA,@CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE,
				@CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA, @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE, @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA, @ITEMARTICULOSVENTAS_ARTICULO_DESDE, @ITEMARTICULOSVENTAS_ARTICULO_HASTA, @ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE, @ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA, @ITEMARTICULOSVENTAS_COLOR_DESDE, @ITEMARTICULOSVENTAS_COLOR_HASTA, @ITEMARTICULOSVENTAS_COLORDETALLE_DESDE, @ITEMARTICULOSVENTAS_COLORDETALLE_HASTA, @ITEMARTICULOSVENTAS_TALLE_DESDE, @ITEMARTICULOSVENTAS_TALLE_HASTA, @ITEMARTICULOSVENTAS_TALLEDETALLE_DESDE, @ITEMARTICULOSVENTAS_TALLEDETALLE_HASTA ) 
				) as C_VENTASYSTOCK on
									c_STOCKCOMBINACION.COART = C_VENTASYSTOCK.ITEMARTICULOSVENTAS_FART and
									c_STOCKCOMBINACION.COCOL = C_VENTASYSTOCK.ITEMARTICULOSVENTAS_CCOLOR and
									c_STOCKCOMBINACION.TALLE = C_VENTASYSTOCK.ITEMARTICULOSVENTAS_TALLE

	 left join ZooLogic.ART as C_ARTICULO on C_ARTICULO.ARTCOD = c_STOCKCOMBINACION.COART and 0 = Funciones.empty( C_ARTICULO.ARTCOD )
	 left join ZooLogic.CATEGART as C_CATEGORIADEARTICULO on C_CATEGORIADEARTICULO.COD = C_ARTICULO.CATEARTI and 0 = Funciones.empty( C_CATEGORIADEARTICULO.COD )
	 left join ZooLogic.CLASIFART as C_CLASIFICACIONARTICULO on C_CLASIFICACIONARTICULO.CODIGO = C_ARTICULO.CLASIFART and 0 = Funciones.empty( C_CLASIFICACIONARTICULO.CODIGO )
	 left join ZooLogic.COL as C_COLOR on C_COLOR.COLCOD = c_STOCKCOMBINACION.COCOL and 0 = Funciones.empty( C_COLOR.COLCOD )
	 left join ZooLogic.FAMILIA as C_FAMILIA on C_FAMILIA.COD = C_ARTICULO.FAMILIA and 0 = Funciones.empty( C_FAMILIA.COD )
	 left join ZooLogic.GRUPO as C_GRUPO on C_GRUPO.COD = C_ARTICULO.GRUPO and 0 = Funciones.empty( C_GRUPO.COD )
	 left join ZooLogic.LINEA as C_LINEA on C_LINEA.COD = C_ARTICULO.LINEA and 0 = Funciones.empty( C_LINEA.COD )
	 left join ZooLogic.MAT as C_MATERIAL on C_MATERIAL.MATCOD = C_ARTICULO.MAT and 0 = Funciones.empty( C_MATERIAL.MATCOD )
	 left join ZooLogic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = C_ARTICULO.ARTFAB and 0 = Funciones.empty( C_PROVEEDOR.CLCOD )
	 left join ZooLogic.TALLE as C_TALLE on C_TALLE.CODIGO = c_STOCKCOMBINACION.TALLE and 0 = Funciones.empty( C_TALLE.CODIGO )
	 left join ZooLogic.TEMPORADA as C_TEMPORADA on C_TEMPORADA.TCOD = C_ARTICULO.ATEMPORADA and 0 = Funciones.empty( C_TEMPORADA.TCOD )
	 left join ZooLogic.TIPOART as C_TIPODEARTICULO on C_TIPODEARTICULO.COD = C_ARTICULO.TIPOARTI and 0 = Funciones.empty( C_TIPODEARTICULO.COD )
	 left join ZooLogic.UNMED as C_UNIDADDEMEDIDA on C_UNIDADDEMEDIDA.COD = C_ARTICULO.UNIMED and 0 = Funciones.empty( C_UNIDADDEMEDIDA.COD )
 
 where ( C_STOCKCOMBINACION.COCANT <> 0 or C_STOCKCOMBINACION.ENTRANSITO <> 0 ) and C_VENTASYSTOCK.ITEMARTICULOSVENTAS_FART is null and 
	( ( @ARTICULO_PROVEEDOR_DESDE is null ) OR ( C_ARTICULO.ARTFAB >= @ARTICULO_PROVEEDOR_DESDE ) ) and 
	( ( @ARTICULO_PROVEEDOR_HASTA is null ) OR ( C_ARTICULO.ARTFAB <= @ARTICULO_PROVEEDOR_HASTA ) ) and 
	( ( @ARTICULO_DESCRIPCIONADICIONAL_DESDE is null ) OR ( C_ARTICULO.ARTDESADIC >= @ARTICULO_DESCRIPCIONADICIONAL_DESDE ) ) and 
	( ( @ARTICULO_DESCRIPCIONADICIONAL_HASTA is null ) OR ( C_ARTICULO.ARTDESADIC <= @ARTICULO_DESCRIPCIONADICIONAL_HASTA ) ) and 
	( ( @PROVEEDOR_NOMBRE_DESDE is null ) OR ( C_PROVEEDOR.CLNOM >= @PROVEEDOR_NOMBRE_DESDE ) ) and 
	( ( @PROVEEDOR_NOMBRE_HASTA is null ) OR ( C_PROVEEDOR.CLNOM <= @PROVEEDOR_NOMBRE_HASTA ) ) and 
	( ( @ARTICULO_UNIDADDEMEDIDA_DESDE is null ) OR ( C_ARTICULO.UniMed >= @ARTICULO_UNIDADDEMEDIDA_DESDE ) ) and 
	( ( @ARTICULO_UNIDADDEMEDIDA_HASTA is null ) OR ( C_ARTICULO.UniMed <= @ARTICULO_UNIDADDEMEDIDA_HASTA ) ) and 
	( ( @ARTICULO_TEMPORADA_DESDE is null ) OR ( C_ARTICULO.ATEMPORADA >= @ARTICULO_TEMPORADA_DESDE ) ) and 
	( ( @ARTICULO_TEMPORADA_HASTA is null ) OR ( C_ARTICULO.ATEMPORADA <= @ARTICULO_TEMPORADA_HASTA ) ) and 
	( ( @ARTICULO_ANO_DESDE is null ) OR ( C_ARTICULO.Ano >= @ARTICULO_ANO_DESDE ) ) and 
	( ( @ARTICULO_ANO_HASTA is null ) OR ( C_ARTICULO.Ano <= @ARTICULO_ANO_HASTA ) ) and 
	( ( @ARTICULO_FAMILIA_DESDE is null ) OR ( C_ARTICULO.Familia >= @ARTICULO_FAMILIA_DESDE ) ) and 
	( ( @ARTICULO_FAMILIA_HASTA is null ) OR ( C_ARTICULO.Familia <= @ARTICULO_FAMILIA_HASTA ) ) and 
	( ( @ARTICULO_MATERIAL_DESDE is null ) OR ( C_ARTICULO.Mat >= @ARTICULO_MATERIAL_DESDE ) ) and 
	( ( @ARTICULO_MATERIAL_HASTA is null ) OR ( C_ARTICULO.Mat <= @ARTICULO_MATERIAL_HASTA ) ) and 
	( ( @ARTICULO_LINEA_DESDE is null ) OR ( C_ARTICULO.Linea >= @ARTICULO_LINEA_DESDE ) ) and 
	( ( @ARTICULO_LINEA_HASTA is null ) OR ( C_ARTICULO.Linea <= @ARTICULO_LINEA_HASTA ) ) and 
	( ( @ARTICULO_GRUPO_DESDE is null ) OR ( C_ARTICULO.Grupo >= @ARTICULO_GRUPO_DESDE ) ) and 
	( ( @ARTICULO_GRUPO_HASTA is null ) OR ( C_ARTICULO.Grupo <= @ARTICULO_GRUPO_HASTA ) ) and 
	( ( @ARTICULO_CATEGORIADEARTICULO_DESDE is null ) OR ( C_ARTICULO.CateArti >= @ARTICULO_CATEGORIADEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_CATEGORIADEARTICULO_HASTA is null ) OR ( C_ARTICULO.CateArti <= @ARTICULO_CATEGORIADEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_CLASIFICACION_DESDE is null ) OR ( C_ARTICULO.ClasifArt >= @ARTICULO_CLASIFICACION_DESDE ) ) and 
	( ( @ARTICULO_CLASIFICACION_HASTA is null ) OR ( C_ARTICULO.ClasifArt <= @ARTICULO_CLASIFICACION_HASTA ) ) and 
	( ( @ARTICULO_TIPODEARTICULO_DESDE is null ) OR ( C_ARTICULO.TipoArti >= @ARTICULO_TIPODEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_TIPODEARTICULO_HASTA is null ) OR ( C_ARTICULO.TipoArti <= @ARTICULO_TIPODEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_NOCOMERCIALIZABLE_DESDE is null ) OR ( C_ARTICULO.NOCOM >= @ARTICULO_NOCOMERCIALIZABLE_DESDE ) ) and 
	( ( @ARTICULO_NOCOMERCIALIZABLE_HASTA is null ) OR ( C_ARTICULO.NOCOM <= @ARTICULO_NOCOMERCIALIZABLE_HASTA ) ) and 
	( ( @ARTICULO_COMPORTAMIENTO is null ) OR ( C_ARTICULO.ASTOCK = @ARTICULO_COMPORTAMIENTO ) ) and 
	( ( @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE is null ) OR ( C_UNIDADDEMEDIDA.Descrip >= @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE ) ) and 
	( ( @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA is null ) OR ( C_UNIDADDEMEDIDA.Descrip <= @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA ) ) and 
	( ( @TEMPORADA_TEMPORADA_DESCRIPCION_DESDE is null ) OR ( C_TEMPORADA.TDES >= @TEMPORADA_TEMPORADA_DESCRIPCION_DESDE ) ) and 
	( ( @TEMPORADA_TEMPORADA_DESCRIPCION_HASTA is null ) OR ( C_TEMPORADA.TDES <= @TEMPORADA_TEMPORADA_DESCRIPCION_HASTA ) ) and 
	( ( @FAMILIA_FAMILIA_DESCRIPCION_DESDE is null ) OR ( C_FAMILIA.Descrip >= @FAMILIA_FAMILIA_DESCRIPCION_DESDE ) ) and 
	( ( @FAMILIA_FAMILIA_DESCRIPCION_HASTA is null ) OR ( C_FAMILIA.Descrip <= @FAMILIA_FAMILIA_DESCRIPCION_HASTA ) ) and 
	( ( @MATERIAL_MATERIAL_DESCRIPCION_DESDE is null ) OR ( C_MATERIAL.MATDES >= @MATERIAL_MATERIAL_DESCRIPCION_DESDE ) ) and 
	( ( @MATERIAL_MATERIAL_DESCRIPCION_HASTA is null ) OR ( C_MATERIAL.MATDES <= @MATERIAL_MATERIAL_DESCRIPCION_HASTA ) ) and 
	( ( @LINEA_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEA.Descrip >= @LINEA_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEA_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEA.Descrip <= @LINEA_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @GRUPO_GRUPO_DESCRIPCION_DESDE is null ) OR ( C_GRUPO.Descrip >= @GRUPO_GRUPO_DESCRIPCION_DESDE ) ) and 
	( ( @GRUPO_GRUPO_DESCRIPCION_HASTA is null ) OR ( C_GRUPO.Descrip <= @GRUPO_GRUPO_DESCRIPCION_HASTA ) ) and 
	( ( @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_CATEGORIADEARTICULO.Descrip >= @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_CATEGORIADEARTICULO.Descrip <= @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP >= @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE ) ) and 
	( ( @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP <= @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA ) ) and 
	( ( @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_TIPODEARTICULO.Descrip >= @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_TIPODEARTICULO.Descrip <= @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULO_DESDE is null ) OR ( C_ARTICULO.ARTCOD >= @ITEMARTICULOSVENTAS_ARTICULO_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULO_HASTA is null ) OR ( C_ARTICULO.ARTCOD <= @ITEMARTICULOSVENTAS_ARTICULO_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE is null ) OR ( C_ARTICULO.ARTDES >= @ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA is null ) OR ( C_ARTICULO.ARTDES <= @ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLOR_DESDE is null ) OR ( C_COLOR.COLCOD >= @ITEMARTICULOSVENTAS_COLOR_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLOR_HASTA is null ) OR ( C_COLOR.COLCOD <= @ITEMARTICULOSVENTAS_COLOR_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLORDETALLE_DESDE is null ) OR ( C_COLOR.COLDES >= @ITEMARTICULOSVENTAS_COLORDETALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLORDETALLE_HASTA is null ) OR ( C_COLOR.COLDES <= @ITEMARTICULOSVENTAS_COLORDETALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLE_DESDE is null ) OR ( C_TALLE.CODIGO >= @ITEMARTICULOSVENTAS_TALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLE_HASTA is null ) OR ( C_TALLE.CODIGO <= @ITEMARTICULOSVENTAS_TALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLEDETALLE_DESDE is null ) OR ( C_TALLE.DESCRIP >= @ITEMARTICULOSVENTAS_TALLEDETALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLEDETALLE_HASTA is null ) OR ( C_TALLE.DESCRIP <= @ITEMARTICULOSVENTAS_TALLEDETALLE_HASTA ) )
 )
