IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Errores_AFIP3685_VentasCompElectronicos]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Errores_AFIP3685_VentasCompElectronicos];
GO;


CREATE FUNCTION [Interfaces].[Errores_AFIP3685_VentasCompElectronicos]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10) 
)
RETURNS TABLE
AS
RETURN
(
	select  Comprobante.Descfw as Descrip
		from [ZooLogic].[ComprobanteV] as Comprobante
		left join  [ZooLogic].[CAE] as CAE
		on Comprobante.Codigo = CAE.Codigo			
	where Comprobante.FactTipo in ( 27, 28, 29, 33, 35, 36 )
		and Comprobante.Anulado = 0
		and Comprobante.FFch >= @FechaDesde and Comprobante.FFch <= @FechaHasta
		and ( Funciones.empty( CAE.Numero ) = 1 or CAE.Numero is null )	
)