IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIP_RetencionesSufridas_IVA]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIP_RetencionesSufridas_IVA];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIP_RetencionesSufridas_IVA]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10)
)
RETURNS TABLE
AS
RETURN
(	
	select cast( Funciones.padl( funciones.Alltrim( DatosExpo.Regimen ), 3, '0' ) as char(3) ) as Regimen,
			cast( Funciones.padl( DatosExpo.CuitAgente, 13, ' ' ) as varchar(13) ) as CuitAgente,
			cast( DatosExpo.Diafecha + '/' + DatosExpo.MesFecha + '/' + DatosExpo.AnioFecha as char(10) ) as Fecha,
			cast( Funciones.padl( cast( DatosExpo.NumeroCertificado as varchar(16) ), 16, '0' ) as char(16) ) as NumCert,
			cast( Funciones.ObtenerMontoConDecimales( DatosExpo.Importe, 2, 16 ) as char(16) ) as Importe			
	 from [Interfaces].[Interfaz_AFIP_GenericoRetencionesYPercepcionesSufridas](@FechaDesde,@FechaHasta,'IVA', 0, 1 ) as DatosExpo
	
)