IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[ObtenerEjercicioDeAperturaAsociadoAlEjercicioDeCierre]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[ObtenerEjercicioDeAperturaAsociadoAlEjercicioDeCierre];
GO;

CREATE FUNCTION [Contabilidad].[ObtenerEjercicioDeAperturaAsociadoAlEjercicioDeCierre] 
( 
	@NumeroEj numeric(8,0)
)
RETURNS numeric(8,0)
AS
BEGIN

	DECLARE @Respuesta numeric(8,0)

	SELECT @Respuesta = APEREJER.EJERCICIO
		FROM [ZooLogic].[CIERREEJ]
		LEFT JOIN [ZooLogic].[ASIENTO] ON ASIENTO.CIERREEJ = CIERREEJ.EJERCICIO 
		LEFT JOIN [ZooLogic].[APEREJER] ON APEREJER.ASIENTO = ASIENTO.ACOD
	WHERE APEREJER.EJERCICIO IS NOT NULL and CIERREEJ.EJERCICIO = @NumeroEj

	RETURN ISNULL( @Respuesta, 0 )

END
