IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_AFIPRG4597_VentasAnulados]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_AFIPRG4597_VentasAnulados];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_AFIPRG4597_VentasAnulados]
( 
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@PtVtaDesde int,
	@PtVtaHasta int,
	@CompFiscal bit,
	@CompManual bit,
	@CompElectr bit  
)
RETURNS TABLE
AS
RETURN
(
	select cast( Funciones.padl( cast( year( DatosExpo.FechaComprobante ) as varchar(4) ), 4, '0' ) as char(4) ) as AnioFecha,
		cast( Funciones.padl( cast( month( DatosExpo.FechaComprobante ) as varchar(2) ), 2, '0' ) as char(2) ) as MesFecha,
		cast( Funciones.padl( cast( day( DatosExpo.FechaComprobante ) as varchar(2) ), 2, '0' ) as char(2) ) as DiaFecha, 
		cast( Funciones.padl( DatosExpo.TipoComprobante, 3, '0' ) as char(3) ) as TipoComp,
		cast( Funciones.padl( cast( DatosExpo.PuntoVenta as varchar(5) ), 5, '0' ) as char(5) ) as PtoVenta,
		cast( Funciones.padl( cast( DatosExpo.NumeroComprobante as varchar(20) ), 20, '0' ) as char(20) ) as NumCompD,
		cast( Funciones.padl( cast( year( DatosExpo.FechaAnulacion ) as varchar(4) ), 4, '0' ) as char(4) ) as AnioFechaA,
		cast( Funciones.padl( cast( month( DatosExpo.FechaAnulacion ) as varchar(2) ), 2, '0' ) as char(2) ) as MesFechaA,
		cast( Funciones.padl( cast( day( DatosExpo.FechaAnulacion ) as varchar(2) ), 2, '0' ) as char(2) ) as DiaFechaA 
	from ( 
		select Comprobante.FPtoVen as PuntoVenta,
			Comprobante.FNumComp as NumeroComprobante,
			Comprobante.FFCH as FechaComprobante,
			Comprobante.FmodiFW as FechaAnulacion,
			case when ConvVTipo.ValDest is null then ConvCTipo.ValorDef else ConvVTipo.ValDest end as TipoComprobante
		from [ZooLogic].[ComprobanteV] as Comprobante
			left join [Organizacion].[Conver] as ConvCTipo on ConvCTipo.Codigo = 'TIPOCOMPROBANTEAFIP'
			left join [Organizacion].[ConverVal] as ConvVTipo on ConvCTipo.Codigo = ConvVTipo.Conversion and ConvVTipo.ValOrig = cast( Comprobante.FactTipo as varchar(2) ) + Comprobante.FLetra
		where case 
				when @CompFiscal = 1 and Comprobante.FactTipo in ( 2, 5, 6 ) then 1 
				when @CompManual = 1 and Comprobante.FactTipo in ( 1, 3, 4, 47, 48, 49 ) then 1
				when @CompElectr = 1 and Comprobante.FactTipo in ( 27, 28, 29, 33, 35, 36, 54, 55, 56 ) then 1
				else 0
			  end = 1
			  and Comprobante.Anulado = 1
			  and ( ( @FechaDesde is null ) or ( Comprobante.FFch >= @FechaDesde ) ) 
			  and ( ( @FechaHasta is null ) or ( Comprobante.FFch <= @FechaHasta ) )
			  and ( ( @PtVtaDesde is null ) or ( Comprobante.FPTOVEN >= @PtVtaDesde ) ) 
			  and ( ( @PtVtaHasta is null ) or ( Comprobante.FPTOVEN <= @PtVtaHasta ) )
		) as DatosExpo
)