IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Listados].[PER_286_ITEMARTICULOSVENTAS]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Listados].[PER_286_ITEMARTICULOSVENTAS];
GO;

CREATE FUNCTION [listados].[PER_286_ITEMARTICULOSVENTAS]
( @BaseDeDatos varchar(8),
	@FACTURA_FECHA_DESDE datetime,
	@FACTURA_FECHA_HASTA datetime,
	@ARTICULO_DESCRIPCIONADICIONAL_DESDE varchar(254),
	@ARTICULO_DESCRIPCIONADICIONAL_HASTA varchar(254),
	@ARTICULO_PROVEEDOR_DESDE varchar(10),
	@ARTICULO_PROVEEDOR_HASTA varchar(10),
	@PROVEEDOR_NOMBRE_DESDE varchar(60),
	@PROVEEDOR_NOMBRE_HASTA varchar(60),
	@ARTICULO_UNIDADDEMEDIDA_DESDE varchar(3),
	@ARTICULO_UNIDADDEMEDIDA_HASTA varchar(3),
	@ARTICULO_TEMPORADA_DESDE varchar(5),
	@ARTICULO_TEMPORADA_HASTA varchar(5),
	@ARTICULO_ANO_DESDE int,
	@ARTICULO_ANO_HASTA int,
	@ARTICULO_FAMILIA_DESDE varchar(10),
	@ARTICULO_FAMILIA_HASTA varchar(10),
	@ARTICULO_MATERIAL_DESDE varchar(10),
	@ARTICULO_MATERIAL_HASTA varchar(10),
	@ARTICULO_LINEA_DESDE varchar(10),
	@ARTICULO_LINEA_HASTA varchar(10),
	@ARTICULO_GRUPO_DESDE varchar(10),
	@ARTICULO_GRUPO_HASTA varchar(10),
	@ARTICULO_CATEGORIADEARTICULO_DESDE varchar(10),
	@ARTICULO_CATEGORIADEARTICULO_HASTA varchar(10),
	@ARTICULO_CLASIFICACION_DESDE varchar(10),
	@ARTICULO_CLASIFICACION_HASTA varchar(10),
	@ARTICULO_TIPODEARTICULO_DESDE varchar(10),
	@ARTICULO_TIPODEARTICULO_HASTA varchar(10),
	@ARTICULO_NOCOMERCIALIZABLE_DESDE datetime,
	@ARTICULO_NOCOMERCIALIZABLE_HASTA datetime,
	@ARTICULO_COMPORTAMIENTO int,
	@UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE varchar(50),
	@UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA varchar(50),
	@TEMPORADA_TEMPORADA_DESCRIPCION_DESDE varchar(50),
	@TEMPORADA_TEMPORADA_DESCRIPCION_HASTA varchar(50),
	@FAMILIA_FAMILIA_DESCRIPCION_DESDE varchar(50),
	@FAMILIA_FAMILIA_DESCRIPCION_HASTA varchar(50),
	@MATERIAL_MATERIAL_DESCRIPCION_DESDE varchar(40),
	@MATERIAL_MATERIAL_DESCRIPCION_HASTA varchar(40),
	@LINEA_LINEA_DESCRIPCION_DESDE varchar(50),
	@LINEA_LINEA_DESCRIPCION_HASTA varchar(50),
	@GRUPO_GRUPO_DESCRIPCION_DESDE varchar(50),
	@GRUPO_GRUPO_DESCRIPCION_HASTA varchar(50),
	@CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE varchar(50),
	@CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA varchar(50),
	@CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE varchar(50),
	@CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA varchar(50),
	@TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE varchar(50),
	@TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA varchar(50),
	@ITEMARTICULOSVENTAS_ARTICULO_DESDE varchar(15),
	@ITEMARTICULOSVENTAS_ARTICULO_HASTA varchar(15),
	@ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE varchar(100),
	@ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA varchar(100),
	@ITEMARTICULOSVENTAS_COLOR_DESDE varchar(6),
	@ITEMARTICULOSVENTAS_COLOR_HASTA varchar(6),
	@ITEMARTICULOSVENTAS_COLORDETALLE_DESDE varchar(50),
	@ITEMARTICULOSVENTAS_COLORDETALLE_HASTA varchar(50),
	@ITEMARTICULOSVENTAS_TALLE_DESDE varchar(5),
	@ITEMARTICULOSVENTAS_TALLE_HASTA varchar(5),
	@ITEMARTICULOSVENTAS_TALLEDETALLE_DESDE varchar(50),
	@ITEMARTICULOSVENTAS_TALLEDETALLE_HASTA varchar(50) )
RETURNS TABLE
AS
RETURN
(
select cast( funciones.padr( @basededatos, 8, ' ' ) + funciones.padr( c_ITEMARTICULOSVENTAS.FART+c_ITEMARTICULOSVENTAS.CCOLOR+c_ITEMARTICULOSVENTAS.TALLE, 38, ' ' ) as varchar( 46 ) ) as ITEMARTICULOSVENTAS__Grupo,
	@basededatos as ITEMARTICULOSVENTAS__BD,
	c_ITEMARTICULOSVENTAS.FCOLTXT as ITEMARTICULOSVENTAS_FCOLTXT,
	c_ITEMARTICULOSVENTAS.FTATXT as ITEMARTICULOSVENTAS_FTATXT,
	C_ARTICULO.ARTFAB as ARTICULO_ARTFAB,
	C_PROVEEDOR.CLNOM as PROVEEDOR_CLNOM,
	C_ARTICULO.UNIMED as ARTICULO_UNIMED,
	C_ARTICULO.ATEMPORADA as ARTICULO_ATEMPORADA,
	C_ARTICULO.ANO as ARTICULO_ANO,
	C_ARTICULO.FAMILIA as ARTICULO_FAMILIA,
	C_ARTICULO.MAT as ARTICULO_MAT,
	C_ARTICULO.LINEA as ARTICULO_LINEA,
	C_ARTICULO.GRUPO as ARTICULO_GRUPO,
	C_ARTICULO.CATEARTI as ARTICULO_CATEARTI,
	C_ARTICULO.CLASIFART as ARTICULO_CLASIFART,
	C_ARTICULO.TIPOARTI as ARTICULO_TIPOARTI,
	case when c_articulo.nocom = '01/01/1900 00:00:00' then null else c_articulo.nocom end as ARTICULO_NOCOM,
	C_ARTICULO.ASTOCK as ARTICULO_ASTOCK,
	c_ITEMARTICULOSVENTAS.FART as ITEMARTICULOSVENTAS_FART,
	c_ITEMARTICULOSVENTAS.FTXT as ITEMARTICULOSVENTAS_FTXT,
	c_ITEMARTICULOSVENTAS.CCOLOR as ITEMARTICULOSVENTAS_CCOLOR,
	c_ITEMARTICULOSVENTAS.TALLE as ITEMARTICULOSVENTAS_TALLE,
	cast( case when row_number() over( partition by c_ITEMARTICULOSVENTAS.FART, c_ITEMARTICULOSVENTAS.CCOLOR, c_ITEMARTICULOSVENTAS.TALLE order by c_ITEMARTICULOSVENTAS.FART, c_ITEMARTICULOSVENTAS.CCOLOR, c_ITEMARTICULOSVENTAS.TALLE) = 1 then  c_STOCKCOMBINACION.COCANT else null end	as numeric( 16, 3 ) ) as  STOCKARTICULOS_ACANT,
	cast( case when row_number() over( partition by c_ITEMARTICULOSVENTAS.FART, c_ITEMARTICULOSVENTAS.CCOLOR, c_ITEMARTICULOSVENTAS.TALLE order by c_ITEMARTICULOSVENTAS.FART, c_ITEMARTICULOSVENTAS.CCOLOR, c_ITEMARTICULOSVENTAS.TALLE) = 1 then  c_STOCKCOMBINACION.ENTRANSITO else null end	as numeric( 16, 3 ) ) as  STOCKARTICULOS_ENTRANSITO,
	sum(c_FACTURA.signomov * c_ITEMARTICULOSVENTAS.FCANT) as ITEMARTICULOSVENTAS_FCANT, 
	C_ARTICULO.ARTCOD as ARTICULO_ARTCOD,
	max (case when c_factura.ffch = '01/01/1900 00:00:00' then null else c_factura.ffch end ) as FACTURA_FFCH,
	C_UNIDADDEMEDIDA.DESCRIP as UNIDADDEMEDIDA_DESCRIP,
	C_TEMPORADA.TDES as TEMPORADA_TDES,
	C_FAMILIA.DESCRIP as FAMILIA_DESCRIP,
	C_MATERIAL.MATDES as MATERIAL_MATDES,
	C_LINEA.DESCRIP as LINEA_DESCRIP,
	C_GRUPO.DESCRIP as GRUPO_DESCRIP,
	C_CATEGORIADEARTICULO.DESCRIP as CATEGORIADEARTICULO_DESCRIP,
	C_CLASIFICACIONARTICULO.DESCRIP as CLASIFICACIONARTICULO_DESCRIP,
	C_TIPODEARTICULO.DESCRIP as TIPODEARTICULO_DESCRIP,
	C_ARTICULO.ARTDES as ARTICULO_ARTDES,
	C_ARTICULO.ARTDESADIC as ARTICULO_ARTDESADIC,
	C_COLOR.COLDES as COLOR_COLDES,
	C_TALLE.DESCRIP as TALLE_DESCRIP,
	C_CATEGORIADEARTICULO.COD as CATEGORIADEARTICULO_COD,
	C_CLASIFICACIONARTICULO.CODIGO as CLASIFICACIONARTICULO_CODIGO,
	C_COLOR.COLCOD as COLOR_COLCOD,
	C_FAMILIA.COD as FAMILIA_COD,
	C_GRUPO.COD as GRUPO_COD,
	C_LINEA.COD as LINEA_COD,
	C_MATERIAL.MATCOD as MATERIAL_MATCOD,
	C_PROVEEDOR.CLCOD as PROVEEDOR_CLCOD,
	C_TALLE.CODIGO as TALLE_CODIGO,
	C_TEMPORADA.TCOD as TEMPORADA_TCOD,
	C_TIPODEARTICULO.COD as TIPODEARTICULO_COD,
	C_UNIDADDEMEDIDA.COD as UNIDADDEMEDIDA_COD

  from ZooLogic.COMPROBANTEV as C_FACTURA
 left join ZooLogic.COMPROBANTEVDET as c_ITEMARTICULOSVENTAS on C_FACTURA.CODIGO = c_ITEMARTICULOSVENTAS.CODIGO and 0 = Funciones.empty( c_ITEMARTICULOSVENTAS.CODIGO )
 left join ZooLogic.ART as C_ARTICULO on C_ARTICULO.ARTCOD = c_ITEMARTICULOSVENTAS.FART and 0 = Funciones.empty( c_ITEMARTICULOSVENTAS.FART )
 left join ZooLogic.CATEGART as C_CATEGORIADEARTICULO on C_CATEGORIADEARTICULO.COD = C_ARTICULO.CATEARTI and 0 = Funciones.empty( C_ARTICULO.CATEARTI )
 left join ZooLogic.CLASIFART as C_CLASIFICACIONARTICULO on C_CLASIFICACIONARTICULO.CODIGO = C_ARTICULO.CLASIFART and 0 = Funciones.empty( C_ARTICULO.CLASIFART )
 left join ZooLogic.COL as C_COLOR on C_COLOR.COLCOD = c_ITEMARTICULOSVENTAS.CCOLOR and 0 = Funciones.empty( c_ITEMARTICULOSVENTAS.CCOLOR )
 left join ZooLogic.FAMILIA as C_FAMILIA on C_FAMILIA.COD = C_ARTICULO.FAMILIA and 0 = Funciones.empty( C_ARTICULO.FAMILIA )
 left join ZooLogic.GRUPO as C_GRUPO on C_GRUPO.COD = C_ARTICULO.GRUPO and 0 = Funciones.empty( C_ARTICULO.GRUPO )
 left join ZooLogic.LINEA as C_LINEA on C_LINEA.COD = C_ARTICULO.LINEA and 0 = Funciones.empty( C_ARTICULO.LINEA )
 left join ZooLogic.MAT as C_MATERIAL on C_MATERIAL.MATCOD = C_ARTICULO.MAT and 0 = Funciones.empty( C_ARTICULO.MAT )
 left join ZooLogic.PROV as C_PROVEEDOR on C_PROVEEDOR.CLCOD = C_ARTICULO.ARTFAB and 0 = Funciones.empty( C_ARTICULO.ARTFAB )
 left join ZooLogic.TALLE as C_TALLE on C_TALLE.CODIGO = c_ITEMARTICULOSVENTAS.TALLE and 0 = Funciones.empty( c_ITEMARTICULOSVENTAS.TALLE )
 left join ZooLogic.TEMPORADA as C_TEMPORADA on C_TEMPORADA.TCOD = C_ARTICULO.ATEMPORADA and 0 = Funciones.empty( C_ARTICULO.ATEMPORADA )
 left join ZooLogic.TIPOART as C_TIPODEARTICULO on C_TIPODEARTICULO.COD = C_ARTICULO.TIPOARTI and 0 = Funciones.empty( C_ARTICULO.TIPOARTI )
 left join ZooLogic.UNMED as C_UNIDADDEMEDIDA on C_UNIDADDEMEDIDA.COD = C_ARTICULO.UNIMED and 0 = Funciones.empty( C_ARTICULO.UNIMED )
 LEFT JOIN Zoologic.comb as c_STOCKCOMBINACION ON c_ITEMARTICULOSVENTAS.FART = c_STOCKCOMBINACION.COART and 
			   c_ITEMARTICULOSVENTAS.ccolor = c_STOCKCOMBINACION.COCOL and 
			   c_ITEMARTICULOSVENTAS.talle = c_STOCKCOMBINACION.talle 
 where ( not 1 = funciones.empty( c_itemarticulosventas.codigo ) ) and 
	( ( @FACTURA_FECHA_DESDE is null ) OR ( C_FACTURA.FFCH >= @FACTURA_FECHA_DESDE ) ) and 
	( ( @FACTURA_FECHA_HASTA is null ) OR ( C_FACTURA.FFCH <= @FACTURA_FECHA_HASTA ) ) and 
	( ( @ARTICULO_DESCRIPCIONADICIONAL_DESDE is null ) OR ( C_ARTICULO.ARTDESADIC >= @ARTICULO_DESCRIPCIONADICIONAL_DESDE ) ) and 
	( ( @ARTICULO_DESCRIPCIONADICIONAL_HASTA is null ) OR ( C_ARTICULO.ARTDESADIC <= @ARTICULO_DESCRIPCIONADICIONAL_HASTA ) ) and 
	( ( @ARTICULO_PROVEEDOR_DESDE is null ) OR ( C_ARTICULO.ARTFAB >= @ARTICULO_PROVEEDOR_DESDE ) ) and 
	( ( @ARTICULO_PROVEEDOR_HASTA is null ) OR ( C_ARTICULO.ARTFAB <= @ARTICULO_PROVEEDOR_HASTA ) ) and 
	( ( @PROVEEDOR_NOMBRE_DESDE is null ) OR ( C_PROVEEDOR.CLNOM >= @PROVEEDOR_NOMBRE_DESDE ) ) and 
	( ( @PROVEEDOR_NOMBRE_HASTA is null ) OR ( C_PROVEEDOR.CLNOM <= @PROVEEDOR_NOMBRE_HASTA ) ) and 
	( ( @ARTICULO_UNIDADDEMEDIDA_DESDE is null ) OR ( C_ARTICULO.UniMed >= @ARTICULO_UNIDADDEMEDIDA_DESDE ) ) and 
	( ( @ARTICULO_UNIDADDEMEDIDA_HASTA is null ) OR ( C_ARTICULO.UniMed <= @ARTICULO_UNIDADDEMEDIDA_HASTA ) ) and 
	( ( @ARTICULO_TEMPORADA_DESDE is null ) OR ( C_ARTICULO.ATEMPORADA >= @ARTICULO_TEMPORADA_DESDE ) ) and 
	( ( @ARTICULO_TEMPORADA_HASTA is null ) OR ( C_ARTICULO.ATEMPORADA <= @ARTICULO_TEMPORADA_HASTA ) ) and 
	( ( @ARTICULO_ANO_DESDE is null ) OR ( C_ARTICULO.Ano >= @ARTICULO_ANO_DESDE ) ) and 
	( ( @ARTICULO_ANO_HASTA is null ) OR ( C_ARTICULO.Ano <= @ARTICULO_ANO_HASTA ) ) and 
	( ( @ARTICULO_FAMILIA_DESDE is null ) OR ( C_ARTICULO.Familia >= @ARTICULO_FAMILIA_DESDE ) ) and 
	( ( @ARTICULO_FAMILIA_HASTA is null ) OR ( C_ARTICULO.Familia <= @ARTICULO_FAMILIA_HASTA ) ) and 
	( ( @ARTICULO_MATERIAL_DESDE is null ) OR ( C_ARTICULO.Mat >= @ARTICULO_MATERIAL_DESDE ) ) and 
	( ( @ARTICULO_MATERIAL_HASTA is null ) OR ( C_ARTICULO.Mat <= @ARTICULO_MATERIAL_HASTA ) ) and 
	( ( @ARTICULO_LINEA_DESDE is null ) OR ( C_ARTICULO.Linea >= @ARTICULO_LINEA_DESDE ) ) and 
	( ( @ARTICULO_LINEA_HASTA is null ) OR ( C_ARTICULO.Linea <= @ARTICULO_LINEA_HASTA ) ) and 
	( ( @ARTICULO_GRUPO_DESDE is null ) OR ( C_ARTICULO.Grupo >= @ARTICULO_GRUPO_DESDE ) ) and 
	( ( @ARTICULO_GRUPO_HASTA is null ) OR ( C_ARTICULO.Grupo <= @ARTICULO_GRUPO_HASTA ) ) and 
	( ( @ARTICULO_CATEGORIADEARTICULO_DESDE is null ) OR ( C_ARTICULO.CateArti >= @ARTICULO_CATEGORIADEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_CATEGORIADEARTICULO_HASTA is null ) OR ( C_ARTICULO.CateArti <= @ARTICULO_CATEGORIADEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_CLASIFICACION_DESDE is null ) OR ( C_ARTICULO.ClasifArt >= @ARTICULO_CLASIFICACION_DESDE ) ) and 
	( ( @ARTICULO_CLASIFICACION_HASTA is null ) OR ( C_ARTICULO.ClasifArt <= @ARTICULO_CLASIFICACION_HASTA ) ) and 
	( ( @ARTICULO_TIPODEARTICULO_DESDE is null ) OR ( C_ARTICULO.TipoArti >= @ARTICULO_TIPODEARTICULO_DESDE ) ) and 
	( ( @ARTICULO_TIPODEARTICULO_HASTA is null ) OR ( C_ARTICULO.TipoArti <= @ARTICULO_TIPODEARTICULO_HASTA ) ) and 
	( ( @ARTICULO_NOCOMERCIALIZABLE_DESDE is null ) OR ( C_ARTICULO.NOCOM >= @ARTICULO_NOCOMERCIALIZABLE_DESDE ) ) and 
	( ( @ARTICULO_NOCOMERCIALIZABLE_HASTA is null ) OR ( C_ARTICULO.NOCOM <= @ARTICULO_NOCOMERCIALIZABLE_HASTA ) ) and 
	( ( @ARTICULO_COMPORTAMIENTO is null ) OR ( C_ARTICULO.ASTOCK = @ARTICULO_COMPORTAMIENTO ) ) and 
	( C_FACTURA.FACTTIPO in ( 1, 3, 4, 2, 5, 6, 27, 28, 29, 33, 35, 36 ) ) and 
	( ( @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE is null ) OR ( C_UNIDADDEMEDIDA.Descrip >= @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_DESDE ) ) and 
	( ( @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA is null ) OR ( C_UNIDADDEMEDIDA.Descrip <= @UNIDADDEMEDIDA_UNIDADDEMEDIDA_DESCRIPCION_HASTA ) ) and 
	( ( @TEMPORADA_TEMPORADA_DESCRIPCION_DESDE is null ) OR ( C_TEMPORADA.TDES >= @TEMPORADA_TEMPORADA_DESCRIPCION_DESDE ) ) and 
	( ( @TEMPORADA_TEMPORADA_DESCRIPCION_HASTA is null ) OR ( C_TEMPORADA.TDES <= @TEMPORADA_TEMPORADA_DESCRIPCION_HASTA ) ) and 
	( ( @FAMILIA_FAMILIA_DESCRIPCION_DESDE is null ) OR ( C_FAMILIA.Descrip >= @FAMILIA_FAMILIA_DESCRIPCION_DESDE ) ) and 
	( ( @FAMILIA_FAMILIA_DESCRIPCION_HASTA is null ) OR ( C_FAMILIA.Descrip <= @FAMILIA_FAMILIA_DESCRIPCION_HASTA ) ) and 
	( ( @MATERIAL_MATERIAL_DESCRIPCION_DESDE is null ) OR ( C_MATERIAL.MATDES >= @MATERIAL_MATERIAL_DESCRIPCION_DESDE ) ) and 
	( ( @MATERIAL_MATERIAL_DESCRIPCION_HASTA is null ) OR ( C_MATERIAL.MATDES <= @MATERIAL_MATERIAL_DESCRIPCION_HASTA ) ) and 
	( ( @LINEA_LINEA_DESCRIPCION_DESDE is null ) OR ( C_LINEA.Descrip >= @LINEA_LINEA_DESCRIPCION_DESDE ) ) and 
	( ( @LINEA_LINEA_DESCRIPCION_HASTA is null ) OR ( C_LINEA.Descrip <= @LINEA_LINEA_DESCRIPCION_HASTA ) ) and 
	( ( @GRUPO_GRUPO_DESCRIPCION_DESDE is null ) OR ( C_GRUPO.Descrip >= @GRUPO_GRUPO_DESCRIPCION_DESDE ) ) and 
	( ( @GRUPO_GRUPO_DESCRIPCION_HASTA is null ) OR ( C_GRUPO.Descrip <= @GRUPO_GRUPO_DESCRIPCION_HASTA ) ) and 
	( ( @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_CATEGORIADEARTICULO.Descrip >= @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_CATEGORIADEARTICULO.Descrip <= @CATEGORIADEARTICULO_CATEGORIADEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP >= @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_DESDE ) ) and 
	( ( @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA is null ) OR ( C_CLASIFICACIONARTICULO.DESCRIP <= @CLASIFICACIONARTICULO_CLASIFICACION_DESCRIPCION_HASTA ) ) and 
	( ( @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE is null ) OR ( C_TIPODEARTICULO.Descrip >= @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_DESDE ) ) and 
	( ( @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA is null ) OR ( C_TIPODEARTICULO.Descrip <= @TIPODEARTICULO_TIPODEARTICULO_DESCRIPCION_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULO_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FART >= @ITEMARTICULOSVENTAS_ARTICULO_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULO_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FART <= @ITEMARTICULOSVENTAS_ARTICULO_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FTXT >= @ITEMARTICULOSVENTAS_ARTICULODETALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FTXT <= @ITEMARTICULOSVENTAS_ARTICULODETALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLOR_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.cColor >= @ITEMARTICULOSVENTAS_COLOR_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLOR_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.cColor <= @ITEMARTICULOSVENTAS_COLOR_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLORDETALLE_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FCOLTXT >= @ITEMARTICULOSVENTAS_COLORDETALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_COLORDETALLE_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FCOLTXT <= @ITEMARTICULOSVENTAS_COLORDETALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLE_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.Talle >= @ITEMARTICULOSVENTAS_TALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLE_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.Talle <= @ITEMARTICULOSVENTAS_TALLE_HASTA ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLEDETALLE_DESDE is null ) OR ( c_ITEMARTICULOSVENTAS.FTATXT >= @ITEMARTICULOSVENTAS_TALLEDETALLE_DESDE ) ) and 
	( ( @ITEMARTICULOSVENTAS_TALLEDETALLE_HASTA is null ) OR ( c_ITEMARTICULOSVENTAS.FTATXT <= @ITEMARTICULOSVENTAS_TALLEDETALLE_HASTA ) )

group by

	c_ITEMARTICULOSVENTAS.FART ,
	c_ITEMARTICULOSVENTAS.CCOLOR ,
	c_ITEMARTICULOSVENTAS.TALLE ,
	c_ITEMARTICULOSVENTAS.FTXT ,
	c_ITEMARTICULOSVENTAS.FCOLTXT , 
	c_ITEMARTICULOSVENTAS.FTATXT ,
	C_ARTICULO.ARTFAB ,
	C_PROVEEDOR.CLNOM ,
	C_ARTICULO.UNIMED ,
	C_ARTICULO.ATEMPORADA ,
	C_ARTICULO.ANO ,
	C_ARTICULO.FAMILIA ,
	C_ARTICULO.MAT ,
	C_ARTICULO.LINEA ,
	C_ARTICULO.GRUPO ,
	C_ARTICULO.CATEARTI ,
	C_ARTICULO.CLASIFART ,
	C_ARTICULO.TIPOARTI ,
	C_ARTICULO.ARTDESADIC,
	c_articulo.nocom ,
	C_ARTICULO.ASTOCK ,
	c_STOCKCOMBINACION.COCANT ,
	c_STOCKCOMBINACION.ENTRANSITO ,
	C_ARTICULO.ARTCOD ,
	C_UNIDADDEMEDIDA.DESCRIP ,
	C_TEMPORADA.TDES ,
	C_FAMILIA.DESCRIP ,
	C_MATERIAL.MATDES ,
	C_LINEA.DESCRIP ,
	C_GRUPO.DESCRIP ,
	C_CATEGORIADEARTICULO.DESCRIP ,
	C_CLASIFICACIONARTICULO.DESCRIP ,
	C_TIPODEARTICULO.DESCRIP ,
	C_ARTICULO.ARTDES ,
	C_COLOR.COLDES ,
	C_TALLE.DESCRIP ,
	C_CATEGORIADEARTICULO.COD ,
	C_CLASIFICACIONARTICULO.CODIGO ,
	C_COLOR.COLCOD ,
	C_FAMILIA.COD ,
	C_GRUPO.COD ,
	C_LINEA.COD ,
	C_MATERIAL.MATCOD ,
	C_PROVEEDOR.CLCOD ,
	C_TALLE.CODIGO,
	C_TEMPORADA.TCOD ,
	C_TIPODEARTICULO.COD ,
	C_UNIDADDEMEDIDA.COD

	)
	