IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[SipribPercepciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [Interfaces].[SipribPercepciones];
GO;

Create Function [Interfaces].[SipribPercepciones]
(
	@FechaDesde varchar(10),
	@FechaHasta varchar(10),
	@CodigoPercepcion varchar(3)
)
RETURNS TABLE
AS
RETURN
(
	Select 
	cast( '2' as char(1)) as TipoOperacion,	
	cast( Funciones.FechaSIPRIB(DatosExpo.Ffch) as char(10)) as FechaRetencion,
	cast( DatosExpo.CodigoPercepcion as char(3) ) as IncisoEmpresa,	
	cast( case when DatosExpo.Facttipo in (1,2,8,27) then '01' else (case when DatosExpo.Facttipo in (4,6,9,29) then '02' else( case when DatosExpo.Facttipo in (37) then '03' else '07 ' end) end ) end as char(2)) as TipoComprobante,
	cast( DatosExpo.FLetra as char(1)) as LetraComprobante,	
	cast( cast(Funciones.padl( cast( DatosExpo.FptoVen as varchar(4) ), 4, '0' ) as char(4) ) + cast(Funciones.padl( cast( DatosExpo.Fnumcomp as varchar(8) ), 8, '0' ) as char(8)) + '    ' as char(16)) as NumeroComprobante,
	cast( Funciones.FechaSIPRIB(DatosExpo.Ffch) as char(10)) as FechaComprobante,
	cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.FTotal, 2, 15, ',' ) as char(15) ) as MontoComprobante,
	cast( case when Funciones.empty(DatosExpo.ClCuit) = 0 then '3' else '1' end as char(1)) as TipoDocumento,
	cast( case when Funciones.empty(DatosExpo.ClCuit) = 0 then DatosExpo.ClCuit else (case when Funciones.empty(DatosExpo.CLNroDoc) = 0 then DatosExpo.CLNroDoc else ''end) end as char(11)) as NumeroDocumento,
	cast( DatosExpo.CondIIBB as char(1)) as CondicionIIBB,
	cast( case when DatosExpo.CondIIBB is not NULL and DatosExpo.CondIIBB = 1 then Funciones.ObtenerMontoConPadlConSeparadorDecimal(DatosExpo.ClNroIIBB , 0, 10, ',') else '0000000000' end as varchar(10)) as NroInscIIBB,
	cast( case when DatosExpo.ClIva = 1 then '3' else(case when DatosExpo.ClIva = 3 then '2' else(case when DatosExpo.ClIva = 4 then '1' else(case when DatosExpo.ClIva = 5 then '4' else ' ' end) end ) end) end as varchar(1)) as SituacionIva,
	cast( DatosExpo.OtrosGrav as char(1)) as RIOtrosGravamenes,
	cast( DatosExpo.Registro as char(1)) as MarcaDRI,
	cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.TotImpue, 2, 13, ',' ) as char(13) ) as OtrosGravamenes,
	cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.Fimpuesto, 2, 13, ',' ) as char(13) ) as ImporteIVA,
	cast( case when DatosExpo.CondIIBB is not NULL and DatosExpo.CondIIBB = 1 then cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.MontoBase, 2, 15, ',' ) as char(15) ) else '000000000000,00' end as varchar(15)) as BaseImponible,
	cast( case when DatosExpo.CondIIBB is not NULL and DatosExpo.CondIIBB = 1 then cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.Porcen, 2, 5, ',' ) as char(5) ) else '00,00' end as varchar(5)) as Alicuota, 
	cast( case when DatosExpo.CondIIBB is not NULL and DatosExpo.CondIIBB = 1 then cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.Monto, 2, 15, ',' ) as char(15) ) else '000000000000,00' end as varchar(15)) as Impuesto,
	'000000000,00' as DRI,
	cast( case when DatosExpo.CondIIBB is not NULL and DatosExpo.CondIIBB = 1 then cast( Funciones.ObtenerMontoConPadlConSeparadorDecimal( DatosExpo.Monto, 2, 15, ',' ) as char(15) ) else '000000000000,00' end as varchar(15)) as MontoRetenido,
	cast( Funciones.padl( cast( DatosExpo.ArticuloIn as varchar(3) ), 3, '0' ) as char(3) ) as ArtInciso,
	cast( ( DatosExpo.TipoExenc -1 ) as char(1) ) as TipoExencion,
	cast( ( DatosExpo.Anio ) as char(4) ) as AnioExencion,
	case when DatosExpo.Certific = 0 then '      ' else cast( ( DatosExpo.Certific ) as char(6) ) end as CertExencion,
	'000000000000' as CertiPropio
	from (
			Select Comprobantes.Codigo, Comprobantes.Ffch, Comprobantes.Facttipo, Comprobantes.FLetra, Comprobantes.FptoVen ,
				Comprobantes.FnumComp, Comprobantes.Ftotal, Comprobantes.FPerson, Comprobantes.TotImpue, Comprobantes.Fimpuesto,
				ImpuestosVentas.MontoBase, ImpuestosVentas.Porcen, ImpuestosVentas.Monto,
				Clientes.ClTipoDoc, Clientes.ClCuit, Clientes.ClNroDoc, Siprib.CondIIBB, Siprib.OtrosGrav, Siprib.Registro,
				Siprib.ArticuloIn, Siprib.TipoExenc, Siprib.Anio, Siprib.Certific, Clientes.ClNroIIBB, Clientes.ClIva, 
				@CodigoPercepcion as CodigoPercepcion
 				from ZooLogic.ComprobanteV as  Comprobantes
					join ZooLogic.impventas as ImpuestosVentas on Comprobantes.Codigo = ImpuestosVentas.Ccod and  ImpuestosVentas.Jurid = '921' and ImpuestosVentas.Tipoi = 'IIBB' 
					left join ZooLogic.Cli as Clientes on Comprobantes.FPerson = Clientes.ClCod
					join ZooLogic.SIPRIBDATADIC as Siprib on Clientes.ClSiprib = Siprib.CODIGO
				where Comprobantes.FactTipo in ( 1, 4, 2, 6, 27, 29, 8, 9, 13, 37 ) and
					Comprobantes.Anulado = 0
					and Comprobantes.FFch >= @FechaDesde and Comprobantes.FFch <= @FechaHasta				
		) as DatosExpo	
 )