IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[ActualizacionFECEXPO_SIPRIBSantaFe_Retenciones]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT', N'P'))
	DROP PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIPRIBSantaFe_Retenciones];
GO;

CREATE PROCEDURE [Interfaces].[ActualizacionFECEXPO_SIPRIBSantaFe_Retenciones]
( 
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
	@NuevaFechaExportacion varchar(10)
)
AS
BEGIN
	update Comprobantes
	set FecExpo = @NuevaFechaExportacion
	from [ZooLogic].[CompRet] as Comprobantes
		join [ZooLogic].[CRImpDet] as DetalleImpuestos on Comprobantes.Codigo = DetalleImpuestos.Codigo and DetalleImpuestos.Jurisdicci = '921'
		join [ZooLogic].[Prov] as Proveedores on Comprobantes.Prov = Proveedores.ClCod
		join [ZooLogic].[SIPRIBDatAdic] as DatosSIPRIB on Proveedores.ClSIPRIB = DatosSIPRIB.Codigo
	where Comprobantes.TipoImp = 'IIBB'
		and Comprobantes.Anulado = 0
		and Comprobantes.Fecha between @FechaComprobanteDesde and @FechaComprobanteHasta	
END