IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Datos_EFlexware_ComprobantesDeCaja_cab]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Datos_EFlexware_ComprobantesDeCaja_cab];
GO;
create FUNCTION [Interfaces].[Datos_EFlexware_ComprobantesDeCaja_cab]
( 
	@cMonedaLocal varchar(10),
	@cExportarSoloEfectivo char(1),
	@cBocadeExpendio varchar(4), 
	@cCodigoMovimientoEntrada varchar(6),
	@cCodigoMovimientoSalida varchar(6),
	@cIncluirCajaySucursal char(1),
	@FechaComprobanteDesde varchar(10),
	@FechaComprobanteHasta varchar(10),
    @OrigenAplicacion bit,
    @TipoDeCambio char(3)
)
RETURNS TABLE
AS
RETURN
(
--declare 	@cMonedaLocal varchar(10) = 'PESOS'
--declare		@cExportarSoloEfectivo char(1) = '0'
--declare	    @cBocadeExpendio varchar(4) = '0033'
--declare		@cCodigoMovimientoEntrada varchar(6) ='ENTRADA'
--declare		@cCodigoMovimientoSalida varchar(6) ='SALIDA'
--declare		@cIncluirCajaySucursal char(1) = '1'
--declare		@FechaComprobanteDesde varchar(10) = '20000101'
--declare		@FechaComprobanteHasta varchar(10) ='20230101'
--declare     @OrigenAplicacion bit =1
--declare     @TipoDeCambio char(3) ='xxx'

	select DatosExpoIntermedios.BDSucursal+ funciones.padl(right( funciones.alltrim(convert(char(8), DatosExpoIntermedios.NumeroComprobante)),3), 3, '0') as IdentificadorMovimiento,
		DatosExpoIntermedios.CodigoTipoMovimientoFondos,
		DatosExpoIntermedios.DescripcionMovimiento,		
		DatosExpoIntermedios.Fecha as FechaComprobante,
		'' as CodigoCliente,
		'' as CodigoProveedor,
		DatosExpoIntermedios.MarcaOA,
		DatosExpoIntermedios.Concepto,
		DatosExpoIntermedios.SimboloMonetario as Moneda,
		@TipoDeCambio as TipoCambio,
		DatosExpoIntermedios.CajaAplicacionOrigen,
		'' as TipoChequeValorDocumento,
		DatosExpoIntermedios.fecha  as FechaVencimiento,
		DatosExpoIntermedios.importe as Importe,
		'' as NumeroCheque,
		DatosExpoIntermedios.CodigoBancoTarjeta as CodigoBancoTarjeta,
		'' as SucursalBanco,
		'0'as Clearing,
		'' as Origen,
		DatosExpoIntermedios.CodigoCuentaBancaria as CodigoCuentaBancaria,
		'' as NumeroTarjeta,
		'' as NumeroAutorizacion,
		'' as NombreLibrador,
		'' as DireccionLibrador,
		'' as CodigoPostalLibrador,	-- revisar si es el que en ELOPEZ daba 888
		'0' as ProvinciaLibrador,
		'' as LocalidadLibrador,
		'' as TelefonoLibrador,
		DatosExpoIntermedios.PesosAlCambio,
		DatosExpoIntermedios.BDContable as CodigoAperturaContable,
		'' as TipoComprobante,
		DatosExpoIntermedios.Letra as LetraComprobante,
		DatosExpoIntermedios.PuntoVenta,
		DatosExpoIntermedios.NumeroComprobante, 
		DatosExpoIntermedios.CodigoCliente as Cliente,
		DatosExpoIntermedios.NroLocal as NumeroLocal,
		'' as TipoOperacion

	from (
		select DatosExpoBasicos.Letra,
			DatosExpoBasicos.PuntoVenta, 
			DatosExpoBasicos.NumeroComprobante, 
			Funciones.dtos(DatosExpoBasicos.Fecha) as Fecha,
			DatosExpoBasicos.CodigoCliente,
			DatosExpoBasicos.CodigoProveedor,
			DatosExpoBasicos.importe,
			DatosExpoBasicos.CodigoBancoTarjeta,	
			DatosExpoBasicos.CodigoCuentaBancaria,
			DatosExpoBasicos.pesosalcambio, 
			DatosExpoBasicos.SimboloMonetario,
			datosexpobasicos.descripcionmovimiento ,
			datosexpobasicos.tipo , 
			datosexpobasicos.cajaAplicacionOrigen ,
			case
				when @OrigenAplicacion = 1 and datosexpobasicos.tipo = 1 then '2'
				when @OrigenAplicacion = 1 and datosexpobasicos.tipo = 2 then '1'
				when @OrigenAplicacion = 0 and datosexpobasicos.tipo = 1 then '1'
				when @OrigenAplicacion = 0 and datosexpobasicos.tipo = 2 then '2'
			end as MarcaOA,
			case
				when ( DatosExpoBasicos.estadocheque = 'DEPOS' and DatosExpoBasicos.CodigoBancoTarjeta is not null) or DatosExpoBasicos.EsDeposito is not null  then '4' else
				case 
					when @OrigenAplicacion = 1 then '1'
					when @OrigenAplicacion = 0 and DatosExpoBasicos.tipo = 1 then '6'
					when @OrigenAplicacion = 0 and DatosExpoBasicos.tipo = 2 then '8'
				end 
			end as Concepto,
			----
			case when datosexpobasicos.CodigoTipoMovimientoFondos = '' then datosexpobasicos.concepto else datosexpobasicos.CodigoTipoMovimientoFondos end as  CodigoTipoMovimientoFondos, 
			---- 
			DatosExpoBasicos.BDContable,
			DatosExpoBasicos.BDSucursal,
			case when @cIncluirCajaySucursal in ('1','2') then DatosExpoBasicos.BDSucursal else '   ' end as NroLocal

		from (
			select '' as Letra,
			    case when EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA_valconv.ValDest is null 
					then 
						case when EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA_cabconv.ValorDef is null then @cbocadeexpendio else EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA_cabconv.ValorDef end
					else EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA_valconv.ValDest
				end as PuntoVenta,
				comprobantes.concepto,
				Comprobantes.numero as NumeroComprobante,
				Comprobantes.FECHA as Fecha,
				concecaja.descrip as DescripcionMovimiento,	
				comprobantes.concepto as cajaaplicacionorigen, 
				'' as CodigoCliente,
				0.00 as TotalComprobante,
			    ''  as CodigoProveedor,
				cast(DetalleValores.IDCaja as varchar(5)) as NumeroCaja,
				TotalPesificado as pesosalcambio,
				TotalValores as importe, 
				case when SucBan.SbEntFin is null then '' else SucBan.SbEntFin end as CodigoBancoTarjeta,	-- CodBanco
				case when CtaBan.cbNum is null then '' else CtaBan.cbNum end as CodigoCuentaBancaria,
				concecaja.estcheque as EstadoCheque,
				0 as CantidadValoresCC,
				comprobantes.tipo, 
			    case when EFLEXMONEDA_valconv.ValDest is null then @cMonedaLocal else EFLEXMONEDA_valconv.ValDest end as SimboloMonetario,
				case when EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.ValDest is null then EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv.ValorDef else EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.ValDest end as BDContable,
				case when EFLEXIDENTIFICADORBASEDEDATOS_valconv.ValDest is null 
					then 
						case when EFLEXIDENTIFICADORBASEDEDATOS_cabconv.ValorDef is null or Funciones.Empty(EFLEXIDENTIFICADORBASEDEDATOS_cabconv.ValorDef) = 1 then '000' else EFLEXIDENTIFICADORBASEDEDATOS_cabconv.ValorDef end
						else funciones.padl(EFLEXIDENTIFICADORBASEDEDATOS_valconv.ValDest, 3,'0') end as BDSucursal	,

				CONCEPTOASUCURSALBANCARIA_valconv.ValDest as EsDeposito,

				-- Campo CodigoTipoMovimientoFondos:
				--Si el CONCEPTO es un depósito bancario => toma la conversión de CONCEPTOASUCURSALBANCARIA
				--Si no, busca en EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA o EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA según corresponda a un ingreso o egreso determinado por comprobantes.tipo
				--Si no lo encuentra busca los parámetros "COMPROBANTES DE CAJA ENTRADA ó SALIDA" según corresponda a un ingreso o egreso determinado por comprobantes.tipo
				--Si toda esta búsqueda queda vacía, le asigna el valor del campo COMCAJ.CONCEPTO en la query que llama a ésta
				case when CONCEPTOASUCURSALBANCARIA_valconv.ValDest is not null or (concecaja.estcheque  = 'DEPOS' and sucban.sbentfin  is not null )
				then  CONCEPTOASUCURSALBANCARIA_valconv.ValDest 
				else 
					case when CONCEPTOASUCURSALBANCARIA_cabconv.ValorDef is null or CONCEPTOASUCURSALBANCARIA_cabconv.ValorDef = ''
					then 
						CASE WHEN  comprobantes.tipo = 1  								
							then case when EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA_cabconv.ValorDef is null or EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA_cabconv.ValorDef = '' then @cCodigoMovimientoEntrada else EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA_cabconv.ValorDef end 
							else case when EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA_cabconv.ValorDef is null or EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA_cabconv.ValorDef = '' then @cCodigoMovimientoSalida else EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA_cabconv.ValorDef end 
						end
					else
						CONCEPTOASUCURSALBANCARIA_cabconv.ValorDef 
					end
				end as CodigoTipoMovimientoFondos

			from ZooLogic.COMCAJ as Comprobantes
			    join zoologic.CONCECAJA on comprobantes.concepto = concecaja.codigo
				left join zoologic.ctaban on ctaban.cbcod = concecaja.ctabanc
				left join zoologic.sucban on sucban.sbcod = ctaban.cbsucban
				join (
					select COMPCAJADET.CODDETVAL as CodigoComprobante,
						sum(compcajadet.ctotal*compcajadet.cotiza) as TotalPesificado,
						sum(compcajadet.ctotal) as TotalValores,
						compcajadet.IDCAJA as idcaja,
						xval.clsmonet
					from [ZooLogic].[COMPCAJADET] 
						join [ZooLogic].[XVal] on compcajadet.CODVAL = Xval.ClCod
					where case when @cExportarSoloEfectivo = '1' and ( Xval.CLCFI = 1 or Xval.CLCFI = 2 ) then 1 else case when @cExportarSoloEfectivo <> '1' then 1 end end = 1
					group by compcajadet.CODDETVAL, compcajadet.IDCAJA, xval.clsmonet 
					) as DetalleValores on Comprobantes.Codigo = DetalleValores.CodigoComprobante

				left join [Organizacion].[ConverVal] as EFLEXMONEDA_valconv on EFLEXMONEDA_valconv.Conversion = 'EFLEXMONEDA' and EFLEXMONEDA_valconv.ValOrig = DetalleValores.ClSMonet
				left join [Organizacion].[Conver] as EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv on EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv.Codigo = 'EFLEXAPERTURACONTABLEBASEDEDATOS'
				left join [Organizacion].[ConverVal] as EFLEXAPERTURACONTABLEBASEDEDATOS_valconv on EFLEXAPERTURACONTABLEBASEDEDATOS_cabconv.Codigo = EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.Conversion and EFLEXAPERTURACONTABLEBASEDEDATOS_valconv.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as EFLEXIDENTIFICADORBASEDEDATOS_cabconv on EFLEXIDENTIFICADORBASEDEDATOS_cabconv.Codigo = 'EFLEXIDENTIFICADORBASEDEDATOS'
				left join [Organizacion].[ConverVal] as EFLEXIDENTIFICADORBASEDEDATOS_valconv on EFLEXIDENTIFICADORBASEDEDATOS_valconv.Conversion = 'EFLEXIDENTIFICADORBASEDEDATOS' and EFLEXIDENTIFICADORBASEDEDATOS_valconv.ValOrig = Comprobantes.BDAltaFW
				left join [Organizacion].[Conver] as EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJa_cabconv on EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJa_cabconv.Codigo = 'EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA'
				left join [Organizacion].[ConverVal] as  EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJa_valconv on EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJa_valconv.conversion  = 'EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJA' and EFLEXBOCADEEXPENDIOCOMPROBANTESDECAJa_valconv.valorig = Comprobantes.BDALTAFW

				left join [Organizacion].[Conver] as CONCEPTOASUCURSALBANCARIA_cabconv on CONCEPTOASUCURSALBANCARIA_cabconv.Codigo = 'CONCEPTOASUCURSALBANCARIA'
				left join [Organizacion].[ConverVal] as CONCEPTOASUCURSALBANCARIA_valconv on CONCEPTOASUCURSALBANCARIA_valconv.Conversion  = 'CONCEPTOASUCURSALBANCARIA' and 
CONCEPTOASUCURSALBANCARIA_valconv.ValOrig = comprobantes.concepto 

				left join [Organizacion].[Conver] as EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA_cabconv on EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA_cabconv.Codigo = 'EFLEXCOMPROBANTECAJACONCEPTOTIPOENTRADA'
				left join [Organizacion].[Conver] as EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA_cabconv on EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA_cabconv.Codigo = 'EFLEXCOMPROBANTECAJACONCEPTOTIPOSALIDA'

				where Comprobantes.FECHA between @FechaComprobanteDesde and @FechaComprobanteHasta 

			) as DatosExpoBasicos
		) as DatosExpoIntermedios
)
