IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Contabilidad].[ObtenerImputacionesContablesPorArticulo]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Contabilidad].[ObtenerImputacionesContablesPorArticulo];
GO;
Create function [Contabilidad].[ObtenerImputacionesContablesPorArticulo]
	( 
		@tblAtipodet as Contabilidad.udt_TableType_Atipodet ReadOnly,
		@tblImpdirart as Contabilidad.udt_TableType_Impdirart ReadOnly,
		@tblBasesAgrup as Contabilidad.udt_TableType_BasesAgrup ReadOnly,
		@CodigoAsientoTipo char(10), 
		@CodigoConcepto char(15), 
		@TipoAsi int,
		@BaseDeDatosActual char(8), 
		@SucursalActual char(10), 
		@TipoSucursalActual char(10)
	)
	returns @imputaciones table
	(	cod char(15),
		cuentaDebe varchar(30),
		cuentaHaber varchar(30)
	)
	as
	begin

		declare @CodAnterior char(15) = ''
		declare @Cod char(15) = ''
		Declare @CuentaDebe varchar( 30 )
		Declare @CuentaHaber varchar( 30 )
		Declare @Importancia varchar( 40 )

		Declare cImpDir Cursor for
			select  entidad.artcod, 
					case when asietipo.cuentade = '' then '' else isnull( i.pcuenta, asietipo.CUENTADE ) end CuentaDebe,
					case when asietipo.cuentaha = '' then '' else isnull( i.pcuenta, asietipo.CUENTAHA ) end CuentaHaber,
					isnull( replicate ('0',(10 - len(i.importanci))) + convert(varchar, i.importanci) + convert(char(8),i.FMODIFW,112) + i.HMODIFW, '' ) as Importancia
				from zoologic.art as entidad
					cross join ( select * from @tblAtipodet where codigo = @CodigoAsientoTipo and codconc = @CodigoConcepto ) asietipo
					left join @tblImpdirart i on    ( entidad.artcod between i.artdesde and i.arthasta )
												and ( i.comp = 9 or i.comp = entidad.astock )
												and ( entidad.artfab between i.prodesde and i.prohasta )
												and ( entidad.atemporada between i.temdesde and i.temhasta )
												and ( entidad.ano between i.anidesde and i.anihasta )
												and ( entidad.familia between i.famdesde and i.famhasta )
												and ( entidad.mat between i.matdesde and i.mathasta )
												and ( entidad.linea between i.lindesde and i.linhasta )
												and ( entidad.grupo between i.grudesde and i.gruhasta )
												and ( entidad.catearti between i.catdesde and i.cathasta )
												and ( entidad.clasifart between i.cladesde and i.clahasta )
												and ( entidad.tipoarti between i.tipdesde and i.tiphasta )
												and ( i.artconiva = 0 or i.artconiva = entidad.artconiva )
												and ( entidad.artporiva between i.ivvdesde and i.ivvhasta )
												and ( i.artiva = 0 or i.artconiva = entidad.artiva )
												and ( entidad.anx2 between i.ivcdesde and i.ivchasta )
												and ( entidad.impinterno between i.impdesde and i.imphasta )
												and ( i.tipoasi = 0 or i.tipoasi = @TipoAsi )
												and ( @SucursalActual between i.sucdesde and i.suchasta )
												and ( @TipoSucursalActual between i.tsucdesde and i.tsuchasta )
												and ( i.base = ''
													or ( substring( i.base, 1, 1 ) <> '[' and i.base = @BaseDeDatosActual )
													or ( substring( i.base, 1, 1 ) = '['
														and replace(replace(i.base,'[',''),']','') in ( Select agrupamiento from @tblBasesAgrup where basededatos = @BaseDeDatosActual ) )
													)
				order by entidad.artcod, Importancia desc

		Open cImpDir
		Fetch Next From cImpDir Into @Cod, @CuentaDebe, @CuentaHaber, @Importancia
		while @@FETCH_STATUS = 0
		begin
			if @Cod <> @CodAnterior
			begin
				Insert into @imputaciones ( Cod, cuentaDebe, cuentaHaber )
				Select @Cod, @CuentaDebe, @CuentaHaber
			end
			set @CodAnterior = @Cod
			Fetch Next From cImpDir Into @Cod, @CuentaDebe, @CuentaHaber, @Importancia
		end
		close cImpDir
		Deallocate cImpDir

		return
	end
