IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[ObtenerValores]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].ObtenerValores
GO;

CREATE FUNCTION [Funciones].[ObtenerValores]
( @tcCodigoFactura varchar(38), @tnOpcion Numeric(1) )
RETURNS varchar (40)
AS
BEGIN
	declare @retorno varchar(40)
	declare @lncantregistros Tinyint
	
	Declare @TablaTemporal Table ( CodigoValor Varchar( 5 ), DescripcionValor Varchar( 40 ) )

	insert into @TablaTemporal
	select c_ITEMVALORES.JJCO , c_ITEMVALORES.JJDE
	from Zoologic.VAL c_itemvalores
	where c_ITEMVALORES.JJNUM 
		in (select c_factura.CODIGO 
			from  Zoologic.Comprobantev c_factura 
			where c_factura.CODIGO = @tcCodigoFactura)

	set @lncantregistros = @@ROWCOUNT
	
	Select @retorno =
		case 
			when @lncantregistros > 1 and @tnOpcion = 1 then 'Varios'
			when @lncantregistros = 1 and @tnOpcion = 1 then CodigoValor
			when @lncantregistros > 1 and @tnOpcion = 2 then ''
			when @lncantregistros = 1 and @tnOpcion = 2 then DescripcionValor
			else ''
		End
	from @TablaTemporal

	return @retorno
END
