IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Funciones].[IdentificadorDeComprobanteComprasParaListado]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Funciones].[IdentificadorDeComprobanteComprasParaListado];
GO;

CREATE FUNCTION [Funciones].[IdentificadorDeComprobanteComprasParaListado]
	( 
	@TipoDeComprobante int,
	@LetraDeComprobante varchar(2),
	@PuntoDeVenta int, 
	@PuntoDeVentaExtendido int,
	@NumeroDeComprobante numeric(15)
	)
	returns varchar(26)
AS
	begin
		declare @Identificador varchar(26)

		If @NumeroDeComprobante <> 0
			begin
				set @Identificador = upper( Funciones.ObtenerIdentificadorDeComprobante( @TipoDeComprobante ) );

				if coalesce( @LetraDeComprobante, ' ' ) != ' ' set @Identificador = @Identificador + ' ' + upper( funciones.Alltrim( @LetraDeComprobante ) ) + ' '
					else set @Identificador = @Identificador + ' ' ;

				if @TipoDeComprobante <> 999
					if coalesce(@PuntoDeVentaExtendido, 0 ) = 0 
						set @Identificador = @Identificador + Funciones.padl( @PuntoDeVenta, 5, '0' ) + '-'
					else
						set @Identificador = @Identificador + Funciones.padl( @PuntoDeVentaExtendido, 5, '0' ) + '-';

				if substring(@Identificador, len(@Identificador), 1) not in ( ' ', '-' )
					set @Identificador = @Identificador + '';

				if @TipoDeComprobante <> 999
					set @Identificador = @Identificador + Funciones.padl( @NumeroDeComprobante, 8, '0' )
				else
					set @Identificador = @Identificador + Funciones.padl( @NumeroDeComprobante, 15, '0' )
			end
		else
			set @Identificador = SPACE( 26 );

		return @Identificador
	end
