IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Interfaces].[Interfaz_Patagonia_Stock]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [Interfaces].[Interfaz_Patagonia_Stock];
GO;

CREATE FUNCTION [Interfaces].[Interfaz_Patagonia_Stock]
( 
	@CodDesde varchar(15),
	@CodHasta varchar(15),
	@ListaPrecioCompra varchar(10),
	@ListaPrecioVenta varchar(10)
)
RETURNS TABLE
AS
RETURN
	select CONVERT(VARCHAR(8), GETDATE(), 112) AS FECHA,						--Fecha AAAAMMDD
	CONVERT(VARCHAR(6), GETDATE(), 112) AS FECHAMMDD,							--Fecha AAAAMM
	case when STOREID02404_valconv.ValDest is null then '' else LTRIM(RTRIM(STOREID02404_valconv.ValDest)) end as STOREID, --STOREID
	Left(ATEMPORADA,2) + cast(ANO as char(4)) as TEMPANO,										--Codigo de temporada(2) + Año
	case when CHARINDEX(' ',LTRIM(RTRIM(COART))) > 0 then substring(LTRIM(RTRIM(COART)),0, CHARINDEX(' ',LTRIM(RTRIM(COART)))) else LTRIM(RTRIM(COART)) end as COART,																		--Codigo del artículo
	ARTDES,																		--Descripción del artículo
	case when CHARINDEX(' ',LTRIM(RTRIM(COART))) > 0 then substring(LTRIM(RTRIM(COART)), CHARINDEX(' ',LTRIM(RTRIM(COART)))+1,len(LTRIM(RTRIM(COART)))) else COCOL end as COCOL,																		--Código de color
	TALLE,																		--Código de talle
	Left(TIPOARTI,1) as TIPART,													--Código de Tipo de artículo(1)
	COCANT,																		--Cantidad en stock
	case when CCODIGO is null then '' else CCODIGO end as EQUIV,			--Código de equivalencia (vacio si es null)
	--obtiene precio de lista pasada por parametro-1
	Funciones.ObtenerPrecioDeLaCombinacionPorListaDePrecio(Comb.COART, Comb.cocol, comb.talle, @ListaPrecioCompra) as PCOMPRA,
	--obtiene precio de lista pasada por parametro-2 
	Funciones.ObtenerPrecioDeLaCombinacionPorListaDePrecio(Comb.COART, Comb.cocol, comb.talle, @ListaPrecioVenta) as PVENTA 
 
FROM ZooLogic.COMB
	INNER JOIN
	ZooLogic.ART
	ON	ZooLogic.COMB.COART = ZooLogic.ART.ARTCOD
		
	LEFT JOIN	
	Zoologic.EQUI
	ON ZooLogic.COMB.COART = ZooLogic.EQUI.CARTICUL AND
	   ZooLogic.COMB.COCOL = ZooLogic.EQUI.CCOLOR AND
	   ZooLogic.COMB.TALLE = ZooLogic.EQUI.CTALLE
	
	--left join [Organizacion].[Conver] as ConvCStoreID on ConvCStoreID.Codigo = 'STOREID02404'
	--left join [Organizacion].[ConverVal] as ConvVStoreID on ConvCStoreID.Codigo = ConvVStoreID.Conversion



	--from ZooLogic.ComprobanteV as Comprobantes
	left join [Organizacion].[ConverVal] as STOREID02404_valconv on STOREID02404_valconv.Conversion = 'STOREID02404' and STOREID02404_valconv.VALORIG = COMB.BDAltaFW
WHERE COART Between @CodDesde and @CodHasta