/****** Script for SelectTopNRows command from SSMS  ******/

DECLARE @FECHA AS DATE;
SET @FECHA = GETDATE();

SELECT
	OBJEXPTO.CODIGO 
	, OBJEXPTO.DESCRIP AS NOMBRE
	, OBJEXPTO.DESDE
	, OBJEXPTO.HASTA
	, PUESTO.DESCR AS PUESTO
	, SECTOR.DESCRIP AS SECTOR
	, AREA.DESCRIP AS [AREA]
	, REPORTAA.DESCR AS [REPORTA A]
	, OBJETIVOS.CODOBJE
	, OBJETIVOS.PESOOBJE
	, OBJETIVOS.TIPOOBJE
	, OBJETIVOS.PESOTIPO
	, ESCALA.DESDE
	, ESCALA.HASTA
	, ESCALA.VALOR
	, FILTRO.DESCFILT
	, DETFILTROS.DESDE 
	, DETFILTROS.HASTA 
	, DETFILTROS.VALOR 
  FROM 
	[ZL].[ZL].[OBJEXPTO] AS OBJEXPTO
	LEFT JOIN [ZL].[ZL].OBJEXPTODET AS OBJETIVOS ON OBJETIVOS.CODIGO = OBJEXPTO.CODIGO
	LEFT JOIN [ZL].[ZL].PUESTOSRH AS PUESTO ON PUESTO.COD = OBJEXPTO.PUESTO
	LEFT JOIN [ZL].[ZL].SECTORES AS SECTOR ON SECTOR.CODIGO = OBJEXPTO.SECTOR
	LEFT JOIN [ZL].[ZL].AREA AS AREA ON AREA.CODIGO = OBJEXPTO.AREA
	LEFT JOIN [ZL].[ZL].PUESTOSRH AS REPORTAA ON REPORTAA.REPORTAA = OBJEXPTO.REPORTAA
	LEFT JOIN [ZL].[ZL].[OBJEESVADE] AS ESCALA ON ESCALA.CODIGO = OBJEXPTO.CODIGO
	LEFT JOIN [ZL].[ZL].[FILTDET] AS FILTRO ON FILTRO.CODIGO = OBJEXPTO.CODIGO
	LEFT JOIN [ZL].[ZL].[FILTOBJE] AS FILTROS ON FILTROS.COD = FILTRO.NUMERO
	LEFT JOIN [ZL].[ZL].[FILTOBJEDET] AS DETFILTROS ON DETFILTROS.NUMERO = FILTROS.COD
WHERE
	CONVERT(DATE, @FECHA) BETWEEN OBJEXPTO.DESDE AND OBJEXPTO.HASTA
GROUP BY
	OBJEXPTO.CODIGO
	, OBJEXPTO.DESCRIP
	, OBJEXPTO.DESDE
	, OBJEXPTO.HASTA
	, PUESTO.DESCR
	, SECTOR.DESCRIP
	, AREA.DESCRIP
	, REPORTAA.DESCR
	, OBJETIVOS.CODOBJE
	, OBJETIVOS.PESOOBJE
	, OBJETIVOS.TIPOOBJE
	, OBJETIVOS.PESOTIPO
	, ESCALA.DESDE
	, ESCALA.HASTA
	, ESCALA.VALOR
	, FILTRO.DESCFILT
	, DETFILTROS.DESDE 
	, DETFILTROS.HASTA 
	, DETFILTROS.VALOR 
	, ESCALA.NITEM
ORDER BY
	ESCALA.NITEM 