USE [ZL]
GO
/****** Object:  UserDefinedFunction [Objetivos].[ExcepcionJornadaLaboral]    Script Date: 07/12/2013 15:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================================
-- Author:		Daniel Correa
-- Create date: 12/07/2013
-- Description:	Función que devuelve, de haberlo, el comprobante y la fecha
--              de hoy con la hora y minutos de entrada
--              de un Registro de Excepción de Jornada Laboral
--              para calcular la llegada tarde
-- ===========================================================================
ALTER FUNCTION [Objetivos].[ExcepcionJornadaLaboral] 
(
	@Legajo varchar(4)
)
RETURNS 
	@Excepcion TABLE 
	(
		CODIN NUMERIC(8,0)
		, INGRESO DATETIME
	)
AS
BEGIN
	INSERT INTO @Excepcion
	SELECT
		DISTINCT
		COMPROBANTE.CODIN
		, CONVERT(DATETIME, CONVERT(VARCHAR(10), GETDATE(), 102)+' '+ZL.SALEXCJOR.HINICIO+':'+ZL.SALEXCJOR.MINICIO, 102) AS [INGRESO]
	FROM 
		ZL.SALEXCJOR
		INNER JOIN (SELECT * FROM [ZL].[OBJETIVOS].LEGAJOACTIVO('', CONVERT(VARCHAR(8), GETDATE(), 112))) AS ACTIVOS ON ACTIVOS.LEGAJO = ZL.SALEXCJOR.USU
		INNER JOIN (SELECT MAX(CODIN) AS CODIN, MAX(FMODIFW) AS FMODIFW, MAX(HMODIFW) AS HMODIFW, USU, FECDESDE, FECHASTA FROM ZL.SALEXCJOR GROUP BY USU, FECDESDE, FECHASTA) AS COMPROBANTE
			ON COMPROBANTE.USU = ZL.SALEXCJOR.USU AND GETDATE() BETWEEN COMPROBANTE.FECDESDE AND COMPROBANTE.FECHASTA
	WHERE
		ACTIVOS.CLEGAJO = @LEGAJO
		AND GETDATE() BETWEEN ZL.SALEXCJOR.FECDESDE AND ZL.SALEXCJOR.FECHASTA
	
	RETURN 
END
