USE [ZL]
GO
/****** Object:  UserDefinedFunction [dbo].[func_EnvioHSde12a18]    Script Date: 05/29/2013 17:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===========================================================
-- Author:		HECTOR DANIEL CORREA
-- Create date: 29/05/2013
-- Description:	OBTIENE EL NUMERO DE LA HS Y LAS DIRECCIONES
--              DE MAIL A DONDE ENVIARLAS PARA LAS ACCIONES
--              "ENVIO DE MAIL" DESDE LAS 12 HASTA LAS 18 
-- ===========================================================
ALTER FUNCTION [dbo].[func_EnvioHSde12a18] 
()
RETURNS TABLE 
AS
RETURN 
	(
	SELECT
		distinct
		HS.NUME [HS NÚMERO]
		, MAILS.EMAIL [MAIL]
		, 'hcorrea@zoologic.com.ar' AS [mailPrueba]
		, 'sdisanzo@zoolgic.com.ar' AS [mailAuditor]
	FROM 
		ZL.ZL.DACMDA AS ACCIONES
		INNER JOIN ZL.ZL.HOJSERV AS HS ON HS.NUME = ACCIONES.CODIGO
		INNER JOIN ZL.ZL.CLIENTES AS CLIENTES ON CLIENTES.CMPCODIGO = HS.CCLIENTE
		INNER JOIN ZL.ZL.VMAILS AS MAILS ON MAILS.CLIENTE = CLIENTES.CMPCODIGO
			AND MAILS.TIPOACCION IN (1, 6)
	WHERE
		ACCIONES.TACCIO = '0012'
		AND CONVERT(DATETIME, CONVERT(VARCHAR(10), ACCIONES.FECHA, 120)+' '+CONVERT(VARCHAR(10), ACCIONES.HORA, 120), 120)
			BETWEEN DATEADD(DAY, 0, CONVERT(DATETIME, CONVERT(VARCHAR(10), GETDATE(), 120)+' 12:00:00.000', 120))
			AND DATEADD(DAY, 0, CONVERT(DATETIME, CONVERT(VARCHAR(10), GETDATE(), 120)+' 17:59:59.999', 120))
	GROUP BY
		MAILS.EMAIL
		, HS.CCLIENTE
		, HS.NUME
		, ACCIONES.FECHA
		, ACCIONES.HORA
	)
go

select * from [dbo].[func_EnvioHSde18a12]()