USE [ZL]
GO
/****** Object:  Trigger [ZL].[mailSoliciAprobDocFun]    Script Date: 01/14/2013 14:44:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Daniel Correa
-- Create date: 14/01/2013
-- Description:	Trigger que dispara un mail para insert cuando se solicita
--              una aprobación de documento funcional
-- =============================================
ALTER TRIGGER [ZL].[mailSoliciAprobDocFun] 
   ON  [ZL].[SOLAPRDOC] 
   AFTER INSERT
AS 
BEGIN

	SET NOCOUNT ON;

	DECLARE @Estilo AS VARCHAR(MAX)
	,@Cuerpo AS VARCHAR(MAX)
	,@Asunto AS VARCHAR(MAX)
	,@nromail AS INT
	,@SolicitudNro AS VARCHAR(10)
	,@Documento AS VARCHAR(10)
	,@NombreyApellido AS VARCHAR(150)
	,@NombreyApellidoSolicitante AS VARCHAR(150)
	,@Correo AS VARCHAR(150)
	,@Titulo AS VARCHAR(MAX);

	select 
		@SolicitudNro = CAST(INSERTED.NUMERO AS VARCHAR(10))
		,@Documento = CAST(INSERTED.DOCFUN AS VARCHAR(10))
		,@NombreyApellido = RTRIM(ZL.Legajo.Cprinombre) + ' ' + RTRIM(ZL.Legajo.Csegnombre) + ' ' + RTRIM(ZL.Legajo.Capellido) 
		,@Correo = LOWER(RTRIM(ZL.LEGOPS.CCOD))+'@zoologic.com.ar' 
		,@Titulo = RTRIM(ZL.DFUN.TITULO) 
		,@NombreyApellidoSolicitante = ISNULL(RTRIM(sol.Cprinombre) + ' ' + RTRIM(sol.Csegnombre) + ' ' + RTRIM(sol.Capellido), '')
	from 
		INSERTED
		LEFT JOIN ZL.LegOPS ON ZL.Legops.Ccod = INSERTED.solica 
			and ZL.Legops.Activo = 1
			and ZL.Legops.Tipousu = '0001'
		LEFT JOIN ZL.LegOPS AS Solicitante ON Solicitante.Ccod = INSERTED.BDALTAFW  
		LEFT join ZL.Legajo on ZL.Legajo.Ccod = ZL.Legops.Clegajo
		LEFT join ZL.Legajo AS sol on sol.Ccod = Solicitante.Clegajo
		LEFT JOIN ZL.DFUN ON ZL.DFUN.CODIGO = INSERTED.DOCFUN 

		SET @Estilo = (SELECT TOP 1 Htmlcod FROM [ZL].[FACTURACION].[EstiloMail] WHERE id = 1);

		SET @Asunto = 'ZL Avisos - Solicitud de Aprobación de Documento Funcional';
		SET @Cuerpo = '<p class="style1">'+@NombreyApellido+',</p><p></p><p class="style1">'+@NombreyApellidoSolicitante+' le ha solicitado mediante ';
		SET @Cuerpo = @Cuerpo + 'Solicitud de Aprobaci&oacute;n de Documentos N&deg; '+@SolicitudNro+' la aprobaci&oacute;n del Documento Funcional '+@Documento+': <i>&quot;'+@Titulo+'&quot;</i>.</p>';
		SET @Cuerpo = @Cuerpo + '<p class="style1"></p>';
		
		SET @Cuerpo = @Estilo + @Cuerpo;
		
		EXEC msdb.dbo.sp_send_dbmail
		@profile_name = 'ZL Avisos'
		,@recipients = @Correo 
		,@copy_recipients = '' 
		,@blind_copy_recipients = ''
		,@body = @Cuerpo  
		,@subject = @Asunto 
		,@body_format = 'HTML' 
		,@mailitem_id = @nromail OUTPUT ;
END


