USE [ZL]
GO
/****** Object:  StoredProcedure [dbo].[ZL_ENVIO_DE_AVISOS]    Script Date: 02/18/2013 14:43:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ZL_ENVIO_DE_AVISOS]

AS
DECLARE @grupoZL varchar(5)	-- área de la persona que registra(en el caso de no declararse en la tabla de criterios)
DECLARE @RegPor varchar(50)	-- persona que registra
DECLARE @tabla varchar(100) ---tabla donde se registró el evento
DECLARE @mail varchar(max) --destinatarios del mail
DECLARE @numComprobante int --parte del body del mail
DECLARE @titulo varchar(100) ---asunto del mail
DECLARE @mensaje varchar(max) ---body del mail
DECLARE @ID bigint  ---voy a guardar el id del registro de logasvisos a actualizar
DECLARE @CantLogs int --cantidad mensajes a enviar
DECLARE @ConCopia varchar(100)
DECLARE @TipoUsu varchar(4)
DECLARE @DuenioOportunidad varchar(50)
DECLARE @RZ varchar(5)
DECLARE @RzNombre varchar(100)
DECLARE @RzMedPago varchar(5)
DECLARE @Categoria varchar(100)
DECLARE @Obs varchar(4000)

DECLARE @Clave VARCHAR(50) --Clave de usuario para asignaciones HDC
DECLARE @Estilo VARCHAR(MAX) --Estilo visual CSS HDC
DECLARE @Profile VARCHAR(50) --Perfil de cuenta de SMTP

DECLARE
	@SolicitudNro AS VARCHAR(10)
	,@Documento AS VARCHAR(10)
	,@NombreyApellido AS VARCHAR(150)
	,@NombreyApellidoSolicitante AS VARCHAR(150)
  ,@Asunto AS VARCHAR(MAX)
  ,@TitFunc AS VARCHAR(MAX);	

DECLARE	
  @Cliente     AS VARCHAR(50)
  ,@Prioridad   AS VARCHAR(10)
  ,@Producto    AS VARCHAR(50);

BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET @ConCopia = ''
	SET @TipoUsu = ''
	SET @DuenioOportunidad = ''
  SET @Profile = 'Zl Avisos' --Perfil de cuenta de SMTP por default
  
--MIENTRAS HAYA AVISOS NO ENVIADOS---
	
	SET @CantLogs = (SELECT COUNT(*) AS cantAvisos FROM zl.dbo.logavisos WHERE enviado IS NULL)
	
	WHILE 
		@CantLogs > 0

	BEGIN
	 
    SELECT 
      TOP 1 @ID = ID 
      , @RegPor = LTRIM(RTRIM([RegPor]))
      , @tabla = [Tabla]
      , @numComprobante = [NroComprob]
    FROM 
      zl.DBO.LOGAVISOS 
    WHERE 
      ENVIADO is null 
    ORDER BY 
      ID
		
  	--  CASOS EN QUE SE LLAMA A OTRO STORE PARA QUE LO ENVÍE
    IF @TABLA = 'zltaskAgentesERA' 
      BEGIN
        EXEC dbo.ZL_ENVIO_DE_AVISO_ERA @NumTarea = @numComprobante
        UPDATE ZL.dbo.LogAvisos SET 
          enviado = getdate()
        WHERE 
          id = @ID
        SET @CantLogs = @CantLogs - 1
      END
      ELSE 
				
    IF @TABLA = 'OPORTUNS-AsignacionERA'
      BEGIN
        EXEC [dbo].[ZL_ENVIO_DE_OPORTUNIDAD_ERA]  @numComprobante = @numComprobante
        UPDATE ZL.dbo.LogAvisos SET 
          enviado = getdate()
        WHERE 
          id = @ID
        SET @CantLogs = @CantLogs - 1
      end
      else 
				
    IF @TABLA = 'Loteservibaja'
      BEGIN
        EXEC [dbo].[ZL_ENVIO_DE_BAJA_ITEMS_GERENCIA] @numCompBajaZL = @numComprobante
        UPDATE ZL.dbo.LogAvisos SET 
          enviado = getdate()
        WHERE 
          id = @ID
        SET @CantLogs = @CantLogs - 1
      END
      ELSE 
			
    IF @TABLA = 'Loteservibaja_ERA'
      BEGIN
        EXEC [dbo].[ZL_ENVIO_DE_BAJA_ITEMS_ERA] @numCompBajaZL = @numComprobante
        UPDATE ZL.dbo.LogAvisos SET 
          enviado = getdate()
        WHERE 
          id = @ID
        SET @CantLogs = @CantLogs - 1
      END
      ELSE
       
    IF @TABLA = 'zltask' 
      BEGIN
        EXEC dbo.ZL_ENVIO_DE_AVISOS_TAREAS @NumeroTarea = @numComprobante
        UPDATE ZL.dbo.LogAvisos SET 
          enviado = getdate()
        WHERE id = @ID
        SET @CantLogs = @CantLogs - 1
      END 
      ELSE
    
    IF @TABLA = 'ASIGESTVER' 
      BEGIN
        EXEC dbo.ZL_ENVIO_DE_BLOG_POST_VERSION @NumAsignaEstado = @numComprobante
        UPDATE ZL.dbo.LogAvisos SET 
          enviado = getdate()
        WHERE 
          id = @ID
        SET @CantLogs = @CantLogs - 1
      END 
      ELSE

    IF @TABLA = 'ASIGESTVERFuncPubPresup' 
      BEGIN
        EXEC dbo.ZL_ENVIO_DE_AVISO_FUNC_PUB_PRESUP @NumAsignaEstado = @numComprobante
        UPDATE ZL.dbo.LogAvisos SET 
          enviado = getdate()
        WHERE 
          id = @ID
        SET @CantLogs = @CantLogs - 1
      END 
      ELSE
	
    IF ( LTRIM(RTRIM(@RegPor)) IN (SELECT LTRIM(RTRIM(CCOD)) FROM ZL.DBO.BLACK_LIST_AVISOS) ) /*VERIFICACIÓN DEL DESTINATARIO DENTRO DE LA BLACK LIST*/ 
      BEGIN
        --NO ENVIAR EL MAIL
        UPDATE ZL.dbo.LogAvisos SET 
          enviado = getdate()
        WHERE id = @ID
        SET @CantLogs = @CantLogs - 1
      END
      ELSE  --se envia, proceso para armar mail para cada tabla
    	BEGIN
	
	      IF @tabla = 'INFCIDS'
          BEGIN
            SELECT  
              @mensaje = 'La solicitud de servicio número ' + cast([Ssnumero] as varchar(10)) + ' ha sido antendida por ' + 
              @RegPor + '.' + '<BR><BR>' + 'Detalle de la solicitud: ' + '<BR>' + CAST([Ssdescr] AS VARCHAR(1000))  + '<BR><BR>' + 
              'Informe técnico del incidente ' +  cast([ZL].[Infcids].codin as varchar(9)) +': ' + '<BR>' +   CAST([Cmpconsult] AS VARCHAR(1000))
              ,@titulo = 'Tu solicitud de servicio ha sido atendida'
              ,@MAIL = LOWER(LTRIM(RTRIM([Ssregpor]))) + '@zoologic.com.ar'
              ,@ConCopia = LTRIM(RTRIM( zl.TipSSe.mailto ))
            FROM  
              [ZL].[Infcids] 
              join zl.TipSSe on zl.TipSSe.cod = [ZL].[Infcids].ssctipo
            WHERE
              [ZL].[Infcids].CODIN = @numComprobante
          END
          ELSE 
      	
	      IF @tabla = 'NUEVO_AGENTE_ERA'
		      BEGIN
			      SET @mail = 'info@erazone.com.ar'
			      SET @titulo = 'Avisos ZL - Nuevo Agente ERA' 

			      declare @agentes table  
			      (
			       codProvZona char(3),  Provincia varchar(100), Localidad varchar(100), Agente varchar(60), Empresa varchar(100), Email varchar(300), Contacto varchar(100), [Teléfonos] varchar(100), Direccion varchar(200)
			      )
			      insert into @agentes
			      exec [dbo].[AgentesEraWeb]

			      select distinct 
			      @mensaje = 'Se ha registrado el agente ' + @RegPor + ' con los siguientes datos '
						      + '<br><br>Nombre de Fantasía: ' + Empresa
						      + '<br>Contacto: ' + IsNull(Contacto,'')
						      + '<br>Email: ' + IsNull(Email,'')
						      + '<br>Teléfonos: ' + IsNull([Teléfonos],'')
						      + '<br>Dirección: ' + IsNull([Direccion]    ,'')
						      + '<br>Zonas de Gestión: ' + IsNull(Zonas,'')
				      from @agentes 
				      left join 
						      ( --ZONAS CONCATENADAS

						      select  agente as agentez,
								      ( select Provincia +' - ' +Localidad + ';  ' 
								      from @agentes as i
      									
									      where i.agente = e.agente						
									      FOR XML PATH('')
								       )
								       as Zonas

						      FROM @agentes as e
						      group by agente							
						      )
      						
						      as zonas on zonas.agentez = agente

						      where Agente = @RegPor
      							
			      END	
  	      ELSE	
      	
	      IF @tabla like 'REQPNCE%'
		      BEGIN
			      SET @mail = 'hlopez@zoologic.com.ar;' 
			      SET @titulo = 'Avisos ZL - Requerimiento de PNCE ' + cast(@numComprobante as varchar(5)) + 
					      case when @tabla like '%DEL%' then ' - Eliminado ' else /*reg por tiene el eliminado-modificado-ingresado*/
					      case when @tabla like '%UPD%' then ' - Modificado ' else
					      ' - Ingresado ' end end 
			      select @mensaje = 'Requerimiento Nº ' + cast(@numComprobante as varchar(5)) + '<br>Asunto: ' + IsNull(Ltrim(rtrim(r.asunto)),'') + '<br>Usuario: ' +  @RegPor
				      from ZL.PNCEREQ as r 
				      where codin = @numComprobante
		      END	
	        ELSE 	
      	
	      IF @tabla like 'RRHH_AUSEN'
		      BEGIN
			      SET @mail = 'consultasrrhh@zoologic.com.ar;' 
			      SET @titulo = 'Avisos ZL - Registro de Ausencia'
			      select @mensaje =  @RegPor + ' ha registrado en ZL la ausencia número ' + cast(@numComprobante as varchar(9)) 				
		      END	
	        ELSE 	
      	
	      IF @tabla like 'ItemVincuEsqAd'
		      BEGIN
			      SET @mail = 'mbuero@zoologic.com.ar;' 
			      SET @titulo = 'Avisos ZL - Registro Item Vinculado con Esquema Adicional'
			      Select @mensaje = @RegPor + ' ha registrado en ZL un asignación de esquema número ' + cast(@numComprobante as varchar(9)) +
								      ' con un item vinculado que tiene un padre con Esquema Adicional.' 				
		      END	
	        ELSE 
      	
	      IF @tabla = 'RAZONSOCIAL'
		      BEGIN
			      SET @mail = 'sbarreira@zoologic.com.ar'
			      SET @RZ = right( '0000' + cast(@numComprobante as varchar(5)) , 5 )
			      Select @RzNombre = RTRIM(descrip),
					      @RzMedPago = medpago
				       from zl.razonsocial with(nolock) where cmpcod = @RZ
			      SET @titulo = 'Avisos ZL - Cambio de forma de pago en Razón Social ' + @RZ
			      SET @mensaje = 'La razón social ' +  @RZ + ' - ' + @RzNombre
							      + ' ha cambiado su forma de pago anterior ' + @RegPor + ' a ' + @RzMedPago  + '.'
      							
      		
		      END	
	        ELSE 
      		
	      IF ((@tabla) = 'OPORTUNS-Asignacion')
		      BEGIN
		        SET @DuenioOportunidad = (select LTRIM(RTRIM(dueno)) from zl.oportuns where numero = @numComprobante)		
        		
		        SET @TipoUsu = ( select tipousu from zl.legops 
							        where ccod = @DuenioOportunidad ) 
		        IF @TipoUsu = '0001'
			        BEGIN
			        IF @DuenioOportunidad = 'DCzernuszka' 
					        BEGIN SET @DuenioOportunidad = '19_grandescuentas' END
			        SET @mail = Lower(@DuenioOportunidad)+ '@zoologic.com.ar'
        					
			        SET @mensaje = 'Te han asignado la oportunidad número ' 
						        + IsNull(cast(@numComprobante as varchar(8)),'') + ' con el siguiente detalle:' + '<br><br>'
			        END
        			
			        ELSE	BEGIN
					        SET @mail= 'cferraro@zoologic.com.ar; daduriz@zoologic.com.ar'
					        SET @mensaje = 'Se ha asignado la oportunidad número ' 
						        + IsNull(cast(@numComprobante as varchar(8)),'') 
						        + ' a ' + @DuenioOportunidad + ' con el siguiente detalle:' + '<br><br>'
					        END 
        		
		        SET @ConCopia = 'atencionalcliente@zoologic.com.ar'
		        SET @titulo = 'Avisos ZL - Oportunidad Comercial'
		        SET @mensaje = 	@mensaje + ZL.funcObtenerMsgTxtOportunidad(@numComprobante)
        						
		      END	
		      ELSE
      	
	      IF ((@TABLA) = 'SOLSERV')
		      BEGIN
		      SET @MAIL = cast (
							      (SELECT LTRIM(RTRIM(zl.zl.TipSSe.mailto )) as Mailto
							      FROM [ZL].[ZL].[Solserv]
							      inner join zl.zl.TipSSe on [ZL].[ZL].[Solserv].[Ctipo] =  zl.zl.TipSSe.cod  
							      WHERE [ZL].[ZL].[Solserv].NUMERO =@numComprobante)
      							
							      as  varchar(max))
		      set @titulo = 'Solicitud de Servicio de ' + IsNull(@RegPor,'')
		      set @mensaje = @RegPor + ' ha cargado una nueva solicitud de servicio número '  
										      +  cast(@numComprobante as varchar(8)) + ' con el siguiente detalle: ' + '<br>' +
      										
										      (SELECT   cast([Descr] as varchar(max)) as Detalle from  [ZL].[ZL].[Solserv]
												      WHERE [ZL].[ZL].[Solserv].NUMERO = @numComprobante)
      										
      					
      		
		      END
		      ELSE 
       
	      IF @TABLA='DENUNS' 
		      BEGIN
			      set @mail='rlombardo@zoologic.com.ar;ecarman@zoologic.com.ar;'  
			      set @ConCopia = lower(LTRIM(RTRIM(@RegPor)))+ '@zoologic.com.ar' 
			      set @titulo= 'Avisos ZL - Denuncia SGC'
			      set @mensaje=  LTRIM(RTRIM(@RegPor)) + ' ha cargado una nueva denuncia del SGC número ' + cast(@numComprobante as varchar(8))
							      + ' con el siguiente detalle: ' +  '<br><br>' +
							      (select cast(descr as varchar(4000) ) from zl.denuns where numero = @numComprobante)
							      +  '<br><br>' + 'La denuncia será atendida por el Sistema de Gestión de Calidad.'
		      END
		      ELSE 

        IF @TABLA='ACCSGC' 
	        BEGIN
	          set @titulo		= 'Avisos ZL - Acciones del SGC'
          	
	          select @mensaje = 'Su denuncia número ' +  cast(a.hall as varchar(10)) + 
						          case when a.ctipo in (1, 2 , 3, 4, 5) 
									          then ' fue elevada a una ' + IsNull(LTRIM(RTRIM(t.des)),'') 
									          else ' ha sido gestionada por el Sistema de Gestión de Calidad en la acción' 
									          end
						          + ' número ' + cast(@numComprobante as varchar(10))
          						 
		            ,@ConCopia = 'rlombardo@zoologic.com.ar;ecarman@zoologic.com.ar;'
		            ,@mail	=  lower(LTRIM(RTRIM(a.denun)))+ '@zoologic.com.ar' 
	          from  zl.accsgc as a  
	          left join zl.TipHall as t on a.ctipo = t.cod    
          	
	          where numer = @numComprobante
	        END
          ELSE	

	      IF @TABLA='RENGAS_URGENTE' 
		      BEGIN
      		
		        SET @mail = 'tesoreria@zoologic.com.ar'	
		        Set @titulo= 'Avisos ZL - Anticipio de Gastos marcado como urgente'
		        Set @mensaje= LTRIM(RTRIM(@RegPor)) + ' ha cargado un anticipio gastos en ZL número ' + cast(@numComprobante as varchar(8))
      	
		      END
          ELSE	

	      IF @TABLA='RENGAS' 
		      BEGIN
      		
		        SET @mail = ''
		        SELECT @mail = COALESCE (USU,'') + '@zoologic.com.ar;' + @mail
		        FROM ZL.FuncRrhhReportoA (@Regpor) 
        		
		        SET @MAIL = REPLACE(@MAIL, 'DCZERNUSZKA@zoologic.com.ar;','daduriz@zoologic.com.ar;')
        		
		        Set @titulo= 'Avisos ZL - Rendición de Gastos - Requiere su Autorización'
		        Set @mensaje= LTRIM(RTRIM(@RegPor)) + ' ha cargado una nueva rendición de gastos en ZL número ' + cast(@numComprobante as varchar(8))
      	
		      END
  	      ELSE 

	      IF @TABLA='BUSQRRHH' 
		      BEGIN
            set @mail='rlombardo@zoologic.com.ar;sacosta@zoologic.com.ar;ffrenkel@zoologic.com.ar'
            set @titulo= 'Avisos ZL - Busquedas de Personal'
            set @mensaje= LTRIM(RTRIM(@RegPor)) + ' ha cargado una nueva búsqueda de personal en ZL número ' + cast(@numComprobante as varchar(8))
  	      END
	        ELSE 

        IF @TABLA='AGENTE_ERA_BAJA' 
          BEGIN
            set @mail='aanica@zoologic.com.ar;'
            set @titulo= 'Avisos ZL - Agente ERA marcado como Inactivo'
            set @mensaje= 'El Agente ' + LTRIM(RTRIM(@RegPor)) + ' ha sido dado de baja.'
          END
          ELSE  
      	
	      IF @TABLA= 'AESLRH' 
          BEGIN
            set @mail='rlombardo@zoologic.com.ar'
            set @titulo= 'Avisos ZL - Asignación Escala Salarial - Requiere su Autorización'
            set @mensaje= LTRIM(RTRIM(@RegPor)) + ' ha registrado una asignación de escala salarial número ' + cast(@numComprobante as varchar(8))
          END    
          ELSE  
      	
	      IF @TABLA= 'SGCACCS' 
          BEGIN
            set @mail='rlombardo@zoologic.com.ar;ecarman@zoologic.com.ar'
            set @titulo= 'Avisos ZL - Nueva Actividad en Acción del SGC'
            set @mensaje= LTRIM(RTRIM(@RegPor)) + ' ha cargado una nueva actividad en la acción número ' + cast(@numComprobante as varchar(8))
          END   	      	
          ELSE

	      IF @TABLA= 'PEVFRH' 
          BEGIN
            set @mail='rlombardo@zoologic.com.ar;ffrenkel@zoologic.com.ar'
            set @titulo= 'Avisos ZL - Nuevo Plan de Formación de RRHH'
            set @mensaje= LTRIM(RTRIM(@RegPor)) + ' ha cargado un nuevo Evento de Formación de los RRHH, que se encuentra pendiente de aprobación, número ' + cast(@numComprobante as varchar(8))
          END   	      	
          ELSE 

	      IF @TABLA= 'RRIIREQ' 	
          BEGIN
            SELECT @Obs = cast(zl.RRIIReq.obs as varchar(4000)), 
            @Categoria = cast(zl.RRIITIPReq.cdesc as varchar(100))  

            from zl.RRIIReq  join zl.RRIITIPReq on zl.RRIITIPReq.ccod = zl.RRIIReq.catego
            where  zl.RRIIReq.nume =@numComprobante 


            set @mail= 'rrii@zoologic.com.ar;' + LTRIM(RTRIM(@RegPor)) + '@zoologic.com.ar;'
            set @titulo='Avisos ZL - Nuevo Requerimiento para RRII - ' + @Categoria
            set @mensaje= LTRIM(RTRIM(@RegPor)) + ' ha cargado el requerimiento número ' + cast(@numComprobante as varchar(8))
            + ' con el siguiente detalle: ' + '<br>' + @Obs 

          END
          ELSE 
      	
	      IF @tabla = 'PNCEREQ'
	        BEGIN
			      SELECT  
				      @mensaje = @RegPor + ' ha cargado un nuevo Requerimiento PNCE número ' + cast(@numComprobante  as varchar(10)) + ' con los siguientes datos:' + 
				      '<BR><BR>' + 'Razón Social: ' + LTRIM(RTRIM(CAST(razonsocial.descrip as varchar(100)))) + 
				      '<BR>' + 'Cliente: ' + LTRIM(RTRIM(CAST(clientes.cmpnombre AS VARCHAR(100))))  +  
				      '<BR>' + 'Producto: ' + LTRIM(RTRIM(CAST(prodzl.descr AS VARCHAR(100))))  +
				      '<BR>'  + 'Detalle: ' +  LTRIM(RTRIM(CAST(zl.PNCEREQ.cmpconsult  AS VARCHAR(1000))))
				      ,@titulo = 'Nuevo Requerimiento PNCE'
				      ,@MAIL = 'pnce@zoologic.com.ar'

			       FROM  zl.PNCEREQ 
					      join  zl.clientes on  zl.PNCEREQ.ccliente = zl.clientes.cmpcodigo
					      join zl.razonsocial on zl.PNCEREQ.razonsoc = zl.razonsocial.cmpcod
					      join zl.prodzl on zl.PNCEREQ.cpcod = zl.prodzl.ccod
      				
				      WHERE 	 zl.PNCEREQ.CODIN = @numComprobante
		      END
  	      ELSE 			
      		
	      IF @TABLA= 	'RRIIREQ-Cierre'	
		      BEGIN
		        SELECT  
		          @mail = 'rrii@zoologic.com.ar;' + LTRIM(RTRIM(@RegPor)) + '@zoologic.com.ar;',
			        @titulo ='Avisos ZL - Tu Requerimiento a RRII ha sido atendido',
			        @mensaje = 'Tu requerimiento número ' + cast(@numComprobante as varchar(8)) + ' ha sido atendido por ' 
						             + LTRIM(RTRIM(zl.RRIIReq.asignt)) +
						             + '<BR><BR>' + 'Detalle del requerimiento: ' + '<BR>' + cast(zl.RRIITIPReq.cdesc as varchar(100))
						             + '<BR>' + CAST(zl.RRIIReq.Obs as varchar(4000)) + '<BR><BR>' +
						             'Cierre: ' + '<BR>' + CAST(zl.RRIIReq.ObsGest as varchar(4000))
		        FROM
		          zl.RRIIReq  
		          JOIN zl.RRIITIPReq ON zl.RRIITIPReq.ccod = zl.RRIIReq.catego
		        WHERE
		          zl.RRIIReq.nume = @numComprobante 			
		      END	
  	      ELSE
      	
	      if @TABLA= 'DDENUNC'
		      BEGIN
			      set @titulo		= 'Avisos ZL - Acciones del SGC'
      			
			      select @mensaje = 'Su denuncia número ' +  cast(a.hall as varchar(10)) + 
								      case when a.ctipo in (1, 2 , 3, 4, 5) 
											      then ' fue elevada a una ' + IsNull(LTRIM(RTRIM(t.des)),'') 
											      else ' ha sido gestionada por el Sistema de Gestión de Calidad en la acción' 
											      end
								      + ' número ' + cast(a.numer as varchar(10))
      								 
				      ,@ConCopia = 'rlombardo@zoologic.com.ar;ecarman@zoologic.com.ar;'
				      ,@mail	=  lower(LTRIM(RTRIM(a.denun)))+ '@zoologic.com.ar' 
      				
			      from  zl.accsgc as a  
			      left join zl.TipHall as t on a.ctipo = t.cod 
			      join ZL.DDENUNC AS d on d.codde = a.numer   
      			
			      where d.numd = @numComprobante
      						
      		
			      END		
      		
			  SET @mensaje = '<font face= "Verdana", size="-1",  color="#000000">' + @mensaje + '</font>'
  			
	      IF @tabla = 'ASESRZMAIL'
	        BEGIN
			      SET @Estilo = (SELECT TOP 1 Htmlcod FROM [ZL].[FACTURACION].[EstiloMail] WHERE id = 1)
			      SELECT TOP 1 @titulo = [asuntoMail], @mensaje = [bodyMail] FROM [ZL].[FACTURACION].[FormatoMail] WHERE id = 18
            SELECT 
              @mail = [ZL].[ASESRZMAIL].[EMAIL] 
              , @Clave = ZL.CONTACTOS.Apellido
            FROM 
              [ZL].[ASESRZMAIL]
              LEFT JOIN ZL.CONTACTOS on ZL.CONTACTOS.Mail = [ZL].[ASESRZMAIL].EMAIL 
            WHERE
              [ZL].[ASESRZMAIL].[NUMERO] = @numComprobante;

			      SET @mensaje = replace( @mensaje, '[[USUARIO]]', LTRIM(RTRIM(@mail)) );
			      SET @mensaje = replace( @mensaje, '[[CLAVE]]',  lower(REPLACE (@Clave,' ','')));
			      SET @mensaje = @Estilo + @mensaje;

            SET @Profile = 'DyC'
            
			      SET @mail = @mail + ';cel@zoologic.com.ar'
	        END
	
	      IF @tabla = 'SOLAPRDOC'
	        BEGIN
	          SELECT 
		          @SolicitudNro = CAST([ZL].[SOLAPRDOC].NUMERO AS VARCHAR(10))
		          ,@Documento = CAST([ZL].[SOLAPRDOC].DOCFUN AS VARCHAR(10))
		          ,@NombreyApellido = RTRIM(NomSolicitado.Cprinombre) + ' ' + RTRIM(NomSolicitado.Csegnombre) + ' ' + RTRIM(NomSolicitado.Capellido)
		          ,@mail = LOWER(RTRIM(Solicitado.CCOD))+'@zoologic.com.ar' 
		          ,@TitFunc = RTRIM(ZL.DFUN.TITULO) 
		          ,@NombreyApellidoSolicitante = ISNULL(RTRIM(NomSolicitante.Cprinombre) + ' ' + RTRIM(NomSolicitante.Csegnombre) + ' ' + RTRIM(NomSolicitante.Capellido), '')
	          FROM 
		          [ZL].[SOLAPRDOC]
		          LEFT JOIN ZL.LegOPS AS Solicitante ON Solicitante.Ccod = [ZL].[SOLAPRDOC].UALTAFW 
			          AND Solicitante.Activo = 1
			          AND Solicitante.Tipousu = '0001'
		          LEFT JOIN ZL.Legajo AS NomSolicitante ON NomSolicitante.Ccod = Solicitante.Clegajo
		          LEFT JOIN ZL.LegOPS AS Solicitado ON Solicitado.Ccod = [ZL].[SOLAPRDOC].SOLICA  
		          LEFT JOIN ZL.Legajo AS NomSolicitado ON NomSolicitado.Ccod = Solicitado.Clegajo
		          LEFT JOIN ZL.DFUN ON ZL.DFUN.CODIGO = [ZL].[SOLAPRDOC].DOCFUN
		        WHERE
		          [ZL].[SOLAPRDOC].[NUMERO] = @numComprobante;

		          SET @Estilo = (SELECT TOP 1 Htmlcod FROM [ZL].[FACTURACION].[EstiloMail] WHERE id = 1);

		          SET @titulo = 'ZL Avisos - Solicitud de Aprobación de Documento Funcional';
		          SET @mensaje = '<p class="style1">'+@NombreyApellido+',</p><p></p><p class="style1">'+@NombreyApellidoSolicitante+' le ha solicitado mediante el comprobante de ';
		          SET @mensaje = @mensaje + 'Solicitud de Aprobaci&oacute;n de Documentos N&deg; '+@SolicitudNro+', la aprobaci&oacute;n del Documento Funcional N&deg; '+@Documento+' ( <i>&quot;'+@TitFunc+'&quot;)</i>.</p>';
		          SET @mensaje = @mensaje + '<p class="style1">Atentamente, Zl Avisos</p>';		
		          SET @mensaje = @mensaje + '<p class="style1"></p>';
          		
		          SET @mensaje = @Estilo + @mensaje;
	        END
	        
	      IF @tabla = 'DYCREQ'
	        BEGIN
	          SELECT 
		          @SolicitudNro = CAST([ZL].[DYCREQ].CODIN AS VARCHAR(10))
		          , @TitFunc = RTRIM(ISNULL([ZL].[DYCREQ].ASUNTO, ''))
		          , @NombreyApellidoSolicitante = RTRIM([ZL].[DYCREQ].SOLIC)
		          , @Cliente = RTRIM(ZL.Clientes.Cmpnombre)
		          , @Prioridad = CASE ISNULL([ZL].[DYCREQ].PRIORIDAD, '')
			            WHEN 1 THEN 'Alta'
			            WHEN 2 THEN 'Media'
			            WHEN 3 THEN 'Baja'
			          ELSE 'Baja'
		          END
		          , @Producto = RTRIM(ZL.Prodzl.Descr)
		          , @Categoria = RTRIM(ISNULL(ZL.DYCCATREQ.CDESC, ''))
	          FROM 
		          [ZL].[DYCREQ]
		          LEFT JOIN ZL.Clientes ON ZL.Clientes.Cmpcodigo = [ZL].[DYCREQ].CCLIENTE
		          LEFT JOIN ZL.Prodzl ON ZL.Prodzl.Ccod = [ZL].[DYCREQ].CPCOD
		          LEFT JOIN ZL.DYCCATREQ ON ZL.DYCCATREQ.CCOD = [ZL].[DYCREQ].CATEGORIA
		        WHERE
		          [ZL].[DYCREQ].[CODIN] = @numComprobante;
          	
		          SET @Estilo = (SELECT TOP 1 Htmlcod FROM [ZL].[FACTURACION].[EstiloMail] WHERE id = 1);

		          SET @titulo = 'Avisos ZL - Nuevo Requerimiento para DyC - Prioridad: ' + @Prioridad;
		          SET @mensaje =           '<p class="style1">';
		          SET @mensaje = @mensaje + '	Solicitante: '+@NombreyApellidoSolicitante+'<br />';
		          SET @mensaje = @mensaje + '	Solicitud N&deg;: '+@SolicitudNro+'<br />';
		          SET @mensaje = @mensaje + '	T&iacute;tulo: '+@TitFunc+'<br />';
		          SET @mensaje = @mensaje + '	Categor&iacute;a: '+@Categoria+'<br />';
		          SET @mensaje = @mensaje + '	Cliente: '+@Cliente+'<br />';
		          SET @mensaje = @mensaje + '	Producto: '+@Producto+'<br />';
		          SET @mensaje = @mensaje + '</p>';
		          SET @mensaje = @mensaje + '<p class="style1">Atentamente, Zl Avisos</p>';	
		          SET @mensaje = @mensaje + '<p class="style1">';
		          SET @mensaje = @mensaje + '	&nbsp;';
		          SET @mensaje = @mensaje + '</p>';
          		
		          SET @mail = 'cel@zoologic.com.ar';

              /************* PRUEBA **********************/
		          --SET @mail = 'hcorrea@zoologic.com.ar';
		          --SET @ConCopia = 'clibertini@zoologic.com.ar';
              /************* PRUEBA **********************/

		          SET @mensaje = @Estilo + @mensaje;
	        END

        --ARMADO MAIL PARA CADA TABLA	
	
			  EXEC msdb.dbo.sp_send_dbmail
			    @profile_name = @Profile,
			    @body_format = 'HTML',
			    @recipients = @mail,
			    @copy_recipients = @ConCopia,
			    --@blind_copy_recipients = 'mbuero@zoologic.com.ar',
			    @body = @mensaje ,
			    @subject = @titulo ;			
  			 
			  SET @CantLogs = @CantLogs - 1
  			
			  SET @ConCopia = ''
			  SET @TipoUsu = ''
			  SET @DuenioOportunidad = ''
			  SET @RZ = ''
			  SET @RzNombre = ''
			  SET @MAIL = ''
			  SET @MENSAJE = ''
			  SET @RZMEDPAGO = ''
			  SET @TITULO = ''
			  SET @Obs = ''
			  SET @Categoria = ''
  			
			  UPDATE ZL.dbo.LogAvisos SET 
			    enviado = GETDATE()
			  WHERE 
			    id = @ID
			
		END --ARMA MAIL PARA CADA TABLA

	END /*WHILE */

END /*STORE*/


