USE [ZL]
GO
/****** Object:  StoredProcedure [ZL].[stp_EnvioDeClavesDeProductos]    Script Date: 11/01/2013 13:08:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Daniel Correa
-- Create date: 06/12/2012
-- Description:	Funcionalidad 40226181
-- Modificado:  28/12/2012
-- =============================================
ALTER PROCEDURE [ZL].[stp_EnvioDeClavesDeProductos]
	@Serie VARCHAR(7) = '', 
	@Version VARCHAR(10) = ''

AS 
	
BEGIN
	SET NOCOUNT ON;
	DECLARE 
		@RazonSocial AS VARCHAR(100)
		,@Cliente AS VARCHAR(100)
		,@CodigoContacto AS VARCHAR(10)
		,@Contacto AS VARCHAR(50)
		,@mail AS VARCHAR(100)
		,@profile_name AS VARCHAR(100)
		,@recipients AS VARCHAR(100)
		,@blind_copy_recipients AS VARCHAR(50)
		,@body AS VARCHAR(5000) 
		,@Asunto AS VARCHAR(150) 
		,@body_format AS VARCHAR(50) 
		,@mailitem_id AS INT
		,@Estilo AS VARCHAR(MAX)
		,@Cuerpo AS VARCHAR(MAX)
		,@BodyTmp AS VARCHAR(MAX)
		,@Encabezado AS VARCHAR(500)
		,@Retorno AS VARCHAR(MAX)
		,@nromail AS INT
		,@CodigoRZ AS VARCHAR(50)
		,@CodigoCliente AS VARCHAR(50)
		,@Log AS VARCHAR(100);
	
	-------- /* estilos html */
	SET @Estilo = (SELECT TOP 1 Htmlcod FROM [ZL].[MAILS].[EstiloMail] WHERE id = 1)
	
	-- 15 ID PARA MAIL DE BLANQUEO DE CLAVE PARA LINCE
 	SELECT TOP 1 @Asunto = [asuntoMail], @Log = [asuntoMail], @Cuerpo = [bodyMail] FROM [ZL].[MAILS].[FormatoMail] WHERE id = 15
	
	DECLARE Resultado CURSOR FOR
	SELECT
		ZL.RAZONSOCIAL.DESCRIP
		, ZL.RAZONSOCIAL.CMPCOD 
		, ZL.CLIENTES.CMPCODIGO
		, ZL.CLIENTES.CMPNOMBRE 
		, ZL.CONTACT.[CODIGO]
		, LTRIM(RTRIM(ZL.TITULOS.[DESCR])) + ' ' + LTRIM(RTRIM(ZL.CONTACT.[PNOM]))+ ' ' +LTRIM(RTRIM(ZL.CONTACT.[SNOM]))+ ' ' +LTRIM(RTRIM(ZL.CONTACT.[APELL]))
		, ZL.MAILS.EMAIL
	FROM
		ZL.SERIES 
		INNER JOIN ZL.RAZONSOCIAL ON ZL.RAZONSOCIAL.CMPCOD = ZL.SERIES.CODRS
			AND ZL.SERIES.CODRS <> ''
		INNER JOIN ZL.CLIENTES ON ZL.CLIENTES.CMPCODIGO = ZL.RAZONSOCIAL.CLIENTE 
		INNER JOIN ZL.CONTACT ON ZL.CONTACT.CCLIENTE = ZL.RAZONSOCIAL.CLIENTE  
			AND ZL.CONTACT.DESACTI = 0 --CONTACTO ACTIVO
		INNER JOIN ZL.TITULOS ON ZL.TITULOS.CCOD = ZL.CONTACT.TITULO
		INNER JOIN ZL.MAILS ON ZL.MAILS.CONTACTO = ZL.CONTACT.CODIGO
			AND ZL.MAILS.TIPO = '0001'
		INNER JOIN ZL.[ASESRZMAIL] ON ZL.[ASESRZMAIL].CLIENTE = ZL.RAZONSOCIAL.CLIENTE
			AND ZL.[ASESRZMAIL].CONTACTO = ZL.CONTACT.CODIGO
			AND ZL.ASESRZMAIL.ACCMAIL = 6 --NOTIFICACIONES DE SEGURIDAD
		--	AND ZL.ASESRZMAIL.ACCION  = 1 --ALTA (!?)
	WHERE
		ZL.Series.Nroserie = @Serie;
	OPEN Resultado;
	FETCH NEXT FROM Resultado INTO @RazonSocial, @CodigoRZ, @CodigoCliente, @Cliente, @CodigoContacto, @Contacto, @mail;
	
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @Retorno = @Serie+CHAR(64+DAY(GETDATE()))+CHAR(64+MONTH(GETDATE()));
		SET @BodyTmp = replace( @cuerpo,  '[[Contacto]]',      LTRIM(RTRIM(@Contacto)) );
		SET @BodyTmp = replace( @BodyTmp, '[[Retorno]]',       @Retorno );
		SET @BodyTmp = replace( @BodyTmp, '[[Cliente]]',       @Cliente );
		SET @BodyTmp = replace( @BodyTmp, '[[CodigoCliente]]', @codigoCliente );
		SET @BodyTmp = replace( @BodyTmp, '[[Razonsocial]]',   @RazonSocial );
		SET @BodyTmp = replace( @BodyTmp, '[[CodigoRZ]]',      @CodigoRZ );
		SET @BodyTmp = replace( @BodyTmp, '[[Serie]]',         @Serie );
		SET @BodyTmp = @Estilo + @BodyTmp;

		EXEC msdb.dbo.sp_send_dbmail
			--@profile_name = 'mesadeayuda'
			@profile_name = 'DyC'
			,@recipients = @mail
			,@copy_recipients = '' 
			,@blind_copy_recipients = ''
			,@body = @BodyTmp  
			,@subject = @Asunto 
			,@body_format = 'HTML' 
			,@mailitem_id = @nromail OUTPUT ;
			
						

		SET @Log = REPLACE( @Asunto, 'Zoo Logic - Solicitud de ', '' );
		SET @Log = UPPER(@Log);
		-- LOG envioClavesProductos
		insert into [ZL].[dbo].[logEnvioClavesProductos] (
			[accion]
			,[serie]
			,[destino]
			,[fecha]
		) values (
			@Log
			, @Serie
			, @mail
			, GETDATE()
		);
		
		
		FETCH NEXT FROM Resultado INTO @RazonSocial, @CodigoRZ, @CodigoCliente, @Cliente, @CodigoContacto, @Contacto, @mail;
	END
	CLOSE Resultado;
	DEALLOCATE Resultado;
END

