/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	LTRIM(RTRIM([PRODUCTOS].[DESCR])) AS [Producto]
	, [FUNCIONALIDADES].[VERSION] AS [Version]
	, [VERSIONES].[ESTADO FECHA] AS [Fecha]
	, [FUNCIONALIDADES].[FUNCIONALIDAD] AS [Nro. Funcionalidad]
	, [DESCRIPCION].[DESCRIP] AS [Descripcion]
	, ISNULL([HORAS].[THORAS], 0) AS [Horas]
FROM 
	[ZL].[ZL].[IYDFUNCIONALIDADVERSION] AS [FUNCIONALIDADES]
	LEFT JOIN ZL.PRODZL AS [PRODUCTOS] ON [PRODUCTOS].CCOD = [FUNCIONALIDADES].[PRODUCTO]
	INNER JOIN [ZL].[ZL].[IYDPUBLICACIONVERSIONES] AS [VERSIONES] ON [VERSIONES].[CVERSION] = [FUNCIONALIDADES].[VERSION]
	LEFT JOIN ZL.FCOMER AS [DESCRIPCION] ON [DESCRIPCION].[CODIGO] = [FUNCIONALIDADES].[FUNCIONALIDAD]
	LEFT JOIN (SELECT FUN, SUM([HORAS]) AS THORAS FROM ZL.DETIYDHORAS WHERE CLASI = 33 AND FUN <> 0 AND FUN IS NOT NULL GROUP BY FUN) AS HORAS ON HORAS.FUN = [FUNCIONALIDADES].[FUNCIONALIDAD]
GO

SELECT 
	[Registro]
	, [Fecha]
	, [Colaborador]
	, [Bug]
	, [Funcionalidad]
	, [Doc]
	, [Historia]
	, [Horas]
	, [Clasi]
	, [Clasificacion]
	, [Observ]
FROM 
	[ZL].[ZL].[IyDHorasFuncBug]
GO

SELECT [Publicacion Nro]
      ,[Producto]
      ,[ProductoDes]
      ,[cVersion]
      ,[cBuild]
      ,[Estado Fecha]
      ,[Estado]
      ,[EstadoDes]
  FROM [ZL].[ZL].[IyDPublicacionVersiones]
GO

SELECT 
	*
	--, FUN
	--, SUM([HORAS])
FROM 
	ZL.DetIyDHoras
WHERE 
	[HISTID] <> 0 
	AND (FUN IS NOT NULL 
	OR FUN <> 0)
	AND BUG = 0
GROUP BY
	FUN

