set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER FUNCTION [ZL].[PuedeDarCodigoaRazonSocial]
(
	-- Add the parameters for the function here
	@cSerie varchar(6)
)
RETURNS bit
AS
BEGIN
	-- Declare the return variable here
		declare @lRetorno bit
		set @lRetorno = 1

	set @lRetorno = ( select cast(max(cast(dacodigo as decimal (1))) as bit ) from [ZL].[ObtenerDatosSerieyRS]( @cSerie )
		  cross apply ZL.AutorizarDarCotigoRzPorExecpcion( rscod ) )

	if @lRetorno is null
	begin
		set @lRetorno = ( select cast(max(cast(dacodigo as decimal (1))) as bit ) from [ZL].[ObtenerDatosSerieyRS]( @cSerie )
			  cross apply ZL.AutorizarDarCodigoRz( rscod ) )
		if @lRetorno is null
			set @lRetorno = 0
	end

	-- Return the result of the function
	RETURN @lRetorno

END
