USE [ZL]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ZL].[FuncObtenerUltimoPedidoDeCodigo]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [ZL].[FuncObtenerUltimoPedidoDeCodigo]

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO

Create function [ZL].[FuncObtenerUltimoPedidoDeCodigo]
	( @NroSerie varchar(6) )
returns table 
with encryption
as
	return ( select top 1 fecha, entradas from zl.regcoddesact where Entradas <> 0 and NroSerie = @NroSerie 
		and rtrim( [ZL].[FuncObtenerLetrasParaRecalcularEntradas]() + 'F' + 'R' ) like '%' + left( coddesact, 1 ) + '%' order by fecha desc )
