USE [ZL]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ZL].[FuncSolicitoRetornoAlgunaVez]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [ZL].[FuncSolicitoRetornoAlgunaVez]

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO

Create function [ZL].[FuncSolicitoRetornoAlgunaVez]
	( @NroSerie varchar(6) )
returns int
with encryption
as
begin
	return ( select count( * ) from zl.regcoddesact where NroSerie = @NroSerie and entradas <> 0 )
end