USE [ZL]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ZL].[FuncObtenerLetrasParaRecalcularEntradas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [ZL].[FuncObtenerLetrasParaRecalcularEntradas]

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO

create function [ZL].[FuncObtenerLetrasParaRecalcularEntradas]()
returns varchar(4)
with encryption
as
begin
	return 'WHZK'
end