USE [ZL]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ZL].[FuncObtenerEntradasPorDefecto]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [ZL].[FuncObtenerEntradasPorDefecto]

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO

Create function [ZL].[FuncObtenerEntradasPorDefecto]
	( @franja varchar(2) )
returns int
with encryption
as
begin
	return ( select EntDef from zl.fraent where cCod = @franja )
end