use zl
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ZL].[FuncObtenerCantidadMaximaDeEntradas]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
	DROP FUNCTION [ZL].[FuncObtenerCantidadMaximaDeEntradas]

GO

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO

create function [ZL].[FuncObtenerCantidadMaximaDeEntradas]
	( @franja varchar(2) )
returns int
with encryption
as
begin
	declare @cantidadDeDias int
	set @cantidadDeDias = ( select QtyDias from zl.fraent where cCod = @franja )
	if @cantidadDeDias < 1
		set @cantidadDeDias = 1

	return 7 * @cantidadDeDias
end

