USE [ZL]

/****** Object:  UserDefinedFunction [ZL].[funcModulosRetornablesxSerie]    Script Date: 12/11/2009 11:02:10 ******/
IF  NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ZL].[funcModulosRetornablesxSerie2]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
  begin  
    exec('CREATE FUNCTION [ZL].[funcModulosRetornablesxSerie] (@serie varchar(7) ) RETURNS  @tabla_Modulos TABLE ( 	ModuloCod  varchar(4) ) AS BEGIN RETURN END  ')
  end  
go


USE [ZL]
GO
/****** Object:  UserDefinedFunction [ZL].[funcModulosRetornablesxSerie]    Script Date: 12/29/2009 16:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [ZL].[funcModulosRetornablesxSerie]

/* 
Autor: MatiasB
Última Actualización: 23/11/2009
Descripción: Devuelve código de módulos vigentes de todas las razones sociales cuyos estados sean [dar codigo] = 1
			ó razón social tiene permiso por atc de dar código. (05/04/2010-> 
			En el caso de ti ó módulos ADN devuelve módulo barras)
Ejemplo select * from [ZL].[funcModulosRetornablesxSerie]('503470')

*/
(
	@serie varchar(7)
)
RETURNS 
@tabla_Modulos TABLE 
(
	ModuloCod  varchar(4)
)
AS
BEGIN
	
	SET @serie = LTRIM(RTRIM(@serie))
/*	
	IF NOT exists	(	
									select top 1 i.ccod from zl.funcItemsVigentes() as iv join zl.itemserv as i 
													on iv.ccod = i.ccod
													left join zl.relaciontiis as ti on ti.ccod = i.ccod
											where i.nroserie = @serie 
												or ti.nroserie = @serie 												
								)			
								
			AND EXISTS		(
									SELECT TOP 1 CODIN FROM	[ZL].[AUTCAMSE] 
										WHERE [FCHvence] >=DATEADD(DAY, 0, DATEDIFF(DAY,0,CURRENT_TIMESTAMP))
											AND [FCHutili] =DATEADD(DAY, 0, DATEDIFF(DAY,0,CURRENT_TIMESTAMP))
											AND [serieANT] = @serie 
							 )
							 
							BEGIN
							 insert into @tabla_Modulos
								select '0002'  --no tiene items vigentes pero tiene una autorización para dar cambio de serie.					
							END
	
	ELSE
	*/
	
	
	
	
	if @serie like '3%'
		BEGIN
		IF exists (
		
					select distinct  
						detmodulos.ccod  as ModuloCod

						--,zl.funciones.alltrim(modulos.descr) as ModuloNombre
						--,i.Item ,art.ccod as Art
						--,i.fealvig
						--,i.febavig 	
	
						from 
							zl.itemserv	  as i 
							join ZL.funcItemsVigentes() as ia on i.ccod = ia.ccod
							/*left*/ join zl.relaciontiis as ti on ti.ccod = ia.ccod
							join zl.isarticu as art on art.ccod = i.codart
							join zl.DMODART as detmodulos  on  art.ccod =  detmodulos.codigo 
						--	join zl.ismodulo as modulos on detmodulos.ccod  =  modulos.ccod
							join ZL.AdmEstadoRS() as estados on estados.nrz = i.crass
							left join 
							(
							select permiso.codin, permiso.cmpfecfin as Fin, permiso.razonsoc, permiso.cestado, esta.dacodigo, esta.observmda 
							from zl.aatmda as permiso
							left join zl.estado as esta on esta.codigo = permiso.cestado
							where permiso.cmpfecfin >= DATEADD(DAY, 0, DATEDIFF(DAY,0,CURRENT_TIMESTAMP)) 
							)
							as permiso on permiso.razonsoc = i.crass		
						where (/*i.nroserie = @serie or*/ ti.nroserie = @serie 	)
						and (estados.[Dar Código] = 1 or permiso.dacodigo = 1)	 
		 
					)
					
					insert into @tabla_Modulos
					select '0002'  --si es toma de inventario se devuelve barras
		 END
		else
	
	insert into @tabla_Modulos
	select distinct
	case when detmodulos.ccod  >= '0023' and -- organic
			  detmodulos.ccod  <> '0028'	 -- SaaS
					then '0002'				 -- código de barras
					else  detmodulos.ccod
		end as ModuloCod

	--,zl.funciones.alltrim(modulos.descr) as ModuloNombre
	--,i.Item ,art.ccod as Art
	--,i.fealvig
	--,i.febavig 	
	
	from 
	zl.itemserv	  as i 
		join ZL.funcItemsVigentes() as ia on i.ccod = ia.ccod
	--	left join zl.relaciontiis as ti on ti.ccod = ia.ccod
		join zl.isarticu as art on art.ccod = i.codart
		join zl.DMODART as detmodulos  on  art.ccod =  detmodulos.codigo 
	--	join zl.ismodulo as modulos on detmodulos.ccod  =  modulos.ccod
		join ZL.AdmEstadoRS() as estados on estados.nrz = i.crass
		left join 
		(
		select permiso.codin, permiso.cmpfecfin as Fin, permiso.razonsoc, permiso.cestado, esta.dacodigo, esta.observmda 
		from zl.aatmda as permiso
		left join zl.estado as esta on esta.codigo = permiso.cestado
		where permiso.cmpfecfin >= DATEADD(DAY, 0, DATEDIFF(DAY,0,CURRENT_TIMESTAMP)) 
		)
		as permiso on permiso.razonsoc = i.crass		
	where (i.nroserie = @serie/* or ti.nroserie = @serie */	)
	and (estados.[Dar Código] = 1 or permiso.dacodigo = 1)
	
	RETURN 
END

GO

