USE [ZL]
GO
/****** Object:  StoredProcedure [ZL].[sp-UsuarioDeClienteValidarObtencionCodigoRetorno]    Script Date: 21/9/2017 16:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		MatiasB
-- Create date: 18/01/2010 -  ultima modificación 16/04/2010 Autorización de cambio de HW
-- Description:	Recibe cod de usuario (o no), nroserie, letra de código desactivación, si es cambio de hardware
--				y version y devuleve true o false.
--				En el caso de no indicarse usuario y las letras encontrarse en 
--				[FuncObtenerLetrasParaRecalcularEntradas] y no ser cambio de HW ó ser F , devuelve TRUE
--				En el caso de pasar un usuario, valida si puede obtener cambios de hardware según perfil
--				Valida también la versión del serie, en caso de ser necesario, y si el serie tiene items vigentes.
--				
-- Ejemplo:
/* 
DECLARE @RC int, @IVR_CLI_USER varchar(60), @NRO_SERIE varchar(7), @LETRA_CR char(1),  @CAMBIO_HW bit, @VERSION_AUTORIZADA varchar(5)

SELECT @RC = 0, @IVR_CLI_USER = '',  @NRO_SERIE = '106113', @LETRA_CR= 'Z', @CAMBIO_HW = 1, @VERSION_AUTORIZADA ='6.99'

DECLARE @MENSAJE varchar(500) SET @MENSAJE = ''

BEGIN TRY

EXECUTE @RC = [ZL].[ZL].[sp-UsuarioDeClienteValidarObtencionCodigoRetorno] 
   @IVR_CLI_USER
  ,@NRO_SERIE
  ,@LETRA_CR
  ,@CAMBIO_HW
  ,@VERSION_AUTORIZADA

END TRY

BEGIN CATCH
    SET  @MENSAJE = (SELECT ERROR_MESSAGE() )
END CATCH

SELECT @RC, @MENSAJE

/*******/
Modificación Sept. 2017. El usuario es ahora usuario de znube, no se puede validar contra ZL, el nivel se determina por primer caracter

*/

-- =============================================
ALTER PROCEDURE [ZL].[sp-UsuarioDeClienteValidarObtencionCodigoRetorno]

	@IVR_CLI_USER varchar(100),
	@NRO_SERIE varchar(7),
	@LETRA_CR char(1),
	@CAMBIO_HW bit,
	@VERSION_AUTORIZADA varchar(5)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @Resultado int
	SET @Resultado = 0
	
	DECLARE @CARACTERNIVEL CHAR(1)
	DECLARE @NIVEL CHAR(4)
	DECLARE @USER_OK BIT
	DECLARE @SERIE_OK BIT
	DECLARE @LETRA_OK BIT
	DECLARE @USER_WEB BIT
	DECLARE @USER_IVR BIT
	DECLARE @PERF_CAMBIOHW BIT
	DECLARE @PERF_SEGURIDAD BIT
	DECLARE @TIPO_USU INT
	DECLARE @LETRAS_LIBRES VARCHAR(30)
	DECLARE @VERSION NUMERIC(5,2) 
	DECLARE @ERROR_CONVERSION INT
	DECLARE @CLIENTE VARCHAR(5)
	DECLARE @COMPAUTOIDHW INT
	DECLARE @COMPAUTOSERIE INT
	SET @USER_OK  = 0
	SET	@SERIE_OK = 0
	SET @LETRA_OK = 0
	SET @USER_WEB = 0
	SET @USER_IVR = 0
	SET @PERF_CAMBIOHW = 0
	SET @PERF_SEGURIDAD = 0
	SET @TIPO_USU = 0
	SET @LETRAS_LIBRES = ''
	SET @IVR_CLI_USER = LTRIM(RTRIM(@IVR_CLI_USER ))
	SET @NRO_SERIE	  = LTRIM(RTRIM(@NRO_SERIE ))	
	
	
	SET @CARACTERNIVEL = SUBSTRING(@IVR_CLI_USER, 1, 1)
	IF ( @CARACTERNIVEL IN ('*', '@', '#'))
		BEGIN
			SET @IVR_CLI_USER = SUBSTRING(@IVR_CLI_USER, 2, 99);
			SET @NIVEL = CASE @CARACTERNIVEL WHEN '*' THEN '0001' WHEN '@' THEN '0002' WHEN '#' THEN '0003' ELSE NULL END
		END
	
	--VALIDAR CARACTERES / FORMATOS
	SET @USER_OK  =  ZL.funcValidarCadenaUsuario (@IVR_CLI_USER)
	SET @SERIE_OK  = ZL.funcValidarCadenaUsuario (@NRO_SERIE)
	SET @LETRA_OK  = ZL.funcValidarCadenaUsuario (@LETRA_CR)

	BEGIN TRY
		SET @VERSION = cast(@VERSION_AUTORIZADA as numeric(5,2))
	END TRY
	BEGIN CATCH
		SET  @ERROR_CONVERSION = ERROR_NUMBER()
	END CATCH
	
	
	IF ( @USER_OK = 1 AND @SERIE_OK=1 AND @LETRA_OK = 1 and (@ERROR_CONVERSION is null or  @ERROR_CONVERSION = 0) )
		BEGIN 
		
		--VALIDAR SERIE----------------------------------------------------------------
		IF not exists	(SELECT nroserie FROM ZL.Series with(nolock) WHERE Nroserie = @NRO_SERIE 
									union all 
						SELECT nroserie FROM zl.Relaciontiis with(nolock) WHERE nroserie = @NRO_SERIE ) 
						
						BEGIN --NO ENCONTRO EL SERIE
							SET @Resultado = 0
							RAISERROR (60001, 16,1)
							RETURN
						END
			ELSE --ENCONTRO, CHEQUEA SI TIENE ITEMS VIGENTES
					
					IF NOT exists	(	
									select top 1 i.ccod from zl.funcItemsVigentes() as iv join zl.itemserv as i 
													on iv.ccod = i.ccod
													left join zl.relaciontiis as ti with(nolock) on ti.ccod = i.ccod
											where i.nroserie = @NRO_SERIE 
												or ti.nroserie = @NRO_SERIE 												
								)			
									BEGIN
								/*	autoización de cambio de serie
									SELECT @COMPAUTOSERIE = [ZL].[funcObtenerAutorizCambioSerie] (@NRO_SERIE )
									IF (@COMPAUTOSERIE  = 0 ) 
											BEGIN --NO TIENE ITEMS VIGENTES ni autorización*/
												SET @Resultado = 0
												RAISERROR (60002, 16,1)
												RETURN 
										/*	END		
											ELSE 
											IF (@LETRA_CR = 'L')
												BEGIN --NO TIENE IT VIG PERO SI TIENE AUTORIZACIÓN PARA CAMBIAR EL SERIE CON COD L
												 UPDATE [ZL].[ZL].[AUTCAMSE]
													 SET [Fchutili] = DATEADD(DAY, 0, DATEDIFF(DAY,0,CURRENT_TIMESTAMP)),
														[Hsutili]= convert(varchar(8),getdate(), 108)
													 WHERE [codin] = @COMPAUTOSERIE
												SET @Resultado = 1
												END
												ELSE 
													BEGIN /* no tiene items vigentes, tiene comprobante, pero no es el L el que está pidiedno*/
													SET @Resultado = 1
													END*/
									END
									
									
									
									
																			
						ELSE --NROSERIE EXISTE Y ES VIGENTE
						
									IF NOT EXISTS (	SELECT		ultestado.NRZ FROM
															Zl.admestadoRS() as ultestado 
															join zl.itemserv with(nolock) on itemserv.crass =  ultestado.nrz
															left join zl.relaciontiis as ti with(nolock)on ti.ccod = itemserv .ccod
															where (itemserv.nroserie = @NRO_SERIE or ti.nroserie = @NRO_SERIE)
																and [Dar Código] = 1
												UNION ALL
												
												SELECT permiso.razonsoc
													FROM zl.aatmda as permiso with(nolock)
													join zl.itemserv with(nolock) on permiso.razonsoc = itemserv.crass
													join zl.estado as esta with(nolock) on esta.codigo = permiso.cestado
													left join zl.relaciontiis as ti with(nolock) on ti.ccod = itemserv .ccod
												WHERE permiso.cmpfecfin  >= DATEADD(DAY, 0, DATEDIFF(DAY,0,CURRENT_TIMESTAMP)) 
														and (itemserv.nroserie = @NRO_SERIE or ti.nroserie = @NRO_SERIE)
														--and esta.dacodigo = 1
														and ltrim(rtrim(esta.Fraent)) <> ''
												)
												
												BEGIN --el serie no tiene razones sociales asociadas que se puedan atender
												SET @Resultado = 0
												RAISERROR (60003,16,1)
												RETURN
												END
											ELSE --NROSERIE EXISTE, ES VIGENTE y ESTADO/PERMISO de RZ= OK
									
		--VALIDAR VERSION----------------------------------------------------------------
		IF ZL.funcSerieValidarVersion(@NRO_SERIE,@VERSION ) = 0
					
					BEGIN
					SET @Resultado = 0
					RAISERROR (60006, 16,1) --VERSION NO AUTORIZADA
					RETURN
					END
		ELSE   --version ok, serie ok
		
		--VALIDAR LETRAS
		BEGIN
				
		SET @LETRAS_LIBRES =  (select [ZL].[FuncObtenerLetrasParaRecalcularEntradas]()) 
			
		IF (@LETRA_CR= 'F')		SET @Resultado = 1	
							
			ELSE 			
				IF	(@IVR_CLI_USER='' or @IVR_CLI_USER is null) 
			
					BEGIN
					IF @CAMBIO_HW = 0 AND CHARINDEX(@LETRA_CR,@LETRAS_LIBRES) > 0 
						-- no es cambio y letra = Z, W, etc
							SET @Resultado = 1	
			
							ELSE --ES CAMBIO HW O SON OTRAS LETRAS PARA LAS CUALES TIENE QUE ESTAR LOGUEADO
								BEGIN
								IF @CAMBIO_HW = 1
									BEGIN
									SET @COMPAUTOIDHW = ZL.funcObtenerAutorizCambioIDHW(@NRO_SERIE)
									IF 	@COMPAUTOIDHW = 0	
											BEGIN	--cambio de HW, no está logueado y no hay comprobante de autorización							
											SET @Resultado = 0
							 				RAISERROR(70001, 16,1) 
							 				RETURN
							 				END
							 				ELSE
							 					BEGIN
							 					--hay comprobante de autorización, se consume y store devuelve ok
							 					UPDATE ZL.Autcamhw
							 						SET  fchutili = dateadd(day,0,datediff(day,0,getdate())) 
							 							, hsutili = convert(varchar(8),getdate(), 108)
							 						WHERE codin = @COMPAUTOIDHW 
							 					SET @Resultado =  @COMPAUTOIDHW --1	
							 					
							 					END
							 		END
							 		
							 		ELSE --no es cambio de hw, -> letra fuera del conjunto permitido
							 					
										IF CHARINDEX(@LETRA_CR,@LETRAS_LIBRES) =0 
											BEGIN								
											SET @Resultado = 0
							 				RAISERROR(70004, 16,1) 
							 				RETURN
							 				END
								END									
					END
													
					ELSE --está logueado
						BEGIN --veo que tipo de usuario	
						SET @PERF_CAMBIOHW = CASE WHEN @NIVEL IN ('0001','0002') THEN 1 ELSE 0 END--[ZL].[funcUsuarioDeClienteObtenerPermisosDePerfil](@IVR_CLI_USER)						
						
						IF 	@CAMBIO_HW = 1 AND @PERF_CAMBIOHW = 0
								--Unico caso que no se permite: código con cambio de HW y el perfil no lo permite
							 	BEGIN
									SET @COMPAUTOIDHW = ZL.funcObtenerAutorizCambioIDHW(@NRO_SERIE)
									IF 	@COMPAUTOIDHW = 0	
											BEGIN	-- no hay comprobante de autorización y su perfil no permite darlo						
											SET @Resultado = 0
							 				RAISERROR(70001, 16,1) 
							 				RETURN
							 				END
							 				ELSE
							 					BEGIN
							 					--hay comprobante de autorización, se consume y store devuelve ok
							 					UPDATE ZL.Autcamhw
							 						SET  fchutili = dateadd(day,0,datediff(day,0,getdate())) 
							 							, hsutili = convert(varchar(8),getdate(), 108)
							 						WHERE codin = @COMPAUTOIDHW 
							 					 					
							 					SET @Resultado = @COMPAUTOIDHW --1	
							 					
							 					END
							 		END
								
								ELSE SET @Resultado = 1
						END --tipo de usuario
		
		END --Validar Letras
		
		END	--datos válidos
	ELSE
		BEGIN
			SET @Resultado = 0
			RAISERROR(50001, 16,1)
			RETURN
		END			

RETURN @Resultado
	
END



